<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li class="active">User</li>
        	</ul>
        	<div class="content">
        		<p><b>1. View All User</b></p>
        		<p>Click on the "A" icon at toolbar menu and choose Users to open the User window. Click on the list Tenant to view tenant’s user. Click on View button to view user details.</p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="userImg1"></p>
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="userImg2"></p>
        		<p><img @click.prevent="showVesselImage('img3')" class="myImg" :src="userImg3"></p>

        		<p><b>2. Create User</b></p>
        		<p>Click Add button to open user detail window. Fill all the detail about user and Click Next button to open user role window, choose the role of user and click Save button.</p>
        		<p><img @click.prevent="showVesselImage('img4')" class="myImg" :src="userImg4"></p>
        		<p><img @click.prevent="showVesselImage('img5')" class="myImg" :src="userImg5"></p>
        		<p><img @click.prevent="showVesselImage('img6')" class="myImg" :src="userImg6"></p>

        		<p><b>3. Edit User</b></p>
        		<p>Click on Edit button to open Edit User window. Edit the detail and click Next button to open the User Role window. Click Save button to save updated detail.</p>
        		<p><img @click.prevent="showVesselImage('img7')" class="myImg" :src="userImg7"></p>

        		<p><b>4. Activate/Deactivate User</b></p>
        		<p>Click on Deactivate/Activate button to deactivate or activate user.</p>
        		<p><img @click.prevent="showVesselImage('img8')" class="myImg" :src="userImg8"></p>
        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				:title="title"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import userImg1 from '../../../../../images/help-topic/user-1.png'
	import userImg2 from '../../../../../images/help-topic/user-2.png'
	import userImg3 from '../../../../../images/help-topic/user-3.png'
	import userImg4 from '../../../../../images/help-topic/user-4.png'
	import userImg5 from '../../../../../images/help-topic/user-5.png'
	import userImg6 from '../../../../../images/help-topic/user-6.png'
	import userImg7 from '../../../../../images/help-topic/user-7.png'
	import userImg8 from '../../../../../images/help-topic/user-8.png'

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')
		}
	})
	export default class UserContent extends Vue{

		showModal = false
		userImg1 = userImg1
		userImg2 = userImg2
		userImg3 = userImg3
		userImg4 = userImg4
		userImg5 = userImg5
		userImg6 = userImg6
		userImg7 = userImg7
		userImg8 = userImg8

		showVesselImage(img){
			const images = {
				img1 : userImg1,
				img2 : userImg2,
				img3 : userImg3,
				img4 : userImg4,
				img5 : userImg5,
				img6 : userImg6,
				img7 : userImg7,
				img8 : userImg8
			}
			const titles = {
				img1 : 'Example View All User',
				img2 : 'Example View All User',
				img3 : 'Example View All User',
				img4 : 'Example Create User',
				img5 : 'Example Create User',
				img6 : 'Example Create User',
				img7 : 'Example Edit User',
				img8 : 'Example Activate/Deactivate User'
			}
			this.modalImg = images[img]
			this.title = titles[img]
			this.showModal = true
		}

	}
</script>