<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>

	.bottom-pane {
		background-color: white;
		padding: 10px;
		padding-top: 15px;		
		z-index: 1000;
		position: absolute;
		border: 0;
		border-radius: 5px;
		-webkit-box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
    	box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
    	-webkit-animation: fade-in .3s ease-in-out;
    	animation: fade-in .3s ease-in-out;
    	margin-right: auto;
		margin-left: auto;
		position: absolute;	    
	    right: 0;
	    left: 0;	    
	}	


	.bottom-pane.sm{
		top:0;		
		width: 100%;
		min-height: 100vh;
		border-radius: 0;    		
	}

	.bottom-pane.lg{  		
	    left: 5px;
	    /*height: calc(100vh - 400px);*/
	    height: 50%;
	    width: calc(100% - 10px); 
	    position: absolute;
	    bottom:30px;		
	}		

	.bottom-pane.xl {
	    left: 5px;
	    height: calc(100vh - 400px);
	    width: calc(100% - 10px);	  
	    z-index: 1050;
	    /* display: none; */
	    /* overflow: hidden; */
	    outline: 0;
	    width: 60%;	    
	    padding: 20px;
	    bottom:30px;		
	}

	@keyframes fade-in{
	  0%{
	    opacity: 0;

	  }
	  100%{
	    opacity: 1;

	  }
	}
</style>


<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<div class="bottom-pane" :class="{ 'sm': isXs, 'lg': isSmAndLarger && !isXl, 'xl': isXl }">
		<router-view name="mainPaneContent"></router-view>	
	</div>	
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'        
    import { namespace, Getter, Action, Mutation } from 'vuex-class'

    const AppScreenSizeModule = namespace('app/screensize')

    @Component
    export default class BottomPane extends Vue {
    	@AppScreenSizeModule.Getter isSmAndLarger
		@AppScreenSizeModule.Getter isXs
		@AppScreenSizeModule.Getter isXl
		
    }
    
</script>