<style scoped>
	.widget-wrapper {
		background-color: white;				
		z-index: 1000;
		bottom:0;
		position: absolute;
		border-right: 1px solid rgba(51, 51, 51, 0.5);
		width: 100%;
		left: 15px;	
	}
</style>

<template>

	<div class="widget-wrapper row" :class="{'lg':isSmAndLarger, 'sm':isXs, override}">
		<slot name="content"></slot>
	</div>
	
</template>

<script>
	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Component, Prop } from 'vue-property-decorator'
	import Vue from 'vue'	

	const AppScreenSizeModule = namespace('app/screensize')	

	@Component
	export default class BottomWrapper extends Vue {

		@Prop({default:""})	override	

		@AppScreenSizeModule.Getter isSmAndLarger
		@AppScreenSizeModule.Getter isXs		

	}

</script>