<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>
	.widget-wrapper {
		background-color: white;				
		z-index: 1000;		
		position: absolute;		
	}
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>

	<div class="widget-wrapper row" :class="{'lg':isSmAndLarger, 'sm':isXs, override}" ref="container">
		<slot name="content"></slot>
	</div>
	
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Component, Prop, Watch } from 'vue-property-decorator'
	import Vue from 'vue'	

	const AppScreenSizeModule = namespace('app/screensize')	

	@Component
	export default class FloatWrapper extends Vue {

		@Prop({default:""})	override	
		@Prop({default: ''}) top
		@Prop({default: ''}) left
		@Prop({default: ''}) bottom
		@Prop({default: ''}) right

		@AppScreenSizeModule.Getter isSmAndLarger
		@AppScreenSizeModule.Getter isXs		

		mounted(){
			this.applyPosition()
		}

		applyPosition(){
			
			let position = {}
			
			if(this.top){ position.top = this.top }
			if(this.left){ position.left = this.left }
			if(this.bottom){ position.bottom = this.bottom }
			if(this.right){ position.right = this.right }

			$(this.$refs.container).css(position)
		}

		@Watch('top')
		changeTop(){this.applyPosition()}
		@Watch('left')
		changeLeft(){this.applyPosition()}
		@Watch('right')
		changeRight(){this.applyPosition()}
		@Watch('bottom')
		changeBottom(){this.applyPosition()}
	}

</script>