<style scoped>		

	.widget-wrapper {
		background-color: white;
		/*padding: 10px;*/
		padding-top: 15px;		
		z-index: 1000;
		position: relative;
		border: 0;
		border-radius: 5px;		
    	-webkit-animation: fade-in .3s ease-in-out;
    	animation: fade-in .3s ease-in-out;
	}

	.widget-wrapper.row{
		margin-right: auto;
		margin-left: auto;		
	}

	.widget-wrapper.xl{		
		height: calc(100vh - 210px);
	}

	.widget-wrapper.lg{  
		top:5px;
		left:5px;                   
		height: calc(100vh - 65px);
		width: calc(100% - 10px); 
	}	

	.widget-wrapper.sm{
		top:0;    
		width: 100%;
		min-height: 100vh;    		
	}

	@keyframes fade-in{
	  0%{
	    opacity: 0;

	  }
	  100%{
	    opacity: 1;

	  }
	}	

	.vb-content{
		padding-right: 30px;
	}


</style>

<template>
	
	<div class="widget-wrapper" :class="{ 'sm': isXs, 'lg': isSmAndLarger && !isXl, 'xl': isXl }">		

		<div 
			v-bar="{
			    preventParentScroll: false					    					    
			}"
			v-if="scroller"
		>

			<div>
				<slot name="scroll-content" />
			</div>

		</div>

		<div v-else>			
			<slot name="content" />				
		</div>
	
	</div>

</template>

<script>
	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Component, Prop } from 'vue-property-decorator'
	import Vue from 'vue'	

	const AppScreenSizeModule = namespace('app/screensize')
	    		

	@Component
	export default class MainWrapper extends Vue {	

		@Prop({default:false}) scroller	
		@Prop({default:""})	override	
		
		@AppScreenSizeModule.Getter isSmAndLarger
		@AppScreenSizeModule.Getter isXs
		@AppScreenSizeModule.Getter isXl				


	}


</script>