<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>

	.widget-wrapper {	    
	    position: relative;
	    height: 100%;
	    width: 100%;
	    left: 15px;
	}
	
	/*.widget-wrapper.lg {
		padding: 15px;	    
	}*/

	.widget-wrapper.sm {		
		height: 100%;			
	}

	.widget-wrapper.sm .row {
		margin-right: 15px;
	}	

	.widget-wrapper.xl{
	    /*height: calc(100vh - 210px);	    */
	}

	.widget-wrapper.lg .content{
		/*height: calc(100vh - 420px);*/
	}

	.vb-content{
		padding-right: 20px;
		height: 85% !important;
	}
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	
	<div class="widget-wrapper row" :class="{ 'sm': isXs, 'lg': isSmAndLarger && !isXl, 'xl': isXl }">

		<!-- <div class="col-sm-12 content" v-if="scroller" v-slimscroll="{height:'100%', width:'100%'}">					
			<slot name="scroll-content" />				
		</div> -->

		<div class="col-sm-12">
			<slot name="header" />
		</div>

		<div class="col-sm-12 content"
			v-if="scroller"
		>
			<div 
				v-bar="{
				    preventParentScroll: false					    					    
				}"			
			>
				<slot name="scroll-content" />

			</div>	
		</div>
		

		<div class="col-sm-12 content" v-else>			
			<slot name="content" />				
		</div>
	
	</div>

</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Component, Prop } from 'vue-property-decorator'
	import Vue from 'vue'	

	const AppScreenSizeModule = namespace('app/screensize')
	    		

	@Component
	export default class MainWrapperHalfBottom extends Vue {	

		@Prop({default:false}) scroller	
		@Prop({default:""})	override	
		
		@AppScreenSizeModule.Getter isSmAndLarger
		@AppScreenSizeModule.Getter isXs
		@AppScreenSizeModule.Getter isXl		


	}


</script>