<style scoped>	

	.widget-wrapper {
		background-color: white;
		padding: 10px;
		padding-top: 15px;		
		z-index: 1000;
		position: absolute;
		border: 0;
		border-radius: 5px;
		-webkit-box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
    	box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
    	-webkit-animation: fade-in .3s ease-in-out;
    	animation: fade-in .3s ease-in-out;
	}

	.widget-wrapper.row{
		margin-right: auto;
		margin-left: auto;		
	}

	.widget-wrapper.lg{  
		top:5px;
		left:5px;                   
		height: calc(100vh - 65px);
		width: calc(100% - 10px); 
	}	

	.widget-wrapper.sm{
		top:0;    
		width: 100%;
		min-height: 100vh;    		
	}

	@keyframes fade-in{
	  0%{
	    opacity: 0;

	  }
	  100%{
	    opacity: 1;

	  }
	}

	@media (max-width: 1920px) and (min-height: 900px) {
		.widget-wrapper.lg{
		    height: calc(70vh - 85px);
		    position: fixed;
		    top: 345px;
		    right: 0;
		    bottom: 0;
		    left: 55px;
		    z-index: 1050;
		    overflow: hidden;
		    outline: 0;
		    width: 92%;
		}
	}

	@media (max-width: 1366px)  and (max-height: 657px){
		.widget-wrapper.lg{
		    height: calc(100vh - 85px);
		    position: fixed;
		    top: 65px;
		    right: 0;
		    bottom: 0;
		    left: 55px;
		    z-index: 1050;
		    overflow: hidden;
		    outline: 0;
		    width: 92%;
		}
	}

</style>

<template>
	
	<div class="widget-wrapper row" :class="{'lg':isSmAndLarger, 'sm':isXs, override}">

		<div class="col-sm-12 content" v-if="scroller" v-slimscroll="{height:'100%', width:'100%'}">					
			<slot name="scroll-content" />				
		</div>

		<div class="col-sm-12" v-else>			
			<slot name="content" />				
		</div>
	
	</div>

</template>

<script>
	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Component, Prop } from 'vue-property-decorator'
	import Vue from 'vue'	

	const AppScreenSizeModule = namespace('app/screensize')
	    		

	@Component
	export default class MiddleBottomWrapper extends Vue {	

		@Prop({default:false}) scroller	
		@Prop({default:""})	override	
		
		@AppScreenSizeModule.Getter isSmAndLarger
		@AppScreenSizeModule.Getter isXs		


	}


</script>