<style scoped>
	.widget-wrapper {
		position: absolute;				
		z-index: 1000;
		background-color: white;	
	}

	.widget-wrapper.row{
		margin-right: auto;
		margin-left: auto;		
	}

	.widget-wrapper.lg{  
		top: 0;
		left: calc(100% - 420px);                  
		height: calc(100vh - 250px);
		width: 400px; 
	}		

	.widget-wrapper.sm{
		top:0;    
		width: 100%;
		min-height: 100vh;    		
	}

	.widget-wrapper .col-sm-12 {
		padding: 0;
	}


</style>


<template>

	<transition name="slide-fade">

		<div :class="classObject">		
			<div class="col-sm-12 content" v-if="scroller" v-slimscroll="{height:'100%', width:'100%'}">					
				<slot name="scroll-content" />				
			</div>

			<div class="col-sm-12 no-scroll-content" v-else="scroller">			
				<slot name="content" />				
			</div>
		</div>

	</transition>
		
</template>

<script>
	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Component, Prop } from 'vue-property-decorator'
	import Vue from 'vue'	

	const AppScreenSizeModule = namespace('app/screensize')
	    		

	@Component
	export default class RightWrapper extends Vue {	

		@Prop({default:false}) scroller
		@Prop({default:false})	override
		@Prop({default:''}) customClass
		
		@AppScreenSizeModule.Getter isSmAndLarger
		@AppScreenSizeModule.Getter isXs

		get classObject(){
			
			let className = {
				'widget-wrapper': true,
				'row': true,
				'slide-in-right': true,
				lg: this.isSmAndLarger, 
				sm: this.isXs,
				override: this.override
			}

			if(this.customClass){				
				className[this.customClass] = true				
			}

			return className

		}
	
	}


</script>