<template>    
    <router-view name="rightPaneContent"></router-view>
</template>

<script>
    /*
    Script start
     */
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'            

    /*
    Class start
     */
    @Component
    export default class RightPane extends Vue {}
</script>