<template>
	<div class="summary-panel">
		<router-view name="sidePaneContent"></router-view>
	</div>
	
</template>

<script>
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'    
    
    @Component
    export default class SidePane extends Vue { }


</script>