<style scoped>
	.scrollcontent{
		padding-right: 10px;  
	}
</style>

<template>
	<div ref="slimcroll">
		<div class="scrollcontent" ref="scrollcontent">
			<slot name="scroll-content" />
		</div>
	</div>
</template>

<script>
	
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	import 'jquery-slimscroll/jquery.slimscroll.js'

	const AppScreenSizeModule = namespace('app/screensize')		

	@Component
	export default class SideScroll extends Vue {

		@AppScreenSizeModule.Getter isSmAndLarger
		@AppScreenSizeModule.Getter isXs

		mounted(){
			this.toggleSlimScroll(this.isSmAndLarger)
		}		

		@Watch('isSmAndLarger')
		toggleSlimScroll(value){			
			if(value){		
				$(this.$refs.scrollcontent).addClass('scrollcontent')									
				$(this.$refs.slimcroll).slimscroll({height:'100%'})
			}
			else{	
				$(this.$refs.scrollcontent).removeClass('scrollcontent')							
				this.destroySlimscroll()
			}
		}

		destroySlimscroll(){
			const $elem = $(this.$refs.slimcroll),
		    events = $._data( $elem[0], "events" );
		    $($elem).slimscroll({destroy:true})
		    if (events) {
		        $._removeData( $elem[0], "events" );
		    }
		}	

	}


</script>