<style scoped>
	.widget-wrapper {
		background-color: white;		
		padding-top: 15px;
		z-index: 1000;
		position: absolute;
		border-right: 1px solid rgba(51, 51, 51, 0.5);
	}

	.widget-wrapper.row{
		margin-right: auto;
		margin-left: auto;		
	}

	.widget-wrapper.lg{  
		top:0;
		left:0;                   
		height: calc(100vh - 50px);
		max-width: 400px;    
	}

	.widget-wrapper.sm{
		top:0;    
		width: 300px;
		height:100vh;
		background-color: white;
    	color: #cec9c9;
	}

	.header{
	    display:block;
	    padding-bottom:15px;
	    border-bottom: 1px solid rgba(255,255,255,.2);
	}

	.header .title{
	    font-size:large;
	}

	@media screen and (max-width: 767px){
		.widget-wrapper.sm{
			width: 270px;
		}
	}
	@media screen and (max-width: 320px){
		.widget-wrapper.sm{
			width: 240px;
		}
	}

	@keyframes wrapper-in{
		0%{
			opacity: 1;
			left: -300px;
		}
		100%{
			opacity: 1;
			top: 0px;
		}
	}
	
</style>

<template>	

	<div class="widget-wrapper row" :class="{'lg':isSmAndLarger, 'sm':isXs, override}">		
	
		<div class="col-sm-12 content" v-if="scroller" v-slimscroll="{height:'100%', width:'100%'}">
			<slot name="scroll-content" />				
		</div>

		<div class="col-sm-12" v-else="scroller">			
			<slot name="content" />				
		</div>

		<slot name="extra" />
	</div>

</template>

<script>
	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Component, Prop } from 'vue-property-decorator'
	import Vue from 'vue'	

	const AppScreenSizeModule = namespace('app/screensize')	

	@Component
	export default class SideWrapper extends Vue {

		@Prop({default:false}) scroller
		@Prop({default:""})	override	
		
		@AppScreenSizeModule.Getter isSmAndLarger
		@AppScreenSizeModule.Getter isXs		


	}

	// Comment for git change


</script>