<style scoped>
	.widget-wrapper {
	    /*background-color: white;*/
	    z-index: 1000;
	    top: 5;
	    position: absolute;
	    /* border-right: 1px solid rgba(51, 51, 51, 0.5); */
	    width: 100%;
	    left: 15;
	}
</style>

<template>

	<div :class="classObject">
		<slot name="content"></slot>
	</div>
	
</template>

<script>
	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Component, Prop } from 'vue-property-decorator'
	import Vue from 'vue'	

	const AppScreenSizeModule = namespace('app/screensize')	

	@Component
	export default class TopWrapper extends Vue {

		@Prop({default:false})	override	
		@Prop({default:''})	customClass

		@AppScreenSizeModule.Getter isSmAndLarger
		@AppScreenSizeModule.Getter isXs	

		get classObject(){
			
			let className = {
				'widget-wrapper': true,
				'row': true,				
				lg: this.isSmAndLarger, 
				sm: this.isXs,
				override: this.override
			}

			if(this.customClass){				
				className[this.customClass] = true				
			}

			return className

		}	

	}

</script>