<main-wrapper :scroller="true">

	 <template slot="header">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title clearfix">
                        Edit Report 
                        
                        <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

                        <font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
                </h1>
            </div>  
        </div>      
    </template>

	<template slot="scroll-content">
		<!-- <h1 class="title"> Edit Report <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1> -->

		<div>
			<form @submit.prevent="submit" v-if="isReady" data-vv-scope="formreport" novalidate>

				<report-form
				@close="closeWidget"
				></report-form>

				<hr />

				<div class="col-sm-12 clearfix">
                    <button class="btn btn-primary pull-right">Save Changes</button>
                    <button @click.prevent="closeWidget()" class="btn btn-standard pull-right">Close</button>
                </div>



			</form>
		</div>
		

	</template>
</main-wrapper>