<main-wrapper :scroller="true">
	<template slot="scroll-content">
		
		<form>

			<div class="row" v-if="selectedReport">				

				<!-- Top -->
				<div class="col-sm-12">

					<h1 class="title">Report {{selectedReport.reportType.name}}<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1>	

					<h2>{{ selectedReport.name }}</h2>
					<br>
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label style="display: block; margin-top: 0px;" for="timeSpan">Time Span</label>
								<select2
								:fullWidth="false"
                    			:width="200"
								:options="timeSpanOptions"
								:value="resultData.timeSpan"
								@input="setResultData({key:'timeSpan', value:$event})"
				                ></select2>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="startDate">Starting Date</label>
		   						<input class="form-control" type="datetime-local" v-model="startDate">
							  	<!-- @input="setResultData({key:'startDate', value:$event.target.value})"> -->
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="endDate">Ending Date</label>
		   						<input class="form-control" type="datetime-local" v-model="endDate">
							  	<!-- @input="setResultData({key:'endDate', value:$event.target.value})"> -->
							</div>
						</div>
					</div>
					
					<hr>

					<!-- Submit close button -->
					<div class="col-sm-12 clearfix">
						<button style="margin-left: 8px;" @click.prevent="submit" class="btn btn-primary pull-right">Run Report</button>
						<button @click.prevent="closeWidget()" class="btn btn-standard pull-right">Close</button>
					</div>
				</div>
				<hr>
				<div class="col-sm-12">
				
					<div v-if="selectedReport.reportType.reportTypeNumber == '03'&& dataReady">
						<h1>Result</h1>
						<data-table
								:data="generateResult"
								:columns="columns"
							>
							
							<template slot="thead">
								<thead>
									<tr>
										<th>Arrival Time</th>
										<th>Departure Time</th>
										<th>Name</th>
										<th>MMSI</th>
										<th>Call Sign</th>
										<th>Ship Type</th>
										<th>Length</th>
										<th>Destination</th>
										<th>ETA</th>								
									</tr>
								</thead>
							</template> <!-- end data-table "thead" template -->

						</data-table>
					</div>
					<div v-if="selectedReport.reportType.reportTypeNumber == '07' && dataReady">
						<h3>Min Speed Violations</h3>
						<data-table
							:data="minSpeedDataTable"
							:columns="minSpeedColumn"
						>
							<template slot="thead">
								<thead>
									<tr>
										<th>MMSI</th>
										<th>Name</th>
										<th>Time</th>
										<th>Latitude</th>
										<th>Longitude</th>
										<th>Min Speed</th>
										<th>Average Speed</th>
										<th>Duration</th>
										<th>IMO</th>								
									</tr>
								</thead>
							</template> <!-- end data-table "thead" template -->
						</data-table>
						<hr>
						<h3>Max Speed Violations</h3>
						<data-table
							:data="maxSpeedDataTable"
							:columns="maxSpeedColumn"
						>
							<template slot="thead">
								<thead>
									<tr>
										<th>MMSI</th>
										<th>Name</th>
										<th>Time</th>
										<th>Latitude</th>
										<th>Longitude</th>
										<th>Max Speed</th>
										<th>Average Speed</th>
										<th>Duration</th>
										<th>IMO</th>								
									</tr>
								</thead>
							</template> <!-- end data-table "thead" template -->
						</data-table>
					</div>
				</div>
			</div>
		</form>

	</template>
</main-wrapper>