<side-wrapper :scroller="true" >
	<template slot="scroll-content">
		
		<!-- Content -->	
			
			<div class="header">
                <span class="title">Reports</span>
                <span class="pull-right">
					<button v-if="AuthorizationMixin_isGranted('Report.Create')" @click.prevent="$router.push({name:'map.report.main.create'})" type="button" class="btn btn-primary" style=" border: none; height: 30px;"><a style="color: white;" href="#">Add</a></button>
				</span>
            </div>          

            <ul class="mdm-summary-list">
                <li 
					v-for="reportType in reportTypeOptions" 
					:key="reportType.id"					
				>
					{{ reportType.text }}
					<ul class="ul-child-report">
						<li class="child-report" v-if="report.reportTypeId == reportType.id" v-for = "report in reports">
							<div class="report-div">
								<span class="name-list" 
								:class="{'text-muted': !report.isEnabled}"
								@click.prevent="$router.push({name:'map.report.main.result', params:selectReport(report)})"
								>
								{{ report.name}}
								</span>
								<span class="action-btn">
									<div class="btn-group pull-right" role="group" aria-label="...">							
										<button v-if="AuthorizationMixin_isGranted('Report.Update')" type="button" class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.report.main.edit', params:{id:report.id}})">
											<font-awesome-icon :icon="['fas', 'pencil-alt']" size="sm" />
										</button>
										<delete-confirm
											:item="report"
											type="report"
											@confirm="removeReport"
											v-if="AuthorizationMixin_isGranted('Report.Delete')"
										>
											<template slot="content">
												<button type="button" class="btn btn-danger btn-sm">
													<font-awesome-icon :icon="['fas', 'trash-alt']" size="sm" />
												</button>
											</template>								
										</delete-confirm>							
									</div>
								</span>
							</div>
							
						</li>
					</ul>
				</li>
            </ul>

			

		<!-- Content -->
		
	</template>
</side-wrapper>
