<div>
		<!-- Top -->

        <div class="col-sm-12">
            <div class="form-group">
                <div class="row">
                    <label for="name" class="col-lg-2 control-label">Report Name</label>
                    <div class="col-lg-10 ">
                        <input 
                            type="text" 
                            class="form-control" 
                            :class="{'error-input':errors.has('formreport.name')}"
                            id="name" 
                            name="name" 
                            v-model="name"
                            placeholder="Report Name" 
                            v-validate="`required`"                                     
                            data-vv-validate-on="blur"
                            data-vv-as="report name" 
                            @focus="errors.remove('name', 'formreport')"
                        />
                        <span 
                            v-if="errors.has('formreport.name')"
                            class="help-block text-danger">{{ errors.first('formreport.name') }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <div class="row">
                    <label for="isEnabled" class="col-lg-2 control-label">Enable</label>
                    <div class="col-lg-10 ">
                        <toggle-button v-model="isEnabled" color="#116fff" />   
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <div class="row">
                    <label for="reportTypeId" class="col-lg-2 control-label">Report Type</label>
                    <div class="col-lg-10 ">

                        <div class="row">
                            <div class="col-sm-6">

                                <select2
                                    :fullWidth="false"
                                    :width="'100%'"
                                    v-validate="'excluded:0'" 
                                    name="reportType" 
                                    data-vv-as="report type"
                                    v-if="reportTypeOptions.length"
                                    :value="reportTypeOptions[0].id"
                                    @input="getReportTypeNumber($event)"
                                    :options="reportTypeOptions">
                                </select2>
                                <span 
                                    v-if="errors.has('formreport.reportType')"
                                    class="help-block text-danger">{{ errors.first('formreport.reportType') }}
                                </span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <div class="row">
                    <label for="timeSpan" class="col-lg-2 control-label">Time Span</label>
                    <div class="col-lg-3 ">
                        <input type="number" class="form-control" id="timeSpan" placeholder="" required 
                            :value="reportData.timeSpan"
                            @input="setReportData({key:'timeSpan', value:$event.target.value})"
                        />
                    </div>
                    <div class="col-lg-2">
                        <label style="display: none; margin-top: 22px;" for="timeSpanType"></label>
                        <select2
                        :fullWidth="false"
                        :width="'100%'"
                        :options="timeSpanOptions"
                        :value="reportData.timeSpanType"
                        @input="setReportData({key:'timeSpanType', value:$event})"
                        ></select2>
                    </div>
                </div>
            </div>
        </div>

		<div class="row">
        	<div class="col-sm-12">
            	<table class="table table-bordered">
                    <thead>
                        <tr>
                        	<!-- <th style="width: 6.5%"></th> -->
                            <th style="width: 2.5%"></th>
                            <th class="col-sm-3">Zone</th>
                            <th class="col-sm-3">Filter</th>
                            <th v-if="reportTypeNumber == '05' || reportTypeNumber == '16' || reportTypeNumber == '17' || reportTypeNumber == '18'" style="width: 6%">Fee</th>
                            <th v-if="reportTypeNumber == '07' || reportTypeNumber == '16' || reportTypeNumber == '17'" style="width: 6.5%">Min Speed</th>
                            <th v-if="reportTypeNumber == '07'" style="width: 6%">Max Speed</th>
                            <!-- <th v-else style="width: 5.5%"></th> -->
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="fade-in" v-for="(row, index) in reportData.reportItems" :key="row.id">
                        	<!-- <td></td> -->
                            <td>
                                <div class="btn-group" role="group" aria-label="...">
                                <font-awesome-icon v-if="index > 0" @click="removeReportConditionItem(index)" :icon="['fas', 'times-circle']" size="2x" class="text-danger removeReportRow cursorPointer" />
                                </div>
                            </td>

                            <td>
                                <select2
                                    :fullWidth="false"
                                    :width="'100%'"
                                    v-validate="'required|excluded:0'" 
                                    :name="`zone-option-${row.id}`" 
                                    data-vv-as="zone option"
                                    :value="row.zoneId"
                                    @input="updateReportCondition('zoneId', {value:$event}, row.id)"
                                    :options="zonesOptions"
                                    v-if="zonesOptions.length">
                                </select2>
                                <select v-else disabled class="form-control"></select>
                                <span 
                                    v-if="errors.has(`formreport.zone-option-${row.id}`)"
                                    class="help-block text-danger">{{ errors.first(`formreport.zone-option-${row.id}`) }}
                                </span>
                            </td>
							<td>
                                <select2
                                    :fullWidth="false"
                                    :width="'100%'" 
                                    v-validate="'required|excluded:0'" 
                                    :name="`filter-option-${row.id}`" 
                                    data-vv-as="filter option"
                                    :value="row.filterId"
                                    @input="updateReportCondition('filterId', {value:$event}, row.id)" 
                                    :options="filtersOptions"
                                    v-if="filtersOptions.length"
                                >
                                </select2>
                                <select v-else disabled class="form-control"></select>
                                <span 
                                    v-if="errors.has(`formreport.filter-option-${row.id}`)"
                                    class="help-block text-danger">{{ errors.first(`formreport.filter-option-${row.id}`) }}
                                </span>
                            </td>
                            <td v-if="reportTypeNumber == '05' || reportTypeNumber == '16' || reportTypeNumber == '17' || reportTypeNumber == '18'">
                                <input
                                :name="`fee-${row.id}`"
                                data-vv-as="fee"
                                :class="{'error-input':errors.has(`formreport.fee-${row.id}`)}"
                                :value="row.fee"
                                @input="updateReportCondition('fee', {value:$event.target.value}, row.id)"
                                type="number" class="form-control">
                                <!-- <span 
                                    v-if="errors.has(`formreport.fee-${row.id}`)"
                                    class="help-block text-danger">{{ errors.first(`formreport.fee-${row.id}`) }}
                                </span> -->
                            </td>
                            <td v-if="reportTypeNumber == '07' || reportTypeNumber == '16' || reportTypeNumber == '17'">
                                <input
                                :name="`minSpeed-${row.id}`"
                                data-vv-as="min speed"
                                :class="{'error-input':errors.has(`formreport.minSpeed-${row.id}`)}"
                                v-validate="'min_value:1'"
                                :value="row.minSpeed"
                                @input="updateReportCondition('minSpeed', {value:$event.target.value}, row.id)"
                                type="number" 
                                class="form-control">
                               <!--  <span 
                                    v-if="errors.has(`formreport.minSpeed-${row.id}`)"
                                    class="help-block text-danger">{{ errors.first(`formreport.minSpeed-${row.id}`) }}
                                </span> -->
                            </td>
                            <td v-if="reportTypeNumber == '07'">
                                <input
                                :name="`maxSpeed-${row.id}`"
                                data-vv-as="max speed"
                                :class="{'error-input':errors.has(`formreport.maxSpeed-${row.id}`)}"
                                v-validate="'min_value:1'"
                                :value="row.maxSpeed"
                                @input="updateReportCondition('maxSpeed', {value:$event.target.value}, row.id)"
                                type="number" 
                                class="form-control"> 
                                <!-- <span 
                                    v-if="errors.has(`formreport.maxSpeed-${row.id}`)"
                                    class="help-block text-danger">{{ errors.first(`formreport.maxSpeed-${row.id}`) }}
                                </span> -->
                            </td>
                            <!-- <td v-else></td> -->
                        </tr>
                    </tbody>
            </table>
        </div>
        </div>
        <div class="col-sm-12">
                        <button class="btn btn-primary btn-sm" @click.prevent="addReportConditionItem">
                            <span><font-awesome-icon :icon="['fas', 'plus-circle']" size="lg" /></span> 
                            <span>Add New Clause</span>
                        </button>
        </div>
</div>