<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../styles/containers/main-section.scss"></style>
<style scoped>
	.loading-box{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: rgba(255, 255, 255,.7);
	    text-align: center;
	    padding-top: 40%;
	}
	.data-unready{
		width: 100%;
	    background-color: #f5f5f5;
	    color: #676a6c;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    padding-top: 100px;
	    padding-bottom: 100px;
	}
</style>
<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template src="./templates/ddms-historical.html"></template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>

	/*
	Script start
	 */
	import Vue from 'vue'
	import { Component, Watch, Prop } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Bind, Debounce } from 'lodash-decorators'
	import moment from 'moment'
	import LoadingSVG from '../../../../images/three-dots.svg'

	const ChartModule = namespace('statistic/statisticChart')	
	/*
	Class start
	 */
	@Component({
		components: {
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'line-chart': ()=> import('../../common/libs/highcharts/LineChart'),
			'windrose-chart': ()=> import('../../common/libs/highcharts/WindRoseChart'),
			'draughtData-chart' :()=> import ('./DraughtDataLineChart'),
			'select2': ()=> import('../../common/libs/Select2'),
			'local-data-table' : ()=>import('../../common/libs/vuetable/LocalTable')
		}
	})
	/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	export default class DdmsHistorical extends Vue {		

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/	
		@Prop() mmsi 
		@Prop() vesselName

		@ChartModule.Getter chartData
		@ChartModule.Getter formData
		@ChartModule.Getter timeSpanOptions
		@ChartModule.Getter ddmsField

		@ChartModule.Mutation toggleStatisticChart	
		@ChartModule.Mutation setChartData
		@ChartModule.Mutation setDdmsField
		@ChartModule.Mutation setFormData
		@ChartModule.Mutation clearFormData
		@ChartModule.Action getDdmsHistoricalByMmsi

		LoadingSVG = LoadingSVG
		chartReady = false
		tableReady = false
		title = ''
		hverror = false
		tTableData = []
		tableData = []

/*
##     ##  ########   ########   ##     ##   #######   ########   
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  
## ### ##  ######        ##      #########  ##     ##  ##     ##  
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  
##     ##  ########      ##      ##     ##   #######   ########   
*/
		mounted () {
			this.getDdmsHistoricalByMmsi(this.mmsi).then((result)=>{					
				this.chartReady = true
				this.title = this.mmsi + '-' + this.vesselName

			})
			.catch((error)=>{
				this.hverror = true
				console.error(error)
			})
			
		}
		viewTable(){
			this.chartReady = false
			this.tableReady = false
			this.hverror = false
			this.getDdmsHistoricalByMmsi(this.mmsi)
				.then((result)=>{
					this.tableReady = true
					this.updateTableData()
				})
				.catch((error)=>{
					this.hverror = true
					console.error(error)
				})

		}
		viewChart(){
			
			this.chartReady = false
			this.tableReady = false
			this.hverror = false
			this.getDdmsHistoricalByMmsi(this.mmsi).then((chartData)=>{
		   		this.chartReady = true
		   		this.title = this.mmsi + '-' + this.vesselName

		   })
			.catch((error)=>{
					this.hverror = true
					console.error(error)
				})
		}

		batteryData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'battery') && _.has(f, 'utcRecvTime') && f.battery != null  && f.utcRecvTime)
			.map( ({battery, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(battery)]
			} )
		}

		actualData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'actual') && _.has(f, 'utcRecvTime') && f.actual != null && f.utcRecvTime)
			.map( ({actual, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(actual)]
			} )
		}

		emptyData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'empty') && _.has(f, 'utcRecvTime') && f.empty != null && f.utcRecvTime)
			.map( ({empty, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(empty)]
			} )
		}

		halfData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'middleValue') && _.has(f, 'utcRecvTime') && f.middleValue != null && f.utcRecvTime)
			.map( ({middleValue, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(middleValue)]
			} )
		}

		fullData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'full') && _.has(f, 'utcRecvTime') && f.full != null && f.utcRecvTime)
			.map( ({full, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(full)]
			} )
		}

		speedData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'speed') && _.has(f, 'utcRecvTime') && f.speed != null && f.utcRecvTime)
			.map( ({speed, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(speed)]
			} )
		}

		supplyData(){

			let clonedChartData = _.cloneDeep(this.chartData)

			return clonedChartData
			.filter(f => _.has(f, 'supply') && _.has(f, 'localRecvTime') && f.supply != null && f.localRecvTime)
			.map( ({supply, localRecvTime}) => {
				return [moment.utc(localRecvTime).valueOf() + 28800000, Number(supply)]
			} )
		}

		get startDate(){ 
			// this.formData.startDate = moment().subtract(24, 'hours').format('YYYY-MM-DDTHH:mm:ss')
			// return this.formData.startDate
			
			let clonedTimeSpan = _.cloneDeep(this.formData.timeSpan)

			if(clonedTimeSpan == '24 hours' ){
				this.formData.startDate = moment().subtract(24, 'hours').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate
			}
			else if(clonedTimeSpan == '48 hours'){
				this.formData.startDate = moment().subtract(48, 'hours').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate
			}
			else if(clonedTimeSpan == 'last 10 days'){
				this.formData.startDate = moment().subtract(10, 'days').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'last 30 days'){
				this.formData.startDate = moment().subtract(30, 'days').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'today'){
				this.formData.startDate = moment({hour: 0, minute: 0, seconds: 0}).format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'yesterday'){
				this.formData.startDate = moment({hour: 0, minute: 0, seconds: 0}).subtract(24, 'hours').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate 
			}
			else if(clonedTimeSpan == 'this week'){
				this.formData.startDate = moment().day(0).format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'last week'){
				this.formData.startDate = moment({hour: 0, minute: 0, seconds: 0}).day(-7).format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'this month'){
				this.formData.startDate = moment(1, "DD").format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'last month'){
				this.formData.startDate = moment(1, "DD").subtract(1, 'months').startOf('month').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else{
				return this.formData.startDate 
			}
			
		}
		
		get endDate(){
			// this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
			// return this.formData.endDate
			
			let clonedTimeSpan = _.cloneDeep(this.formData.timeSpan)

			if(clonedTimeSpan == '24 hours' ){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == '48 hours'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'last 10 days'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'last 30 days'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'today'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'yesterday'){
				this.formData.endDate = moment().subtract(24, 'hours').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'this week'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'last week'){
				this.formData.endDate = moment({hour: 23, minute: 59, seconds: 0}).day(-1).format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'this month'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'last month'){
				this.formData.endDate = moment(1, "DD").subtract(1, 'months').endOf('month').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else{
				return this.formData.endDate
			}
			
		}

		set startDate(value){ this.setFormData({key:'startDate', value}) }
		set endDate(value){ this.setFormData({key:'endDate', value}) }

		formatTimeUtc(time){
			return (time == null ? '' : moment(time).utc().format('DD/MM/YYYY HH:mm:ss'));
        }

        formatTimeLocal(time){
    		return (time == null ? '' : moment(time).format('DD/MM/YYYY HH:mm:ss'));
        }

        formatData(data){
        	return (data == null || data == "0.00" ? '' : (data + "V"));
        }

        get historicalDataTableData(){			

			let clonedChartData = _.cloneDeep(this.chartData)			
			_.each(clonedChartData, (r)=>{
				r.utcRecvTime = this.formatTime(r.utcRecvTime);
			})
			return clonedChartData
			
		}

		get tableFields(){			
			return this.ddmsField
		}

		get sortFieldByType(){
			const sortFields = [
				{
					direction: "asc",
	                field: "name",
	                sortField: "name"
				}
			]
			return sortFields
		}

		filterOnSearchData(){			
			if(this.formData.searchTerm){				
				this.tTableData = this.tTableData.filter((td)=>{					
					const values = Object.values(td)
					const re = new RegExp(this.formData.searchTerm, 'i');												
					let found = false

					for(const v of values){
						if(String(v).match(re)){
							found = true
							break;
						}
					}

					return found
				})	
			}			
			
			return this
		}


		getTableData(){

			return this.tTableData
		}

		updateTableData(){	
			this.tTableData = _.cloneDeep(this.chartData)

			_.each(this.tTableData, (r)=>{
				if(r.name == null){
					r.name = this.vesselName;
				}
				r.utcDate = this.formatTimeUtc(r.utcRecvTime);
				r.localDate = this.formatTimeLocal(r.utcRecvTime);
			})

			this.tableData = this.filterOnSearchData().getTableData()
		}
		
		/*
		search
		 */
		search(searchTerm){
			this.setFormData({key:'searchTerm', value:searchTerm})
			this.updateTableData()			
		}

		/*
		updateField
		 */
		@Bind()
		@Debounce(300)
		updateField(field){
			this.setDdmsField(field)	
		}
		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})
		}		

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleStatisticChart(false)
			this.clearFormData()
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'Rms.Main.Chart')
        }
		
	}

</script>