<template>
  <section class="charts">
  	<button @click.prevent="revertYAxis()" class="btn btn-primary">Flip Y Axis</button>
    <charts
      :options="options"
      style="height: 500px; max-width: 1500px; margin: 0 auto;"
    ></charts>
  </section>
</template>

<style scoped>
	.btn{
		margin-left: 60px;
	}
</style>


<script>

	/*
	Script start
	 */
	import Vue from 'vue'
	import { Component, Prop } from 'vue-property-decorator'
	import HighchartsVue from 'highcharts-vue'
	import Highcharts from 'highcharts'
	import Exporting from "highcharts/modules/exporting"
	import ExportingData from "highcharts/modules/export-data"
	import Boost from 'highcharts/modules/boost'

	Exporting(Highcharts)
	ExportingData(Highcharts)
	Boost(Highcharts)
	Vue.use(HighchartsVue, {tagName: 'charts'})

  	import moment from 'moment'

	/*
	Class start
	 */
	@Component
	export default class DraughtDataLineChart extends Vue {	

		@Prop() data
		@Prop() data2
		@Prop() data3
		@Prop() data4
		@Prop() title
		@Prop() yTitle
		
 		options={

			chart: {
		    	zoomType: 'x',
	        	panning: true,
	        	panKey: 'shift'
			},
			boost: {
		        useGPUTranslations: true
		    },
			title: {
			    text: '',
			    x: -20 //center
			},
			subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
			credits: {
			    enabled: false
			},
			xAxis: {
			    type: 'datetime'
			},
			time:{
				useUTC:false
			},
		    yAxis: {
		      lineColor: '#999',
		      lineWidth: 1,
		      tickColor: '#666',
		      tickWidth: 1,
		      tickLength: 3,
		      gridLineColor: '#ddd',
		      reversed: false,
		      title: {
		        text: ''
		      },
		    },
		    
			tooltip: {
			    valueSuffix: ``,
			    valueDecimals: 2,
			    valueSuffix: ' m'
			},
			series: [{
				name: 'Actual',
				color: '#116fff',
				lineWidth: 0.5,
		    	data: []
		    },
		    {
		    	name: 'Empty',
				color: '#000',
				lineWidth: 0.5,
		    	data: []
		    },
		    {
		    	name: 'Half',
				color: '#07ab17',
				lineWidth: 0.5,
		    	data: []
		    },
		    {
		    	name: 'Full',
				color: '#ff0000',
				lineWidth: 0.5,
		    	data: []
		    }
		    ]
			
		}

		created(){
			this.options.series[0].data = this.data.sort(function(a,b) { return a[0] - b[0]; })
			this.options.series[1].data = this.data2.sort(function(a,b) { return a[0] - b[0]; })
			this.options.series[2].data = this.data3.sort(function(a,b) { return a[0] - b[0]; })
			this.options.series[3].data = this.data4.sort(function(a,b) { return a[0] - b[0]; })
			this.options.title.text = this.title
			this.options.yAxis.title.text = this.yTitle
			console.log("options", this.options)
			}

		revertYAxis(){
			var reversed = this.options.yAxis.reversed
			reversed = !reversed
			if (reversed){
				this.options.yAxis.reversed = true
			}
			else{
				this.options.yAxis.reversed = false
			}

		}
	}

</script>