<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../styles/containers/main-section.scss"></style>
<style scoped>
	.loading-box{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: rgba(255, 255, 255,.7);
	    text-align: center;
	    padding-top: 40%;
	}
	.data-unready{
		width: 100%;
	    background-color: #f5f5f5;
	    color: #676a6c;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    padding-top: 100px;
	    padding-bottom: 100px;
	}
</style>
<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template src="./templates/rms-chart.html"></template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>

	/*
	Script start
	 */
	import Vue from 'vue'
	import { Component, Watch, Prop } from 'vue-property-decorator'
	import { Bind, Debounce } from 'lodash-decorators'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import LoadingSVG from '../../../../images/three-dots.svg'
	import moment from 'moment'

	const ChartModule = namespace('statistic/statisticChart')	
	/*
	Class start
	 */
	@Component({
		components: {
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'line-chart': ()=> import('../../common/libs/highcharts/LineChart'),
			'local-data-table' : ()=>import('../../common/libs/vuetable/LocalTable'),
			'windrose-chart': ()=> import('../../common/libs/highcharts/WindRoseChart'),
			'select2': ()=> import('../../common/libs/Select2')
		}
	})
	/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	export default class RmsStatistic extends Vue {		

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/	
		@Prop() mmsi 
		@Prop() vesselName
		@Prop() dac
		@Prop() fi

		@ChartModule.Getter chartData
		@ChartModule.Getter formData
		@ChartModule.Getter rmsField
		@ChartModule.Getter timeSpanOptions


		@ChartModule.Mutation toggleStatisticChart	
		@ChartModule.Mutation setChartData
		@ChartModule.Mutation setFormData
		@ChartModule.Mutation setRmsField
		@ChartModule.Mutation clearFormData
		@ChartModule.Action getRmsHistoricalByMmsi

		LoadingSVG = LoadingSVG
		chartReady = false
		tableReady = false
		title = ''
		hverror = false
		tTableData = []
		tableData = []

/*
##     ##  ########   ########   ##     ##   #######   ########   
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  
## ### ##  ######        ##      #########  ##     ##  ##     ##  
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  
##     ##  ########      ##      ##     ##   #######   ########   
*/
		mounted () {
			// console.log("%cDAC:", conStyle.boldRed, this.dac)
			// console.log("%cFI:", conStyle.boldRed, this.fi)
			this.getRmsHistoricalByMmsi(this.mmsi).then((result)=>{
					this.chartReady = true
					this.title = this.mmsi + "-" + this.vesselName

				})
				.catch((error)=>{
					this.hverror = true
					console.error(error)
				})
		}
		viewTable(){
			this.chartReady = false
			this.tableReady = false
			this.hverror = false
			this.getRmsHistoricalByMmsi(this.mmsi)
				.then((result)=>{
					this.tableReady = true
					this.updateTableData()
				})
				.catch((error)=>{
					this.hverror = true
					console.error(error)
				})

		}
		viewChart(){
			
			this.chartReady = false
			this.tableReady = false
			this.hverror = false
			this.getRmsHistoricalByMmsi(this.mmsi).then((chartData)=>{
		   		this.chartReady = true
		   		this.title = this.mmsi + '-' + this.vesselName
		   })
			.catch((error)=>{
					this.hverror = true
					console.error(error)
				})
		}
		
		analogueIntData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'supplyVoltageInt') && _.has(f, 'utcDateTime') && (f.supplyVoltageInt != null && f.supplyVoltageInt != "0.00")  && f.utcDateTime)
			.map( ({supplyVoltageInt, utcDateTime}) => {
				return [moment(utcDateTime).valueOf(), Number(supplyVoltageInt)]
			} )
		}
		analogueExt1Data(){			
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'supplyVoltageExt1') && _.has(f, 'utcDateTime') && (f.supplyVoltageExt1 != null && f.supplyVoltageExt1 != "0.00") && f.utcDateTime)
			.map( ({supplyVoltageExt1, utcDateTime}) => {
				return [moment(utcDateTime).valueOf(), Number(supplyVoltageExt1)]
			} )			
		}
		analogueExt2Data(){			
			let clonedChartData = _.cloneDeep(this.chartData)
			if(this.dac != 0 && this.fi != 0){
				return clonedChartData
				.filter(f => _.has(f, 'supplyVoltageExt2') && _.has(f, 'utcDateTime') && (f.supplyVoltageExt2 != null && f.supplyVoltageExt2 != "0.00") && f.utcDateTime)
				.map( ({supplyVoltageExt2, utcDateTime}) => {
					return [moment(utcDateTime).valueOf(), Number(supplyVoltageExt2)]
				} )	
			}
			return false
					
		}
		lightsData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			if(this.dac == 0 && this.fi == 0){
				return clonedChartData
				.filter(f => _.has(f, 'lightStatusVal') && _.has(f, 'utcDateTime') && f.lightStatusVal != null && f.utcDateTime)
				.map( ({lightStatusVal, utcDateTime}) => {
					return [moment(utcDateTime).valueOf(), Number(lightStatusVal)]
				})	
			}
			return false
			
		}

		lightStatusData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			if(this.dac != 0 && this.fi != 0){
				return clonedChartData
				.filter(f => _.has(f.statusSpecificVal, 'light') && _.has(f, 'utcDateTime') && f.statusSpecificVal.light != null && f.utcDateTime)
				.map( ({statusSpecificVal, utcDateTime}) => {
					return [moment(utcDateTime).valueOf(), Number(statusSpecificVal.light)]
				} )	
			}
			return false
		}

		batteryData(){

			let clonedChartData = _.cloneDeep(this.chartData)
			if(this.dac == 0 && this.fi == 0){
				return clonedChartData
				.filter(f => _.has(f, 'batteryStatusVal') && _.has(f, 'utcDateTime') && f.batteryStatusVal != null  && f.utcDateTime)
				.map( ({batteryStatusVal, utcDateTime}) => {
					return [moment(utcDateTime).valueOf(), Number(batteryStatusVal)]
				} )
			}
			return false
			
			
		}
		voltagesData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			if(this.dac == 0 && this.fi == 0){
				return clonedChartData
				.filter(f => _.has(f, 'voltageData') && _.has(f, 'utcDateTime') && f.voltageData != null  && f.utcDateTime)
				.map( ({voltageData, utcDateTime}) => {
					return [moment(utcDateTime).valueOf(), Number(voltageData)]
				} )
			}
			return false
			
		}
		currentsData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			if(this.dac == 0 && this.fi == 0){
				return clonedChartData
				.filter(f => _.has(f, 'currentData') && _.has(f, 'utcDateTime') && f.currentData != null  && f.utcDateTime)
				.map( ({currentData, utcDateTime}) => {
					return [moment(utcDateTime).valueOf(), Number(currentData)]
				} )
			}
			return false
			
		}
		
		beatData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'beatVal') && _.has(f, 'utcDateTime') && f.beatVal != null && f.utcDateTime)
			.map( ({beatVal, utcDateTime}) => {
				return [moment(utcDateTime).valueOf(), Number(beatVal)]
			} )
		}
		doorData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			if(this.dac == 533 && this.fi == 1){
				return clonedChartData
				.filter(f => _.has(f, 'doorVal') && _.has(f, 'utcDateTime') && f.doorVal != null  && f.utcDateTime)
				.map( ({doorVal, utcDateTime}) => {
					return [moment(utcDateTime).valueOf(), Number(doorVal)]
				} )
			}
			else if(this.dac == 533 && this.fi == 2){
				return clonedChartData
				.filter(f => _.has(f, 'hatchDoorVal') && _.has(f, 'utcDateTime') && f.hatchDoorVal != null  && f.utcDateTime)
				.map( ({hatchDoorVal, utcDateTime}) => {
					return [moment(utcDateTime).valueOf(), Number(hatchDoorVal)]
				} )
			}
			return false
		}
		ambientData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			if(this.dac == 533 && this.fi == 1){			
				return clonedChartData
				.filter(f => _.has(f, 'ambientVal') && _.has(f, 'utcDateTime') && f.ambientVal != null && f.utcDateTime)
				.map( ({ambientVal, utcDateTime}) => {
					// console.log("%c Math.max: ", conStyle.boldRed, Math.max(ambientVal))
					return [moment(utcDateTime).valueOf(), Number(ambientVal)]
				} )
			}
			else if(this.dac == 533 && this.fi == 2){
				return clonedChartData
				.filter(f => _.has(f, 'lightSensorVal') && _.has(f, 'utcDateTime') && f.lightSensorVal != null  && f.utcDateTime)
				.map( ({lightSensorVal, utcDateTime}) => {
					return [moment(utcDateTime).valueOf(), Number(lightSensorVal)]
				} )
			}
			return false

		}
		lanternData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'lanternVal') && _.has(f, 'utcDateTime') && f.lanternVal != null  && f.utcDateTime)
			.map( ({lanternVal, utcDateTime}) => {
				return [moment(utcDateTime).valueOf(), Number(lanternVal)]
			} )
		}
		lanternBatteryData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'lanternBattVal') && _.has(f, 'utcDateTime') && f.lanternBattVal != null  && f.utcDateTime)
			.map( ({lanternBattVal, utcDateTime}) => {
				return [moment(utcDateTime).valueOf(), Number(lanternBattVal)]
			} )
		}
		
		get startDate(){ 
			// this.formData.startDate = moment().subtract(24, 'hours').format('YYYY-MM-DDTHH:mm:ss')
			// return this.formData.startDate
			
			let clonedTimeSpan = _.cloneDeep(this.formData.timeSpan)

			if(clonedTimeSpan == '24 hours' ){
				this.formData.startDate = moment().subtract(24, 'hours').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate
			}
			else if(clonedTimeSpan == '48 hours'){
				this.formData.startDate = moment().subtract(48, 'hours').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate
			}
			else if(clonedTimeSpan == 'last 10 days'){
				this.formData.startDate = moment().subtract(10, 'days').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'last 30 days'){
				this.formData.startDate = moment().subtract(30, 'days').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'today'){
				this.formData.startDate = moment({hour: 0, minute: 0, seconds: 0}).format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'yesterday'){
				this.formData.startDate = moment({hour: 0, minute: 0, seconds: 0}).subtract(24, 'hours').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate 
			}
			else if(clonedTimeSpan == 'this week'){
				this.formData.startDate = moment().day(0).format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'last week'){
				this.formData.startDate = moment({hour: 0, minute: 0, seconds: 0}).day(-7).format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'this month'){
				this.formData.startDate = moment(1, "DD").format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'last month'){
				this.formData.startDate = moment(1, "DD").subtract(1, 'months').startOf('month').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else{
				return this.formData.startDate 
			}
		}
		
		get endDate(){
			// this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
			// return this.formData.endDate
			
			let clonedTimeSpan = _.cloneDeep(this.formData.timeSpan)

			if(clonedTimeSpan == '24 hours' ){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == '48 hours'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'last 10 days'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'last 30 days'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'today'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'yesterday'){
				this.formData.endDate = moment().subtract(24, 'hours').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'this week'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'last week'){
				this.formData.endDate = moment({hour: 23, minute: 59, seconds: 0}).day(-1).format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'this month'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'last month'){
				this.formData.endDate = moment(1, "DD").subtract(1, 'months').endOf('month').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else{
				return this.formData.endDate
			}
		}

		set startDate(value){ this.setFormData({key:'startDate', value}) }
		set endDate(value){ this.setFormData({key:'endDate', value}) }

		formatTimeUtc(time){
			return (time == null ? '' : moment(time).utc().format('DD/MM/YYYY HH:mm:ss'));
        }

        formatTimeLocal(time){
    		return (time == null ? '' : moment(time).format('DD/MM/YYYY HH:mm:ss'));
        }

        formatData(data){
        	return (data == null || data == "0.00" ? '' : (data + "V"));
        }

		get tableFields(){
			return this.rmsField(this.listType)			
		}

		get listType(){
			if(this.dac == 0 && this.fi == 0){return 'ZeniLite'}
			if(this.dac == 235 && this.fi == 10){return 'IALA'}
			if(this.dac == 533 && this.fi == 1){return 'LightBeacon'}
			if(this.dac == 533 && this.fi == 2){return 'LightHouse'}
			if(this.dac == 533 && this.fi == 4){return 'SelfContainedLantern'}
		}

		get sortFieldByType(){
			const sortFields = [
				{
					direction: "asc",
	                field: "name",
	                sortField: "name"
				}
			]
			return sortFields
		}

		filterOnSearchData(){			
			if(this.formData.searchTerm){				
				this.tTableData = this.tTableData.filter((td)=>{					
					const values = Object.values(td)
					const re = new RegExp(this.formData.searchTerm, 'i');												
					let found = false

					for(const v of values){
						if(String(v).match(re)){
							found = true
							break;
						}
					}

					return found
				})	
			}			
			
			return this
		}


		getTableData(){

			return this.tTableData
		}

		updateTableData(){	
			this.tTableData = _.cloneDeep(this.chartData)

			_.each(this.tTableData, (r)=>{
				if(r.name == null){
					r.name = this.vesselName;
				}
				else if(r.mmsi == null){
					r.mmsi = this.mmsi
				}
				r.utcDate = this.formatTimeUtc(r.utcDateTime);
				r.localDate = this.formatTimeLocal(r.utcDateTime);
				r.supplyVoltageInt = this.formatData(r.supplyVoltageInt);
				r.supplyVoltageExt1 = this.formatData(r.supplyVoltageExt1);
				r.supplyVoltageExt2 = this.formatData(r.supplyVoltageExt2);
				r.currentData = this.formatData(r.currentData);
				r.voltageData = this.formatData(r.voltageData);
			})

			this.tableData = this.filterOnSearchData().getTableData()
		}
		
		/*
		search
		 */
		search(searchTerm){
			this.setFormData({key:'searchTerm', value:searchTerm})
			this.updateTableData()			
		}

		/*
		updateField
		 */
		@Bind()
		@Debounce(300)
		updateField(field){
			this.setRmsField({
				type:this.listType,
				rmsField: field
			})		
		}
		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})
		}		

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleStatisticChart(false)
			this.clearFormData()
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'Rms.Main.Chart')
        }
		
	}

</script>