<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../styles/containers/main-section.scss"></style>
<style scoped>
	.loading-box{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: rgba(255, 255, 255,.7);
	    text-align: center;
	    padding-top: 40%;
	}
	.data-unready{
		width: 100%;
	    background-color: #f5f5f5;
	    color: #676a6c;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    padding-top: 100px;
	    padding-bottom: 100px;
	}
</style>
<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template src="./templates/weather-historical.html"></template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>

	/*
	Script start
	 */
	import Vue from 'vue'
	import { Component, Watch, Prop } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Bind, Debounce } from 'lodash-decorators'
	import LoadingSVG from '../../../../images/three-dots.svg'
	import moment from 'moment'

	const ChartModule = namespace('statistic/statisticChart')	
	/*
	Class start
	 */
	@Component({
		components: {
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'line-chart': ()=> import('../../common/libs/highcharts/LineChart'),
			'local-data-table' : ()=>import('../../common/libs/vuetable/LocalTable'),
			'windrose-chart': ()=> import('../../common/libs/highcharts/WindRoseChart'),
			'select2': ()=> import('../../common/libs/Select2')
		}
	})
	/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	export default class WeatherHistorical extends Vue {		

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/	
		@Prop() mmsi 
		@Prop() token

		@ChartModule.Getter chartData
		@ChartModule.Getter formData
		@ChartModule.Getter timeSpanOptions
		@ChartModule.Getter weatherField

		@ChartModule.Mutation toggleStatisticChart	
		@ChartModule.Mutation setChartData
		@ChartModule.Mutation setFormData
		@ChartModule.Mutation setWeatherField
		@ChartModule.Mutation clearFormData
		@ChartModule.Action getWeatherHistoricalByMmsi
		@ChartModule.Action getPublicWeatherHistoricalByMmsi

		LoadingSVG = LoadingSVG
		chartReady = false
		tableReady = false
		hverror = false
		title = ''
		tTableData = []
		tableData = []

/*
##     ##  ########   ########   ##     ##   #######   ########   
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  
## ### ##  ######        ##      #########  ##     ##  ##     ##  
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  
##     ##  ########      ##      ##     ##   #######   ########   
*/
		mounted () {
			// console.log("%cRoute Name:", conStyle.boldRed, this.$route.name)
			if(this.$route.name == 'public.weather.historical'){
				// console.log("%ctoken:", conStyle.boldRed, this.token)
				this.getPublicWeatherHistoricalByMmsi({mmsi:this.mmsi,token:this.token}).then((result)=>{					
				this.chartReady = true
				this.title = this.mmsi + '-' + this.chartData[0].name

				})
				.catch((error)=>{
					this.hverror = true
					console.error(error)
				})
			}
			else{
				console.log("%c formatTimeUtc: ", conStyle.boldRed, this.formatTimeUtc(null))
				this.getWeatherHistoricalByMmsi(this.mmsi).then((result)=>{					
				this.chartReady = true
				this.title = this.mmsi + '-' + this.chartData[0].name

				})
				.catch((error)=>{
					this.hverror = true
					console.error(error)
				})
			}
			
		}
		viewTable(){
			this.chartReady = false
			this.tableReady = false
			this.hverror = false
			if(this.$route.name == 'public.weather.historical'){
				this.getPublicWeatherHistoricalByMmsi({mmsi:this.mmsi,token:this.token})
				.then((result)=>{
					this.tableReady = true
					this.updateTableData()
				})
				.catch((error)=>{
					this.hverror = true
					console.error(error)
				})
			}
			else{
				this.getWeatherHistoricalByMmsi(this.mmsi)
				.then((result)=>{
					this.tableReady = true
					this.updateTableData()
				})
				.catch((error)=>{
					this.hverror = true
					console.error(error)
				})
			}
			

		}
		viewChart(){
			
			this.chartReady = false
			this.tableReady = false
			this.hverror = false
			if(this.$route.name == 'public.weather.historical'){
				this.getPublicWeatherHistoricalByMmsi({mmsi:this.mmsi,token:this.token}).then((chartData)=>{
		   		this.chartReady = true
		   		this.title = this.mmsi + '-' + this.chartData[0].name
		   		
		   		})
				.catch((error)=>{
					this.hverror = true
					console.error(error)
				})
			}
			else{
				this.getWeatherHistoricalByMmsi(this.mmsi).then((chartData)=>{
		   		this.chartReady = true
		   		this.title = this.mmsi + '-' + this.chartData[0].name
		   		
			   	})
				.catch((error)=>{
					this.hverror = true
					console.error(error)
				})
			}
			
		}

		airPressureData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'airPressure') && _.has(f, 'utcRecvTime') && f.airPressure != null  && f.utcRecvTime)
			.map( ({airPressure, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(airPressure)]
			} )
		}

		airTemperatureData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'airTemperature') && _.has(f, 'utcRecvTime') && f.airTemperature != null  && f.utcRecvTime)
			.map( ({airTemperature, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(airTemperature)]
			} )
		}

		relHumidityData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'relHumidity') && _.has(f, 'utcRecvTime') && f.relHumidity != null  && f.utcRecvTime)
			.map( ({relHumidity, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(relHumidity)]
			} )
		}

		visibilityData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'visibility') && _.has(f, 'utcRecvTime') && f.visibility != null  && f.utcRecvTime)
			.map( ({visibility, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(visibility)]
			} )
		}

		waterLevelData(){			
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'waterLevel') && _.has(f, 'utcRecvTime') && f.waterLevel != null  && f.utcRecvTime)
			.map( ({waterLevel, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(waterLevel)]
			} )
		}

		waterTempData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'waterTemp') && _.has(f, 'utcRecvTime') && f.waterTemp != null  && f.utcRecvTime)
			.map( ({waterTemp, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(waterTemp)]
			} )
		}

		waveHeightData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'waveHeight') && _.has(f, 'utcRecvTime') && f.waveHeight != null  && f.utcRecvTime)
			.map( ({waveHeight, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(waveHeight)]
			} )
		}

		wavePeriodData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'wavePeriod') && _.has(f, 'utcRecvTime') && f.wavePeriod != null && f.utcRecvTime)
			.map( ({wavePeriod, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(wavePeriod)]
			} )
		}

		windGustDirectionData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'windGustDirection') && _.has(f, 'windGust') && f.windGustDirection  && f.windGust != null)
			.map( ({windGustDirection, windGust}) => {
				return [Number(windGustDirection), Number(windGust)]
			} )
		}

		windDirectionData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'windDirection') && _.has(f, 'windSpeed') && f.windDirection  && f.windSpeed != null)
			.map( ({windDirection, windSpeed}) => {
				return [Number(windDirection), Number(windSpeed)]
			} )
		}

		surfCurrentDirectionData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'surfCurrentDirection') && _.has(f, 'surfCurrentSpeed') && f.surfCurrentDirection  && f.surfCurrentSpeed != null)
			.map( ({surfCurrentDirection, surfCurrentSpeed}) => {
				return [Number(surfCurrentDirection), Number(surfCurrentSpeed)]
			} )
		}
		currentDirection2Data(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'currentDirection2') && _.has(f, 'currentSpeed2') && f.currentDirection2  && f.currentSpeed2 != null)
			.map( ({currentDirection2, currentSpeed2}) => {
				return [Number(currentDirection2), Number(currentSpeed2)]
			} )
		}

		currentDirection3Data(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'currentDirection3') && _.has(f, 'currentSpeed3') && f.currentDirection3  && f.currentSpeed3 != null)
			.map( ({currentDirection3, currentSpeed3}) => {
				return [Number(currentDirection3), Number(currentSpeed3)]
			} )
		}

		windGustSpeedData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'windGustSpeed') && _.has(f, 'utcRecvTime') && f.windGustSpeed != null  && f.utcRecvTime)
			.map( ({windGustSpeed, utcRecvTime}) => {
				return [moment(utcRecvTime).valueOf(), Number(windGustSpeed)]
			} )
		}

		windSpeedData(){
			let clonedChartData = _.cloneDeep(this.chartData)
			
			return clonedChartData
			.filter(f => _.has(f, 'utcRecvTime') && _.has(f, 'windSpeed') && f.utcRecvTime && f.windSpeed != null)
			.map( ({utcRecvTime, windSpeed}) => {
				return [moment(utcRecvTime).valueOf(), Number(windSpeed)]
			} )
		}

		surfCurrentSpeedData(){
			let clonedChartData = _.cloneDeep(this.chartData)

			return clonedChartData
			.filter(f => _.has(f, 'utcRecvTime') && _.has(f, 'surfCurrentSpeed') && f.utcRecvTime && f.surfCurrentSpeed != null)
			.map( ({utcRecvTime, surfCurrentSpeed}) => {
				return [moment(utcRecvTime).valueOf(), Number(surfCurrentSpeed)]
			} )
		}
		currentSpeed2Data(){
			let clonedChartData = _.cloneDeep(this.chartData)

			return clonedChartData
			.filter(f => _.has(f, 'utcRecvTime') && _.has(f, 'currentSpeed2') && f.utcRecvTime  && f.currentSpeed2 != null)
			.map( ({utcRecvTime, currentSpeed2}) => {
				return [moment(utcRecvTime).valueOf(), Number(currentSpeed2)]
			} )
		}

		currentSpeed3Data(){
			let clonedChartData = _.cloneDeep(this.chartData)
	
			return clonedChartData
			.filter(f => _.has(f, 'utcRecvTime') && _.has(f, 'currentSpeed3') && f.utcRecvTime  && f.currentSpeed3 != null)
			.map( ({utcRecvTime, currentSpeed3}) => {
				return [moment(utcRecvTime).valueOf(), Number(currentSpeed3)]
			} )
		}

		get startDate(){ 
			// this.formData.startDate = moment().subtract(24, 'hours').format('YYYY-MM-DDTHH:mm:ss')
			// return this.formData.startDate
			
			let clonedTimeSpan = _.cloneDeep(this.formData.timeSpan)

			if(clonedTimeSpan == '24 hours' ){
				this.formData.startDate = moment().subtract(24, 'hours').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate
			}
			else if(clonedTimeSpan == '48 hours'){
				this.formData.startDate = moment().subtract(48, 'hours').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate
			}
			else if(clonedTimeSpan == 'last 10 days'){
				this.formData.startDate = moment().subtract(10, 'days').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'last 30 days'){
				this.formData.startDate = moment().subtract(30, 'days').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'today'){
				this.formData.startDate = moment({hour: 0, minute: 0, seconds: 0}).format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'yesterday'){
				this.formData.startDate = moment({hour: 0, minute: 0, seconds: 0}).subtract(24, 'hours').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate 
			}
			else if(clonedTimeSpan == 'this week'){
				this.formData.startDate = moment().day(0).format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'last week'){
				this.formData.startDate = moment({hour: 0, minute: 0, seconds: 0}).day(-7).format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'this month'){
				this.formData.startDate = moment(1, "DD").format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else if(clonedTimeSpan == 'last month'){
				this.formData.startDate = moment(1, "DD").subtract(1, 'months').startOf('month').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.startDate  
			}
			else{
				return this.formData.startDate 
			}
			
		}
		
		get endDate(){
			// this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
			// return this.formData.endDate
			
			let clonedTimeSpan = _.cloneDeep(this.formData.timeSpan)

			if(clonedTimeSpan == '24 hours' ){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == '48 hours'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'last 10 days'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'last 30 days'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'today'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'yesterday'){
				this.formData.endDate = moment().subtract(24, 'hours').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'this week'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'last week'){
				this.formData.endDate = moment({hour: 23, minute: 59, seconds: 0}).day(-1).format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'this month'){
				this.formData.endDate = moment().format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else if(clonedTimeSpan == 'last month'){
				this.formData.endDate = moment(1, "DD").subtract(1, 'months').endOf('month').format('YYYY-MM-DDTHH:mm:ss')
				return this.formData.endDate
			}
			else{
				return this.formData.endDate
			}
			
		}

		set startDate(value){ this.setFormData({key:'startDate', value}) }
		set endDate(value){ this.setFormData({key:'endDate', value}) }

		twoDecimalPoint(value){
			if(value == null){
				return ""
			}
			else{
				return value.toFixed(2)
			}
		}
		formatTimeUtc(time){
			return (time == null ? '' : moment(time).utc().format('DD/MM/YYYY HH:mm:ss'));
        }

        formatTimeLocal(time){
    		return (time == null ? '' : moment(time).format('DD/MM/YYYY HH:mm:ss'));
        }

        formatData(data){
        	return (data == null || data == "0.00" ? '' : (data + "V"));
        }

		get tableFields(){			
			return this.weatherField
		}

		get sortFieldByType(){
			const sortFields = [
				{
					direction: "asc",
	                field: "name",
	                sortField: "name"
				}
			]
			return sortFields
		}

		filterOnSearchData(){			
			if(this.formData.searchTerm){				
				this.tTableData = this.tTableData.filter((td)=>{					
					const values = Object.values(td)
					const re = new RegExp(this.formData.searchTerm, 'i');												
					let found = false

					for(const v of values){
						if(String(v).match(re)){
							found = true
							break;
						}
					}

					return found
				})	
			}			
			
			return this
		}


		getTableData(){

			return this.tTableData
		}

		updateTableData(){	
			this.tTableData = _.cloneDeep(this.chartData)

			_.each(this.tTableData, (r)=>{
				if(r.name == null){
					r.name = this.mmsi;
				}
				r.airTemperature = this.twoDecimalPoint(r.airTemperature);
				r.visibility = this.twoDecimalPoint(r.visibility);
				r.waterLevel = this.twoDecimalPoint(r.waterLevel);
				r.waterTemp = this.twoDecimalPoint(r.waterTemp);
				r.currentSpeed2 = this.twoDecimalPoint(r.currentSpeed2);
				r.currentSpeed3 = this.twoDecimalPoint(r.currentSpeed3);
				r.utcDate = this.formatTimeUtc(r.utcRecvTime);
				r.localDate = this.formatTimeLocal(r.utcRecvTime);
			})

			this.tableData = this.filterOnSearchData().getTableData()
		}
		
		/*
		search
		 */
		search(searchTerm){
			this.setFormData({key:'searchTerm', value:searchTerm})
			this.updateTableData()			
		}

		/*
		updateField
		 */
		@Bind()
		@Debounce(300)
		updateField(field){
			this.setWeatherField(field)	
		}
		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})
		}		

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleStatisticChart(false)
			this.clearFormData()
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'Rms.Main.Chart')
        }
		
	}

</script>