﻿@using Vtmis.WebAdmin.Web.Views.Shared.Components.SideBarUserArea
@model SideBarUserAreaViewModel
@*<div class="user-info">
    <div class="image">
        <img src="~/images/user.png" width="48" height="48" alt="User" />
    </div>
    <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Html.Raw(Model.GetShownLoginName())</div>
        <div class="email">@Model.LoginInformations.User.EmailAddress</div>
        <div class="btn-group user-helper-dropdown">
            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
            <ul class="dropdown-menu pull-right">
                <li><a href="@Url.Action("Logout", "Account")"><i class="material-icons">input</i>@L("Logout")</a></li>
            </ul>
        </div>
    </div>
</div>*@

<div class="dropdown profile-element">
    <span>
        <img alt="image" class="img-circle" src="~/images/user.png" />
    </span>
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span class="clear">
            <span class="block m-t-xs">
                <strong class="font-bold">@Model.LoginInformations.User.UserName</strong>
            </span> <span class="text-muted text-xs block" style="font-size:x-small;">@Model.LoginInformations.User.EmailAddress<b class="caret"></b></span>
        </span>
    </a>
    <ul class="dropdown-menu animated fadeInRight m-t-xs">
        @*<li><a href="profile.html">Profile</a></li>
        <li><a href="contacts.html">Contacts</a></li>
        <li><a href="mailbox.html">Mailbox</a></li>
        <li class="divider"></li>*@
        <li><a href="@Url.Action("Logout", "Account")">@L("Logout")</a></li>
    </ul>
</div>