<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li class="active">Search</li>
        	</ul>
        	<div class="content">
        		<p><b>1) Quick Search</b></p>
        		<p>Fill in the search box with MMSI or Name of vessel to search vessel on map. </p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="searchImg1"></p>

        		<p><b>2) Advance Search</b></p>
        		<p>Click the Advanced Search in the toolbar to open Advanced Search window.</p>
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="searchImg2"></p>
        		<p>Fill the form with Name or MMSI or IMO or Call Sign and click the Search button to open advanced search result window.</p>
        		<p><img @click.prevent="showVesselImage('img3')" class="myImg" :src="searchImg3"></p>
        		<p>Click button "PDF/Excel/CSV" to download the data based on table list. Click "Edit Column" to edit the sequence or disable column of table list. Click "View" button to view the vessel on map. Fill the search field and click Search button to search vessel based on the advanced search result.</p>
        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example Search"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import searchImg1 from '../../../../../images/help-topic/search-1.png'
	import searchImg2 from '../../../../../images/help-topic/search-2.png'
	import searchImg3 from '../../../../../images/help-topic/search-3.png'

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')
		}
	})
	export default class SearchContent extends Vue{

		showModal = false
		modalImg = ''
		searchImg1 = searchImg1
		searchImg2 = searchImg2
		searchImg3 = searchImg3

		showVesselImage(img){
			const images = {
				img1 : searchImg1,
				img2 : searchImg2,
				img3 : searchImg3

			}
			this.modalImg = images[img]
			this.showModal = true

		}
		
	}
</script>