<side-wrapper :scroller="true" data-component="WremsSummary" v-show="panelShown" >
	<template slot="scroll-content">

		<!-- Content -->

		<div class="header">
			<span class="title">MyWREMS</span>
			<span class="pull-right">				
				<!-- <button @click.prevent="$router.push({name:'map.aton.main.list'})"  class="btn btn-primary action-btn">
					<img :src="require('../../../../../images/sidebar-icon/aton.svg')" width="15px">
				</button> -->

				<button @click.prevent="toggleVesselDraw"  class="btn btn-primary action-btn">
					<!-- <img :src="require('../../../../../images/sidebar-icon/aton.svg')" width="15px"> -->
					{{ showVessels ? 'Hide Vessel' : 'Show Vessel' }}
				</button>
			</span>
		</div>

		<ul class="mdm-summary-list" v-if="inViewVessels.length">
			<li 
				v-for="vessel in inViewVessels" 
				:key="vessel.vesselId"
			>
				<span class="mdm-summary-name-list" 
					@click="selectListItem(vessel)"				
				>{{ getName(vessel) }}</span>
			</li>	
		</ul>
	</template>

	<template slot="extra">
		<div class="toggle-button" @click="togglePanelShown(false)">&#x3c;</div>
	</template>
</side-wrapper>