<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li class="active">AtoN</li>
        	</ul>
        	<div class="content">
        		<p><b>1) Show/Hide Vessel</b></p>
        		<p>Click AtoN Icon at Sidebar Menu on the left to open AtoN list summary. This will show the names of all AtoN currently visible in your browser window. AtoN summary list also show the status of AtoN indicator  . The AtoN indicator have a few of status such as: -</p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="atonImg1"></p>
        		<p>By default, when click AtoN Icon at Sidebar Menu it will show AtoN only on the map. Click Show Vessel button to show vessel on map. </p>
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="atonImg2"></p>

        		<p><b>2) AtoN List</b></p>
        		<p>Click icon Switch to Bing Map to switch Open Street Map view and there have 3 options in Bing Map such as Bing Hybrid Map, Bing Satellite Map and Bing Standard Map.</p>
        		<p><img @click.prevent="showVesselImage('img3')" class="myImg" :src="atonImg3"></p>
        		<p>Click button "PDF/Excel/CSV" to download the data based on table list. Click "Edit Column" button to edit the sequence or disable column of table list. Click View button to view the AtoN on map. Fill the search field and click Search button to search vessel based on the AtoN list.</p>
        	</div>
        	<div class="" role="group" aria-label="...">							
					<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				:title="title"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import atonImg1 from '../../../../../images/help-topic/aton-1.png'
	import atonImg2 from '../../../../../images/help-topic/aton-2.png'
	import atonImg3 from '../../../../../images/help-topic/aton-3.png'

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')
		}
	})
	export default class AtonContent extends Vue{

		showModal = false
		title = ''
		atonImg1 = atonImg1
		atonImg2 = atonImg2
		atonImg3 = atonImg3

		showVesselImage(img){
			console.log("%cimg:", conStyle.boldRed, img)
			const images = {
				img1 : atonImg1,
				img2 : atonImg2,
				img3 : atonImg3,
			}
			const titles = {
				img1 : 'Summary Panel For AtoN',
				img2 : 'After Click Show Vessel',
				img3 : 'Example List Of All AtoN',
			}
			this.modalImg = images[img]
			this.title = titles[img]
			this.showModal = true
		}

	}
</script>