/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

@media (max-width: 768px) {
	.navbar-form-custom {
	    display: inline-block;
	 }
}

@media (max-width: 480px){
  .mg-btm-xs{
    margin-bottom: 15px;
  }
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10000px);  
}

.slidevertical-enter-active {
   -moz-transition-duration: 0.1s;
   -webkit-transition-duration: 0.1s;
   -o-transition-duration: 0.1s;
   transition-duration: 0.1s;
   -moz-transition-timing-function: linear;
   -webkit-transition-timing-function: linear;
   -o-transition-timing-function: linear;
   transition-timing-function: linear;
}

.slidevertical-leave-active {
   -moz-transition-duration: 0.1s;
   -webkit-transition-duration: 0.1s;
   -o-transition-duration: 0.1s;
   transition-duration: 0.1s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slidevertical-enter-to, .slidevertical-leave {
   max-height: 100px;
   overflow: hidden;
}

.slidevertical-enter, .slidevertical-leave-to {
   overflow: hidden;
   max-height: 0;
}

.cursor-pointer{cursor: pointer;}
.cursor-croshair{cursor: crosshair;}
.cursor-eresize{cursor: e-resize;}
.cursor-move{cursor: move;}

// remove .v-select clear button
.v-select .dropdown-toggle .clear { visibility: hidden; }

// close widget
.close-widget{
	color: $dark-gray;
    font-size: 20px;
}

// sidebar-tooltip
.sidebar-tooltip .sb-tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: rgba(29, 38, 62, 0.95);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 7px;
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 110%;
  display: block !important;
  font-size: 12px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-weight: 500;
}

.sidebar-tooltip .sb-tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(29, 38, 62,.95) transparent transparent;
}
.sidebar-tooltip:hover .sb-tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: all .3s ease-in-out; 
}


.leaflet-tooltip.polygon-label {
    padding: 1px 2px;
}

// label on leaflet polygon with style removed
.leaflet-tooltip.polygon-label.no-style,
.leaflet-tooltip.circle-point-label.no-style {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 1px 2px;

}

// remove arrow from tooltip
.leaflet-tooltip.polygon-label.no-arrow:before,
.leaflet-tooltip.circle-point-label.no-arrow:before {
  display: none;
}

// tools ruler custom tooltip style
.leaflet-tooltip.circle-point-label.tools-ruler {
    background-color: #ffcc33; 
    padding: 0 6;
    font-size: 1rem;   
}
.leaflet-tooltip.circle-point-label.tools-ruler:before{
    border-top-color: #ffcc33;  
}



// form input and error msg
// form .hasError {
//   border: #cc0033;
// }

// form .errorMsg {
//   color: #cc0033;
//   display: inline-block;  
//   line-height: 15px;
//   margin: 5px 0 0;
// }

.reset-hr{
  margin-top: 0;
  margin-bottom: 0;
}

.reset-p{
  margin-bottom: 0;
}

.reset-row {
  margin-left: auto;
  margin-right: auto;
}

.cursor-pointer{
  cursor:pointer;
}

input.error-input {
  border-color: #ed5565;
}

.vb > .vb-dragger {
    z-index: 5;
    width: 12px;
    right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0,0,0,0);
    transform: rotate3d(0,0,0,0);
    -webkit-transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    background-color: rgba(48, 121, 244,.1);
    margin: 5px 5px 5px 0;
    border-radius: 20px;
    height: calc(100% - 10px);
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
}

.card-2 {   
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);      
}

.card-4 {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.no-pd-rght{
  padding-right: 0 !important;
}

.mg-tp-1{
  margin-top: 10px;
}

.input-append-group-left{
    display: inline-block;
    background: #dde2ec;
    width: 9%;
    margin-left: -3px;
    padding: 9px 6px;
    border: 2px solid #dde2ec;
    margin-top: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-left: 1px;
}

.leaflet-control-container .leaflet-bottom.leaflet-left {
  z-index:400;
}