
/*
 *
 *   Theme customization
 *   
 *
*/

.theme-config {
  position: absolute;
  top: 90px;
  right: 0;
  overflow: hidden;
}

.theme-config-box {
  margin-right: -220px;
  position: relative;
  z-index: 2000;
  transition-duration: 0.8s;
}

.theme-config-box.show {
  margin-right: 0;
}

.spin-icon {
  background: $navy;
  position: absolute;
  padding: 7px 10px 7px 13px;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
  top: 0;
  left: 0;
  width: 40px;
  color: #fff;
  cursor: pointer;
}

.skin-settings {
  width: 220px;
  margin-left: 40px;
  background: $gray;
}

.skin-settings .title {
  background: #efefef;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  padding: 10px 15px;
  font-size: 12px;
}

.setings-item {
  padding: 10px 30px;
}

.setings-item.skin {
  text-align: center;
}

.setings-item .switch {
  float: right;
}

.skin-name a {
  text-transform: uppercase;
}

.setings-item a {
  color: #fff;
}

.default-skin, .blue-skin, .ultra-skin, .yellow-skin {
  text-align: center;
}

.default-skin {
  font-weight: 600;
  background: #283A49;
}

.default-skin:hover {
  background: #1e2e3d;
}

.blue-skin {
  font-weight: 600;
  background: url("patterns/header-profile-skin-1.png") repeat scroll 0 0;
}

.blue-skin:hover {
  background: #0d8ddb;
}

.yellow-skin {
  font-weight: 600;
  background: url("patterns/header-profile-skin-3.png") repeat scroll 0 100%;
}

.yellow-skin:hover {
  background: #ce8735;
}

.ultra-skin {
  padding: 20px 10px;
  font-weight: 600;
  background: url("patterns/3.png") repeat scroll 0 0;
}

.ultra-skin:hover {
  background: url("patterns/4.png") repeat scroll 0 0;
}


////////////////////////////////////////////////////////////////////////
//THEME ONE

$login-theme-one-top :#0e4852 ;
$login-theme-one-bottom : #044279;

.theme-one.login-page-theme:before{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#21bdca+0,6750bb+100&0.85+0,0.85+100 */
    background: -moz-linear-gradient(45deg,  rgba($login-theme-one-top,0.9) 0%, rgba($login-theme-one-bottom,0.9) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba($login-theme-one-top,0.9) 0%,rgba($login-theme-one-bottom,0.9) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba($login-theme-one-top,0.9) 0%,rgba($login-theme-one-bottom,0.9) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e4852', endColorstr='#044279',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
  }
.theme-one{
  // Login page
  .login-page-theme:before{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#21bdca+0,6750bb+100&0.85+0,0.85+100 */
    background: -moz-linear-gradient(45deg,  rgba($login-theme-one-top,0.9) 0%, rgba($login-theme-one-bottom,0.9) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba($login-theme-one-top,0.9) 0%,rgba($login-theme-one-bottom,0.9) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba($login-theme-one-top,0.9) 0%,rgba($login-theme-one-bottom,0.9) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e4852', endColorstr='#044279',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
  }


  // sidenav 
  > .navbar-default.navbar-static-side {
    background: #373392 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#0e4852),to(#044279)) !important;
    background: linear-gradient(to bottom, #0e4852 0%,#044279 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e4852', endColorstr='#044279',GradientType=0 ) !important;

  }

  .navbar-static-side .sidebar-collapse .nav-v .logo-element {
    background-color: #0e4852 !important;
  }

  .gray-bg .map-container .summary-panel .widget-wrapper.lg{
    background-color: #515e69 !important;
  }

  // top navigation
  .gray-bg .top-navbar .navbar-static-top{
    background-color: #464954 !important;
  }

  .navbar-static-side .sidebar-collapse .nav-v .nav-header{
    background-color: #0f4754 !important;
  }

  > .navbar-default .nav > li > a:hover {
    background-color: #02404a !important;
  }

  > .navbar-default .nav > li > a:focus {
    background-color: #02404a !important;
  }

  .gray-bg .top-navbar .navbar-static-top .navbar-form-custom {
    background-color: #393a3e !important;
    border: 2px solid #62656f !important;
    margin-top: 0;
    height: 34px;
    border-radius: 7px;
    padding-top: 5px;
  }
  // user  
  .gray-bg .top-navbar .navbar-static-top .dropbtn{
    background-color: #02404a !important;
  }
  .gray-bg .top-navbar .navbar-static-top .img-txt{
    background-color: #02404a !important;
  }

  .gray-bg .top-navbar .navbar-static-top .dropbtn:hover{
    background-color: #053840 !important;
  }

  .gray-bg .top-navbar .navbar-static-top .dropbtn:focus {
    background-color: #053840 !important;
  }

  // user  

  // help section  
  .gray-bg .map-container .widget-wrapper .header-help{
    background-color: #02404a !important;
  }

  .gray-bg .map-container .widget-wrapper .btn-help{
    background-color: #02404a !important;
  }
}
//help section  

//THEME ONE
////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////
//THEME TWO

// Login page
$login-theme-two-top :#b52165 ;
$login-theme-two-bottom : #9014dc;


.theme-two.login-page-theme:before{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#21bdca+0,6750bb+100&0.85+0,0.85+100 */
    background: -moz-linear-gradient(45deg,  rgba($login-theme-two-top,0.9) 0%, rgba($login-theme-two-bottom,0.9) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba($login-theme-two-top,0.9) 0%,rgba($login-theme-two-bottom,0.9) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba($login-theme-two-top,0.9) 0%,rgba($login-theme-two-bottom,0.9) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1d59', endColorstr='#520120',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
  }
.theme-two{

  .login-page-theme:before{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#21bdca+0,6750bb+100&0.85+0,0.85+100 */
    background: -moz-linear-gradient(45deg,  rgba($login-theme-two-top,0.9) 0%, rgba($login-theme-two-bottom,0.9) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba($login-theme-two-top,0.9) 0%,rgba($login-theme-two-bottom,0.9) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba($login-theme-two-top,0.9) 0%,rgba($login-theme-two-bottom,0.9) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1d59', endColorstr='#520120',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
  }

  // sidenav 
   > .navbar-default.navbar-static-side {
      background: #ad1d59 !important;
      background: -webkit-gradient(linear, left top, left bottom, from(#ad1d59),to(#520120)) !important;
      background: linear-gradient(to bottom, #ad1d59 0%,#520120 100%) !important;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1d59', endColorstr='#520120',GradientType=0 ) !important;

  }

   .navbar-static-side .sidebar-collapse .nav-v .logo-element {
      background-color: #ab275e !important;
  }

   .gray-bg .map-container .summary-panel .widget-wrapper.lg{
        background-color: #515e69 !important;
  }

  // top navigation
   .gray-bg .top-navbar .navbar-static-top{
      background-color: #464954 !important;
  }

   .navbar-static-side .sidebar-collapse .nav-v .nav-header{
      background-color: #ab275e !important;
  }

   > .navbar-default .nav > li > a:hover {
      background-color: #811943 !important;
  }

  .navbar-default .nav > li > a:focus {
      background-color: #811943 !important;
  }

   .gray-bg .top-navbar .navbar-static-top .navbar-form-custom {
      background-color: #393a3e !important;
      border: 2px solid #62656f !important;
      margin-top: 0;
      height: 34px;
      border-radius: 7px;
      padding-top: 5px;
  }
  // user  
   .gray-bg .top-navbar .navbar-static-top .dropbtn{
      background-color: #ab275e !important;
  }
   .gray-bg .top-navbar .navbar-static-top .img-txt{
    background-color: #ab275e !important;
  }

   .gray-bg .top-navbar .navbar-static-top .dropbtn:hover{
      background-color: #941f50 !important;
  }

  .gray-bg .top-navbar .navbar-static-top .dropbtn:focus {
      background-color: #941f50 !important;
  }

  // user  

  // help section  
   .gray-bg .map-container .widget-wrapper .header-help{
      background-color: #941f50 !important;
  }

   .gray-bg .map-container .widget-wrapper .btn-help{
      background-color: #941f50 !important;
  }
}
//help section  

//THEME TWO
////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////
//THEME THREE

// Login page
$login-theme-three-top :#00b5ad ;
$login-theme-three-bottom : #106394;

.theme-three.login-page-theme:before{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#21bdca+0,6750bb+100&0.85+0,0.85+100 */
  background: -moz-linear-gradient(45deg,  rgba($login-theme-three-top,0.9) 0%, rgba($login-theme-three-bottom,0.9) 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba($login-theme-three-top,0.9) 0%,rgba($login-theme-three-bottom,0.9) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba($login-theme-three-top,0.9) 0%,rgba($login-theme-three-bottom,0.9) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5ad', endColorstr='#108294',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}


.theme-three{
// sidenav 
> .navbar-default.navbar-static-side {
    background: #00b5ad !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#00b5ad),to(#108294)) !important;
    background: linear-gradient(to bottom, #00b5ad 0%,#108294 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5ad', endColorstr='#108294',GradientType=0 ) !important;

}

.navbar-static-side .sidebar-collapse .nav-v .logo-element {
    background-color: #0db4ad !important;
}

.navbar-static-side .sidebar-collapse .nav-v .nav-header{
    background-color: #0db4ad !important;
}

> .navbar-default .nav > li > a:hover{
    background-color: #0d8a94 !important;
}

> .navbar-default .nav > li > a:focus {
    background-color: #0d8a94 !important;
}

.gray-bg .map-container .summary-panel .widget-wrapper.lg{
      background-color: #515e69 !important;
}

// top navigation
.gray-bg .top-navbar .navbar-static-top{
    background-color: #334252 !important;
}

// search form top
.gray-bg .top-navbar .navbar-static-top .navbar-form-custom {
    background-color: #2c3d4e !important;
    border: 2px solid #4b5a6b !important;
    margin-top: 0;
    height: 34px;
    border-radius: 7px;
    padding-top: 5px;
}
// user  
.gray-bg .top-navbar .navbar-static-top .dropbtn{
    background-color: #0db4ad !important;
}
.gray-bg .top-navbar .navbar-static-top .img-txt{
  background-color: #0db4ad !important;
}

.gray-bg .top-navbar .navbar-static-top .dropbtn:hover {
    background-color: #089c96 !important;
}

.gray-bg .top-navbar .navbar-static-top .dropbtn:focus {
    background-color: #089c96 !important;
}

// user  

// help section  
.gray-bg .map-container .widget-wrapper .header-help{
    background-color: #089c96 !important;
}

.gray-bg .map-container .widget-wrapper .btn-help{
    background-color: #089c96 !important;
}

}
//help section  

//THEME THREE
////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////
//THEME FOUR

// Login page
$login-theme-four-top :#21bdca ;
$login-theme-four-bottom : #6750bb;

.theme-four.login-page-theme:before{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#21bdca+0,6750bb+100&0.85+0,0.85+100 */
  background: -moz-linear-gradient(45deg,  rgba($login-theme-four-top,0.9) 0%, rgba($login-theme-four-bottom,0.9) 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba($login-theme-four-top,0.9) 0%,rgba($login-theme-four-bottom,0.9) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba($login-theme-four-top,0.9) 0%,rgba($login-theme-four-bottom,0.9) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21bdca', endColorstr='#6750bb',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}

.theme-four{

  // sidenav 
  > .navbar-default.navbar-static-side {
      background: #21bdca !important;
      background: -webkit-gradient(linear, left top, left bottom, from(#21bdca),to(#6750bb)) !important;
      background: linear-gradient(to bottom, #21bdca 0%,#6750bb 100%) !important;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21bdca', endColorstr='#6750bb',GradientType=0 ) !important;

  }

  .navbar-static-side .sidebar-collapse .nav-v .logo-element {
      background-color: #30b8ca !important;
  }

  .navbar-static-side .sidebar-collapse .nav-v .nav-header{
      background-color: #30b8ca !important;
  }

  > .navbar-default .nav > li > a:hover{
      background-color: #2395a5 !important;
  }

  .navbar-default .nav > li > a:focus {
      background-color: #2395a5 !important;
  }

  .gray-bg .map-container .summary-panel .widget-wrapper.lg{
        background-color: #515e69 !important;
  }

  // top navigation
  .gray-bg .top-navbar .navbar-static-top{
      background-color: #334252 !important;
  }

  // search form top
  .gray-bg .top-navbar .navbar-static-top .navbar-form-custom {
      background-color: #2c3d4e !important;
      border: 2px solid #4b5a6b !important;
      margin-top: 0;
      height: 34px;
      border-radius: 7px;
      padding-top: 5px;
  }
  // user  
  .gray-bg .top-navbar .navbar-static-top .dropbtn{
      background-color: #21bdca !important;
  }
  .gray-bg .top-navbar .navbar-static-top .img-txt{
    background-color: #21bdca !important;
  }

  .gray-bg .top-navbar .navbar-static-top .dropbtn:hover{
      background-color: #089c96 !important;
  }

  .theme-four .gray-bg .top-navbar .navbar-static-top .dropbtn:focus {
      background-color: #089c96 !important;
  }
  // user  

  // help section  
  .gray-bg .map-container .widget-wrapper .header-help{
      background-color: #21bdca !important;
  }

  .gray-bg .map-container .widget-wrapper .btn-help{
      background-color: #21bdca !important;
  }
}
//help section  

//THEME FOUR
////////////////////////////////////////////////////////////////////////