<side-wrapper :scroller="true" data-component="EicsSummary" v-show="panelShown" >


	<template slot="scroll-content">

		<!-- Content -->		

		<div class="header">
			<span class="title">EICS</span>						
		</div>

		<eics-filter 
			:view="'mobile'" 
			:title="'Filter'" 
			:collapsible="true"
			@filterChanged="handleFilterChanged"
		></eics-filter>

		<ul class="mdm-summary-list" v-if="inViewVessels.length">
			<li 
				v-for="vessel in inViewVessels" 
				:key="vessel.vesselId"
			>
				<span class="eics-summary-name-list" 
					@click="selectListItem(vessel)"				
				>{{ getName(vessel) }}</span>
			</li>	
		</ul>

	</template>

	<template slot="extra">
		<div class="toggle-button" @click="togglePanelShown(false)">&#x3c;</div>
	</template>


</side-wrapper>