<main-wrapper :scroller="true" :override="true">
	<template slot="header">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="title clearfix">
						Add Cable 
						
						<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

						<font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
				</h1>
			</div>	
		</div>		
	</template>

	<template slot="scroll-content">	

				
		<form @submit.prevent="submit" data-vv-scope="formcable" novalidate class="form-horizontal">			

			<div class="row">				

				<!-- Top -->
				<div class="col-sm-12">

					<!-- <h1 class="title">Add Cable <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1>			 -->		
					
				</div>
			</div> <!-- end row -->

			<div class="row">
				<div class="col-sm-12">
					<cable-form
					@close="closeWidget"
					></cable-form>
				</div>
			</div>

			<hr />

			<div class="row">
				<div class="col-sm-12">
					<div class="clearfix">
						<button class="btn btn-primary pull-right btn-save">Save Changes</button>
						<button @click.prevent="closeWidget()" class="btn btn-standard pull-right btn-close">Close</button>
					</div>		
				</div>
			</div>
			
		</form>

	</template>
</main-wrapper>