<side-wrapper :scroller="true" >
	<template slot="scroll-content">
		
		<!-- Content -->

			<div class="header">
				<span class="title">Cables</span>
				<span class="pull-right">
					<button v-if="AuthorizationMixin_isGranted('Cable.Create')" @click.prevent="$router.push({name:'map.cable.main.create'})" type="button" class="btn btn-primary" style=" border: none; height: 30px;"><a style="color: white;" href="#">Add</a></button>
				</span>
			</div>			

			<ul class="mdm-summary-list" v-if="!cablesReady">
				<li class="no-item">Loading list...</li>
			</ul>	

			<ul class="mdm-summary-list" v-else-if="cablesReady && cables.length">
				<li v-for="cable in cables">
					<span 
						class="mdm-summary-name-list" 
						:class="{'text-muted': !cable.isEnable}" 
						@click.prevent="focus(cable)"
					>
						{{ cable.name }}
					</span>
					<span class="mdm-summary-action-btn">
						<div class="btn-group pull-right" role="group" aria-label="...">							
							<button v-if="AuthorizationMixin_isGranted('Cable.Update')" type="button" class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.cable.main.edit', params:{id:cable.id}})">
								<font-awesome-icon :icon="['fas', 'pencil-alt']" size="sm" />
							</button>						
							<delete-confirm
								:item="cable"
								type="cable"
								@confirm="deleteCable"
								v-if="AuthorizationMixin_isGranted('Cable.Delete')"
							>
								<template slot="content">
									<button type="button" class="btn btn-danger btn-sm">
										<font-awesome-icon :icon="['fas', 'trash-alt']" size="sm" />
									</button>
								</template>								
							</delete-confirm>
						</div>	
					</span>
				</li>
			</ul>

			<ul class="mdm-summary-list" v-else-if="cablesReady && !cables.length">
				<li class="no-item">No cable found</li>
			</ul>

		<!-- Content -->			

	</template>		
</side-wrapper>


	
