<div>
	<div class="row">

		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label for="name" class="col-lg-2 control-label">Cable Name</label>
					<div class="col-lg-10 ">
						<input 
							type="text" 
							class="form-control"
							:class="{'error-input':errors.has('formcable.name')}" 
							id="name" 
							name="name" 
							v-model="formData_name" 
							placeholder="Name of cable" 
							v-validate="`required`"										
							data-vv-validate-on="blur"
							@focus="errors.remove('name', 'formcable')"
						/>
						
						<span 
							v-if="errors.has('formcable.name')"
							class="help-block text-danger">{{ errors.first('formcable.name') }}
						</span>	
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label for="isEnable" class="col-lg-2 control-label">Enable</label>
					<div class="col-lg-10 ">
						<toggle-button v-model="formData_isEnable" color="#116fff" />
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
				
					<label for="Description" class="col-lg-2 control-label">Description</label>
					<div class="col-lg-10 ">
						<textarea class="form-control" rows="3" v-model="formData_description" placeholder="What this cable is all about"></textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label for="Color" class="col-lg-2 control-label">Color</label>
					<div class="col-lg-3 ">
						<input 
							type="color" 
							id="colour" 
							name="colour" 
							v-model="formData_colour"
							:class="{'error-input':errors.has('formcable.colour')}"
							v-validate="`required`"
							data-vv-validate-on="blur"
							@focus="errors.remove('colour', 'formcable')"  					
						/>				
						<span 
							v-if="errors.has('formcable.colour')"
							class="help-block text-danger">{{ errors.first('formcable.colour') }}
						</span>
					</div>
				</div>
			</div>
		</div>

		<!-- Top -->

	</div>

	<!-- <div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="name">Location</label>
				<input 
					type="text" 
					class="form-control"
					:class="{'error-input':errors.has('formcable.location')}" 
					id="location" 
					name="location" 
					v-model="formData_location" 
					placeholder="Name of location" 
					v-validate="`required`"										
					data-vv-validate-on="blur"
					@focus="errors.remove('location', 'formcable')"
				/>
				
				<span 
					v-if="errors.has('formcable.location')"
					class="help-block text-danger">{{ errors.first('formcable.location') }}
				</span>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="date">Date time</label>
				<datetime v-model="formData_date" type="datetime" input-class="form-control"></datetime>
			</div>
		</div>
	</div> -->


	<!-- Waypoints title -->
	<div class="row">

		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label for="Coordinates" class="col-lg-2 control-label">Coordinates</label>
					<div class="col-lg-3 ">
						<button class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.cable.tools.designer'})">Use Designer</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<!-- waypoints table -->
	<div class="row" v-if="formData.waypoints.length">
		<div class="col-lg-12">
			
		
		<table class="table table-bordered table-responsive">
			<thead>
				<tr>					
					<th>Latitude</th>
					<th>Longitude</th>				
					<th></th>	
				</tr>				
			</thead>

			<tbody>				
				<!-- <tr> -->
				<tr v-for="(wp, index) in formData.waypoints" :key="wp.id">
										
					<!-- latitude -->
					<td>
						<input 
							type="number" 
							:value="wp.latitude"
							:name="`waypoint-latitude-${wp.id}`" 
							@input="setWaypointData({id:wp.id, key:'latitude', value:$event.target.value })"
							class="form-control" 
							:class="{'error-input':errors.has(`formcable.waypoint-latitude-${wp.id}`)}" 
							v-validate.immediate="`required|decimal`" 
							data-vv-as="Latitude"
						>
					</td>
					<!-- longitude -->
					<td>
						<input 
							type="number" 
							:value="wp.longitude"
							:name="`waypoint-longitude-${wp.id}`"  
							@input="setWaypointData({id:wp.id, key:'longitude', value:$event.target.value })"
							:class="{'error-input':errors.has(`formcable.waypoint-longitude-${wp.id}`)}" 
							class="form-control" 
							v-validate.immediate="`required|decimal`" 
							data-vv-as="Longitude"
						>
					</td>
					
					<td class="remove_waypoint">
						
						<div 
							class="btn-group" 
							role="group" 
							aria-label="..." 
							v-if="formData.waypoints.length > 1"
						>											
							<button type="button" class="btn btn-danger" @click.prevent="removeWaypoint(wp.id)">
								<font-awesome-icon 
									:icon="['fas', 'trash-alt']" 
									size="lg" 
									:style="{ color: '#fff' }"
								/>
							</button>
						</div>

						<div v-else class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn btn-danger" disabled>
								<font-awesome-icon :icon="['fas', 'trash-alt']" size="lg" />
							</button>
						</div>	
					</td>
				</tr>

				<!-- add new waypoint -->
				<tr>
					<td colspan="10" class="add-waypoint">
						<div @click="addNewWaypoint">
							<span><font-awesome-icon :icon="['fas', 'plus-circle']" size="lg" /></span> 
							<span>Add New Coordinates</span>	
						</div>										
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>

</div> <!-- end form body -->