.widget-wrapper.lg label[for="isEnable"] { 
  margin-bottom: 12px;
}

.vc-sketch {    
    z-index: 1;
}

.color-container{
	padding:5px;
	border: 1px solid black;
}

.row{

}

table {
	margin-top: 15px;	
}

table thead th {
	padding: 5px;
	background-color: rgb(245,245,246);
	text-align: center;	
}

table .remove_waypoint{
	vertical-align: middle;
	width: initial;
    text-align: center;
}

table td.add-waypoint {
	color: #116fff;
	background-color: rgb(245,245,246);
}

table td.add-waypoint>div {
	cursor: pointer;
}

input[type="color"] {
	width: 100%;
	height: 40px;
	background:#fff;
	border-radius: 4px;
}
