<main-wrapper :scroller="true" override>
    <template slot="header">
      <div class="row">
        <div class="col-sm-12">
          <font-awesome-icon
            @click.prevent="closeWidget()"
            :icon="['fas', 'times-circle']"
            class="close-widget cursor-pointer pull-right"
          />
          <font-awesome-icon
            @click.prevent="$router.back()"
            :icon="['fas', 'arrow-circle-left']"
            class="close-widget cursor-pointer pull-right"
          />
        </div>
        <div class="title-container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="title clearfix">
                Tenant Filters
                <button
                  v-if="AuthorizationMixin_isGranted('TenantFilter.Create')"
                  class="btn btn-primary btn-sm"
                  @click.prevent="$router.push({name:'map.tenantFilter.create'})"
                >
                  <span
                    ><font-awesome-icon :icon="['fas', 'plus-circle']" size="lg"
                  /></span>
                  <span>Add</span>
                </button>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template slot="scroll-content">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="row">
                    <label for="keyword" class="col-lg-2 control-label">Tenant Filter Name</label>
                    <div class="col-lg-10 ">
                        <input 
                            type="text" 
                            class="form-control"
                            name="keyword" 
                            v-model="keyword"
                            placeholder="Search tenant filter"
                            @keyup.enter="keyChange"
                        />
                    </div>
                </div>
                <hr>
            </div>
            <div v-if="isDataLoaded && displayFilterList.length < 1" class="col-sm-12">
                <div class="row">
                    <p style="text-align: center;">No tenant filter available</p>
                </div>
                
            </div>
            <div v-if="isDataLoaded && displayFilterList.length > 0" class="col-sm-12">
                <div class="list-display">
                    <div class="list-row header">
                        <div class="name">Filter Name</div>
                        <div v-if="AuthorizationMixin_isGranted('TenantFilter.Assign')" class="actions">Actions</div>
                    </div>
                    <div v-for="list in displayFilterList" class="list-row body">
                        <p>{{list.filterName}}</p>
                        <div v-if="AuthorizationMixin_isGranted('TenantFilter.Assign')">
                            <button 
                            class="btn btn-primary btn-sm"
                            @click="assignFilter(list.id)"
                            >Assign</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
      
    </template>
  </main-wrapper>
  