<main-wrapper :scroller="true" override>
    <template slot="header">
      <div class="row">
        <div class="col-sm-12">
          <font-awesome-icon
            @click.prevent="closeWidget()"
            :icon="['fas', 'times-circle']"
            class="close-widget cursor-pointer pull-right"
          />
          <font-awesome-icon
            @click.prevent="$router.back()"
            :icon="['fas', 'arrow-circle-left']"
            class="close-widget cursor-pointer pull-right"
          />
        </div>
        <div class="title-container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="title clearfix">
                Assign Tenant Filter
              </h1>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template slot="scroll-content">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="row">
                    <label for="keyword" class="col-lg-2 control-label">Tenant Name</label>
                    <div class="col-lg-10 ">
                        <input 
                            type="text" 
                            class="form-control"
                            name="keyword"
                            v-model="keyword"
                            :placeholder="placeholder"
                        />
                    </div>
                </div>
                <hr>
            </div>
            <div v-if="isDataLoaded && listDisplay.length < 1" class="col-sm-12">
                <div class="row">
                    <p style="text-align: center;">No {{tenantId ? 'user' : 'tenant'}} available</p>
                </div>
                
            </div>
            <div v-if="isDataLoaded && listDisplay.length > 0" class="col-sm-12">
                <div class="list-display">
                    <div class="list-row header">
                        <div class="name">{{tenantId ? 'User' : 'Tenant'}} Name</div>
                        <div class="actions">Assign</div>
                    </div>
                    <div v-for="list in listDisplay" class="list-row body">
                        <p>{{list.name}}</p>
                        <div>
                            <toggle-button 
                            color="#116fff"
                            @change="toggleChanged(list.id, $event)"
                            :value="isToggledBool(list.id)"
                            >Assign</toggle-button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <!-- Submit close button -->
                <div class="col-sm-12 clearfix">
                    <button @click.prevent="$router.back()" class="btn btn-primary">
                        <span><i class="fa fa-chevron-left" ></i></span>
                        <span>Back</span>
                    </button>
                    <button class="btn btn-primary pull-right btn-save" @click="submit">
                        <span><i class="fa fa-check-circle"></i></span>
                        <span>Save</span>
                    </button>
                </div>	
            </div>
        </div> 
      
    </template>
    <!--  -->
  </main-wrapper>
  