<div> <!-- template-starter -->

	<div class="col-sm-12">
		<div class="form-group">
			<div class="row">
				<label for="name" class="col-lg-2 control-label">Tenant Filter Name</label>
				<div class="col-lg-10 ">
					<input 
						type="text" 
						class="form-control"
						:class="{'error-input':errors.has('tenantfilter.name')}"  				
						name="name" 
						v-model="name"
						placeholder="Tenant Filter Name"
						v-validate="`required`"										
						data-vv-validate-on="blur"
						@focus="errors.remove('name', 'tenantfilter')" 
					/>

					<span 
						v-if="errors.has('tenantfilter.name')"
						class="help-block text-danger">{{ errors.first('tenantfilter.name') }}
					</span>	
				</div>
			</div>
		</div>
	</div>

	<!-- Filter Items -->
	<div class="col-sm-12">
		<div class="filter-item">
		<div class="clearfix border-bottom">
			<label >Tenant Filter Specification</label>
		</div>

		<!-- Filter Item Details -->

		<div class="table-responsive">		
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th></th>
					<th class="filter-th-res">
						And/Or	
					</th>

					<th class="filter-th-res">
						Field
					</th>

					<th colspan="3" class="filter-th-res">
						Operator
					</th>

				</tr>				
			</thead>
			<tbody>				
				<tr v-for="(fd, index) in tenantFilterItems" :key="fd.rid">
					
					<!-- Remove button -->
					<td class="col-sm-1">
						<div class="remove-detail">
						<div class="btn-group" role="group" aria-label="...">
							<font-awesome-icon 
								v-if="index !== 0"
								@click.prevent="removeTenantFilterItem(index)" 
								:icon="['fas', 'times-circle']" 
								size="2x" 
								class="text-danger cursor-pointer"
							/>												
							<font-awesome-icon 
								v-else								
								:icon="['fas', 'times-circle']" 
								size="2x" 
								class="text-default"
							/>												
						</div>
						</div>
					</td>
					<!-- And/Or -->
					<td class="col-sm-1">
						<select2
							:disabled="index == 0"
							:fullWidth="false"                            
							:options="condition"
							:value="fd.condition"		
							@input="setTenantFilter('condition', {value:$event}, fd.rid)"
							:name="`itemdetails-condition-${fd.rid}`"
						></select2>				
					</td>

					<!-- field (columnName) -->
					<td class="col-xs-3">
						<div class="filter-td-res-field">
						<select2
							:fullWidth="false"                            
							:options="type"
							:value="fd.columnName"		
							@input="setTenantFilter('columnName', {value:$event}, fd.rid)"
							:name="`itemdetails-columnName-${fd.rid}`"
						></select2>	
						</div>			
					</td>														
					
					<!-- operator (depend on columnName)-->
					<td class="col-xs-3">
						<div class="filter-td-res-operator">
							<select2
							:fullWidth="false"                            
							:options="operation"
							:value="fd.operation"		
							@input="setTenantFilter('operation', {value:$event}, fd.rid)"
							:name="`itemdetails-operation-${fd.rid}`"
						></select2>
						</div>
						
					</td>

					<!-- value -->
					<td v-if="fd.columnName == 'mmsi'" class="col-xs-4">
						<div class="filter-td-res">
							<textarea 
								type="text" 
								class="form-control"
								:class="{'error-input':errors.has(`tenantfilter.itemdetails-columnValue-${fd.rid}`)}"
								:name="`itemdetails-columnValue-${fd.rid}`" 
								:value="fd.columnValue"
								@input="setTenantFilter('columnValue', {value:$event.target.value}, fd.rid)"
								v-validate="`required`"	
								data-vv-as=" "
								rows="6" 
	    					/>
	                        <span 
	                            v-if="errors.has(`tenantfilter.itemdetails-columnValue-${fd.rid}`)"
	                            class="help-block text-danger">{{ errors.first(`tenantfilter.itemdetails-columnValue-${fd.rid}`) }}
	                        </span>
                        </div>
                    </td>

                    <td v-else-if="fd.columnName == 'shipType'" class="col-xs-4">
						<div class="filter-td-res">
							<select2
								:fullWidth="false"            
								:value="fd.columnValue"
								v-validate="'required|excluded:0'" 
								data-vv-as="ship type option"
								:name="`itemdetails-columnValue-${fd.rid}`"
								v-if="shipTypeOptions.length"
								@input="setTenantFilter('columnValue', {value:$event}, fd.rid)"
								:options="shipTypeOptions"
							></select2>
							<select v-else disabled class="form-control"></select>
							<span 
                                v-if="errors.has(`tenantfilter.itemdetails-columnValue-${fd.rid}`)"
                                class="help-block text-danger">{{ errors.first(`tenantfilter.itemdetails-columnValue-${fd.rid}`) }}
                            </span>
                        </div>
                    </td>

					<td v-else-if="fd.columnName == 'aisType'" class="col-xs-4">
						<div class="filter-td-res">
							<select2
								:fullWidth="false"            
								:value="fd.columnValue"
								v-if="aisTypeOptions.length"
								@input="setTenantFilter('columnValue', {value:$event}, fd.rid)"
								:options="aisTypeOptions"
							></select2>
                        </div>
                    </td>
				</tr>

				<tr>
					<td colspan="5">
						<a href="#" @click.prevent="addTenantFilterItem">
							<div class="btn add-details" role="group" aria-label="...">
								<span>
									<font-awesome-icon 									
										:icon="['fas', 'plus-circle']" 
										size="2x"  
										class="text-success cursor-pointer"
									/>	
								</span>	
								<span>&nbsp;Add more tenant filter details</span>								
							</div>
						</a>						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
</div> <!-- template-starter -->