<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li class="active">Footer</li>
        	</ul>
        	<div class="content">
        		<p><b>1) Total Vessel</b></p>
        		<p>Total of vessel will show based on vessel type at screen. </p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="footerImg1"></p>

        		<p><b>2) Map View</b></p>
        		<p>Click icon Switch to Bing Map to switch Open Street Map view and there have 3 options in Bing Map such as Bing Hybrid Map, Bing Satellite Map and Bing Standard Map.</p>
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="footerImg2"></p>

        		<p><b>3) ENC</b></p>
        		<p>Click icon ENC Base to show Electronic Navigational Charts (ENC) on map. There have 4 options of ENC such as ENC Base, ENC Standard, ENC All and Water only. </p>
        		<p><img @click.prevent="showVesselImage('img3')" class="myImg" :src="footerImg3"></p>

        		<p><b>4) Mile Marker</b></p>
        		<p>Drag the map and zoom the map to measure distance use mile marker. </p>
        		<p><img @click.prevent="showVesselImage('img4')" class="myImg" :src="footerImg4"></p>
        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				:title="title"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import footerImg1 from '../../../../../images/help-topic/footer-1.png'
	import footerImg2 from '../../../../../images/help-topic/footer-2.png'
	import footerImg3 from '../../../../../images/help-topic/footer-3.png'
	import footerImg4 from '../../../../../images/help-topic/footer-4.png'

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')
		}
	})
	export default class FooterContent extends Vue{

		showModal = false
		title = ''
		footerImg1 = footerImg1
		footerImg2 = footerImg2
		footerImg3 = footerImg3
		footerImg4 = footerImg4

		showVesselImage(img){
			const images = {
				img1 : footerImg1,
				img2 : footerImg2,
				img3 : footerImg3,
				img4 : footerImg4
			}
			const titles = {
				img1 : 'Total Vessel',
				img2 : 'Map View',
				img3 : 'ENC',
				img4 : 'Mile Marker'
			}
			this.modalImg = images[img]
			this.title = titles[img]
			this.showModal = true
		}

	}
</script>