<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.zone'}">Zone</router-link></li>
        		<li class="active">Zone Designer</li>
        	</ul>
        	
        	<div class="content">
        		<p>The Zone Designer allows users to draw any precise zone on a map or chart. It is a powerful tool for the visualization of a desired monitoring zone. It can also provide a basis for reports.</p>
        		<p>The Zone Designer can be used to create two types of zones (Circle and Polygon) and two types of lines (Line L and Line R). </p>
        		<p>Click the Zone button <img class="small-icon" :src="require('../../../../../images/help-topic/zone-icon.png')"> in the side menu and click <b>Add</b> button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> to open the Zone Designer window. </p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="zoneImg1"></p>
        		
				<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="zoneImg2"></p>
        		
        		<p><b>Zone Name</b> - Use this box to display the zone name. </p>
        		<p><b>Enable</b> - Check this box to enable a zone. </p>
        		<p><b>Zone Type</b> - Select a type of zone (Circle/Polygon) or a type of line (Line L/Line R) from the drop-down list. </p>
        		<p><img @click.prevent="showVesselImage('img3')" class="myImg" :src="zoneImg3"></p>
        		
        		<p><b>Radius</b> - Enter the radius length in Nautical Miles (NM). Note: this option is only available for the circle zone. </p>
        		<p><b>Color</b> - Select a predefined color from the drop-down list. </p>
        		<p><b>Fill</b> - Check this box to shade the zone's area on the map.</p>
        		<p><b>Latitude and Longitude</b> - Enter the zone's coordinates. For circle zones, this is the center of the circle. Tip: you may also use the designer mode.</p>
        		<p><img class="small-icon" :src="require('../../../../../images/help-topic/delete-icon.png')"> - Click this button to select the latitude and longitude pair(s) you wish to remove. </p>
        		<p><b>Use designer mode</b> - Create zone points by clicking on the map.</p>
        		<p><b>Save Changes</b> - Save changes and return to the main view.</p>
        		<p><b>Close</b> - Cancel all changes and return to the main view. </p>
        		<p><b>Designer Mode</b> allows users to create two types of lines, "Line L" and "Line R", to distinguish outbound traffic from inbound traffic.</p>
        		<p>&bull; If you draw "Line L", then all inbound traffic will be from your left-hand side. </p>
				<p>&bull; If you draw "Line R" then all inbound traffic will be from your right-hand side.</p> 

				&bull; <i>Note</i>: To choose the right type of line, imagine that you are looking along the line from the beginning of the line to the endpoint. The beginning of the line is your click on the chart and the endpoint is your second click. Refer to the pictures below. 
        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example Zone Designer"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'

	import zoneImg1 from '../../../../../images/help-topic/zone-designer-1.png'
	import zoneImg2 from '../../../../../images/help-topic/zone-designer-2.png'
	import zoneImg3 from '../../../../../images/help-topic/zone-designer-3.png'	

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class ZoneDesignerHelper extends Vue{

		showModal = false
		modalImg = ''
		zoneImg1 = zoneImg1
		zoneImg2 = zoneImg2
		zoneImg3 = zoneImg3

		showVesselImage(img){
			const images = {
				img1 : zoneImg1,
				img2 : zoneImg2,
				img3 : zoneImg3
			}
			this.modalImg = images[img]
			this.showModal = true

		}
		
	}
</script>