<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li class="active">Zone</li>
        	</ul>
        	<router-link tag="li" :to="{name:'knowledgebase.right.zoneCreate'}">1. Create Zone<i class="fa fa-arrow-right pull-right"></i></router-link>
        	<router-link tag="li" :to="{name:'knowledgebase.right.zoneEdit'}">2. Edit Zone<i class="fa fa-arrow-right pull-right"></i></router-link>
        	<router-link tag="li" :to="{name:'knowledgebase.right.zoneDelete'}">3. Delete Zone<i class="fa fa-arrow-right pull-right"></i></router-link>
        	<router-link tag="li" :to="{name:'knowledgebase.right.zoneDesigner'}">4. Zone Designer<i class="fa fa-arrow-right pull-right"></i></router-link>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'		

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper')			
		}
	})
	export default class ZoneContent extends Vue{
		
	}
</script>