<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.zone'}">Zone</router-link></li>
        		<li class="active">Create Zone</li>
        	</ul>
        	<div class="content">
        		<p>1) Circle zone</p>
        		<p>Click the Zone button  in the side menu and click <b>Add</b> button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> to open the <b>Zone Designer</b> window. </p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="zoneImg1"></p>
        		
        		<p>i) Type "Test Zone Circle" in the Zone Name field. </p>
        		<p>ii) Leave the Enable box checked. </p>
        		<p>iii) Select “Circle” from the Zone Type drop-down list. </p>
        		<p>iv) Leave the default numerical value in the Radius field. </p>
        		<p>v) Select “Yellow” from the Color drop-down list.</p>
        		<p>vi)Leave the Fill box checked. </p>
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="zoneImg2"></p>
        		
        		<p>Click Use designer mode box to select the center of your circle. You will be redirected to the map view. Click on your desired location to establish your circle zone's center. Click the button to go back to the Zone Designer window.</p>
        		<p>Tip: Zooming in on the map enlarges the circle for better precision. </p>
        		<p><img @click.prevent="showVesselImage('img3')" class="myImg" :src="zoneImg3"></p>
        		
        		<p>The Zone Designer will now display the exact latitude and longitude coordinates of your circle zone's center. </p>
        		<p><img @click.prevent="showVesselImage('img4')" class="myImg" :src="zoneImg4"></p>
        		
        		<p>Click the Save Changes button to save zone changes. You should now see a circle around your selected zone on the map. </p>


        		<p>2) Polygon zone</p>
        		<p>&bull; Click the Zone button <img class="small-icon" :src="require('../../../../../images/help-topic/zone-icon.png')"> in the side menu and click <b>Add</b> button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> to open the Zone Designer window.</p>
        		<p>&bull; Type "Test Zone Polygon" in the Zone Name field. </p>
        		<p>&bull; Leave the Enable box checked. </p>
        		<p>&bull; Select “Polygon” from the Zone Type drop-down list. </p>
        		<p>&bull; Select “Blue” from the Color drop-down list. </p>
        		<p>&bull; Leave the Fill box checked. </p>
        		<p>&bull; Click Use designer mode box to add polygon points. You will be redirected to the map view. 
     			<p>&bull; Connect horizontal line segments together by clicking points around the desired area's perimeter in a clockwise direction. Follow our example shown in the image above to contain a similar area on the map within a series of irregular line segments (forming a polygon).</p> 
     			<p><img @click.prevent="showVesselImage('img5')" class="myImg" :src="zoneImg5"></p>
        		
     			<p>&bull; Do not worry if your shape does not look identical to our example. It is OK to have the polygon cover parts of land. </p>
     			<p>&bull; Once you are satisfied with your shape, click the button to go back to the Zone Designer window. A list of latitude and longitude coordinates should now appear in the Zone Designer window.</p>
     			<p>&bull; Click the Save Changes button to save zone changes. You should now see a polygon around your selected zone on the map. </p>
        		<p>3) Line</p>
        		<p>&bull;Click the Zone button <img class="small-icon" :src="require('../../../../../images/help-topic/zone-icon.png')"> in the side menu and click <b>Add</b> button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> to open the Zone Designer window.</p>
        		<p>&bull;Type "Test Zone Line" in the Zone Name field.</p>
        		<p>&bull;Leave the Enable box checked. </p>
        		<p>&bull;Select “Line L” from the Zone Type drop-down list. </p>
        		<p>&bull;Select “Green” from the Color drop-down list. </p>
        		<p>&bull;Leave the Fill box checked. </p>
        		<p>&bull;Click Use designer mode box to add line points. You will be redirected to the map view.</p> 
        		<p>&bull;To draw the line, click once on the map to set <b>Point 1</b>, and click a second time to set <b>Point 2</b>. A red line will automatically appear between the two points you have clicked. </p>
        		<p>&bull;Once you are satisfied with your shape, click the  button to go back to the Zone Designer window. A list of latitude and longitude coordinates should now appear in the Zone Designer window.  </p>
        		<p>&bull; Click the Save Changes button to save zone changes. You will see the Latitude and Longitude fields filled with the coordinates of the two points clicked on the map. </p>
        	</div>
        	
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example Create Zone"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
	</div>	
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import zoneImg1 from '../../../../../images/help-topic/zone-create-1.png'
	import zoneImg2 from '../../../../../images/help-topic/zone-create-2.png'
	import zoneImg3 from '../../../../../images/help-topic/zone-create-3.png'
	import zoneImg4 from '../../../../../images/help-topic/zone-create-2.png'
	import zoneImg5 from '../../../../../images/help-topic/zone-create-3.png'

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class ZoneCreateHelper extends Vue{

		showModal = false
		modalImg = ''
		zoneImg1 = zoneImg1
		zoneImg2 = zoneImg2
		zoneImg3 = zoneImg3
		zoneImg4 = zoneImg4
		zoneImg5 = zoneImg5

		showVesselImage(img){
			const images = {
				img1 : zoneImg1,
				img2 : zoneImg2,
				img3 : zoneImg3,
				img4 : zoneImg4,
				img5 : zoneImg5
			}
			this.modalImg = images[img]
			this.showModal = true

		}
		
	}
</script>