<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.zone'}">Zone</router-link></li>
        		<li class="active">Delete Zone</li>
        	</ul>
        	
        	<div class="content">
        		
        		<p>Click the Delete button<button class="btn btn-primary btn-sm"><i class="fa fa-trash"></i></button> in the toolbar to open the Confirmation dialog box. Click Confirm button to delete the existing zone.</p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="zoneImg1"></p>
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="zoneImg2"></p>
        		
        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example Delete Zone"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'

	import zoneImg1 from '../../../../../images/help-topic/zone-delete-1.png'
	import zoneImg2 from '../../../../../images/help-topic/zone-delete-2.png'	

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class ZoneDesignerHelper extends Vue{

		showModal = false
		modalImg = ''
		zoneImg1 = zoneImg1
		zoneImg2 = zoneImg2

		showVesselImage(img){
			const images = {
				img1 : zoneImg1,
				img2 : zoneImg2
			}
			this.modalImg = images[img]
			this.showModal = true

		}
	}
</script>