<side-wrapper :scroller="true" data-component="FilterSummary">
	<template slot="scroll-content">
		
		<!-- Content -->

		<div class="header">
			<span class="title">Filter</span>
			<span class="btn-group pull-right">
				<button v-if="AuthorizationMixin_isGranted('VesselGroup.Create')" title="Vessel Group" @click.prevent="$router.push({name:'map.filter.vesselGroup.list'})" type="button" class="btn btn-vesselGrp btn-sm">
					<img :src="require('../../../../../images/sidebar-icon/vessel-group.svg')" width="30px">
				</button>
				<button v-if="AuthorizationMixin_isGranted('Filter.Create')" @click.prevent="$router.push({name:'map.filter.main.create'})" type="button" class="btn btn-vesselGrp btn-sm">Add</button>
			</span>
		</div>	

			<ul class="mdm-summary-list">
				<li  
					v-for="filter in filters" 
					:key="filter.id"					
				>
					<span class="mdm-summary-name-list" 
						@click="selectFilter(filter)"
						:class="{'text-muted':!filter.isEnable}"				
					>{{ filter.name }}</span>
					<span class="mdm-summary-action-btn">
						<div class="btn-group pull-right" role="group" aria-label="...">							
							<button v-if="AuthorizationMixin_isGranted('Filter.Update')" type="button" class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.filter.main.edit', params:{id:filter.id}})">
								<font-awesome-icon :icon="['fas', 'pencil-alt']" size="sm" />
							</button>
							<delete-confirm
								:item="filter"
								type="filter"
								@confirm="removeFilter"
								v-if="AuthorizationMixin_isGranted('Filter.Delete')"
							>
								<template slot="content">
									<button type="button" class="btn btn-danger btn-sm">
										<font-awesome-icon :icon="['fas', 'trash-alt']" size="sm" />
									</button>
								</template>								
							</delete-confirm>							
						</div>	
					</span>
				</li>
			</ul>
	
		<!-- Content -->

		
		<!-- <a href="#" @click.prevent="addFilter">Add Filter</a> -->

	</template>		
</side-wrapper>


	
