<div>
	
	<div class="col-sm-12">
		<!-- name -->
		<div class="form-group">
			<label for="name">Filter Name</label>
			<input type="text" class="form-control" id="name" name="name" v-model="name"/>
		</div>

		<div class="form-group">	

			<!-- enable/disable -->										
			<div style="margin-right: 20px; display: inline-block;">
				<label for="name">Enable</label>
					<toggle-button v-model="isEnable" color="#116fff" />
			</div>

			<!-- Show/Hide -->
			<label for="name">Show Ship</label>
			<toggle-button color="#116fff" v-model="isShowShips"/>	
		</div>	

		<!-- Field Selects -->
		<div class="col-sm-12">
			
			<table class="table">
				<thead>
					<tr>
						<th style="width: 2%"></th>
						<th class="col-sm-1">And/Or</th>
						<th class="col-sm-2">Field</th>
						<th class="col-sm-1">Operator</th>
						<th class="col-sm-3">Value</th>
					</tr>
				</thead>

				<tbody>
					<tr class="fade-in" v-for="(dto, index) in formData.filterItemDtos" :key="dto.id">
						<td>
							<div class="btn-group" role="group" aria-label="..." v-if="index !== 0">
								<font-awesome-icon @click.prevent="removeDtoItem(dto.id)" :icon="['fas', 'times-circle']" size="2x" class="text-danger cursor-pointer"/>												
							</div>
						</td>
						<td>									
							<select2
								:options="andOrOptions"
								value="and"	
								:disabled="index === 0"									
								@input="filterItemDtosChanged('andOr', $event, dto.id)"
							></select2>
						</td>								
						<td>									
							<select2
								:options="fieldOptions"
								value=""											
								@input="fieldChange($event, dto.id)"
							></select2>
						</td>
						<td>									
							<select2
								:options="operatorOptions"
								value="="											
								@input="filterItemDtosChanged('operator', $event, dto.id)"
							></select2>
						</td>
						<td>
							<value-input
								:value="dto.value"
								:dtoId="dto.id"
								:valueFieldFor="dto.field"
								@updatevalue="valueChanged"
							/> 
						</td>
					</tr>
				</tbody>
			</table>

			<div class="form-group">
				<button class="btn btn-primary btn-sm" @click.prevent="addFilterItemDtos">
					<span><font-awesome-icon :icon="['fas', 'plus-circle']" size="lg" /></span> 
					<span>Add New Clause</span>
				</button>
			</div>

		</div>
	
	</div>	

</div>