<div> <!-- template-starter -->

	<div class="col-sm-12">
		<div class="form-group">
			<div class="row">
				<label for="name" class="col-lg-2 control-label">Vessel Group Name</label>
				<div class="col-lg-10 ">
					<input 
						type="text" 
						class="form-control"
						:class="{'error-input':errors.has('formvesselgroup.name')}"  				
						name="name" 
						v-model="name"
						placeholder="Vessel Group Name"
						v-validate="`required`"										
						data-vv-validate-on="blur"
						@focus="errors.remove('name', 'formvesselgroup')" 
					/>

					<span 
						v-if="errors.has('formvesselgroup.name')"
						class="help-block text-danger">{{ errors.first('formvesselgroup.name') }}
					</span>	
				</div>
			</div>
		</div>
	</div>

	<!-- Filter Items -->
	<div class="col-sm-12">
		<div class="filter-item">
		<div class="clearfix border-bottom">
			<label >Vessel Group Specification</label>
		</div>

		<!-- Filter Item Details -->

		<div class="table-responsive">		
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th></th>
					<th class="filter-th-res">
						And/Or	
					</th>

					<th class="filter-th-res">
						Field
					</th>

					<th colspan="3" class="filter-th-res">
						Operator
					</th>

				</tr>				
			</thead>
			<tbody>				
				<tr v-for="(vgi, index) in vesselGroupDetails" :key="vgi.rid">
					<!-- Remove button -->
					<td class="col-sm-1">
						<div class="remove-detail">
						<div class="btn-group" role="group" aria-label="...">
							<font-awesome-icon 
								v-if="index !== 0"
								@click.prevent="removeVesselGroupItem(index)" 
								:icon="['fas', 'times-circle']" 
								size="2x" 
								class="text-danger cursor-pointer"
							/>												
							<font-awesome-icon 
								v-else								
								:icon="['fas', 'times-circle']" 
								size="2x" 
								class="text-default"
							/>												
						</div>
						</div>
					</td>
					<!-- And/Or -->
					<td class="col-sm-1">
						<select2
							:fullWidth="false"                            
							:options="andOrOptions"
							:value="vgi.condition"		
							@input="setVesselGroup('condition', {value:$event}, vgi.rid)"
							:name="`itemdetails-condition-${vgi.rid}`"
						></select2>				
					</td>

					<!-- field (columnName) -->
					<td class="col-xs-3">
						<div class="filter-td-res-field">
						<select2
							:fullWidth="false"                            
							:options="fieldOptions"
							:value="vgi.columnName"		
							@input="setVesselGroup('columnName', {value:$event}, vgi.rid)"
							:name="`itemdetails-columnName-${vgi.rid}`"
						></select2>	
						</div>			
					</td>														
					
					<!-- operator (depend on columnName)-->
					<td class="col-xs-3">
						<div class="filter-td-res-operator">
							<select2
							:fullWidth="false"                            
							:options="operatorOptions"
							:value="vgi.operation"		
							@input="setVesselGroup('operation', {value:$event}, vgi.rid)"
							:name="`itemdetails-operation-${vgi.rid}`"
						></select2>
						</div>
						
					</td>

					<!-- value -->
					<td v-if="(vgi.operation == '!=' || vgi.operation == '=' || vgi.operation == 'startWith') && vgi.columnName == 'mmsi'" class="col-xs-4">
						<div class="filter-td-res">
							<input 
	                            type="text" 
								class="form-control"
								:class="{'error-input':errors.has(`formvesselgroup.itemdetails-columnValue-${vgi.rid}`)}"
								:name="`itemdetails-columnValue-${vgi.rid}`" 
								:value="vgi.columnValue"
								@input="setVesselGroup('columnValue', {value:$event.target.value}, vgi.rid)"
								:placeholder="valuePlaceholder(vgi.columnName, vgi.operation)"
								v-validate="`required|numeric`"	
								data-vv-as=" " 
	                        />
	                        <span 
	                            v-if="errors.has(`formvesselgroup.itemdetails-columnValue-${vgi.rid}`)"
	                            class="help-block text-danger">{{ errors.first(`formvesselgroup.itemdetails-columnValue-${vgi.rid}`) }}
	                        </span>
                        </div>
                    </td>

                    <td v-else-if="vgi.operation == '!=' || vgi.operation == '=' || vgi.operation == 'startWith'" class="col-xs-4">
						<div class="filter-td-res">
							<input 
	                            type="text" 
								class="form-control"
								:class="{'error-input':errors.has(`formvesselgroup.itemdetails-columnValue-${vgi.rid}`)}"
								:name="`itemdetails-columnValue-${vgi.rid}`" 
								:value="vgi.columnValue"
								@input="setVesselGroup('columnValue', {value:$event.target.value}, vgi.rid)"
								:placeholder="valuePlaceholder(vgi.columnName, vgi.operation)"
								v-validate="`required|alpha_spaces`"	
								data-vv-as=" " 
	                        />
	                        <span 
	                            v-if="errors.has(`formvesselgroup.itemdetails-columnValue-${vgi.rid}`)"
	                            class="help-block text-danger">{{ errors.first(`formvesselgroup.itemdetails-columnValue-${vgi.rid}`) }}
	                        </span>
                        </div>
                    </td>


					
					<td v-else class="col-xs-4">
						<div class="filter-td-res">
							<textarea 
								type="text" 
								class="form-control"
								:class="{'error-input':errors.has(`formvesselgroup.itemdetails-columnValue-${vgi.rid}`)}"
								:name="`itemdetails-columnValue-${vgi.rid}`" 
								:value="vgi.columnValue"
								@input="setVesselGroup('columnValue', {value:$event.target.value}, vgi.rid)"
								:placeholder="valuePlaceholder(vgi.columnName, vgi.operation)"
								v-validate="`required`"	
								data-vv-as=" "
								rows="6" 
	    					/>
	    					<span 
	                            v-if="errors.has(`formvesselgroup.itemdetails-columnValue-${vgi.rid}`)"
	                            class="help-block text-danger">{{ errors.first(`formvesselgroup.itemdetails-columnValue-${vgi.rid}`) }}
	                        </span>
                        </div>
                    </td>
				</tr>

				<tr>
					<td colspan="5">
						<a href="#" @click.prevent="addVesselGroupItem">
							<div class="btn add-details" role="group" aria-label="...">
								<span>
									<font-awesome-icon 									
										:icon="['fas', 'plus-circle']" 
										size="2x"  
										class="text-success cursor-pointer"
									/>	
								</span>	
								<span>&nbsp;Add more vessel group details</span>								
							</div>
						</a>						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
</div> <!-- template-starter -->