<main-wrapper :scroller="true">

	<template slot="header">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="title clearfix">
						Add Filter 
						
						<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

						<font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
				</h1>
			</div>	
		</div>		
	</template>

	<template slot="scroll-content">
		
		<form @submit.prevent="submit" data-vv-scope="formfilter" novalidate class="form-horizontal">			

			<div class="row">				

				<filter-form></filter-form>							

			</div> <!-- end row -->

			<hr />

			<div class="row">
				<!-- Submit close button -->
				<div class="col-sm-12 clearfix">
					<button class="btn btn-primary pull-right">Save Changes</button>
					<button @click.prevent="closeWidget()" class="btn btn-standard pull-right">Close</button>
				</div>	
			</div>			
			
		</form>

	</template>
</main-wrapper>