.table {
	min-width: 800px;
}

.add-details {
	display: flex;
  	align-items: center;  	
}

.lg .add-details {
    padding-left: 40px;
}

.filter-item {
	border: 2px solid #dde2ec;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    transition: all .3s ease-in
}

.filter-item:hover{
	border: 2px solid #a0a7b5;
	transition: all .3s ease-in
}

.btn-group.add-spec {
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
  	align-items: center;
}
.color {
	width: 100%;
	height: 40px;
	background: #fff;
	border-radius: 4px;
}

.remove-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.border-bottom{
	border-bottom:1px solid #e6e6e6;
}

.mg-btm-1{
	margin-bottom: 19px;
}

@media screen and (max-width: 480px){
	.filter-td-res{
		width: 200px !important;
	}

	.filter-td-res-operator{
		width: 150px !important;
	}

	.filter-td-res-field{
		width: 160px !important;
	}
	.pb-res{
		margin-bottom: 20px;
	}

	.pb-res-t{
		margin-bottom: 10px;
	}

	.control-label{
		width: 100%;
	}
}