<v-fragment> <!-- template-starter -->

	<div class="col-sm-12">
		<div class="form-group">
			<div class="row">
				<label for="name" class="col-lg-2 control-label">Filter Name</label>
				<div class="col-lg-10 ">
					<input 
						type="text" 
						class="form-control"
						:class="{'error-input':errors.has('formfilter.name')}"  				
						name="name" 
						v-model="name"
						placeholder="Filter name"
						v-validate="`required`"										
						data-vv-validate-on="blur"
						@focus="errors.remove('name', 'formfilter')" 
					/>

					<span 
						v-if="errors.has('formfilter.name')"
						class="help-block text-danger">{{ errors.first('formfilter.name') }}
					</span>	
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="form-group">
			<div class="row">
				<label for="isEnable" class="col-lg-2 control-label">Enable</label>
				<div class="col-lg-10 ">
					<toggle-button v-model="isEnable" :sync="true" color="#116fff" />
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="form-group mg-btm-1">
			<div class="row">
				<label for="isShowShips" class="col-lg-2 control-label">Show Ship</label>
				<div class="col-lg-10 ">
					<toggle-button color="#116fff" v-model="isShowShips" :sync="true"/>	
				</div>
			</div>
		</div>
	</div>
		
	<div class="col-sm-12">

		<!-- name -->
<!-- 		<div class="form-group">
			<label for="name">Filter Name</label>						

			<input 
				type="text" 
				class="form-control"
				:class="{'error-input':errors.has('formfilter.name')}"  				
				name="name" 
				v-model="name"
				placeholder="Filter name"
				v-validate="`required`"										
				data-vv-validate-on="blur"
				@focus="errors.remove('name', 'formfilter')" 
			/>

			<span 
				v-if="errors.has('formfilter.name')"
				class="help-block text-danger">{{ errors.first('formfilter.name') }}
			</span>	
		</div> -->

	</div>

	<!-- Filter Items -->
	<div class="col-sm-12" v-for="(fi, index) in filterItems" :key="fi.rid">

		<div class="filter-item">

		<div class="clearfix border-bottom">
			<label >Filter specification</label>

			<font-awesome-icon 
				@click.prevent="removeFilterItem(fi.rid)" 
				:icon="['fas', 'times-circle']" 
				class="cursor-pointer text-danger pull-right"
				v-if="index"
				size="2x"  
			/>

			<font-awesome-icon 
				@click.prevent="" 
				:icon="['fas', 'times-circle']" 
				class="pull-right"
				v-else
				size="2x"  
			/>			
		</div>
		

		<div class="row">

			<div class="col-sm-12">
				<div class="form-group">
					<div class="row">
						<label class="col-lg-2 col-xs-12 control-label" >Select Color</label>
						<div class="col-lg-2 col-xs-6">
							<label :for="`item-color-${fi.rid}`">Color</label>
							<input 
								class="color" 
								@input="setFormFilterItem({key:'colour', value:$event.target.value, rid:fi.rid})"
								type="color" 
								:name="`item-colour-${fi.rid}`" 
								:value="fi.colour"
							/>	
						</div>
						<div class="col-lg-2 col-xs-6">
							<label :for="`item-borderColour-${fi.rid}`">Border Color</label>
							<input 
								class="color"
								@input="setFormFilterItem({key:'borderColour', value:$event.target.value, rid:fi.rid})"
								type="color" 
								:name="`item-borderColour-${fi.rid}`" 
								:value="fi.borderColour"
							/>	
						</div>
					</div>
				</div>
			</div>
			<!-- color -->
			
		</div>

		<!-- Filter Item Details -->

		<div class="table-responsive">		
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th></th>
					<th class="filter-th-res">
						And/Or	
					</th>

					<th class="filter-th-res">
						Field
					</th>

					<th colspan="3" class="filter-th-res">
						Operator
					</th>

				</tr>				
			</thead>
			<tbody>				
				<tr v-for="(fid, fidIndex) in fi.filterDetails" :key="fid.rid">
					<!-- Remove button -->
					<td class="col-sm-1">
						<div class="remove-detail">
						<div class="btn-group" role="group" aria-label="...">
							<font-awesome-icon 
								v-if="fidIndex !== 0"
								@click.prevent="removeFilterDetail({itemRid:fi.rid, detailRid:fid.rid})" 
								:icon="['fas', 'times-circle']" 
								size="2x" 
								class="text-danger cursor-pointer"
							/>												
							<font-awesome-icon 
								v-else								
								:icon="['fas', 'times-circle']" 
								size="2x" 
								class="text-default"
							/>												
						</div>
						</div>
					</td>
					<!-- And/Or -->
					<td class="col-sm-1">
						<select2
							:fullWidth="false"                            
							:options="andOrOptions"							
							:value="fid.condition"				
							@input="setFormFilterItemDetails({key:'condition', value:$event, itemRid:fi.rid, detailRid:fid.rid})"
							:name="`itemdetails-condition-${fid.rid}`"
						></select2>				
					</td>

					<!-- field (columnName) -->
					<td class="col-xs-3">
						<div class="filter-td-res-field">
						<select2
							:fullWidth="false"                            
							:options="fieldOptions"
							:value="fid.columnName"				
							@input="setFormFilterItemDetails({key:'columnName', value:$event, itemRid:fi.rid, detailRid:fid.rid})"
							:name="`itemdetails-columnName-${fid.rid}`"
						></select2>	
						</div>			
					</td>														
					
					<!-- operator (depend on columnName)-->
					<td class="col-xs-3">
						<div class="filter-td-res-operator">
							<operator-input
								:field="fid.columnName"
								:itemRid="fi.rid"
								:detailRid="fid.rid"							
							></operator-input>
						</div>
						
					</td>

					<!-- value -->
					<td class="col-xs-4">
						<div class="filter-td-res">
							<value-input
								:field="fid.columnName"
								:itemRid="fi.rid"
								:detailRid="fid.rid"
							></value-input>
						</div>
						
					</td>									
				</tr>

				<tr>
					<td colspan="5">
						<a href="#" @click.prevent="addFilterDetail(fi.rid)">
							<div class="btn add-details" role="group" aria-label="...">
								<span>
									<font-awesome-icon 									
										:icon="['fas', 'plus-circle']" 
										size="2x"  
										class="text-success cursor-pointer"
									/>	
								</span>	
								<span>&nbsp;Add more filter details</span>								
							</div>
						</a>						
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>
	</div> <!-- End Filter Items -->

	<div class="col-sm-12">
		<a href="#" @click.prevent="addFilterItem">
			<div class="btn-group add-spec" role="group" aria-label="...">
				<span>
					<font-awesome-icon 					
						:icon="['fas', 'plus-circle']" 
						size="2x"  
						class="text-info cursor-pointer"
					/>	
				</span>	
				<span>&nbsp;Add more filter specifications</span>									
			</div>	
		</a>		
	</div>
	

</v-fragment> <!-- template-starter -->