<div>
    <!-- Confirm modal -->
    <confirm-modal
    title="Confirm deletion"
    :content="confirmRemoveContent"
    v-if="showDeleteVesselGroupConfirmation"
    @confirm="doRemoveVesselGroup"
    @cancel="cancelRemoveVesselGroup"
    ></confirm-modal>

    <main-wrapper :scroller="true">
        <template slot="header">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="title clearfix">
                            List Vessel Group 
                            <span>
                                <button title="Add Vessel Group" type="button" class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.filter.vesselGroup.create'})"><font-awesome-icon :icon="['fas', 'plus-circle']" size="sm" /> Add</button>
                            </span>
                            <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

                            <font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
                    </h1>
                </div>  
            </div>      
        </template>
        <template slot="scroll-content">
            <div data-component="AtonList">

                <div class="row">
                    <div class="col-sm-12">
                        <!-- <h1 class="title" style="color:#116fff; font-weight: 500;">Vessel Group<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/> -->
                            
                        </h1>  
                    </div>
                </div>
                
                <local-data-table
                    :fields="tableFields"
                    :sortField="sortFieldByType"
                    :data="tableData"
                    :borderedTable="true"
                    :pointerCell="true"
                    @search="search"
                    @updateField="updateField"
                    @actionEdit="editVesselGroup"
                    @actionDelete="removeVesselGroup"
                    :actions="['edit','delete']"
                >
                </local-data-table>
                    

            </div> <!-- scroll-content -->

        </template>
    </main-wrapper>
</div>