<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>
	.btn-success {
	    color: #fff;
	    background-color: #5cb85c;
	    border-color: #4cae4c;
	}

	.btn-group {
		display: block;
	}
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>	
	<div data-component="ExportButtons">
		<div class="btn-group">
			<button class="btn btn-danger" 
			v-if="hasAction('pdf')"
			@click.prevent="exportPDF">
				<span>
					<font-awesome-icon :icon="['fas', 'file-pdf']" />
				</span>
				<span>PDF</span>
			</button>
			<button class="btn btn-success" 
			v-if="hasAction('excel')"
			@click.prevent="exportExcel">
				<span>
					<font-awesome-icon :icon="['fas', 'file-excel']" />
				</span>
				<span>Excel</span>
			</button>

			<button class="btn" 
			v-if="hasAction('csv')"
			@click.prevent="exportExcel('csv')">
				<span>
					<font-awesome-icon :icon="['fas', 'file-csv']" />
				</span>
				<span>CSV</span>
			</button>	
		</div>
	</div>	
</template>


<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	import { Component, Prop, Watch } from 'vue-property-decorator'	
	import Vue from 'vue'	

	import jsPDF from 'jspdf';
	import 'jspdf-autotable';

	import Excel from "exceljs/dist/es5/exceljs.browser";

	import { saveAs } from 'file-saver';
    
/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	@Component
	export default class ExportButtons extends Vue {

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/
		@Prop() fields // required, array of string / field definition objects
		@Prop() data   // required, array of json data object
		@Prop({default:[]}) actions
		@Prop({default:'my-data.csv'}) titleCSV
		

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/


/*
mounted
 */
		mounted(){
			console.log("%c titleCSV: ", conStyle.boldRed, this.titleCSV)
			// console.log("%c fields: ", conStyle.boldRed, this.fields)			
		}	

		hasAction(action){
        	return _.includes(this.actions, action)
        }	

/*
exportPDF
 */
		exportPDF(){
			const head = [[]]
			const body = []
			
			this.fields.filter( f => f.active && f.inReport ).forEach((f)=>{
				head[0].push(f.title)
			})

			Object.byString = function(o, s) {
			    s = s.replace(/\[(\w+)\]/g, '.$1'); // convert indexes to properties
			    s = s.replace(/^\./, '');           // strip a leading dot
			    var a = s.split('.');
			    for (var i = 0, n = a.length; i < n; ++i) {
			        var k = a[i];
			        if (k in o) {
			            o = o[k];
			        } else {
			            return;
			        }
			    }
			    return o;
			}

			this.data.forEach((d)=>{
				const bd = []
				
				this.fields.filter( f => f.active && f.inReport ).forEach((f)=>{

					// console.log("%cOS:", conStyle.boldRed, Object.byString(f, f.name))

					// var value = Object.byString(f, f.name)
					bd.push(Object.byString(d, f.name))
				})

				body.push(bd)

			})

			const doc = new jsPDF('l');
			doc.autoTable({head, body, theme:'grid'})
			doc.save('table.pdf');

		}

/*
exportExcel
 */
		exportExcel(type = 'excel'){			
			
			const workbook = new Excel.Workbook();

			workbook.creator = localStorage.username;
			workbook.lastModifiedBy = localStorage.username;
			workbook.created = new Date();
			workbook.modified = new Date();
			workbook.lastPrinted = new Date();

			const sheet = workbook.addWorksheet('Sheet 1');
			
			// prepare column headers
			const columns = []
			this.fields.filter( f => f.active && f.inReport ).forEach((f)=>{
				columns.push({
					header: f.title,
					key: f.name
				})
			})
			sheet.columns = columns		

			Object.byString = function(o, s) {
			    s = s.replace(/\[(\w+)\]/g, '.$1'); // convert indexes to properties
			    s = s.replace(/^\./, '');           // strip a leading dot
			    var a = s.split('.');
			    for (var i = 0, n = a.length; i < n; ++i) {
			        var k = a[i];
			        if (k in o) {
			            o = o[k];
			        } else {
			            return;
			        }
			    }
			    return o;
			}
			
			// add data
			this.data.forEach((data)=>{
				const row = {}
				columns.forEach((c)=>{
					row[c.key] = Object.byString(data, c.key)
				})
				sheet.addRow(row);
			})

			this._autoSize(sheet, 0)

			if(type == 'csv'){
				workbook.csv.writeBuffer().then( data => {
					const blob = new Blob([data], { type: 'text/csv;charset=utf-8;' });

					saveAs.saveAs( blob, this.titleCSV);
				});				
			}
			else{
				workbook.xlsx.writeBuffer().then( data => {
					const blob = new Blob( [data], {type: "application/octet-stream"} );
					saveAs.saveAs( blob, 'myexcel.xlsx');
				});	
			}									
			
		}

		_autoSize(sheet, fromRow) {

			const PIXELS_PER_EXCEL_WIDTH_UNIT = 7.5

			const canvas = document.createElement('canvas')
			const ctx = canvas.getContext('2d')
			if (!ctx) {
				return
			}

			const maxColumnLengths = []
			sheet.eachRow((row, rowNum) => {
				if (rowNum < fromRow) {
					return
				}

				row.eachCell((cell, num) => {
					if (typeof cell.value === 'string') {
						if (maxColumnLengths[num] === undefined) {
							maxColumnLengths[num] = 0
						}

						const fontSize = cell.font && cell.font.size ? cell.font.size : 11
						ctx.font = `${fontSize}pt Arial`
						const metrics = ctx.measureText(cell.value)
						const cellWidth = metrics.width

						maxColumnLengths[num] = Math.max(maxColumnLengths[num], cellWidth)
					}
				})
			})

			for (let i = 1; i <= sheet.columnCount; i++) {
				const col = sheet.getColumn(i)
				const width = maxColumnLengths[i]
				if (width) {
					col.width = width / PIXELS_PER_EXCEL_WIDTH_UNIT + 1
				}
			}
		}

	} // end class

</script>

