<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>
	/deep/ .table > thead > tr > th, 
	/deep/ .table > tbody > tr > th, 
	/deep/ .table > tfoot > tr > th, 
	/deep/ .table > thead > tr > td, 
	/deep/ .table > tbody > tr > td, 
	/deep/ .table > tfoot > tr > td
	{
		white-space: nowrap;
	}	
	
	.vuetable-pagination-info {
		margin-top: 8px;
	}	

	.has-search .form-control-feedback {
		right: initial;
		left: 10;
		color: #ccc;
		top: 1;
	}

	/deep/ .sort-icon {
		float: none !important;
	}

	.pagination-container {
	    margin-top: 10px;
	    margin-bottom: 10px;
	}

	.has-search .form-control {
		padding-right: 12px;
		padding-left: 34px;
		padding-top: 0;
		padding-bottom: 0;
		margin-right: 5px;
    	margin-bottom: 5px;
	}
	
	.has-feedback {
	    max-width: 300px;
	    width: 100%;	    
	}

	.search-btn {		
    	min-height: 34;    	
	}

	.pull-right .search-btn {
		margin-top: -5px;
	}

	.export-buttons {
		margin-bottom: 5px;
	}

	.edit-column-link {
		margin-right: 5px;
		margin-top: 7px;
	}

	/*styling for draggable*/
	.ghost {
	  opacity: 0.5;
	  background: #c8ebfb;
	}	

	.column-edit .list-group-item:hover {
		cursor: move;
	}

	.column-edit .row{
		display: flex;
    	justify-content: center;
	}

	.column-edit .drag-column:first-child {
		margin-right:20px;
	}

	.column-edit .drag-column {
		border: 1px solid lightgrey;
	}

	.column-edit .disabled .list-group{
		height: 100%;
	}

	.column-edit .list-group .list-group-item {
		background-color: white;
	}



</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<div data-component="VueTableLocalTable">		
				
		<!-- Actual search box -->
		<div class="clearfix">

			<div class="row">
				<div class="col-sm-4 export-buttons">
					<export-buttons :data="data" :fields="fields" :actions="['pdf','excel','csv']" v-if="data.length"></export-buttons>		
				</div>

				<div class="col-sm-8">													
					<form class="form-inline clearfix">												
						<div 
							class="form-group has-feedback has-search" 
							:class="{'pull-right':isSmAndLarger}" 
							v-if="searchable"
						>
							<font-awesome-icon :icon="['fas', 'search']" size="lg" class="form-control-feedback"/>
							<input type="text" class="form-control" placeholder="Search" v-model="searchTerm">
							<button class="btn btn-primary btn-sm search-btn" @click.prevent="search()" v-if="searchable">Search</button>							
						</div>

						<a href="" :class="{'pull-right':isSmAndLarger}" class="edit-column-link" @click.prevent="showEditColumn = !showEditColumn">
							<font-awesome-icon :icon="['fas', 'cog']" size="sm" :style="{ color: '#337ab7' }" />
							Edit Column
						</a>
					</form>					
				</div>
			</div>
									
		</div>
		

		<!-- pagination -->
		<div class="pagination-container clearfix">
			<vuetable-pagination-info 
				ref="paginationInfoTop"
				:css="css.pagination"
			>
			</vuetable-pagination-info>
				
				<vuetable-pagination
					ref="paginationTop"
					@vuetable-pagination:change-page="onChangePage"
					:css="css.pagination"
				>
				</vuetable-pagination>    

		</div>                

		<!-- the table -->
		<div :class="{'table-responsive': responsive}">
			<vuetable ref="vuetable"
				:api-mode="false"
				:fields="activeFields"
				:per-page="perPage"
				:css="css.table"
				:data-manager="dataManager"	
				:sort-order="sortField"			
				pagination-path="pagination"
				@vuetable:row-clicked="rowClicked"
				@vuetable:pagination-data="onPaginationData"				
			>
			<template slot="actions" slot-scope="props" v-if="actions.length">				
		        <div align="center" class="custom-actions">
			        <button title="View" class="btn btn-primary btn-sm"
			        	v-if="hasAction('view')"			            
			            @click="$emit('actionView', {data:props.rowData, index:props.rowIndex})"
			        >
			            <font-awesome-icon :icon="['fas', 'eye']" size="sm" />
			        </button>
			        <button title="Edit" class="btn btn-primary btn-sm"
			        	v-if="hasAction('edit')"			            
			            @click="$emit('actionEdit', {data:props.rowData, index:props.rowIndex})"
			        >
			            <font-awesome-icon :icon="['fas', 'pencil-alt']" size="sm" />
			        </button>
			        <button title="Delete" class="btn btn-danger btn-sm"
			        	v-if="hasAction('delete')"			            
			            @click="$emit('actionDelete', {data:props.rowData, index:props.rowIndex})"
			        >
			            <font-awesome-icon :icon="['fas', 'trash-alt']" size="sm" />
			        </button>
		        </div>
		    </template>   				
			</vuetable>
		</div>

		<!-- pagination -->
		<div class="pagination-container clearfix">        
			
			<vuetable-pagination-info 
				ref="paginationInfo"
				:css="css.pagination"
			>
			</vuetable-pagination-info>
			
			<vuetable-pagination
				ref="pagination"
				@vuetable-pagination:change-page="onChangePage"
				:css="css.pagination"
			>
			</vuetable-pagination>

		</div>

		<!-- edit column modal -->
		<modal
			title="Edit Column"				
			v-if="showEditColumn && fields.length"	
			class="column-edit"
			@modalClosed="updateField"	
		>
			<template slot="body">

				<div class="row">
												
					<div class="col-sm-5 drag-column disabled">
						<h3>Disabled</h3>
						<draggable 
							class="list-group" 
							:list="fieldListHidden" 
							group="fields" 
							@change="log"
							ghost-class="ghost"
						>
							<div
								class="list-group-item"
								v-for="(element, index) in fieldListHidden"
								:key="element.name"
							>
								{{ element.title }}
							</div>
						</draggable>	
					</div>

					<div class="col-sm-5 drag-column">
						<h3>Active</h3>
						<draggable 
							class="list-group" 
							:list="fieldListShown" 
							group="fields" 
							@change="log"
							ghost-class="ghost"
						>
							<div
								class="list-group-item"
								v-for="(element, index) in fieldListShown"
								:key="element.name"
							>
								{{ element.title }}
							</div>
						</draggable>
					</div>
				</div>

			</template>
			
		</modal>
	</div>
</template>


<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	import { Component, Prop, Watch } from 'vue-property-decorator'	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	// vuetable-2
	import Vuetable from 'vuetable-2/src/components/Vuetable'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'    
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'

    import draggable from "vuedraggable";    

    const AppScreenSizeModule = namespace('app/screensize')

    @Component({
		components: {					
			Vuetable,
            VuetablePagination,
            VuetablePaginationInfo,
            'export-buttons': ()=> import('./ExportButtons'),
            'modal': () => import('../Modal'),
            draggable
		}
	})
/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	export default class VueTableLocalTable extends Vue {

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/
		@Prop() fields // required, array of string / field definition objects
		@Prop() data   // required, array of json data object

		@Prop({default:10}) perPage
		@Prop({default:[]}) sortField		

		// optional for disabling (default: enabled)
		@Prop({default:true}) stripedTable
		@Prop({default:true}) responsive
		@Prop({default:true}) searchable		
		@Prop({default:true}) columnEditable		

		// optional to be enabled (default: not enabled)
		@Prop({default:false}) borderedTable
		@Prop({default:false}) pointerCell

		// prop thst allowed to be changed
		@Prop({default:''}) ascendingIcon
		@Prop({default:''}) descendingIcon

		@Prop({default:[]}) actions 	

		@AppScreenSizeModule.Getter isSmAndLarger	

		searchTerm = ''
		showEditColumn = false
		

		fieldListHidden = []	
		fieldListShown = []	

		componentData = {
			props: {
				type: "transition",
				name: "flip-list"
			}
		}
		
		css = {
			table: {                
				tableClass: 'table table-hovered',
				loadingClass: 'loading',
				ascendingIcon: 'glyphicon glyphicon-chevron-up',
				descendingIcon: 'glyphicon glyphicon-chevron-down',
				handleIcon: 'glyphicon glyphicon-menu-hamburger',
			},
			pagination: {
				infoClass: 'pull-left',
				wrapperClass: 'vuetable-pagination pull-right',
				activeClass: 'btn-primary',
				disabledClass: 'disabled',
				pageClass: 'btn btn-border',
				linkClass: 'btn btn-border',
				icons: {
					first: '',
					prev: '',
					next: '',
					last: '',
				},
			}
		}

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/

/*
mounted
 */
		mounted(){			
			this.updateFieldList()
		}

		updateFieldList(){			
			this.fieldListShown = _.cloneDeep(this.fields).filter( f => f.active )
			this.fieldListHidden = _.cloneDeep(this.fields).filter( f => !f.active )	
		}

/*
created
 */
		created(){
			// add classes if user choose to
			if(this.borderedTable){this.css.table.tableClass = `${this.css.table.tableClass} table-bordered`}			

			// add class by default
			if(this.stripedTable){
				this.css.table.tableClass = `${this.css.table.tableClass} table-striped`
			}

			if(this.pointerCell){
				this.css.table.tableClass = `${this.css.table.tableClass} cursor-pointer`	
			}	

			// class allowed to be change
			if(this.ascendingIcon){this.css.table.ascendingIcon = this.ascendingIcon}
			if(this.descendingIcon){this.css.table.descendingIcon = this.descendingIcon}
		}		

/*
watchers
 */
		@Watch('data')
		dataChanged(){
			this.$refs.vuetable.refresh()			
		}

		@Watch('fields')
		fieldsChanged(){
			this.$nextTick(()=>{
			     this.$refs.vuetable.normalizeFields();
			     this.updateFieldList()

			})			
		}

/*
onPaginationData
 */
		onPaginationData (paginationData) {
            this.$refs.pagination.setPaginationData(paginationData)
            this.$refs.paginationTop.setPaginationData(paginationData)

            this.$refs.paginationInfo.setPaginationData(paginationData)
            this.$refs.paginationInfoTop.setPaginationData(paginationData)
        }


/*
hasAction
 */
        hasAction(action){
        	return _.includes(this.actions, action)
        }

/*
onChangePage
 */
        onChangePage (page) {
            this.$refs.vuetable.changePage(page)
        }

/*
dataManager
 */
        dataManager(sortOrder, pagination) {        	

        	// if (this.data.length < 1) return;

        	let local = this.data;

			// sortOrder can be empty, so we have to check for that as well
			if (sortOrder.length > 0) {
				// console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
				local = _.orderBy(
					local,
					sortOrder[0].sortField,
					sortOrder[0].direction
				);
				
				this.$emit('changeOrder', sortOrder)
			}
			else if(this.sortField.length > 0){
				
				local = _.orderBy(
					local,
					this.sortField[0].sortField,
					this.sortField[0].direction
				);				
			}


			pagination = this.$refs.vuetable.makePagination(
				local.length,
				this.perPage
			);
			// console.log('pagination:', pagination)
			let from = pagination.from - 1;
			let to = from + this.perPage;

			return {
				pagination: pagination,
				data: _.slice(local, from, to)
			};
		}			
		
/*
search
 */
		search(){
			this.$emit('search', this.searchTerm)
		}

/*
rowClicked
 */
		rowClicked(dataItem, event){			
			this.$emit('rowClicked', {dataItem, event})
		}

		log(evt) {			

			// make sure all active field is indeed active
			this.fieldListShown = this.fieldListShown.map( f => {
				f.active = true
				return f
			})

			// and non active field is indeed non active
			this.fieldListHidden = this.fieldListHidden.map( f => {
				f.active = false
				return f
			})
		}

		updateField(){
			this.$emit('updateField', [...this.fieldListShown, ...this.fieldListHidden])
		}

		get activeFields(){
			console.log("%cFields:", conStyle.boldRed, this.fields)
			return this.fields.filter(f=>f.active)
		}	

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})
		}	

	} // end class

</script>

