<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->

<style scoped>

    .page-container {
        margin-bottom: 10px;
    }

    .vuetable-pagination-info {
        margin-top: 5px;
        display: inline-block;
    }    

    .table-responsive {
        margin-bottom: 10px;
    }


</style>


<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
    <div>

        <div class="page-container clearfix">
            <vuetable-pagination-info 
                ref="paginationInfoTop"
                :css="css.pagination"
            ></vuetable-pagination-info>
            <vuetable-pagination
                ref="paginationTop"
                @vuetable-pagination:change-page="onChangePage"
                :css="css.pagination"
            >
            </vuetable-pagination>    
        </div>
        
        <div :class="{'table-responsive':isResponsive}">
            <vuetable ref="vuetable"
                :api-url="apiUrl"
                :fields="fields"
                :pagination-path="paginationPath"
                @vuetable:pagination-data="onPaginationData"
                :per-page="pageSize"
                :css="css.table"
                :multi-sort="multiSort"
                multi-sort-key="ctrl"
                :sort-order = "sortOrder"
            >
            </vuetable>    
        </div>
        
        <div class="page-container clearfix">        
            <vuetable-pagination-info 
                ref="paginationInfo"
                :css="css.pagination"
            ></vuetable-pagination-info>
            <vuetable-pagination
                ref="pagination"
                @vuetable-pagination:change-page="onChangePage"
                :css="css.pagination"
            >
            </vuetable-pagination>
        </div>
    </div>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->

<script>    

    import { Component, Prop } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'
    import Vue from 'vue'
    import Vuetable from 'vuetable-2/src/components/Vuetable'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    // import VuetablePagination from 'vuetable-2/src/components/VuetablePaginationDropdown'
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'

    import utilHelper from '../../../../helpers/util'

    @Component({
        components:{
            Vuetable,
            VuetablePagination,
            VuetablePaginationInfo
        }
    })
    export default class ServerTable extends Vue{

/*
########   ########    #######   ########   ########   ########   ########   ####  ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##         ##     ##     ##       ##   ##         ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         ##     ##     ##       ##   ##         ##         
########   ########   ##     ##  ########   ######     ########      ##       ##   ######      ######    
##         ##   ##    ##     ##  ##         ##         ##   ##       ##       ##   ##               ##   
##         ##    ##   ##     ##  ##         ##         ##    ##      ##       ##   ##         ##    ##   
##         ##     ##   #######   ##         ########   ##     ##     ##      ####  ########    ######    
*/                

        @Prop() fields
        @Prop({default:[]}) sortOrder
        @Prop() apiUrl
        @Prop({default:true}) isResponsive
        @Prop({default:''}) paginationPath
        @Prop({default:10}) pageSize
        @Prop({default:false}) multiSort

       
        css = {
            table: {                
                tableClass: 'table table-striped table-bordered table-hovered',
                loadingClass: 'loading',
                ascendingIcon: 'glyphicon glyphicon-chevron-up',
                descendingIcon: 'glyphicon glyphicon-chevron-down',
                handleIcon: 'glyphicon glyphicon-menu-hamburger',
            },
            pagination: {
                infoClass: 'pull-left',
                wrapperClass: 'vuetable-pagination pull-right',
                activeClass: 'btn-primary',
                disabledClass: 'disabled',
                pageClass: 'btn btn-border',
                linkClass: 'btn btn-border',
                icons: {
                    first: '',
                    prev: '',
                    next: '',
                    last: '',
                },
            }
        }                

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/               

        onPaginationData (paginationData) {
            this.$refs.pagination.setPaginationData(paginationData)
            this.$refs.paginationTop.setPaginationData(paginationData)

            this.$refs.paginationInfo.setPaginationData(paginationData)
            this.$refs.paginationInfoTop.setPaginationData(paginationData)
        }

        onChangePage (page) {
            this.$refs.vuetable.changePage(page)
        }

    }
</script>