<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<div>
        <map-select @toggleMap="changeMapLayer"></map-select>
        <div v-if="this.mapType == 'bing'">
            <hybrid @toggleMap="changeMapLayer" :class="{selected:selectedMapType == 'hybrid'}"></hybrid>
            <satellite @toggleMap="changeMapLayer" :class="{selected:selectedMapType == 'satellite'}"></satellite>
            <road  @toggleMap="changeMapLayer" :class="{selected:selectedMapType == 'road'}"></road>
        </div>
    </div>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 

    const ZoomLevelStatusModule = namespace('status/zoomLevel')
    const MapModule = namespace('map')

    @Component({
        components: {
            'map-select': ()=> import('./mapSelect'),
            'hybrid': ()=> import('./hybridMap'),
            'satellite': ()=> import('./satelliteMap'),
            'road': ()=> import('./roadMap')
        }
    })    
    export default class MapSelectFloatPane extends Vue {      
        
        @MapModule.Getter mapType
        @MapModule.Getter selectedMapType
        @MapModule.Getter map
        @MapModule.Getter mapLayerGroups

        @MapModule.Mutation setMapLayerGroup        

        created(){

            const layerGroup = L.layerGroup().addTo(this.map);
            this.setMapLayerGroup({name:'MapTypes', layerGroup})
        }

        changeMapLayer(){
            this.mapLayerGroups.get('MapTypes').clearLayers()           
            Event.fire('Map.Base.Layer.Change')
        }
    }

</script>