<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="./style.scss"></style>
<style scoped>
	@media (max-width: 768px){
	    .widget-wrapper.override{
	        bottom: 55px !important;
	    }
	}
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<float-wrapper 		
		:bottom="30" 
		:left="26"
		:override="true"
	>
		<template slot="content">
			<div @click.prevent="toggleMapType" class="cursor-pointer icon-container" :class="{'active':selectedMapType == 'bing'}">
				<div v-if="mapType == 'bing'">
					<img title="Switch to Open Street Map"  :src="require('../../../../../images/map-icon/bing.svg')"></img>
				</div>
				<div v-if="mapType == 'osm'">
					<img title="Switch to Bing Map"  :src="require('../../../../../images/map-icon/osm.svg')"></img>
				</div>
				
			</div>
		</template>
	</float-wrapper>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>

	import { Component, Emit } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'

	import L from 'leaflet';

	const MapModule = namespace('map')

	@Component({
		components: {
			'float-wrapper': ()=> import('../../../common/WidgetContainers/map/FloatWrapper')
		}
	})
	export default class MapSelect extends Vue {		
		
		@MapModule.Getter mapType
		@MapModule.Getter selectedMapType
		@MapModule.Getter map
		@MapModule.Getter mapLayerGroups

		@MapModule.Mutation setMapType
		@MapModule.Mutation setSelectedMapType

		toggleMapType(){

			const MapTypesLayerGroup = this.mapLayerGroups.get('MapTypes')

			this.toggleMap()

			if(this.mapType == 'osm'){
				// set to bing        
		        L.tileLayer.bing({
		            bingMapsKey:"Ail3t2wBm_ZNc-QSmYH1aMNjpyia6DzyNgGZzvpGIs-cmJeVrjVQdDQ5_EA-F-Yr",
		            imagerySet:'CanvasLight'	            
		        }).addTo(MapTypesLayerGroup)
		        this.setMapType('bing')
		        this.setSelectedMapType('bing')
			}
			else{
				this.setMapType('osm')
				this.setSelectedMapType('osm')
			}			
		}

		@Emit('toggleMap')
		toggleMap(){}

	}

</script>