<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="./style.scss"></style>
<style scoped>
	@media (max-width: 768px){
	    .widget-wrapper.override{
	        bottom: 148px !important;
	    }
	}
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<float-wrapper 		
		:bottom="128" 
		:left="26"
		:override="true"
	>
		<template slot="content">
			<div title="Bing Standart Map" @click.prevent="toggleMapType" class="cursor-pointer icon-container">
				<img v-if="mapType == 'bing' " :src="require('../../../../../images/map-icon/bing-standart.svg')"></img>
			</div>
		</template>
	</float-wrapper>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>

	import { Component, Emit } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'

	import L from 'leaflet';

	const MapModule = namespace('map')

	@Component({
		components: {
			'float-wrapper': ()=> import('../../../common/WidgetContainers/map/FloatWrapper')
		}
	})
	export default class MapSelect extends Vue {		
		
		@MapModule.Getter mapType
		@MapModule.Getter selectedMapType
		@MapModule.Getter map
		@MapModule.Getter mapLayerGroups

		@MapModule.Mutation setSelectedMapType

		toggleMapType(){

			const MapTypesLayerGroup = this.mapLayerGroups.get('MapTypes')

			this.toggleMap()
   
	        L.tileLayer.bing({
	            bingMapsKey:"Ail3t2wBm_ZNc-QSmYH1aMNjpyia6DzyNgGZzvpGIs-cmJeVrjVQdDQ5_EA-F-Yr",
	            imagerySet:'Road'	            
	        }).addTo(MapTypesLayerGroup)
	        this.setSelectedMapType('road')
		}

		@Emit('toggleMap')
		toggleMap(){}


	}

</script>