.status-item{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    width: max-content;        
    margin-left: 5px;
    margin-right: 5px;
}

.control-button:nth-child(2){
    margin-left: 5px;    
}    

.control-button {
    margin-right: 2px;
}

@media (max-width: 480px){
    .status-item{
        max-width: 215px;
    }
}