﻿<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
-->
<style scoped>
    .btn-group[data-v-3c7c8b6d] {
        display: block;
    }
    .number-input{
      float: right;
      right: 230;
      position: fixed !important;
    }
    .speedIcon{
      position: fixed;
      right: 360;
      margin-top: 3px;
    }

    #timeline.no-data {
        min-height: 135px;
    }

    .timeline-container .timeline,
    .timeline-container .playback-cover 
    {       
        position: absolute;        
        bottom: 5px;
        left: 10px;
        width: calc(100% - 20px);
        background-color: #fff;
        padding-top: 5px;
        padding-right: 5px;
        border-radius: 6px;
        padding-left: 5px;
        padding-bottom: 5px;
        box-shadow: 0 8px 30px rgba(5,11,15,.29);       
    }

    .timeline-container .timeline {
        z-index: 500;
    }

    .timeline-container .playback-cover{        
        z-index: 600;        
        height: 125px;
        border-top-left-radius: unset;
        border-top-right-radius: unset; 
        display: flex;     
        align-content: center;
        justify-content: center;
    }

    .timeline-container .playback-cover p {
        line-height: 125px;
    }

    .datepicker {        
        padding-left: 10px;
        margin-bottom: 5px;
    }

    .datepicker-container {
        position: relative;
        margin-bottom: 15px;        
    }

    .input-icon {
        margin-top: 3px;
        margin-right: 4px;
    }

    .close {
        margin-left: 5px;
    }    

</style>

<style>
    .leaflet-bottom .playControl{
      bottom: 129;
      right: 380; 
      z-index:600;    
      position: absolute;
    }    
    .leaflet-control-layers-expanded {
      padding: 0;
    }
    .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
      border: 0;
    }    
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
-->
<template>

    <div class="timeline-container">
    
        <div class="playback-cover" v-show="!dataReady">
            <img width="60px" :src="require('../../../../images/three-dots.svg')">            
        </div>    

        <div class="playback-cover" v-show="dataReady && !pointExist">
            <p class="text-danger">No data available for {{selectedNames}} on selected date and time</p>    
        </div>
    
        <div class="timeline" ref="timeline">

            <div class="datepicker-container">
                <font-awesome-icon :icon="['fas', 'tachometer-alt']" size="lg" class="pull-right speedIcon" />
                <number-input :min="1" :step="1" :value="1" :max="1000" :inputtable="true" @change="speedChange" inline center controls class="number-input"></number-input>
                <button class="btn pull-right btn-sm close" @click="closePlaybackForm"><font-awesome-icon :icon="['fas', 'times']" /></button>
                <input type="text" name="dates" ref="datepicker" class="datepicker pull-right" >
                <font-awesome-icon :icon="['fas', 'calendar']" size="lg" class="input-icon pull-right" />  
                <export-buttons :titleCSV="'playback-data.csv'" :data="newPlaybackData" :fields="field" :actions="['csv']" v-if="playbackData.length"></export-buttons>          
            </div>                    
                
            <div id="timeline" :class="{'no-data': !timeline}"></div>    
        </div>

    </div>

</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
-->
<script>

    import Vue from 'vue'
    import { Component } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'
    import VueNumberInput from '@chenfengyuan/vue-number-input';

    import L from 'leaflet';
    import 'vis/dist/vis.css'
    import * as vis from 'vis/dist/vis.js'
    import 'leaflet-play/dist/LeafletPlayback.js'     

    import VesselIcon from '../../../../images/vessel-icons/red.png'

    import 'daterangepicker/daterangepicker.css'
    import 'daterangepicker/daterangepicker.js'

    import moment from 'moment'

    Vue.component(VueNumberInput.name, VueNumberInput);

    const MapModule = namespace('map')
    const PlaybackModule = namespace('playback')
    const VesselDetailsModule = namespace('vesselDetails')
    const VesselDetailsColorModule = namespace('vesselDetails/colors') 

    @Component({
        components: {
            'export-buttons': ()=> import('../../common/libs/vuetable/ExportButtons')
        }
    })

    export default class PlaybackForm extends Vue {

        @PlaybackModule.Mutation togglePlaybackEnabled
        @PlaybackModule.Mutation clearSelectedIds
        @PlaybackModule.Mutation setDateRange        
        @PlaybackModule.Mutation clearMultipleVesselPoint
        @PlaybackModule.Mutation clearSelectedNames
        @MapModule.Mutation clearMapLayers
        @MapModule.Mutation setDefaultMapLayers
        @VesselDetailsModule.Mutation('toggleVesselDetails') toggleVesselDetailsPane

        @MapModule.Getter map
        @PlaybackModule.Getter selectedIds
        @PlaybackModule.Getter selectedNames
        @PlaybackModule.Getter selectedVessels
        @PlaybackModule.Getter startDate
        @PlaybackModule.Getter endDate
        @PlaybackModule.Getter pointList
        @PlaybackModule.Getter multipleVesselsPoint
        @PlaybackModule.Getter('data') playbackData
        @PlaybackModule.Getter pointExist
        @PlaybackModule.Getter field
        @PlaybackModule.Mutation getDate

        @PlaybackModule.Action updatePlaybackData

        // color module
        @VesselDetailsColorModule.Getter colorByShipTypeName

        playback = null
        timeline = null
        markerGroup = null
        speedFactor = 1
        initialSpeed = 20

        dataReady = false     

        /*
        speedChange
         */
        speedChange(newValue){            
            if(this.playback){                
                this.playback.setSpeed((newValue + this.initialSpeed) * this.speedFactor);
            }
        }

        /*
        created
         */
        created(){             
            Event.listen('Map.ActivateWidget', (widget)=>{if(widget !== 'PlaybackForm'){this.closePlaybackForm()}})
            Event.listen('Map.ClearWidget', ()=>{this.closePlaybackForm()})
        }        

        /*
        mounted
         */
        mounted(){         
            // console.log("%cselectedVessels:", conStyle.boldRed, this.selectedVessels)
            $('.leaflet-control-attribution').css('display', 'none')

            this.dataReady = false
            this.getDate({
                start: moment().subtract(1, 'hours'),
                end: moment()
            })
            console.log("%c startDate: ", conStyle.boldRed, this.startDate)
            console.log("%c endDate: ", conStyle.boldRed, this.endDate)
            // this.clearMapLayers()            
            this.initDatePicker()
            this.updatePlayback()  
        }

        /*
        updatePlayback
         */
        updatePlayback(){             

            this.clearMultipleVesselPoint()

            this.updatePlaybackData({startDate:this.startDate, endDate:this.endDate}).then(
                (data)=>{                  

                    if(this.pointExist){
                        this.setTimeline()
                        this.setPlayback()
                        this.setPolyline() 
                    }                    

                    this.dataReady = true                                     
                    
                },
                (error)=>{  

                    Event.fire('Notification.ServerError', {message: `Something went wrong, please try again.`})

                    console.error(error)
                }
            )
        }

        /*
        setTimeline
         */
        setTimeline(data){
            // Create a DataSet with data
            let vesselName =  this.selectedNames == '' ? 'MDM Playback' : this.selectedNames

            const timelineData = new vis.DataSet([{ start: this.startDate, end: this.endDate, content: vesselName }]);

            // Set timeline options
            const timelineOptions = {
                "width":  "100%",
                "height": "120px",
                "style": "box",
                "axisOnTop": true,
                "showCustomTime":true,
                "showCurrentTime": false,
                "zoomable": false,
                "moveable": false,
                "selectable": false
            };

            // destroy if already run
            if(this.timeline){
                this.timeline.destroy()
                this.timeline = null
            }

            // Setup timeline
            this.timeline = new vis.Timeline(this.$refs.timeline, timelineData, timelineOptions);

            // Set custom time marker (blue)
            this.timeline.setCustomTime(this.startDate);

            this.timeline.on('timechange', this.onCustomTimeChange);
        }

        /*
        setPolyline
         */
         setPolyline(){

            if(this.markerGroup){
                this.map.removeLayer(this.markerGroup)
            }

            this.markerGroup = new L.FeatureGroup().addTo(this.map);

            _.each(this.multipleVesselsPoint, (val, index) => {
                _.each(this.multipleVesselsPoint[index].data, (val1, index1) => {

                    L.circleMarker(this.multipleVesselsPoint[index].data[index1], { radius: 1.2, weight: 1.2})
                    .addTo(this.markerGroup);
                    
                });
            });
     
            _.each(this.multipleVesselsPoint, (val, index) => {
                    let polyline = L.polyline(this.multipleVesselsPoint[index].data, { noClip: true, weight: 1, color: this.getColorByMmsi(this.multipleVesselsPoint[index].mmsi) })
                    .addTo(this.markerGroup);
            });

            this.map.fitBounds(this.markerGroup.getBounds());
        }

        getColorByMmsi(mmsi){
            var vessel = this.selectedVessels.filter(f =>f.mmsi == mmsi)
            // console.log("%cgetcolorbymmsi:", conStyle.boldRed, vessel[0])
            return vessel[0].color
        }

        get newPlaybackData(){
            // console.log("%cselectedVessels:", conStyle.boldRed, this.selectedVessels)
            let newArray = []
            let newObject = {}

            _.each(this.playbackData, (r,index1)=>{
                let coordinates = r.geometry.coordinates
                let orientations = r.properties.orientations
                let time = r.properties.time
                let targetData = r.targetData

                for(let index in r.properties.time ){
                    newObject = {}
                    newObject.name = this.selectedVessels[index1].vesselName
                    newObject.mmsi = this.selectedVessels[index1].mmsi
                    newObject.draught = this.selectedVessels[index1].maxDraught
                    newObject.lengthXbeam = this.selectedVessels[index1].lengthXbeam
                    newObject.latitude = coordinates[index][1]
                    newObject.longitude = coordinates[index][0]
                    newObject.sog = targetData[index].sog
                    newObject.navStatus = targetData[index].navStatus
                    newObject.destination = targetData[index].destination
                    newObject.orientations = orientations[index]
                    newObject.localTime = this.formatLocalTime(time[index])
                    newObject.UTCTime = this.formatUTCTime(time[index])
                    newArray.push(newObject)
                }
            })
            // console.log("%cnewArray:", conStyle.boldRed, newArray)
            return newArray
            
        }

        formatLocalTime(time){
            // console.log("%ctime:", conStyle.boldRed, time)
            return moment(time).format("DD/MM/YYYY HH:mm:ss")

        }

        formatUTCTime(time){
            // console.log("%ctime:", conStyle.boldRed, time)
            return moment(time).utc().format("DD/MM/YYYY HH:mm:ss")

        }
        
        /*
        setPlayback
         */
        setPlayback(){
            // destroy if still exist
            if(this.playback){
                this.playback.destroy()
                this.clearSelectedNames()
                this.playback = null
            }

            this.playback = new L.Playback(this.map, null, this.onPlaybackTimeChange, this.getPlaybackOptions());

            // Default speed
            this.playback.setSpeed(this.initialSpeed * this.speedFactor);

            this.playback.setData(this.playbackData);
            console.log("%cplaybackData:", conStyle.boldRed, this.playbackData)
            // console.log("%cmultipleVesselsPoint:", conStyle.boldRed, this.multipleVesselsPoint)
        }

        /*
        onPlaybackTimeChange
         */
        onPlaybackTimeChange (ms) {            
            this.timeline.setCustomTime(new Date(ms));
        };
        
        /*
        onCustomTimeChange
         */
        onCustomTimeChange(properties) {
            if (!this.playback.isPlaying()) {
                this.playback.setCursor(properties.time.getTime());
            }
        }

        /*
        getPlaybackOptions
        */
        getPlaybackOptions(){

            const iconRed = L.icon({
                iconUrl: '../images/red.png',
                iconSize: [15, 25], // size of the icon
                shadowSize: [0, 0], // size of the shadow
                iconAnchor: [7.5, 12.5], // point of the icon which will correspond to marker's location
                shadowAnchor: [0, 0], // the same for the shadow
                popupAnchor: [0, -10]
            });

            return {

                playControl: true,
                dateControl: false,
                tracksLayer : false,
                orientIcons: true,
                 orientReal: true,
                maxInterpolationTime: 720*60*1000, // 12Hours
                tickLen: 2000,

                // layer and marker options
                layer : {
                    pointToLayer : function(featureData, latlng) {
                        var result = {};

                        if (featureData && featureData.properties && featureData.properties.path_options) {
                            result = featureData.properties.path_options;
                        }

                        if (!result.radius){
                            result.radius = 2;
                        }

                        return new L.CircleMarker(latlng, result);
                    }
                },

                marker: function (featureData) {
                    return {
                        icon: iconRed,
                        getPopup: function (feature) {
                            return feature.properties.title;
                        },
                        transformOrigin: '47% center'
                    };
                }

            };
        }        

        /*
        closePlaybackForm
        */
        closePlaybackForm(){
            this.togglePlaybackEnabled(false)            
            // this.map.setView(L.latLng(2.126739,108.162693), 6);
        }

        /*
        beforeDestroy
         */
        beforeDestroy(){
            if(this.playback) {                 
                this.playback.destroy() 
            }
            if(this.timeline){                 
                this.timeline.destroy() 
            }
            if(this.markerGroup){                 
                this.map.removeLayer(this.markerGroup) 
            }            
            // this.clearSelectedIds()
            this.setDefaultMapLayers()
        }

        /*
        initDatePicker
         */
        initDatePicker(){
            $(this.$refs.datepicker).daterangepicker({
                drops:'up',
                showDropdowns: true,
                timePicker: true,
                timePicker24Hour: true,
                startDate:this.startDate,
                endDate: this.endDate,
                maxSpan: {
                    days: 7
                }
            }); 

            $(this.$refs.datepicker).on('apply.daterangepicker', (ev, picker) => {  

                this.dataReady = false

                this.setDateRange({
                    startDate: moment(picker.startDate),
                    endDate: moment(picker.endDate)
                })
                this.updatePlayback()
            });                       
        }

        /*
        destroyed
         */
        destroyed(){
            $('.leaflet-control-attribution').css('display', 'block')

            // Event.remove(['Map.ActivateWidget', 'Map.ClearWidget'])
            this.toggleVesselDetailsPane(true)
            Event.fire('Map.DeactivateWidget', 'PlaybackForm')
        }

}
</script>