<div>
   <div class="row">
        <div class="col-sm-6">
            
            <div class="form-group">
                <label for="station">Weather Station Location</label>                                                   
                <select2
                    v-if="stationListOption.length"
                    :options="stationListOption"
                    :value="stationListOption[0].id"
                    @input="getGaugesLists($event)"
                ></select2>
                <select2
                    v-if="!stationListOption.length"
                    :options="stationListOption"
                    :value="formData.stationId"
                ></select2>
            </div>                
        </div>

        <div class="col-sm-6">
            
            <div class="form-group">
                <label for="area" class="control-label">Area</label>
                <select2
                    :fullWidth="false"
                    :width="120"
                    :options="areaOptions"
                    :value="formData.area"
                    @input="getArea($event)"                         
                ></select2>
            </div>

        </div>
    
    </div>
    <div>
        <div class="form-group">
            <toggle-button @change="setTime" v-model="isEnable" color="#116fff" />&nbsp
            <label for="isEnabled">Refresh Every</label>
            <input type="number" class="form-control" id="refreshRate" 
            :value="formData.refreshRate"
            @input="setFormData({key:'refreshRate', value:$event.target.value})"
            />
            <label>Sec</label>

            <button v-if="this.$route.name == 'public.instrument-panel'" class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'public.weather.historical', params:{mmsi:selectedInstrument, token:token}})" >Show Trend</button>
            <button v-else class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.weather.historicalData', params:{mmsi:selectedInstrument}})" >Show Trend</button>
        </div>
    </div>

    <hr>
    
    <div v-if="dataReady">
        <div v-if="gaugesList.metAirData.airPressure != null" align="center" class="col-sm-3">
            <airpressure-gauge :val="gaugesList.metAirData.airPressure"></airpressure-gauge>
            <p><b>Air Pressure:</b> {{gaugesList.metAirData.airPressure}}hPa</p>
        </div>

        <div v-if="gaugesList.metAirData.airTemperature != null" align="center" class="col-sm-3">
            <airtemperature-gauge :val="gaugesList.metAirData.airTemperature"></airtemperature-gauge>
            <p><b>Air Temperature:</b> {{gaugesList.metAirData.airTemperature}}°C</p>
        </div>

        <div v-if="gaugesList.metWaterData.currentSpeed != null" align="center" class="col-sm-3">  
           <currentspeed-gauge :val="gaugesList.metWaterData.currentSpeed"></currentspeed-gauge>
           <p><b>Current Speed:</b> {{gaugesList.metWaterData.currentSpeed}}kn</p>
        </div>

        <div v-if="gaugesList.metWaterData.currentSpeed2 != null" align="center" class="col-sm-3">  
           <currentspeed-gauge :val="gaugesList.metWaterData.currentSpeed2"></currentspeed-gauge>
           <p><b>Current Speed 2:</b> {{gaugesList.metWaterData.currentSpeed2}}kn</p>
        </div>

        <div v-if="gaugesList.metWaterData.currentSpeed3 != null" align="center" class="col-sm-3">  
           <currentspeed-gauge :val="gaugesList.metWaterData.currentSpeed3"></currentspeed-gauge>
           <p><b>Current Speed 3:</b> {{gaugesList.metWaterData.currentSpeed3}}kn</p>
        </div>

        <div v-if="gaugesList.metWaterData.currentDirection != null" align="center" class="col-sm-3">  
           <currentdirection-gauge :val="gaugesList.metWaterData.currentDirection"></currentdirection-gauge>
           <p><b>Current Direction:</b> {{gaugesList.metWaterData.currentDirection}}°</p>
        </div>

        <div v-if="gaugesList.metWaterData.currentDirection2 != null" align="center" class="col-sm-3">  
           <currentdirection-gauge :val="gaugesList.metWaterData.currentDirection2"></currentdirection-gauge>
           <p><b>Current Direction 2:</b> {{gaugesList.metWaterData.currentDirection2}}°</p>
        </div>

        <div v-if="gaugesList.metWaterData.currentDirection3 != null" align="center" class="col-sm-3">  
           <currentdirection-gauge :val="gaugesList.metWaterData.currentDirection3"></currentdirection-gauge>
           <p><b>Current Direction 3:</b> {{gaugesList.metWaterData.currentDirection3}}°</p>
        </div>

        <div v-if="gaugesList.metAirData.humidity != null" align="center" class="col-sm-3">
            <humidity-gauge :val="gaugesList.metAirData.humidity"></humidity-gauge>
            <p><b>Humidity:</b> {{gaugesList.metAirData.humidity}}%</p>
        </div>

        <div v-if="gaugesList.metAirData.windGust != null" align="center" class="col-sm-3">
            <gustspeed-gauge :val="gaugesList.metAirData.windGust"></gustspeed-gauge>
            <p><b>Gust Speed:</b> {{gaugesList.metAirData.windGust}}kn</p>
        </div>

        <div v-if="gaugesList.metAirData.windGustDirection != null" align="center" class="col-sm-3">
            <gustdirection-gauge :val="gaugesList.metAirData.windGustDirection"></gustdirection-gauge>
            <p><b>Gust Direction:</b> {{gaugesList.metAirData.windGustDirection}}°</p>
        </div>

        <div v-if="gaugesList.metAirData.windSpeed != null" align="center" class="col-sm-3">
            <windspeed-gauge :values="gaugesList.metAirData.windSpeed"></windspeed-gauge>
            <p><b>Wind Speed:</b> {{gaugesList.metAirData.windSpeed}}kn</p>
        </div>

        <div v-if="gaugesList.metAirData.windDirection != null" align="center" class="col-sm-3">
            <winddirection-gauge :val="gaugesList.metAirData.windDirection"></winddirection-gauge>
            <p><b>Wind Direction:</b> {{gaugesList.metAirData.windDirection}}°</p>
        </div>

        <div v-if="gaugesList.metWaterData.waterTemperature != null" align="center" class="col-sm-3">  
           <watertemperature-gauge :val="gaugesList.metWaterData.waterTemperature"></watertemperature-gauge>
           <p><b>Water Temperature:</b> {{gaugesList.metWaterData.waterTemperature}}°C</p>
        </div>

        <div v-if="gaugesList.metWaterData.waterLevel != null" align="center" class="col-sm-3">  
           <waterlevel-gauge :val="gaugesList.metWaterData.waterLevel"></waterlevel-gauge>
           <p><b>Water level:</b> {{gaugesList.metWaterData.waterLevel}}m</p>
        </div>

        <div v-if="gaugesList.metWaterData.waveHeight != null" align="center" class="col-sm-3">  
           <waveheight-gauge :val="gaugesList.metWaterData.waveHeight"></waveheight-gauge>
           <p><b>Wave Height:</b> {{gaugesList.metWaterData.waveHeight}}m</p>
        </div>

        <div v-if="gaugesList.metWaterData.wavePeriod != null" align="center" class="col-sm-3">  
           <waveperiod-gauge :val="gaugesList.metWaterData.wavePeriod"></waveperiod-gauge>
           <p><b>Wave Period:</b> {{gaugesList.metWaterData.wavePeriod}}sec</p>
        </div>

        <div v-if="gaugesList.metWaterData.waveDirection != null" align="center" class="col-sm-3">  
           <wavedirection-gauge :val="gaugesList.metWaterData.waveDirection"></wavedirection-gauge>
           <p><b>Wave Direction:</b> {{gaugesList.metWaterData.waveDirection}}°</p>
        </div>
        
        <div v-if="gaugesList.metWaterData.visibility != null " align="center" class="col-sm-3">  
           <visibility-gauge :val="gaugesList.metWaterData.visibility"></visibility-gauge>
           <p><b>Visibility:</b> {{gaugesList.metWaterData.visibility}}NM</p>
        </div>
    </div>

    <div v-else-if="!dataReady && !hverror" class="loading-box"><img width="60px" :src="LoadingSVG"><img src=""></div>

    <div v-else-if="hverror" class="data-unready">
        <h4>No data available. Please select other station.</h4>
    </div>
    
</div>