<div>	
		<main-wrapper :scroller="true">

			<template slot="header">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="title clearfix">
								Weather Station 
								
								<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

								<font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
						</h1>
					</div>	
				</div>		
			</template>

			<template slot="scroll-content">

				<div>

					<!-- <div class="row">	
						<div class="col-sm-12">
							<h1 class="title">Weather Station<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1>
						</div>							
					</div> -->

					<div class="row">	
						<div class="col-sm-12">
							<form @submit.prevent="submit" novalidate>
								<weather-form></weather-form>	
							</form>
						</div>
					</div>	
					
				</div>					
		</template>

	</main-wrapper>
</div>