.leaflet-control-slidemenu{
    cursor: pointer;
}

.leaflet-menu {
    position: absolute;
    background-color: rgba(61, 114, 160, 1);
    overflow: auto;
    cursor: default;
    z-index: 9999;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.43);
    border-radius: 3px;
}

.leaflet-menu::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background: #f2f2f2;
}

.leaflet-menu::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: #777;   
}

.leaflet-menu-close-button {
    background-color: #245682;
    border: none;
    font-size: 14pt;
    color: white;
    cursor: pointer;
    padding: 12px;
    width: 12%;
}

.leaflet-menu-close-button:hover{
    color: #4285F4;
}

.slider-header h3 {
    position: absolute;
    background-color: #245682;
    width: 90%;
    top: -20px;
    height: 42px;
    text-align: center;
    padding-top: 9px;
    font-size: 14.4pt;
    right: 0;
}

.slider-content hr {
    border-top:
        1px solid #5581a9;
}