.sidebar {
    height: 92%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2000;
    min-height: 200px;
}
  .sidebar.collapsed {
    width: 40px; }
  @media (min-width: 768px) {
    .sidebar {
      top: 10px;
      bottom: 10px;
      transition: width 500ms; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        width: 405px;
    } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar {
        width: 405px;
    } }
  @media (min-width: 1200px) {
    .sidebar {
      width: 460px; } }

.sidebar-content::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: #f2f2f2;
}

.sidebar-content::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #777;
}

.sidebar-left {
    left: 0;
}
  @media (min-width: 768px) {
    .sidebar-left {
      left: 10px; } }

.sidebar-right {
  right: 0; }
  @media (min-width: 768px) {
    .sidebar-right {
      right: 10px; } }

.sidebar-tabs {
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: #245682;
}
  .sidebar-left .sidebar-tabs {
    left: 0; }
  .sidebar-right .sidebar-tabs {
    right: 0; }
.sidebar-tabs, .sidebar-tabs > ul {
    position: absolute;
    width: 40px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
    .sidebar-tabs > li, .sidebar-tabs > ul > li {
      width: 100%;
      height: 40px;
      color: #333;
      font-size: 12pt;
      overflow: hidden;
      transition: all .6s; }
        .sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
            color: #000;
            background-color: #143756;
            -webkit-transition: width 2s; /* Safari */
            transition: all .6s;
        }
        .sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
            color: #fff;
            background-color: #143756;
        }
      .sidebar-tabs > li.disabled, .sidebar-tabs > ul > li.disabled {
        color: rgba(51, 51, 51, 0.4); }
        .sidebar-tabs > li.disabled:hover, .sidebar-tabs > ul > li.disabled:hover {
          background: transparent; }
        .sidebar-tabs > li.disabled > a, .sidebar-tabs > ul > li.disabled > a {
          cursor: default; }
      .sidebar-tabs > li > a, .sidebar-tabs > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        margin-left: -2px;
      }
  .sidebar-tabs > ul + ul {
    bottom: 0; }

.sidebar-content {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(61, 114, 160, 0.9);
    overflow-x: hidden;
    overflow-y: auto;
}
  .sidebar-left .sidebar-content {
    left: 40px;
    right: 0; }
  .sidebar-right .sidebar-content {
    left: 0;
    right: 40px; }
  .sidebar.collapsed > .sidebar-content {
    overflow-y: hidden; }

.sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px; }
  .sidebar-pane.active {
    display: block; margin-left:-20px; }

    .sidebar-pane.active p {
        display: block;
        margin-left: 10px;
        margin-top: -10px;
        color: white;
    }

  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar-pane {
      min-width: 265px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-pane {
      min-width: 450px; } }
  @media (min-width: 1200px) {
    .sidebar-pane {
      min-width: 450px; } }

.sidebar-header {
    margin: -10px -20px 0;
    height: 40px;
    padding: 0 0 0 30px;
    line-height: 40px;
    font-size: 14.4pt;
    color: #fff;
    background-color: #245682;
    margin-left: -1px;
}
  .sidebar-right .sidebar-header {
    padding-left: 40px; }

.sidebar-close {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer; }
  .sidebar-left .sidebar-close {
    right: 0; }
  .sidebar-right .sidebar-close {
    left: 0; }

.sidebar-left ~ .sidebar-map {
  margin-left: 40px; }
  @media (min-width: 768px) {
    .sidebar-left ~ .sidebar-map {
      margin-left: 0; } }

.sidebar-right ~ .sidebar-map {
  margin-right: 40px; }
  @media (min-width: 768px) {
    .sidebar-right ~ .sidebar-map {
      margin-right: 0; } }

.sidebar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65); }
  .sidebar.leaflet-touch {
    box-shadow: none;
    border-right: 2px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .sidebar {
      border-radius: 4px; }
      .sidebar.leaflet-touch {
        border: 2px solid rgba(0, 0, 0, 0.2); } }

@media (min-width: 768px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    transition: left 500ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 315px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 400px; } }

@media (min-width: 1200px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 470px; } }

@media (min-width: 768px) {
  .sidebar-left.collapsed ~ .sidebar-map .leaflet-left {
    left: 50px; } }

@media (min-width: 768px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    transition: right 500ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 315px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 400px; } }

@media (min-width: 1200px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 470px; } }

@media (min-width: 768px) {
  .sidebar-right.collapsed ~ .sidebar-map .leaflet-right {
    right: 50px; } }

/* Base Styles */

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
    width: 30em;
    margin-left: -1px;
}

#cssmenu {
    width: 30em;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

@media (max-width: 767px) {
    #cssmenu,
    #cssmenu ul,
    #cssmenu li,
    #cssmenu a {
        min-width: 103%;
        width: 16em;
    }

    #cssmenu div {
        margin-right: 10px;
    }


    #cssmenu span {
        margin-right: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #cssmenu,
    #cssmenu ul,
    #cssmenu li,
    #cssmenu a {
        width: 18.9em;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #cssmenu,
    #cssmenu ul,
    #cssmenu li,
    #cssmenu a {
        width: 25em;
    }
}

    #cssmenu a {
        line-height: 1.3;
    }


    #cssmenu > ul > li {
        background: #4477a5;
        background: -moz-linear-gradient(#4477a5 0%, #355d81 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4477a5), color-stop(100%, #355d81));
        background: -webkit-linear-gradient(#4477a5 0%, #355d81 100%);
        background: linear-gradient(#4477a5 0%, #355d81 100%);
    }

        #cssmenu > ul > li:hover {
            background: #406f9a;
            background: -moz-linear-gradient(#406f9a 0%, #315576 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #406f9a), color-stop(100%, #315576));
            background: -webkit-linear-gradient(#406f9a 0%, #315576 100%);
            background: linear-gradient(#406f9a 0%, #315576 100%);
        }

        #cssmenu > ul > li > a {
            font-size: 14px;
            display: block;
            color: #fff;
            border: 1px solid #2e506f;
            border-top: none;
            text-shadow: 0 -1px 1px #172939;
        }

            #cssmenu > ul > li > a > span {
                display: block;
                padding: 12px 10px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }

            #cssmenu > ul > li > a:hover {
                text-decoration: none;
            }

        #cssmenu > ul > li.active {
            border-bottom: none;
        }

        #cssmenu > ul > li.has-sub > a span {
            background: url(../images/sidebar/icon_plus.png) 96% center no-repeat;
        }

        #cssmenu > ul > li.has-sub.active > a span {
            background: url(../images/sidebar/icon_minus.png) 96% center no-repeat;
        }
    /* Sub menu */
    #cssmenu ul ul {
        display: none;
        background: #fff;
        border-right: 1px solid #a2a194;
        border-left: 1px solid #a2a194;
    }

        #cssmenu ul ul li {
            padding: 0;
            border-bottom: 1px solid #d4d4d4;
            border-top: none;
            background: #f7f7f7;
            background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
            background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
            background: linear-gradient(#f7f7f7 0%, #ececec 100%);
        }

            #cssmenu ul ul li:last-child {
                border-bottom: none;
            }

        #cssmenu ul ul div {
            padding: 10px 10px 10px 25px;
            display: block;
            color: #676767;
            font-size: 12px;
            font-weight: normal;
        }
