﻿
<!--<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />-->
<div class="fam-flag-my pull-left flag-icon flag-icon-my" style="margin:3px"></div><div>Daya Maju</div>
<table>
    <thead>
        <tr>
            <th>IMO</th>
            <th>MMSI</th>
            <th>Callsign</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>9448449</td>
            <td>533014500</td>
            <td>9MFB5</td>
        </tr>
    </tbody>
</table>

<!--<div class="panel panel-primary">
    <div class="panel-heading">
        <div><span class="fam-flag-my"></span> Daya Maju</div>
    </div>
</div>-->