﻿@using Abp.Collections.Extensions
@using Vtmis.WebAdmin.Web.Views
@using Vtmis.WebAdmin.Web.Views.Shared.Components.SideBarNav
@model SideBarNavViewModel
@{
    var calculateMenuUrl = new Func<string, string>((url) =>
    {
        if (string.IsNullOrEmpty(url))
        {
            return ApplicationPath;
        }

        if (UrlChecker.IsRooted(url))
        {
            return url;
        }

        return ApplicationPath + url;
    });
}

        @foreach (var menuItem in Model.MainMenu.Items)
        {
            <li>
                @if (menuItem.Items.IsNullOrEmpty())
                {
                    <a href="@calculateMenuUrl(menuItem.Url)">
                        @if (!string.IsNullOrWhiteSpace(menuItem.Icon))
                        {
                            <i class="material-icons">@menuItem.Icon</i>
                        }
                        <span class="nav-label">@menuItem.DisplayName</span>
                    </a>
                }
                else
                {
                    <a href="#">
                        @if (!string.IsNullOrWhiteSpace(menuItem.Icon))
                        {
                            <i class="material-icons">@menuItem.Icon</i>
                        }
                        <span class="nav-label">@menuItem.DisplayName</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        @foreach (var subMenuItem in menuItem.Items)
                        {
                            <li>
                                @if (subMenuItem.Items.IsNullOrEmpty())
                                {
                                    <a href="@calculateMenuUrl(subMenuItem.Url)">
                                        @subMenuItem.DisplayName
                                    </a>
                                }
                                else
                                {
                                    <a href="#">@subMenuItem.DisplayName<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        @foreach (var subSubMenuItem in subMenuItem.Items)
                                        {
                                            <li>
                                                <a href="@calculateMenuUrl(subSubMenuItem.Url)">@subSubMenuItem.DisplayName</a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                }
            </li>
        }
