<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="./template/master-template.scss"></style>
<template src="./template/master-template.html"></template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	
	import Vue from 'vue'	
	import { Component, Prop, Emit } from 'vue-property-decorator' 
	import { namespace, Getter, Mutation, Action } from 'vuex-class'
    import { mixins } from 'vue-class-component'	
    
    import vesselInfoHelper from '../../../../helpers/vesselinfo'
    import AuthorizationMixin from '../../../common/mixins/AuthorizationMixin' 

    import ImagePreloader from 'image-preloader'

    const VesselImageModule = namespace('vesselDetails/images') 
    const CreateImageModule = namespace('vesselDetails/images/createImage')

    // default images
    import DefaultVesselImage from '../../../../../images/placeholders/emptym.jpg' 
    import DefaultBaseStationImage from '../../../../../images/placeholders/base-station.jpg'   
    import DefaultFixedAtonImage from '../../../../../images/placeholders/fixed-aton.jpg'   
    import DefaultFloatingAtonImage from '../../../../../images/placeholders/floating-aton.jpg'
    import DefaultSarImage from '../../../../../images/placeholders/sar.jpg'
    import DefaultSartImage from '../../../../../images/placeholders/sart.jpg'

	@Component({
		components:{
			'classA-detail': ()=> import('../ClassADetail'),
			'classB-detail': ()=> import('../ClassBDetail'),
			'classSar-detail': ()=> import('../ClassSarDetail'),
			'classAton-detail': ()=> import('../ClassAtonDetail'),
			'classBaseStation-detail': ()=> import('../ClassBaseStationDetail'),
			'classGeneral-detail': ()=> import('../ClassGeneralDetail'),
            'classWrem-detail': ()=> import('../ClassWremDetail'),
			'lloyds-detail': ()=> import('../LloydsDetail'),
			'rms-detail': ()=> import('../RmsDetail'),
			'ddms-detail': ()=> import('../DdmsDetail'),
            'lightHouse-detail': ()=> import('../LightHouseDetail'),
            'timeline-detail': ()=> import('../TimelineDetail'),
			'image-upload': ()=> import('../UploadImage'),			
			'carousel': ()=>import('../../../common/libs/Carousel'),
            'vessel-detail-header': ()=>import('./VesselDetailHeader'),
            'wrem-detail-header': ()=>import('./WremDetailHeader'),
            'delete-confirm': ()=> import('../../../common/DeleteConfirmation')
		}
	})
	export default class MasterDetail extends mixins(AuthorizationMixin){

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/
		@Prop() info	
		@Prop(String) vesselClass				        

        formatMmsi = vesselInfoHelper.formatMmsi
        formatFlag = vesselInfoHelper.formatFlag

        activeTab = 1
        imageReady = false
        activeImage = {
            name: '',
            path: ''
        }

        computeTracker = 1

        @VesselImageModule.Getter image

        @VesselImageModule.Mutation addNewImage
        @CreateImageModule.Mutation resetImageFormData

        @VesselImageModule.Action loadImages         
        @VesselImageModule.Action deleteImage


/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/

/*
mounted
 */
        async mounted(){            

            try{                        


                this.imageReady = false

                // add new Image if not exist
                this.addNewImage(this.info.base.mmsi)

                // get images
                await this.loadImages(this.info.base.mmsi)

                this.preloadImage()                             

            }
            catch(error){
                console.log(error.message)   
            }
                        
        }  

/*
preloadImage
 */
        preloadImage(){
            
            const preloader = new ImagePreloader();
            
            preloader.onProgress = function(info) {
                console.log('image with source %s is loaded with status %s', info.value.src, info.status);
            };

            const imgSrcList = []

            if(this.imgDatas.length){
                this.imgDatas.forEach((im)=>{
                    imgSrcList.push(im.big)
                    imgSrcList.push(im.thumb)
                })

                preloader.preload(
                    ...imgSrcList
                )
                .then((status)=>{
                    this.imageReady = true
                });
            }
            
        }

/*
activateTab
 */
        activateTab(el){            
        	this.activeTab = el
        }		

/*
uploadImage
 */
        uploadImage(){
            this.resetImageFormData(this.info.base.mmsi)
        	$(this.$refs.uploadImageTab).trigger("click")            
        }

/*
imageUploaded
 */

        async imageUploaded(){                        

            $(this.$refs.detailTab).trigger("click")

            await this.loadImages(this.info.base.mmsi)

            this.preloadImage()
        }

/*
events
 */

		@Emit()
		playback(){}

/*
carouselImageUpdate
 */
        carouselImageUpdate({name, path}){
            this.activeImage = {name, path}
        }

/*
deleteVesselImage
 */
        async deleteVesselImage(){

            try{
                const data = {
                    vesselId:this.info.base.vesselId, 
                    name:this.activeImage.name, 
                    path:this.activeImage.path, 
                    type:'Target'
                }

                await this.deleteImage(data)

                this.$nextTick(()=>{
                    this.computeTracker++      
                })
                                                                        
            }
            catch(error){
                console.error(error)
            }
            
        }        

/*
getters and setters
 */
        get imgDatas(){

            let computeTracker = this.computeTracker

            const image = this.image(this.info.base.mmsi)
            if(image && image.imgDatas.length ){
                return image.imgDatas.map((im)=>{                 
                    
                    if( (im.original.match(/http/g) || []).length > 1){
                        im.original = im.original.substring(im.original.lastIndexOf("http")) 
                    }

                    if( (im.thumbnail.match(/http/g) || []).length > 1){
                        im.thumbnail = im.thumbnail.substring(im.thumbnail.lastIndexOf("http")) 
                    }
                    
                    im['big'] = im.original
                    im['thumb'] = im.thumbnail

                    return im
                })
            }

            return []
        }	

        get defaultImage(){            

            if(this.vesselClass == 'Aton'){
                if(this.info.base.msg21.atoNType <= 19){
                    return DefaultFixedAtonImage
                }
                else{
                    return DefaultFloatingAtonImage
                }
            }
            if(this.vesselClass == 'VAton'){
                if(this.info.base.msg21.atoNType <= 19){
                    return DefaultFixedAtonImage
                }
                else{
                    return DefaultFloatingAtonImage
                }
            }
            else if(this.vesselClass == 'MetHydro'){
                return DefaultFixedAtonImage
            }
            else if(this.vesselClass == 'BaseStation'){
                return DefaultBaseStationImage
            }
            else if(this.vesselClass == 'Sar'){
                return DefaultSarImage
            }
            else if(this.vesselClass == 'Sart'){
                return DefaultSartImage
            }
            else {
                return DefaultVesselImage
            }                        
        }	

	}
</script>