<style scoped>

	h4{
		font-size: 18px;
   		margin: 0;
	}

	p.imo, p.mmsi, p.call-sign{
		margin-bottom: 0;
	}

	.vessel-name{
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		white-space: nowrap;
	}

	.vessel-name li{
		display: inline-block;
	}

	.vessel-name li:first-child{
		width: 40px;
	}

	.flag-icon {
	    background-size: contain;
	    background-position: left top;
	    background-repeat: no-repeat;
	    position: relative;
	    display: inline-block;
	    width: 100%;
	    line-height: 1.5;
	}
</style>

<template>
	<!-- Name, flag, mmsi, imo -->
	<ul class="vessel-name" data-component="VesselDetailHeader">
		<!-- <li v-if="vesselClass == 'Sar'"><span class="flag-icon flag-icon-my"></span> <br> </li> -->
		<!-- <li v-else-if="formatFlag(info.base.mmsi) == 'undefined'"><img width="22px" src="~/mdm-flag-icon-css/flags/4x3/undefined.svg"></span><br><b> - - </b></li> -->
		<!-- <li v-else><span :class="'flag-icon flag-icon-' + formatFlag(info.base.mmsi)"></span><br><b>{{formatFlag(info.base.mmsi)}}</b></li> -->
		<li>
			<h4>{{ info.base.vesselName }}</h4>
			<!-- <p class="imo" v-if="info.base.imo > 0">{{ info.base.imo }}</p>
			<p class="mmsi">{{ formatMmsi(info.base.mmsi) }}</p>
			<p style="margin-bottom:15px;" class="call-sign">{{  info.base.callSign }}</p> -->
		</li>
	</ul>
</template>

<script>
	
	import Vue from 'vue'
    import { Component, Prop } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'

    import vesselInfoHelper from '../../../../helpers/vesselinfo'
	
	@Component
    export default class VesselDetailHeader extends Vue {  

    	@Prop() info
    	// @Prop() vesselClass

    	formatMmsi = vesselInfoHelper.formatMmsi
        formatFlag = vesselInfoHelper.formatFlag

    }

</script>