<style scoped src="../../../styles/summary-list.scss"></style>
<style scoped>
	.action-btn {
		min-width: 50px;
	}
    #icon {
    	margin-top: 1px;
		border-radius: 25px;
		width: 10px;
      	height: 10px;
	}
	.icon-status{
		padding-right: 10px;
	}
</style>
<template src="./templates/wrems-summary.html"></template>

<script>

	/*
	Script start
	 */
	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'

	const WremsModule = namespace('wrems')
	const WremsSummaryModule = namespace('wrems/summary')
	const MapModule = namespace('map')	

	import AppModuleMixin from '../../common/mixins/AppModuleMixin'	

	/*
	Class start
	 */
	@Component({
		components: {
			'side-wrapper' : ()=> import('../../common/WidgetContainers/map/SideWrapper'),
			'delete-confirm': ()=> import('../../common/DeleteConfirmation')			
		}
	})
	export default class WremsSummary extends mixins(AppModuleMixin) {	

		@MapModule.Getter vessels				
		@MapModule.Getter vessel
		@MapModule.Getter map

		@WremsModule.Getter showVessels
		@WremsModule.Mutation toggleShowVessels

		@WremsSummaryModule.Getter('vesselsArr') inViewVessels	
		@WremsSummaryModule.Getter panelShown

		@WremsSummaryModule.Mutation('addVessel') addInViewVessel
		@WremsSummaryModule.Mutation('clearVessels') clearInViewVessels
		@WremsSummaryModule.Mutation toggleWremsSummary		
		@WremsSummaryModule.Mutation togglePanelShown
		
		
		created(){			
			Event.listen('Map.Events.Drawing.End', this.refreshInViewVesselsList)			
		}		

		mounted(){		

			this.AppModuleMixin_clearMajorModule('wrems')

			this.refreshInViewVesselsList() 
			// console.log("%cWreck On Map:", conStyle.boldWhite, this.inViewVessels)
			
			// to be used in ShipDrawerMixin::ShipDrawerMixin_shouldDraw
			// disable other vessels from being drawn
			this.toggleShowVessels(false)
			Event.fire('Map.Events.Drawing.Do', 'Wrems.Summary.mounted')
		}						

		refreshInViewVesselsList(){			
			this.clearInViewVessels()				
			let bounds = this.map.getBounds()          
            if(this.vessels){
                this.vessels.forEach((v)=>{
                    if ( bounds.contains(v.latlng) && this.vessel(v.vesselId).isDrawn) {                   	
                        this.addInViewVessel(v)
                    }
                })    
            }             
		}
		
		selectListItem(vessel){
			console.log(vessel)
			Event.fire('Map.FocusVessel', vessel)
		}

		getName(vessel){
			const mmsi = String(vessel.mmsi).substring(0,1) == '-' ? String(vessel.mmsi).substring(1) : vessel.mmsi
			return vessel.vesselName ? vessel.vesselName : String(mmsi).padStart(9, "0")
		}

		toggleVesselDraw(){
			if(this.showVessels){this.toggleShowVessels(false)} 
			else{this.toggleShowVessels(true)}
			Event.fire('Map.Events.Drawing.Do', 'Wrems.Summary.toggleVesselDraw')	

		}

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})
		}		
		
		/*
		beforeDestroy
		 */
		beforeDestroy(){
			// to be used in ShipDrawerMixin::ShipDrawerMixin_shouldDraw
			// reenable other vessels to be draw
			this.toggleShowVessels(false)
			this.toggleWremsSummary(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
        	Event.fire('Map.Events.Drawing.Do', 'Wrems.Summary.destroyed')
            Event.fire('Map.DeactivateWidget', 'Wrems.Side.Summary')
        }
		
	}

</script>