﻿
@{
    ViewData["Title"] = "Event";
}

<h2>Event</h2>

<script src="~/js/signalr.min.js"></script>

<input type="button" id="sendButton" value="Send Message" />

<script type="text/javascript">


    document.getElementById("sendButton").addEventListener("click", event => {


        let connection = new signalR.HubConnectionBuilder().withUrl("/vesselgeolocationhub").build();


    //new or refresh
    connection.start()
        .then(() => {


            connection.invoke("CheckEvents", 'test').catch(err => console.error(err.toString()));


        });

        event.preventDefault();
    });
</script>