﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<input type="button" id="sendButton" value="Send Message" />*@

<script src="~/js/signalr.min.js"></script>

<script type="text/javascript">

    let connection = new signalR.HubConnectionBuilder().withUrl("/vesselgeolocationhub").build();

    //new or refresh
    connection.start()
        .then(() => {

           
            connection.invoke('startserver', '@ViewBag.ApiUrl');

        });

    //document.getElementById("sendButton").addEventListener("click", event => {
       
    //    connection.invoke("CheckEvents", 'test').catch(err => console.error(err.toString()));
    //    event.preventDefault();
    //});
</script>