﻿
@{
    ViewData["Title"] = "Replay";
}

<h2>Replay</h2>

<script src="~/js/signalr-client-1.0.0-alpha2-final.min.js"></script>
<script type="text/javascript">

    let connection = new signalR.HubConnection('/vesselgeolocationhub');

    connection.start()
            .then(() => connection.invoke('replayserver', 'connect to cluster sever')
    );

</script>
