<template>    	
    <div data-component="StatusBarBottomPane">
        <vesseltype-count v-if="vesselTypeCountEnabled"></vesseltype-count>
        <vesselclass-count v-if="vesselClassCountEnabled"></vesselclass-count>
    </div>
</template>

<script>
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 
    
    const VesselTypeCountModule = namespace('status/statusbar/vesselTypeCount')
    const VesselClassCountModule = namespace('status/statusbar/vesselClassCount')

    @Component({
    	components: {            
    		'vesseltype-count': ()=> import('./VesselTypeCount'),            
            'vesselclass-count': ()=> import('./VesselClassCount')
    	}
    })
    export default class StatusBarBottomPane extends Vue {    	
        @VesselTypeCountModule.Getter('enabled') vesselTypeCountEnabled
        @VesselClassCountModule.Getter('enabled') vesselClassCountEnabled        
    }
</script>