<style scoped>
    .widget-wrapper.override{
        display: flex;
        justify-content: center;
        z-index: 800;
    }
</style>

<template>
    <top-wrapper override="true" customClass="top-bar-status" data-component="StatusBarTopPane">    	
        <template slot="content">
            <filter-status v-if="filterStatusEnabled"></filter-status>
            <zone-status v-if="zoneDesignerEnabled"></zone-status>
            <tools-ruler-status v-if="toolsRulerEnabled"></tools-ruler-status>
        </template>
    </top-wrapper>
</template>

<script>
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 
        
    const FilterModule = namespace('filters')
    const ZoneModule = namespace('zone')
    const ToolsRulerModule = namespace('tools/ruler')

    @Component({
    	components: {            
    		'filter-status': ()=> import('./modes/FilterStatus'),
            'zone-status': ()=> import('./modes/ZoneStatus'),
            'top-wrapper': ()=> import('../../../common/WidgetContainers/map/TopWrapper'),
            'tools-ruler-status': ()=> import('./modes/ToolsRuler')  
    	}
    })
    export default class StatusBarTopPane extends Vue {    	
                
        @FilterModule.Getter filterStatusEnabled
        @ZoneModule.Getter zoneDesignerEnabled 
        @ToolsRulerModule.Getter('enabled') toolsRulerEnabled             

    }
</script>