<style scoped src="./templates/vesselclass-count.scss"></style>
<template src="./templates/vesselclass-count.html"></template>

<script>

	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import vesselInfoHelper from '../../../../helpers/vesselinfo'
	import Vue from 'vue'	

	const StatusBarModule = namespace('status/statusbar')
	const VesselClassCountModule = namespace('status/statusbar/vesselClassCount')
	const MapModule = namespace('map')

	@Component({
		components: {
			'bottom-wrapper' : ()=> import('../../../common/WidgetContainers/map/BottomWrapper')
		}
	})
	export default class VesselClassCount extends Vue {

		@MapModule.Getter map
		@MapModule.Getter vessels
		@MapModule.Getter vessel
		@VesselClassCountModule.Getter vesselCountArr
		@VesselClassCountModule.Getter totalVessel

		@VesselClassCountModule.Mutation incrementVesselCount
		@VesselClassCountModule.Mutation clearVesselCount		
		
		created(){
			Event.listen('Map.Events.Drawing.End', this.refreshInViewVesselsCount)
		}
		
		refreshInViewVesselsCount(){			
			
			this.clearVesselCount()
			
			let bounds = this.map.getBounds()          

            if(this.vessels){
                this.vessels.forEach((v)=>{
                    if (bounds.contains(v.latlng) && this.vessel(v.vesselId).isDrawn) {                    	
                        // determine vessel type
                        let type = vesselInfoHelper.getVesselClass(v)
                        if(type === "Aton" || type === "VAton" || type === "MetHydro"){
                        	this.incrementVesselCount("Aton")
                        }
                        else{
                        	this.incrementVesselCount(type)
                        }                         
                        
                    }
                })    
            }   

            // console.log("%c vesselCountArr:", conStyle.boldRed, this.vesselCountArr)
		}

		formatName(name){
			if (name === "ClassA") {
            	return "Class A";
            }
            else if (name === "ClassB") {
            	return "Class B";
            }
	        else if(name === "Sar"){
	            return "SAR Air";
	        }
	        else if(name === "Sart"){
	        	return "SART"
	        }
	        else if(name === "Aton" || name === "VAton" || name === "MetHydro")
	        {
	            return "AtoN";
	        }        
	        else if(name === "BaseStation"){
	            return "Base Station";
	        }	        
	        else{
	        	return "Other";
	        }
		}
		
	}
</script>