<style scoped src="./templates/vesseltype-count.scss"></style>
<template src="./templates/vesseltype-count.html"></template>

<script>

	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import vesselInfoHelper from '../../../../helpers/vesselinfo'
	import Vue from 'vue'	

	const StatusBarModule = namespace('status/statusbar')
	const VesselTypeCountModule = namespace('status/statusbar/vesselTypeCount')
	const MapModule = namespace('map')

	@Component({
		components: {
			'bottom-wrapper' : ()=> import('../../../common/WidgetContainers/map/BottomWrapper')
		}
	})
	export default class VesselTypeCount extends Vue {

		@MapModule.Getter map
		@MapModule.Getter vessels
		@VesselTypeCountModule.Getter vesselCountArr
		@VesselTypeCountModule.Getter totalVessel

		@VesselTypeCountModule.Mutation incrementVesselCount
		@VesselTypeCountModule.Mutation clearVesselCount		
		
		created(){
			Event.listen('Map.Events.Drawing.End', this.refreshInViewVesselsCount)
		}
		
		refreshInViewVesselsCount(){			
			
			this.clearVesselCount()
			
			let bounds = this.map.getBounds()          

            if(this.vessels){
                this.vessels.forEach((v)=>{
                    if (bounds.contains(v.latlng)) {                    	
                        // determine vessel type
                        const type = vesselInfoHelper.getShipType(v.shipType) 
                        this.incrementVesselCount(type)
                    }
                })    
            }                
		}
		
	}
</script>