<style scoped src="../mini-helper-panel.scss"></style>

<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.filter'}">Filter</router-link></li>
        		<li class="active">Create Filter</li>
        	</ul>
        	<div class="content">
        		<p><b>1. One Ship Only Filter</b></p>
	        		<p>This filter will display only the MY FERRY ship and hide all others. </p>
	        		<p>Click the <b>Add</b> button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> in the toolbar to open the Filter Designer in a new dialog box. </p>
	        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="filterImg1"></p>

					<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="filterImg2"></p>
	        		<p>Type "MY FERRY" in the Filter Name field. </p>
	        		<p><img @click.prevent="showVesselImage('img3')" class="myImg" :src="filterImg3"></p>

	        		<p>In this example, we will outline the settings required to display only MY FERRY on the map. </p>
	        	<p><b>2. Before applying the filter </b></p>
	        		<p><img @click.prevent="showVesselImage('img4')" class="myImg" :src="filterImg4"></p>

	        	<p><b>3. After applying filter</b></p>
	        		<p><img @click.prevent="showVesselImage('img5')" class="myImg" :src="filterImg5"></p>

        	</div>
        	
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example Create Filter"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import filterImg1 from '../../../../../images/help-topic/filter-create-1.png'
	import filterImg2 from '../../../../../images/help-topic/filter-create-2.png'
	import filterImg3 from '../../../../../images/help-topic/filter-create-3.png'
	import filterImg4 from '../../../../../images/help-topic/filter-create-4.png'
	import filterImg5 from '../../../../../images/help-topic/filter-create-5.png'

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class CreateFilterHelper extends Vue{

		showModal = false
		modalImg = ''
		filterImg1 = filterImg1
		filterImg2 = filterImg2
		filterImg3 = filterImg3
		filterImg4 = filterImg4
		filterImg5 = filterImg5

		showVesselImage(img){
			const images = {
				img1 : filterImg1,
				img2 : filterImg2,
				img3 : filterImg3,
				img4 : filterImg4,
				img5 : filterImg5
			}
			this.modalImg = images[img]
			this.showModal = true

		}
	}
</script>