<style scoped src="../mini-helper-panel.scss"></style>

<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.filter'}">Filter</router-link></li>
        		<li class="active">Edit Filter</li>
        	</ul>
        	<div class="content">
        		<p>Click the edit button<button class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></button> in the toolbar to open the Filter Designer in a new dialog box. Click save button to update existing filter.</p>

	        	<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="filterImg1"></p>

        	</div>
        	
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example Edit Filter"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import filterImg1 from '../../../../../images/help-topic/filter-edit-1.png'

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class EditFilterHelper extends Vue{

		showModal = false
		modalImg = ''
		filterImg1 = filterImg1

		showVesselImage(img){
			const images = {
				img1 : filterImg1,
			}
			this.modalImg = images[img]
			this.showModal = true

		}
	}
</script>