<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li class="active">Filter</li>
        	</ul>
        	<router-link tag="li" :to="{name:'knowledgebase.right.createFilter'}">1) Create Filter<i class="fa fa-arrow-right pull-right"></i></router-link>
        	<router-link tag="li" :to="{name:'knowledgebase.right.filterDesigner'}">2) Filter Designer<i class="fa fa-arrow-right pull-right"></i></router-link>
        	<router-link tag="li" :to="{name:'knowledgebase.right.editFilter'}">3) Edit Filter<i class="fa fa-arrow-right pull-right"></i></router-link>
        	<router-link tag="li" :to="{name:'knowledgebase.right.deleteFilter'}">4) Delete Filter<i class="fa fa-arrow-right pull-right"></i></router-link>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	
	

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper')			
		}
	})
	export default class FilterContent extends Vue{

	
	}
</script>