<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.filter'}">Filter</router-link></li>
        		<li class="active">Filter Designer</li>
        	</ul>
        	<div class="content">
        	<p>The <b>Filter Designer</b> is a tool that allows users to select which ships (AIS targets) to display. </p>
        	<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="filterDesigner1"></p>
        		
        	<p>Click the <b>Add</b> button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> in the toolbar to open the <b>Filter Designer</b> in a new dialog box.</p>
        	<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="filterDesigner2"></p>
        		
        	<p><i>Note</i>: The <b>Filter Designer</b> contains several identical lines. Each of these lines represents a condition of the filter.
        	<p><b>Filter Name</b> - Use this box to display filter name. </p>
			<p><b>Enable</b> - Activate a condition.</p>
			<p><b>Show Ship</b> – Show the selected filter. </p>
			<p><b>Color/Border Color</b> - Choose desired color from the drop-down list. </p>
			<p><b>And/Or</b> – Condition statement. (By default as an And statement)</p>
			<p><b>MMSI</b> - Enter the MMSI number of the ship. </p>
			<p><b>Name</b> - Enter the name of the ship. </p>
			<p><b>Call Sign</b> - Enter the call sign of the ship. </p>
			<p><b>Ship Type</b> - Select ship type or specify important information (e.g. dangerous cargo). </p>
			<p><b>AIS Type</b> - Select AIS targets based on AIS type (e.g. Base Station, Class A, Class B, AtoN, SAR Aircraft). </p>
			<p><b>Min/Max Speed</b> - Minimum and maximum speed of the ship. </p>
			<p><b>Min/Max Course</b> - Specify minimum and maximum values of course interval for each ship. </p>
			<p><b>Min/Max Length</b> - Minimum and maximum length of the ship. </p>
			<p><b>Data Source</b> - Signal source (e.g. satellite, land station, LRIT). </p>
			<p><b>Save Changes</b> - Save changes and return to the main view. </p>
			<p><b>Close</b> - Cancel all changes and return to the main view. </p>
			<p><img class="small-icon" :src="require('../../../../../images/help-topic/plus-button.png')"> - Add more filter details. </p>
			<p><img class="small-icon" :src="require('../../../../../images/help-topic/x-button.png')"> - Delete filter details. </p>
        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example Filter Designer"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
	</div>
	
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import filterDesigner1 from '../../../../../images/help-topic/filter-designer-1.png'
	import filterDesigner2 from '../../../../../images/help-topic/filter-designer-2.png'
	

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class CreateFilterHelper extends Vue{

		showModal = false
		modalImg = ''
		filterDesigner1 = filterDesigner1
		filterDesigner2 = filterDesigner2

		showVesselImage(img){
			const images = {
				img1 : filterDesigner1,
				img2 : filterDesigner2,
			}
			this.modalImg = images[img]
			this.showModal = true

		}
		
	}
</script>