<template>
  <section class="charts">
    <charts
      :options="options"
      style="height: 500px; max-width: 1500px; margin: 0 auto"
    ></charts>
  </section>
</template>

<script>

	/*
	Script start
	 */
	import Vue from 'vue'
	import { Component, Prop } from 'vue-property-decorator'
	import HighchartsVue from 'highcharts-vue'
	import Highcharts from 'highcharts'
	import Exporting from "highcharts/modules/exporting"
	import ExportingData from "highcharts/modules/export-data"
	import Boost from 'highcharts/modules/boost'

	Exporting(Highcharts)
	ExportingData(Highcharts)
	Boost(Highcharts)
	Vue.use(HighchartsVue, {tagName: 'charts'})

  	import moment from 'moment'

	/*
	Class start
	 */
	@Component
	export default class LineChart extends Vue {	

		@Prop() data
		@Prop() title
		@Prop() yTitle
		@Prop() name
		

 		options={

			chart: {
		    	zoomType: 'x',
	        	panning: true,
	        	panKey: 'shift'
			},
			boost: {
		        useGPUTranslations: true
		    },
			title: {
			    text: '',
			    x: -20 //center
			},
			subtitle: {
                text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
			credits: {
			    enabled: false
			},
			xAxis: {
			    type: 'datetime'
			},
			time:{
				useUTC:false
			},
		    yAxis: {
		      lineColor: '#999',
		      lineWidth: 1,
		      tickColor: '#666',
		      tickWidth: 1,
		      tickLength: 3,
		      gridLineColor: '#ddd',
		      min: 0,
		      title: {
		        text: ''
		      },
		    },
		    
			tooltip: {
			    valueSuffix: ``,
			    valueDecimals: 2,
			},
			series: [{
				name: '',
				color: '#448bf8',
				lineWidth: 0.5,
		    	data: []
		    }]
			
		}

		created(){
			this.options.series[0].data = this.data.sort(function(a,b) { return a[0] - b[0]; })
			this.options.series[0].name = this.name
			this.options.title.text = this.title
			this.options.yAxis.title.text = this.yTitle
		}

	}

</script>