<template>
  <section class="charts">
    <charts
      :options="options"
      style="height: 500px; max-width: 1500px; margin: 0 auto"
    ></charts>
  </section>
</template>

<script>

	/*
	Script start
	 */
	import Vue from 'vue'
	import { Component, Prop } from 'vue-property-decorator'
	import Highcharts from 'highcharts'
	import VueHighcharts from 'highcharts-vue'
	import highchartsMore from 'highcharts/highcharts-more'
	import Exporting from "highcharts/modules/exporting"
	import ExportingData from "highcharts/modules/export-data"

	Exporting(Highcharts)
	ExportingData(Highcharts)
	highchartsMore(Highcharts)
	Vue.use(VueHighcharts, {Highcharts})

	/*
	Class start
	 */
	@Component
	export default class LineChart extends Vue {	

		@Prop() data
		@Prop() title
		@Prop() name

		categories = []
 		options={

 			series: [{
 				name: "",
 				data: ""
		    }],

			chart: {
	            polar: true,
	            type: 'column'
        	},
			title: {
	            text: ''
	        },
			credits: {
			    enabled: false
			},
			pane: {
	            size: '85%'
	        },
	        legend: {
	            align: 'right',
	            verticalAlign: 'top',
	            y: 100,
	            layout: 'vertical'
	        },
			xAxis: {
	            min: 0,
	            max: 360,
	            tickInterval: 22.5,
	            tickmarkPlacement: 'on',
	            labels: {
	                formatter: function () {
	                	this.categories = ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'] 
	                    return this.categories[this.value / 22.5] + '°';
	            	}
	            }
	        },
	        yAxis: {
	            min: 0,
	            endOnTick: false,
	            showLastLabel: true,
	            title: {
	                text: 'kn'
	            },
	            labels: {
	                formatter: function () {
	                    return this.value + 'kn';
	                }
	            },
	            reversedStacks: false
	        },
	        tooltip: {
	            valueSuffix: 'kn'
	        },
	        plotOptions: {
	            series: {
	                shadow: false,
	                groupPadding: 0,
	                pointPlacement: 'on'
	            }
	        }
			
		}

		created(){
			this.options.series[0].data = this.data
			this.options.series[0].name = this.name
			this.options.title.text = this.title
		}

		mounted () { 

		}

		beforeDestroy(){

		}

	}

</script>