<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li class="active">EICS</li>
        	</ul>
        	<div class="content">
        		<p><b>1. View EICS</b></p>
        		<p>Select any vessel on map and click EICS button at sidebar menu to open EICS list summary.  Click Filter to show the EICS properties and click toggle to ON/OFF the EICS properties. It will show vessel which have EICS properties that near with selected vessel</p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="eicsImg1"></p>
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="eicsImg2"></p>

        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example EICS"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import eicsImg1 from '../../../../../images/help-topic/eics-1.png'
	import eicsImg2 from '../../../../../images/help-topic/eics-2.png'
	

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')
		}
	})
	export default class EicsContent extends Vue{

		showModal = false
		eicsImg1 = eicsImg1
		eicsImg2 = eicsImg2

		showVesselImage(img){
			const images = {
				img1 : eicsImg1,
				img2 : eicsImg2
			}
			this.modalImg = images[img]
			this.showModal = true
		}

	}
</script>