<template>
	<div>
		<radial-gauge :value="val" :options="option"></radial-gauge>
	</div>
</template>
<style scoped>
	.form-control {
		width: 65px;
		display: inline-block;
	}
</style>
<script>
	
	/*
	Script start
	 */
	
	import { Component, Prop } from 'vue-property-decorator'
	import Vue from 'vue'
	import RadialGauge from 'vue2-canvas-gauges/src/RadialGauge'

	/*
	Class start
	 */
	@Component({
		components: {			
			RadialGauge
		}
	})
	export default class AirPressureGauge extends Vue {

		@Prop() val
		// @Prop() options

		option={
        	width: 200,
		    height: 200,
		    units: "hPa",
		    minValue: 940,
		    maxValue: 1060,
		    majorTicks: [
		        940,
		        950,
		        960,
		        970,
		        980,
		        990,
		        1000,
		        1010,
		        1020,
		        1030,
		        1040,
		        1050,
		        1060
		    ],
		    minorTicks: 10,
		    strokeTicks: true,
		    highlights: [
		        {
		            "from": 940,
		            "to": 1060,
		            "color": "black"
		        }
		    ],
		    ticksAngle: 270,
		    startAngle: 45,
		    colorMajorTicks: "#ddd",
		    colorMinorTicks: "#ddd",
		    colorTitle: "#eee",
		    colorUnits: "#ccc",
		    colorNumbers: "#eee",
		    colorPlate: "#222",
		    borderShadowWidth: 0,
		    borders: true,
		    needleType: "arrow",
		    needleWidth: 2,
		    needleCircleSize: 7,
		    needleCircleOuter: true,
		    needleCircleInner: true,
		    animationDuration: 1500,
		    colorNeedleCircleInner: 'black',
		    colorNeedle: 'red',
		    colorNeedleEnd: 'red',
		    animationRule: "linear",
		    colorBorderOuter: "#333",
		    colorBorderOuterEnd: "#111",
		    colorBorderMiddle: "#222",
		    colorBorderMiddleEnd: "#111",
		    colorBorderInner: "#111",
		    colorBorderInnerEnd: "#333",
		    colorNeedleShadowDown: "#333",
		    colorNeedleCircleOuter: "#333",
		    colorNeedleCircleOuterEnd: "#111",
		    // colorNeedleCircleInner: "#111",
		    colorNeedleCircleInnerEnd: "#222",
		    valueBox: false,
		    valueBoxBorderRadius: 0,
		    colorValueBoxRect: "#222",
		    colorValueBoxRectEnd: "#333"
		    }

		// mounted(){
		// 	console.log("gust"+this.val)
		// }

		beforeDestroy(){
			// this.clearFormData()
		}
	}


</script>