<template>
	<div v-if="points.length">
		<circle-point		
			v-for="(point, index) in points"
			:key="point.id"
			:map="map"
			:id="point.id"
			:latitude="point.latlng.lat"
			:longitude="point.latlng.lng"
			:zoom="zoom"
			:labelVisibilityZoom="1"
			:label="getLabel(index)"
			:opacity="0"
			tooltipdir="top"
			customClass="tools-ruler"
		>
		</circle-point>
	</div>	
</template>

<script>

	import Vue from 'vue'
	import { Component } from 'vue-property-decorator' 
	import { namespace, Getter, Action, Mutation, State } from 'vuex-class'

	const MapModule = namespace('map')
	const ToolsRulerModule = namespace('tools/ruler')	

	@Component({
		components: {
			'circle-point': ()=>import('../../common/libs/leaflet/CirclePoint')
		}
	})	
	export default class ToolsRulerLayer extends Vue {

		@MapModule.Getter map
		@MapModule.Getter zoom	
		@ToolsRulerModule.Getter points	
		@ToolsRulerModule.Getter distance
		@ToolsRulerModule.Getter bearing

		getLabel(index){			
			if(!index){return 'S'}
			return `${_.round((this.distance/1.852),1)}NM/${this.bearing}°`
		}		

	}
</script>