<!-- <style scoped src="../../../styles/mini-helper-panel.scss"></style> -->
<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>
	.widget-wrapper.override.lg {
		top: 15px;
	    width: 200px;
	    height: 500px;
	    left: calc(100% - 215px);
	    border-radius: 5px;
	    z-index: 800;
	}
	.widget-wrapper.sm {
	    top: 15px;
	    width: 200px;
	    height: 500px;
	    left: calc(100% - 215px);
	    border-radius: 5px;
	    z-index: 800;
	    min-height: 0;
	}
	.title{
		font-size: 15px;
		padding: 10px;
		color: #1c84c6;
		padding-bottom: 4px;
		margin-bottom: 4px;		
    	padding-left: 0;
	}
	hr {
	    margin-top: 0px;
	    margin-bottom: 5px;
	    border: 0;
	    border-top: 1px solid #eee;
	}
	ul{
		margin-left: 0;
		padding-left: 0;
	}
	li{
        display: block;
    	align-items: center;
    }

	.legend-icon {
		margin-top: 70px;
	}

    .legend-icon.admin{
    	margin-top: 140px;
    }

    .legend-color {
        display: block;
    }
    .legend-name{
    	font-size: 12px;
    	display: flex;
    	padding: 5px 7px;
    }
    .legendTypeName{
    	font-size: 13px;
    	width: 80%;
    	padding-left: 5px;
    	margin-top: -3px;
    }
    .legendTypeIcon{
    	/*padding-top: 3px;
    	width: 10%;*/
    }
	#icon {
		display: inline-block;
		border: 1px solid;
		border-radius: 50%;
		height: 13px;
		width: 13px;
		/*margin-left: 9px;*/
	}
	.input-color-container {
		position: relative;
		overflow: hidden;
		width: 13px;
		height: 13px;
		border: solid 1px #ddd;
		border-radius: 50%;
	}

	.input-color {
		position: absolute;
	    right: -5px;
	    top: -7px;
	    width: 21px;
	    height: 25px;
	    border: none;
	}

	.input-color-label {
		cursor: pointer;
		text-decoration: underline;
		color: #3498db;
	}
	.reset-button{
		padding: 1px;
	}
	th{
		text-align: center;
	}

	.legend-header{
		position: fixed;
	    background: white;
	    width: 200px;
	    z-index: 1;
	    border-top-left-radius: 5px;
    	border-top-right-radius: 5px;
    	padding: 5px;
    	border-bottom: 1px solid #dedede;
	}

	.reset-color{
	    font-size: 12px;
	    cursor: pointer;
	    color: #333;
	    margin-top: 5px;
    	display: block;
	}

	.reset-color:hover{
		color: #1b77b5;
	}
</style>
<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<right-wrapper override="true" :scroller="true" data-component="ToolsLegend">    	
        <template slot="scroll-content">
        	<div>

        		<div class="legend-header">
        			<h3 class="title"> Legend <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h3>

					<!-- <div v-if="userLevel !== 'TenantUser'">
						<label for="viewAs">
							View As
						</label>

	        			<select2
	        				id="viewAs"
							:fullWidth="false"            
							:options="viewAsOptions"
							:value="viewAs"						
							@input="updateViewAs($event)"
						></select2>
					</div> -->

					<div v-if="userLevel !== 'TenantUser'">
						<div class="form-group">
							<!-- checkbox has been styled using awesome-bootstrap-checkbox -->
							<div class="checkbox">
								<input 
									type="checkbox" 
									id="keepLogin" 
									v-model="viewAsToggle"
								>
								<label for="keepLogin">
									Apply changes to all user
								</label>
							</div>
						</div>
					</div>


	        	
	        		<a v-if="!filterColor.length" @click.prevent="resetColor" class="reset-color">
	        			Reset Color
	        		</a>

        		</div>

	        	<hr>
	        	<div class="legend-icon" :class="{admin: userLevel != 'TenantUser' }">
					<ul v-if="filterColor.length">
						<li v-for="legend in filterColor">
					        <div v-for="filterDetails in legend.filterDetails" class="legend-name">
					        	<div class="legendTypeIcon"><div :style="{ 'background-color': legend.colour, 'border-color': legend.borderColour }" id="icon"></div> </div>
					        	<div class="legendTypeName">{{ filterDetails.columnValue }}</div>
					        </div>
					    </li>
					</ul>	 
					<ul v-if="!filterColor.length && shipTypeColorArr.length">
						<li v-for="shipTypeColor in shipTypeColorArr">
							<div class="legend-name">			
					        	<div class="input-color-container">
					        		<input id="input-color" :value="shipTypeColor.color" class="input-color" type="color"					        		
					        		@input="updateColor($event.target.value, shipTypeColor.type)"
					        		>
					        	</div>
					        	<div class="legendTypeName">{{ formatName(shipTypeColor.type) }}</div>
					        </div>					        
						</li>
					</ul>

	        	</div>
        	</div>
        </template>
    </right-wrapper>	
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import vesselInfoHelper from '../../../helpers/vesselinfo'

	import 'awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'
	
	const LegendModule = namespace('tools/legend')	
	const MapModule = namespace('map')
	const FilterModule = namespace('filters')
	const VesselDetailsColorModule = namespace('vesselDetails/colors')
	const AppWidgetModule = namespace('app/widgets')
	const AuthorizationModule = namespace('auth/authorization')

/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/	
	@Component({
		components:{
			'right-wrapper': ()=> import('../../common/WidgetContainers/map/RightWrapper'),
			'select2': ()=> import('../../common/libs/Select2')
		}
	})

	export default class ToolsLegend extends Vue{

		filterColor = []

		@MapModule.Getter map
		@MapModule.Getter vessels

		@AppWidgetModule.Getter activeWidgets
        @AppWidgetModule.Getter widgetLength

		@FilterModule.Getter selectedFilter

		@VesselDetailsColorModule.Getter('colors') colorScheme
		@VesselDetailsColorModule.Mutation setColor		
		@VesselDetailsColorModule.Mutation resetRoleColors
		@VesselDetailsColorModule.Mutation copyUserColorTo		
		
		@LegendModule.Getter shipTypeColorArr
		@LegendModule.Getter viewAs
		
		@LegendModule.Mutation toggleLegendEnabled		
		@LegendModule.Mutation clearShipTypeColorArr
		@LegendModule.Mutation setViewAs

		@LegendModule.Action addShipTypeColor	
		

		@AuthorizationModule.Getter userLevel

		get viewAsOptions(){
			if(this.userLevel == 'TenantAdmin'){
				return [
					{text:'User', id:'user'},
					{text:'Admin', id:'tenant'}
				]
			}
			else if(this.userLevel == 'HostAdmin'){
				return [
					{text:'User', id:'user'},
					{text:'Admin', id:'host'}
				]	
			}
			else{
				return [
					{text:'User', id:'user'}					
				]
			}
		}

		get viewAsToggle(){
			return this.viewAs == 'user' ? false : true
		}

		set viewAsToggle(value){				
			
			if(value){ 
				this.setViewAs(this.adminType) 

				// copy current user color to admin level
				this.copyUserColorTo(this.adminType)
			}
			else{ this.setViewAs('user') }			
			
		}

		get adminType(){			
			const adminType = _.find(this.viewAsOptions, {text:'Admin'})
			return adminType ? adminType.id : 'user'
		}

		/*
		created
		 */
		created(){			
			Event.listen('Map.Events.Drawing.End', ()=>{				
				if(_.find(this.activeWidgets, {name:'Tools.Legend'})){						
					this.refreshInViewVessels()
				}
			})

			Event.listen('Map.ActivateWidget', (widget)=>{
				if(widget !== 'Tools.Legend'){this.closeWidget()}
			})

			Event.listen('Map.ClearWidget', ()=>{this.closeWidget()})


		}

		/*
		mounted
		 */
		mounted(){			
			if(this.selectedFilter){
				this.filterColor = _.cloneDeep(this.selectedFilter.filterItems)				
			}
			
			this.refreshInViewVessels()
			Event.fire('Map.Events.Drawing.Do', 'Tools.Legend.mounted')

		}
		
		/*
		refreshInViewVesselsCount
		 */
		refreshInViewVessels(){	
			
			this.clearShipTypeColorArr()
			
			let bounds = this.map.getBounds()          

            if(this.vessels.size){
                this.vessels.forEach((v)=>{

                    if (bounds.contains(v.latlng) && v.isDrawn) {  
                        // determine vessel type
                        // const type = vesselInfoHelper.getShipType(v.shipType)
                        
                        let type = v.shipType_ToString

                        if(!type){
							// get vesselCLass using messageId
							type = vesselInfoHelper.getVesselClass(v)
							
							if(type == 'Other'){
								this.addShipTypeColor({type:'Unknown', level:this.viewAs})
							}
							else if(type != 'ClassA' && type != 'ClassB'){
								this.addShipTypeColor({type, level:this.viewAs})	
							}
							
						} 
						else{
							this.addShipTypeColor({type, level:this.viewAs})
						}
	                    
                    }
                }) 
                
            }            
		}					      

		formatName(name){
			if (name === "Aton") {
            	return "AtoN";
            }
            else if (name === "VAton") {
            	return "V.AtoN";
            }
			else if(name === "Sart"){
				return 'SART';
			}
			else if(name === 'Sar'){
				return 'SAR Aircraft';
			}
			else if(name === 'BaseStation'){
				return 'Base Station';
			}
			else{
				return name
			}
		}
		/*
		updateViewAs
		 */
		updateViewAs(level){
			this.setViewAs(level)
			Event.fire('Map.Events.Drawing.Do', 'Tools.Legend.ViewAs.Update')
		}

		/*
		updateColor
		 */
		updateColor(color, shipTypeName){
			
			this.setColor({
				role:'user', 
				color,
				shipTypeName
			})

			if(this.viewAsToggle){			
				this.setColor({
					role:this.adminType, 
					color,
					shipTypeName
				})	
			}
			
			Event.fire('Map.Events.Drawing.Do', 'Tools.Legend.Color.Update')
		}

		/*
		resetColor
		 */
		resetColor(){
			this.resetRoleColors(this.adminType)
			Event.fire('Map.Events.Drawing.Do', 'Tools.Legend.Color.Reset')
		}

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.toggleLegendEnabled(false)			
		}	

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.setViewAs('user')
			Event.fire('Map.DeactivateWidget', 'Tools.Legend')			
		}	

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){                	            
            Event.fire('Map.Events.Drawing.Do')
        }	
	}
</script>