<template>
    <tools-menu v-if="rightMenuEnabled" @close-right-pane="toggleToolsRightMenuPane(false)"></tools-menu>
</template>

<script>
    /*
    Script start
     */
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class'

    const RightMenuModule = namespace('tools/rightmenu')
    const ToolsModule = namespace('tools')         
    

    /*
    Class start
     */
    @Component({
    	components: {
    		'tools-menu': ()=> import('./ToolsMenu')
    	}
    })
    export default class ToolsMenuRightPane extends Vue {         
    	@RightMenuModule.Getter('enabled') rightMenuEnabled

        @ToolsModule.Mutation toggleToolsRightMenuPane
    }
</script>