<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<!-- the style is too specific to have its own file -->
<style scoped>
    .widget-wrapper.override.lg {
        top: 16px;
        height: auto;
        width: auto;
        left: calc(100% - 50px);
        margin-bottom: 0;        
        background-color: transparent;
    }

    .widget-wrapper.override.sm {
        top: 20px;
        height: auto;
        min-height: auto;
        width: auto;
        left: calc(100% - 50px);
        margin-bottom: 0;
        background-color: transparent;
    }

    .widget-wrapper.override{
        z-index: 800;
    }

    .action {        
        border-radius: 50%;
    }

    .main-action {
        background-color: #fff;
        /* padding: 9px; */
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
    }

    .main-action img {
        width: 20px;
    }

    .sub-action {
        margin-top: 5px;
        padding: 10px; 
        background-color: #313b56;
        /* padding-left: 12px; */
        width: 39px;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;      
    }

    .sub-action:hover {
        cursor: pointer;
        background-color: #313b56cc;
    }

    .sub-action.active {
        border: 2px solid red;
    }

    .sub-action img {
        width: 29px;
    }

    /**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltips-right] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltips-right]:before,
[data-tooltips-right]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltips-right]:before {

    content: attr(data-tooltips-right);


      width: max-content;
      background-color: rgba(29, 38, 62, 0.95);
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 3px 7px;
      position: absolute;
      z-index: 1;
      top: 8px;
      right: 110%;
      display: block !important;
      font-size: 12px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      font-weight: 500;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltips-right]:after {
    /*position: absolute;
    left: 110%;
    margin-left: -5px;
    width: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 5px solid rgba(29, 38, 62, 0.95);
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    top: -5px;
    transition: all .3s ease-in-out; */
}

/* Show tooltip content on hover */
[data-tooltips-right]:hover:before,
[data-tooltips-right]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.pop-enter-active,
.pop-leave-active {
  transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
  
}

.pop-enter,
.pop-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

.pop-enter-active:nth-child(2) {
  transition-delay: .1s;
}
.pop-leave-active:nth-child(1) {
  transition-delay: .1s;
}

</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
    <right-wrapper :override="true" customClass="tools-menu">
        <template slot="content">
                        
            <div v-show="showMainAction" class="action-container" @mouseleave.prevent="subActionsHide">
                <div data-tooltips-right="Tools" class="action main-action" @mouseover.prevent="subActionsShow">
                    <img src="../../../../images/tools-icon/tools-menu.svg" v-on-clickaway="subActionsHide">
                </div>

                <transition-group name="pop" tag="div">
                    <div  :data-tooltips-right="action.tooltipName"
                        class="action sub-action" 
                        :class="{ active: isActive(action.name) }"
                        v-for="action in actions"
                        :key="action.id" 
                        v-show="showSubActions"
                        @click.prevent="open(action.name)"
                    >
                        <img :src="icons[action.name]">
                    </div>
                </transition-group>    
            </div>
            

        </template>
    </right-wrapper>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>    
	import Vue from 'vue'
    import { Component, Watch} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class'
    import { Debounce } from 'lodash-decorators'

    import utilHelper from '../../../helpers/util'

    import { directive as onClickaway } from 'vue-clickaway';

    import 'jquery-overlaps/jquery.overlaps.js'

    const ToolsRulerModule = namespace('tools/ruler')
    const ToolsWeatherStationModule = namespace('tools/weatherStation') 
    const ToolsLegendModule = namespace('tools/legend')
    const MapModule = namespace('map')
    const AppWidgetModule = namespace('app/widgets')   
    
    /*
    Class start
     */
    @Component({
        components: {
            'right-wrapper': ()=>import('../../common/WidgetContainers/map/RightWrapper')
        },
        directives: {
            onClickaway: onClickaway
        }
    })    
    export default class ToolsMenu extends Vue {

        @ToolsRulerModule.Getter('enabled') rulerEnabled
        @ToolsWeatherStationModule.Getter('enabled') weatherStationEnabled
        @ToolsLegendModule.Getter('enabled') legendEnabled
        @AppWidgetModule.Getter activeWidgets
        @AppWidgetModule.Getter widgetLength

        @ToolsRulerModule.Mutation toggleRulerEnabled
        @ToolsWeatherStationModule.Mutation toggleWeatherStationEnabled
        @ToolsLegendModule.Mutation toggleLegendEnabled
        @MapModule.Mutation addMapLayer        

        actions = [
            {id: utilHelper.genRandom(32), name:'ruler', tooltipName:'Ruler'},
            {id: utilHelper.genRandom(32), name:'weatherStation', tooltipName:'Weather Station'},
            {id: utilHelper.genRandom(32), name:'legend', tooltipName:'Legend'}
        ]

        showSubActions = false 
        showMainAction = true

        // preload some images
        created(){
            this.icons = {
                ruler: require(`../../../../images/tools-icon/ruler.svg`),
                weatherStation: require(`../../../../images/tools-icon/weather-station.svg`),
                legend: require(`../../../../images/tools-icon/legend.svg`)
            }          
        }        

        @Watch('widgetLength', {immediate:true})
        widgetsLengthChanged(newVal){  
          
            if(!newVal){                
                this.subActionsHide()
                this.mainActionsShow()
            }
            else{                                                            
                if(

                  _.some(this.activeWidgets, {name:"Vessel.Right.Detail"}) ||
                  _.some(this.activeWidgets, {name:"Tools.Legend"})

                ){
                  this.subActionsHide()
                  this.mainActionsHide()
                }
            }
        }
        
        mainActionsShow(){if(!this.showMainAction){ this.showMainAction = true }}   
        mainActionsHide(){if(this.showMainAction){ this.showMainAction = false }}    
        subActionsShow(){if(!this.showSubActions){ this.showSubActions = true }}   
        subActionsHide(){if(this.showSubActions){ this.showSubActions = false }}

        /**
         * To add .active class depends on status of action
         * @param  string  action name of action
         * @return void
         */
        isActive(action){
            if(action == 'ruler'){return this.rulerEnabled}
            else if(action == 'weatherStation'){                                
                return this.weatherStationEnabled
            }
            else if(action == 'legend'){                                
                return this.legendEnabled
            }
        }    

        /**
         * Open sub menu action
         * @return void
         */
        open(action){
            
            if(action == 'ruler'){
                
                this.toggleRulerEnabled(true)
                this.addMapLayer('toolsRuler')
                Event.fire('Map.ActivateWidget', 'Tools.Ruler')                

            }
            else if(action == 'weatherStation'){
                if(this.weatherStationEnabled){
                  this.toggleWeatherStationEnabled(false)
                  Event.fire('Map.Events.Drawing.Do', 'ToolsWeatherStation.Show.toggle')
                  Event.fire('Map.ActivateWidget', 'Tools.WeatherStation')
                }
                else{
                  this.toggleWeatherStationEnabled(true)
                  Event.fire('Map.Events.Drawing.Do', 'ToolsWeatherStation.Show.toggle')
                  Event.fire('Map.ActivateWidget', 'Tools.WeatherStation')
                }
                
            }                

            else if(action == 'legend'){                
                Event.fire('Map.ActivateWidget', 'Tools.Legend')
                this.toggleLegendEnabled(true)              
            }


                
        }         


    }
</script>