<template>
	<nav class="navbar-default navbar-static-side" role="navigation">
	    <div class="sidebar-collapse">
	        <ul class="nav metismenu" id="side-menu">
	            <li class="nav-header">
	                <div class="dropdown profile-element">
	                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
	                        <span class="clear">
	                            <span class="block m-t-xs">
	                                <strong class="font-bold">Example user</strong>
	                            </span> <span class="text-muted text-xs block">Example menu <b class="caret"></b></span>
	                        </span>
	                    </a>
	                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
	                        <li><a href="#">Logout</a></li>
	                    </ul>
	                </div>
	                <div class="logo-element">
	                    IN+
	                </div>
	            </li>	            
	            <li :class="{ 'active':isActiveRoute('mainmap') }">
	                <router-link :to="{ name: 'mainmap' }">
	                	<a href="#"><font-awesome-icon :icon="['fas', 'map-marked-alt']" size="lg" /> <span class="nav-label"> << Back to map</span></a>
	                </router-link>
	            </li>
	            <li>
	                <a href="#"><font-awesome-icon :icon="['fas', 'user']" size="lg" /> <span class="nav-label"> Users</span></a>
	            </li>
	        </ul>

	    </div>
	</nav>
</template>


<script>
	
	import Vue from 'vue'
    import { Component } from 'vue-property-decorator'      
    
    @Component
    export default class AdminNavigation extends Vue {    	
    	
    	isActiveRoute(routeName){    		
    		return routeName === this.$route.name
    	}

    	mounted(){
    		$('#side-menu').metisMenu();    		
    	}
    }

</script>