<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>
    /* Enter and leave animations can use different */
    /* durations and timing functions.              */
    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }

    .text-centered {
        text-align: center;
    }

    .absolute-top{
        position: absolute;
        z-index: 10000;
        width: 100%;
    }
    .alert-panel{
        top: 10px;
        position: absolute;
        left: 50%;
    }
    .alert-ui{
        position: relative;
        left: -50%;
        -webkit-box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
        box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
    }

    .alert-ui.alert-on-lg {
        width: 600px;
    }

    .alert-ui.alert-on-sm {
        width: calc(100vw - 140px);
    }

    .alert-title{
        padding-bottom: 10px;
    }

    .alert-danger {
        color: #f92d2d;
        background-color: #fff;
        border-color: #f3647b;
        border-left: 5px solid #f92d2d;
    }

    .alert-success {
        color: #158017;
        background-color: #fff;
        border-color: #158017;
        border-left: 5px solid #158017;
    }

    button.close {
        position: absolute;
        right: 10;
        top: 5;
    }

    .alert > p {
        padding-left: 18px;
    }



</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>

    <transition name="slide-fade">
        <div class="alert-panel">
            <div class="alert alert-ui"
                 role="alert"
                 v-show="show"
                 :class="{
					'alert-danger': isDanger, 
					'alert-success': isSuccess,
					'alert-info': isInfo, 
					'alert-warning': isWarning, 
					'text-centered' : centertext,
					'absolute-top' : absolutetop,
					'alert-on-lg' : isSmAndLarger,
					'alert-on-sm' : isXs
				}"
            >
                <span><font-awesome-icon :icon="['fas', 'bell']" size="lg" /></span>
                <b>{{ title }}</b> <p>{{message}}</p>

                <button type="button" class="close" aria-label="Close" @click.prevent="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
        </div>

    </transition>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>

    /*
    Script start
     */

    import Vue from 'vue'
    import { Component, Prop } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation, State } from 'vuex-class'

    const appScreenSizeModule = namespace('app/screensize')

    /*
    Class start
     */
    @Component
    export default class AlarmNotification extends Vue{

        @appScreenSizeModule.Getter isSmAndLarger
        @appScreenSizeModule.Getter isXs

        @Prop({ default: false }) centertext
        @Prop({ default: false }) absolutetop

        show = false;
        title = '';
        message =  '';
        priority = '';

        /*
        created
         */
        created(){

            Event.listen('Notification.Alarm', ({priority, title, message})=>{

                this.priority = priority
                this.title = title
                this.message = message


                // show it
                this.show = true

                // hide after few seconds
                setTimeout(()=>{
                	this.show = false
                }, 5000)

            })


        }


        get isDanger(){return this.priority === 'high'}
        get isWarning(){return this.priority === 'medium'}
        get isInfo(){return this.priority === 'low'}
        get isSuccess(){return this.priority === 'low'}

        /*
        closeAlert
         */
        closeAlert(){
            this.show = false
        }

    } // end class
</script>