<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>
	/* Enter and leave animations can use different */
	/* durations and timing functions.              */
	.slide-fade-enter-active {
		transition: all .3s ease;
	}
	.slide-fade-leave-active {
		transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active below version 2.1.8 */ {
		transform: translateX(10px);
		opacity: 0;
	}

	.text-centered {
		text-align: center;
	}

	.absolute-top{
		position: absolute;
	    z-index: 10000;
	    width: 100%;
	}
	.alert-panel{
		top: 10px;
		 position: absolute; 
		 left: 50%;
	}
	.alert-ui{
		width: 400px;
		position: relative; 
		left: -50%; 
		-webkit-box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
    	box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
	}

	.alert-ui.alert-on-lg {
		width: 600px;
	}

	.alert-ui.alert-on-sm {
		width: calc(100vw - 140px);
	}

	.alert-title{
		padding-bottom: 10px;
	}

	.alert-danger {
	    color: #f92d2d;
	    background-color: #fff;
	    border-color: #f3647b;
	    border-left: 5px solid #f92d2d;
	}

	.alert-success {
	    color: #158017;
	    background-color: #fff;
	    border-color: #158017;
	    border-left: 5px solid #158017;
	}
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<transition name="slide-fade">
		<div class="alert-panel">
			<div class="alert alert-ui" 
				role="alert" 
				v-show="show"
				:class="{
					'alert-danger': isDanger, 
					'alert-success': isSuccess, 
					'text-centered' : centertext,
					'absolute-top' : absolutetop,
					'alert-on-lg' : isSmAndLarger,
					'alert-on-sm' : isXs
				}"	
			>
				<span><font-awesome-icon :icon="['fas', 'info-circle']" size="lg" /></span> 
				<b>{{ message }}</b> {{details}}				

				<button type="button" class="close" aria-label="Close" @click.prevent="closeAlert()">
					<span aria-hidden="true">&times;</span>
				</button>
				
			</div>
		</div>
		
	</transition>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>

	/*
	Script start
	 */

	import Vue from 'vue'
	import { Component, Prop } from 'vue-property-decorator' 
	import { namespace, Getter, Action, Mutation, State } from 'vuex-class'     

	const appScreenSizeModule = namespace('app/screensize')

	/*
	Class start
	 */
	@Component
	export default class AppNotification extends Vue{

		@appScreenSizeModule.Getter isSmAndLarger
		@appScreenSizeModule.Getter isXs
		
		@Prop({ default: false }) centertext
		@Prop({ default: false }) absolutetop

		show = false
		message =  ''
		details = ''
		isDanger =  false
		isSuccess =  false		

		/*
		resetType
		 */
		resetType(){
			this.isDanger = false
			this.isSuccess = false
		}

		/*
		resetMessageDetails
		 */
		resetMessageDetails(){
			this.message = ''
			this.details = ''
		}

		/*
		created
		 */
		created(){

			Event.listen('Notification.ServerError', (data)=>{
				
				// reset all alert type
				this.resetType()
				// reset any message and details
				this.resetMessageDetails()
				// set to danger
				this.isDanger = true
				// set the message
				this.message = _.has(data, 'message') ? data.message : 'Oops! Something went wrong'								
				this.details = _.has(data, 'details') ? data.details : ''								
				// show it
				this.show = true

				// hide after 5 seconds
				setTimeout(()=>{
					this.show = false
				}, 5000)
				
			})

			Event.listen('Notification.ClientError', (data)=>{
				
				// reset all alert type
				this.resetType()
				// reset any message and details
				this.resetMessageDetails()
				// set to danger
				this.isDanger = true
				// set the message
				this.message = _.has(data, 'message') ? data.message : 'Oops! Something went wrong'								
				this.details = _.has(data, 'details') ? data.details : ''								
				// show it
				this.show = true

				// hide after 5 seconds
				setTimeout(()=>{
					this.show = false
				}, 5000)
				
			})


			Event.listen('Notification.Success', (data)=>{
				
				// reset all alert type
				this.resetType()
				// reset any message and details
				this.resetMessageDetails()
				// set to success
				this.isSuccess = true
				// set the message
				this.message = _.has(data, 'message') ? data.message : 'Operation Successfull'								
				// show it
				this.show = true
				// hide after 5 seconds
				setTimeout(()=>{
					this.show = false
				}, 3000)
			})

			
		}

		/*
		closeAlert
		 */
		closeAlert(){
			this.show = false
		}
	
	} // end class
</script>