<template>

	<v-fragment>
		<!-- Confirm modal -->
		<confirm-modal
		title="Confirm deletion"
		:content="confirmRemoveContent"
		v-if="showDeleteConfirmation"
		@confirm="doRemove"
		@cancel="cancelRemove"
		></confirm-modal>

		<slot name="content"></slot>
		
	</v-fragment>
	
</template>

<script>
	/*
	Script start
	 */
	import Vue from 'vue'
	import { Component, Prop } from 'vue-property-decorator'
	import { namespace, Getter, Mutation } from 'vuex-class'
	
	import {Plugin as FragmentPlugin} from 'vue-fragments'
	Vue.use(FragmentPlugin)	

	const FilterModule = namespace('filters')

	/*
	Class start
	 */
	@Component({
		components: {
			'confirm-modal' : ()=> import('./libs/Confirm'),
		}
	})
	export default class DeleteConfirmation extends Vue {		

		// Specific of the item to be deleted
		// Must at least conform to format
		// {
		// 	id: itemid
		// 	name: 'itemname',
		// 	...			
		// }
		@Prop() item
		
		// Type of item to be removed; to be used in content
		// Eg: Confirm to remove [type]?
		@Prop() type		

		@Prop({default:true}) showName

		showDeleteConfirmation = false			

		/*
		mounted
		 */
		mounted(){	
			$(this.$slots.content[0].elm).click(()=>{
				this.remove()
			})
			
		}


		/*
		remove
		 */
		remove(){			
			this.showDeleteConfirmation = true			
		}

		/*
		doRemove
		 */		
		doRemove(){
			this.$emit('confirm', this.item)
			this.showDeleteConfirmation = false						
		}

		/*
		cancelRemove
		 */
		cancelRemove(){
			this.showDeleteConfirmation = false
		}

		/*
		confirmRemoveContent
		 */
		get confirmRemoveContent(){					
			if(this.showName){
				return `Are you sure to delete this ${this.type} (${this.item.name}) ?`	
			}

			return `Are you sure to delete this ${this.type} ?`
			
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){			
			$(this.$slots.content[0].elm).off('click')
		}

	}

</script>