<style scoped>
	
</style>

<template>
	<div>
		<p>Hello</p>
	</div>
</template>

<script>
	
	import Vue from 'vue'
    import { Component } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'
	
	@Component()
    export default class TestComp extends Vue {  

    	

    }

</script>