<style scoped src="../templates/filter-form.scss"></style>
<template src="../templates/filter-form.html"></template>

<script>
	/*
	Script start
	 */
	import { Component, Emit, Inject } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	import {Plugin as FragmentPlugin} from 'vue-fragments'
	Vue.use(FragmentPlugin)	

	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)		

	const FilterFormModule = namespace('filters/form')

	/*
	Class start
	 */
	@Component({
		components:{
			'value-input': ()=> import('./ValueInput'),	
			'operator-input': ()=> import('./OperatorInput'),
			'select2': ()=> import('../../../common/libs/Select2')
		}
	})
	export default class FilterForm extends Vue {

		@Inject('parentValidator') $validator  

		@FilterFormModule.Getter formData
		@FilterFormModule.Getter filterItems
		@FilterFormModule.Getter andOrOptions
		@FilterFormModule.Getter fieldOptions		
		@FilterFormModule.Getter operatorOptions
		@FilterFormModule.Getter colorOptions				

		@FilterFormModule.Mutation setFormMainData		
		@FilterFormModule.Mutation setFormFilterItem
		@FilterFormModule.Mutation setFormFilterItemDetails		
		@FilterFormModule.Mutation removeFilterDetail		
		@FilterFormModule.Mutation addFilterDetail
		@FilterFormModule.Mutation addFilterItem
		@FilterFormModule.Mutation removeFilterItem
		@FilterFormModule.Mutation resetForm

		@FilterFormModule.Action getShipTypeList
		@FilterFormModule.Action getFilterGroupList

		/*
		getters and setters
		 */
		get name(){ return this.formData.name }
		get isEnable(){ return this.formData.isEnable }
		get isShowShips(){ return this.formData.isShowShips }
		get colour(){ return this.filterItems.colour }
		get borderColour(){ return this.filterItems.borderColour }

		set colour(value){ this.setFormFilterItem({key:'colour', value}) }
		set borderColour(value){ this.setFormFilterItem({key:'borderColour', value}) }
		set name(value){ this.setFormMainData({key:'name', value}) } 
		set isEnable(value){ 			
			this.setFormMainData({key:'isEnable', value}) 			
			if(!value){				
				this.setFormMainData({key:'isShowShips', value:false})
			}		
		} 
		set isShowShips(value){ this.setFormMainData({key:'isShowShips', value}) } 	

		mounted(){
			this.getShipTypeList()
			this.getFilterGroupList()

		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.resetForm()
		}	
	}

</script>