<template>
	<select2
		:fullWidth="false"
        :width="200"
		:options="groupTypeOptions"
		:value="columnValue"		
		@input="updateValue($event)"
	></select2>
</template>

<script>
	/*
	Script start
	 */
	import { Component, Prop, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	const FilterFormModule = namespace('filters/form')

	/*
	Class start
	 */
	@Component({
		components: {
			'select2': ()=> import('../../../common/libs/Select2')
		}
	})
	export default class GroupInput extends Vue {

		@FilterFormModule.Action loadAllGroupTypeOptions
		@FilterFormModule.Getter groupTypeOptions

		@Prop() columnValue

		mounted(){
			console.log("columnValue", this.columnValue)
			this.loadAllGroupTypeOptions()			
		}		
		
		updateValue(value){
			this.$emit('updateValue', value)
		}



	}

</script>