<template>
	<select2		
		:options="operatorOptions"		
		@input="valueChanged($event)"
		:value="operator"
		:name="`itemdetails-operation-${detailRid}`"
	></select2>		
</template>

<script>
	/*
	Script start
	 */
	import { Component, Emit, Watch, Prop } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	const FilterFormModule = namespace('filters/form')

	/*
	Class start
	 */
	@Component({
		components:{
			'select2': ()=> import('../../../common/libs/Select2')
		}
	})
	export default class OperatorInput extends Vue {

		@FilterFormModule.Getter fieldOptions		
		@FilterFormModule.Getter filterItems

		@FilterFormModule.Mutation setFormFilterItemDetails		
		
		@Prop() field		
		@Prop() itemRid
		@Prop() detailRid

		fullOperatorOptions = [
    		{text: '=', id: '='},    	
	    	{text: '!=', id: '!='},
	        {text: '<', id: '<'},
	        {text: '>', id: '>'},
	        {text: 'Contains', id: 'contains'},
        	{text: 'Start With', id: 'startWith'}
	    ]

	    equalityOperatorOptions = [
    		{text: '=', id: '='},    	
	    	{text: '!=', id: '!='}	        
	    ]

	    rangeOperatorOptions = [    		
	        {text: '<', id: '<'},
	        {text: '>', id: '>'}
	    ]

	    partialOperatorOptions = [
	    	{text: 'Contains', id: 'contains'},
        	{text: 'Start With', id: 'startWith'}
	    ]

	    operatorOptions = null

	    fieldOperatorMap = {
	    	mmsi : 'equality|partial',
	        imo : 'equality|partial',
	    	shipName : 'equality|partial',
	    	callSign : 'equality|partial',
	    	groupTypeId : 'equality',
	    	shipType : 'equality',
	    	lloydShipType : 'equality',
	    	filterGroup : 'equality',
	        navStatus : 'equality',
	    	aisType : 'equality',
	        dataSource : 'equality',
	    	minSpeed : 'equality',
	    	maxSpeed : 'equality',
	        minCourse : 'equality',
	        maxCourse : 'equality',
	    	minLength : 'equality',
	    	maxLength : 'equality',
	    	minAge : 'equality',
	    	maxAge : 'equality',
	    	color : 'equality',
	    	borderColor : 'equality'
	    }

	    created(){
	    	this.setOperatorOptions()
	    }

	    setOperatorOptions(){	
	    	

	    	const operatorTypes = this.fieldOperatorMap[this.field].split('|')	    	

	    	let operators = []		    	

	    	operatorTypes.forEach( (op) =>{ 	    			    			    			    		
	    		operators = operators.concat(this[`${op}OperatorOptions`])
	    	})	    		    	    	

	    	this.operatorOptions = operators
	    }

		@Watch('field')
		fieldChange(field){
			this.setOperatorOptions()
		}

		valueChanged(value){
			this.setFormFilterItemDetails({
				key:'operation',
				value,
				itemRid: this.itemRid,
				detailRid: this.detailRid
			})			
		}

		get operator(){

			const itemIndex = _.findIndex(this.filterItems, {rid:this.itemRid})
			const detailIndex = _.findIndex(this.filterItems[itemIndex].filterDetails, {rid:this.detailRid})

			return this.filterItems[itemIndex].filterDetails[detailIndex].operation
		}


	}
	
</script>