<template>
	<div>
		<input 
			v-if="field === 'mmsi' || field === 'imo' || field === 'minSpeed' || field === 'maxSpeed' || field === 'minCourse' || field === 'maxCourse' 
			|| field === 'minLength' || field === 'maxLength' || field === 'minAge' || field === 'maxAge' "
			type="text" 
			class="form-control"
			:class="{'error-input':errors.has(`formfilter.value-${detailRid}`)}"
			:name="`value-${detailRid}`" 
			:value="columnValue"
			@input="updateValue($event.target.value)"
			:placeholder="valuePlaceholder"
			v-validate="`required|numeric`"	
			data-vv-as=" "					
		/>
		<input 
			v-else-if="field === 'shipName' || field === 'callSign'"
			type="text" 
			class="form-control"
			:class="{'error-input':errors.has(`formfilter.value-${detailRid}`)}"
			:name="`value-${detailRid}`" 
			:value="columnValue"
			@input="updateValue($event.target.value)"
			:placeholder="valuePlaceholder"
			v-validate="`required`"	
			data-vv-as=" "					
		/>
		<select2
			:fullWidth="false"            
			:value="columnValue"
			v-else-if="field === 'shipType' && shipTypeListOptions.length"
			@input="updateValue($event)"
			:options="shipTypeListOptions"
		></select2>

		<select2
			:fullWidth="false"            
			:value="columnValue"
			v-else-if="field === 'lloydShipType' && lloydsTypeOptions.length"
			@input="updateValue($event)"
			:options="lloydsTypeOptions"
		></select2>

		<select2
			:fullWidth="false"            
			:value="columnValue"
			v-else-if="field === 'filterGroup' && filterGroupListOptions.length"
			@input="updateValue($event)"
			:options="filterGroupListOptions"
		></select2>

		<select2
			:fullWidth="false"            
			:options="navStatusOptions"
			:value="columnValue"
			v-else-if="field === 'navStatus'"
			@input="updateValue($event)"
		></select2>

		<select2
			:fullWidth="false"            
			:options="AISTypeOptions"
			:value="columnValue"
			v-else-if="field === 'aisType'"
			@input="updateValue($event)"
		></select2>

		<select2
			:fullWidth="false"            
			:options="dataSourceOptions"
			:value="columnValue"
			v-else-if="field === 'dataSource'"
			@input="updateValue($event)"
		></select2>

		<select2
			:fullWidth="false"            
			:options="colorOptions"
			:value="columnValue"
			v-else-if="field === 'color' || field === 'borderColor'"
			@input="updateValue($event)"
		></select2>

		<group-type-input
			v-else-if="field === 'groupTypeId'"
			:columnValue="columnValue"
			@updateValue="updateValue"			
		></group-type-input>

		<span 
				v-if="errors.has(`formfilter.value-${detailRid}`)"
				class="help-block text-danger">{{ errors.first(`formfilter.value-${detailRid}`) }}
		</span>
		
	</div>
</template>

<script>
	/*
	Script start
	 */
	import { Component, Emit, Watch, Prop, Inject } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	const FilterFormModule = namespace('filters/form')		

	/*
	Class start
	 */
	@Component({
		components: {			
			'select2': ()=> import('../../../common/libs/Select2'),
			'group-type-input': ()=> import('./GroupInput')
		}
	})
	export default class FilterValueInput extends Vue {

		@Inject('parentValidator') $validator  

		@FilterFormModule.Getter filterItems
		@FilterFormModule.Getter shipTypeListOptions
		@FilterFormModule.Getter filterGroupListOptions
		@FilterFormModule.Getter navStatusOptions
		@FilterFormModule.Getter AISTypeOptions
		@FilterFormModule.Getter dataSourceOptions
		@FilterFormModule.Getter colorOptions
		@FilterFormModule.Getter lloydsTypeOptions

		@FilterFormModule.Mutation setFormFilterItemDetails	
				
		@Prop() field		
		@Prop() itemRid
		@Prop() detailRid			

		/*
		updateValue
		 */
		updateValue(value){
		console.log("%cvalue:", conStyle.boldRed, value)					
			this.setFormFilterItemDetails({
				key:'columnValue',
				value,
				itemRid: this.itemRid,
				detailRid: this.detailRid
			})			
		}

		get columnValue(){

			const itemIndex = _.findIndex(this.filterItems, {rid:this.itemRid})
			const detailIndex = _.findIndex(this.filterItems[itemIndex].filterDetails, {rid:this.detailRid})


			console.log("%c columnValue: ", conStyle.boldRed, this.filterItems[itemIndex].filterDetails[detailIndex].columnValue)

			return this.filterItems[itemIndex].filterDetails[detailIndex].columnValue
		}

		get valuePlaceholder(){			
			if(this.field == 'mmsi'){ return 'eg: 123456789' }
			if(this.field == 'imo'){ return 'eg: 1234567' }
			if(this.field == 'shipName'){ return 'Ship name' }
			if(this.field == 'callSign'){ return 'eg: 2ABC3' }
			if(this.field == 'minSpeed' || this.field == 'maxSpeed'){ return 'eg:12 (knot)' }
			if(this.field == 'minCourse' || this.field == 'maxCourse'){ return 'eg:12 (degree)' }
			if(this.field == 'minLength' || this.field == 'maxLength'){ return 'eg:12 (metre, m)' }
			if(this.field == 'minAge' || this.field == 'maxAge'){ return 'eg:23 (minutes)' }
			
		}

		
	} // end class
	
</script>