<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.report'}">Report</router-link></li>
        		<li class="active">Report Designer</li>
        	</ul>
        	
        	<div class="content">
        		<p>The Report Designer allows users to build and customize reports. </p>
        		<p>Click the Report button <img class="small-icon" :src="require('../../../../../images/help-topic/report-icon.png')"> and click Add button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> to open the Report Designer window. </p>

        		<p><img @click="modalAction" class="myImg" :src="require('../../../../../images/help-topic/report-designer-1.png')"></p>
        		<div v-if="modal" class="lightbox">
				  <span @click="modalAction" class="close">&times;</span>
				  <img class="lightbox-content" :src="require('../../../../../images/help-topic/report-designer-1.png')">
				</div>

				<p><img @click="modalAction1" class="myImg" :src="require('../../../../../images/help-topic/report-designer-2.png')"></p>
        		<div v-if="modal1" class="lightbox">
				  <span @click="modalAction1" class="close">&times;</span>
				  <img class="lightbox-content" :src="require('../../../../../images/help-topic/report-designer-2.png')">
				</div>

        		<p>Report Name - Display a report name.</p>
        		<p>Enable - Check the box to enable the report. Uncheck the box to disable the report. </p>
        		<p>Report Type - Use the drop-down list to select any predefined report (e.g. Zone Summary, Extended Zone Summary, Arrival/Departure, Arrival Time Forecast, Berth Time Summary, Speed Summary, Speed Violation, Enter/Exit). </p>
        		<p>Zone - Select an existing zone from the drop-down list. </p>
        		<p>Filter - Select an existing filter from the drop-down list. </p>
        		<p>Save Changes - Save changes and return to the main view. </p>
        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'		

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper')
		}
	})
	export default class ReportDesignerHelper extends Vue{

		modal = false
		modal1 = false
		modalAction(){
			if(this.modal == false){
				this.modal = true
			}
			else{
				this.modal = false
			}
		}
		modalAction1(){
			if(this.modal1 == false){
				this.modal1 = true
			}
			else{
				this.modal1 = false
			}
		}
	}
</script>