<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.report'}">Report</router-link></li>
        		<li class="active">Generate Report</li>
        	</ul>
        	
        	<div class="content">
        		<p>Click the Report button <img class="small-icon" :src="require('../../../../../images/help-topic/report-icon.png')"> and select <b>Report Names</b> to run and display any previously built reports in a new window. </p>
        		<p><img @click="modalAction" class="myImg" :src="require('../../../../../images/help-topic/run-report-1.png')"></p>
        		<div v-if="modal" class="lightbox">
				  <span @click="modalAction" class="close">&times;</span>
				  <img class="lightbox-content" :src="require('../../../../../images/help-topic/run-report-1.png')">
				</div>
        		<p>Time Span - Select a predefined time span from the drop-down list or choose the option "User Defined" to customize your own time interval. </p>
        		<p>Starting Date - Type your desired starting date and time (e.g. MM/DD/YYYY 12:34 PM) or use the drop-down calendar and hour/minute sliding bars instead.</p>
        		<p><img @click="modalAction1" class="myImg" :src="require('../../../../../images/help-topic/run-report-2.png')"></p>
        		<div v-if="modal1" class="lightbox">
				  <span @click="modalAction1" class="close">&times;</span>
				  <img class="lightbox-content" :src="require('../../../../../images/help-topic/run-report-2.png')">
				</div>
        		<p>Note: User Defined mode only. </p>
        		<p>Ending Date - Type your desired ending date and time (e.g. MM/DD/YYYY 12:34 PM) or use the drop-down calendar and hour/minute sliding bars instead. </p>
        		<p>Run Report - Run and display the report in a new window. </p>
        		<p>Close - Close the Run Report window and return to the main view.  </p>
        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()"">Back</button>
			</div>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'		

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper')
		}
	})
	export default class ReportGenerateHelper extends Vue{

		@ReportContentHelper.Mutation toggleReportContentHelperEnabled

		modal = false
		modal1 = false
		modalAction(){
			if(this.modal == false){
				this.modal = true
			}
			else{
				this.modal = false
			}
		}
		modalAction1(){
			if(this.modal1 == false){
				this.modal1 = true
			}
			else{
				this.modal1 = false
			}
		}
		
	}
</script>