<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.report'}">Report</router-link></li>
        		<li class="active">Create Report</li>
        	</ul>
        	
        	<div class="content">
        		<p>1) Arrival/Departure Report</p>
        		<p>This report will display information about the arrival/departure passenger ships within the Langkawi Kuah zone. </p>
        		<p>o-> Click the Report button <img class="small-icon" :src="require('../../../../../images/help-topic/report-icon.png')"> and click Add button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> to open the Report Designer window.</p>
        		<p>Note: The Langkawi Kuah zone and Passenger vessel filter had already been created.</p>
        		<p>o-> Type “Arrival / Departure (Langkawi-Kuah)” into the Report Name field.</p>
        		<p>o-> Leave the Enable box checked</p>
        		<p>o-> Select “Arrival/Departure” from the Report Type drop-down list.</p>
        		<p>o-> Select “Langkawi Kuah” from the Zone drop-down list. </p>
        		<p>o-> Select “Passenger vessel” from the Filter drop-down list. </p>
        		<p>o-> Click the Save Changes button to save report.</p>

        		<p><img @click="modalAction" class="myImg" :src="require('../../../../../images/help-topic/report-create-1.png')"></p>
        		<div v-if="modal" class="lightbox">
				  <span @click="modalAction" class="close">&times;</span>
				  <img class="lightbox-content" :src="require('../../../../../images/help-topic/report-create-1.png')">
				</div>

        		<p>2) Speed Violation Report</p>
        		<p>The Speed Violation report is a tool which can be used to check ship speed within a predefined zone and record speed violations. You can set a minimum speed, a maximum speed, or a speed range for your zone. In this example, we will set the upper speed limit to 30 knots.  </p>
        		<p>This report contains information regarding: </p>
        		<p>i) Position (coordinates) of the first recorded violation </p>
        		<p>ii) Maximum speed of each ship</p>
        		<p>iii) Average speed of each ship</p>
        		<p>iv) Duration of time that the ship's maximum speed was above the permitted speed.</p>
        		<p>o-> Click the Report button <img class="small-icon" :src="require('../../../../../images/help-topic/report-icon.png')"> and click Add button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> to open the Report Designer window.</p>
        		<p>Note: The Westport Port Limit zone had already been created.</p>
        		<p>o-> Type “Westport Port Limit Speed Violation > 5 knots” in the Report Name field. </p>
        		<p>o-> Leave the Enable box checked</p>
        		<p>o-> Select “Speed Violation” from the Report Type drop-down list</p>
        		<p>o-> Select “Westport Port Klang” from the Zone drop-down list.</p>
        		<p>o-> Leave the Filter option blank.  </p>
        		<p>o-> Leave the Min Speed field blank. </p>
        		<p>o-> Enter "5.0" into the Max Speed field (knots). </p>
        		<p>o-> Click the Save Changes button to save report.</p>
        		<p><img @click="modalAction1" class="myImg" :src="require('../../../../../images/help-topic/report-create-2.png')"></p>
        		<div v-if="modal1" class="lightbox">
				  <span @click="modalAction1" class="close">&times;</span>
				  <img class="lightbox-content" :src="require('../../../../../images/help-topic/report-create-2.png')">
				</div>

        		<p>3) Speed Summary Report </p>
        		<p>The Speed Summary report can be used to make a thorough analysis of ship speeds within any particular high-traffic passage. </p>
        		<p>o-> Click the Report button <img class="small-icon" :src="require('../../../../../images/help-topic/report-icon.png')"> and click Add button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> to open the Report Designer window.</p>
        		<p>o-> Type “Westport Klang Speed Summary” in the Report Name field. </p>
        		<p>o-> Leave the Enable box checked</p>
        		<p>o-> Select “Speed Summary” from the Report Type drop-down list.</p>
        		<p>o-> Select “Westport Port Klang” from the Zone drop-down list. </p>
        		<p>o-> Leave the Filter option blank. </p>
        		<p>o-> Click the Save Changes button to save report.</p>
        		<p><img @click="modalAction2" class="myImg" :src="require('../../../../../images/help-topic/report-create-3.png')"></p>
        		<div v-if="modal2" class="lightbox">
				  <span @click="modalAction2" class="close">&times;</span>
				  <img class="lightbox-content" :src="require('../../../../../images/help-topic/report-create-3.png')">
				</div>

        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'		

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper')
		}
	})
	export default class ReportCreateHelper extends Vue{

		modal = false
		modal1 = false
		modal2 = false
		modalAction(){
			if(this.modal == false){
				this.modal = true
			}
			else{
				this.modal = false
			}
		}
		modalAction1(){
			if(this.modal1 == false){
				this.modal1 = true
			}
			else{
				this.modal1 = false
			}
		}
		modalAction2(){
			if(this.modal2 == false){
				this.modal2 = true
			}
			else{
				this.modal2 = false
			}
		}        
	}
</script>