﻿@{
    Layout = null;
}

<html>
<head>
    <title>&lrm;</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!-- <link rel="stylesheet" href="~/themes/inspinia/css/vendor.css" asp-append-version="true"/> -->
    <link rel="stylesheet" href="~/dist/css/datatables.min.css" asp-append-version="true"/>

    <!-- <link rel="stylesheet" href="~/themes/inspinia/css/app.css" asp-append-version="true"/>   -->
</head>
<body>

    <div id="wrapper" class="app">
        <App />
    </div>    
    
    <script src="~/js/main.js" type="text/javascript" asp-append-version="true"></script>   
    <!-- <script src="~/themes/inspinia/js/app.js" type="text/javascript" asp-append-version="true"></script>     -->
    <script src="~/dist/js/signalr.js" type="text/javascript" asp-append-version="true"></script>    
    <script src="~/dist/js/datatables.min.js" type="text/javascript" asp-append-version="true"></script>
    
</body>
</html>