﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Vessel Traffic Monitoring & Information System</title>
    <meta charset="utf-8" />
    @*<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">*@
    <link href="~/css/leaflet.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/radioButtonstyle.css">
    <link href="~/fonts/material-icons/materialicons.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/leaflet-sidebar.css" />
    <link href="~/lib/fam-flag-css/fam-flag.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/flags/flags.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/tabstyles.css" />
    <link rel="stylesheet" href="../css/L.Control.SlideMenu.css">
    <link href="~/css/leaflet-list-markers.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/leaflet.contextmenu.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/iziModal.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Buttonstyle.css" />
    <link rel="stylesheet" type="text/css" href="~/css/materialize.css" />
    <link rel="stylesheet" type="text/css" href="~/dataTable/css/tabulator.min.css" />
    <link href="~/lib/leaflet/Leaflet.markercluster/dist/MarkerCluster.css" rel="stylesheet" />
    <link href="~/lib/leaflet/Leaflet.markercluster/dist/MarkerCluster.Default.css" rel="stylesheet" />
    <!--Timeline-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/vis/3.12.0/vis.min.css" rel="stylesheet" type="text/css" />
    <link href="http://visjs.org/dist/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/app/dashboard-map.css" rel="stylesheet" />
    <link href="~/lib/leaflet/search/leaflet-search.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/daterangepicker.min.css" />
    <link href="~/css/inspinia/animate.css" type="text/css" rel="stylesheet">
    <link href="~/css/inspinia/style.css" type="text/css" rel="stylesheet">
    <link href="~/css/inspinia/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="~/css/select2.css" rel="stylesheet" />
</head>
<body>
    <div id="map">
        @Html.Partial("_LeftSidebar")
    </div> <!-- CLOSE MAP -->
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header" style="z-index:11;position:relative;"><i class="material-icons">linear_scale</i><span style="font-size: initial;">Timeline</span></div>
            <div class="collapsible-body">
                <section id="loader"></section>
                <div style="position:absolute; top: 35pt; left: 10px;" class="form-group">
                    <div class="input-group col-md-2" style="float:left;">
                        <input autocomplete="off" id="datetimes" name="datetimes" type="text" class="form-control" aria-describedby="start-date">
                        <span class="input-group-addon" id="start-date"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <div style="left: 10pt;" class="input-group col-md-2">
                        <select class="form-control selectPlaybackShips" id="selectPlaybackShips"></select>
                    </div>
                </div>

                <div id="timeline"></div>
            </div>
        </li>
    </ul>

    <script type="text/javascript" src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>

    <script type="text/javascript" src="https://unpkg.com/leaflet.vectorgrid@1.2.0"></script>
    <script type="text/javascript" src="https://unpkg.com/leaflet-canvas-marker@0.2.0"></script>

    <script src="~/js/modernizr.custom.js"></script>
    <script src="~/js/leaflet.contextmenu.min.js"></script>
    <script src="~/lib/traceur.js"></script>
    <script src="~/lib/es6-module-loader-dev.js"></script>
    <script>
        var applicationHostUrl = "http://" + window.location.hostname + ":50837";
        var applicationApiUrl = "http://" + window.location.hostname + ":8081";
        var userId = @ViewBag.UserId;
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
    <script src="~/js/jquery.cookie.min.js"></script>
    <script src="~/lib/leaflet/vis.js"></script>
    <script src="~/js/materialize.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/lib/bootstrap/js/tether.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/app/shared/sidebar-menu.js"></script>
    @*<script src="~/js/signalr-client-1.0.0-alpha2-final.min.js"></script>*@
    <script src="~/js/signalr.min.js"></script>
    <script src="~/js/leaflet-sidebar.js"></script>
    <script src="~/dataTable/js/tabulator.min.js"></script>
    <script src="~/js/iziModal.min.js"></script>
    <script src="~/js/L.Control.SlideMenu.js"></script>
    <script src="~/js/leaflet.geometryutil.js"></script>
    <script src="http://rawgithub.com/shramov/leaflet-plugins/master/layer/Marker.Rotate.js"></script>
    <script src="~/js/cbpFWTabs.js"></script>
    <script src="~/lib/leaflet/search/leaflet-search.js"></script>
    <script src="~/js/app/shared/target-info.template.js"></script>
    <script src="~/js/LeafletPlayback.js"></script>
    <script src="~/js/demo-tracks.js"></script>
    <script src="~/js/radioButton.js"></script>
    <script src="~/js/app/shared/data-request.js"></script>

    <script src="~/lib/leaflet/leaflet-canvasicon-master/leaflet-canvasicon.js"></script>
    <script src="~/lib/leaflet/leaflet.polylineDecorator.js"></script>
    <script src="~/js/app/service/filter-group.service.js"></script>
    <script src="~/js/app/service/report-service.js"></script>
    <script src="~/js/leaflet-list-markers.js"></script>
    <script src="~/js/select2.min.js"></script>

    <!--**************************************
    * Refactored scripts
    *****************************************/-->
    @*<script>
                System.import("/js/app/dashboard-maps.js");
        </script>*@

    <script src="~/js/app/target-icons.js"></script>
    <script src="~/js/app/map-init.js"></script>
    <script src="~/js/app/sidebars/right-sidebar.js"></script>
    <script src="~/js/app/advanced-search.map.js"></script>
    <script src="~/js/app/list-markers.js"></script>
    <script src="~/js/app/signalr-map.js"></script>
    <script src="~/js/app/filter-map.js"></script>
    <script src="~/js/app/report-map.js"></script>
    <script src="~/js/app/target-route-map.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/jquery.daterangepicker.min.js"></script>
    <script src="~/js/app/timeline-map.js"></script>
    <script src="~/js/app/location-map.js"></script>
    <script src="~/js/app/alarm-map.js"></script>
    <script src="~/js/app/zone-map.js"></script>

    <!-- INSPINIA COMPONENTS -->
    <script src="~/js/inspinia/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/inspinia/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/js/inspinia/inspinia.js"></script>
    <script src="~/js/inspinia/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>

    @Html.Partial("_FilterModal")
    @Html.Partial("_AdvancedSearch")
    @Html.Partial("_NewReportModal")
    @Html.Partial("_LocationModal")
    @Html.Partial("_AlarmModal")
    @Html.Partial("_ZoneModal")
</body>
</html>