<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>
	table.display {
		margin: 0 auto;
		width: 100%;
		clear: both;
		/*border-collapse: collapse;*/
		table-layout: fixed;
		word-wrap:break-word;
	}

	table.display.cell-border td {
		 border: 1px solid #ddd;
	}

	/deep/ table.display.row-clickable tbody tr {
		cursor: pointer;
	}

</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>

	<div :class="{'table-responsive': responsive}">										
		<table ref="table" class="table display"
			:class="{
				'responsive':responsive,
				'hover':highlightRow,
				'table-bordered':cellBorder,
				'row-clickable':rowClickable				
			}"
		>

			<slot name="thead"></slot>
			
			<slot name="tbody">
				<tbody></tbody>	
			</slot>
			
		</table>
	</div>						
</template>


<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>	
	import { Component, Prop, Emit, Watch } from 'vue-property-decorator'
	import Vue from 'vue'
	
/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	@Component
	export default class DataTable extends Vue {

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/

		@Prop({default:true}) responsive
		@Prop({default:true}) autoWidth
		@Prop({default:true}) highlightRow
		@Prop({default:false}) rowClickable
		@Prop({default:false}) scrollX
		@Prop({default:false}) cellBorder
		@Prop() data
		@Prop() columns

		table = null

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/

		/*
		mounted
		 */
		mounted(){				

			this.table = $(this.$refs.table).DataTable({
				responsive: this.responsive,
				autoWidth: this.autoWidth,
				scrollX:this.scrollX,
				data: this.data,
				columns:this.columns,
				// "lengthMenu": [[10, 25, 50], [10, 25, 50]],
				dom: 'Blfrtip',
        		buttons: [
            		'csv', 'excel', 'pdf', 'print'
        		]
			});			

			this.bindUserActions()

									
		}

		/*
		bindUserActions
		 */
		bindUserActions(){

			const that = this

			if(this.rowClickable){
				$(this.$refs.table).find('tbody').on('click', 'tr', function(e){
					that.rowClicked(that.table.row(this).data())
				})	
			}

			$(this.$refs.table)
			.find('[data-action]')			
			.click(function(e){						
				let [targetElm] = $(e.target)
				targetElm = targetElm.closest('[data-action]')
				
				const action = $(targetElm).data('action')	

				const data = that.table.row($(targetElm).closest("tr")).data()

				that.emitActions(action, data)
			})	
		}

		/*
		listenDataChanged
		 */
		@Watch('data', {immediate: true})
		listenDataChanged(newVal, oldVal){			

			const that = this					
			
			// if this is the first time, we ignore as we only want
			// to listen to true data change
			if(typeof oldVal === 'undefined'){return false}				

			if(newVal.length){
				this.table.clear()
				this.table.rows.add(newVal).draw()	
			}
			else{
				this.table.clear()	
				this.table.draw()	
			}

			this.bindUserActions()
			
		}

		/*
		Event emitters
		 */
		@Emit()
		rowClicked(data){}

		@Emit('deleteLocation')
		deleteLocation(data){}

		@Emit('editLocation')
		editLocation(data){}

		emitActions(action, data){			
			this.$emit('useraction', {action, data})
		}

		@Emit('deleteAlarm')
		deleteAlarm(data){}

		@Emit('editAlarm')
		editAlarm(data){}

		/*
		addRow
		 */
		// Can be called from parent using $refs
		addRow(rowDefinition){
			this.table.row.add(rowDefinition)
		}
	}

</script>