<style scoped>
	.modal-dialog.full-width{
		width: 100%;
		margin: 0;		
	}

	/*.modal-dialog.full-height .modal-body{
		height: calc(100vh - 100px);
	}*/
</style>

<template>
	<div 
		class="modal inmodal" 
		ref="modal" 
		tabindex="-1" 
		role="dialog" 
		:id="id"
		:style="{ 
			marginTop: fullWidth && marginTop, 
			marginLeft: fullWidth && marginLeft			
		}"
	>
		<div class="modal-dialog" :class="{'full-width':fullWidth, 'full-height':fullHeight}">
			<div class="modal-content animated fadeIn">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" @click="modalClosed"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					
					<!-- <i class="fa fa-clock-o modal-icon"></i> -->
					<slot name="icon"></slot>

					<h4 class="modal-title">{{ title }}</h4>
					
					<small v-if="subtitle">{{subtitle}}</small>
				</div>

				<div 
					class="modal-body"
					:style="{height : fullHeight ? `calc(100vh - 100px - ${marginTop}px)` : 'auto'}"
				>
					<slot name="body"></slot>
				</div>

				<div class="modal-footer" v-if="hasFooter">
					<slot name="footer"></slot>
				</div>

			</div> <!-- end .modal-content -->
		</div> <!-- end .modal-dialog -->
	</div> <!-- end .modal -->
</template>

<script>
	import { Component, Prop, Emit } from 'vue-property-decorator'	
	import Vue from 'vue'

	@Component
	export default class Modal extends Vue{

		@Prop(String) title
		@Prop({ default: 'modal' }) id
		@Prop({ default: '' }) subtitle
		@Prop({ default: false }) hasFooter
		@Prop({ default: false }) fullWidth
		@Prop({ default: false }) fullHeight
		@Prop({ default: 0 }) marginTop
		@Prop({ default: 0 }) marginLeft
		
		mounted(){
			
			const that = this

			$(this.$refs.modal).appendTo("body").modal('show')
			$(this.$refs.modal).on('hidden.bs.modal', function(){				
				that.modalClosed()
			})

			Event.listen('Map.ClearWidget', ()=>{
				this.closeModal()
			})			
		}

		closeModal(){			
			$(this.$refs.modal).modal('hide')
			this.modalClosed()
		}
		
		modalClosed(){
			this.$emit('modalClosed')
		}

	}			


</script>