<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style>
	.select2-selection__rendered {
	  line-height: 25px !important;
	}

	.select2-selection {
	  height: 40px !important;
	}

	.select2-selection__arrow {
	    height: 40px !important;
	}
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<select ref="select" :style="styleObject"></select>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>

    /*
    Script start
     */

	import { Component, Emit, Watch, Prop } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	import 'select2/dist/css/select2.min.css'
	import 'select2-bootstrap-theme/dist/select2-bootstrap.min.css'
	import 'select2/dist/js/select2.min.js'

/*
 ######    ########   ##         ########    ######    ########    #######   
##    ##   ##         ##         ##         ##    ##      ##      ##     ##  
##         ##         ##         ##         ##            ##             ##  
 ######    ######     ##         ######     ##            ##       #######   
      ##   ##         ##         ##         ##            ##      ##         
##    ##   ##         ##         ##         ##    ##      ##      ##         
 ######    ########   ########   ########    ######       ##      #########  
*/
	(function($) {

    var Defaults = $.fn.select2.amd.require('select2/defaults');

    $.extend(Defaults.defaults, {
        dropdownPosition: 'auto'
    });

    var AttachBody = $.fn.select2.amd.require('select2/dropdown/attachBody');

    var _positionDropdown = AttachBody.prototype._positionDropdown;

    AttachBody.prototype._positionDropdown = function() {

    var $window = $(window);

    var isCurrentlyAbove = this.$dropdown.hasClass('select2-dropdown--above');
    var isCurrentlyBelow = this.$dropdown.hasClass('select2-dropdown--below');

    var newDirection = null;

    var offset = this.$container.offset();

    offset.bottom = offset.top + this.$container.outerHeight(false);

    var container = {
        height: this.$container.outerHeight(false)
    };

    container.top = offset.top;
    container.bottom = offset.top + container.height;

    var dropdown = {
      height: this.$dropdown.outerHeight(false)
    };

    var viewport = {
      top: $window.scrollTop(),
      bottom: $window.scrollTop() + $window.height()
    };

    var enoughRoomAbove = viewport.top < (offset.top - dropdown.height);
    var enoughRoomBelow = viewport.bottom > (offset.bottom + dropdown.height);

    var css = {
      left: offset.left,
      top: container.bottom
    };

    // Determine what the parent element is to use for calciulating the offset
    var $offsetParent = this.$dropdownParent;

    // For statically positoned elements, we need to get the element
    // that is determining the offset
    if ($offsetParent.css('position') === 'static') {
      $offsetParent = $offsetParent.offsetParent();
    }

    var parentOffset = $offsetParent.offset();

    css.top -= parentOffset.top
    css.left -= parentOffset.left;

    var dropdownPositionOption = this.options.get('dropdownPosition');

    if (dropdownPositionOption === 'above' || dropdownPositionOption === 'below') {
      newDirection = dropdownPositionOption;
    } else {

      if (!isCurrentlyAbove && !isCurrentlyBelow) {
        newDirection = 'below';
      }

      if (!enoughRoomBelow && enoughRoomAbove && !isCurrentlyAbove) {
        newDirection = 'above';
      } else if (!enoughRoomAbove && enoughRoomBelow && isCurrentlyAbove) {
        newDirection = 'below';
      }

    }

    if (newDirection == 'above' ||
    (isCurrentlyAbove && newDirection !== 'below')) {
        css.top = container.top - parentOffset.top - dropdown.height;
    }

    if (newDirection != null) {
      this.$dropdown
        .removeClass('select2-dropdown--below select2-dropdown--above')
        .addClass('select2-dropdown--' + newDirection);
      this.$container
        .removeClass('select2-container--below select2-container--above')
        .addClass('select2-container--' + newDirection);
    }

    this.$dropdownContainer.css(css);

  };

})(window.jQuery);

/*
 ######     #######   ##     ##  ########    #######   ##    ##   ########   ##    ##   ########   
##    ##   ##     ##  ###   ###  ##     ##  ##     ##  ###   ##   ##         ###   ##      ##      
##         ##     ##  #### ####  ##     ##  ##     ##  ####  ##   ##         ####  ##      ##      
##         ##     ##  ## ### ##  ########   ##     ##  ## ## ##   ######     ## ## ##      ##      
##         ##     ##  ##     ##  ##         ##     ##  ##  ####   ##         ##  ####      ##      
##    ##   ##     ##  ##     ##  ##         ##     ##  ##   ###   ##         ##   ###      ##      
 ######     #######   ##     ##  ##          #######   ##    ##   ########   ##    ##      ##      
*/

    /*
    Component start
     */
	@Component
	export default class Select2 extends Vue {
		@Prop() options
		@Prop() value
		@Prop({default:false}) disabled
        @Prop({default:true}) searchable        
        @Prop({default:''}) width        
        
        getOptions(selectElm){

            let options =  {
                data:this.options, 
                theme:'bootstrap',
                disabled: this.disabled,
                dropdownParent: selectElm.parent()
                // dropdownPosition: 'below'                
            }

            if(!this.searchable){options['minimumResultsForSearch'] = -1}

            return options


        }

        getWidth(){

            if(this.width){
            
                if(String(this.width).includes('%') || String(this.width).includes('px')){
                    return this.width
                }
                else if(typeof this.width === 'number'){
                    return `${this.width}px`
                }
            }

            else {return '100%'}           
        }

        get styleObject(){
            
            return {
                width: this.getWidth()                
            }                
        }        
		
        mounted(){			
            
			const that = this
			const selectElm = $(this.$refs.select)			

			selectElm.select2(this.getOptions(selectElm))			
			.val(this.value)
			.trigger('change')			
			.on('change', function (e) {	                
				that.$emit('input', e.target.value)                
                that.$emit('change')                
			})
			
		}

		@Watch('value', {immediate:true})
		valueChanged(newValue){	            
			$(this.$refs.select)
	      	.val(newValue)
	      	// .trigger('change')
		}

		

    	@Watch('options')
    	optionsChanged(options){            
            // replace options
    		$(this.$refs.select).empty().select2({ data: options, theme:'bootstrap' })
            // reset value
            $(this.$refs.select)
            .val(this.value)
            // .trigger('change')   
    	}

        @Watch('disabled')
        disabledChanged(newValue){
            $(this.$refs.select).prop('disabled', newValue)
        }

    	beforeDestroy(){ 
    		try{
    			$(this.$refs.select).off().select2("destroy")
    		}   
    		catch(e){
    			console.error(e)
    			// do nothing in particular
    			// there's error with cant renove node child
    		}		
    		
    	}


    	// destroyed(){
    	// 	$(this.$refs.select).off().select2("destroy")
    	// }		
	}
</script>