.widget-wrapper.lg.override{
	z-index: 900;
	width: 200px;
	height: calc(100vh - 150px);
	top: 50px;
	left: calc(100% - 210px);
}

.widget-wrapper.sm.override{
	z-index: 900;
	width: 150px;
	height: calc(100vh - 100px);
	top: 10;
	left: calc(100% - 160px);
	min-height: initial;
}

.tool-title{
	position: relative;
	background-color: #537ba6;
	padding-bottom: 5px;		
}

.tool-title .close{
	position: absolute;
	top: 2px;
	right: 5px;
}

.tool-title .title{
	font-size: 1rem;
	display: inline-block;
	margin-top:3px;
	margin-left: 5px;
	color: #fff;
}

.tool-body{
	padding: 5px;
	height: 100%;		
}

.point-list-container{
	margin-top: 10px;	
}

.point-list{		
	height: calc(100vh - 380px);
}

.point-list-item *:not('.delete') {
	pointer-events: none;
}	

.point-list-item:hover {
	background-color: #fff;
}

.point-list .latlng {
	font-size: 1rem;
}

.point-list ul li {
	display: flex;
	align-items: center;
	margin-left: auto;		
}

.filler{
    flex-grow: 1;
}

.actions button {
	margin-top: 5px;
	margin-bottom: 5px;
}

.btn-group {
    display: flex;
    flex-direction: row;
}

.btn-group > button {
    width: 100%;
}

.delete {
	cursor: pointer;
}

.actions button {
	margin-top: 5px;
	margin-bottom: 5px;
}

.point-details {
	background-color: #f3f3f4;
	padding: 5px;
	height: 130px;
}		

.point-details label {
	margin-bottom: 1px;
	font-weight: initial;
}	

/*.point-details .form-group:last-child {
	margin-top: 5px;
}*/