<template src="./templates/report-form.html"></template>

<script>
	import { Component, Emit, Inject } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)

	import vSelect from 'vue-select/src/components/Select.vue'

	const ReportFormModule = namespace('reports/form')

	@Component({
		components: {			
			'select2': ()=> import('../../common/libs/Select2')
		}
	})
	export default class ReportForm extends Vue {

		@Inject('parentValidator') $validator
		
		@ReportFormModule.Getter filtersOptions
		@ReportFormModule.Getter zonesOptions
		@ReportFormModule.Getter reportTypeOptions
		@ReportFormModule.Getter reportData
		@ReportFormModule.Getter timeSpanOptions

		@ReportFormModule.Mutation setReportData
		@ReportFormModule.Mutation addReportConditionItem
		@ReportFormModule.Mutation updateReportConditionItem
		@ReportFormModule.Mutation removeReportConditionItem
		@ReportFormModule.Mutation clearData

		@ReportFormModule.Action getFilterOptions
		@ReportFormModule.Action getZoneOptions
		@ReportFormModule.Action getReportsTypeOptions

		reportTypeNumber = ''
		selectedReportType = ''

		mounted(){
			Promise.all([
			 	this.getFilterOptions(),
				this.getZoneOptions(),
				this.getReportsTypeOptions()
				.then((result)=>{				
				this.selectedReportType = this.reportTypeOptions[0].id
				this.getReportTypeNumber(this.selectedReportType)
			})	
			])
			console.log("%creportTypeOptions:", conStyle.boldRed, this.reportTypeOptions)
		}

		getReportTypeNumber(id){
			this.setReportData({key:'reportTypeId', value:id})

			if(this.reportTypeOptions.length > 0) {
				var reportType = this.reportTypeOptions.filter(x =>x.id == id)
				this.reportTypeNumber = reportType[0].typeNumber
				this.setReportData({key:'reportTypeNumber', value:this.reportTypeNumber})
			}
		}

		updateReportCondition(type, {value}, id){						
			this.updateReportConditionItem({type, value, id})
		}		

		get name(){ return this.reportData.name }	
		get isEnabled(){ return this.reportData.isEnabled }

		set name(value){ this.setReportData({key:'name', value}) }
		set isEnabled(value){ this.setReportData({key:'isEnabled', value}) }
		
		beforeDestroy(){
			this.clearData()
		}	
	}
</script>