<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../styles/summary-list.scss"></style>
<style scoped>
	ul.mdm-summary-list li{
		display: block;
	}
	.name-list{
	    width: 74%;
	}

	.action-btn{
	    width: 26%;
	}

	button {
	    margin-top: 0px;
	}

	ul li.child-report{
        list-style: disc;
	    margin-left: 7px;
	    border-bottom: 0;
	    display: list-item;
	    padding: 5px 0;
	    
	}
	.report-div{
	    display: flex;
	    align-items: center;
	}
	.report-div:hover{
		color: #047bf8;
	}
	.ul-child-report{
	    margin-left: 20px;
	    padding-left: 0;
	}

	ul li.child-report:hover{
	    color:#047bf8;
	}
	ul.mdm-summary-list li:hover{
		color: #cec9c9;
	}
</style>
<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template src="./templates/report-summary.html"></template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>

	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'

	import AuthorizationMixin from '../../common/mixins/AuthorizationMixin'	

	const ReportModule = namespace('reports')
	const ReportSummaryModule = namespace('reports/summary')
	const ReportCreateModule = namespace('reports/create')
	const ReportEditModule = namespace('reports/edit')
	const ReportFormModule = namespace('reports/form')
	const ReportResultModule = namespace('reports/result')
	const MapModule = namespace('map')

	@Component({
		components: {
			'side-wrapper' : ()=> import('../../common/WidgetContainers/map/SideWrapper'),
			'delete-confirm': ()=> import('../../common/DeleteConfirmation')
		}
	})
	export default class ReportSummary extends mixins(AuthorizationMixin) {

		// Report summary
		@ReportSummaryModule.Mutation toggleReportSummary
		
		
		// Reprt form
		@ReportFormModule.Getter reportTypeOptions
		@ReportFormModule.Action getReportsTypeOptions		

		// Report Result
		@ReportResultModule.Mutation toggleReportResult

		// Report
		@ReportModule.Getter reports
		@ReportModule.Getter selectedReport
		
		@ReportModule.Mutation toggleReportMainPane
		@ReportModule.Mutation setSelectedReport

		@ReportModule.Action getReports
		@ReportModule.Action deleteReport					

		@MapModule.Getter map

		mounted(){
			this.getReports()
			this.getReportsTypeOptions()
		}						

		selectReport(report){
			if(!report.isEnabled){return false}
			this.toggleReportMainPane(true)
			this.toggleReportResult(true)
			this.setSelectedReport(report)
			Event.fire('Map.ActivateWidget', 'Report.Main.Result')
		}		

		removeReport({id}){

			if(!this.AuthorizationMixin_isGranted('Report.Delete')){
				Event.fire('Notification.ClientError', {message:"You don't have permission to remove report"})
				return false
			}

			this.deleteReport(id)
			.then((result)=>{
				this.getReports()
				Event.fire('Notification.Success', {message:"Successfully Remove Report"})
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError', {message: "Error Removing Report"}) 
				throw(error)
			})									
		}

		beforeDestroy(){
			this.toggleReportSummary(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){         	
            Event.fire('Map.DeactivateWidget', 'Report.Side.Summary')
        }
	}

	// Comment to trigger changes in git

</script>