<style scoped src="../../../styles/containers/main-section.scss"></style>
<style scoped>
	.removeReportRow {
	    margin-top: 8;
	}
</style>
<template src="./templates/report-create.html"></template>

<script>
	import { Component, Emit, Provide } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'
	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'
	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)

	import vSelect from 'vue-select/src/components/Select.vue'

	const ReportCreateModule = namespace('reports/create')
	const ReportFormModule = namespace('reports/form')
	const ReportModule = namespace('reports')	

	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'report-form': ()=> import('./ReportForm')
		}
	})
	export default class ReportCreate extends mixins(VeeValidatorHelperMixin) {

		@Provide() parentValidator = this.$validator
		
		@ReportCreateModule.Mutation toggleReportCreate	
		@ReportFormModule.Mutation clearData
		@ReportFormModule.Getter reportData
		@ReportCreateModule.Action saveReport				

		closeWidget(widget){
			this.$router.push({name:'mainmap'})
		}

		/*
		submit
		 */
		submit(){
		this.VeeValidatorHelperMixin_validateAll('formreport')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			// console.log(this.reportData)
			this.saveReport()
			.then(
				response => {
					Event.fire('Notification.Success', {message:'Successfully Create Report'})
					this.closeWidget()
				}, 
				error => {
					Event.fire('Notification.ServerError', {
						details: error.message
					})
					throw(error)
				})
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleReportCreate(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){                    	
            Event.fire('Map.DeactivateWidget', 'Report.Main.Create')
        }
	}
</script>