<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/report-result.html"></template>
<script>
	/*
	Script start
	 */
	import { Component, Emit } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	const ReportModule = namespace('reports')	
	const ReportResultModule = namespace('reports/result')

	import vSelect from 'vue-select/src/components/Select.vue'

	import utilHelper from '../../../helpers/util'

	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)		

	/*
	Class start
	 */
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'data-table': () => import('../../common/libs/DataTable'),
			'select2': ()=> import('../../common/libs/Select2')
		}
	})
	export default class ReportEdit extends Vue {		

		// Report Module
		// @ReportModule.Getter selectedReport

		// Report Result Module
		@ReportResultModule.Getter resultData
		@ReportResultModule.Getter timeSpanOptions
		@ReportResultModule.Getter tableData
		@ReportResultModule.Getter columns
		@ReportResultModule.Getter selectedReport
		@ReportResultModule.Getter speedVioData

		@ReportResultModule.Mutation toggleReportResult
		@ReportResultModule.Mutation setResultData
		@ReportResultModule.Mutation clearResults
		@ReportResultModule.Mutation setSelectedReport
		
		@ReportResultModule.Action generateReport
		@ReportResultModule.Action getReportsById
		@ReportResultModule.Action generateSpeedViolationReport
		@ReportResultModule.Action generateEnterExitReport
		
		dataReady = false		
		generateResult = null

		/*
		mounted
		 */
		mounted(){
			this.getReportsById()			
		}

		/*
    	formatTime
    	 */
    	formatTime(time){
    		if(time == null){
    			return ""
    		}
    		else{
    			return moment(time).format('DD/MM/YYYY HH:mm')
    		}
            
        }

        /*
    	postProcessResult
    	 */
        postProcessResult(result){        	
        	
        	if(!result.length){return result}

        	return result.map((re)=>{
        		re.eta = this.formatTime(re.eta)
        		re.arrivalTime = this.formatTime(re.arrivalTime)
        		re.departureTime = this.formatTime(re.departureTime)
        		return re
        	})
        }
		
		/*
		submit
		 */
		submit(){
			// console.log(this.resultData)
			const reportNumber = this.selectedReport.reportType.reportTypeNumber
			console.log(this.selectedReport)
			if(reportNumber == '03'){
				// console.log(this.resultData)
				this.generateReport()
				.then((result)=>{
					this.dataReady = true
					this.generateResult = this.postProcessResult(this.tableData)
					// console.log(this.generateResult)
					Event.fire('Notification.Success', {message:"Successfully Generate Report"})
				})				
			}
			else if(reportNumber == '07'){
				// console.log(this.resultData)
				this.generateSpeedViolationReport()
				.then((result)=>{
					this.dataReady = true
					//console.log(result)
					Event.fire('Notification.Success', {message:"Successfully Generate Report"})
				})				
			}

			else if(reportNumber == '08'){
				// console.log(this.resultData)
				this.generateEnterExitReport()
				.then((result)=>{
					this.dataReady = true
					console.log(result)
					Event.fire('Notification.Success', {message:"Successfully Generate Report"})
				})				
			}
		}	

		get minSpeedDataTable(){			

			let clonedMinSpeedData = _.cloneDeep(this.speedVioData.min)			
			// console.log(clonedMinSpeedData)
			_.each(clonedMinSpeedData, (r)=>{
				r.localRecvTime = this.formatTime(r.localRecvTime);
				r.minSpeed = r.minSpeed + " kn";
				r.averageSpeed = r.averageSpeed + " kn";
				r.duration = r.duration + "NM";
			})

			return clonedMinSpeedData

		}

		get minSpeedColumn(){			
			
			const columns = [{data: "mmsi"}, {data:"name"}, {data:"localRecvTime"}, {data:"lat_Degree"}, {data:"long_Degree"} , {data:"minSpeed"} , {data:"averageSpeed"} , {data:"duration"} , {data:"imo"}]
		
			return columns
		}	
		
		get maxSpeedDataTable(){			

			let clonedMaxSpeedData = _.cloneDeep(this.speedVioData.max)			
			// console.log(clonedMaxSpeedData)
			_.each(clonedMaxSpeedData, (r)=>{
				r.localRecvTime = this.formatTime(r.localRecvTime);
				r.maxSpeed = r.maxSpeed + " kn";
				r.averageSpeed = r.averageSpeed + " kn";
				r.duration = r.duration + "NM";
			})
			return clonedMaxSpeedData

		}

		get maxSpeedColumn(){			
			
			const columns = [{data: "mmsi"}, {data:"name"}, {data:"localRecvTime"}, {data:"lat_Degree"}, {data:"long_Degree"} , {data:"maxSpeed"} , {data:"averageSpeed"} , {data:"duration"} , {data:"imo"}]
		
			return columns
		}

		get startDate(){ return this.resultData.startDate }
		set startDate(value){ this.setResultData({key:'startDate', value}) }

		get endDate(){ return this.resultData.endDate }
		set endDate(value){ this.setResultData({key:'endDate', value}) }

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleReportResult(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){                    	
            Event.fire('Map.DeactivateWidget', 'Report.Main.Result')
        }

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})
		}
	}
</script>