<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/report-edit.html"></template>

<script>
	/*
	Script start
	 */
	import { Component, Emit, Prop, Provide } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'
	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'
	
	const ReportEditModule = namespace('reports/edit')
	const ReportModule = namespace('reports')	
	const ReportFormModule = namespace('reports/form')

	import vSelect from 'vue-select/src/components/Select.vue'

	import utilHelper from '../../../helpers/util'

	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)		

	/*
	Class start
	 */
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'report-form': ()=> import('./ReportForm')			
		}
	})
	export default class ReportEdit extends mixins(VeeValidatorHelperMixin) {

		@Provide() parentValidator = this.$validator		

		// Report Module
		@ReportModule.Getter selectedReport

		@ReportModule.Action getReports

		// Report Edit Module
		@ReportEditModule.Mutation toggleReportEdit				
		@ReportEditModule.Mutation setEditedReportId

		@ReportEditModule.Action loadReport
		@ReportEditModule.Action updateReport

		// Report Form Module
		@ReportFormModule.Getter reportData
		@ReportFormModule.Mutation replaceReportData
		
		isReady = false		

		/*
		mounted
		 */
		mounted(){			
			// console.log(this.loadReport())
			this.loadReport()
				.then((result)=>{	
				this.isReady = true;			
			})				
		}
		
		/*
		created
		 */
		created(){			
			this.setEditedReportId(this.$route.params.id)
		}					

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})
		}		

		/*
		submit
		 */
		submit(){
		this.VeeValidatorHelperMixin_validateAll('formreport')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			// console.log(this.reportData)
			this.updateReport()
			.then(()=>{
				Event.fire('Notification.Success', {message: 'Successfully Update Report'});
				this.closeWidget()
				this.getReports()				
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError', {message: "Error Updating Report"}) 
				throw(error)
			})
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleReportEdit(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){
        	// Event.remove(['Map.ActivateWidget', 'Map.ClearWidget'])            
            Event.fire('Map.DeactivateWidget', 'Report.Main.Edit')
        }		
		
	}
</script>