<main-wrapper :scroller="true" :override="true">

	<template slot="header">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="title clearfix">
						Add User 
						
						<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

						<font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
				</h1>
			</div>	
		</div>		
	</template>

	<template slot="scroll-content">
		
		<form @submit.prevent="submit" data-vv-scope="formuser" novalidate autocomplete="no" class="form-horizontal">

			<div class="row">				

				<!-- Top -->
				<div class="col-sm-12">

					<!-- <h1 class="title">Add User <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1>					 -->
					
				</div>
				<div class="col-sm-12">
				  		<router-view name="userCreateContent"></router-view>
				</div>
											
			</div> <!-- end row -->

			<hr />

			<div class="row">
				<!-- Submit close button -->
				<div class="col-sm-12 clearfix">
					<button v-if="this.$route.name == 'map.users.create.details'" @click.prevent="$router.push({name:'map.users.index'})" class="btn btn-primary">
						<span><i class="fa fa-chevron-left"></i></span>
						<span>Back To List</span>
					</button>
					<button v-if="this.$route.name == 'map.users.create.details'" @click.prevent="$router.push({name:'map.users.create.roles'})" class="btn btn-primary pull-right">
						<span>Next</span>
						<span><i class="fa fa-chevron-right" ></i></span>
					</button>
					<button v-if="this.$route.name == 'map.users.create.roles'" @click.prevent="$router.push({name:'map.users.create.details'})" class="btn btn-primary">
						<span><i class="fa fa-chevron-left" ></i></span>
						<span>Back</span>
					</button>
					<button v-if="this.$route.name == 'map.users.create.roles'" class="btn btn-primary pull-right btn-save">
						<span><i class="fa fa-check-circle"></i></span>
						<span>Save</span>
					</button>
				</div>	
			</div>			
			
		</form>

	</template>
</main-wrapper>