<main-wrapper :scroller="true" :override="true">

	<template slot="header">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="title clearfix">
						Edit User
						
						<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

						<font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
				</h1>
			</div>	
		</div>		
	</template>

	<template slot="scroll-content">
		
		<form @submit.prevent="submit" data-vv-scope="formuser" novalidate autocomplete="no" class="form-horizontal">

			<div class="row">				

				<!-- Top -->
				<div class="col-sm-12">

					<!-- <h1 class="title">Edit User <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1>					 -->
					
				</div>
				<div class="col-sm-12">
				  		<router-view name="userEditContent"></router-view>
				</div>
											
			</div> <!-- end row -->

			<hr />

			<div class="row">
				<!-- Submit close button -->
				<div class="col-sm-12 clearfix">
					<button v-if="this.$route.name == 'map.users.edit.details'" @click.prevent="$router.push({name:'map.users.edit.roles'})" class="btn btn-primary pull-right">Next</button>
					<button v-if="this.$route.name == 'map.users.edit.roles'" @click.prevent="$router.push({name:'map.users.edit.details'})" class="btn btn-primary">Back</button>
					<button v-if="this.$route.name == 'map.users.edit.roles'" class="btn btn-primary pull-right btn-save">Save</button>
				</div>	
			</div>			
			
		</form>

	</template>
</main-wrapper>