<div>
	<!-- Form Create and Edit User -->
	<div v-if="this.$route.name != 'map.users.view'">
		<div class="next-step-user-reg">
	     
	      <ul class="next-user-ul">
	        <li class="next-user-li active">
	          <div class="connecting-line"></div>
	          <div class="next-user-icon">
	            <i class="fa fa-user"></i>
	          </div>
	          <p class="next-user-text"> User detail</p>
	        </li>
	        <li class="next-user-li">
	          <div class="connecting-line"></div>
	          <div class="next-user-icon">
	            <i class="fa fa-cog"></i>
	          </div>
	          <p class="next-user-text">User role</p>
	        </li>
	      </ul>
	    </div>
		<div class="bordered-user">
			<div class="row">

				<div class="col-sm-12">
					<div class="form-group">
						<div class="row">
							<label for="userName" class="col-lg-2 control-label">Username</label>
							<div class="col-lg-10 ">
								<input 
									type="text" 
									class="form-control"
									:class="{'error-input':errors.has('formuser.userName')}" 
									id="username" 
									name="username" 
									v-model="formData_userName" 
									placeholder="Username" 
									v-validate="`required|alpha_num`"										
									data-vv-validate-on="blur"
									@focus="errors.remove('username', 'formuser')"
								/>

								<span 

									v-if="errors.has('formuser.username') && (errors.items[0].msg == 'The username field may only contain alpha-numeric characters.')"
									class="help-block text-danger">Use only letters and numerals with no spaces
								</span>
								<span v-else class="help-block text-danger">{{ errors.first('formuser.username') }}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<div class="row">
							<label for="name" class="col-lg-2 control-label">Name</label>
							<div class="col-lg-10 ">
								<input 
									type="text" 
									class="form-control"
									:class="{'error-input':errors.has('formuser.name')}" 
									id="name" 
									name="name" 
									v-model="formData_name" 
									placeholder="Name"
									v-validate="`required`"										
									data-vv-validate-on="blur"
									@focus="errors.remove('name', 'formuser')"
								/>

								<span 
									v-if="errors.has('formuser.name')"
									class="help-block text-danger">{{ errors.first('formuser.name') }}
								</span>
									
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<div class="row">
							<label for="surname" class="col-lg-2 control-label">Surname</label>
							<div class="col-lg-10 ">
								<input 
									type="text" 
									class="form-control"
									:class="{'error-input':errors.has('formuser.surname')}" 
									id="surname" 
									name="surname" 
									v-model="formData_surname" 
									placeholder="Surname"
									v-validate="`required`"										
									data-vv-validate-on="blur"
									@focus="errors.remove('surname', 'formuser')"
								/>

								<span 
									v-if="errors.has('formuser.surname')"
									class="help-block text-danger">{{ errors.first('formuser.surname') }}
								</span>
									
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<div class="row">
							<label for="email" class="col-lg-2 control-label">Email Address</label>
							<div class="col-lg-10 ">
								<input 
									type="email" 
									class="form-control"
									:class="{'error-input':errors.has('formuser.email')}" 
									id="email" 
									name="email" 
									v-validate="`required|email`"
									v-model="formData_email" 
									placeholder="user@mail.com"
								/>

								<span 
									v-if="errors.has('formuser.email')"
									class="help-block text-danger">{{ errors.first('formuser.email') }}
								</span>
									
							</div>
						</div>
					</div>
				</div>

				<div v-if="this.$route.name == 'map.users.create.details'" class="col-sm-12">
					<div class="form-group">
						<div class="row">
							<label for="password" class="col-lg-2 control-label">Password</label>
							<div class="col-lg-10 ">
								<input 
									autocomplete="new-password"
									type="password" 
									class="form-control"
									:class="{'error-input':errors.has('formuser.password')}" 
									id="password" 
									name="password" 
									v-validate="`required`"
									v-model="formData_password" 
									placeholder="Password"
									ref="password"
								/>
								
								<span 
									v-if="errors.has('formuser.password')"
									class="help-block text-danger">{{ errors.first('formuser.password') }}
								</span>

							</div>
						</div>
					</div>
				</div>

				<div v-if="this.$route.name == 'map.users.create.details'" class="col-sm-12">
					<div class="form-group">
						<div class="row">
							<label for="confirmPassword" class="col-lg-2 control-label">Confirm Password</label>
							<div class="col-lg-10 ">
								<input 
									autocomplete="new-password"
									type="password" 
									class="form-control"
									:class="{'error-input':errors.has('formuser.password')}" 
									id="confirmPassword" 
									name="confirmPassword" 
									v-validate="`required|confirmed:password`"
									v-model="formData_confirmPassword" 
									data-vv-as="password"
									placeholder="Confirm Password"
								/>
								
								<span 
									v-if="errors.has('formuser.confirmPassword')"
									class="help-block text-danger">{{ errors.first('formuser.confirmPassword') }}
								</span>	

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div><!-- End Form Create and Edit User -->

	<!-- Form View User -->
	<div v-if="this.$route.name == 'map.users.view'">
		<h3>User Details</h3>
		<div class="bordered-user">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<div class="row">
							<label for="userName" class="col-lg-2 control-label">Username</label>
							<div class="col-lg-10 ">
								<input 
									readonly 
									type="text" 
									class="form-control"
									id="userName" 
									name="userName" 
									v-model="formData_userName" 
								/>								
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<div class="row">
							<label for="name" class="col-lg-2 control-label">Name</label>
							<div class="col-lg-10 ">
								<input 
									type="text" 
									readonly
									class="form-control"
									id="name" 
									name="name" 
									v-model="formData_name" 
								/>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<div class="row">
							<label for="surname" class="col-lg-2 control-label">Surname</label>
							<div class="col-lg-10 ">
								<input 
									type="text" 
									readonly
									class="form-control"
									id="surname" 
									name="surname" 
									v-model="formData_surname" 
								/>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<div class="row">
							<label for="email" class="col-lg-2 control-label">Email Address</label>
							<div class="col-lg-10 ">
								<input 
									type="email" 
									readonly
									class="form-control"
									id="email" 
									name="email" 
									v-model="formData_email" 
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<h3>User Roles</h3>
		<div class="bordered-user">
			<div class="row">
	        	<div v-for="role in this.formData.roleNames" :key="role.text" class="col-sm-12">
					<div class="row">
						<div class="col-lg-12">
			            	<div class="form-group">
			                	<div class="row">
				                    <label for="isEnabled" class="col-lg-2 control-label">{{ role }}</label>
				                    <div class="col-lg-10" readonly>
			                        	<toggle-button :value="true" :disabled="true" color="#116fff" />   
			                    	</div>
			                	</div>
			            	</div>
			        	</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- End Form View User -->
</div> 
