<div>
	<div class="next-step-user-reg">
     
      <ul class="next-user-ul">
        <li class="next-user-li active">
          <div class="connecting-line"></div>
          <div class="next-user-icon">
            <i class="fa fa-user"></i>
          </div>
          <p class="next-user-text"> User detail</p>
        </li>
        <li class="next-user-li active">
          <div class="connecting-line"></div>
          <div class="next-user-icon">
            <i class="fa fa-cog"></i>
          </div>
          <p class="next-user-text">User role</p>
        </li>
      </ul>
    </div>
	<div class="bordered-user">
		<div class="row">
        	<div v-for="role in listOfRoles" :key="role.text" class="col-sm-12">
				<div class="row">
					<div class="col-lg-12">
		            	<div class="form-group">
		                	<div class="row">
			                    <label for="isEnabled" class="col-lg-2 control-label">{{ role.text }}</label>
			                    <div class="col-lg-10 ">
		                        	<toggle-button @change="addRoles(role.id,$event)" :value="role.enabled" color="#116fff" />   
		                    	</div>
		                	</div>
		            	</div>
		        	</div>
				</div>
			</div>
		</div>
	</div>
	
</div> <!-- end form body -->