<div>
	<form>
		<div class="form-group">
			<label for="name">Username</label>
			<input 
				type="text" 
				class="form-control"				
				id="username" 
				name="username" 
				v-model="formData_username" 
				placeholder="Username" 				
			/>						
		</div>

		<div class="form-group">
			<label for="email">Email</label>
			<input 
				type="text" 
				class="form-control"				
				id="email" 
				name="email" 
				v-model="formData_email" 
				placeholder="Email" 				
			/>						
		</div>	

		<div class="form-group">
            <label for="isActive">Enable</label>
            <div>                           
                <toggle-button v-model="formData_isActive" color="#116fff" />   
            </div>                                                      
        </div>

		<div class="row">
			<div class="col-md-6">
	        	<div class="form-group">
					<label for="expirationDate">Expiration Date</label>
					<input 
						type="text" 
						class="form-control"				
						id="expirationDate" 
						name="expirationDate" 
						v-model="formData_expirationDate" 
						placeholder="Expiration Date" 				
					/>						
				</div>
	        </div>	
		</div>		

		<div class="row">
			
			<div class="col-sm-6">
	        	<div class="form-group">
					<label for="firstName">First Name</label>
					<input 
						type="text" 
						class="form-control"				
						id="firstName" 
						name="firstName" 
						v-model="formData_firstName" 
						placeholder="First Name" 				
					/>						
				</div>
	        </div>

			<div class="col-sm-6">
	        	<div class="form-group">
					<label for="lastName">Last Name</label>
					<input 
						type="text" 
						class="form-control"				
						id="lastName" 
						name="lastName" 
						v-model="formData_lastName" 
						placeholder="Last Name" 				
					/>						
				</div>
	        </div>	        

		</div>

		<div class="form-group">
			<label for="company">Company</label>
			<input 
				type="text" 
				class="form-control"				
				id="company" 
				name="company" 
				v-model="formData_company" 
				placeholder="Company" 				
			/>						
		</div>
        

        <div class="row">
        	<div class="col-sm-6">
        		<div class="form-group">
					<label for="phone">Phone</label>
					<input 
						type="tel" 
						class="form-control"				
						id="phone" 
						name="phone" 
						v-model="formData_phone" 
						placeholder="Phone Number" 				
					/>						
				</div>
        	</div>

        	<div class="col-sm-6">
        		<div class="form-group">
					<label for="fax">Fax</label>
					<input 
						type="text" 
						class="form-control"				
						id="fax" 
						name="fax" 
						v-model="formData_fax" 
						placeholder="Fax Number" 				
					/>						
				</div>
        	</div>
        </div>

        <div class="form-group">
			<label for="address">Address</label>
			<input 
				type="text" 
				class="form-control"				
				id="address" 
				name="address" 
				v-model="formData_address" 
				placeholder="Address"
			/>						
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="city">City</label>
					<input 
						type="text" 
						class="form-control"				
						id="city" 
						name="city" 
						v-model="formData_city" 
						placeholder="City" 				
					/>						
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="state">State / Province</label>
					<input 
						type="text" 
						class="form-control"				
						id="state" 
						name="state" 
						v-model="formData_state" 
						placeholder="State / Province" 				
					/>						
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-sm-6">
				<div class="form-group">
					<label for="zipCode">Zip / Postal Code</label>
					<input 
						type="text" 
						class="form-control"				
						id="zipCode" 
						name="zipCode" 
						v-model="formData_zipCode" 
						placeholder="Zip / Postal Code" 				
					/>						
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="country">Country</label>
					<input 
						type="text" 
						class="form-control"				
						id="country" 
						name="country" 
						v-model="formData_country" 
						placeholder="Country" 				
					/>						
				</div>
			</div>	

		</div>

		<div class="row">
			<div class="col-sm-6">
				<label for="group">Member of</label>
				<input 
					type="text" 
					class="form-control"				
					id="group" 
					name="group" 
					v-model="formData_group" 
					placeholder="Member of"
				/>						
			</div>
		</div>


	</form>
</div>