<template src="./templates/weather-form.html"></template>
<style scoped>
	.form-control {
		width: 65px;
		display: inline-block;
	}
	.loading-box{
	    text-align: center;
	}
	.data-unready{
		width: 100%;
	    background-color: #f5f5f5;
	    color: #676a6c;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    padding-top: 100px;
	    padding-bottom: 100px;
	}
</style>
<script>
	
	/*
	Script start
	 */
	
	import { Component, Watch, Prop } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import LoadingSVG from '../../../../images/three-dots.svg'
	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)

	// mixins

	const WeatherFormModule = namespace('weather/form')
	const MapModule = namespace('map')

	/*
	Class start
	 */
	@Component({
		components: {			
			'select2': ()=> import('../../common/libs/Select2'),
			'airpressure-gauge': ()=> import('../../common/libs/canvas-gauges/AirPressureGauge'),
			'airtemperature-gauge': ()=> import('../../common/libs/canvas-gauges/AirTemperatureGauge'),
			'currentdirection-gauge': ()=> import('../../common/libs/canvas-gauges/DirectionGauge/CurrentDirectionGauge'),
			'currentspeed-gauge': ()=> import('../../common/libs/canvas-gauges/SpeedGauge/CurrentSpeedGauge'),
			'gustspeed-gauge': ()=> import('../../common/libs/canvas-gauges/SpeedGauge/GustSpeedGauge'),
			'gustdirection-gauge': ()=> import('../../common/libs/canvas-gauges/DirectionGauge/GustDirectionGauge'),
			'humidity-gauge': ()=> import('../../common/libs/canvas-gauges/HumidityGauge'),
			'visibility-gauge': ()=> import('../../common/libs/canvas-gauges/WaterGauge/VisibilityGauge'),
			'watertemperature-gauge': ()=> import('../../common/libs/canvas-gauges/WaterGauge/WaterTemperatureGauge'),
			'waterlevel-gauge': ()=> import('../../common/libs/canvas-gauges/WaterGauge/WaterLevelGauge'),
			'waveheight-gauge': ()=> import('../../common/libs/canvas-gauges/WaterGauge/WaveHeightGauge'),
			'windspeed-gauge': ()=> import('../../common/libs/canvas-gauges/SpeedGauge/WindSpeedGauge'),
			'winddirection-gauge': ()=> import('../../common/libs/canvas-gauges/DirectionGauge/WindDirectionGauge'),
			'waveperiod-gauge': ()=> import('../../common/libs/canvas-gauges/WavePeriodGauge'),
			'wavedirection-gauge': ()=> import('../../common/libs/canvas-gauges/DirectionGauge/WaveDirectionGauge')
		}
	})
	export default class WeatherForm extends Vue {

		@Prop() token

		@WeatherFormModule.Getter areaOptions
		@WeatherFormModule.Getter formData
		@WeatherFormModule.Getter ('stationListOption') allStationListOption
		@WeatherFormModule.Getter ('gaugesList') newGaugesList

		@WeatherFormModule.Mutation setFormData
		@WeatherFormModule.Mutation setGaugesList

		@WeatherFormModule.Action getWeatherStationList
		@WeatherFormModule.Action getGaugesList
		@WeatherFormModule.Action getPublicWeatherStationList
		@WeatherFormModule.Action getPublicGaugesList

		@MapModule.Getter map
		@MapModule.Getter vessels

		LoadingSVG = LoadingSVG
		dataReady = false
		selectedInstrument = ''
		id = 'all'
		stationListOption = []
		gaugesList = []
		hverror = false
		
		/*
		mounted
		 */
		mounted(){
			// console.log("%cToken from WeatherForm:", conStyle.boldRed, this.token)
			if(this.$route.name == 'public.instrument-panel'){
				this.getPublicWeatherStationList(this.token)
				.then((result)=>{

					this.stationListOption = this.allStationListOption
					this.selectedInstrument = this.stationListOption[0].id
					this.getPublicGaugesList({mmsi:this.selectedInstrument, token:this.token})
					.then((result)=>{
					console.log(result)
					if(result == null){
						this.hverror = true
					}
					else if(result.hasOwnProperty('error')){
						this.hverror = true
					}
					else{
						this.dataReady = true
						this.gaugesList = this.newGaugesList.instruments[0]
					}
						
					})
					.catch((error)=>{
						console.error(error)
					})
				})
			}
			else{

				this.getWeatherStationList()
				.then((result)=>{
					this.stationListOption = this.allStationListOption
					this.selectedInstrument = this.stationListOption[0].id
					this.getGaugesList(this.selectedInstrument)
					.then((result)=>{
					console.log(result)
					if(result == null){
						this.hverror = true
					}
					else if(result.hasOwnProperty('error')){
						this.hverror = true
					}
					else{
						this.dataReady = true
						this.gaugesList = this.newGaugesList.instruments[0]
					}
						
					})
					.catch((error)=>{
						console.error(error)
					})
				})
			}
				

		}
		/*
		closeWidget
		 */
		closeWidget(widget){			
			this.$router.push({name:'mainmap'})
		}

		get isEnable(){ return this.formData.isEnable }
		set isEnable(value){ this.setFormData({key:'isEnable', value}) }

		get refreshRate(){return this.formData.refreshRate}
		set refreshRate(value){this.setFormData({key:'refreshRate', value})}
		
		setTime(){
			if (this.formData.refreshRate != '' && this.formData.isEnable) {
				setTimeout(()=>{
					this.getGaugesLists(this.selectedInstrument)
					this.setTime()
				}, this.formData.refreshRate * 1000)
				// console.log("true")
			}
			else{
				return false
			}
		}
		getArea(id){

			// console.log("%cId:", conStyle.boldWhite, id)
			this.id = id

			if(id == 'screen'){				


				const onScreenStations = [...this.vessels.values()].filter(v => v.isDrawn && v.isMethydro)
				
				let onScreenStationOptions = []			

				onScreenStations.forEach((osStation)=>{
					onScreenStationOptions.push(_.find( this.allStationListOption, {id:osStation.mmsi} ))
				})

				this.stationListOption = onScreenStationOptions.filter(osStation => osStation)				


			}
			// all areaa
			else{
				if(!this.allStationListOption.length){this.getWeatherStationList()}
				else{this.stationListOption = _.cloneDeep(this.allStationListOption)}
				
			}
		}
		getGaugesLists(mmsi) {
			// console.log(e)
		this.dataReady = false
		this.hverror = false
		this.selectedInstrument = mmsi

		if(this.$route.name == 'public.instrument-panel'){
			this.getPublicGaugesList({mmsi:this.selectedInstrument, token:this.token})
			.then((result)=>{
				if(result == null){
					this.hverror = true
				}
				else if(result.hasOwnProperty('error')){
					this.hverror = true
				}
				else{
					this.dataReady = true
					this.gaugesList = this.newGaugesList.instruments[0]
				}
			})
			.catch((error)=>{
				console.error(error)
			})
		}
		else{
			this.getGaugesList(mmsi)
			.then((result)=>{
			console.log(result)				
				if(result == null){
					this.hverror = true
				}
				else if(result.hasOwnProperty('error')){
					this.hverror = true
				}
				else{
					this.dataReady = true
					this.gaugesList = this.newGaugesList.instruments[0]
				}
			})
			.catch((error)=>{
				console.error(error)
			})
		}
   		
		}
		
	}


</script>