<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/weather-dashboard.html"></template>

<script>
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'


	import utilHelper from '../../../helpers/util'

	const WeatherDashboardModule = namespace('weather/dashboard')
	

	/*
	Class start
	 */
	@Component({
		components: {
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'weather-form' : ()=> import('./WeatherForm')
		}
	})
	export default class WeatherDashboard extends Vue {

		
		@WeatherDashboardModule.Mutation toggleWeatherDashboard		
	
		/*
		closeWidget
		 */
		closeWidget(){
			this.$router.push({name:'mainmap'})
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleWeatherDashboard(false)
		}

		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){			
			Event.fire('Map.DeactivateWidget', 'Weather.Main.Dashboard')
		}

		
		
	}

</script>