<div data-component="MasterDetail">	
	<div>
		<div v-if="!info.base">
			<div class="ph-item">
				<div class="ph-col-12">
					<div class="ph-picture"></div>
					<div class="ph-row">
						<div class="ph-col-4 big"></div>
						<div class="ph-col-4 big empty"></div>
						<div class="ph-col-4 big"></div>
						<div class="ph-col-4 big"></div>
						<div class="ph-col-4 big empty"></div>
						<div class="ph-col-4 big"></div>
						<div class="ph-col-4 big"></div>
						<div class="ph-col-4 big empty"></div>
						<div class="ph-col-4 big"></div>
						<div class="ph-col-4 big"></div>
						<div class="ph-col-4 big empty"></div>
						<div class="ph-col-4 big"></div>
						<div class="ph-col-4 big"></div>
						<div class="ph-col-4 big empty"></div>
						<div class="ph-col-4 big"></div>
						<div class="ph-col-4 big"></div>
						<div class="ph-col-4 big empty"></div>
						<div class="ph-col-4 big"></div>
					</div>
				</div>
			</div>
		</div>
		<div v-if="info">

			<div class="ibox-content">				

				<wrem-detail-header
					:info="info"					
					v-if="vesselClass == 'Wrem'"
				>
				</wrem-detail-header>

				<vessel-detail-header
					:info="info"
					:vesselClass="vesselClass"
					v-else
				>
				</vessel-detail-header>



				<!-- Name, flag, mmsi, imo -->
				<!-- <ul class="vessel-name">
					<li v-if="vesselClass == 'Sar'"><span class="flag-icon flag-icon-my"></span> <br> </li>
					<li v-else-if="formatFlag(info.base.mmsi) == 'undefined'"><img width="22px" src="~/mdm-flag-icon-css/flags/4x3/undefined.svg"></span><br><b> - - </b></li>
					<li v-else><span :class="'flag-icon flag-icon-' + formatFlag(info.base.mmsi)"></span><br><b>{{formatFlag(info.base.mmsi)}}</b></li>
					<li>
						<h4>{{ info.base.vesselName }}</h4>
						<p class="imo" v-if="info.base.imo > 0">{{ info.base.imo }}</p>
						<p class="mmsi">{{ formatMmsi(info.base.mmsi) }}</p>
						<p style="margin-bottom:15px;" class="call-sign">{{  info.base.callSign }}</p>
					</li>
				</ul> -->

				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
				    <li><a ref="detailTab" @click="activateTab(1)" :class="{ active : activeTab === 1}" data-toggle="tab" :href="`#details-${info.id}`">Details</a></li>

				    <li  v-if="info.lloyd" ><a @click="activateTab(2)" :class="{ active : activeTab === 2}" data-toggle="tab" :href="`#lloyd-${info.id}`">Lloyd</a></li>				    

				    <li  v-else-if="info.rms && !info.lightHouse && !info.rms.hasOwnProperty('error') && AuthorizationMixin_isGranted('RMS.View')" ><a @click="activateTab(3)" :class="{ active : activeTab === 3}" data-toggle="tab" :href="`#rms-${info.id}`">RMS</a></li>

				    <li v-else-if="info.ddms && AuthorizationMixin_isGranted('DDMS.View')"><a @click="activateTab(4)" :class="{ active : activeTab === 4}" data-toggle="tab" :href="`#ddms-${info.id}`">DDMS</a></li>

				    <li v-else-if="info.lightHouse"><a @click="activateTab(5)" :class="{ active : activeTab === 5}" data-toggle="tab" :href="`#lightHouse-${info.id}`">RMS</a></li>

				    <!-- <li v-if="info.timeline"><a ref="timelineTab" @click="activateTab(6)" :class="{ active : activeTab === 6}" data-toggle="tab" :href="`#timeline-${info.id}`">Timeline</a></li> -->

				    <li class="upload-image-tab"><a ref="uploadImageTab" data-toggle="tab" :href="`#upload-image-${info.id}`"></a></li>

				</ul>

				<!-- tab content -->
				<div class="tab-content">				   
			            

					<!-- details -->
					<div :id="`details-${info.id}`" class="tab-pane active">						

					    <div class="image-vessel">	

				            <carousel
				            	v-if="imgDatas.length && imageReady"				             	
				                :starting-image="0"
				                :images="imgDatas" 
				                @updateImage="carouselImageUpdate"                     
				            ></carousel>

							<div v-else-if="!imgDatas.length || !imageReady" class="no-image">
								<img class="img-responsive" :src="defaultImage" alt="">	
							</div>							
											          
				            <div v-if="vesselClass == 'ClassA' || vesselClass == 'ClassB'" class="detail-control btn-group">
				                <button v-if="AuthorizationMixin_isGranted('Playback.Run')" class="btn btn-sm btn-playback" @click="playback">
				                    <font-awesome-icon :icon="['fas', 'forward']" size="sm" /><span> Playback</span>             
				                </button>
				                <button 
					                v-if="AuthorizationMixin_isGranted('VesselETA.View')" 
					                class="btn btn-sm btn-playback" 
					                @click.prevent="$router.push({name:'map.custom-route.main.vessel-eta', params:{vesselId:info.base.vesselId}})"
					            >
				                    <font-awesome-icon :icon="['fas', 'compass']" size="sm" /><span> Vessel ETA</span>             
				                </button>            
				             </div>
				        </div>   				       

			            <div 
			            	class="btn-group"
			            	:class="{carouselOff:!imgDatas.length, carouselOn:imgDatas.length && imageReady}"
			            	v-if="vesselClass != 'Wrem' && (AuthorizationMixin_isGranted('Image.Upload') || AuthorizationMixin_isGranted('Image.Delete'))"
			            >
			            	<a 
				            	class="btn btn-primary upload-image-btn" 
				            	@click.prevent="uploadImage"				            					            
				            	v-if="AuthorizationMixin_isGranted('Image.Upload')"           
			            	>
				            	<img :src="require('../../../../../../images/image-upload.png')" alt="">
				            </a>							
							
							<a class="btn btn-danger delete-image-btn" 
							v-if="imgDatas.length && imageReady && AuthorizationMixin_isGranted('Image.Delete')"							
							>
								<delete-confirm
									:item="{id:info.base.vesselId, name:'Image'}"
									type="image"
									@confirm="deleteVesselImage"								
									:showName="false"
									:key="info.base.vesselId"								
								>
									<template slot="content">
											<div class="btn-container">
												<font-awesome-icon :icon="['fas', 'trash-alt']" size="sm" :style="{ color: '#fff' }" />	
											</div>				
									</template>								
								</delete-confirm>
							</a>
							

							
				            
			            </div>
			            
 
			            <classA-detail  :info="info" v-if="vesselClass == 'ClassA'"></classA-detail>
						<classB-detail :info="info" v-if="vesselClass == 'ClassB'"></classB-detail>
						<classSar-detail :info="info" v-if="vesselClass == 'Sar'"></classSar-detail>
						<classAton-detail :info="info" 
							v-if="vesselClass == 'Aton' || 
							vesselClass == 'VAton' ||
							vesselClass == 'Sart' ||
							vesselClass == 'MetHydro'"							
						></classAton-detail>
						<classBaseStation-detail :info="info" v-if="vesselClass == 'BaseStation'"></classBaseStation-detail>						
						<classWrem-detail :info="info" v-if="vesselClass == 'Wrem'"></classWrem-detail>
						<classGeneral-detail :info="info" v-if="vesselClass == 'Other'"></classGeneral-detail>
				    </div>

					<!-- lloyd -->
				    <div :id="`lloyd-${info.id}`" class="tab-pane">
				    	<!-- vessel image -->
				        <div class="image-vessel">
				            
				            <!-- vessel image -->
				            <!-- <img v-if="info.imageUrl" class="img-responsive" :src="info.imageUrl" alt="">  			            
				            <div v-else-if="!info.imageUrl" class="no-image"></div> -->

				            <carousel
					            v-if="imgDatas.length && imageReady"				             	
					            :starting-image="0"
					            :images="imgDatas"                      
				            ></carousel>

							<div v-else-if="!imgDatas.length || !imageReady" class="no-image">
								<img class="img-responsive" :src="defaultImage" alt="">	
							</div>

				            <div class="detail-control btn-group">
				                <button v-if="AuthorizationMixin_isGranted('Playback.Run')" class="btn btn-sm btn-playback" @click="playback">
				                    <font-awesome-icon :icon="['fas', 'forward']" size="sm" /><span> Playback</span>             
				                </button>
				                <button 
					                v-if="AuthorizationMixin_isGranted('VesselETA.View')" 
					                class="btn btn-sm btn-playback" 
					                @click.prevent="$router.push({name:'map.custom-route.main.vessel-eta', params:{vesselId:info.base.vesselId}})"
					            >
				                    <font-awesome-icon :icon="['fas', 'compass']" size="sm" /><span> Vessel ETA</span>             
				                </button>            
				            </div>
			        	</div>             
			            
				   		<lloyds-detail :info="info" v-if="vesselClass == 'ClassA' || vesselClass == 'ClassB'" ></lloyds-detail>
				    </div>

				    <!-- rms -->
				    <div :id="`rms-${info.id}`" class="tab-pane">
				    	<!-- vessel image -->
			            <div class="image-vessel">					    	

			            	<carousel
					            v-if="imgDatas.length && imageReady"				             	
					            :starting-image="0"
					            :images="imgDatas"                      
				            ></carousel>

							<div v-else-if="!imgDatas.length || !imageReady" class="no-image">
								<img class="img-responsive" :src="defaultImage" alt="">	
							</div>


			            	<div class="detail-control btn-group">
				                <button class="btn btn-sm btn-playback" @click.prevent="$router.push({name:'map.rms.historicalData', params:{mmsi:info.base.mmsi, vesselName:info.base.vesselName, dac:info.rms.dac, fi:info.rms.fi}})">
				                    <font-awesome-icon :icon="['fas', 'chart-bar']" size="sm" /><span> Historical Data</span>             
				                </button>            
				            </div>
			        	</div>             
			            
			            <rms-detail :info="info" v-if="info.rms"></rms-detail>
				    </div>

				    <!-- ddms -->
				    <div :id="`ddms-${info.id}`" class="tab-pane">
				    	<!-- vessel image -->
			            <div class="image-vessel">			            

				            <carousel
					            v-if="imgDatas.length && imageReady"				             	
					            :starting-image="0"
					            :images="imgDatas"                      
				            ></carousel>

							<div v-else-if="!imgDatas.length || !imageReady" class="no-image">
								<img class="img-responsive" :src="defaultImage" alt="">	
							</div>

				            <div class="detail-control btn-group">
				                <button v-if="AuthorizationMixin_isGranted('Playback.Run')" class="btn btn-sm btn-playback" @click="playback">
				                    <font-awesome-icon :icon="['fas', 'forward']" size="sm" /><span> Playback</span>             
				                </button>
				                <button 
					                v-if="AuthorizationMixin_isGranted('VesselETA.View')" 
					                class="btn btn-sm btn-playback" 
					                @click.prevent="$router.push({name:'map.custom-route.main.vessel-eta', params:{vesselId:info.base.vesselId}})"
					            >
				                    <font-awesome-icon :icon="['fas', 'compass']" size="sm" /><span> Vessel ETA</span>             
				                </button>
				                <button class="btn btn-sm btn-playback" @click.prevent="$router.push({name:'map.ddms.historicalData', params:{mmsi:info.base.mmsi, vesselName:info.base.vesselName}})">
				                    <font-awesome-icon :icon="['fas', 'chart-bar']" size="sm" /><span> Historical Data</span>             
				                </button>   
				            </div>
			        	</div>             
			            
				   		<ddms-detail :info="info" ></ddms-detail>
				    </div>

				    <!-- light house -->
				    <div :id="`lightHouse-${info.id}`" class="tab-pane">
				    	<!-- vessel image -->
			            <div class="image-vessel">					    	

			            	<carousel
					            v-if="imgDatas.length && imageReady"				             	
					            :starting-image="0"
					            :images="imgDatas"                      
				            ></carousel>

							<div v-else-if="!imgDatas.length || !imageReady" class="no-image">
								<img class="img-responsive" :src="defaultImage" alt="">	
							</div>


			            	<div class="detail-control btn-group">
				                <button class="btn btn-sm btn-playback" @click.prevent="$router.push({name:'map.rms.historicalData', params:{mmsi:info.base.mmsi, vesselName:info.base.vesselName, dac:info.rms.dac, fi:info.rms.fi}})">
				                    <font-awesome-icon :icon="['fas', 'chart-bar']" size="sm" /><span> Historical Data</span>             
				                </button>            
				            </div>
			        	</div>             
			            
			            <lightHouse-detail :info="info" v-if="info.lightHouse"></lightHouse-detail>
				    </div>

				    <!-- timeline -->
				    <div :id="`timeline-${info.id}`" class="tab-pane">
				    	<!-- vessel image -->
				   		<timeline-detail :info="info" ></timeline-detail>
				    </div>

				    <div :id="`upload-image-${info.id}`" class="tab-pane">
				    	<image-upload :info="info" @uploaded="imageUploaded" :vesselClass="vesselClass"></image-upload>
				    </div>
			
				</div>
			</div>	
		</div> 
	</div>                   	
</div>