	.ibox-content {
		border-style: solid;
		border-width: 1px;
		margin-bottom: 15px;
		padding:0;
		border: 0;
		padding-right:15px;		
	}

	/*
	.ibox-content h4{
		font-size: 18px;
   		margin: 0;
	}

	.ibox-content p.imo, .ibox-content p.mmsi, .ibox-content p.call-sign{
		margin-bottom: 0;
	}*/

	.detail-control {
		margin-bottom: 5px;
	    position: absolute;
	    top: 15px;
    	right: 15px;
	}

	.btn-playback{
		background-color: #047bf8;
    	color: #fff;
    	border-radius: 35px;
    	border : 1px solid #115eaf;
	}

	/*.vessel-name{
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
	}

	.vessel-name li{
		display: inline-block;
	}

	.vessel-name li:first-child{
		width: 40px;
	}

	.flag-icon {
	    background-size: contain;
	    background-position: left top;
	    background-repeat: no-repeat;
	    position: relative;
	    display: inline-block;
	    width: 100%;
	    line-height: 1.5;
	}*/

	b, strong {
		font-weight: bold;
	    margin-left: 3px;
	}

	.nav-tabs{
		margin-bottom: 15px;
		border-bottom: 2px solid #eee;
	}

	.nav-tabs > li > a.active{
		color: #047bf8;
	    border-bottom: 2px solid #047bf8;
	}

	.image-vessel{
		position: relative;
	}

	.no-image {	    
	    background-color: #f0f0f0;
    	height: 213px;
	}

	.no-image img{
	    height: 100%;
	    margin: auto;
	    display: block;
	    max-width: unset;   
	}

	.upload-image-btn, .delete-image-btn{		
	    border-radius: 25px;
	    width: 60px;
	}	

	.delete-image-btn{
	    padding:0;
	}

	.delete-image-btn .btn-container {
		padding-top:8px;
		padding-bottom: 10px;
	}

	.carouselOff .upload-image-btn, .carouselOff .delete-image-btn{
		position: relative;
	    bottom: 40px;
	    left: 15px;
	}

	.carouselOn{
		position: absolute;
	    top: 173px;
	    left: 15px;
	}

	.tab-content{
		position:relative;
	}

	.upload-image-btn img, .delete-image-btn img {
	    margin-left: 3px;	    
	}

	.upload-image-tab{
		visibility: hidden;
		width: 0;
	}

	/deep/ .card-img{
		position: relative;
	    margin-bottom: 15px;
	    height: 213px;
	    background: #eee;
	    overflow: hidden;
	}

	/deep/ .card-img > img {
		height: 100%;
	}

	/deep/ .card-carousel .thumbnails {
		overflow-x: scroll;
		padding-bottom: 2px;
	}

	/deep/ .card-carousel .thumbnails .thumbnail-image {
		background-color: #9c9c9c;
	    padding: 0;
	    margin-right: 2px;
	}

	/deep/ .card-carousel .thumbnails .thumbnail-image img {
		width: 80px;
	}

	@media screen and (max-width: 480px){

		.btn-playback{
			font-size: 10px;
		}
	}

