<style scoped src="../../../styles/summary-list.scss"></style>
<style scoped>

	.widget-wrapper.lg {
	    width: 300px;
	    background-color: #313B56;
	    color: #cec9c9;
	    display: flex;
	    align-items: center;
	    -webkit-animation: wrapper-in .3s ease-in-out;
	    animation: wrapper-in .3s ease-in-out;
	}

	.header .title{
		font-size:large;
	}

</style>
<template src="./templates/vessel-list-summary.html"></template>

<script>

	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	
	
	const VesselListModule = namespace('vesselList')			
	const MapModule = namespace('map')

	@Component({
		components: {
			'side-wrapper' : ()=> import('../../common/WidgetContainers/map/SideWrapper'),
			'vessel-toolbar': ()=> import('./toolbar/Toolbar')
		}
	})
	export default class VesselListSummary extends Vue {		

		// Vessel List summary				
		@VesselListModule.Mutation('addVessel') addInViewVessel 
		
		@MapModule.Getter vessels				
		@MapModule.Getter vessel
		@VesselListModule.Getter('vesselsArr') inViewVessels		
		@MapModule.Getter map		
				
		@VesselListModule.Mutation('clearVessels') clearInViewVessels
		@VesselListModule.Mutation toggleVesselListEnabled		
		
		created(){			

			// Map zoom and move listener
			Event.listen('Map.Events.Drawing.End', this.refreshInViewVesselsList)			

		}		

		mounted(){					
			this.refreshInViewVesselsList()
		}					
		
		refreshInViewVesselsList(){			
			this.clearInViewVessels()				
			let bounds = this.map.getBounds()          
            if(this.vessels){
                this.vessels.forEach((v)=>{
                    if ( bounds.contains(v.latlng) && this.vessel(v.vesselId).isDrawn) {                   	
                        this.addInViewVessel(v)
                    }
                })    
            }             
		}												

		selectListItem(vessel){
			Event.fire('Map.FocusVessel', vessel)
		}

		getName(vessel){
			const mmsi = String(vessel.mmsi).substring(0,1) == '-' ? String(vessel.mmsi).substring(1) : vessel.mmsi
			return vessel.vesselName ? vessel.vesselName : String(mmsi).padStart(9, "0")
		}

		/**
		 * Component beforeDestroy lifecycle hooks
		 * @return void
		 */
		beforeDestroy(){			
			this.clearInViewVessels()	
			this.toggleVesselListEnabled()
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){         	
            Event.fire('Map.DeactivateWidget', 'VesselList.Side.Summary')
        }
	}


</script>