﻿  <!-- Modal structure -->
<div id="modalAdvancedSearch" data-iziModal-fullscreen="true" data-iziModal-title="Advanced Search">
    <!-- data-iziModal-fullscreen="true"  data-iziModal-title="Welcome"  data-iziModal-subtitle="Subtitle"  data-iziModal-icon="icon-home" -->
    <!-- Modal content -->

    
        <br />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="areaDrop" class="control-label">Area</label>
                    <select class="form-control">
                        <option value="all">All</option>
                        <option value="screen">Screen</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="timeSpan" class="control-label">Time Span</label>
                    <select class="form-control">
                        <option value="24">24 Hours</option>
                        <option value="48">48 Hours</option>
                        <option value="240">10 Days</option>
                        <option value="720">30 Days</option>
                        <option value="8760">365 Days</option>
                        <option value="all">All</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="checkbox" />
                    <span>
                        Refresh Every
                        <input type="text" class="form-control" /> seconds
                    </span>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="advancedName" class="control-label">Name</label>
                    <input type="text" id="advancedName" name="advancedName" class="form-control" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="advancedMMSI" class="control-label">MMSI</label>
                    <input type="text" id="advancedMMSI" name="advancedMMSI" class="form-control" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="advancedIMO" class="control-label">IMO</label>
                    <input type="text" id="advancedIMO" name="advancedIMO" class="form-control" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="advancedCallSign" class="control-label">Call Sign</label>
                    <input type="text" id="advancedCallSign" name="advancedCallSign" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" id="btnAdvancedSearch" class="btn btn-sm btn-primary">Search</button>
            </div>
        </div>

        <br />
        <hr />

        <div class="container-fluid">
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>MMSI</th>
                        <th>IMO</th>
                        <th>Call Sign</th>
                        <th>Type</th>
                        <th>Last Seen</th>
                        <th>Nav. Status</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>SOG</th>
                        <th>COG</th>
                        <th>Destination</th>
                        <th>ETA</th>
                    </tr>
                </thead>
                <tbody id="advancedSearchResult"></tbody>
            </table>
        </div>
    </div>