﻿<div class="modal inmodal" id="alarmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-bell modal-icon"></i>
                <h4 class="modal-title">Alarm</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-12" style="margin-top:-40px;margin-bottom:5px;">
                        <i id="add-alarm-row" class="fa fa-plus fa-2x align-middle" style="color:green; cursor: pointer; margin-top: 35px; padding-left: 5px;"></i>
                        <i id="download-alarm-csv" class="fa fa-print fa-2x align-middle" style="color:darkorange; cursor: pointer; margin-top: 35px; padding-left: 5px;"></i>
                    </div>
                </div>
                <div id="alarm-table"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal" style="max-width: 100pt;">Close</button>
                <button id="save-alarm" type="button" class="btn btn-primary" style="max-width: 100pt;">Save changes</button>
            </div>
        </div>
    </div>
</div>
