﻿  <!-- Modal structure -->
<div id="modalFilter" data-iziModal-fullscreen="true" data-iziModal-title="Filter">
    <!-- data-iziModal-fullscreen="true"  data-iziModal-title="Welcome"  data-iziModal-subtitle="Subtitle"  data-iziModal-icon="icon-home" -->
    <!-- Modal content -->
    <div class="row">
        <div class="form-group col-lg-2">
            <label style="color: #696969; font-weight: 400; padding-left: 5px;" for="selectFilter">Select Filter:</label>
            <select class="form-control" id="selectFilter"></select>
        </div>
        <div class="form-group col-lg-2">
            <label style="color: #696969; font-weight: 400; padding-left: 5px;" for="filterName">Filter Name:</label>
            <input type="text" class="form-control" id="filterName" required>
        </div>
        <div class="form-group col-lg-2">
            <i id="save-filter" class="fa fa-save fa-2x align-middle" style="color: #337ab7; cursor: pointer; margin-top: 35px;"></i>
            <i id="delete-filter" class="fa fa-trash fa-2x align-middle" style="color:red; cursor: pointer; margin-top: 35px; padding-left: 5px;"></i>
            <i id="add-row" class="fa fa-plus fa-2x align-middle" style="color:green; cursor: pointer; margin-top: 35px; padding-left: 5px;"></i>
            <i id="download-csv" class="fa fa-print fa-2x align-middle" style="color:darkorange; cursor: pointer; margin-top: 35px; padding-left: 5px; display: none;"></i>
        </div>
    </div>

    <div id="filter-table"></div>
</div>