﻿<div id="sidebar" class="sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
        <ul role="tablist">
            <li><a href="#maps" role="tab"><i class="fa fa-globe text"></i></a></li>
            <li><a href="#tools" role="tab"><i class="fa fa-gear"></i></a></li>
            <li><a href="#designers" role="tab"><i class="fa fa-paint-brush"></i></a></li>
            <li><a href="#reports" role="tab"><i class="fa fa-line-chart"></i></a></li>
            <li style="cursor: pointer; color: white;"><a data-izimodal-open="#modalFilter" data-izimodal-transitionin="fadeInDown"><i class="fa fa-filter"></i></a></li>
            <li style="cursor: pointer; color: white;">
                <a role="tab" title="Route" onclick="javascript:toggleRoute();"><i class="fa fa-road"></i></a>
            </li>
            <li style="cursor: pointer; color: white;"><a data-toggle="modal" data-target="#myModal" id="locationModal"><i class="fa fa-map-marker"></i></a></li>
            <li style="cursor: pointer; color: white;"><a data-toggle="modal" data-target="#alarmModal" id="alarmModalId"><i class="fa fa-bell"></i></a></li>
            <li style="cursor: pointer; color: white;"><a data-toggle="modal" data-target="#zoneModal" id="zoneModalId"><i class="fa fa-object-ungroup"></i></a></li>
        </ul>
            

        <ul role="tablist">
            <li><a href="/Account/Logout" role="tab"><i class="fa fa-sign-out"></i></a></li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="sidebar-content">
        <div class="sidebar-pane" id="maps">
            <h1 class="sidebar-header">Maps<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            <div class="middle-top">
                <div class="middle">
                    <h3>Map Provider</h3>
                    <label>
                        <input type="radio" name="radio" checked />
                        <div class="bing box">
                            <span>Bing</span>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="radio" />
                        <div class="open-street box">
                            <span>Open Street</span>
                        </div>
                    </label>
                </div>


                <div class="middle2">
                    <h3>Map Type</h3>
                    <label>
                        <input type="radio" name="radio2" checked />
                        <div class="map box2">
                            <span>Map</span>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="radio2" />
                        <div class="satellite box2">
                            <span>Satellite</span>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="radio2" />
                        <div class="hybrid box2">
                            <span>Hybrid</span>
                        </div>
                    </label>
                </div>
            </div>


            <div class="middle3">
                <h3>Map Layer</h3>
                <label>
                    <input type="radio" name="radio3" checked />
                    <div class="enc-base box3">
                        <span>ENC Base</span>
                    </div>
                </label>
                <label>
                    <input type="radio" name="radio3" />
                    <div class="enc-std box3">
                        <span>ENC Std.</span>
                    </div>
                </label>
                <label>
                    <input type="radio" name="radio3" />
                    <div class="enc-all box3">
                        <span>ENC All</span>
                    </div>
                </label>
                <label>
                    <input type="radio" name="radio3" />
                    <div class="water box3">
                        <span>Water Only</span>
                    </div>
                </label>
            </div>
        </div>

        <div class="sidebar-pane" id="tools">
            <h1 class="sidebar-header">Tools & Commands<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            <div class="tabs tabs-style-fillup">
                <nav>
                    <ul>
                        <li><a href="#section-circlefill-1" class="fa fa-compass" data-toggle="tooltip" title="Tracks"></a></li>
                        <li><a href="#section-circlefill-2" class="fa fa-info" data-toggle="tooltip" title="Information Panel"></a></li>
                        <li><a href="#section-circlefill-3" class="fa fa-comments" data-toggle="tooltip" title="Information Ballon"></a></li>
                        <li><a href="#section-circlefill-4" class="fa fa-location-arrow" data-toggle="tooltip" title="Follow"></a></li>
                        <li><a href="#section-circlefill-5" class="fa fa-ship" data-toggle="tooltip" title="Target Name List"></a></li>
                    </ul>
                </nav>
                <div class="content-wrap">

                    <section id="section-circlefill-1"><p>Tracks</p></section>
                    <section id="section-circlefill-2"><p>Information Panel</p></section>
                    <section id="section-circlefill-3"><p>Information Ballon</p></section>
                    <section id="section-circlefill-4"><p>Follow</p></section>
                    <section id="section-circlefill-5">
                        <p>Target Name List</p>

                        <div style="width: 100%;">
                            <div style="width: 50%; position: absolute; float: left; left: 8px;">
                                <span style="color: white;font-size: smaller;margin-left: 20%;">Show All Target</span>
                            </div>

                            <div style="width: 50%; position: absolute; float: right; right: 9%;">
                                <span style="color: white;font-size: smaller;margin-left: 20%;">Toggle Target Name</span>
                            </div>
                        </div>

                        <div style="width: 100%; margin-top: 23px;">
                            <div style="width: 50%;">

                                <div style="position: absolute; float: right; right: 25%; margin-top: 30px;" class="toggle-radio">
                                    <input type="radio" onclick="javascript:toggleName(true);" name="rdo" id="yes" checked>
                                    <input type="radio" onclick="javascript:toggleName(false);" name="rdo" id="no">
                                    <div class="switch">
                                        <label for="yes">On</label>
                                        <label for="no">Off</label>
                                        <span></span>
                                    </div>
                                </div>
                            </div>

                            <div style="width: 50%;">

                                <div class="flex-grid-center">

                                    <div class="pure-button fuller-button blue" onclick='selectShip(this, 0);'><i style="font-size: 21px;" class="fa fa-dot-circle-o"></i></div>
                                </div>
                            </div>
                        </div>
                        <div style="overflow:auto; width: 100%; height: 100%; margin-top: 20px;">
                            <span align="left" id="listvessel"></span>
                            <span id="listvessel_total"></span>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="sidebar-pane" id="designers">
            <h1 class="sidebar-header">
                Designers
                <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            <div class="tabs tabs-style-fillup">
                <nav>
                    <ul>
                        <li><a href="#section-circlefill-1" class="fa fa-map-o" data-toggle="tooltip" title="Zone"></a></li>
                        <li><a href="#section-circlefill-2" class="fa fa-map-pin" data-toggle="tooltip" title="Location"></a></li>
                        <li><a href="#section-circlefill-3" class="fa fa-road" data-toggle="tooltip" title="Route"></a></li>
                        <li><a href="#section-circlefill-4" class="fa fa-bell-o" data-toggle="tooltip" title="Alert"></a></li>
                    </ul>
                </nav>
                <div class="content-wrap">
                    <section id="section-circlefill-1"><p>Zone</p></section>
                    <section id="section-circlefill-2"><p>Location</p></section>
                    <section id="section-circlefill-3"><p>Route</p></section>
                    <section id="section-circlefill-4"><p>Alert</p></section>
                </div>
            </div>
        </div>

        <div class="sidebar-pane" id="reports">
            <h1 class="sidebar-header">
                Reports
                <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            <div class="tabs tabs-style-fillup">
                <nav>
                    <ul>
                        <li><a href="#section-circlefill-1" class="fa fa-calendar" data-toggle="tooltip" title="Events"></a></li>
                        <li><a href="#section-circlefill-2" class="fa fa-bar-chart-o" data-toggle="tooltip" title="Reports"></a></li>
                        <li><a href="#section-circlefill-3" class="fa fa-history" data-toggle="tooltip" title="Historical Replay"></a></li>
                    </ul>
                </nav>
                <div class="content-wrap">
                    <section id="section-circlefill-1"><p>Events</p></section>
                    <section id="section-circlefill-2">
                        <p>Reports</p>
                        <br />

                        <button data-izimodal-open="#modalNewReport"
                                data-izimodal-transitionin="fadeInDown">
                            Report
                        </button>

                    </section>
                    <section id="section-circlefill-3">
                        <p>Historical Replay</p>
                        <button value="Replay" id="vesselReplay">Replay</button>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div> <!-- CLOSE SIDEBAR -->