﻿<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-map-marker modal-icon"></i>
                <h4 class="modal-title">Location</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="font-noraml">Locations</label>
                        <select id="selectLocation" class="form-control m-b selectLocation"></select>
                    </div>
                    <div class="col-lg-3" style="margin-top:17pt;">
                        <button id="apply-location" type="button" class="btn btn-warning" style="max-width: 100pt;">Apply</button>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-12" style="margin-bottom:5px;">
                        <i id="add-location-row" class="fa fa-plus fa-2x align-middle" style="color:green; cursor: pointer; margin-top: 35px; padding-left: 5px;"></i>
                    </div>
                </div>
                <div id="location-table"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal" style="max-width: 100pt;">Close</button>
                <button id="save-location" type="button" class="btn btn-primary" style="max-width: 100pt;">Save changes</button>
            </div>
        </div>
    </div>
</div>
