﻿<style>
    .label-report {
        color: #696969;
        font-weight: 400;
        padding-left: 5px;
    }
</style>
<!-- Modal structure -->
<div id="modalNewReport" data-iziModal-fullscreen="true" data-iziModal-title="Reports" data-iziModal-icon="fa fa-bar-chart-o">
   
    <!-- Modal content -->
    <div id="reportFormContainer">
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-2">
                    <label class="label-report" for="selectReportType">Report:</label>
                    <select id="selectReportType" class="form-control"></select>
                </div>
                <div class="form-group col-lg-2">
                    <label class="label-report" for="reportName">Report Name:</label>
                    <input type="text" class="form-control" id="reportName" required>
                </div>
                <div class="form-group col-lg-2">
                    <label class="label-report" for="reportEnable">Enable:</label>
                    <input type="checkbox" id="reportEnable" checked="checked">
                    <label class="label-report" for="reportType">Report Type:</label>
                    <select id="reportType" class="form-control"></select>
                </div>
                <div class="form-group col-lg-2">
                    <label class="label-report" for="reportTimeSpan">Time Span:</label>
                    <input type="text" class="form-control" id="reportTimeSpan">
                </div>
                <div class="form-group col-lg-2">
                    <label class="label-report"> </label>
                    <select id="reportTimeSpanType" class="form-control"></select>
                </div>

            </div>
            <hr />
            <div class="row">
                <div id="additionalReportItem">

                </div>
            </div>
        </div>
        <div class="form-group col-lg-1">
            <button type="button" title="Save Report"
                    id="saveNewReport" onclick="SaveReport()" class="btn btn-primary"
                    style="color: #337ab7; cursor: pointer; margin-top: 35px;">
                <i class="glyphicon glyphicon-floppy-save"></i>
            </button>
            <button type="button" title="View Report"
                    id="viewReportBtn" onclick="ViewReport()" class="btn btn-primary hide"
                    style="color: #337ab7; cursor: pointer; margin-top: 35px;">
                <i class="glyphicon glyphicon-file"></i>
            </button>
        </div>
    </div>

   
    <div id="viewReportContainer" class="hide">
        <button type="button" onclick="ViewForm()" class="btn btn-sm btn-primary">Back</button>
        <hr />
        TODO: Add loading icon & Pagination
        <h3 id="tableTitle"></h3>
        <div id="table-report-container"></div>
    </div>
</div>
