﻿<div class="modal inmodal" id="zoneModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-object-ungroup modal-icon"></i>
                <h4 class="modal-title">Zone</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="font-noraml">Select Zone</label>
                                <select id="zoneSelect" class="form-control m-b zoneSelect" name="account"></select>
                            </div>
                            <div class="col-lg-4">
                                <label class="font-noraml">Zone Name</label>
                                <div class=""><input autocomplete="off" id="typeName" type="text" class="form-control"></div>
                            </div>
                            <div class="col-lg-2" style="margin-top:20pt;">
                                <input type="checkbox" name="isenable" id="isenable" checked>
                                <label style="font-size:small;" for="isenable">Is Enable</label>
                            </div>
                        </div> 

                        <div class="row">
                            <div class="col-lg-4">
                                <label class="font-noraml">Zone Type</label>
                                <select id="zoneType" class="form-control m-b" name="account">
                                    <option value="0">Circle</option>
                                    <option value="1">Polygon</option>
                                    <option value="2">Line L</option>
                                    <option value="3">Line R</option>
                                </select>
                            </div>
                        </div>

                        <div class="row inputRadius">
                            <div class="col-lg-4">
                                <label class="font-noraml">Radius</label>
                                <div class=""><input autocomplete="off" id="radiusValue" type="text" class="form-control"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <label class="font-noraml">Color</label>
                                <input spellcheck="false" autocomplete="off" type="text" id="colorPickerZone" class="form-control colorZone" color="white" />
                                <input type="checkbox" name="isfill" id="isfill">
                                <label style="font-size:small;" for="isfill">Is Fill</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <i id="add-zone-row" class="fa fa-plus fa-2x align-middle" style="color:green; cursor: pointer; margin-top: 15px; padding-left: 5px;"></i>
                                <div id="zone-table"></div>
                            </div>  
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal" style="max-width: 100pt;">Close</button>
                            <button id="delete-zone" type="button" class="btn btn-danger" data-dismiss="modal" style="max-width: 100pt;">Delete</button>
                            <button id="save-zone" type="button" class="btn btn-primary" style="max-width: 100pt;">Save changes</button>
                        </div>
                    </div>
            </div>
        </div>
      </div>
 </div>
