<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.location'}">Location</router-link></li>
        		<li class="active">Create Location</li>
        	</ul>
        	<div class="content">
        		<p>1.Click the Location button <img class="small-icon" :src="require('../../../../../images/help-topic/location-icon.png')"> in the side menu and click Add button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> to open the Location Designer window. </p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="locationImg1"></p>

        		<p>2.Type Name of Location in the Name field.</p>
        		<p>3.Click the Use Designer to add Latitude and Longitude field.</p>
        		<p>4.Fill the Zoom Level field.</p>
        		<p>5.Click the Save Changes button to save location.  </p>

        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="locationImg2"></p>

        	</div>
        	
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example Create Location"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import locationImg1 from '../../../../../images/help-topic/location-1.png'
	import locationImg2 from '../../../../../images/help-topic/location-2.png'
	
	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class LocationHelper extends Vue{

		showModal = false
		modalImg = ''
		locationImg1 = locationImg1
		locationImg2 = locationImg2

		showVesselImage(img){
			const images = {
				img1 : locationImg1,
				img2 : locationImg2,
			}
			this.modalImg = images[img]
			this.showModal = true

		}
	}
</script>