<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.location'}">Location</router-link></li>
        		<li class="active">Edit Location</li>
        	</ul>
        	<div class="content">
        		<p>Click the Edit button<button class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></button> in the toolbar to open the Location Designer in a new dialog box. Click Update button to update existing location.</p>

        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="locationEditImg1"></p>
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="locationEditImg2"></p>
        	</div>
        	
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example Edit Location"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import locationEditImg1 from '../../../../../images/help-topic/locationEdit-1.png'
	import locationEditImg2 from '../../../../../images/help-topic/locationEdit-2.png'	

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class LocationHelper extends Vue{

		showModal = false
		modalImg = ''
		locationEditImg1 = locationEditImg1
		locationEditImg2 = locationEditImg2

		showVesselImage(img){
			const images = {
				img1 : locationEditImg1,
				img2 : locationEditImg2,
			}
			this.modalImg = images[img]
			this.showModal = true

		}
		
	}
</script>