<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.vessel'}">Vessel</router-link></li>
        		<li class="active">Follow Selected Vessel</li>
        	</ul>
        	<div class="content">
	        	<p>You can always use MDM to automatically keep a specific ship in the center of the map view. Click the desired ship (it will turn red when selected), then click the <b>Follow Selected Vessel</b> button <img class="small-icon" :src="require('../../../../../images/help-topic/follow-vessel-icon.png')"> in the toolbar. </p>
	        	<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="followVessel"></p>
	        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
    	</div>
    	<modal
			title="Follow Selected Vessel"				
			v-if="showModal"	
			class="modalImages"
			@modalClosed="showModal = false"
		>
			<template slot="body">

				<div class="mdl-content">
					<img class="modalImg" :src="modalImg" />
				</div>

			</template>
			
		</modal>
	</div>

</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import followVessel from '../../../../../images/help-topic/follow-vessel.png'

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')
		}
	})
	export default class FollowSelectedVesselHelper extends Vue{

		showModal = false
		modalImg = ''
		followVessel = followVessel

		showVesselImage(img){
			const images = {
				img1 : followVessel,
			}
			this.modalImg = images[img]
			this.showModal = true

		}
		
	}
</script>