<style scoped src="../mini-helper-panel.scss"></style>

<template>
	<div>
    	<ul class="breadcrumb">
    		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
    		<li><router-link :to="{name:'knowledgebase.right.vessel'}">Vessel</router-link></li>
    		<li class="active">Show Only Selected Vessel</li>
    	</ul>
        <div class="content">
        	<p>To show a selected ship only, click on the desired ship, then click the <b>Show Only Selected Vessel</b> button <img class="small-icon" :src="require('../../../../../images/help-topic/only-selected-vessel.png')"> in the toolbar. MDM will automatically eliminate all other ships from the map view. </p>
        	<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="selectedVessel"></p>
        	    	</div>
		<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
		</div>
		<modal
			title="Show Only Selected Vessel"				
			v-if="showModal"	
			class="modalImages"
			@modalClosed="showModal = false"
		>
			<template slot="body">

				<div class="mdl-content">
					<img class="modalImg" :src="modalImg" />
				</div>

			</template>
			
		</modal>
	</div>	
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import selectedVessel from '../../../../../images/help-topic/show-only-selected.png'

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class ShowOnlySelectedVesselHelper extends Vue{

		showModal = false
		modalImg = ''
		selectedVessel = selectedVessel

		showVesselImage(img){
			const images = {
				img1 : selectedVessel,
			}
			this.modalImg = images[img]
			this.showModal = true

		}
	}
</script>