<style scoped src="../mini-helper-panel.scss"></style>

<template>
	<div>
		<ul class="breadcrumb">
    		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
    		<li><router-link :to="{name:'knowledgebase.right.vessel'}">Vessel</router-link></li>
    		<li class="active">Show Only Selected Vessel</li>
    	</ul>
    	<div class="content">
	    	<p>To view ship information, click the <b>Show Information Balloon</b> button <img class="small-icon" :src="require('../../../../../images/help-topic/balloon-icon.png')"> in the toolbar. Hover mouse to a specific ship, and a balloon will appear over the ship in the map view showing its data. You can deactivate the information balloons at any time by deselecting the <b>Show Information Balloon</b> button <img class="small-icon" :src="require('../../../../../images/help-topic/balloon-icon.png')"> in the toolbar. </p>

	    	<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="infoBalloon1"></p>
			<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="infoBalloon2"></p>
	
    	</div>
		<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
		</div>
		<modal
				title="Show Only Selected Vessel"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
	</div>  		
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import infoBalloon1 from '../../../../../images/help-topic/information-balloon.png'
	import infoBalloon2 from '../../../../../images/help-topic/information-balloon-2.png'	

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class ShowInformationBalloonHelper extends Vue{

		showModal = false
		modalImg = ''
		infoBalloon1 = infoBalloon1
		infoBalloon2 = infoBalloon2

		showVesselImage(img){
			const images = {
				img1 : infoBalloon1,
				img2 : infoBalloon2
			}
			this.modalImg = images[img]
			this.showModal = true

		}
		
	}
</script>