<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<ul class="breadcrumb">
    		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
    		<li><router-link :to="{name:'knowledgebase.right.vessel'}">Vessel</router-link></li>
    		<li class="active">Show Vessel Track</li>
    	</ul>
	    	<div class="content">
	        	<p>Click the <b>Show Tracks</b> button <img class="small-icon" :src="require('../../../../../images/help-topic/icon-vessel-track.png')">  in the toolbar to display ship tracks on the map view. </p>
	        	<img @click.prevent="showVesselImage('img1')" class="myImg" :src="vesselTrack">
			</div>
			<div class="" role="group" aria-label="...">							
					<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Show Only Selected Vessel"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import vesselTrack from '../../../../../images/help-topic/VesselTrack.png'	

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class ShowVesselTrackHelper extends Vue{

		showModal = false
		modalImg = ''
		vesselTrack = vesselTrack

		showVesselImage(img){
			const images = {
				img1 : vesselTrack,
			}
			this.modalImg = images[img]
			this.showModal = true

		}
	
	}
</script>