<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<ul class="breadcrumb">
    		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
    		<li><router-link :to="{name:'knowledgebase.right.vessel'}">Vessel</router-link></li>
    		<li class="active">Show Vessel Name</li>
    	</ul>
    	<div class="content">
    		
    		<p>Click Vessel List Icon at Sidebar Menu on the left. To display ship names, click the <b>Show Vessel Names</b> button <img class="small-icon" :src="require('../../../../../images/help-topic/T.png')"> in the toolbar. The ship names will appear on the map view. </p>
    		<p>In this step, you will see vessel icon and other icon on the sidebar menu. 
    		You need to click on vessel icon to make vessel list summary to appear</p>
    			<img @click.prevent="showVesselImage('img1')" class="myImg" :src="ShowVesselName1">
    		<p>Note: Ship names will appear if there is enough free space to draw the names. MDM calculates this automatically. </p>
    		<p>If MDM has not received AIS message #5 (Ship static and voyage related data) from a certain ship, it will display an MMSI number instead of a name. </p>
    			<img @click.prevent="showVesselImage('img2')" class="myImg" :src="ShowVesselName2">
    	</div>
    	
    	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
		</div>
		<modal
			title="Show Vessel Name"				
			v-if="showModal"	
			class="modalImages"
			@modalClosed="showModal = false"
		>
			<template slot="body">

				<div class="mdl-content">
					<img class="modalImg" :src="modalImg" />
				</div>

			</template>
			
		</modal>
	</div>
</template>
<script>


</script>
<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import ShowVesselName1 from '../../../../../images/help-topic/showVesselName1.png'
	import ShowVesselName2 from '../../../../../images/help-topic/showVesselName2.png'
	
	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')	
		}
	})
	export default class ShowVesselNameHelper extends Vue{

		showModal = false
		modalImg = ''
		ShowVesselName1 = ShowVesselName1
		ShowVesselName2 = ShowVesselName2

		showVesselImage(img){
			const images = {
				img1 : ShowVesselName1,
				img2 : ShowVesselName2
			}
			this.modalImg = images[img]
			this.showModal = true

		}
		
	}
</script>