<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<ul class="breadcrumb">
    		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
    		<li><router-link :to="{name:'knowledgebase.right.vessel'}">Vessel</router-link></li>
    		<li class="active">Vessel List</li>
    	</ul>
    	<div class="content">
    		<p>Click Vessel List Icon at Sidebar Menu on the left. </p>
    		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="VesselList1"></p>
			<p>You need to click on vessel icon to make vessel list summary to appear. This will show the names of all ships currently visible in your browser window.</p>
			<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="VesselList2"></p>
    	</div>
    	<div class="" role="group" aria-label="...">							
			<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
		</div>

		<modal
			title="Vessel List"				
			v-if="showModal"	
			class="modalImages"
			@modalClosed="showModal = false"
		>
			<template slot="body">

				<div class="mdl-content">
					<img class="modalImg" :src="modalImg" />
				</div>

			</template>
			
		</modal>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import VesselList1 from '../../../../../images/help-topic/vessel-list1.png' 
	import VesselList2 from '../../../../../images/help-topic/vessel-list2.png'
	
	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal'),
		}
	})
	export default class VesselListHelper extends Vue{
		
		showModal = false
		modalImg = ''
		VesselList1 = VesselList1
		VesselList2 = VesselList2

		showVesselImage(img){
			const images = {
				img1 : VesselList1,
				img2 : VesselList2
			}
			this.modalImg = images[img]
			this.showModal = true

		}
	}
</script>