<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
	<div>
    	<ul class="breadcrumb">
    		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
    		<li class="active">Vessel</li>
    	</ul>
    	<router-link tag="li" :to="{name:'knowledgebase.right.vesselList'}">1. Vessel List<i class="fa fa-arrow-right pull-right"></i></router-link>
    	<router-link tag="li" :to="{name:'knowledgebase.right.showVesselNames'}">2. Show Vessel Names<i class="fa fa-arrow-right pull-right"></i></router-link>
    	<router-link tag="li" :to="{name:'knowledgebase.right.showVesselTracks'}">3. Show Vessel Tracks<i class="fa fa-arrow-right pull-right"></i></router-link>
    	<router-link tag="li" :to="{name:'knowledgebase.right.showInformationBalloon'}">4. Show Information Balloon<i class="fa fa-arrow-right pull-right"></i></router-link>
    	<router-link tag="li" :to="{name:'knowledgebase.right.followSelectedVessel'}">5. Follow Selected Vessel<i class="fa fa-arrow-right pull-right"></i></router-link>
    	<router-link tag="li" :to="{name:'knowledgebase.right.showOnlySelectedVessel'}">6. Show Only Selected Vessel<i class="fa fa-arrow-right pull-right"></i></router-link>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper')			
		}
	})
	export default class VesselListHelper extends Vue{

	}
</script>