<div>
	<float-wrapper 
		v-if="balloonInfoEnabled && dot"		
		:top="dot.y + 19" 
		:left="dot.x"
		:override="true"
	>
		<template slot="content">			
			
			<!-- vesselName -->
			<div>
				<ul class="flagid">
					<li v-if="baseInfo.messageId == 9"><span class="flag-icon flag-icon-my"></span>&nbsp
						<span><b> {{baseInfo.vesselName}}</b></span>
					</li>
					<li v-else-if="formatFlag(baseInfo.mmsi) == 'undefined'"> <img width="22px" src="~/mdm-flag-icon-css/flags/4x3/undefined.svg"></span>&nbsp<span><b> {{baseInfo.vesselName}}</b></span>
					</li>
					<li v-else><span :class="'flag-icon flag-icon-' + formatFlag(baseInfo.mmsi)"></span>&nbsp
						<span><b> {{baseInfo.vesselName}}</b></span>
					</li>
				</ul>
			</div>
			
			<!-- mmsi -->
			<div>
				<span>MMSI{{ baseInfo.imo > 0 ? '/IMO' : '' }}: </span>
				<span>{{formatMmsi(baseInfo.mmsi)}}{{ baseInfo.imo > 0 ? ` / ${baseInfo.imo}` : '' }}</span>
			</div>			
			
			<!-- Ship Type -->
			<div v-if="baseInfo && baseInfo.shipType_ToString">
				<span>Type: </span><span>{{ baseInfo.shipType_ToString }}</span>
			</div>

			<!-- Nav.Stat -->
			<div v-if="baseInfo && baseInfo.navigationalStatusToString">
				<span>Nav.Stat.: </span><span>{{ baseInfo.navigationalStatusToString }}</span>
			</div>

			<!-- Lat lang -->
			<div><span>Lat./Lng.: </span><span>{{ formatCoords(baseInfo.lat, baseInfo.lgt) }}</span></div>
			
			<!-- Speed/Course -->
			<div v-if="baseInfo.sog || baseInfo.sog">
				<span>Speed/Course: </span><span>{{baseInfo.sog}}kn / {{baseInfo.cog}}&deg;</span>
			</div>

			<!-- len./Beam/Drght -->
			<div v-if="baseInfo && (baseInfo.lengthXbeam || baseInfo.maxDraught)">
				<span>Len./Beam/Drght: </span>
				<span>{{ formatLenBeam(baseInfo.lengthXbeam) }} / {{baseInfo.maxDraught}}</span>
			</div>		

			<!-- Dest -->
			<div v-if="baseInfo.destination">
				<span>Dest.: </span>
				<span>{{ baseInfo.destination }}</span>
			</div>

			<!-- ETA -->
			<div v-if="baseInfo && baseInfo.eta">
				<span>ETA: </span>
				<span>{{ formatTime(baseInfo.eta) }}</span>
			</div>

			<!-- Times -->
			<div v-if="baseInfo && baseInfo.utcReceivedTime">
				<span>UTC: </span><span>{{ formatTime(baseInfo.utcReceivedTime) }}</span>				
			</div>
			<div v-if="baseInfo && baseInfo.receivedTime">
				<span>Local: </span><span>{{ formatTime(baseInfo.receivedTime) }}</span>	
			</div>
			<div v-if="baseInfo">
				<span>Received: </span><span>{{ getDuration(baseInfo.receivedTime) }}</span>
			</div>


		</template>
	</float-wrapper>
</div>