.widget-wrapper.override {
    padding: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.19);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.19);
	    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.widget-wrapper.override:before{
	content: "";
    position: absolute;
    bottom: 100%;
    left: 7%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.flagid{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    