.vessel-toolbar{
    display: block;
}
.vessel-toolbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
    width: 100%;
}
.vessel-toolbar ul li{
    width: 17%;
    text-align: center;
    margin-left:4px;
}

.vessel-toolbar ul li a {
    position: relative;
    width: 100%;
    display: block;
    padding: 4px 2px;
    border-radius: 4px;
    border: 2px solid transparent;
    margin: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.vessel-toolbar ul li a:hover{
    background-color: rgba(29, 38, 62,.5);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.vessel-toolbar ul li a.active{
	background-color: #1d263e;
    border: 2px solid #3a65bf;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;

}

.vessel-toolbar ul li a .tooltiptextfrst {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 113%;
    margin-left: -60px;
    font-size: 12px;
    opacity: 0;
  transition: all .3s ease-in-out; 
}



.vessel-toolbar ul li a:hover .tooltiptextfrst {
    visibility: visible;
    opacity: 1;
  transition: all .3s ease-in-out; 
}

.vessel-toolbar ul li a .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 12px;
    opacity: 0;
  transition: all .3s ease-in-out; 
}



.vessel-toolbar ul li a:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  transition: all .3s ease-in-out; 
}

.vessel-toolbar ul li a .tooltiptextlst {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: -80%;
    margin-left: -60px;
    font-size: 12px;
    opacity: 0;
  transition: all .3s ease-in-out; 
}



.vessel-toolbar ul li a:hover .tooltiptextlst {
    visibility: visible;
    opacity: 1;
  transition: all .3s ease-in-out; 
}