<div class="vessel-toolbar" data-component="VesselListToolbar">
	<ul>
		<li>
			<a title="" href="#" @click.prevent="showName" :class="{'active':vesselNameEnabled}">
				<img src="../../../../../../images/vessel-toolbar-icon/show-name.svg">

				<span class="tooltiptextfrst">Show Vessel Names</span>
			</a>

		</li>
		<!-- <li v-if="processEnv != 'production'"> -->
		<li>
			<a title="" href="#" @click.prevent="showTrack" :class="{'active':vesselTrackEnabled}">
				<img src="../../../../../../images/vessel-toolbar-icon/show-track.svg">
				<span class="tooltiptext">Show Tracks</span>
			</a>
		</li>		
		<!-- <li><img src="../../../../../../images/vessel-toolbar-icon/show-info.svg"></li> -->
		<li>
			<a title="" href="#" @click.prevent="showBalloon" :class="{'active':balloonInfoEnabled}">
				<img src="../../../../../../images/vessel-toolbar-icon/show-info-ballon.svg">
				<span class="tooltiptext">Show Information Balloon</span>
			</a>
		</li>
		<li>
			<a title="" href="#" @click.prevent="pinVessel" :class="{'active':vesselPinEnabled}">
				<img src="../../../../../../images/vessel-toolbar-icon/follow-selected.svg">
				<span class="tooltiptext">Follow Selected Vessel</span>
			</a>
		</li>
		
		<li>
			<a title="" href="#" @click.prevent="showOnlySelected" :class="{'active':vesselSelectedEnabled}">
				<img src="../../../../../../images/vessel-toolbar-icon/show-only-selected.svg">
				<span class="tooltiptextlst">Show Only Selected Vessel</span>
			</a>
		</li>
	</ul>
</div>
