<div>
	<float-wrapper 
		v-if="vessels.length && zoom >= 10"
		v-for="v in vessels"
		:key="v.vesselId"
		:top="v.y" 
		:left="v.x"
	>
		<template slot="content">
			<span class="flag-icon flag-icon-my"></span>
			<span>{{ v.vesselName }}</span>
		</template>
	</float-wrapper>
</div>