<div>
	<div class="row">

		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label for="name" class="col-lg-2 control-label">Route Name</label>
					<div class="col-lg-10 ">
						<input 
							type="text" 
							class="form-control"
							:class="{'error-input':errors.has('formroute.name')}" 
							id="name" 
							name="name" 
							v-model="formData_name" 
							placeholder="Name of route" 
							v-validate="`required`"										
							data-vv-validate-on="blur"
							@focus="errors.remove('name', 'formroute')"
						/>
						
						<span 
							v-if="errors.has('formroute.name')"
							class="help-block text-danger">{{ errors.first('formroute.name') }}
						</span>	
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label for="isEnable" class="col-lg-2 control-label">Enable</label>
					<div class="col-lg-4">
						<toggle-button v-model="formData_isEnable" color="#116fff" />	
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label for="color" class="col-lg-2 control-label">Color</label>

					<div class="col-lg-3">
						<input 
							type="color" 
							id="colour" 
							name="colour" 
							v-model="formData_colour"
							:class="{'error-input':errors.has('formroute.colour')}"
							v-validate="`required`"
							data-vv-validate-on="blur"
							@focus="errors.remove('colour', 'formroute')"  					
						/>				
						<span 
							v-if="errors.has('formroute.colour')"
							class="help-block text-danger">{{ errors.first('formroute.colour') }}
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label for="waypoints" class="col-lg-2 control-label">Waypoints</label>

					<div class="col-lg-4">
						<button class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.custom-route.tools.designer'})">Use Designer</button>
					</div>
				</div>
			</div>
		</div>


	</div>

	<!-- Waypoints title -->
	
	<!-- waypoints table -->
	<div class="row" v-if="formData.waypoints.length">
		<div class="col-lg-12">
		<table class="table table-bordered table-responsive">
			<thead>
				<tr>
					<th>Show</th>
					<th>Name</th>
					<th>Latitude</th>
					<th>Longitude</th>
					<th>XTE Left</th>
					<th>XTE Right</th>
					<th>Min. Sp.</th>	
					<th>Max. Sp.</th>	
					<th>Avg. Sp.</th>
					<th></th>	
				</tr>				
			</thead>

			<tbody>				
				<tr v-for="(wp, index) in formData.waypoints" :key="wp.id">
					<!-- isShown -->
					<td class="waypoint_show_toggle">
						<toggle-button 
							color="#116fff" 
							:value="wp.isShown"
							@input="setWaypointData({id:wp.id, key:'isShown', value:$event })"							
						/>
					</td>
					<!-- name -->
					<td>
						<input 
							type="text" 
							:name="`waypoint-name-${wp.id}`"							
							:value="wp.name" 
							@input="setWaypointData({id:wp.id, key:'name', value:$event.target.value })"
							class="form-control"
							:class="{'error-input':errors.has(`formroute.waypoint-name-${wp.id}`)}" 
							v-validate.immediate="`required`"
							data-vv-as="Name"
						> 
					</td>
					<!-- latitude -->
					<td>
						<input 
							type="number" 
							:value="wp.latitude"
							:name="`waypoint-latitude-${wp.id}`" 
							@input="setWaypointData({id:wp.id, key:'latitude', value:$event.target.value })"
							class="form-control" 
							:class="{'error-input':errors.has(`formroute.waypoint-latitude-${wp.id}`)}" 
							v-validate.immediate="`required|decimal`" 
							data-vv-as="Latitude"
						>
					</td>
					<!-- longitude -->
					<td>
						<input 
							type="number" 
							:value="wp.longitude"
							:name="`waypoint-longitude-${wp.id}`"  
							@input="setWaypointData({id:wp.id, key:'longitude', value:$event.target.value })"
							:class="{'error-input':errors.has(`formroute.waypoint-longitude-${wp.id}`)}" 
							class="form-control" 
							v-validate.immediate="`required|decimal`" 
							data-vv-as="Longitude"
						>
					</td>
					<!-- xteLeft -->
					<td>
						<input 
							type="number" 
							:value="wp.xteLeft"
							:name="`waypoint-xteleft-${wp.id}`"   
							@input="setWaypointData({id:wp.id, key:'xteLeft', value:$event.target.value })"
							class="form-control" 
							:class="{'error-input':errors.has(`formroute.waypoint-xteleft-${wp.id}`)}"
							v-validate.immediate="`required|decimal`"
							data-vv-as="Xte Left"  
						>
					</td>
					<!-- xteRight -->
					<td>
						<input 
							type="number" 
							:value="wp.xteRight" 
							:name="`waypoint-xteright-${wp.id}`"
							@input="setWaypointData({id:wp.id, key:'xteRight', value:$event.target.value })"
							class="form-control"
							:class="{'error-input':errors.has(`formroute.waypoint-xteright-${wp.id}`)}"
							v-validate.immediate="`required|decimal`" 
							data-vv-as="Xte Right"  
						>
					</td>
					<!-- minSpeed -->
					<td>
						<input 
							type="number" 
							:value="wp.minSpeed" 
							:name="`waypoint-minspeed-${wp.id}`"
							@input="setWaypointData({id:wp.id, key:'minSpeed', value:$event.target.value })"
							class="form-control"
							:class="{'error-input':errors.has(`formroute.waypoint-minspeed-${wp.id}`)}"
							v-validate.immediate="`required|decimal`"
							data-vv-as="Minimum Speed"
						>
					</td>
					<!-- maxSpeed -->
					<td>
						<input 
							type="number" 
							:value="wp.maxSpeed" 
							:name="`waypoint-maxspeed-${wp.id}`"
							@input="setWaypointData({id:wp.id, key:'maxSpeed', value:$event.target.value })"
							class="form-control" 
							:class="{'error-input':errors.has(`formroute.waypoint-maxspeed-${wp.id}`)}"
							v-validate.immediate="`required|decimal`"
							data-vv-as="Maximum Speed"
						>
					</td>
					<!-- averageSpeed -->
					<td>
						<input 
							type="number" 
							:value="wp.averageSpeed"
							:name="`waypoint-avgspeed-${wp.id}`" 
							@input="setWaypointData({id:wp.id, key:'averageSpeed', value:$event.target.value })"
							class="form-control"
							:class="{'error-input':errors.has(`formroute.waypoint-avgspeed-${wp.id}`)}"
							v-validate.immediate="`required|decimal`"
							data-vv-as="Average Speed" 
						>
					</td>
					<td class="remove_waypoint">
						
						<div 
							class="btn-group" 
							role="group" 
							aria-label="..." 
							v-if="formData.waypoints.length > 1"
						>											
							<button type="button" class="btn btn-danger" @click.prevent="removeWaypoint(wp.id)">
								<font-awesome-icon 
									:icon="['fas', 'trash-alt']" 
									size="lg" 
									:style="{ color: '#fff' }"
								/>
							</button>
						</div>

						<div v-else class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn btn-danger" disabled>
								<font-awesome-icon :icon="['fas', 'trash-alt']" size="lg" />
							</button>
						</div>	
					</td>
				</tr>

				<!-- add new waypoint -->
				<tr>
					<td colspan="10" class="add-waypoint">
						<div @click="addNewWaypoint">
							<span><font-awesome-icon :icon="['fas', 'plus-circle']" size="lg" /></span> 
							<span>Add New Waypoint</span>	
						</div>										
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>

</div> <!-- end form body -->