<main-wrapper :scroller="true">
<!-- <main-wrapper :scroller="true" > -->

	<template slot="header">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="title clearfix">
						Route ETA
						
						<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

						<font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
				</h1>
			</div>	
		</div>		
	</template>

	<template slot="scroll-content">
		<div data-component="CustomRouteEta">
			<!-- <h1 class="title">Route ETA<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1> -->
		
			<div class="row">				
				<!-- Top -->

				<div class="col-md-6">
					<form>
						<div class="form-group">
	                        <label for="routeOptions">Route:</label>
	                        <select2 
								v-if="routeOptions.length"
								:value="routeOptions[0].id"
								:fullWidth="false"
	                            width="100%"									
	                            @input="getRoutesEta($event)"                                    
	                            :options="routeOptions"
	                            >
			                </select2>
	                    </div> 	
					</form>					
				</div>

				<div class="col-sm-12">					
					<form class="form-inline">						
						<div class="form-group">
							<toggle-button v-model="isPassenger" color="#116fff" />
							<label for="RefreshRate">Passenger Vessel</label>
                        </div>
                        <div class="form-group">
                            <toggle-button @change="setTime" v-model="refreshEnabled" color="#116fff" />
                            <label for="RefreshRate">Refresh Every</label>
                            <input type="number" v-model="refreshRate" class="form-control" id="refreshRate" placeholder="" required />
                            <label for="refreshRate">Min</label>
                        </div>
					</form>
				</div> 
			</div> <!-- row -->
			
			<hr />

			<local-data-table
                :fields="tableFields"
                :sortField="sortFieldByType"
                :data="tableData"
                :borderedTable="true"
                :pointerCell="true"
                @search="search"
                @updateField="updateField"
                :actions="[]"
            >                    
            </local-data-table> 
		
		</div>
	</template>
</main-wrapper>
<!-- </main-wrapper> -->