.vc-sketch {    
    z-index: 1;
}

.color-container{
	padding:5px;
	border: 1px solid black;
}

.row{
}

table {
	display: block;
}

table thead th {
	padding: 5px;
	background-color: rgb(245,245,246);
	text-align: center;	
}

table .waypoint_show_toggle,
table .remove_waypoint{
	vertical-align: middle;
}

table td.add-waypoint {
	color: #116fff;
	background-color: rgb(245,245,246);
}

table td.add-waypoint>div {
	cursor: pointer;
}

input[type="color"] {
	width: 100%;
	height: 40px;
	background: #fff;
	border: 1px solid #dde2ec;
	border-radius: 4px;
	cursor: pointer;
}
