<side-wrapper :scroller="true" data-component="CustomRouteSummary">
	<template slot="scroll-content">

		<!-- Content -->
		<div class="toolbar">
			<span class="btn-group pull-right">
				<button title="Route ETA" v-if="AuthorizationMixin_isGranted('RouteETA.View')" @click.prevent="$router.push({name:'map.custom-route.main.eta'})"  class="btn custom-btn-grp action-btn">
					<img :src="require('../../../../../images/sidebar-icon/eta-icon.svg')" width="17px">
				</button>
				<button title="Add New Route"v-if="AuthorizationMixin_isGranted('Route.Create')" @click.prevent="$router.push({name:'map.custom-route.main.create'})" 
					type="button" class="btn custom-btn-grp btn-primary" >Add
				</button>
			</span>
			<span class="toolbar-header">
				<a title="" href="#" @click.prevent="toggleRouteName" :class="{'active':routeNameEnabled}">
					<img src="../../../../../images/vessel-toolbar-icon/show-name.svg">

					<span class="tooltiptextfrst">{{title}}</span>
				</a>
			</span>
		</div>
		<div class="header">
			<span class="title">Route</span>
		</div>

		<ul class="mdm-summary-list" v-if="!routesReady">
			<li class="no-item">Loading list...</li>
		</ul>	

		<ul class="mdm-summary-list" v-else-if="routesReady && routes.length">
			<li v-for="route in routes">
				<span 
					class="mdm-summary-name-list" 
					:class="{'text-muted': !route.isEnable}" 
					@click.prevent="focus(route)"
				>
					{{ route.name }}
				</span>
				<span class="mdm-summary-action-btn">
					<div class="btn-group pull-right" role="group" aria-label="...">							
						<button v-if="AuthorizationMixin_isGranted('Route.Update')" type="button" class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.custom-route.main.edit', params:{id:route.id}})">
							<font-awesome-icon :icon="['fas', 'pencil-alt']" size="sm" />
						</button>						
						<delete-confirm
							:item="route"
							type="route"
							@confirm="deleteRoute"
							v-if="AuthorizationMixin_isGranted('Route.Delete')"
						>
							<template slot="content">
								<button type="button" class="btn btn-danger btn-sm">
									<font-awesome-icon :icon="['fas', 'trash-alt']" size="sm" />
								</button>
							</template>								
						</delete-confirm>
					</div>	
				</span>
			</li>
		</ul>

		<ul class="mdm-summary-list" v-else-if="routesReady && !routes.length">
			<li class="no-item">No route found</li>
		</ul>

	</template>
</side-wrapper>