<template>
	<div>
		<linear-gauge :value="val" :options="option"></linear-gauge>
	</div>
</template>
<style scoped>
	.form-control {
		width: 65px;
		display: inline-block;
	}
</style>
<script>
	
	/*
	Script start
	 */
	
	import { Component, Prop } from 'vue-property-decorator'
	import Vue from 'vue'
	import LinearGauge from 'vue2-canvas-gauges/src/LinearGauge'

	/*
	Class start
	 */
	@Component({
		components: {			
			LinearGauge
		}
	})
	export default class WaterLevelGauge extends Vue {

		@Prop() val
		// @Prop() options

		option = {
			units: 'm',
			minValue: -10,
			maxValue: 30,
			width: 100,
			height: 200,
			strokeTicks: true,
			colorBar: 'black',
			colorBarProgress: 'red',
			minorTicks: 5,
			majorTicks: [
				'-10',
				'-5',
				'0',
				'5',
				'10',
				'15',
				'20',
				'25',
				'30'
				],
			colorPlate: '#fff',
			borderShadowWidth: 0,
			borders: false,
			needleType: 'arrow',
			needleShadow: true,
			needleWidth: 0,
			needleCircleSize: 7,
			needleCircleOuter: true,
			needleCircleInner: false,
			numberSide: 'left',
			needleSide: 'left',
			animationDuration: 1500,
			animationRule: 'bounce',
			barWidth: 15,
			valueBox: true,
			valueBoxStroke: 5,
			valueTextShadow: true,
			valueDec: 1,
			barBeginCircle: 0,
			fontNumbersSize: 28,
			fontUnitsSize: 30,
			fontValueSize: 30,
			valueBox: false
		  }


		beforeDestroy(){
			// this.clearFormData()
		}
	}


</script>