<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->

<style scoped>
    .map-container {
      position: relative;
      height: calc(100vh - 52px);
    }

    /deep/ .leaflet-left .leaflet-control-scale {
        margin-left: 90px;
    }

    /deep/  .leaflet-bottom .leaflet-control-scale {
        margin-bottom: 30px;
    }
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>

  <div class="map-container">

    <app-notification :absolutetop="true"></app-notification>
    <alarm-notification :absolutetop="true"></alarm-notification>

    <!-- Main Map     -->
    <l-map ref="map" style="height: (100vh - 52px)" :zoom="zoom" :center="center">
        
        <l-tile-layer v-if="mapType == 'osm'" :url="url" :attribution="attribution"></l-tile-layer>
        
        <wms-layers></wms-layers>

        <v-canvas-layer
            :locations="locations"
            @l-drawing="drawing"
            @l-mousemove="hover"
            @l-click="click"
            @l-mounted="canvasMounted"
            @l-move = "toggleMapMove(true)"
            @l-moveend = "handleMapMoveEnd"
            @l-zoom="updateZoom"
            v-if="ComponentControlMixin_isInLayer('defaultCanvas')"
        >
        </v-canvas-layer>            
        
        <map-layers></map-layers>

    </l-map>

        <!-- single drawn component -->
        <component
          :is="ComponentControlMixin_mapComponent"
          v-bind="ComponentControlMixin_mapComponentProps"
          @redraw="redraw"
        ></component>
        
        <router-view name="sidePane" @redraw="redraw"></router-view>
        <router-view name="mainPane"></router-view>
        <router-view name="rightPane"></router-view>

        <!-- components that may exist independantly -->
        <map-multi-components></map-multi-components>

    </div>  <!-- map-container -->
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>

  /*
  Script start
   */

    import Vue from 'vue'
    import { Component } from 'vue-property-decorator'
    import { Debounce } from 'lodash-decorators'
    import { mixins } from 'vue-class-component'

    import { namespace, Getter, Action, Mutation, State } from 'vuex-class'     

    // leaflet
    import 'leaflet/dist/leaflet.css'
    import { LMap, LTileLayer, LMarker, LWMSTileLayer } from 'vue2-leaflet';

    // overriding some gotcha with leaflet webpack
    import L from 'leaflet';
    delete L.Icon.Default.prototype._getIconUrl;
    L.Icon.Default.mergeOptions({
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
        iconUrl: require('leaflet/dist/images/marker-icon.png'),
        shadowUrl: require('leaflet/dist/images/marker-shadow.png')
    });

    import {DatabaseWorker} from '../../workers/database'

    const MapModule = namespace('map')
    const VesselSearchModule = namespace('vesselsearch')
    const PlaybackModule = namespace('playback')
    const VesselDetailsModule = namespace('vesselDetails')
    const StatusBarModule = namespace('status/statusbar')
    const AppSessionModule = namespace('app/session')
    const WremsModule = namespace('wrems')

    import { store } from '../../stores'


    import subComponentDeclarations from './subComponentDeclarations'
    import mixinDeclarations from './mixins/mixinDeclarations'

    import UserPersonalizationStorageHelper from '../../helpers/userPersonalization'
    import TenantPersonalizationStorageHelper from '../../helpers/tenantPersonalization'
    import HostPersonalizationStorageHelper from '../../helpers/hostPersonalization'

    import 'leaflet-bing-layer/leaflet-bing-layer.js'

    import 'leaflet.nauticscale/dist/leaflet.nauticscale.min.js'
 /*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
    @Component({
        components:{
            LMap,
            LTileLayer,
            LMarker,            
            ...subComponentDeclarations
        }
    })
     /**
      * Main entry to map object
      * @extends mixins
      */
    export default class MainMap extends mixins(...mixinDeclarations){

    /*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/

    @MapModule.State zoom

    @MapModule.Mutation toggleMapMove
    @MapModule.Mutation setZoom
    @MapModule.Mutation setMap
    @MapModule.Mutation setMetresPerPixel    
    @PlaybackModule.Mutation setSelectedNames
    @PlaybackModule.Mutation('addSelectedIds') addPlaybackSelectedIds
    @VesselDetailsModule.Mutation('toggleVesselDetails') toggleVesselDetailsPane
    @AppSessionModule.Mutation('setUserState') setUserSessionState     

    @MapModule.Getter('latlnglist') locations
    @MapModule.Getter isMoving
    @MapModule.Getter mapLayers
    @MapModule.Getter selectedVesselIds
    @MapModule.Getter mapType
    @MapModule.Getter center    

    @MapModule.Action loadTenantVessels
    @MapModule.Action addSelectedVesselId
    @VesselDetailsModule.Action addNewSelectedVesselInfo
    @WremsModule.Action loadWrems
    
    url = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
    attribution = '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    map = null
    info = null
    canvas = null
    ctx = null
    db = null    

    // vessels = new Map()
    stateChangeTracker = 0

/*
##         ####  ########   ########    ######    ##    ##    ######    ##         ########   
##          ##   ##         ##         ##    ##    ##  ##    ##    ##   ##         ##         
##          ##   ##         ##         ##           ####     ##         ##         ##         
##          ##   ######     ######     ##            ##      ##         ##         ######     
##          ##   ##         ##         ##            ##      ##         ##         ##         
##          ##   ##         ##         ##    ##      ##      ##    ##   ##         ##         
########   ####  ##         ########    ######       ##       ######    ########   ########   
*/
    beforeRouteEnter(to, from, next){
        // no name, which mean it come from reload, which is basically after login
        if(!from.name){

            /*
            User Personalization
             */

            // set user level
            store.commit('auth/authorization/setUserLevel', localStorage.userLevel)

            // set active module
            store.commit('app/modules/setActiveModule', UserPersonalizationStorageHelper.getActiveModule())

            // set permissions
            store.commit('auth/authorization/setPermissions', JSON.parse(localStorage.perm))            

            // restore zoom level
            store.commit('map/setZoom', UserPersonalizationStorageHelper.getZoomLevel())

            // restore map location center
            const {lat, lng} =  UserPersonalizationStorageHelper.getLocation()
            store.commit('map/setCenter', {lat, lng}) 

            // restore filter if exist
            const {selectedFilter, query:selectedFilterQuery} = UserPersonalizationStorageHelper.getSelectedFilter()

            if(selectedFilter){                
                store.commit('map/resetSelectedVesselIds')
                store.commit('filters/setSelectedFilter', selectedFilter)
                store.commit('filters/toggleModeFilterStatus', true)
                store.commit('filters/setQuery', selectedFilterQuery)                
            }  

            // restore selected Vessels if exist
            const selectedVessel = UserPersonalizationStorageHelper.getSelectedVessel()            
            if(selectedVessel.selectedVesselIds){                

                store.commit('map/setSelectedVesselIds', selectedVessel.selectedVesselIds)
                store.commit('vesselDetails/setInfos', selectedVessel.infos)
                // store.commit('playback/setSelectedNamesArr', selectedVessel.playbackSelectedNames)
                // store.commit('playback/setSelectedIds', selectedVessel.playbackSelectedIds)
                store.commit('vesselDetails/toggleVesselDetails', true) 
                store.commit('app/widgets/addActiveWidget', {name:'Vessel.Right.Detail'})
                               
            }

            // restore vesselNameToggle if enabled
            if(UserPersonalizationStorageHelper.isVesselNameEnabled()){                
                store.commit('map/addMapLayer', 'toolbar')
                store.commit('vesselList/toolbar/toggleFloatPane', true)
                store.commit('vesselList/toolbar/vesselName/toggleEnable', true)
            }

            // restore vessel track
            if(UserPersonalizationStorageHelper.isVesselTrackEnabled()){
                store.commit('map/addMapLayer', 'toolbar')
                store.commit('vesselList/toolbar/toggleFloatPane', true)
                store.commit('vesselList/toolbar/vesselTrack/toggleEnable', true)
            }

            // restore balloon info
            if(UserPersonalizationStorageHelper.isBalloonInfoEnabled()){                                
                store.commit('map/addMapLayer', 'toolbar')
                store.commit('vesselList/toolbar/toggleFloatPane', true)
                store.commit('vesselList/toolbar/balloonInfo/toggleEnable', true)
            }

            // restore pinned vessel
            if(UserPersonalizationStorageHelper.isVesselPinEnabled()){                                
                store.commit('map/addMapLayer', 'toolbar')
                store.commit('vesselList/toolbar/toggleFloatPane', true)
                store.commit('vesselList/toolbar/vesselPin/toggleEnable', true)
            }

            // restore show selected vessel only
            if(UserPersonalizationStorageHelper.isVesselSelectedEnabled()){
                store.commit('map/addMapLayer', 'toolbar')
                store.commit('vesselList/toolbar/toggleFloatPane', true)
                store.commit('vesselList/toolbar/vesselSelected/toggleEnable', true)
            }


            const userColorScheme =  UserPersonalizationStorageHelper.getUserColorScheme()
            // restore user defined vessel color scheme
            if(userColorScheme){                                        
                store.commit('vesselDetails/colors/setupColors', {role:'user', colors:userColorScheme})
            }

            // restore user table fields and sort order
            // const atonListFields =  UserPersonalizationStorageHelper.getTableFields('aton')
            // if(atonListFields){ store.commit('aton/atonList/setField', {level:'user', type:'aton', field:atonListFields}) }
            // const atonListFieldsOrder = UserPersonalizationStorageHelper.getTableOrders('aton')            
            // if(atonListFieldsOrder){ store.commit('aton/atonList/setSortField', {level:'user', type:'aton', sortField:atonListFieldsOrder}) }
            
                
            /*
            Tenant Personalization
             */


            const tenantTheme = TenantPersonalizationStorageHelper.getTheme()            
            if(tenantTheme){store.commit('app/setTheme', tenantTheme)}

            const tenantColorScheme =  TenantPersonalizationStorageHelper.getTenantColorScheme()
            // restore tenant defined vessel color scheme
            if(tenantColorScheme){                                        
                store.commit('vesselDetails/colors/setupColors', {role:'tenant', colors:tenantColorScheme})
            }

            /*
            Host Personalization
             */
            const hostColorScheme =  HostPersonalizationStorageHelper.getHostColorScheme()
            // restore tenant defined vessel color scheme
            if(hostColorScheme){                                        
                store.commit('vesselDetails/colors/setupColors', {role:'host', colors:hostColorScheme})
            }            
        
            next()
        }
        else{
            next()    
        }    
    }
    
    /*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/
    beforeRouteUpdate(to, from, next){        
        if(to.name == 'mainmap'){Event.fire('Map.ClearWidget')}
        next()
    }

    /**
     * Component lifecycle hooks created
     * @return void
     */
    created(){        

        // get tenant vessels
        this.loadTenantVessels()
        .then(response => {
            // do nothing on success as we only concern about error
        }, error => {
            console.log(error)
        })

        // register events listeners
        this.MainMapMixin_registerEventListeners()

        // register state watchers
        this.MainMapMixin_registerStateWatchers()
    }

    /**
     * Handler for map zoom event and to trigger map zoom
     * @return void
     */
    updateZoom(){
        this.setZoom(this.map.getZoom());
        // this.ctx.clearRect(0, 0, this.info.canvas.width, this.info.canvas.height);
        // this.ctx.beginPath();
        Event.fire('Map.Events.Zoom.End')
        this._setMetresPerPixel()
    }

    /**
     * Internal method to get metres/pixel based on current zoom level
     * @return void
     */
    _setMetresPerPixel(){
         this.setMetresPerPixel(40075016.686 * Math.abs(Math.cos(this.map.getCenter().lat / 180 * Math.PI)) / Math.pow(2, this.zoom+8));
    }

    /**
     * l-moveend map event handler
     * @return void
     */    
    handleMapMoveEnd(){        
        this.toggleMapMove(false)
        Event.fire('Map.Events.Move.End')
    }

    /*
    canvasMounted
     */
    canvasMounted(info){                 

        this.setUserSessionState({key:'tenantName', value:localStorage.tenantName})
        this.setUserSessionState({key:'tenancyName', value:localStorage.tenancyName})           

        DatabaseWorker.initDb()

        this.info = info

        this.map = this.$refs.map.mapObject
        this.setMap(this.map)      

        // set mile marker        
        this.map.addControl(new L.Control.ScaleNautic({
            metric: true,
            imperial: false,
            nautic: true
        }));

        // this.map.on([events])
        this.MainMapMixin_registerMapListener()

        // init listener for right click events
        this.registerRightClick()

        // start signalr and listen to events
        this.SignalREventsMixin_init()

        // set metresperpixel conversion parameter
        this._setMetresPerPixel()  

        // initialize wrems data 
        this.loadWrems()

    }


    /*
    focusTo
     */
    // focus and zoom to specific vessel
    // latlng is L.LatLng
    focusTo(latlng, zoom = 15 ){
        this.map.setZoom(zoom)
        setTimeout(()=>{this.map.panTo(latlng)}, 300)
    }

    /*
    panTo
     */
    panTo(latlng){
        this.map.panTo(latlng)
    }

    /*
    drawing
     */
    drawing(info, reason = 'default'){            
        this.MainMapMixin_DrawShip(info, reason)
    }

    /*
    redraw
     */
    redraw(reason){        
        this.drawing(this.info, reason)
    }

    /*
    hover
     */
    hover(info) {

        let vm = this
        let container = document.getElementsByClassName('leaflet-container')[0]

        if(!this.isMoving){
            let {isVesselHit, vesselHit} = this.MainMapMixin_isVesselHit(info)

            if(this.ModeHandlerMixin_inMode()){
                container.style.cursor = this.ModeHandlerMixin_resolveCursor()
            }

            else if(isVesselHit && this.ShipDrawerMixin_isDrawn(vesselHit)){
                container.style.cursor = 'pointer'
                Event.fire('Map.Vessel.Events.Hover', {info, vesselHit})
            }
            else{
                container.style.cursor = ''
                Event.fire('Map.Vessel.Events.Unhover')
            }
        }
    }


    /*
    click
     */
    click(info) {             

        let {isVesselHit, vesselHit} = this.MainMapMixin_isVesselHit(info)
        // if the map is clicked while inside some kind of mode requiring intercept
        if(this.ModeHandlerMixin_inMode()){
            this.ModeHandlerMixin_handleInModeClick(info);
        }

        // not in any mode requiring intercept
        else if(isVesselHit && this.ShipDrawerMixin_isDrawn(vesselHit)){  

            // required for vessel details panel
            this.addNewSelectedVesselInfo({
                vesselId:vesselHit.vesselId,
                ctrlKey:info.originalEvent.ctrlKey
            })            

            // required for drawing/getting selected vessel id
            this.addSelectedVesselId({
                id:vesselHit.vesselId,
                ctrlKey:info.originalEvent.ctrlKey
            })
            
            console.log("%cBase Info:", conStyle.boldRed, vesselHit)
            
            // set playback selected name
            // this.setSelectedNames({name:vesselHit.vesselName,ctrlKey:info.originalEvent.ctrlKey})

            // redraw to ensure changes are taking place
            this.redraw('Vessel.selected')

            Event.fire('Map.Vessel.Events.Click', {vessel:vesselHit})

            // add to array of selected id for playback
            // Can't use event bus since no component setup to listen to at ini stage            
            // this.addPlaybackSelectedIds({id:vesselHit.vesselId, ctrlKey:info.originalEvent.ctrlKey})                        
            
            // Used in ComponentControlMixin::ComponentControlMixin_mapComponent()
            // to determine component to be rendered in MainMap.vue template under
            // single-drawn-component
            this.toggleVesselDetailsPane(true)
            Event.fire('Map.ActivateWidget', 'Vessel.Right.Detail' )    

        }
        else{
            // clear widget will be called upon entering mainmap
            if(this.$route.name != 'mainmap'){this.$router.push({name:'mainmap'})}
            // else, we going to trigger clear widget manually
            else{Event.fire('Map.ClearWidget')}            
        }
    }    

    /*
    registerRightClick
     */
    registerRightClick(){
        this.map.on('contextmenu', (info)=>{
            let {isVesselHit, vesselHit} = this.MainMapMixin_isVesselHit(info)
            if(isVesselHit){
                console.log(vesselHit)
                Event.fire('Map.ActivateWidget', 'rightClickPane' )
            }
            else{
                Event.fire('Map.ClearWidget')
            }
        })
    }

    } // end class

    // Comment to trigger git changes
</script>
