<template>
    <div>
        <zone-layer v-if="ComponentControlMixin_isInLayer('zone')"></zone-layer>
        <toolbar-layer v-if="ComponentControlMixin_isInLayer('toolbar')"></toolbar-layer>
        <zoomlevel-status-layer v-if="ComponentControlMixin_isInLayer('zoomlevel-status')"></zoomlevel-status-layer>
        <map-routes-layer v-if="ComponentControlMixin_isInLayer('customRoutes')"></map-routes-layer>
        <map-cables-layer v-if="ComponentControlMixin_isInLayer('cables')"></map-cables-layer>
        <map-location-layer v-if="ComponentControlMixin_isInLayer('locations')"></map-location-layer>
        <tools-ruler-layer v-if="ComponentControlMixin_isInLayer('toolsRuler')" ></tools-ruler-layer>       
    </div>
</template>

<script>
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'
    import { Component } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'

    // mixins
    import ComponentControlMixin from './mixins/ComponentControlMixin'  

    const MapModule = namespace('map')

    @Component({
    	components:{
    		'zone-layer': ()=> import('./zone/MapZone'),
            'toolbar-layer': ()=> import('./vessel-list/toolbar/FloatPane'),            
            'map-routes-layer': ()=>import('./route/MapRoutesLayer'),
            'map-cables-layer': ()=>import('./cable/MapCablesLayer'),
            'map-location-layer': ()=>import('./location/MapLocationsLayer'),
            'tools-ruler-layer': ()=>import('./Tools/ToolsRulerLayer')
    	}
    })
    export default class MapLayers extends mixins(ComponentControlMixin) {    	    	
    	@MapModule.Getter mapLayers
    }
</script>