<template>
	<v-fragment>		
		<statusbar-toppane v-if="statusBarTopPaneEnabled"></statusbar-toppane>				
		<tools-menu-right-pane v-if="toolsRightMenuPaneEnabled"></tools-menu-right-pane>
		<legend-menu-right-pane v-if="legendMenuEnabled"></legend-menu-right-pane>
		<knowledgebase-action-button></knowledgebase-action-button>
		<zoomlevel-status-pane></zoomlevel-status-pane>
		<map-select-pane></map-select-pane>
		<enc-select-pane></enc-select-pane>
	</v-fragment>
</template>

<script>
	/*
	Script start
	 */
	
	import Vue from 'vue'
	import { Component, Watch } from 'vue-property-decorator'		
	import { namespace, Getter, Action, Mutation, State } from 'vuex-class'

	import {Plugin as FragmentPlugin} from 'vue-fragments'
	Vue.use(FragmentPlugin)	

	const StatusBarModule = namespace('status/statusbar') 
	const ZoneModule = namespace('zone')	
	const ToolsModule = namespace('tools')
	const LegendModule = namespace('tools/legend')
	const KnowledgeBaseModule = namespace('knowledgebase')  

	/*
	Class start
	 */
	@Component({
		components: {			
			'statusbar-toppane' : ()=>import('./Status/StatusBar/TopPane'),						
			'tools-menu-right-pane': ()=>import('./Tools/ToolsMenuRightPane'),
			'legend-menu-right-pane': ()=>import('./Tools/ToolsLegend'),
			'knowledgebase-action-button' : ()=>import('./knowledgebase/actionButton'),
			'zoomlevel-status-pane': ()=>import('./Status/ZoomLevel/FloatPane'),
			'map-select-pane': ()=>import('./mapControl/mapSelect/FloatPane'),
			'enc-select-pane': ()=>import('./mapControl/enc/FloatPane')
		}
	})
	export default class MapMultiComponents extends Vue {
		
		@StatusBarModule.Getter('topPaneEnabled') statusBarTopPaneEnabled				
		@ToolsModule.Getter toolsRightMenuPaneEnabled	
		@LegendModule.Getter('enabled') legendMenuEnabled	

	}

</script>