﻿@{
    Layout = "_LayoutAnon";
    ViewData["Title"] = "Login";
}

<link href="~/css/login-page.css" rel="stylesheet" />

<div id="loginbox" class="mainbox loginContainer col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Sign In</div>
        </div>
        <div class="panel-body loginPanelBody">
            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

            <form id="loginform" method="post" class="form-horizontal" role="form">

                <div class="input-group loginInputGroup">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="login-tenantname" type="text" class="form-control" name="tenantname" value="" placeholder="tenant name">
                </div>

                <div class="input-group loginInputGroup">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">
                </div>

                <div class="input-group loginInputGroup">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                </div>


                <div class="input-group">
                    <div class="checkbox">
                        <label>
                            <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                        </label>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        
                        <button id="btn-login" type="submit" class="btn btn-primary">Login  </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>