<template>
	<div>

		<!-- Circle, if any -->
		<v-leaflet-circle 
			v-for="circle in circles"
			:key="circle.id"			
			v-if="circles.length && circle.isEnable"
			:map="map"
			:id="circle.id"
			:label="getLabel(circle.name)"			
			:lat="circle.zoneItemDtos[0].latitude"
			:lgt="circle.zoneItemDtos[0].logitude"
			:radius="circle.radius"
			:color="circle.colour"
			:isFill="circle.isFill"
			:zoom="zoom"
			labelVisibilityZoom="10"
			@circleCreated="storeCircle"
		></v-leaflet-circle >

		<!-- Polygon, if any -->
		<v-leaflet-polygon
			v-for="polygon in polygons"
			:key="polygon.id"			
			v-if="polygons.length && polygon.isEnable"
			:map="map"
			:id="polygon.id"
			:label="getLabel(polygon.name)"
			:latlgt="polygon.zoneItemDtos"						
			:color="polygon.colour"
			:isFill="polygon.isFill"
			:zoom="zoom"
			labelVisibilityZoom="10"
			@polygonCreated="storePolygon"
		></v-leaflet-polygon >

		<!-- Line, if any -->
		<v-leaflet-line
			v-for="line in lines"
			:key="line.id"			
			v-if="lines.length && line.isEnable"
			:map="map"
			:id="line.id"
			:label="getLabel(line.name)"
			:latlgt="line.zoneItemDtos"						
			:color="line.colour"
			:zoom="zoom"
			labelVisibilityZoom="10"
			@lineCreated="storeLine"
		>			
		</v-leaflet-line>

	</div>
</template>

<script>
	
	import { Component, Prop, Watch } from 'vue-property-decorator'	
	import Vue from 'vue'
	import { namespace, Getter, Action, Mutation, State } from 'vuex-class'	

	const ZoneModule = namespace('zone')
	const ZoneSummaryModule = namespace('zone/summary')
	const MapModule = namespace('map')

	@Component({
		components : {
			'v-leaflet-circle': ()=> import('../../common/libs/leaflet/Circle'),
			'v-leaflet-polygon': ()=> import('../../common/libs/leaflet/Polygon'),
			'v-leaflet-line': ()=> import('../../common/libs/leaflet/Line')
		}
	})
	export default class MapZone extends Vue {

		@ZoneModule.Getter circles
		@ZoneModule.Getter polygons
		@ZoneModule.Getter lines		
		@MapModule.Getter map
		@MapModule.Getter zoom

		@ZoneModule.Mutation('toggleZoneEnabled') toggleZoneLayerEnabled
		@ZoneModule.Mutation addZone
		@ZoneModule.Mutation clearZonesDef
		@ZoneModule.Mutation clearZones

		@ZoneModule.Action refreshMyZonesDef				

		@ZoneSummaryModule.Getter zoneNameEnabled

		/*
		mounted
		 */
		mounted(){					
			this.refreshZone()
		}
		getLabel(name){
			return this.zoneNameEnabled ? name : ""
		}

		/*
		refreshZone
		 */
		refreshZone(){
			this.clearZones()			
			this.clearZonesDef()
			this.refreshMyZonesDef()			
		}		

		@Watch('circles', {immediate:true})
		checkCircles(){			
		}	

		@Watch('polygons', {immediate:true})
		checkPolygons(){			
		}	

		@Watch('lines', {immediate:true})
		checkLines(){						
		}

		storeCircle(circle){this.addZone({type:'circles', zone:circle})}
		storePolygon(polygon){this.addZone({type:'polygons', zone:polygon})}
		storeLine(line){this.addZone({type:'lines', zone:line})}
		
	}
	

</script>