<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/zone-create.html"></template>

<script>
	/*
	Script Start
	 */
	import { Component, Provide } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import vHelper from '../../../helpers/VHelper'
	import { mixins } from 'vue-class-component'
	import Vue from 'vue'		

	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'

	const ZoneCreateModule = namespace('zone/create')		
	const ZoneFormModule = namespace('zone/form')	
	const ZoneModule = namespace('zone')		

	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'zone-form': ()=> import('./ZoneForm')		
		}
	})
	/*
	Class start
	 */
	export default class ZoneCreate extends mixins(VeeValidatorHelperMixin) {	
		
		@Provide() parentValidator = this.$validator	

		// getters
		@ZoneFormModule.Getter formData		

		// mutations
		@ZoneCreateModule.Mutation toggleZoneCreate	
		@ZoneFormModule.Mutation resetFormData
		@ZoneModule.Mutation clearZonesDef
		@ZoneModule.Mutation clearZones		

		// actions
		@ZoneCreateModule.Action storeZoneDef
		@ZoneModule.Action refreshMyZonesDef	
		@ZoneFormModule.Action convertBulkEditToDtoItem								

		/*
		closeWidget
		 */
		closeWidget(widget){			
			this.$router.push({name:'mainmap'})		
		}
			
		/*
		submit
		 */
		submit(){
		this.VeeValidatorHelperMixin_validateAll('formzone')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){

			if(this.formData.bulkEdit){this.convertBulkEditToDtoItem()}	
			// console.log(this.formData)
			this.storeZoneDef()
			.then((result)=>{				

				// clear the form
				this.resetFormData()
				
				// refresh the zones
				this.clearZonesDef()
				this.clearZones()
				this.refreshMyZonesDef()

				this.closeWidget()				
				Event.fire('Notification.Success', {message: "Successfully save new zone"})
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError', {message: "Oops! Something Went Wrong"})
				throw(error)
			})
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			Event.fire('Map.Events.Drawing.Do', 'Map.Zone.Create.Close')
			this.toggleZoneCreate(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'Zone.Main.Create')
        }			
			
	}
		
</script>