<style scoped src="./templates/zone-form.scss"></style>
<template src="./templates/zone-form.html"></template>

<script>

	/*
	Script Start
	 */
	
	import { Component, Emit, Watch, Inject } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'	

	import vHelper from '../../../helpers/VHelper'	

	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)

	const ZoneModule = namespace('zone')
	const ZoneFormModule = namespace('zone/form')
	const ZoneEditModule = namespace('zone/edit')
	
	/*
	Class begin 
	 */
	@Component({
		components:{
			'select2': ()=> import('../../common/libs/Select2')
		}
	})
	export default class ZoneForm extends Vue {

		@Inject('parentValidator') $validator  

		// getters
		@ZoneFormModule.Getter formData		
		@ZoneFormModule.Getter zoneTypeOptions
		@ZoneFormModule.Getter latLngFormat		
		@ZoneModule.Getter zoneDesignerEnabled

		// mutations
		@ZoneFormModule.Mutation setFormData
		@ZoneFormModule.Mutation updateDto
		@ZoneFormModule.Mutation addNewDtoItem
		@ZoneFormModule.Mutation removeDtoItem
		@ZoneFormModule.Mutation resetDtoItemOnZoneTypeChange
		@ZoneFormModule.Mutation resetBulkEditDataOnZoneTypeChange	
		@ZoneFormModule.Mutation setZoneItemDtos		
		@ZoneFormModule.Mutation resetFormData
		@ZoneEditModule.Mutation setEditedZoneId				

		// actions
		@ZoneFormModule.Action convertBulkEditToDtoItem		
		@ZoneFormModule.Action convertDtoItemToBulkEdit						

		mounted(){
			this.formData.zoneItemDtos.sort((a, b) => a.order - b.order)
		}
		/*
		updateZoneType
		 */
		// handler for non standard form input change
		updateZoneType(value){		
			this.setFormData({key:'zoneType', value: parseInt(value)})			
			if(this.formData.bulkEdit){this.resetBulkEditDataOnZoneTypeChange()}
			else{this.resetDtoItemOnZoneTypeChange()}			
		}

		/*
		dtoChanged
		 */	
		dtoChanged(type, value, id){
			this.updateDto({type, value, id})			
		}		

		// form v-model
		get formData_name(){ return this.formData.name }
		get formData_isEnable(){ return this.formData.isEnable }
		get formData_isFill(){ return this.formData.isFill }
		get formData_colour(){ return this.formData.colour }
		get formData_radius(){ return this.formData.radius }
		get formData_bulkEdit(){ return this.formData.bulkEdit }		
		get formData_bulkEditData(){ return this.formData.bulkEditData }
		get designerMode(){ return this.zoneDesignerEnabled }				

		set formData_name(value){ this.setFormData({key:'name', value}) }
		set formData_isEnable(value){ this.setFormData({key:'isEnable', value}) }
		set formData_isFill(value){ this.setFormData({key:'isFill', value}) }
		set formData_colour(value){ this.setFormData({key:'colour', value}) }
		set formData_radius(value){ this.setFormData({key:'radius', value}) }	
		set formData_bulkEdit(value){ this.setFormData({key:'bulkEdit', value}) }		
		set formData_bulkEditData(value){ this.setFormData({key:'bulkEditData', value}) }
		set designerMode(value){ this.openDesigner(value) }	

		/*
		@Watch
		bulkEditToggled
		 */
		@Watch('formData.bulkEdit')
		bulkEditToggled(value){			
			if(value){	
				this.convertDtoItemToBulkEdit()
			}
			else if(!vHelper.has(this.errors, 'coordinates', 'formzone')){				
				this.convertBulkEditToDtoItem()			
			}
		}	


		/*
		openDesigner
		 */
		openDesigner(value){
			if(value){		
				
				// reset the bulk edit data to standard dto item
				if(this.formData.bulkEdit){this.convertBulkEditToDtoItem()}
				// make sure bulk edit mode disabled
				this.setFormData({key:'bulkEdit', value:false})
				this.$router.push({name:'map.zone.tools.designer'})
				Event.fire('Map.ActivateWidget', 'Zone.Right.Designer')								
			}
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){						
			if(!this.zoneDesignerEnabled){				
				this.resetFormData()				
				this.setEditedZoneId(null)
				Event.fire('Map.Events.Drawing.Do', 'ZoneForm.closed')
			}
		}

	}


</script>