<style scoped src="./styles/designer-control.scss"></style>
<template src="./templates/zone-designer-control.html"></template>
<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Debounce, Memoize } from 'lodash-decorators';
	const isects = require('2d-polygon-self-intersections');   

	import Vue from 'vue'

	const ZoneModule = namespace('zone')
	const ZoneFormModule = namespace('zone/form')
	const ZoneEditModule = namespace('zone/edit')
	const ZoneCreateModule = namespace('zone/create')    


	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../common/WidgetContainers/map/RightWrapper'),
			'select2': ()=> import('../../common/libs/Select2')
		}
	})
	export default class ZoneDesignerControl extends Vue{

		@ZoneEditModule.Getter editedZoneId 
		@ZoneModule.Getter zoneDesigner
		@ZoneFormModule.Getter formData 
		@ZoneFormModule.Getter zoneTypeOptions  	

		@ZoneModule.Mutation toggleZoneDesigner		
        @ZoneModule.Mutation zoneDesignerToggleClosePolygon
        @ZoneModule.Mutation toggleFromDesigner		
        @ZoneFormModule.Mutation toggleDtaItemHighlight
        @ZoneFormModule.Mutation clearDtaItemHighlight        
        @ZoneFormModule.Mutation setFormData        
        @ZoneFormModule.Mutation('setZoneItemDtos') formData_setZoneItemDtos
        @ZoneFormModule.Mutation removeFaultyDtoItems
        @ZoneFormModule.Mutation clearZoneItemDtos
        @ZoneFormModule.Mutation removeDtoItem

        @ZoneFormModule.Action cleanResetForm
				
        debouncedHighlightCoord = _.debounce((coord)=>{this.highlightCoord(coord)},300)               

        /*
        mounted
         */
        mounted(){              
        	this.removeFaultyDtoItems() 
        	if(this.formData.zoneItemDtos.length){
        		Event.fire('Map.Events.Drawing.Do', 'ZoneDesigner.mounted')
        	}   

            this.formData.zoneItemDtos.sort((a, b) => a.order - b.order)

        }		    	

    	/*
    	highlightCoord
    	 */    	
    	highlightCoord(coord){    		
    		this.clearDtaItemHighlight()
    		this.toggleDtaItemHighlight({id:coord.id, value:true})
    		Event.fire('Map.Events.Drawing.Do', 'ZoneDesigner.Point.highlighted')    		
    	}

    	/*
    	clearAllCoordHighlight
    	 */    	
    	clearAllCoordHighlight(){
    		this.debouncedHighlightCoord.cancel()
    		this.clearDtaItemHighlight()
    		Event.fire('Map.Events.Drawing.Do', 'ZoneDesigner.Point.unhighlighted')
    	}

    	/*
    	deleteCoord
    	 */
    	deleteCoord(coord){
    		this.removeDtoItem(coord.id)
    		Event.fire('Map.Events.Drawing.Do', 'ZoneDesigner.Point.deleted')
    	}

    	/*
    	clearCoords
    	 */
    	clearCoords(){
    		this.clearZoneItemDtos()
    		Event.fire('Map.Events.Drawing.Do', 'ZoneDesigner.Point.cleared')
    		setTimeout(()=>{
    			console.log(this.formData.zoneItemDtos)
    		}, 2000)
    	}

    	/*
    	Setters and getters
    	 */
    	get zoneType(){ return this.formData.zoneType }
    	get formData_radius(){ return this.formData.radius }

    	set formData_radius(value){ this.setFormData({key:'radius', value}) }	

		/*
    	Watchers
    	 */
    	@Watch('formData.zoneType')
    	zoneTypeChanged(value){
    		this.clearCoords()    		
    	} 

    	@Watch('formData.radius')
    	radiusChanged(value){
    		Event.fire('Map.Events.Drawing.Do', 'ZoneDesigner.Radius.changed')	
    	}    	

    	/*
    	fillPolygon
    	 */
    	fillPolygon(){
    		this.zoneDesignerToggleClosePolygon()
    		Event.fire('Map.Events.Drawing.Do', 'ZoneDesigner.Polygon.filled')
    	} 

    	/*
    	save
    	 */
    	save(){
    		// some direct check
    		
    		// polygon can't have self intersect
    		if(this.formData.zoneType == 1){
    			const selfIntersect = !!isects(
	                this.zoneDesigner.coords.map(({lat, lng})=>{
	                    return [lat, lng]
	                })
	            ).length;

	            if(selfIntersect){
	            	Event.fire('Notification.ClientError', {message: 'Polygon has self intersected points. Please update and try again.'})
	            	return false
	            }	
    		}
			else if(!this.zoneDesigner.coords.length){
				Event.fire('Notification.ClientError', {message: 'Please select at least one point from the map'})
				return false
			}

    		// save into form data
    		this.formData_setZoneItemDtos(
    			this.zoneDesigner.coords.map(({lat, lng})=>{
                    return {
                    	latitude: lat,
                    	longitude: lng
                    }
                })
    		)
    		
    		this.$router.back()
    		
    	}

        beforeDestroy(){
            if(this.editedZoneId){this.toggleFromDesigner(true)}
            this.cleanResetForm()
            this.toggleZoneDesigner(false)
        }

        /**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){            
            Event.fire('Map.DeactivateWidget', 'Zone.Right.Designer')
            // Event.fire('Map.Events.Drawing.Do', 'ZoneStatus.Point.cleared')
        }  	
    	    	   
	}

</script>