<style scoped src="../../../styles/summary-list.scss"></style>
<template src="./templates/zone-summary.html"></template>

<script>
	/*
	Script start
	 */
	import { Component, Emit } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import async from 'async'

	import {ServerError} from '../../../helpers/errors'
	import AuthorizationMixin from '../../common/mixins/AuthorizationMixin'		

	const ZoneSummaryModule = namespace('zone/summary')
	const ZoneCreateModule = namespace('zone/create')
	const ZoneEditModule = namespace('zone/edit')
	const ZoneModule = namespace('zone')
	const MapModule = namespace('map')		

	/*
	Class start
	 */
	@Component({
		components: {
			'side-wrapper' : ()=> import('../../common/WidgetContainers/map/SideWrapper'),
			'delete-confirm': ()=> import('../../common/DeleteConfirmation')
		}
	})
	export default class ZoneSummary extends mixins(AuthorizationMixin) {

		someProp = null

		// map
		@MapModule.Getter map		

		// Zone summary
		@ZoneSummaryModule.Getter zoneNameEnabled
		@ZoneSummaryModule.Mutation toggleZoneSummary
		@ZoneSummaryModule.Mutation toggleZoneNameEnabled	


		
		// Zone
		@ZoneModule.Getter zonesDef
		@ZoneModule.Getter zones
				
		@ZoneModule.Mutation clearZonesDef
		@ZoneModule.Mutation clearZones
		
		@ZoneModule.Action deleteZone
		@ZoneModule.Action refreshMyZonesDef				

		title = 'show Zones Name'
		/*
		mounted
		 */
		mounted(){					
			this.refreshZone()
		}

		/*
		refreshZone
		 */
		refreshZone(){
			this.clearZones()			
			this.clearZonesDef()
			this.refreshMyZonesDef()
			
		}			

		toggleZoneName(){
            if(this.zoneNameEnabled){
            	this.toggleZoneNameEnabled(false)
            	this.refreshZone()
            	this.title = 'Show Zones Name'
            }
            else{
            	this.toggleZoneNameEnabled(true)
            	this.refreshZone()
            	this.title = 'Hide Zones Name'
            }           
        }					

		/*
		focus
		 */
		focus(selectedZoneDef){	

			if(!selectedZoneDef.isEnable){ return false }

			// {label: 'Circle', value: 0},
	  		// {label: 'Polygon', value: 1},
			// {label: 'Line_L', value: 2},
			// {label: 'Line_R', value: 3} 
			
			// const zonesPristine = {
			//     circles: [],
			//     polygons: [],
			//     lines: []
			// }

			const types = ['circles', 'polygons', 'lines', 'lines']

			let zone = _.find(this.zones[types[selectedZoneDef.zoneType]], 
				(z) => z.def.id == selectedZoneDef.id)

				
			switch(types[selectedZoneDef.zoneType]){
				case 'circles':
					zone = zone.circle;
					break;
				case 'polygons':
					zone = zone.polygon;
					break;
				case 'lines':
					zone = zone.line;
					break;
			}				
			
			this.map.fitBounds(zone.getBounds(), {padding: [20, 20]})


		}

		/*
		removeZone
		 */
		removeZone({id}){

			if(!this.AuthorizationMixin_isGranted('Zone.Delete')){
				Event.fire('Notification.ClientError', {message:"You don't have permission to remove zone"})
				return false
			}

			this.deleteZone(id)
			.then((result)=>{
				this.refreshZone()
				this.closeWidget()				
				Event.fire('Notification.Success', {message: "Successfully remove zone"})
			})
			.catch((error)=>{
				Event.fire('Notification.ServerError', {message: "Server Error"})
				throw(error)
			})
		}
		
		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})			
		}		

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleZoneSummary(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){ 
        	// Event.remove(['Map.ActivateWidget', 'Map.ClearWidget'])           
            Event.fire('Map.DeactivateWidget', 'Zone.Side.Summary')
        }
	}	

</script>