<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/zone-edit.html"></template>

<script>
	/*
	Script Start
	 */
	import { Component, Provide, Prop } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'	
	import vHelper from '../../../helpers/VHelper'

	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'
	
	const ZoneEditModule = namespace('zone/edit')
	const ZoneModule = namespace('zone')
	const ZoneFormModule = namespace('zone/form')		

	/*
	Class Start
	 */
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'zone-form': ()=> import('./ZoneForm')
		}
	})
	export default class ZoneEdit extends mixins(VeeValidatorHelperMixin) {

		@Prop() id
		
		@Provide() parentValidator = this.$validator
		
		@ZoneModule.Getter fromDesigner
		@ZoneFormModule.Getter formData

		@ZoneModule.Mutation clearZonesDef
		@ZoneModule.Mutation clearZones
		@ZoneModule.Mutation toggleFromDesigner
		@ZoneEditModule.Mutation toggleZoneEdit
		@ZoneEditModule.Mutation setEditedZoneId
		@ZoneFormModule.Mutation resetFormData

		@ZoneEditModule.Action updateZone
		@ZoneEditModule.Action loadZone
		@ZoneModule.Action refreshMyZonesDef
		@ZoneFormModule.Action convertBulkEditToDtoItem
			
		isReady = false

		/*
		created
		 */
		created(){			
			this.setEditedZoneId(this.id)
		}
		
		/*
		mounted
		 */
		mounted(){			

			// if from designer
			if(this.fromDesigner){				
				this.isReady = true;
				this.toggleFromDesigner(false)	
			}
			// load new zone info if not from from designer
			else{				
				this.loadZone()
				.then((result)=>{				
					this.isReady = true;
				})	
				.catch((error)=>{
					throw(error)
				})	
			}						
		}		
		
					

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})			
		}		

		/*
		submit
		 */
		submit(){
			this.VeeValidatorHelperMixin_validateAll('formzone')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			// block form submission if there's still errors			
			if(vHelper.any(this.errors)){return false}

			// if using bulk edit, change it first to standard
			if(this.formData.bulkEdit){this.convertBulkEditToDtoItem()}

			this.updateZone().then(
				()=>{

					// clear the form
					this.resetFormData()
					
					// clear all zones
					this.clearZonesDef()
					this.clearZones()
					this.refreshMyZonesDef()

					this.closeWidget()
					Event.fire('Notification.Success', {message: "Successfully update zone"})
				}
			)
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			Event.fire('Map.Events.Drawing.Do', 'Map.Zone.Edit.Close')
			this.toggleZoneEdit(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'Zone.Main.Edit')
        }

		
	}
</script>