<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../styles/containers/main-section.scss"></style>
<style scoped>
	.form-group{
		margin-right:10px;
		margin-bottom: 10px;
	}

	#refreshRate {
		width: 100px;
	}

	hr {
		margin-top: 0;		
	}

	.data-unready{
		width: 100%;
	    background-color: #f5f5f5;
	    color: #676a6c;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    padding-top: 100px;
	    padding-bottom: 100px;
	}	
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template src="./templates/custom-route-eta.html"></template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>	
	import { Component, Emit, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Bind, Debounce } from 'lodash-decorators'
	import Vue from 'vue'

	const CustomRouteModule = namespace('customRoute')
	const CustomRouteEtaModule = namespace('customRoute/eta')

	import utilHelper from '../../../helpers/util'

	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)		


/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	@Component({
		components: {			
			'main-wrapper' : () => import('../../common/WidgetContainers/map/MainWrapperHalfBottom'),
			'midbottom-wrapper' : ()=> import('../../common/WidgetContainers/map/MiddleBottomWrapper'),
			'select2': ()=> import('../../common/libs/Select2'),
			'local-data-table' : ()=>import('../../common/libs/vuetable/LocalTable')
		}
	})
	export default class CustomRouteEta extends Vue {

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/

		// Custom Route Eta Module
		@CustomRouteEtaModule.Getter routeOptions		
		@CustomRouteEtaModule.Getter routeEta
		@CustomRouteEtaModule.Getter formData
		@CustomRouteEtaModule.Getter routeEtaField
		// @CustomRouteEtaModule.Getter selectedRoute

		@CustomRouteEtaModule.Mutation toggleCustomRouteEta		
		@CustomRouteEtaModule.Mutation clearRouteEta
		@CustomRouteEtaModule.Mutation setFormData
		@CustomRouteEtaModule.Mutation clearFormData
		@CustomRouteEtaModule.Mutation setRouteEtaField
		@CustomRouteEtaModule.Mutation resetRouteEtaField
		// @CustomRouteEtaModule.Mutation setSelectedRoute

		@CustomRouteEtaModule.Action loadRouteOptions
		@CustomRouteEtaModule.Action loadRoutesEta

		dataReady = false
		refreshInterval = null	
		selectedRoute = ''
		tTableData = []
		tableData = []	

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/
		/*
		mounted
		 */
		mounted(){
			this.loadRouteOptions()
			.then((result)=>{				
				this.selectedRoute = this.routeOptions[0].id
				this.loadRoutesEta(this.selectedRoute)
				.then((result)=>{				
					this.updateTableData()
				})
			})		 
		}							

		/*
		closeWidget
		 */
		closeWidget(widget){			
			this.$router.push({name:'mainmap'})
		}				

    	/*
    	formatTime
    	 */
    	formatTime(time){
    		if(time == null){
    			return ""
    		}
    		else{
    			return moment(time).format('DD/MM/YY HH:mm')
    		}
            
        }

        /*
    	formatAging
    	 */
        formatAging(time){
        	if(time == null){
    			return ""
    		}
    		else{
    			return " (" + time + ")"
	        }
        }         

		/*
		Getters and setters
		 */
		get waypointNames(){
			let waypointSet = new Set();

			_.each(this.routeEta, (r)=>{
				r.waypoints.sort((a, b) => a.order - b.order);
				_.each(r.waypoints.filter(f => f.isShown == true), (w)=>{
					waypointSet.add(w.name)	
				})
			})			
			return Array.from(waypointSet);

		}

		get routeEtaDataTableData(){			

			let clonedRouteEta = _.cloneDeep(this.routeEta)			

			_.each(clonedRouteEta, (r)=>{
				r.waypoints.sort((a, b) => a.order - b.order);
				_.each(r.waypoints, (w)=>{
					r[`wp-${w.name}`] = this.formatTime(w.eta) + this.formatAging(w.aging)
				})				
			})			
			if(this.formData.isPassenger){
				return clonedRouteEta.filter(f => f.shipType == "Passenger")
			}
			else {
				return clonedRouteEta
			}
			

		}

		get tableFields(){			
			// return this.routeEtaField
			if(!this.formData.editColumn){

				this.resetRouteEtaField()
				this.waypointNames.forEach((name)=>{
					this.routeEtaField.push(
						{
							name:`wp-${name}`, 
							title:`${name}`,
							sortField: `wp-${name}`,
							active:true,
							inReport: true
						}
					)
				})
			}
			return this.routeEtaField
		}

		get sortFieldByType(){
			const sortFields = [
				{
					direction: "asc",
	                field: "name",
	                sortField: "name"
				}
			]
			return sortFields
		}

		filterOnSearchData(){			
			if(this.formData.searchTerm){				
				this.tTableData = this.tTableData.filter((td)=>{					
					const values = Object.values(td)
					const re = new RegExp(this.formData.searchTerm, 'i');												
					let found = false

					for(const v of values){
						if(String(v).match(re)){
							found = true
							break;
						}
					}

					return found
				})	
			}			
			
			return this
		}	

		getTableData(){
			if(this.formData.isPassenger){
				return this.tTableData.filter(f => f.shipType == "Passenger")
			}
			else {
				return this.tTableData
			}
		}

		updateTableData(){	
			this.tTableData = _.cloneDeep(this.routeEta)			

			_.each(this.tTableData, (r)=>{
				r.waypoints.sort((a, b) => a.order - b.order);
				_.each(r.waypoints, (w)=>{
					r[`wp-${w.name}`] = this.formatTime(w.eta) + this.formatAging(w.aging)
				})				
			})			
			this.tableData = this.filterOnSearchData().getTableData()
		}

		/*
		search
		 */
		search(searchTerm){
			this.setFormData({key:'searchTerm', value:searchTerm})
			this.updateTableData()			
		}

		/*
		updateField
		 */
		@Bind()
		@Debounce(300)
		updateField(field){
			this.setFormData({key:'editColumn', value:true})
			this.setRouteEtaField(field)	
		}

		/*
		getRoutesEta
		 */
		getRoutesEta(id) {
			this.setFormData({key:'editColumn', value:false})
			this.selectedRoute = id
    		
	    	this.loadRoutesEta(id)
			.then((result)=>{				
				// this.dataReady = true
				this.updateTableData()
			})
			.catch((error)=>{
				this.clearRouteEta()
				this.updateTableData()
				console.error(error)
			})
			
    	}

    	/*
		setTime
		 */
		setTime(){								

			if (this.formData.refreshRate != '' && this.formData.refreshEnabled) {
				
				if(this.refreshInterval){clearInterval(this.refreshInterval)}

				this.refreshInterval = setInterval((param)=>{					
					this.getRoutesEta(this.selectedRoute)
				}, this.formData.refreshRate * 60 * 1000)				
			
			}
			else{
				clearInterval(this.refreshInterval)
			}
		}

		get refreshRate(){return this.formData.refreshRate}
		set refreshRate(value){this.setFormData({key:'refreshRate', value})}

		get refreshEnabled(){ return this.formData.refreshEnabled }
		set refreshEnabled(value){ this.setFormData({key:'refreshEnabled', value}) }

		get isPassenger(){ 
			this.updateTableData()
			return this.formData.isPassenger 
		}
		set isPassenger(value){ this.setFormData({key:'isPassenger', value}) }

		/*
        beforeDestroy
         */
		beforeDestroy(){
			this.toggleCustomRouteEta(false)
			this.clearRouteEta()
			this.clearFormData()
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'CustomRoute.Main.Eta')
        }
		
	}
</script>