<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/custom-route-edit.html"></template>

<script>
	/*
	Script Start
	 */
	import { Component, Emit, Provide, Prop } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'	

	const CustomRouteEditModule = namespace('customRoute/edit')	
	const CustomRouteModule = namespace('customRoute')		

	/*
	Class Start
	 */
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),			
			'custom-route-form': ()=> import('./CustomRouteForm')
		}
	})
	export default class CustomRouteEdit extends mixins(VeeValidatorHelperMixin) {			

		isReady = false

		@Prop() id

		@CustomRouteModule.Getter fromDesigner

		@CustomRouteEditModule.Mutation setEditedCustomRouteId
		@CustomRouteEditModule.Mutation toggleCustomRouteEdit
		@CustomRouteModule.Mutation toggleFromDesigner
		@CustomRouteModule.Mutation clearRouteInstances

		@CustomRouteEditModule.Action loadRoute
		@CustomRouteEditModule.Action updateRoute
		@CustomRouteModule.Action loadAllRoutes	

		@Provide() parentValidator = this.$validator			

		created(){
			this.setEditedCustomRouteId(this.id)
		}
		
		/*
		mounted
		 */
		mounted(){			

			// if from designer
			if(this.fromDesigner){
				this.isReady = true;
				this.toggleFromDesigner(false)	
			}
			// load new routes info if not from from designer
			else{
				this.loadRoute()
				.then((result)=>{				
					this.isReady = true;
				})				
			}
			
			
		}							

		/*
		closeWidget
		 */
		closeWidget(){
			this.$router.push({name:'mainmap'})	
		}		

		/*
		submit
		 */
		submit(){					
			this.VeeValidatorHelperMixin_validateAll('formroute')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			this.updateRoute()
			.then((result)=>{				
				Event.fire('Notification.Success', {message: 'Successfully updated route'})
				this.refreshRoutes()
				this.closeWidget()
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError')
				throw(error)
			})
		}

		/*
		refreshRoutes
		 */
		refreshRoutes(){
			this.clearRouteInstances()			
			this.loadAllRoutes()
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleCustomRouteEdit(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'CustomRoute.Main.Edit')
        }

		
	} // end of class
</script>