<style scoped src="../../../styles/summary-list.scss"></style>
<style scoped>
	.action-btn {
		min-height: 34px;
		min-width: 50px;
	}
	.custom-btn-grp{
		background-color: #047bf8;
	    color: #fff;
	    /*border-radius: 35px;*/
	    border: 1px solid #115eaf;
	}
</style>
<template src="./templates/custom-route-summary.html"></template>

<script>

	/*
	Script start
	 */
	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'	

	import AuthorizationMixin from '../../common/mixins/AuthorizationMixin'	

	const CustomRouteModule = namespace('customRoute')
	const CustomRouteSummaryModule = namespace('customRoute/summary')	
	const CustomRouteEtaModule = namespace('customRoute/eta')
	const MapModule = namespace('map')

	/*
	Class start
	 */
	@Component({
		components: {
			'side-wrapper' : ()=> import('../../common/WidgetContainers/map/SideWrapper'),
			'delete-confirm': ()=> import('../../common/DeleteConfirmation')			
		}
	})
	export default class CustomRouteSummary extends mixins(AuthorizationMixin) {			
		
		@CustomRouteModule.Getter routes
		@CustomRouteModule.Getter routesReady
		@CustomRouteModule.Getter routeInstances
		@MapModule.Getter map

		@CustomRouteSummaryModule.Mutation toggleCustomRouteSummary	
		@CustomRouteSummaryModule.Mutation toggleRouteNameEnabled
		@CustomRouteSummaryModule.Getter routeNameEnabled

		@CustomRouteModule.Mutation clearRouteInstances

		@CustomRouteModule.Action loadAllRoutes	
		@CustomRouteModule.Action removeRoute	
					
		title = 'Show Routes Name'

		mounted(){					
			this.refreshRoutes()
		}
		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})
		}		
				
		/*
		focus to the route
		 */
		focus(selectedRoute){
			if(!selectedRoute.isEnable){ return false }

			// it could also be a point, now we want only the line
			let lineInstance = _.find(this.routeInstances.lines, line => line.def.id == selectedRoute.id ).line

			this.map.fitBounds(lineInstance.getBounds(), {padding: [50, 50]})

			setTimeout(()=>{
				this.closeWidget()
			}, 300)
			
		}

		toggleRouteName(){
            if(this.routeNameEnabled){
            	this.toggleRouteNameEnabled(false)
            	this.refreshRoutes()
            	this.title = 'Show Routes Name'
            }
            else{
            	this.toggleRouteNameEnabled(true)
            	this.refreshRoutes()
            	this.title = 'Hide Routes Name'
            }           
        }

		/*
		refreshRoutes
		 */
		refreshRoutes(){
			this.clearRouteInstances()			
			this.loadAllRoutes()
		}

		/*
		removeRoute
		 */
		deleteRoute({id}){	

			if(!this.AuthorizationMixin_isGranted('Route.Delete')){
				Event.fire('Notification.ClientError', {message:"You don't have permission to remove route"})
				return false
			}

			this.removeRoute(id)
			.then((result)=>{
				Event.fire('Notification.Success', {message: 'Successfully removed route'})
				this.refreshRoutes()
			})			
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleCustomRouteSummary(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'CustomRoute.Side.Summary')
        }
		
	}

</script>