<template src="./templates/custom-route-form.html"></template>
<style scoped src="./templates/custom-route-form.scss"></style>

<script>
	/*
	Script start
	 */
	
	import { Component, Emit, Inject } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)

	// color picker
	import { Sketch } from 'vue-color'

	import { Validator } from 'vee-validate';	
    
	const CustomRouteFormModule = namespace('customRoute/form')
	const CustomRouteEditModule = namespace('customRoute/edit')
	const CustomRouteModule = namespace('customRoute')

	/*
	Class begin 
	 */
	@Component({
		components:{
			'select2': ()=> import('../../common/libs/Select2'),
			'sketch-picker': Sketch
		}
	})
	export default class CustomRouteForm extends Vue {

		@Inject('parentValidator') $validator  

		@CustomRouteFormModule.Getter formData
		@CustomRouteModule.Getter routeDesignerEnabled
		@CustomRouteModule.Getter fromDesigner

		@CustomRouteFormModule.Mutation setFormData
		@CustomRouteFormModule.Mutation setWaypointData
		@CustomRouteFormModule.Mutation addNewWaypoint
		@CustomRouteFormModule.Mutation resetFormData
		@CustomRouteFormModule.Mutation removeWaypoint						
		@CustomRouteEditModule.Mutation setEditedCustomRouteId
		@CustomRouteModule.Mutation toggleFromDesigner			

		/*
		mounted
		 */
		mounted(){			
			if(!this.formData.waypoints.length){this.addNewWaypoint()}
			if(this.fromDesigner){				
				this.removeEmptyCoordinateWaypoints()
				this.toggleFromDesigner(false)
			}			
		}

		/*
		removeEmptyCoordinateWaypoints
		 */
		removeEmptyCoordinateWaypoints(){
			_.filter(this.formData.waypoints, w => !w.latitude || !w.longitude )
			.forEach(w => this.removeWaypoint(w.id))
			
		}		


		/*
		Setters and getters
		 */
		
		get formData_name(){ return this.formData.name }
		get formData_isEnable(){ return this.formData.isEnable }
		get formData_colour(){ return this.formData.color }

		set formData_name(value){ this.setFormData({key:'name', value}) }
		set formData_isEnable(value){ this.setFormData({key:'isEnable', value}) }
		set formData_colour(value){ this.setFormData({key:'color', value}) }

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			if(!this.routeDesignerEnabled){				
				this.resetFormData()				
				this.setEditedCustomRouteId(null)
				Event.fire('Map.Events.Drawing.Do', 'CustomRoute.Form.close')
			}			
		}

		

	}

</script>