<style scoped src="../../../styles/containers/main-section.scss"></style>
<style scoped>
	.btn-save {
	margin-left: 5px;
}
</style>
<template src="./templates/custom-route-create.html"></template>

<script>
	/*
	Script Start
	 */
	import { Component, Emit, Provide } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import vHelper from '../../../helpers/VHelper'
	import Vue from 'vue'

	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'	

	const CustomRouteCreateModule = namespace('customRoute/create')	
	const CustomRouteFormModule = namespace('customRoute/form')	
	const CustomRouteModule = namespace('customRoute')

	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'custom-route-form': ()=> import('./CustomRouteForm')			
		}
	})
	/*
	Class start
	 */
	export default class CustomRouteCreate extends mixins(VeeValidatorHelperMixin) {

		@CustomRouteFormModule.Getter formData	

		@CustomRouteFormModule.Mutation resetFormData
		@CustomRouteCreateModule.Mutation toggleCustomRouteCreate
		@CustomRouteModule.Mutation clearRouteInstances

		@CustomRouteCreateModule.Action storeRoute
		@CustomRouteModule.Action loadAllRoutes	

		@Provide() parentValidator = this.$validator		
				

		/*
		closeWidget
		 */
		closeWidget(widget){			
			this.$router.push({name:'mainmap'})
		}		

		/**
		submit
		 */		
		submit(){					
			this.VeeValidatorHelperMixin_validateAll('formroute')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			this.storeRoute()
			.then((result)=>{			
				Event.fire('Notification.Success', {message: 'Successfully create new route'})
				this.refreshRoutes()
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError')
				throw(error)
			})
			.finally(()=>{
				this.resetFormData()
			})
		}

		/*
		refreshRoutes
		 */
		refreshRoutes(){
			this.clearRouteInstances()			
			this.loadAllRoutes()
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleCustomRouteCreate(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'CustomRoute.Main.Create')
        }
			
		

		
			
	}
		
</script>