<template>	
	<v-fragment>

		<v-leaflet-circle-point
			v-if="route.waypoints.length"
			v-for="point in route.waypoints"
			:key="point.id"
			:map="map"
			:id="point.id"	
			:latitude="point.latitude"
			:longitude="point.longitude"
			:zoom="zoom"
			:opacity="0"	
			:label="getLabel(point.name)"	
			:noStyle="true"
			:noArrow="true"
			@circlePointCreated="storePoint"
			:labelVisibilityZoom="12"
		></v-leaflet-circle-point>	

		<v-leaflet-line						
			v-if="waypointsCoordArr.length"
			:map="map"
			:id="route.id"			
			:latlgt="waypointsCoordArr"						
			:color="route.color"
			:zoom="zoom"			
			:weight="0.5"
			@lineCreated="storeLine"			
		>			
		</v-leaflet-line>			


	</v-fragment>
</template>

<script>
		
	import { Component, Prop, Watch } from 'vue-property-decorator'	
	import Vue from 'vue'
	import { namespace, Getter, Action, Mutation, State } from 'vuex-class'

	import L from 'leaflet';

	import {Plugin as FragmentPlugin} from 'vue-fragments'
  	Vue.use(FragmentPlugin)  	

  	const CustomRouteModule = namespace('customRoute')
  	const CustomRouteSummaryModule = namespace('customRoute/summary')
  	const MapModule = namespace('map')

	@Component({
		components : {
			'v-leaflet-circle-point': ()=> import('../../common/libs/leaflet/CirclePoint'),
			'v-leaflet-line': ()=> import('../../common/libs/leaflet/Line')	
		}
	})	
	export default class MapRoute extends Vue {

		@Prop() route 		

		@MapModule.Getter map
		@MapModule.Getter zoom	

		@CustomRouteModule.Mutation addRouteInstance
		@CustomRouteModule.Getter routeInstances

		@CustomRouteSummaryModule.Getter routeNameEnabled	

		mounted(){
			// setTimeout(()=>{
			// 	console.log(this.routeInstances)
			// }, 3000)
		}

		get waypointsCoordArr(){ 			
			return this.route.waypoints.map( point => [String(point.latitude), String(point.longitude)] )			
		}

		getLabel(name){
			return this.routeNameEnabled ? name : ""
		}

		storeLine(line){ 			
			this.addRouteInstance({type:'lines', instance:line}) 
		}
		storePoint(point){ 
			// no reason to store point at this stage
			this.addRouteInstance({type:'points', instance:point}) 
		}


		
	}
	

</script>