<template>	
	<v-fragment>
		<map-route
			v-if="routes.length"
			v-for="route in routes"
			:key="route.id"
			:route="route"
		></map-route>	
	</v-fragment>
</template>

<script>
		
	import { Component, Prop, Watch } from 'vue-property-decorator'	
	import Vue from 'vue'
	import { namespace, Getter, Action, Mutation, State } from 'vuex-class'

	import {Plugin as FragmentPlugin} from 'vue-fragments'
  	Vue.use(FragmentPlugin)  	

  	const CustomRouteModule = namespace('customRoute')
  	const MapModule = namespace('map')

	@Component({
		components : {
			'map-route' : ()=> import('./MapRoute')
		}
	})	
	export default class MapRoutesLayer extends Vue {		

		@MapModule.Getter map
		@MapModule.Getter zoom
		@CustomRouteModule.Getter routes

		@CustomRouteModule.Action loadAllRoutes		

		mounted(){				
			this.loadAllRoutes()
		}		
		
	}
	

</script>