<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>	
	
	.widget-wrapper.lg.override{
		z-index: 900;
		width: 200px;
		height: calc(100vh - 90px);
		top: 10px;
		left: calc(100% - 210px);
	}

	.widget-wrapper.sm.override{
		z-index: 900;
		width: 150px;
		height: calc(100vh - 100px);
		top: 10;
		left: calc(100% - 160px);
		min-height: initial;
	}

	.tool-title{
		position: relative;
		background-color: #537ba6;
		padding-bottom: 5px;		
	}

	.tool-title .close{
		position: absolute;
		top: 2px;
		right: 5px;
	}

	.tool-title .title{
		font-size: 1rem;
		display: inline-block;
		margin-top:3px;
		margin-left: 5px;
		color: #fff;
	}

	.tool-body{
		padding: 5px;		
	}

	.point-list-container {
		margin-top: 10px;
		height: calc(100vh - 355px);
	}	

	.point-list{		
		margin-top: 10px;
	}

	.point-list-item *:not('.delete') {
		pointer-events: none;
	}	

	.point-list-item:hover {
		background-color: #fff;
	}

	.point-list-item.selected {
		color: red;
	}

	.point-list .latlng {
		font-size: 1rem;
	}

	.point-list ul li {
		display: flex;
		align-items: center;
		margin-left: auto;		
	}

	.point-list ul li:hover {
		cursor: pointer;
	}

	.filler{
	    flex-grow: 1;
	}	

	.actions button {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.btn-group {
	    display: flex;
	    flex-direction: row;
	}

	.btn-group > button {
	    width: 100%;
	}

	.point-details input[type="text"],
	.point-details input[type="number"]{
		padding-top: 0;
    	padding-bottom: 0;
	}	

	.form-group {
		margin-bottom: 0;
	}

	.form-group .col-adjusted {
		padding: 0;
	}

	.point-details {
		background-color: #f3f3f4;
		padding: 5px;
	}		

	.point-details label {
		margin-bottom: 1px;
		font-weight: initial;
	}	

	.point-details .form-group:last-child {
		margin-top: 5px;
	}
	
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>


	<right-wrapper override="true">    	
        <template slot="content">
        	<div class="tool-title">
        		<span class="title">Cable Designer</span>
        		<span class="close cursor-pointer" @click.prevent="$router.back()"><font-awesome-icon :icon="['fas', 'times']" size="sm" :style="{ color: 'white' }" /></span>	
        	</div>
		
			<div class="tool-body">				
				
				<div class="actions">
	        		<div class="btn-group">
	        			<button class="btn btn-default" @click="$router.back()">
	        				<font-awesome-icon :icon="['fas', 'arrow-left']" />
	        			</button>	        			
						<button class="btn btn-default" @click="clearPoints">
							<font-awesome-icon :icon="['fas', 'redo-alt']" />
						</button>										
	        			<button 
	        				class="btn btn-default btn-danger" 
	        				@click="deletePoint" 
	        				:disabled="!selectedPoint"
	        			>
							<font-awesome-icon :icon="['fas', 'trash-alt']" />
	        			</button>	

	        		</div>	        			        		
	        	</div>	        	
				
				<div 
					class="point-list-container" 					
				>
		        	<p class="reset-p">Points</p>
					<hr class="reset-hr">

					<div class="point-list">

						<div v-slimscroll="{height:'100%', width:'100%'}">					
							<ul 
								v-if="shouldShowList" 
								class="todo-list m-t ui-sortable" 
								@mouseleave="clearAllPointHighlight"
							>
		                        <li v-for="point in waypoints" 
		                        	v-if="point.latitude && point.longitude"
		                        	:key="point.id" 		                        	
		                        	class="point-list-item"
		                        	:class="{ 'selected': isPointSelected(point) }"
		                        	@mouseenter="debouncedHighlightPoint(point)"
		                        	@click.prevent = "selectPoint(point)"

		                        >		                        	
		                            <div class="icheckbox_square-green" style="position: relative;">	                            	
		                            	<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">	
		                            	</ins>	                         
		                            </div>
		                            <span class="m-l-xs latlng">{{parseFloat(point.latitude).toFixed(6)}} / {{parseFloat(point.longitude).toFixed(6)}}</span>
		                            <span class="filler"></span>		                            
		                        </li>		                        
		                    </ul>

		                    <ul v-else>
		                    	<li>Please select points</li>
		                    </ul>								
		                    
						</div>

						
					</div> <!-- end point list section -->
				</div>
				
			</div> <!-- end tool body -->
        	

        </template>
    </right-wrapper>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	
	
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Debounce } from 'lodash-decorators';	

	import Vue from 'vue'

	const CableModule = namespace('cable')
	const CableFormModule = namespace('cable/form')	
	const CableEditModule = namespace('cable/edit')
	const MapModule = namespace('map')

/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	@Component({
		components:{
			'right-wrapper': ()=> import('../../common/WidgetContainers/map/RightWrapper'),
			'select2': ()=> import('../../common/libs/Select2')
		}
	})
	export default class CableDesignerControl extends Vue{

		@CableFormModule.Getter formData	
		@CableEditModule.Getter editedCableId
		@CableModule.Getter cableInstances
		@MapModule.Getter map		

		@CableModule.Mutation toggleCableDesigner				
		@CableModule.Mutation toggleFromDesigner
		@CableFormModule.Mutation clearWaypoints
		@CableFormModule.Mutation clearPointHighlight
		@CableFormModule.Mutation togglePointHighlight
		@CableFormModule.Mutation removeWaypoint
		@CableFormModule.Mutation setFormData
		@CableFormModule.Mutation setWaypointData	
		@CableModule.Mutation clearCableInstances


		@CableModule.Action loadAllCables
					
		selectedPoint = null
        debouncedHighlightPoint = _.debounce((point)=>{this.highlightPoint(point)},300)                 

         /*
        mounted
         */
        mounted(){   
        	Event.fire('Map.Events.Drawing.Do', 'Cable.Point.mounted')
        	if(this.editedCableId){
        		this.focus()
        	}
        }        		

        /*
        focus
         */
        focus(){
        	let lineInstance = _.find(this.cableInstances.lines, line => line.def.id == this.editedCableId ).line

			this.map.fitBounds(lineInstance.getBounds(), {padding: [50, 50]})			
        }   		      	    	    	    

    	/*
    	highlightPoint
    	 */    	
    	highlightPoint(point){      		
    		this.clearPointHighlight()
    		this.togglePointHighlight({id:point.id, value:true})
    		Event.fire('Map.Events.Drawing.Do', 'Cable.Point.highlighted')    		
    	}

    	/*
    	clearAllPointHighlight
    	 */    	
    	clearAllPointHighlight(){
    		this.debouncedHighlightPoint.cancel()
    		this.clearPointHighlight()
    		Event.fire('Map.Events.Drawing.Do', 'Cable.Point.unhighlighted')
    	}

    	/*
    	deletePoint
    	 */
    	deletePoint(){    		
    		this.removeWaypoint(this.selectedPoint.id)    		
    		this.selectedPoint = null    		    		
    		Event.fire('Map.Events.Drawing.Do', 'Cable.Point.deleted')    		
    	}

    	/*
    	clearPoints
    	 */
    	clearPoints(){
    		this.clearWaypoints()
    		this.selectedPoint = null    		
    		Event.fire('Map.Events.Drawing.Do', 'Cable.Point.cleared')
    	}

    	/*
    	selectPoint
    	 */
    	selectPoint(point){
    		if( !this.selectedPoint || this.selectedPoint.id !== point.id){
    			this.selectedPoint = point;    			
    		}
    		else{
    			this.selectedPoint = null
    		}    		
    		
    	}

    	/*
    	isPointSelected
    	 */
    	isPointSelected(point){
    		return this.selectedPoint && this.selectedPoint.id == point.id
    	}

    	/*
    	Setters and getters
    	 */
    	get waypoints(){return this.formData.waypoints} 
    	get shouldShowList(){
    		return 	this.waypoints.length > 1 ||
    				(this.waypoints.length == 1 && 
    				this.waypoints[0].latitude && 
    				this.waypoints[0].longitude)
    	}   	    	
    	
		/*
		beforeDestroy
		 */
		beforeDestroy(){
			if(this.editedCableId){this.toggleFromDesigner(true)}
			this.toggleCableDesigner(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){         	
            Event.fire('Map.DeactivateWidget', 'Cable.Right.Designer')
        }
			           	    	  
	} // end class

</script>