<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/cable-edit.html"></template>

<script>
	/*
	Script Start
	 */
	import { Component, Provide, Prop } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'	

	const CableEditModule = namespace('cable/edit')	
	const CableModule = namespace('cable')		

	/*
	Class Start
	 */
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),			
			'cable-form': ()=> import('./CableForm')
		}
	})
	export default class CableEdit extends mixins(VeeValidatorHelperMixin) {			

		isReady = false

		@Prop() id

		@CableModule.Getter fromDesigner

		@CableEditModule.Mutation setEditedCableId
		@CableEditModule.Mutation toggleCableEdit
		@CableModule.Mutation toggleFromDesigner
		@CableModule.Mutation clearCableInstances

		@CableEditModule.Action loadCable
		@CableEditModule.Action updateCable
		@CableModule.Action loadAllCables	

		@Provide() parentValidator = this.$validator			

		created(){
			this.setEditedCableId(this.id)
		}
		
		/*
		mounted
		 */
		mounted(){			

			// if from designer
			if(this.fromDesigner){
				this.isReady = true;
				this.toggleFromDesigner(false)	
			}
			// load new routes info if not from from designer
			else{
				this.loadCable()
				.then((result)=>{				
					this.isReady = true;
				})				
			}
			
			
		}							

		/*
		closeWidget
		 */
		closeWidget(){
			this.$router.push({name:'mainmap'})	
		}		

		/*
		submit
		 */
		submit(){					
			this.VeeValidatorHelperMixin_validateAll('formcable')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			this.updateCable()
			.then((result)=>{				
				Event.fire('Notification.Success', {message: 'Successfully updated cable'})
				this.refreshCables()
				this.closeWidget()
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError')
				throw(error)
			})
		}

		/*
		refreshCables
		 */
		refreshCables(){
			this.clearCableInstances()			
			this.loadAllCables()
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleCableEdit(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'Cable.Main.Edit')
        }

		
	} // end of class
</script>