<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/cable-create.html"></template>

<script>
	/*
	Script Start
	 */
	import { Component, Provide } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import vHelper from '../../../helpers/VHelper'
	import Vue from 'vue'

	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'

	const CableModule = namespace('cable')
	const CableFormModule = namespace('cable/form')	
	const CableCreateModule = namespace('cable/create')
	
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'cable-form': ()=> import('./CableForm')			
		}
	})
	/*
	Class start
	 */
	export default class CustomRouteCreate extends mixins(VeeValidatorHelperMixin) {

		@CableFormModule.Getter formData	

		@CableFormModule.Mutation resetFormData
		@CableCreateModule.Mutation toggleCableCreate
		@CableModule.Mutation clearCableInstances

		@CableCreateModule.Action storeCable
		@CableModule.Action loadAllCables

		@Provide() parentValidator = this.$validator		
				

		/*
		closeWidget
		 */
		closeWidget(widget){			
			this.$router.push({name:'mainmap'})
		}		

		/**
		submit
		 */		
		submit(){				
			this.VeeValidatorHelperMixin_validateAll('formcable')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			this.storeCable()
			.then((result)=>{			
				Event.fire('Notification.Success', {message: 'Successfully create new cable'})
				this.refreshCables()
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError')
				throw(error)
			})
			.finally(()=>{
				this.resetFormData()
			})
		}

		/*
		refreshCables
		 */
		refreshCables(){
			this.clearCableInstances()			
			this.loadAllCables()
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleCableCreate(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'Cable.Main.Create')
        }
			
		

		
			
	}
		
</script>