<template src="./templates/cable-form.html"></template>
<style scoped src="./templates/cable-form.scss"></style>

<script>
	/*
	Script start
	 */
	
	import { Component, Inject } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)

	// color picker
	import { Sketch } from 'vue-color'

	import { Validator } from 'vee-validate';

	// datetimepicker
	import { Datetime } from 'vue-datetime';	
	import 'vue-datetime/dist/vue-datetime.css'	
    
	const CableFormModule = namespace('cable/form')
	const CableEditModule = namespace('cable/edit')
	const CableModule = namespace('cable')

	/*
	Class begin 
	 */
	@Component({
		components:{
			'select2': ()=> import('../../common/libs/Select2'),
			'sketch-picker': Sketch,
			datetime: Datetime			
		}
	})
	export default class CableForm extends Vue {

		@Inject('parentValidator') $validator  

		@CableFormModule.Getter formData
		@CableModule.Getter cableDesignerEnabled
		@CableModule.Getter fromDesigner

		@CableFormModule.Mutation setFormData
		@CableFormModule.Mutation setWaypointData
		@CableFormModule.Mutation addNewWaypoint
		@CableFormModule.Mutation resetFormData
		@CableFormModule.Mutation removeWaypoint						
		@CableEditModule.Mutation setEditedCableId
		@CableModule.Mutation toggleFromDesigner			

		datetime = moment().format('YYYY-MM-DDTHH:mm:ss.SSS[Z]')

		/*
		mounted
		 */
		mounted(){				
			if(!this.formData.waypoints.length){this.addNewWaypoint()}
			if(this.fromDesigner){				
				this.removeEmptyCoordinateWaypoints()
				this.toggleFromDesigner(false)
			}			
			console.log('CABLE-----CABLE', this.formData)
		}

		/*
		removeEmptyCoordinateWaypoints
		 */
		removeEmptyCoordinateWaypoints(){
			_.filter(this.formData.waypoints, w => !w.latitude || !w.longitude )
			.forEach(w => this.removeWaypoint(w.id))			
		}		


		/*
		Setters and getters
		 */
		
		get formData_name(){ return this.formData.name }
		get formData_isEnable(){ return this.formData.isEnable }
		get formData_colour(){ return this.formData.color }
		get formData_location(){ return this.formData.location }
		get formData_date(){ return this.formData.date }
		get formData_description(){ return this.formData.description }

		set formData_name(value){ this.setFormData({key:'name', value}) }
		set formData_isEnable(value){ this.setFormData({key:'isEnable', value}) }
		set formData_colour(value){ this.setFormData({key:'color', value}) }
		set formData_location(value){ this.setFormData({key:'location', value}) }
		set formData_date(value){ this.setFormData({key:'date', value}) }
		set formData_description(value){ this.setFormData({key:'description', value}) }

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			if(!this.cableDesignerEnabled){				
				this.resetFormData()				
				this.setEditedCableId(null)
				Event.fire('Map.Events.Drawing.Do', 'Cable.Form.close')
			}			
		}

		

	}

</script>