<style scoped src="../../../styles/summary-list.scss"></style>
<template src="./templates/cable-summary.html"></template>

<script>
	/*
	Script start
	 */
	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'

	import AuthorizationMixin from '../../common/mixins/AuthorizationMixin'			

	const CableModule = namespace('cable')
	const CableSummaryModule = namespace('cable/summary')		
	const MapModule = namespace('map')

	/*
	Class start
	 */
	@Component({
		components: {
			'side-wrapper' : ()=> import('../../common/WidgetContainers/map/SideWrapper'),
			'delete-confirm': ()=> import('../../common/DeleteConfirmation')
		}
	})
	export default class CableSummary extends mixins(AuthorizationMixin) {

		@CableModule.Getter cables
		@CableModule.Getter cablesReady
		@CableModule.Getter cableInstances
		@MapModule.Getter map

		@CableSummaryModule.Mutation toggleCableSummary
		@CableModule.Mutation clearCableInstances

		@CableModule.Action loadAllCables
		@CableModule.Action removeCable

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})			
		}

		/*
		focus to the cable
		 */
		focus(selectedCable){
			if(!selectedCable.isEnable){ return false }

			// it could also be a point, now we want only the line
			let lineInstance = _.find(this.cableInstances.lines, line => line.def.id == selectedCable.id ).line

			this.map.fitBounds(lineInstance.getBounds(), {padding: [50, 50]})

			// setTimeout(()=>{
			// 	this.closeWidget()
			// }, 300)

			this.$nextTick(()=>{
				this.closeWidget()
			})
			
		}

		/*
		refreshCables
		 */
		refreshCables(){
			this.clearCableInstances()			
			this.loadAllCables()
		}

		/*
		removeCable
		 */
		deleteCable({id}){
			if(!this.AuthorizationMixin_isGranted('Cable.Delete')){
				Event.fire('Notification.ClientError', {message:"You don't have permission to remove cable"})
				return false
			}

			this.removeCable(id)
			.then((result)=>{
				Event.fire('Notification.Success', {message: 'Successfully removed cable'})
				this.refreshCables()
			})			
		}

		/**
         * Component beforeDestroy lifecycle hooks
         * @return void
         */
		beforeDestroy(){
			this.toggleCableSummary(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){ 
        	// Event.remove(['Map.ActivateWidget', 'Map.ClearWidget'])           
            Event.fire('Map.DeactivateWidget', 'Cable.Side.Summary')
        }		

	}
		
</script>