<template>	
	<v-fragment>

		<v-leaflet-circle-point
			v-if="cable.waypoints.length"
			v-for="point in cable.waypoints"
			:key="point.id"
			:map="map"
			:id="point.id"	
			:latitude="point.latitude"
			:longitude="point.longitude"
			:zoom="zoom"
			:opacity="0"				
			:noStyle="true"
			:noArrow="true"
			@circlePointCreated="storePoint"
		></v-leaflet-circle-point>	

		<v-leaflet-line						
			v-if="waypointsCoordArr.length"
			:map="map"
			:id="cable.id"			
			:latlgt="waypointsCoordArr"						
			:color="cable.color"
			:zoom="zoom"			
			:weight="0.5"
			@lineCreated="storeLine"			
		>			
		</v-leaflet-line>			


	</v-fragment>
</template>

<script>
		
	import { Component, Prop, Watch } from 'vue-property-decorator'	
	import Vue from 'vue'
	import { namespace, Getter, Action, Mutation, State } from 'vuex-class'

	import L from 'leaflet';

	import {Plugin as FragmentPlugin} from 'vue-fragments'
  	Vue.use(FragmentPlugin)  	

  	const CableModule = namespace('cable')
  	const MapModule = namespace('map')

	@Component({
		components : {
			'v-leaflet-circle-point': ()=> import('../../common/libs/leaflet/CirclePoint'),
			'v-leaflet-line': ()=> import('../../common/libs/leaflet/Line')	
		}
	})	
	export default class MapCable extends Vue {

		@Prop() cable 		

		@MapModule.Getter map
		@MapModule.Getter zoom	

		@CableModule.Mutation addCableInstance
		@CableModule.Getter routeInstances

		mounted(){
			// setTimeout(()=>{
			// 	console.log(this.routeInstances)
			// }, 3000)
		}

		get waypointsCoordArr(){ 				
			return this.cable.waypoints.map( point => [String(point.latitude), String(point.longitude)] )			
		}

		storeLine(line){ 			
			this.addCableInstance({type:'lines', instance:line}) 
		}
		storePoint(point){ 
			// no reason to store point at this stage
			this.addCableInstance({type:'points', instance:point}) 
		}


		
	}
	

</script>