<template>	
	<v-fragment>
		<map-cable
			v-if="cables.length"
			v-for="cable in cables"
			:key="cable.id"
			:cable="cable"
		></map-cable>	
	</v-fragment>
</template>

<script>
		
	import { Component, Prop, Watch } from 'vue-property-decorator'	
	import Vue from 'vue'
	import { namespace, Getter, Action, Mutation, State } from 'vuex-class'

	import {Plugin as FragmentPlugin} from 'vue-fragments'
  	Vue.use(FragmentPlugin)  	

  	const CableModule = namespace('cable')
  	const MapModule = namespace('map')

	@Component({
		components : {
			'map-cable' : ()=> import('./MapCable')
		}
	})	
	export default class MapCablesLayer extends Vue {		

		@MapModule.Getter map
		@MapModule.Getter zoom
		@CableModule.Getter cables

		@CableModule.Action loadAllCables

		mounted(){				
			this.loadAllCables()
		}		
		
	}
	

</script>