<main-wrapper :scroller="true">
	<template slot="scroll-content">

		<div class="row">
			<div class="col-sm-12">
				<h1 class="title">Add Filter <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1>	
			</div>
		</div>

	</template>
</main-wrapper>