<template>
	<div>
		<radial-gauge :value="val" :options="option"></radial-gauge>
	</div>
</template>
<style scoped>
	.form-control {
		width: 65px;
		display: inline-block;
	}
</style>
<script>
	
	/*
	Script start
	 */
	
	import { Component, Prop } from 'vue-property-decorator'
	import Vue from 'vue'
	import RadialGauge from 'vue2-canvas-gauges/src/RadialGauge'

	/*
	Class start
	 */
	@Component({
		components: {			
			RadialGauge
		}
	})
	export default class WaveDirectionGauge extends Vue {

		@Prop() val
		// @Prop() options

		option={
        	width: 200,
          	height: 200,
        	minValue: 0,
		    maxValue: 360,
		    majorTicks: [
		        "0",
		        "30",
		        "60",
		        "90",
		        "120",
		        "150",
		        "180",
		        "210",
		        "240",
		        "270",
		        "300",
		        "330",
		        "0"
		    ],
		    minorTicks: 25,
		    ticksAngle: 360,
		    startAngle: 180,
		    strokeTicks: false,
		    highlights: false,
		    colorPlate: "#222",
		    colorMajorTicks: "#f5f5f5",
		    colorMinorTicks: "#ddd",
		    colorNumbers: "#ccc",
		    // colorNeedle: "rgba(240, 128, 128, 1)",
		    // colorNeedleEnd: "rgba(255, 160, 122, .9)",
		    valueBox: false,
		    valueTextShadow: false,
		    colorNeedleCircleInner: 'black',
		    colorNeedle: 'red',
		    colorNeedleEnd: 'red',
		    colorNumbers: "#eee",
		    colorPlate: "#222",
		    borders: true,
		    borderInnerWidth: 0,
		    borderMiddleWidth: 0,
		    borderOuterWidth: 10,
		    colorBorderOuter: "#ccc",
		    colorBorderOuterEnd: "#ccc",
		    colorNeedleShadowDown: "#222",
		    borderShadowWidth: 0,
		    valueBox: false,
		    animationDuration: 2500
		        }


		beforeDestroy(){
			// this.clearFormData()
		}
	}


</script>