<!--
########   ########   ##     ##  ########   ##            ###     ########   ########
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######
   ##      ##         ##     ##  ##         ##         #########     ##      ##
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########
 -->
<template>
    <component :is="layout">
        <router-view></router-view>
    </component>
</template>

<!--
 ######     ######    ########   ####  ########   ########
##    ##   ##    ##   ##     ##   ##   ##     ##     ##
##         ##         ##     ##   ##   ##     ##     ##
 ######    ##         ########    ##   ########      ##
      ##   ##         ##   ##     ##   ##            ##
##    ##   ##    ##   ##    ##    ##   ##            ##
 ######     ######    ##     ##  ####  ##            ##
 -->
<script>

    const default_layout = 'main'

	import { Component } from 'vue-property-decorator'  
	import { namespace, Mutation } from 'vuex-class'
	import vesselInfoHelper from './helpers/vesselinfo'
	import { Debounce } from 'lodash-decorators'	
	
	import { mixins } from 'vue-class-component'     
	import ErrorHandlerMixin from './components/common/mixins/ErrorHandlerMixin'
	import UserPersonalizationMixin from './components/common/mixins/UserPersonalizationMixin'
	import TenantPersonalizationMixin from './components/common/mixins/TenantPersonalizationMixin'
	import HostPersonalizationMixin from './components/common/mixins/HostPersonalizationMixin'
	import UserPersonalizationHelper from './helpers/userPersonalization'
	import TenantPersonalizationHelper from './helpers/tenantPersonalization'
	import HostPersonalizationHelper from './helpers/hostPersonalization'

	import beforeunloadRequest from 'beforeunload-request';

	const AppScreenSizeModule = namespace('app/screensize')
	const VesselNameModule = namespace('vesselList/toolbar/vesselName')
	const AuthorizationModule = namespace('auth/authorization')
	const MapModule = namespace('map')

	import utilHelper from './helpers/util'
	const host = `${utilHelper.getProtocol()}://${window.location.hostname}:${utilHelper.getWebAdminApiPort()}`

	// slimscroll
	import VueSlimScroll from 'mdm-vue-slimscroll'
	Vue.use(VueSlimScroll)

	// Vuebar (slimscroll)
	import Vuebar from 'vuebar';
	Vue.use(Vuebar);

 	// Validator using vee-validator
	import VeeValidate from 'vee-validate';
	Vue.use(VeeValidate);

	// Custom validations	
	import customValidations from './validations/custom-validations'

	// Validator localization (ignore for now)
	// import validatorLocalization from './validations/localizations'

/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/	
	@Component
	export default class App extends mixins(
			ErrorHandlerMixin, 
			UserPersonalizationMixin,
			TenantPersonalizationMixin,
			HostPersonalizationMixin
		){

		@MapModule.Getter zoom
		@MapModule.Getter map
		@AuthorizationModule.Getter userLevel

		@AppScreenSizeModule.Getter screenSize

		@AppScreenSizeModule.Mutation setScreenSize	
		@VesselNameModule.Mutation addFlag

		@AuthorizationModule.Action loadPermissions 


		async created(){			

			// console.log("%c route: ", conStyle.boldRed, this.$route)
			// window.onerror = (msg, url, line, col, error) => {				
			//  console.log("%cSTANDARD ERROR", conStyle.boldBlue)					
			// 	this.ErrorHandlerMixin_Handle(event, event.reason.status) 				
			// }

 			window.addEventListener('unhandledrejection', (event)=> {
 				// console.log("%cPROMISE ERROR", conStyle.boldBlue)					
				this.ErrorHandlerMixin_Handle(event, event.reason.status)
			});

			Vue.config.errorHandler = function (err, vm, info) {
			  	console.error(err)
			}

			Vue.config.warnHandler = function (msg, vm, trace) {

			  	if(
			  		msg == 'The computed property "fields" is already defined in data.' ||
			  		msg == 'The computed property "fields" is already defined as a prop.'
			  	){
			  		// do nothing
			  	}
			  	else{
			  		console.error(msg)
			  		console.error(trace)
			  	}
			}

			// this will only be triggered before logout and reload page while still logged in
			window.addEventListener('beforeunload', async (event) => {				

				try{								

					// just a quick check to see if the request from after logged in or before
					// basically when not login, theres no map store
					if(!this.map){throw new Error('window:onbeforeunload:Store Not Available')}

					const token = localStorage.token ? localStorage.token : this.UserPersonalizationMixin_getToken()
					let tenantId = localStorage.tenantId ? localStorage.tenantId : this.TenantPersonalizationMixin_getTenantId()
					if(tenantId == 'null' || _.isNull(tenantId)){tenantId = null}


					const userData = {
						items: [						
							{
								key:"app",
								value: JSON.stringify(this.UserPersonalizationMixin_collectApp())							
							},
							{						
								key:"mapView",
								value: JSON.stringify(this.UserPersonalizationMixin_collectMapView())							
							},
							{
								key:"selectedFilter",
								value: JSON.stringify(this.UserPersonalizationMixin_collectFilter())								
							},
							{
								key:"selectedVessel",
								value: JSON.stringify(this.UserPersonalizationMixin_collectSelectedVessel())								
							},
							{
								key:"vesselListToolbar",
								value: JSON.stringify(this.UserPersonalizationMixin_collectVesselListToolbar())									
							},
							{
								key:"colorScheme",
								value: JSON.stringify(this.UserPersonalizationMixin_collectColorScheme())							
							},
							{
								key: 'table',
								value: JSON.stringify(this.UserPersonalizationMixin_collectTable())							
							}
						],
						userLevel: 'TenantUser',							
						tenantId
					}					
								

					// update the localstorage to be used in next open and close
					UserPersonalizationHelper.storePersonalizations({personalizations:userData.items})

					const success = beforeunloadRequest(`${host}/api/Personalization/bulk`, {
				 	    method:'POST',
                        body: JSON.stringify(userData),
                        headers: {
                                "Authorization": `Bearer ${token}`,
                                "Content-Type": "application/json"
                                //"X-Requested-With": "XMLHttpRequest"
                        }
                    })                    

                    if(this.userLevel == 'TenantAdmin'){
                    	const tenantData = {
                    		items:[
								{
									key:"theme",
									value: this.TenantPersonalizationMixin_collectTheme()
								},
								{
									key:"colorScheme",
									value: JSON.stringify(this.TenantPersonalizationMixin_collectColorScheme())
								}
							],
							userLevel: 'TenantAdmin',
							tenantId
                    	}
                    																														
						// update the localstorage to be used in next open and close
						TenantPersonalizationHelper.storePersonalizations({personalizations:tenantData.items})
											                   
	                    const success = beforeunloadRequest(`${host}/api/Personalization/bulk`, {
					 	    method:'POST',
	                        body: JSON.stringify(tenantData),
	                        headers: {
	                                "Authorization": `Bearer ${token}`,
	                                "Content-Type": "application/json",
	                                //"X-Requested-With": "XMLHttpRequest"
	                        }
	                    })	                    

                    }

                    if(this.userLevel == 'HostAdmin'){
                    	const hostData = {
                    		items:[								
								{
									key:"colorScheme",
									value: JSON.stringify(this.HostPersonalizationMixin_collectColorScheme())
								}
							],
							userLevel: 'HostAdmin',
							tenantId:null
                    	}

                    	// update the localstorage to be used in next open and close
						HostPersonalizationHelper.storePersonalizations({personalizations:hostData.items})						


						 const success = beforeunloadRequest(`${host}/api/Personalization/bulk`, {
					 	    method:'POST',
	                        body: JSON.stringify(hostData),
	                        headers: {
	                                "Authorization": `Bearer ${token}`,
	                                "Content-Type": "application/json",
	                                //"X-Requested-With": "XMLHttpRequest"
	                        }
	                    })						
                    }
					                   
				}
				catch(error){
					console.error(error.message)	
				}
											    
			});
		}		
			
		
		get layout(){				
			return `${(this.$route.meta.layout || default_layout)}-layout`
		}

		mounted(){

			console.log("%cApp Reloaded", conStyle.boldBlue)
			console.log("%c this.$route.params.tenant:", conStyle.boldRed, this.$route.params.tenant)

			document.title = this.getPageTitle();			
			
			// load permissions only after logged in
			if(localStorage.token){				
				this.loadPermissions()
			}
			
			this.setScreenSize($(document).width())			
			$(window).on('resize', ()=> {
				this.setScreenSize($(window).width())				
			})			
		} // end mounted

		getPageTitle(){
			if(localStorage.tenantName){
				return localStorage.tenantName !== 'admin' ? localStorage.tenantName : "Maritime Domain Management"
			}
			else{
				return this.$route.params.tenant !== 'admin' ? '\u200E' : "Maritime Domain Management"
			}
			
		}
				
	} // end class

</script>
