<template>
    <div>
    	<user-list v-if="userListEnabled" @close-main-pane="toggleUserMainPane(false)"></user-list>
    </div>
</template>

<script>
	import Vue from 'vue'
    import { Component, Watch} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 
    
    const UserModule = namespace('users')  
    const UserListModule = namespace('users/list')

    @Component({
        components: {
            'user-list': () => import('./UserList')
        }
    })
    export default class UserMainPane extends Vue {

        @UserModule.Mutation toggleUserMainPane
        @UserListModule.Getter('enabled') userListEnabled

        @Watch('userListEnabled')
        userListChanged(newValue){
            console.log(newValue)
        }

    }
</script>