<style scoped src="./templates/user-list.scss"></style>
<template src="./templates/user-list.html"></template>

<script>
	
	import Vue from 'vue'
	import { Component, Emit } from 'vue-property-decorator'	
	import { namespace, Getter, Action, Mutation, State } from 'vuex-class'

	const UserListModule = namespace('users/list')  

	@Component({
		components:{
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper')	
		}		
	})
	export default class UserList extends Vue {

		@UserListModule.Mutation toggleUserList
		@UserListModule.Action loadUserList

		created(){
			Event.listen('Map.ActivateWidget', (widget)=>{if(widget !== 'User.Main.List'){this.closeWidget(widget)}})	
			Event.listen('Map.ClearWidget', ()=>{this.closeWidget()})
		}					

		closeWidget(widget){
			this.toggleUserList(false)
			if( typeof widget == 'undefined' || `${widget.split(".")[0]}.${widget.split(".")[1]}` !== 'User.Main' ){this.closeMainPane()}			
		}

		mounted(){
			this.loadUserList()
		}

		@Emit()
		closeMainPane(){}
	}

</script>