/*

Main styling for side menu list item

 */

.nav > li > a{
	padding-left: 13px;
	border-bottom: 1px solid rgba(255,255,255,.1);
}
.nav > li > a:focus{
    background: #313b56;
}
.padding-left-10pt{
    padding-left: 10px;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-vtooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-vtooltip]:before,
[data-vtooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-vtooltip]:before {

    content: attr(data-vtooltip);


      width: max-content;
	  background-color: rgba(29, 38, 62, 0.95);
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  padding: 3px 7px;
	  position: absolute;
	  z-index: 1;
	  top: 16px;
	  left: 110%;
	  display: block !important;
	  font-size: 12px;
	  -webkit-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out;
	  font-weight: 500;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-vtooltip]:after {
    /*position: absolute;
    left: 110%;
    margin-left: -5px;
    width: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 5px solid rgba(29, 38, 62, 0.95);
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    top: -5px;
    transition: all .3s ease-in-out; */
}

/* Show tooltip content on hover */
[data-vtooltip]:hover:before,
[data-vtooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
img.route{
  width: 26px;
}

/*toggle button minimize*/

.toggle-button {
    background-color: #313b56;
    position: absolute;
    left: 55px;
    width: 25px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    top: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: white;
}

span.badge#eics-count {
  display: block;
  background: red;
    color: white;
    position: absolute;
    left: 30px;
    top: 5px;
}
