<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.weather'}">Weather</router-link></li>
        		<li class="active">Weather Historical Data</li>
        	</ul>
        	<div class="content">
        		
        		<p><b>1) View Chart</b></p>

        		<p>1. By default, Historical Data will show data by chart. Fill the Starting Date and Ending Date or choose Time Span to view data based on timespan.</p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="weatherImg1"></p>
        		
        		<p>2. Highlight the chart to zoom and click Reset Zoom button to exist zoom section.</p>
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="weatherImg2"></p>
        		<p><img @click.prevent="showVesselImage('img3')" class="myImg" :src="weatherImg3"></p>

        		<p>3. Click the "Burger" button, it will pop up a few options such as view in full screen, print chart, download PNG image, JPEG image, PDF document, SVG vector image, CSV, XLS, view datatable and open in Highcharts Cloud.</p>
        		<p><img @click.prevent="showVesselImage('img4')" class="myImg" :src="weatherImg4"></p>
				
				<p><b>2) View Table</b></p>
        		<p>1. Click the View Table button to view historical data by table. Fill the Starting Date and Ending Date or choose Time Span to view data based on timespan.</p>
        		<p><img @click.prevent="showVesselImage('img5')" class="myImg" :src="weatherImg5"></p>
        		<p>2. Click "Edit Column" button to edit the sequence or disable column of table list. Drag the field that want to disable or edit the sequence in table list. </p>
        		
        	</div>
        	<div class="" role="group" aria-label="...">							
					<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Historical Data"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import weatherImg1 from '../../../../../images/help-topic/weather-3.png'
	import weatherImg2 from '../../../../../images/help-topic/weather-4.png'
	import weatherImg3 from '../../../../../images/help-topic/weather-5.png'
	import weatherImg4 from '../../../../../images/help-topic/weather-6.png'
	import weatherImg5 from '../../../../../images/help-topic/weather-7.png'
	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')	
		}
	})
	export default class InstrumentPanelContent extends Vue{

		showModal = false
		modalImg = ''
		weatherImg1 = weatherImg1
		weatherImg2 = weatherImg2
		weatherImg3 = weatherImg3
		weatherImg4 = weatherImg4
		weatherImg5 = weatherImg5

		showVesselImage(img){
			const images = {
				img1 : weatherImg1,
				img2 : weatherImg2,
				img3 : weatherImg3,
				img4 : weatherImg4,
				img5 : weatherImg5,
			}
			this.modalImg = images[img]
			this.showModal = true

		}
		
	}
</script>