<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.weather'}">Weather</router-link></li>
        		<li class="active">Instrument Panel</li>
        	</ul>
        	<div class="content">
        		
        		<p><b>1) View Instrument Panel</b></p>

        		<p>1. Click the Weather button <img class="small-icon" :src="require('../../../../../images/help-topic/weather-icon.png')"> in the side menu to open the Weather station Panel in a new window. </p>
        		<p>Select Weather Station from weather station list</p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="weatherImg1"></p>
        		
        		<p>2. Select 'All' from the Area drop-down list to view the list of all weather station in the system. Select 'Screen' from the Area drop-down list to view only those weather station visible on your current map view. </p>
        		<p>3. Use the Refresh every field to automatically refresh the instrument panel. </p>
        		<p>4. Use the Weather Station Location drop-down list to specify the weather station data. </p>
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="weatherImg2"></p>
        		
        	</div>
        	<div class="" role="group" aria-label="...">							
					<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Instrument Panel"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import weatherImg1 from '../../../../../images/help-topic/weather-1.png'
	import weatherImg2 from '../../../../../images/help-topic/weather-2.png'
	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')	
		}
	})
	export default class InstrumentPanelContent extends Vue{

		showModal = false
		modalImg = ''
		weatherImg1 = weatherImg1
		weatherImg2 = weatherImg2

		showVesselImage(img){
			const images = {
				img1 : weatherImg1,
				img2 : weatherImg2,
			}
			this.modalImg = images[img]
			this.showModal = true

		}
		
	}
</script>