<main-wrapper :scroller="true">
    <template slot="scroll-content">	


            <h1 class="title" style="color:#116fff; font-weight: 500;"> Alarm Notification <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1>                                        

			<div class="row">
				<div class="col-sm-12">
					<div class="tab">
						
						<!-- header -->
						<div class="row header">
							<div class="col-sm-12">
								<div>									
									
									<p 
										class="all cursor-pointer" 
										:class="{active:activeTab == 'all'}"
										@click="switchTab('all')"
									>All</p>

									<p 
										class="unread cursor-pointer" 
										:class="{active:activeTab == 'unread'}"
										@click="switchTab('unread')"
									>Unread <span class="badge">1</span></p>

									<p 
										class="read cursor-pointer" 
										:class="{active:activeTab == 'read'}"
										@click="switchTab('read')"
									>Read</p>
								</div>
							</div>
						</div>

						<!-- content -->
						
						<div class="row content">												
							<div class="col-sm-12">


								<notification-table
									:fields="fields"
									:data="alerts"
									:borderedTable="true"
								>
								</notification-table>
							</div>									
						</div>	
						
						

					</div>
				</div>
			</div>			
            
    </template>
</main-wrapper>