<template>
	<div>
		
        <admin-side-nav></admin-side-nav>
	    
	    <div id="page-wrapper" class="gray-bg">

	        <top-navbar></top-navbar>
	      
	        <slot/>	           	       

	    </div>
    </div>

</template>

<script>
	import Vue from 'vue'
    import { Component } from 'vue-property-decorator'

    @Component({
    	components:{
    		'top-navbar' : ()=> import('../common/TopNavBar.vue'),
    		'admin-side-nav' : ()=> import('../common/AdminNavigation.vue')    		
    	}
    })
    export default class AdminLayout extends Vue {
    	

    }
</script>