<style scoped>
    #page-wrapper{
        padding: 0px;
    }    

    .advance {
        display: inline-block;
        margin-top: 5px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        color: white;
        font-family: "Montserrat";
        font-size: 0.8em;
        float: left;
    }
        
    .advance.active {
        background-color: #ffffff;
        color: cornflowerblue;
        height: 37px;
        z-index: 1000;
    } 

    @media screen and (max-width: 570px){
        .advance {
            margin-top: 9px;
            text-indent: -9999px;
            background:url('../../../images/advance-search.svg') no-repeat;
        }
        .active {
            background:url('../../../images/advance-search-hover.svg') no-repeat;
            color: cornflowerblue;
            height: 37px;
            z-index: 1000;
        } 
    }   
    
</style>

<template>
	<div :class="theme" data-component="MainLayout">
		<side-nav></side-nav>
	    
	    <div id="page-wrapper" class="gray-bg">

            <!-- top-navbar -->
	        <top-navbar>
                
                <template slot="navbar-mid-content">
                    
                    <vessel-search-bar></vessel-search-bar>
                                        
                        <!-- <a href="#" 
                            class="advance" 
                            :class="{ 'active':advancedSearchEnabled }" 
                            @click.prevent="toggleMenu"
                            v-if="isXsAndLarger"
                        >
                        Advanced Search</a>     -->

                    
                </template>                

                <template slot="navbar-bottom">
                    <vessel-search-bar-suggestion></vessel-search-bar-suggestion>
                </template>

            </top-navbar>
	      
            <!-- content -->
	        <slot/>

            <!-- <app-footer></app-footer> -->
	                   
	    </div>
    </div>

</template>

<script>
	import Vue from 'vue'
    import { Component } from 'vue-property-decorator'
    import { namespace, Mutation, Getter } from 'vuex-class'

    import TenantPersonalizationStorageHelper from '../../helpers/tenantPersonalization'

    import store from 'store'

    const AppModule = namespace('app')
    const VesselSearchModule = namespace('vesselsearch')
    const AppScreenSizeModule = namespace('app/screensize')    

    @Component({
    	components:{
            'vessel-search-bar': ()=>import('../map/search/VesselSearchBar'),
            'vessel-search-bar-suggestion': ()=>import('../map/search/VesselSearchBarSuggestion'),            
    		'top-navbar' : ()=> import('../common/TopNavBar'),
    		'side-nav' : ()=> import('../common/Navigation/Navigation')            
    	}
    })
    export default class MainLayout extends Vue {  

        @VesselSearchModule.Mutation toggleAdvancedSearch  

        @VesselSearchModule.Getter advancedSearchEnabled   
        @AppScreenSizeModule.Getter isXsAndLarger 

        @AppModule.Getter theme        
        
        toggleMenu(){
            if(!this.advancedSearchEnabled){
                Event.fire('Map.ActivateWidget', 'AdvancedSearchForm')
                this.toggleAdvancedSearch(true)
            }
            else{
                this.toggleAdvancedSearch(false)
            }           
        }

    }
</script>