<template src="./templates/location-form.html"></template>

<script>
	
	/*
	Script start
	 */
	
	import { Component, Watch, Inject } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'

	const LocationFormModule = namespace('locations/form')
	const LocationModule = namespace('locations')

	/*
	Class start
	 */
	@Component
	export default class LocationForm extends Vue {

		@Inject('parentValidator') $validator

		@LocationFormModule.Getter formData
		@LocationModule.Getter locationDesignerEnabled
		@LocationFormModule.Mutation clearFormData      
		@LocationFormModule.Mutation updateFormData
		@LocationFormModule.Mutation setWaypointData

		/*
		form v-model
		 */
		// form Datas v-model binding
		get name(){return this.formData.name}
		get latitude(){ return this.formData.latitude }
		get longitude(){ return this.formData.longitude }
		get zoomLevel(){ return this.formData.zoomLevel }

		set name(value){ this.updateFormData({key: 'name', value}) }
		set latitude(value){ this.updateFormData({key: 'latitude', value}) }
		set longitude(value){ this.updateFormData({key: 'longitude', value}) }
		set zoomLevel(value){ this.updateFormData({key: 'zoomLevel', value}) }

		mounted(){
			// console.log(this.formData)
		}
		/*
		beforeDestroy
		 */
		beforeDestroy(){
			if(!this.locationDesignerEnabled){				
				this.clearFormData()				
				Event.fire('Map.Events.Drawing.Do', 'Location.Form.close')
			}			
		}
	}


</script>