<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../styles/containers/main-section.scss"></style>
<style scoped>
	.table{
		font-size:14px !important;
	}
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template src="./templates/location-create.html"></template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>	
	import { Component, Watch, Provide } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import { Bind, Debounce } from 'lodash-decorators'
	import Vue from 'vue'

	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'	

	import utilHelper from '../../../helpers/util'

	const LocationCreateModule = namespace('locations/create')
	const LocationUpdateModule = namespace('locations/update')
	const LocationFormModule = namespace('locations/form')
	const LocationModule = namespace('locations')
	const MapModule = namespace('map')

/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	@Component({
		components: {
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'confirm-modal' : ()=> import('../../common/libs/Confirm'),
			'location-form' : ()=> import('./LocationForm'),
			'local-data-table' : ()=>import('../../common/libs/vuetable/LocalTable')
		}
	})
	export default class LocationCreate extends mixins(VeeValidatorHelperMixin) {

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/
		@Provide() parentValidator = this.$validator

		@LocationCreateModule.Mutation toggleLocationCreate		
		@LocationUpdateModule.Mutation toggleLocationUpdate		
		@LocationFormModule.Mutation clearFormData	
		@LocationFormModule.Mutation updateFormData	
		@LocationFormModule.Mutation setField

		@LocationModule.Getter('tableData') tablesData
		@LocationFormModule.Getter formData
		@LocationFormModule.Getter field
		@LocationModule.Getter tableColumn		
		@MapModule.Getter map

		@LocationCreateModule.Action createLocations
		@LocationModule.Action deleteLocation
		@LocationModule.Action loadLocations

		showDeleteLocationConfirmation = false

		selectedLocation = {}

		tTableData = []
		tableData = []


/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/
		mounted(){
			this.updateTableData()
		}

		viewLocation({data:{Latitude, Longitude, zoomLevel}}){			
			this.closeWidget()			
			this.map.setZoom(zoomLevel)
        	setTimeout(()=>{this.map.panTo(L.latLng(Latitude, Longitude))}, 300)
		}	

		editLocation({data,index}){			
			this.selectedLocation = data
			this.$router.push({name:'map.location.main.edit', params: {id:this.selectedLocation.id}})
		}	

		removeLocation({data}){
			this.showDeleteLocationConfirmation = true
			this.selectedLocation = data
		}

		/*
		doRemoveLocation
		 */		
		doRemoveLocation(){
			this.deleteLocation(this.selectedLocation.id)
			.then((result)=>{
				this.updateTableData()
				Event.fire('Notification.Success', {message:"Successfully Remove Location"})
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError', {message: "Error Removing Location"}) 
				throw(error)

			})
			.finally(()=>{
				this.showDeleteLocationConfirmation = false	
			})
			
		}

		/*
		cancelRemoveLocation
		 */
		cancelRemoveLocation(){
			this.showDeleteLocationConfirmation = false
		}

		/*
		confirmRemoveContent
		 */
		get confirmRemoveContent(){			
			return `Confirm to remove location: ${this.selectedLocation.Name}`
		}		

		/*
		locationSave
		 */
		locationSave(){	
		
			this.VeeValidatorHelperMixin_validateAll('formLocation')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}
		doSubmit(){
			this.createLocations()
			.then((result)=>{
				Event.fire('Notification.Success', {message:"Successfully Create New Location"})
				this.updateTableData()
				this.clearFormData()
			})				
		}		

		get tableFields(){			
			return this.field
		}

		get sortFieldByType(){
			const sortFields = [
				{
					direction: "asc",
	                field: "Name",
	                sortField: "Name"
				}
			]
			return sortFields
		}

		filterOnSearchData(){			
			if(this.formData.searchTerm){				
				this.tTableData = this.tTableData.filter((td)=>{					
					const values = Object.values(td)
					const re = new RegExp(this.formData.searchTerm, 'i');												
					let found = false

					for(const v of values){
						if(String(v).match(re)){
							found = true
							break;
						}
					}

					return found
				})	
			}			
			
			return this
		}


		getTableData(){
			return this.tTableData
		}

		updateTableData(){	
			this.tTableData = _.cloneDeep(this.tablesData)		
			this.tableData = this.filterOnSearchData().getTableData()
		}

		/*
		search
		 */
		search(searchTerm){
			this.updateFormData({key:'searchTerm', value:searchTerm})
			this.updateTableData()			
		}

		/*
		updateField
		 */
		@Bind()
		@Debounce(300)
		updateField(field){
			this.setField(field)	
		}
		/*
		closeWidget
		 */
		closeWidget(){
			this.$router.push({name:'mainmap'})
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleLocationCreate(false)
		}

		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){			
			Event.fire('Map.DeactivateWidget', 'Location.Main.Create')
		}

		
		
	}

</script>