<style scoped src="../../../styles/summary-list.scss"></style>
<template src="./templates/location-summary.html"></template>

<script>

	/*
	Script start
	 */

	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'
	import L from 'leaflet';

	import AuthorizationMixin from '../../common/mixins/AuthorizationMixin'	

	const LocationModule = namespace('locations')
	const LocationSummaryModule = namespace('locations/summary')	
	const LocationUpdateModule = namespace('locations/update')	
	const MapModule = namespace('map')

	/*
	Class start
	 */
	@Component({
		components: {
			'side-wrapper' : ()=> import('../../common/WidgetContainers/map/SideWrapper'),			
			'delete-confirm' : ()=> import('../../common/DeleteConfirmation')
		}
	})
	export default class LocationSummary extends mixins(AuthorizationMixin) {

		@LocationSummaryModule.Mutation toggleLocationSummary						
		
		@LocationModule.Getter locations
		@MapModule.Getter map

		@LocationModule.Action loadLocations
		@LocationModule.Action deleteLocation		

		/*
		mounted
		 */
		mounted(){
			this.loadLocations()
			.then(
				(response) => {
					console.log(response)
				}
			)
		}				

		/*
		applyLocation
		 */
		applyLocation(lat, lng, zoomLvl){			
			this.map.setZoom(zoomLvl)
        	setTimeout(()=>{this.map.panTo(L.latLng(lat, lng))}, 300)
		}					

		removeLocation({id}){	

			if(!this.AuthorizationMixin_isGranted('Location.Delete')){
				Event.fire('Notification.ClientError', {message:"You don't have permission to remove location"})
				return false
			}					

			this.deleteLocation(id)
			.then((result)=>{
				this.loadLocations()
				Event.fire('Notification.Success', {message:"Successfully Remove Location"})
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError', {message: "Error Removing Location"}) 
				throw(error)
			})			
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleLocationSummary(false)
		}

		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){			
			Event.fire('Map.DeactivateWidget', 'Location.Side.Summary')
		}		

	}	

</script>