<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/location-update.html"></template>

<script>
    import { Component, Watch, Provide, Prop } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'   
    import { mixins } from 'vue-class-component' 
    import Vue from 'vue'

    import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'  

    import utilHelper from '../../../helpers/util'
    
    const LocationModule = namespace('locations')
    const LocationUpdateModule = namespace('locations/update')
    const LocationFormModule = namespace('locations/form')    
    
    @Component({
		components: {
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
            'location-form': ()=> import('./LocationForm')
		}
    })
    
    export default class LocationCreate extends mixins(VeeValidatorHelperMixin) {

        @Prop() id

        @Provide() parentValidator = this.$validator

        @LocationModule.Getter locations
        @LocationModule.Getter fromDesigner
        @LocationFormModule.Getter formData   
        
        @LocationModule.Mutation toggleFromDesigner
        @LocationModule.Mutation setSelectedLocation
        @LocationUpdateModule.Mutation toggleLocationUpdate                

        @LocationUpdateModule.Action updateLocations
        @LocationUpdateModule.Action loadLocationFormData        

        isReady = false
        
        created(){                        
            this.setSelectedLocation(_.find(this.locations, {id:this.id}))
        }

        mounted(){
            // if from designer
            if(this.fromDesigner){
                this.isReady = true;
                this.toggleFromDesigner(false)  
            }
            else{
                this.loadLocationFormData()
                .then((result)=>{               
                        this.isReady = true;
                    })              
            }           
        }

        isEmptyOrSpaces(str){
			return str === null || str.match(/^ *$/) !== null;
		}        

        locationUpdate(){                            
            this.VeeValidatorHelperMixin_validateAll('formLocation')
            .then(()=>{             
                if(this.errors.any()){              
                    Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
                    return false 
                }
                this.doSubmit()             
            })
            
        } 
        doSubmit(){
            this.updateLocations()
            .then((result)=>{
                Event.fire('Notification.Success', {message:"Successfully Update Location"})                               
            })
            .catch((error)=>{
                console.error(error)
            })      
        }                      

        /*
        beforeDestroy
         */
        beforeDestroy(){
            this.toggleLocationUpdate(false)            
        }  

        /*
        closeWidget
         */
        closeWidget(){
            this.$router.push({name:'mainmap'})
        } 

        /**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){            
            Event.fire('Map.DeactivateWidget', 'Location.Main.Update')
        }   

    }    

</script>