<style scoped>	
	
	.widget-wrapper.lg.override{
		z-index: 900;
		width: 200px;
		height: calc(100vh - 90px);
		top: 10px;
		left: calc(100% - 210px);
	}

	.widget-wrapper.sm.override{
		z-index: 900;
		width: 150px;
		height: calc(100vh - 100px);
		top: 10;
		left: calc(100% - 160px);
		min-height: initial;
	}

	.tool-title{
		position: relative;
		background-color: #537ba6;
		padding-bottom: 5px;		
	}

	.tool-title .close{
		position: absolute;
		top: 2px;
		right: 5px;
	}

	.tool-title .title{
		font-size: 1rem;
		display: inline-block;
		margin-top:3px;
		margin-left: 5px;
		color: #fff;
	}

	.tool-body{
		padding: 5px;		
	}

	.point-list-container {
		margin-top: 10px;
		height: calc(100vh - 355px);
	}	

	.point-list{		
		margin-top: 10px;
	}

	.point-list-item *:not('.delete') {
		pointer-events: none;
	}	

	.point-list-item:hover {
		background-color: #fff;
	}

	.point-list-item.selected {
		color: red;
	}

	.point-list .latlng {
		font-size: 1rem;
	}

	.point-list ul li {
		display: flex;
		align-items: center;
		margin-left: auto;		
	}

	.point-list ul li:hover {
		cursor: pointer;
	}

	.filler{
	    flex-grow: 1;
	}	

	.actions button {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.btn-group {
	    display: flex;
	    flex-direction: row;
	}

	.btn-group > button {
	    width: 100%;
	}

	.point-details input[type="text"],
	.point-details input[type="number"]{
		padding-top: 0;
    	padding-bottom: 0;
	}	

	.form-group {
		margin-bottom: 0;
	}

	.form-group .col-adjusted {
		padding: 0;
	}

	.point-details {
		background-color: #f3f3f4;
		padding: 5px;
	}		

	.point-details label {
		margin-bottom: 1px;
		font-weight: initial;
	}	

	.point-details .form-group:last-child {
		margin-top: 5px;
	}
	
</style>

<template>


	<right-wrapper override="true">    	
        <template slot="content">
        	<div class="tool-title">
        		<span class="title">Location Designer</span>
        		<span class="close cursor-pointer" @click.prevent="$router.back()"><font-awesome-icon :icon="['fas', 'times']" size="sm" :style="{ color: 'white' }" /></span>	
        	</div>
		
			<div class="tool-body">				
				
				<div class="actions">
	        		<div class="btn-group">
	        			<button class="btn btn-default" @click="$router.back()">
	        				<font-awesome-icon :icon="['fas', 'arrow-left']" />
	        			</button>	        			
						<button class="btn btn-default" @click="clearPoints">
							<font-awesome-icon :icon="['fas', 'redo-alt']" />
						</button>										
	        			<button 
	        				class="btn btn-default btn-danger" 
	        				@click="deletePoint" 
	        				:disabled="!selectedPoint"
	        			>
							<font-awesome-icon :icon="['fas', 'trash-alt']" />
	        			</button>	

	        		</div>	        			        		
	        	</div>	        	
				
				<div 
					class="point-list-container" 					
				>
		        	<p class="reset-p">Points</p>
					<hr class="reset-hr">

					<div class="point-list">

						<div v-slimscroll="{height:'100%', width:'100%'}">					
							<ul 
								v-if="shouldShowList" 
								class="todo-list m-t ui-sortable" 
								@mouseleave="clearAllPointHighlight"
							>
		                        <li v-if="this.formData.latitude && this.formData.longitude"
		                        	:key="formData.id" 		                        	
		                        	class="point-list-item"
		                        	:class="{ 'selected': isPointSelected(formData) }"
		                        	@mouseenter="debouncedHighlightPoint(formData)"
		                        	@click.prevent = "selectPoint(formData)"

		                        >		                        	
		                            <div class="icheckbox_square-green" style="position: relative;">	                            	
		                            	<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">	
		                            	</ins>	                         
		                            </div>
		                            <span class="m-l-xs latlng">{{parseFloat(this.formData.latitude).toFixed(6)}} / {{parseFloat(this.formData.longitude).toFixed(6)}}</span>
		                            <span class="filler"></span>		                            
		                        </li>		                        
		                    </ul>

		                    <ul v-else>
		                    	<li>Please select points</li>
		                    </ul>								
		                    
						</div>

						
					</div> <!-- end point list section -->
				</div>
				
			</div> <!-- end tool body -->
        	

        </template>
    </right-wrapper>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Debounce } from 'lodash-decorators';	

	import Vue from 'vue'

	const MapModule = namespace('map')

	const LocationModule = namespace('locations')
	const LocationFormModule = namespace('locations/form')

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../common/WidgetContainers/map/RightWrapper'),
			'select2': ()=> import('../../common/libs/Select2')
		}
	})
	export default class LocationDesignerControl extends Vue{

		@LocationModule.Getter selectedLocation
		@LocationFormModule.Getter formData	
		@MapModule.Getter map		

		@LocationFormModule.Mutation clearWaypoints
		@LocationFormModule.Mutation clearPointHighlight
		@LocationFormModule.Mutation togglePointHighlight
		@LocationFormModule.Mutation removeWaypoint
		
		@LocationModule.Mutation toggleLocationDesigner
		@LocationModule.Mutation toggleFromDesigner

		selectedPoint = null
        debouncedHighlightPoint = _.debounce((formData)=>{this.highlightPoint(formData)},300)                 

         /*
        mounted
         */
        mounted(){   
        	Event.fire('Map.Events.Drawing.Do', 'Location.Point.mounted')
        	
        }        		

    	/*
    	highlightPoint
    	 */    	
    	highlightPoint(formData){      		
    		this.clearPointHighlight()
    		this.togglePointHighlight({id:formData.id, value:true})
    		Event.fire('Map.Events.Drawing.Do', 'Location.Point.highlighted')    		
    	}

    	/*
    	clearAllPointHighlight
    	 */    	
    	clearAllPointHighlight(){
    		this.debouncedHighlightPoint.cancel()
    		this.clearPointHighlight()
    		Event.fire('Map.Events.Drawing.Do', 'Location.Point.unhighlighted')
    	}

    	/*
    	deletePoint
    	 */
    	deletePoint(){    		
    		this.removeWaypoint(this.selectedPoint.id)    		
    		this.selectedPoint = null    		    		
    		Event.fire('Map.Events.Drawing.Do', 'Location.Point.deleted')    		
    	}

    	/*
    	clearPoints
    	 */
    	clearPoints(){
    		this.clearWaypoints()
    		this.selectedPoint = null    		
    		Event.fire('Map.Events.Drawing.Do', 'Location.Point.cleared')
    	}

    	/*
    	selectPoint
    	 */
    	selectPoint(formData){
    		if( !this.selectedPoint || this.selectedPoint.id !== formData.id){
    			this.selectedPoint = formData;    			
    		}
    		else{
    			this.selectedPoint = null
    		}    		
    		
    	}

    	/*
    	isPointSelected
    	 */
    	isPointSelected(formData){
    		return this.selectedPoint && this.selectedPoint.id == formData.id
    	}
    	
    	get shouldShowList(){
    		return this.formData.latitude && this.formData.longitude
    	} 

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			if(this.selectedLocation){this.toggleFromDesigner(true)}
			this.toggleLocationDesigner(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){         	
            Event.fire('Map.DeactivateWidget', 'Location.Right.Designer')
        }
			           	    	  
	} // end class

</script>