<template>
	<div v-if="this.formData">
		<circle-point		
			:key="this.formData.id"
			:map="map"
			:id="this.formData.id"
			:latitude="this.formData.lattitude"
			:longitude="this.formData.longitude"
			:zoom="zoom"
			:labelVisibilityZoom="1"
			:label="getLabel()"
			:opacity="0"
			tooltipdir="top"
			customClass="tools-ruler"
		>
		</circle-point>
	</div>	
</template>

<script>

	import Vue from 'vue'
	import { Component } from 'vue-property-decorator' 
	import { namespace, Getter, Action, Mutation, State } from 'vuex-class'

	const MapModule = namespace('map')
	const LocationFormModule = namespace('locations/form')	

	@Component({
		components: {
			'circle-point': ()=>import('../../common/libs/leaflet/CirclePoint')
		}
	})	
	export default class MapLocationLayer extends Vue {

		@MapModule.Getter map
		@MapModule.Getter zoom	
		@LocationFormModule.Getter formData	

		getLabel(){			
			return 'S'
		}		

	}
</script>