<style scoped src="../../../../../styles/status-bar/top-pane.scss"></style>

<template>        
    <div class="status-item" data-component="FilterStatus">
        <span>Filter Name: {{selectedFilter.name}}&nbsp;</span>
        <span class="close-status" @click.prevent="closeFilter"><font-awesome-icon :icon="['fas', 'times-circle']" class="cursor-pointer"/></span>
    </div>        
</template>

<script>	
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 

    const FilterModule = namespace('filters')
    const ModeStatusModule = namespace('status/statusbar/modes')

    @Component
    export default class FilterStatus extends Vue {

    	@FilterModule.Getter selectedFilter 

        @FilterModule.Mutation setSelectedFilter
        @FilterModule.Mutation toggleModeFilterStatus 

        closeFilter(){            
            this.setSelectedFilter(null)            
            Event.fire('Map.Events.Drawing.Do', 'Filter.closed')
            this.toggleModeFilterStatus(false)            
        }  	

        
    }


</script>