<style scoped src="../../../../../styles/status-bar/top-pane.scss"></style>

<template>        
    <div class="status-item">
        <span>Tools: Ruler</span>        
        <span class="control-button" @click.prevent="closeRuler"><font-awesome-icon :icon="['fas', 'times-circle']" class="cursor-pointer"/></span>
        <span class="control-button" @click.prevent="refresh"><font-awesome-icon :icon="['fas', 'redo-alt']" class="cursor-pointer"/></span>
    </div>        
</template>

<script>	
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 

    const ToolsRulerModule = namespace('tools/ruler')
    const MapModule = namespace('map')

    @Component
    export default class ToolsRulerStatus extends Vue {

        @ToolsRulerModule.Mutation reset
        @ToolsRulerModule.Mutation toggleRulerEnabled
        @MapModule.Mutation removeMapLayer

        closeRuler(){            
            
            // clear ruler points
            // this will remove all points and line upon redraw
            this.reset()
            
            // remove layer
            this.removeMapLayer('toolsRuler')

            // toggle ruler enable
            this.toggleRulerEnabled(false)

            // toggle 
            Event.fire('Map.Events.Drawing.Do', 'ToolsRulerDesigner.closed')
        }

        refresh(){
            this.reset()
            Event.fire('Map.Events.Drawing.Do', 'ToolsRulerDesigner.reload')
        }  	

        
    }


</script>