<style scoped src="../../../../../styles/status-bar/top-pane.scss"></style>
</style>

<template>
    <div class="status-item">
        <span>Zone Designer</span>
        <span v-if="formData.name">&nbsp;{{formData.name}}</span>
        <span>&nbsp;</span>
        <span class="close-status" @click.prevent="$router.back()"><font-awesome-icon :icon="['fas', 'times-circle']" class="cursor-pointer"/></span>
    </div>    
</template>

<script>

	/*
	Script start
	 */	
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 
    
    const ZoneFormModule = namespace('zone/form')

    /*
    Class start
     */
    @Component
    export default class ZoneStatus extends Vue {    	
    	
        // getters    	
        @ZoneFormModule.Getter formData                               
        
    }

</script>