<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li class="active">Tools</li>
        	</ul>
        	<div class="content">
        		<p><b>1) Ruler</b></p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="toolsImg1"></p>
        		<p>Click Ruler designer on the map to measure distance between two point. Click icon "Reset Button" to reset the measurement or click "Close Button" to close ruler designer. </p>
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="toolsImg2"></p>

        		<p><b>2) Weather Station</b></p>
        		<p>Click Tool button to show list of tools such as Ruler, weather and Legends. Click Weather Station button to show weather station on map.</p>
        		<p><img @click.prevent="showVesselImage('img3')" class="myImg" :src="toolsImg3"></p>
        		<p><img @click.prevent="showVesselImage('img4')" class="myImg" :src="toolsImg4"></p>

        		<p><b>3) Legend</b></p>
        		<p>Click Tool button to show list of tools such as Ruler, weather and Legends. Click Legend button to open Legend List window.</p>
        		<p><img @click.prevent="showVesselImage('img5')" class="myImg" :src="toolsImg5"></p>
        		<p><img @click.prevent="showVesselImage('img6')" class="myImg" :src="toolsImg6"></p>
        		<p>Click on color button to open color window. Choose the color and click OK button to edit the color of the vessel. These colors will apply to the vessel based on ship type.</p>
        		<p><img @click.prevent="showVesselImage('img7')" class="myImg" :src="toolsImg7"></p>
        		<p>Tick “Apply changes to all user” to change color of vessel for all users.</p>
        		<p><img @click.prevent="showVesselImage('img8')" class="myImg" :src="toolsImg8"></p>
        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example Tools"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import toolsImg1 from '../../../../../images/help-topic/tools-1.png'
	import toolsImg2 from '../../../../../images/help-topic/tools-2.png'
	import toolsImg3 from '../../../../../images/help-topic/tools-3.png'
	import toolsImg4 from '../../../../../images/help-topic/tools-4.png'
	import toolsImg5 from '../../../../../images/help-topic/tools-5.png'
	import toolsImg6 from '../../../../../images/help-topic/tools-6.png'
	import toolsImg7 from '../../../../../images/help-topic/tools-7.png'
	import toolsImg8 from '../../../../../images/help-topic/tools-8.png'

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')
		}
	})
	export default class ToolsContent extends Vue{

		showModal = false
		modalImg = ''
		toolsImg1 = toolsImg1
		toolsImg2 = toolsImg2
		toolsImg3 = toolsImg3
		toolsImg4 = toolsImg4
		toolsImg5 = toolsImg5
		toolsImg6 = toolsImg6
		toolsImg7 = toolsImg7
		toolsImg8 = toolsImg8

		showVesselImage(img){
			const images = {
				img1 : toolsImg1,
				img2 : toolsImg2,
				img3 : toolsImg3,
				img4 : toolsImg4,
				img5 : toolsImg5,
				img6 : toolsImg6,
				img7 : toolsImg7,
				img8 : toolsImg8,

			}
			this.modalImg = images[img]
			this.showModal = true

		}
		
	}
</script>