<template>
	<div>
		<radial-gauge :value="val" :options="newOption"></radial-gauge>
	</div>
</template>
<style scoped>
	.form-control {
		width: 65px;
		display: inline-block;
	}
</style>
<script>
	
	/*
	Script start
	 */
	
	import { Component, Prop } from 'vue-property-decorator'
	import Vue from 'vue'
	import RadialGauge from 'vue2-canvas-gauges/src/RadialGauge'

	/*
	Class start
	 */
	@Component({
		components: {			
			RadialGauge
		}
	})
	export default class SpeedGauge extends Vue {

		@Prop() val
		@Prop() newOption

		
		mounted(){
			// console.log(this.val)
		}

		beforeDestroy(){
			// this.clearFormData()
		}
	}


</script>