<template>
	<div>
		<speed-gauge :val="values" :newOption="option"></speed-gauge>
	</div>
</template>
<style scoped>
	.form-control {
		width: 65px;
		display: inline-block;
	}
</style>
<script>
	
	/*
	Script start
	 */
	
	import { Component, Prop } from 'vue-property-decorator'
	import Vue from 'vue'

	/*
	Class start
	 */
	@Component({
		components: {			
			'speed-gauge': ()=> import('./SpeedGauge')
		}
	})
	export default class WindSpeedGauge extends Vue {

		@Prop() values

		option={
        	width: 200,
		    height: 200,
		    units: "kn",
		    minValue: 0,
		    maxValue: 120,
		    majorTicks: [
		        0,
		        10,
		        20,
		        30,
		        40,
		        50,
		        60,
		        70,
		        80,
		        90,
		        100,
		        110,
		        120
		    ],
		    minorTicks: 5,
		    strokeTicks: true,
		    highlights: [
		        {
		            "from": 0,
		            "to": 120,
		            "color": "black"
		        }
		    ],
		    ticksAngle: 270,
		    startAngle: 45,
		    colorMajorTicks: "#ddd",
		    colorMinorTicks: "#ddd",
		    colorTitle: "#eee",
		    colorUnits: "#ccc",
		    colorNumbers: "#eee",
		    colorPlate: "#222",
		    borderShadowWidth: 0,
		    borders: true,
		    needleType: "arrow",
		    needleWidth: 2,
		    needleCircleSize: 7,
		    needleCircleOuter: true,
		    needleCircleInner: true,
		    animationDuration: 1500,
		    colorNeedleCircleInner: 'black',
		    colorNeedle: 'red',
		    colorNeedleEnd: 'red',
		    animationRule: "linear",
		    colorBorderOuter: "#333",
		    colorBorderOuterEnd: "#111",
		    colorBorderMiddle: "#222",
		    colorBorderMiddleEnd: "#111",
		    colorBorderInner: "#111",
		    colorBorderInnerEnd: "#333",
		    colorNeedleShadowDown: "#333",
		    colorNeedleCircleOuter: "#333",
		    colorNeedleCircleOuterEnd: "#111",
		    // colorNeedleCircleInner: "#111",
		    colorNeedleCircleInnerEnd: "#222",
		    valueBox: false,
		    valueBoxBorderRadius: 0,
		    colorValueBoxRect: "#222",
		    colorValueBoxRectEnd: "#333"
		    }

		// mounted(){
		// 	console.log(this.val)
		// }

		beforeDestroy(){
			// this.clearFormData()
		}
	}


</script>