<style scoped src="../templates/toolbar/balloon-info.scss"></style>
<template src="../templates/toolbar/balloon-info.html"></template>

<script>
	import Vue from 'vue'
    import { Component } from 'vue-property-decorator' 
    import { namespace, Getter, Mutation, Action } from 'vuex-class'
    import { Debounce } from 'lodash-decorators'

    // flags icon
    import 'mdm-flag-icon-css/css/flag-icon.min.css'     
    import vesselInfoHelper from '../../../../helpers/vesselinfo' 

    const BalloonInfoModule = namespace('vesselList/toolbar/balloonInfo')  
    const MapModule = namespace('map') 
    const formatcoords = require('formatcoords'); 

    @Component({
        components: {
            'float-wrapper': ()=> import('../../../common/WidgetContainers/map/FloatWrapper')
        }
    })
    export default class BalloonInfo extends Vue { 

        @BalloonInfoModule.Getter('enabled') balloonInfoEnabled        
        @BalloonInfoModule.Getter baseInfo        
        @BalloonInfoModule.Getter extraInfo        
        @MapModule.Getter vessel
        @MapModule.Getter map      

        @BalloonInfoModule.Mutation setBaseInfo
        @BalloonInfoModule.Mutation resetInfo
        
        @BalloonInfoModule.Action updateImageUrl
        @BalloonInfoModule.Action updateExtraInfo

        updatingInfo = false
        lastVesselIdHit = null
        dot = null

        formatFlag = vesselInfoHelper.formatFlag        
        formatMmsi = vesselInfoHelper.formatMmsi

        created(){
            Event.listen('Map.Vessel.Events.Hover', ({info, vesselHit})=>{                
                if(this.balloonInfoEnabled && vesselHit.vesselId != this.lastVesselIdHit){
                    this.lastVesselIdHit = vesselHit.vesselId
                    this.updateAndShowInfo(vesselHit, info)
                }                
            })

            Event.listen('Map.Vessel.Events.Unhover', ()=>{
                this.lastVesselIdHit = null
                this.dot = null
            })
        }
        
        @Debounce(500)
        updateAndShowInfo(vessel, mouseInfo){

            this.dot = this.map.latLngToContainerPoint(vessel.latlng) 

            this.updatingInfo = true

            this.resetInfo()   
            this.setBaseInfo(this.vessel(vessel.vesselId))             
            this.updateImageUrl({id:vessel.vesselId})
            this.updateExtraInfo({id:vessel.vesselId}).then(
                (data)=>{                    
                    this.updatingInfo = false                    
                },
                (error)=>{
                    console.error(error)
                }
            )

        }

        formatCoords(lat, lng){return formatcoords(lat, lng).format('DDmmX', {latLonSeparator: ' ',  decimalPlaces: 3})}

        formatTime(time){
            return moment(time).format('DD/MM/YYYY HH:mm:ss')
        } 

        get etaTime(){            
            return moment(this.extraInfo.eta).format('DD/MM/YYYY HH:mm:ss')
        }

        get utcTime(){              

            return this.extraInfo.targetPositions.items.length && moment(this.extraInfo.targetPositions.items[0].receivedTime).format('DD/MM/YYYY HH:mm:ss')
        } 

        get localTime(){
            return this.extraInfo.targetPositions.items.length && moment(this.extraInfo.targetPositions.items[0].localReceivedTime).format('DD/MM/YYYY HH:mm:ss')  
        }

        get lastSeen(){
            return this.extraInfo.targetPositions.items.length && this.extraInfo.targetPositions.items[0].lastSeen
        }

        get receivedTime(){             

            return this.extraInfo.targetPositions.items.length && moment(this.extraInfo.targetPositions.items[0].localReceivedTime)
        }      

        getDuration(time){
            var end = moment();
            var now = moment(time);
            var mins = moment.utc(moment(end, "HH:mm:ss").diff(moment(now, "HH:mm:ss"))).format("m");
            var hours = end.diff(now, 'Hours');
            var duration = "about " + hours + " hr " + mins + " min ago";
            if (hours > 0 ){
                return duration
            }
            else{
               return "about " + mins + " min ago" 
            }            
        } 

        formatLenBeam(lenxbeam){            
            return lenxbeam ? lenxbeam.replace("X", "/") : "0m / 0m"            
        }

        get navStat(){
            return this.extraInfo.targetPositions.items.length && this.extraInfo.targetPositions.items[0].navigationalStatusToString
        }       
    }
</script>