<template>
	<div>
        <!-- <vessel-name v-if="vesselNameEnabled"></vessel-name> -->
        <!-- <vessel-track v-if="vesselTrackEnabled"></vessel-track> -->
        <balloon-info v-if="balloonInfoEnabled"></balloon-info>
        <vessel-pin v-if="vesselPinEnabled" ></vessel-pin>        
    </div>
</template>

<script>
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 
    
    const VesselNameModule = namespace('vesselList/toolbar/vesselName')
    const VesselTrackModule = namespace('vesselList/toolbar/vesselTrack')
    const BalloonInfoModule = namespace('vesselList/toolbar/balloonInfo')
    const VesselPinModule = namespace('vesselList/toolbar/vesselPin')    

    @Component({
    	components: {
    		'vessel-name': ()=> import('./VesselName'),
            'vessel-track': ()=> import('./VesselTrack'),
            'balloon-info': ()=> import('./BalloonInfo'),
            'vessel-pin':()=>import('./VesselPin')            
    	}
    })    
    export default class VesselListToolbarFloatPane extends Vue {
    	@VesselNameModule.Getter('enabled') vesselNameEnabled
        @VesselTrackModule.Getter('enabled') vesselTrackEnabled 
        @BalloonInfoModule.Getter('enabled') balloonInfoEnabled
        @VesselPinModule.Getter('enabled') vesselPinEnabled        
    }

</script>