<style scoped src="../templates/toolbar/toolbar.scss"></style>
<template src="../templates/toolbar/toolbar.html"></template>

<script>
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 
    import utilHelper from '../../../../helpers/util'

    const ToolbarModule = namespace('vesselList/toolbar')
    const VesselNameModule = namespace('vesselList/toolbar/vesselName')
    const VesselTrackModule = namespace('vesselList/toolbar/vesselTrack')
    const BalloonInfoModule = namespace('vesselList/toolbar/balloonInfo')
    const VesselPinModule = namespace('vesselList/toolbar/vesselPin')
    const VesselSelectedModule = namespace('vesselList/toolbar/vesselSelected')
    const MapModule = namespace('map')

    @Component
    export default class VesselListToolbar extends Vue {

        @VesselNameModule.Getter('enabled') vesselNameEnabled
        @VesselTrackModule.Getter('enabled') vesselTrackEnabled
        @BalloonInfoModule.Getter('enabled') balloonInfoEnabled
        @VesselPinModule.Getter('enabled') vesselPinEnabled
        @VesselSelectedModule.Getter('enabled') vesselSelectedEnabled

        @ToolbarModule.Mutation('toggleFloatPane') toggleToolbarFloatPane 
        @MapModule.Mutation addMapLayer
        @VesselNameModule.Mutation('toggleEnable') toggleVesselName
        @VesselTrackModule.Mutation('toggleEnable') toggleVesselTrack
        @BalloonInfoModule.Mutation('toggleEnable') toggleBalloonInfo
        @VesselPinModule.Mutation('toggleEnable') toggleVesselPin
        @VesselSelectedModule.Mutation('toggleEnable') toggleVesselSelected       

        processEnv = `${utilHelper.getProcessEnv()}`

        mounted(){
            console.log("%c getProcessEnv:", conStyle.boldRed, this.processEnv)
        }

        activateToolbar(){            

            // will enable <toolbar-layer /> in resources/assets/js/components/map/MapLayers.vue
            this.addMapLayer('toolbar')

            // just fire for nothing
            Event.fire('Map.ActivateLayer', 'Toolbar')

            // does nothing, added to be used if needed to check if the panel is active
            this.toggleToolbarFloatPane(true)            
        }

    	showName(){  
                    
            this.activateToolbar()                              

            // should enable <vessel-name /> in resources/assets/js/components/map/vessel-list/toolbar/FloatPane.vue but not in use at the moment since the drawing of name is done in the vessel drawing            
            this.toggleVesselName()

            if(!this.vesselNameEnabled){Event.fire('Map.Events.Drawing.Do', 'Toolbar.Name.hide')}
            else{Event.fire('Map.Events.Drawing.Do', 'Toolbar.Name.shown')}
        }

        showTrack(){  
                        
            this.activateToolbar()                          

            // should enable <vessel-track /> in resources/assets/js/components/map/vessel-list/toolbar/FloatPane.vue but not in use at the moment since the drawing of track is done in the vessel drawing            
            this.toggleVesselTrack() 
            Event.fire('Map.Events.Drawing.Do', 'Toolbar.Track.shown')
        }

        showBalloon(){  
            
            this.activateToolbar()                                            

            // should enable <balloon-info /> in resources/assets/js/components/map/vessel-list/toolbar/FloatPane.vue           
            this.toggleBalloonInfo()             
        }

        pinVessel(){
            
            this.activateToolbar()                  
            
            // should enable <vessel-pin /> in resources/assets/js/components/map/vessel-list/toolbar/FloatPane.vue           
            this.toggleVesselPin()
        }

        showOnlySelected(){ 
            this.activateToolbar()     

            // simply signal the mode is selected so that it can be used while deciding to draw vessel
            this.toggleVesselSelected()

            Event.fire('Map.Events.Drawing.Do', 'Toolbar.Vessel.show-only')
        }

        
    }

</script>