<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../styles/summary-list.scss"></style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template src="./templates/eics-summary.html"></template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>

	/*
	Script start
	 */
	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'

	const EicsModule = namespace('eics')
	const EicsSummaryModule = namespace('eics/summary')
	const MapModule = namespace('map')

	const AppScreensizeModule = namespace('app/screensize')

	import AppModuleMixin from '../../common/mixins/AppModuleMixin'
		
	/*
	Class start
	 */
	@Component({
		components: {
			'side-wrapper' : ()=> import('../../common/WidgetContainers/map/SideWrapper'),
			'eics-filter' : ()=> import('./EicsFilter')			
		}
	})
	export default class EicsSummary extends mixins(AppModuleMixin) {	
		
		@MapModule.Getter vessels				
		@MapModule.Getter vessel
		@MapModule.Getter map
		@MapModule.Getter selectedVesselIds 	
		@EicsSummaryModule.Getter panelShown	
		@AppScreensizeModule.Getter isXs
		@EicsSummaryModule.Getter('vesselsArr') inViewVessels
		@EicsSummaryModule.Getter('equipments') activeEquipments
		
		@EicsSummaryModule.Mutation toggleEicsSummary
		@EicsSummaryModule.Mutation togglePanelShown
		@EicsSummaryModule.Mutation('clearVessels') clearInViewVessels
		@EicsSummaryModule.Mutation('addVessel') addInViewVessel
		@EicsSummaryModule.Mutation setAnchoredVesselIds 

		/*
		mounted
		 */
		mounted(){
			// close all major module that might overlap like filter and wrems
			this.AppModuleMixin_clearMajorModule('eics')

			// anchoredVesselIds is selected vessel to be referred around eics vessels
			this.setAnchoredVesselIds(this.selectedVesselIds)			
			this.refreshInViewVesselsList() 
			Event.fire('Map.Events.Drawing.Do', 'Eics.Summary.mounted')
		}

		/*
		created
		 */
		created(){			
			Event.listen('Map.Events.Drawing.End', this.refreshInViewVesselsList)			
		}								

		/*
		refreshInViewVesselsList
		 */
		refreshInViewVesselsList(){			
			this.clearInViewVessels()				
			let bounds = this.map.getBounds()          
            if(this.vessels){

            	const _addInViewVessel = (v)=>{
            		if(v.eics && _.intersection(v.eics.equipments, this.activeEquipments).length){
            				this.addInViewVessel(v)
            			}
            	}

                this.vessels.forEach((v)=>{                	
                	
                	if(bounds.contains(v.latlng) && this.vessel(v.vesselId).isDrawn){
                		if(_.includes(this.selectedVesselIds, v.vesselId)){
                			// have to check if the vessel really have the required equipment
                			_addInViewVessel(v)
                		}
                		else{
                			_addInViewVessel(v)
                		}
                	}

                                    
                })    
            }                     
		}		

		/*
		selectListItem
		 */
		selectListItem(vessel){			
			Event.fire('Map.FocusVessel', vessel)
		}

		/*
		getName
		 */
		getName(vessel){
			const mmsi = String(vessel.mmsi).substring(0,1) == '-' ? String(vessel.mmsi).substring(1) : vessel.mmsi
			return vessel.vesselName ? vessel.vesselName : String(mmsi).padStart(9, "0")
		}

		/*
		handleFilterChanged
		 */
		handleFilterChanged(){
			Event.fire('Map.Events.Drawing.Do', 'Eics.Summary.Filter.changed')
		}

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})
		}		
		
		/*
		beforeDestroy
		 */
		beforeDestroy(){			
			this.toggleEicsSummary(false)			
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){
        	Event.fire('Map.Events.Drawing.Do', 'Aton.Summary.destroyed')        	        	
            Event.fire('Map.DeactivateWidget', 'Eics.Side.Summary')
        }
		
	}

</script>