<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>
	.filter-title {
		padding: 10px 10px 10px 5px;		
		font-weight: bold;
		color: dodgerblue;
		border-bottom: 1px solid lightgrey;
		margin: 0 5px;
	}

	.filter-content ul{
		list-style: none;
		list-style-type: none;
		padding-left: 5px;
		margin: 0 5px;		
	}

	.filter-content ul li {
	    margin-top: 5px;
	    height: 25px;
	}


    .filter-container.mobile-view {
        background-color: #2a334d;
    }

</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<div class="filter-container" :class="{'mobile-view':view=='mobile'}">
		<div class="filter-title clearfix">
    		<span class="title">{{ title }}</span>
    		<!-- <span class="close cursor-pointer" @click.prevent="$router.back()"><font-awesome-icon :icon="['fas', 'times']" size="sm" :style="{ color: 'black' }" /></span>	 -->
            <span class="cursor-pointer pull-right" @click.prevent="toggleShowOptions" v-if="collapsible">
                <font-awesome-icon :icon="['fas', 'chevron-up']" size="sm" :style="{ color: 'white' }" v-if="showOptions" />
                <font-awesome-icon :icon="['fas', 'chevron-down']" size="sm" :style="{ color: 'white' }" v-if="!showOptions" />

            </span> 

    	</div>					        

    	<div class="filter-content" v-if="showOptions">
    		<ul>
    			<li class="clearfix">
    				Oil Spill Response 
    				<toggle-button class="pull-right" v-model="filter_oilSpillResponse" color="#116fff" />
    			</li>

    			<li>
    				Towing
    				<toggle-button class="pull-right" v-model="filter_towing" color="#116fff" />
    			</li>

    			<li>
    				Salvage
    				<toggle-button class="pull-right" v-model="filter_salvage" color="#116fff" />
    			</li>

    			<li>
    				Firefighting
    				<toggle-button class="pull-right" v-model="filter_fireFighting" color="#116fff" />
    			</li>

    			<li>
    				Search And Rescue
    				<toggle-button class="pull-right" v-model="filter_searchAndRescue" color="#116fff" />
    			</li>
    		</ul>
    	</div>
	</div>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	
	import Vue from 'vue'
    import { Component, Prop } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'

    // toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)

    const EicsSummaryModule = namespace('eics/summary')
	
	@Component
    export default class EicsFilter extends Vue {

        @Prop({default:'web'}) view
        @Prop({default:'EICS Equipment'}) title
        @Prop({default:false}) collapsible

        @EicsSummaryModule.Getter equipments

        @EicsSummaryModule.Mutation removeEquipment
        @EicsSummaryModule.Mutation addEquipment

        showOptions = true

        /*
        mounted
         */
        mounted(){            

            if(this.view == 'mobile'){
                this.showOptions = false
            }
            else{
                this.showOptions = true
            }
        }

        /*
        toggleShowOptions
         */
        toggleShowOptions(){
            this.showOptions = !this.showOptions
        }

    	 /*
        getters and setters
         */  
        // oil spill 
        get filter_oilSpillResponse(){
        	return _.includes(this.equipments, 'oil')
        }

        set filter_oilSpillResponse(value){
            if(value){this.addEquipment('oil')}
            else{this.removeEquipment('oil')}
            this.$emit('filterChanged')
        }

        // towing
        get filter_towing(){
        	return _.includes(this.equipments, 'towing')

        }

        set filter_towing(value){
            if(value){this.addEquipment('towing')}
            else{this.removeEquipment('towing')}
            this.$emit('filterChanged')

        }

        // salvage
        get filter_salvage(){
        	return _.includes(this.equipments, 'salvage')
        }

        set filter_salvage(value){
            if(value){this.addEquipment('salvage')}
            else{this.removeEquipment('salvage')}
            this.$emit('filterChanged')
        }

        // firefighting
        get filter_fireFighting(){
        	return _.includes(this.equipments, 'firefight')
        }

        set filter_fireFighting(value){
            if(value){this.addEquipment('firefight')}
            else{this.removeEquipment('firefight')}
            this.$emit('filterChanged')
        }

        // search and rescue
        get filter_searchAndRescue(){
        	return _.includes(this.equipments, 'sar')
        }

        set filter_searchAndRescue(value){
            if(value){this.addEquipment('sar')}
            else{this.removeEquipment('sar')}
            this.$emit('filterChanged')
        }

    }

</script>