<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>	
	
	.widget-wrapper.lg.override {
	    z-index: 900;
	    width: 260px;
	    height: 190px;
	    top: 10px;
	    left: calc(100% - 270px);
	    border-radius: 8px;
	}

	/*.widget-wrapper.sm.override{
		z-index: 900;
		width: 150px;
		height: calc(100vh - 100px);
		top: 10;
		left: calc(100% - 160px);
		min-height: initial;
	}*/

	

	
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<right-wrapper override="true" data-component="RightEicsFilter" v-show="isSmAndLarger">
        <template slot="content">
        	
        	
            <eics-filter></eics-filter>
            

        </template> <!-- template slot="content" -->
    </right-wrapper>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	
	
	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	

	import Vue from 'vue'

	const AppScreensizeModule = namespace('app/screensize')

/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	@Component({
		components:{
			'right-wrapper': ()=> import('../../common/WidgetContainers/map/RightWrapper'),
            'eics-filter': ()=> import('./EicsFilter')			
		}
	})
	export default class RightEicsPanel extends Vue{

    	@AppScreensizeModule.Getter isSmAndLarger	
                 
	} // end class

</script>