<main-wrapper :scroller="true">


    <template slot="header">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title clearfix">
                        AtoN List
                        
                        <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

                        <font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
                </h1>
            </div>  
        </div>      
    </template>

    <template slot="scroll-content">
        <div data-component="AtonList">           
             
            <div class="row">               

                <!-- Top -->
                <div class="col-sm-12">                                    

                        <form class="form-inline">
                            <div class="form-group">
                                <label for="areaOptions">Area:</label>
                                <select2                                    
                                    id="areaOptions"
                                    :options="areaOptions" 
                                    :fullWidth="false"
                                    :width="100"                                   
                                    v-model="area"
                                    @input="updateTableData"
                                ></select2>
                                </div> 
                            <div class="form-group">
                                <label for="typeOptions">Data Type:</label>
                                <select2
                                    id="typeOptions"
                                    :options="typeOptions"
                                    v-model="type"
                                    :width="150"
                                    @input="getAton($event)"
                                ></select2>                                
                            </div>
                            <div class="form-group">
                                <toggle-button @change="setTime" v-model="refreshEnable" color="#116fff" id="refreshEvery"/>
                                <label for="RefreshRate">Refresh Every</label>
                                <input type="number" v-model="refreshRate" class="form-control" id="refreshRate" placeholder="" required @blur="setTime" />
                                <label for="refreshRate">Sec</label>
                            </div>
                        </form>                    
                    
                    <br>                    
                </div> <!-- .col-sm-12 -->
            </div> <!-- .row  -->           
            
            <local-data-table
                :fields="tableFields"
                :sortField="sortFieldByType"
                :data="tableData"
                :borderedTable="true"
                @search="search"
                @actionView="viewAton"
                @updateField="updateField"
                @changeOrder="changeOrder"
                :pointerCell="true"
                :actions="['view']"
            >                        
            </local-data-table>                                 

        </div> <!-- scroll-content -->

    </template>
</main-wrapper>