<side-wrapper :scroller="true" data-component="AtonSummary" v-show="panelShown" >
	<template slot="scroll-content">

		<!-- Content -->

		<div class="header">
			<span class="title">AtoN List</span>
			<span class="btn-group pull-right">	
				<button @click.prevent="toggleVesselDraw"  class="btn btn-grp btn-sm">
					<!-- <img :src="require('../../../../../images/sidebar-icon/aton.svg')" width="15px"> -->
					{{ showVessels ? 'Hide Vessel' : 'Show Vessel' }}
				</button>			
				<button @click.prevent="$router.push({name:'map.aton.main.list'})"  class="btn btn-grp btn-sm">
					<img :src="require('../../../../../images/sidebar-icon/aton.svg')" width="18px">
				</button>
			</span>
		</div>

		<ul class="mdm-summary-list" v-if="inViewVessels.length">
				<li 
					v-for="vessel in inViewVessels" 
					:key="vessel.vesselId"
				>
					<span class="icon-status">
						<div class="btn-group pull-right" role="group" aria-label="...">		
							<div :style="{ 'background-color': AtonHelperMixin_getColorAtonStatus(vessel)}" id="icon"></div>
							<div :style="{ 'background-color': AtonHelperMixin_getColorLightStatus(vessel)}" id="icon"></div>
						</div>	
					</span>
					<span class="mdm-summary-name-list" 
						@click="selectListItem(vessel)"				
					>{{ getName(vessel) }}</span>
					<!-- <span class="mdm-summary-action-btn">
						<div class="btn-group pull-right" role="group" aria-label="...">							
							<button v-if="true" type="button" class="btn btn-primary btn-sm" @click.prevent="">
								<font-awesome-icon :icon="['fas', 'pencil-alt']" size="sm" />
							</button>						
						</div>	
					</span> -->
					
				</li>	
			</ul>
	</template>

	<template slot="extra">
		<div class="toggle-button" @click="togglePanelShown(false)">&#x3c;</div>
	</template>
</side-wrapper>