<style>
	body {
		background-color: white ;
	}
	h1 {
		color: white;
	}
</style>

<template>
	<div class="container">
		<div>
			<weather-form v-if="token" :token="token"></weather-form>
		</div>
	</div>
</template>

<script>

	/*
	Script start
	 */
	import { Component, Emit } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	/*
	Class start
	 */
	@Component({
		components: {
			'weather-form' : ()=> import('../../map/weather/WeatherForm')
		}
	})
	export default class InstrumentPanelSinglePage extends Vue {

		token = ''

		mounted(){

			console.log("%cCalled", conStyle.boldRed)

			this.token = this.token || this.$route.query.token

			window.axios.defaults.headers.common['Authorization'] = `Bearer ${this.token}`
			
			// console.log("%cToken:", conStyle.boldRed, this.token)
		}
	}
</script>
