<style>
	body {
		background-color: white ;
	}
	h1 {
		color: white;
	}
</style>

<template>
	<div class="container">
		<div>
			<weather-historical :mmsi="mmsi" :token="token" v-if="token"></weather-historical>
		</div>
	</div>
</template>

<script>

	/*
	Script start
	 */
	import { Component, Emit, Prop} from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	/*
	Class start
	 */
	@Component({
		components: {
			'weather-historical' : ()=> import('../../map/statistic/WeatherHistorical')
		}
	})
	export default class WeatherHistoricalPublic extends Vue {

		@Prop() mmsi
		@Prop() token

	}
</script>
