<template>
	<div>
		<div @click="toggleUserNames" v-if="group == 'tenant'">
			<tenant-card 
				:name="listItem.tenantName"			
				class="cursor-pointer"
			></tenant-card>	
		</div>
		
		<div @click="toggleUserNames" v-if="group == 'vessel' && listItem.vesselName != 'Unassigned' ">
			<vessel-card 				
				v-if="listItem.mmsi"
				:name="listItem.vesselName"
				:mmsi="listItem.mmsi"			
				class="cursor-pointer"
			></vessel-card>

			<vessel-card 				
				v-else-if="!listItem.mmsi"
				:name="listItem.mmsi"
				:mmsi="listItem.mmsi"			
				class="cursor-pointer"
			></vessel-card>	
		</div>

		<name-card 			
			v-for="user in listItem.users" 
			v-if="listItem.users.length && showUsers"
			:id="user.id"
			:key="user.id"
			:name="user.name"
			:isActive="user.isActive"
			@click="$emit('click', $event)"
		></name-card>
	</div>	
</template>

<script>
	/*
	Script start
	 */
	import { Component, Prop, Watch } from 'vue-property-decorator'	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'	

	/*
	Class start
	 */
	@Component({
		components: {
			'name-card' : ()=> import('./NameCard'),
			'tenant-card' : ()=> import('./TenantCard'),
			'vessel-card' : ()=> import('./VesselCard')
		}
	})
	export default class NameBox extends Vue {

		@Prop() listItem
		@Prop() group

		showUsers = false	
		
		toggleUserNames(){			
			this.showUsers = !this.showUsers
		}			

	}

</script>