<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>

	.card {
	    margin-top: 10px;
	    width: 90%;
	    border-left: 1px dashed #929292;
	    margin: 0 0 0 22px;
	    padding: 5px 0px 0px 25px;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    position: relative;
	}	

	.card::before{
	    content: "";
	    position: absolute;
	    width: 26px;
	    height: 1px;
	    left: -1px;
	    border-top: 1px dashed #929292;
	    top: 40px;

	}

	.name-icon {
		background-color: #7798a9;
	    display: flex;
	    border-radius: 50%;
	    width: 35px;
	    height: 35px;
	    margin-right: 10px;
	    align-items: center;
	    justify-content: center;
	    color: #fff;
	    font-size: 18px;
	    text-transform: uppercase;
	}

	.name-icon path {
		color: #fff;
	}

	.name-list{
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    position: relative;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    padding: 5px;
	    border-radius: 4px;
	    margin-top: 12px;
	    -webkit-box-shadow: 2px 3px 16px -4px rgba(0,0,0,0.2);
	    -moz-box-shadow: 2px 3px 16px -4px rgba(0,0,0,0.2);
	    box-shadow: 2px 3px 16px -4px rgba(0,0,0,0.2);
	}
	.reset-p{
		width: 60%;
	}
	.action-btn{
		width: 40%;
	}
	.active{
		background: grey
	}
	.btn-green{
		color: #fff;
    	background-color: #5cb85c;
    	border-color: #4cae4c;

	}
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<div>
	<div class="card card-2">
		<div :class="{'active':!isActive}" class="name-list cursor-pointer" >
			<div class="name-icon">
				{{getFirstTxt(name)}}
			</div>		
			<span  class="reset-p">{{name}}</span>
			<span class="action-btn">
				<div class="btn-group pull-right" role="group" aria-label="...">
					<button title="View User" type="button" :disabled='!isActive' class="btn btn-primary btn-sm" @click="$emit('click', id)">
						<i class="fa fa-eye"></i>
					</button>							
					<button title="Edit User" v-if="AuthorizationMixin_isGranted('User.Update')" type="button" :disabled='!isActive' class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.users.edit.details', params:{id}})" >
						<i class="fa fa-pencil"></i>
					</button>
					<button title="Activate User" type="button" v-if="!isActive" class="btn btn-green btn-sm" @click.prevent="deactivateUserById(id,isActive)" >
						<i class="fa fa-check"></i>
					</button>
					<button title="Deactivate User" type="button" v-else-if="isActive && (userData.localStorageUserId != id)" class="btn btn-danger btn-sm"  @click.prevent="deactivateUserById(id,isActive)" >
						<i class="fa fa-ban"></i>
					</button>
					<!-- <delete-confirm
						:item="userData"
						type="user"
						@confirm="deleteUser"
						v-if="AuthorizationMixin_isGranted('User.Delete') && (this.id != userData.userId)"
					>
						<template slot="content">
							<button type="button" class="btn btn-danger btn-sm">
								<i class="fa fa-trash"></i>
							</button>
						</template>								
					</delete-confirm> -->
												
				</div>
		</span>
		</div>	
				
	</div>	

	<div>
			
	</div>

	</div>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	/*
	Script start
	 */
	import { Component, Prop } from 'vue-property-decorator'	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'	
	import { mixins } from 'vue-class-component'

	import AuthorizationMixin from '../../common/mixins/AuthorizationMixin'	

	const UserFormModule = namespace('users/form')
	const UserListModule = namespace('users/list')

	/*
	Class start
	 */
	@Component({
		components: {
			'delete-confirm': ()=> import('../../common/DeleteConfirmation')
		}
	})
	export default class NameCard extends mixins(AuthorizationMixin) {

		@UserFormModule.Action removeUser
		@UserFormModule.Action deactivateUser
		@UserListModule.Action loadUserList

		@Prop() name
		@Prop() id
		@Prop() isActive

		userData = {}

		mounted(){
			this.userData = {
				id : this.id,
				name : this.name,
				localStorageUserId : localStorage.userId
			}
		}

		getFirstTxt(txt) {
  			return txt.substring(0,1);
		}

		deactivateUserById(id,isActive){
			
			if(!this.AuthorizationMixin_isGranted('User.Deactivate')){
				Event.fire('Notification.ClientError', {message:"You don't have permission to deactivate user"})
				return false
			}
			
			this.deactivateUser(id)
			.then((result)=>{
				if(isActive){
					Event.fire('Notification.Success', {message:"Successfully Deactivate User"})
					this.loadUserList()
				}
				else{
					Event.fire('Notification.Success', {message:"Successfully Activate User"})
					this.loadUserList()
				}
				
				
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError', {message: "Error To Deactivate User"}) 
				throw(error)
			})
		}

		/*
		removeUser
		 */
		deleteUser({id}){
			// console.log("%cId:", conStyle.boldRed, id)
			if(!this.AuthorizationMixin_isGranted('User.Delete')){
				Event.fire('Notification.ClientError', {message:"You don't have permission to remove user"})
				return false
			}

			this.removeUser(this.id)
			.then((result)=>{
				Event.fire('Notification.Success', {message: 'Successfully removed user'})
				this.loadUserList()
			})			
		}
	}

</script>