<style scoped>

	.card {
		margin-top: 10px;
	    padding: 7px 10px;
	    display: flex;
	    align-items: center;
	    border-radius: 4px;
	    -webkit-box-shadow: 2px 3px 16px -4px rgba(0,0,0,0.2);
	    -moz-box-shadow: 2px 3px 16px -4px rgba(0,0,0,0.2);
	    box-shadow: 2px 3px 16px -4px rgba(0,0,0,0.2);
	    /* margin-bottom: 30px; */
	}	

	.tenant-icon {
	    background-color: #047bf8;
	    border-radius: 50%;
	    height: 35px;
	    width: 35px;
	    color: #fff;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 18px;
	    margin-right: 10px;
	}

	.tenant-icon path {
		color: #fff;
	}

</style>

<template>
	<div class="card card-4">
		<div class="tenant-icon">
			{{getFirstTxt(name)}}
		</div>		
		<span class="reset-p">{{name}}</span>	
	</div>	
</template>

<script>
	/*
	Script start
	 */
	import { Component, Prop } from 'vue-property-decorator'	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'	

	/*
	Class start
	 */
	@Component
	export default class NameCard extends Vue {

		@Prop() name

		getFirstTxt(txt) {
  			return txt.substring(0,1);
		}

	}

</script>