<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/user-edit.html"></template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	/*
	Script Start
	 */
	import { Component, Provide, Prop } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import vHelper from '../../../helpers/VHelper'
	import Vue from 'vue'

	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'

	const UserEditModule = namespace('users/edit')
	const UserFormModule = namespace('users/form')

/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/	
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'user-form' : ()=> import('./UserDetailForm')						
		}
	})
	export default class UserEdit extends mixins(VeeValidatorHelperMixin) {

	@Provide() parentValidator = this.$validator
/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/
	@Prop() id

	@UserFormModule.Getter formData	

	@UserEditModule.Mutation toggleUserEdit

	@UserFormModule.Mutation resetFormData
	@UserFormModule.Mutation clearListOfRoles

	@UserFormModule.Action loadFormData
	@UserEditModule.Action updatesUser

	isDataReady = false
		

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/

/*
mounted
 */
	mounted(){				
		this.loadFormData(this.id)
		.then((result)=>{
			// console.log("%cResult:", conStyle.boldRed, result)
			setTimeout(()=>{				
				this.isDataReady = true	
			}, 2000)
			
		})
	}

/*
		submit
		 */		
		submit(){					
			this.VeeValidatorHelperMixin_validateAll('formuser')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			this.updatesUser(this.id)
			.then(()=>{
				Event.fire('Notification.Success', {message: 'Successfully Update User'});
				this.closeWidget()
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError', {message: "Error Updating User"}) 
				throw(error)
			})
		}

/*
closeWidget
 */
	closeWidget(){
		this.$router.push({name:'mainmap'})
	}

	/*
	beforeDestroy
	 */
	beforeDestroy(){
		this.resetFormData()
		this.toggleUserEdit(false)
		this.clearListOfRoles()
	}

	/**
	 * Component destroyed lifecycle hooks
	 * @return void
	 */
	destroyed(){				
		Event.fire('Map.DeactivateWidget', 'Users.Main.Edit')
	}


}

</script>