<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../styles/containers/main-section.scss"></style>

<style scoped>

	/* 
	Originally, this was for class 'title'
	but now we want to remove all the styling
	and apply them onto the container instead
	
	We remove the styling of title by changing
	the 'title' class into 'panel-title'
	*/

	.panel-title {
		margin: 0;
	    margin-bottom: initial;
	    margin-top: 8px;	    
	    padding-bottom: 10px;
	    font-size: 25px;
	    color: #116fff;
	    position: relative;
	    font-weight: 500;
	    display: inline-block;
	}

	.title-container {
		border-bottom: 1px solid #dde2ec;
		margin-top: 30px;		
	}

	.title-container:before {
	    content: '';
	    width: 50px;
	    height: 2px;
	    background: #116fff;
	    position: absolute;
	    bottom: -1px;
	}		

	/*.close-widget {
	    position: absolute;
	    right: 0;
	}*/

	.name-list{
		padding-top: 10px;
	}

	.progress-text {
		margin-top: 10px;
	}


	
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<main-wrapper :scroller="true">

		

		<template slot="header">
			<div class="row">
					<div class="col-sm-12">					
					
					<font-awesome-icon @click.prevent="closeWidget" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>
					<font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>

					<div class="title-container">

												
						<div class="row">
							<div class="col-sm-2">
								<h1 class="panel-title">
									Users
								<button v-if="AuthorizationMixin_isGranted('User.Create')" class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.users.create.details'})">
		                            <span><font-awesome-icon :icon="['fas', 'plus-circle']" size="lg" /></span> 
		                            <span>Add</span>
		                        </button>
								</h1>																	
							</div>

							<div class="col-sm-6 col-sm-offset-4">								
								<form action="#" class="form-inline" :class="{'pull-right':isSmAndLarger}">
									<div class="form-group">
										<label for="groupBy">Group By</label>
										<label> :Tenant</label>
											<!-- <div class="btn-group" role="group">
											
												<button 
													type="button" 
													class="btn btn-default" 
													:class="{active:groupBySelection == 'tenant'}"
													@click="changeUserGroupBy('tenant')"
												>Tenant
												</button>

												<button 
													type="button" 
													class="btn btn-default" 
													:class="{active:groupBySelection == 'vessel'}"
													@click="changeUserGroupBy('vessel')"
												>Vessel
												</button>											
											
											</div> -->

											<!-- <select2 
												:options="groupByOptions" 
												v-model="groupBySelection" 
												:searchable="false" 
												id="groupBy"
												:fullWidth="false"
												:width="150"
												@change="changeUserGroupBy"
											>
											</select2> -->	
									</div>
								</form>
							</div>
						</div>
					</div>
																			
				</div>	<!-- .col-sm-12 -->
			</div>	<!-- .row	 -->
		</template>

		<template slot="scroll-content">

			<div>

				<div class="row content">					
							

					<!-- Content -->					
					

					<div class="col-sm-12 progress-text" v-if="!userListReady">
						<h3>Loading Users</h3>
					</div>

					<div v-else-if="userListReady && userList.length" class="name-list col-sm-12">
						<div 						
							:class="{
								'col-sm-12': columnOne(),
								'col-sm-6': columnTwo()
							}"
						>						
							<name-box 
								:listItem="listItem"
								v-for="listItem in userListOne"
								:key="groupBySelection == 'tenant' ? listItem.tenantId : listItem.mmsi"
								:group="groupBySelection"
								@click="$router.push({name:'map.users.view', params:{id:$event}})"
							></name-box>
						</div>

						<div 					
							v-if="columnTwo()"
							class="col-sm-6" 
						>
							<name-box 
								:listItem="listItem"
								v-for="listItem in userListTwo"
								:key="groupBySelection == 'tenant' ? listItem.tenantId : listItem.mmsi"
								:group="groupBySelection"
								@click="$router.push({name:'map.users.view', params:{id:$event}})"
							></name-box>
						</div>					
					</div>

					<div v-else class="col-sm-12">
						<h3>No Users In Record</h3>
					</div>					

					

					<div class="col-sm-12">
						<paginate
							v-model="page"
							:page-count="totalPage"												
							:container-class="'pagination'"
							:page-class="'page-item'"
							:page-link-class="'page-link-item'"
							:prev-class="'prev-item'"
							:prev-link-class="'prev-link-item'"
							:next-class="'next-item'"
							:next-link-class="'next-link-item'"
							:break-view-class="'break-view'"
							:break-view-link-class="'break-view-link'"
							:first-last-button="true"
						></paginate>
					</div>

					

				</div> <!-- end row -->	

			</div>		

		</template>		
	</main-wrapper>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	
	import { Component, Watch } from 'vue-property-decorator'	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'
	import AuthorizationMixin from '../../common/mixins/AuthorizationMixin'	

	import Paginate from 'vuejs-paginate'

	const UserListModule = namespace('users/list')
	const AppScreenSize = namespace('app/screensize')

/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/	
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'name-box' : ()=> import('./NameBox'),
			'select2' : ()=> import('../../common/libs/Select2'),
			'paginate': Paginate			
		}
	})
	export default class UserList extends mixins(AuthorizationMixin) {

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/
		@UserListModule.Getter userList
		@AppScreenSize.Getter isSmAndLarger

		@UserListModule.Mutation toggleUserList		
		@UserListModule.Mutation groupUserList
		@UserListModule.Mutation setUserList

		@UserListModule.Action loadUserList

		userListReady = false

		groupByOptions = [
			{text:'vessel', id:'vessel'},
			{text:'tenant', id:'tenant'}
		]
		groupBySelection = 'tenant'

		page = 1
		pageSize = 10

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/

		/*
		created
		 */
		created(){
			Event.listen("Users.GroupByVessel", (result)=>{
				this.setUserList(result)
				this.userListReady = true
			})
			Event.listen("Users.GroupByTenant", (result)=>{
				this.setUserList(result)
				this.userListReady = true
			})			
		}
		/*
		mounted
		 */
		mounted(){
			this.loadUserList().then((result)=>{
				this.userListReady = true
			})
		}

		/**
		 * Decide whether to spread into single or two column
		 */
		columnOne(){return this.userList.length == 1}
		columnTwo(){return this.userList.length > 1}

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})			
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleUserList(false)
		}

		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){				
			Event.fire('Map.DeactivateWidget', 'Users.Main.Index')
		}


		/**
		 * when user select groupBy, change the tree accordingly
		 * @return void
		 */
		changeUserGroupBy(groupBy){

			this.groupBySelection = groupBy

			this.userListReady = false

			this.groupUserList(this.groupBySelection)			
			
		}		

/*
paginate
 */
		paginate (array, page_size, page_number) {			
		  --page_number;
		  return array.slice(page_number * page_size, (page_number + 1) * page_size);
		}			

/*
getters and setters
 */
		// index 0, 2, 4, 6, 8
		get userListOne(){						
			return this.paginate(this.userList, this.pageSize, this.page).filter( (ul, index) => index % 2 == 0 )
		}
		// index 1, 3, 5, 7, 9
		get userListTwo(){
			return this.paginate(this.userList, this.pageSize, this.page).filter( (ul, index)=> index % 2 != 0 )
		}

		get totalPage(){
			// return ((this.userList.length - 1) / this.pageSize) + 1;
			// console.log(this.userList.Length / this.pageSize)
			if(this.userList.length){
				// console.log(this.userList.length)
				// console.log(this.pageSize)
				return Math.ceil(this.userList.length/this.pageSize)
				// console.log(this.userList.Length / this.pageSize)
				// console.log(Math.ceil(this.userList.Length / this.pageSize))
				// return Math.ceil(this.userList.Length / this.pageSize);
			}

			return 1
			
		}

/*
	changePage
 */
		changePage(page){
			this.page = page
		}

	}

</script>