<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/user-detail-form.html"></template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>

	import { Component, Inject } from 'vue-property-decorator'	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import ToggleButton from 'vue-js-toggle-button'

	Vue.use(ToggleButton)

	const UserFormModule = namespace('users/form')

	@Component
	export default class UserDetailForm extends Vue {

	@Inject('parentValidator') $validator

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/

		@UserFormModule.Getter formData
		@UserFormModule.Getter listOfRoles

		@UserFormModule.Mutation resetFormData
		@UserFormModule.Mutation setFormDataValue

		@UserFormModule.Action getListOfRoles

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/

/*
mounted
 */
		mounted(){
			// console.log("%c formData: ", conStyle.boldRed, this.formData)
			this.getListOfRoles()
		}

		/*
		Getters and setters
		 */
		get formData_userName(){return this.formData.userName}
		set formData_userName(value){ this.setFormDataValue({key:'userName', value}) }

		get formData_email(){return this.formData.emailAddress}
		set formData_email(value){ this.setFormDataValue({key:'emailAddress', value}) }

		get formData_isActive(){return this.formData.isActive}
		set formData_isActive(value){ this.setFormDataValue({key:'isActive', value}) }

		get formData_expirationDate(){return '' }
		set formData_expirationDate(value){  }

		get formData_name(){return this.formData.name }
		set formData_name(value){ this.setFormDataValue({key:'name', value}) }

		get formData_surname(){return this.formData.surname }
		set formData_surname(value){ this.setFormDataValue({key:'surname', value}) }

		get formData_company(){return this.formData.tenantName }
		set formData_company(value){ this.setFormDataValue({key:'tenantName', value}) }

		get formData_password(){return this.formData.password }
		set formData_password(value){ this.setFormDataValue({key:'password', value}) }

		get formData_confirmPassword(){return this.formData.confirmPassword }
		set formData_confirmPassword(value){ this.setFormDataValue({key:'confirmPassword', value}) }

		get enabled(){ return this.formData.enabled }
		set enabled(value){ this.setFormDataValue({key:'enabled', value}) }

		get formData_phone(){return '' }
		set formData_phone(value){  }

		get formData_fax(){return '' }
		set formData_fax(value){  }

		get formData_address(){return '' }
		set formData_address(value){  }

		get formData_city(){return '' }
		set formData_city(value){  }

		get formData_state(){return '' }
		set formData_state(value){  }

		get formData_zipCode(){return '' }
		set formData_zipCode(value){  }

		get formData_country(){return '' }
		set formData_country(value){  }

		get formData_group(){return '' }
		set formData_group(value){  }
					
	}
	
</script>