<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/user-create.html"></template>

<script>
	/*
	Script Start
	 */
	import { Component, Provide } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import vHelper from '../../../helpers/VHelper'
	import Vue from 'vue'

	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'

	const UserFormModule = namespace('users/form')
	const UserCreateModule = namespace('users/create')
	
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'user-form' : ()=> import('./UserDetailForm')			
		}
	})
	/*
	Class start
	 */
	export default class UserCreate extends mixins(VeeValidatorHelperMixin) {

		@UserFormModule.Getter formData	

		@UserFormModule.Mutation resetFormData
		@UserFormModule.Mutation clearListOfRoles
		@UserCreateModule.Mutation toggleUserCreate

		@UserCreateModule.Action createNewUser

		@Provide() parentValidator = this.$validator		
				

		// mounted(){
		// 	console.log("%cRoute:", conStyle.boldRed, this.$route.name)
		// }
		/*
		closeWidget
		 */
		closeWidget(widget){			
			this.$router.push({name:'mainmap'})
		}		

		/**
		submit
		 */		
		submit(){				
			this.VeeValidatorHelperMixin_validateAll('formuser')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			console.log(this.formData)
			this.createNewUser()
				.then((result)=>{					
					Event.fire('Notification.Success', {message: "Successfully create new user"})
					this.closeWidget()
				},
				(error)=>{					
					Event.fire('Notification.ServerError')	
					throw(error)
				}
			)
		}

		
		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.resetFormData()
			this.toggleUserCreate(false)
			this.clearListOfRoles()
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'User.Main.Create')
        }
			
		

		
			
	}
		
</script>