<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/user-role-form.html"></template>

<script>

	import { Component, Inject } from 'vue-property-decorator'	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import ToggleButton from 'vue-js-toggle-button'

	Vue.use(ToggleButton)

	const UserFormModule = namespace('users/form')

	@Component
	export default class UserDetailForm extends Vue {

	@Inject('parentValidator') $validator

		@UserFormModule.Getter formData
		@UserFormModule.Getter('listOfRoles') allRoles

		@UserFormModule.Mutation resetFormData
		@UserFormModule.Mutation setFormDataValue

		@UserFormModule.Action getListOfRoles

		listOfRoles = {}

/*
mounted
 */
		mounted(){
    //        console.log("%c route name: ", conStyle.boldRed, this.$route.name)
				//console.log("%c roles: ", conStyle.boldRed, this.allRoles)
			if(this.$route.name == 'map.users.edit.roles'){
				this.getListOfRoles().then((result)=>{
                    this.listOfRoles = this.allRoles			
                    this.formData.roleIds = []
					this.formData.roleNames = []
					_.each(this.formData.roles, (f)=>{
						_.each(this.listOfRoles, (r)=>{
							if(_.isMatch(f, { 'id': r.id })){
                                r.enabled = true
                                this.formData.roleIds.push(r.id)
							}
						})
					})				
                    //console.log("%c listOfRoles: ", conStyle.boldRed, this.listOfRoles)
                   
					
                })

			}
			else{
                this.getListOfRoles().then((result) => {
					this.formData.roleIds = []
					this.formData.roleNames = []
					this.listOfRoles = this.allRoles
				})
			}
			

		}

		addRoles(id,event){

			let value = event.value;
			let roleIds = this.formData.roleIds

            if (value) {
                //console.log(1)
				roleIds.push(id)
				//console.log("%roleIds:", conStyle.boldRed, roleIds)
			}

            else {
				//console.log(2)
				var index = roleIds.indexOf(id)
				// console.log(index)
			 	roleIds.splice(index, 1)
			 	//console.log("%roleIds:", conStyle.boldRed, roleIds)
			
			}
		}

		getRoles(text){

			// if(roleNames)
		}

		/*
		Getters and setters
		 */
		get enabled(){ 
			return this.formData.enabled 
		}
		set enabled(value){ this.setFormDataValue({key:'enabled', value}) }
					
	}
	
</script>