<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../styles/containers/main-section.scss"></style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<main-wrapper :scroller="true">


		<template slot="header">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="title clearfix">
							View User

							<span class="btn-group">
								<button title="Edit User" v-if="AuthorizationMixin_isGranted('User.Update')" type="button" class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.users.edit.details', params:{id}})" >
								<i class="fa fa-pencil"></i>
								</button>
								<button title="Deactivate User" type="button" class="btn btn-danger btn-sm" @click.prevent="" >
								<i class="fa fa-ban"></i>
								</button>
							</span>
							
							<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

							<font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
					</h1>
				</div>	
			</div>		
		</template>

		<template slot="scroll-content">

			<div>

				<div class="row">				

					<!-- Top -->
					<div class="col-sm-12">

						<!-- <h1 class="title">View User <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>
							<span class="btn-group">
								<button title="Edit User" v-if="AuthorizationMixin_isGranted('User.Update')" type="button" class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.users.edit.details', params:{id}})" >
								<i class="fa fa-pencil"></i>
								</button>
								<button title="Deactivate User" type="button" class="btn btn-danger btn-sm" @click.prevent="" >
								<i class="fa fa-ban"></i>
								</button>
							</span>
						</h1> -->	

						<user-form v-if="isDataReady"></user-form>

					</div>				

				</div> <!-- end row -->
			</div>

		</template>		
	</main-wrapper>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	
	import { Component, Prop, Provide } from 'vue-property-decorator'	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { mixins } from 'vue-class-component'
	import Vue from 'vue'	
	import AuthorizationMixin from '../../common/mixins/AuthorizationMixin'	

	const UserViewModule = namespace('users/view')
	const UserFormModule = namespace('users/form')

/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/	
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'user-form' : ()=> import('./UserDetailForm')						
		}
	})
	export default class UserView extends mixins(AuthorizationMixin) {

	@Provide() parentValidator = this.$validator
/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/
	@Prop() id

	@UserViewModule.Mutation toggleUserView

	@UserFormModule.Mutation resetFormData
	@UserFormModule.Action loadFormData

	isDataReady = false
		

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/

/*
mounted
 */
	mounted(){				
		this.loadFormData(this.id)
		.then((result)=>{
			// console.log("%cResult:", conStyle.boldRed, result)
			setTimeout(()=>{				
				this.isDataReady = true	
			}, 2000)
			
		})
		// console.log(this.$route.name)
	}

/*
closeWidget
 */
	closeWidget(){
		this.$router.push({name:'mainmap'})
	}

	/*
	beforeDestroy
	 */
	beforeDestroy(){
		this.resetFormData()
		this.toggleUserView(false)
	}

	/**
	 * Component destroyed lifecycle hooks
	 * @return void
	 */
	destroyed(){				
		Event.fire('Map.DeactivateWidget', 'Users.Main.View')
	}


}

</script>