<style src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/tenantFilterCreate.html"></template>

<script>
import Vue from "vue";
import { mixins } from "vue-class-component";
import { Component, Provide } from "vue-property-decorator";
import { namespace, Getter, Action, Mutation } from 'vuex-class'
import MainWrapper from "../../common/WidgetContainers/map/MainWrapper";
import FilterForm from "./tenantFilterForm"

import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'

const TenantFilterCreateModule = namespace('tenantFilter/create')
const TenantFilterFormModule = namespace('tenantFilter/form')

@Component({
    components: {
        MainWrapper,
        FilterForm
    }
})

export default class TenantFiltersCreate extends mixins(VeeValidatorHelperMixin) {
    @Provide() parentValidator = this.$validator

    @TenantFilterFormModule.Getter formData

    @TenantFilterCreateModule.Action storeTenantFilter

    
	submit(){	
	
		for (let i = 0; i < this.formData.filterItems.length; i++){
			this.formData.filterItems[i].rowIndex = i;
		}
				
		this.VeeValidatorHelperMixin_validateAll('tenantfilter')
		.then(()=>{				
			if(this.errors.any()){ 				
				Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
				return false 
			}
			this.doSubmit()				
		})											
	}

	doSubmit(){
		this.storeTenantFilter().then(
			(result)=>{					
				Event.fire('Notification.Success', {message: "Successfully Save Tenant Filter"})
				this.closeWidget()
			},
			(error)=>{					
				Event.fire('Notification.ServerError')	
				throw(error)
			}
		)
	}
    closeWidget(widget) {
        this.$router.push({ name: "mainmap" });
    }
}
</script>