<template src="./templates/tenantFilterAssign.html"> </template>
<style src="../../../styles/containers/main-section.scss"></style>
<style scoped>
    .list-display{
        padding-bottom: 15px;
    }
    .list-row {
        display: flex;
        border-bottom: 1px solid #dde2ec;
    }
    .list-row.header {
        font-weight: bold;
    }
    .list-row > * {
        flex: 1;
        padding: 5px;
    }
    .list-row :not(:first-child) {
        text-align: center;
    }

</style>
<script>
import Vue from "vue";
import { namespace, Getter, Action, Mutation } from "vuex-class";
import MainWrapper from "../../common/WidgetContainers/map/MainWrapper";
import { Component } from "vue-property-decorator";
import storage from 'store'
import ToggleButton from 'vue-js-toggle-button'

Vue.use(ToggleButton)

const TenantFilterModule = namespace('tenantFilter')
const TenantFilterAssignModule = namespace('tenantFilter/assign')
const UserListModule = namespace('users/list')


@Component({
    components: {
        MainWrapper
    }
})
export default class TenantFilterAssign extends Vue {
    
    @TenantFilterAssignModule.Action assignUsersToFilter
    @UserListModule.Action loadUserList
    @TenantFilterModule.Mutation setFilterId
    @TenantFilterModule.Getter tenantFilterById
    @UserListModule.Getter userList
    

    userLevel = storage.get('userLevel')
    tenantId = this.userLevel == 'HostAdmin' ? 0 : storage.get('tenantId');
    isLoaded = false
    assignedIds = []
    keyword = ''
    placeholder = this.tenantId ? 'Search user' : 'Search tenant'
    assignees = {}
    filterId = 0
    

    mounted() {
        this.filterId = this.$route.params.id
        this.setFilterId(this.filterId)
        
        this.assignedIds = this.tenantId ? [...this.tenantFilterById.assignedUsers] : [...this.tenantFilterById.assignedTenants]
        this.loadUserList().then(res => {
            this.isLoaded = true
        })
    }

    get displayToAssignList(){
        if (this.userLevel == 'HostAdmin') {

        }
    }

    get listDisplay() {
        let list = []
        if (this.tenantId) {
            _.find(this.userList, {tenantId: this.tenantId}).users.forEach(user => {
                list.push({
                    id: user.id,
                    name: user.userName
                })
            })
            
            return this.filteredList(list)
        }
        this.userList.forEach(user => {
            if (user.tenantId) {
                list.push({
                    id: user.tenantId,
                    name: user.tenantName
                })
            }
        })

        return this.filteredList(list)
    }


    get isDataLoaded() {
        return this.isLoaded
    }

    filteredList(list){
        if (!this.keyword.trim()) return list
        return list.filter(f => 
        f.name
        .toLowerCase()
        .includes(this.keyword.toLowerCase().trim()))
    }

    isToggledBool(id) {
        return this.assignedIds.includes(id)
    }

    toggleChanged(id, {value}){
        if(value) {

            this.assignedIds.push(id)
            this.assignedIds = _.uniq(this.assignedIds)
            this.assignees[id] = true

        } else {
            _.remove(this.assignedIds, n => n == id)
            this.assignees[id] = false
        }
    }

    submit(){
        let data = {
            tenantFilterId: this.filterId,
            assignees: this.assignees
        }

        this.assignUsersToFilter(data).then(
			(result)=>{					
				Event.fire('Notification.Success', {message: "Successfully Save Assigned Tenant Filter"})
				this.closeWidget()
			},
			(error)=>{					
				Event.fire('Notification.ServerError')	
				throw(error)
			}
        )
    }

    closeWidget(widget) {
        this.$router.push({ name: "mainmap" });
    }

}
</script>