<template src="./templates/tenantFiltersAll.html"> </template>
<style src="../../../styles/containers/main-section.scss"></style>
<style scoped>
    .list-row {
        display: flex;
        border-bottom: 1px solid #dde2ec;
    }
    .list-row.header {
        font-weight: bold;
    }
    .list-row > * {
        flex: 1;
        padding: 5px;
    }
    .list-row :not(:first-child) {
        text-align: center;
    }

    
    
</style>
<script>
import Vue from "vue";
import { mixins } from "vue-class-component";
import { Component } from "vue-property-decorator";
import { namespace, Getter, Action, Mutation } from "vuex-class";
import MainWrapper from "../../common/WidgetContainers/map/MainWrapper";
import AuthorizationMixin from "../../common/mixins/AuthorizationMixin";

const TenantFilterModule = namespace("tenantFilter");

@Component({
    components: {
        MainWrapper
    }
})
export default class TenantFiltersAll extends mixins(AuthorizationMixin){
    @TenantFilterModule.Getter listTenantFilters;
    @TenantFilterModule.Action loadTenantFilters;
    @TenantFilterModule.Getter tenantFiltersListFields;

    keyword = ''
    fields = this.tenantFiltersListFields
    isLoaded = false

    mounted() {
        this.loadTenantFilters().then(res => {
            this.isLoaded = true
        })   
    }

    get displayFilterList(){
        if (!this.keyword.trim()) return this.listTenantFilters
        return this.listTenantFilters.filter(f => 
        f.filterName
        .toLowerCase()
        .includes(this.keyword.toLowerCase().trim()))
    }

    get dummyList() {
        let arr = [];
        for(let i=0; i < 25; i++){
            let obj = {};
            

            obj.filterName = 'Filter dummy ' + i;
            arr.push(obj)
        }
        if (!this.keyword.trim()) return arr
        return arr.filter(f => {
            return f.filterName.toLowerCase().includes(this.keyword.toLowerCase().trim())
        })
    }

    assignFilter(filterId){
        this.$router.push({
            name: 'map.tenantFilter.assign',
            params: {
                id: filterId
            }
        })
    }

    get isDataLoaded(){
        return this.isLoaded
    }

    closeWidget(widget) {
        this.$router.push({ name: "mainmap" });
    }

}



</script>
