<template src="./templates/tenantFilter-form.html"></template>
<style scoped>
	.table {
	min-width: 800px;
}

.add-details {
	display: flex;
  	align-items: center;  	
}

.lg .add-details {
    padding-left: 40px;
}

.filter-item {
	border: 2px solid #dde2ec;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    transition: all .3s ease-in
}

.filter-item:hover{
	border: 2px solid #a0a7b5;
	transition: all .3s ease-in
}

.btn-group.add-spec {
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
  	align-items: center;
}
.color {
	width: 100%;
	height: 40px;
	background: #fff;
	border-radius: 4px;
}

.remove-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.border-bottom{
	border-bottom:1px solid #e6e6e6;
}

.mg-btm-1{
	margin-bottom: 19px;
}

@media screen and (max-width: 480px){
	.filter-td-res{
		width: 200px !important;
	}

	.filter-td-res-operator{
		width: 150px !important;
	}

	.filter-td-res-field{
		width: 160px !important;
	}
	.pb-res{
		margin-bottom: 20px;
	}

	.pb-res-t{
		margin-bottom: 10px;
	}

	.control-label{
		width: 100%;
	}
}
</style>
<script>
import { Component, Inject } from 'vue-property-decorator'
import { Validator } from 'vee-validate';
import Vue from 'vue'
import { namespace, Getter, Action, Mutation } from 'vuex-class'
import Select2 from '../../common/libs/Select2'

import ToggleButton from 'vue-js-toggle-button'
Vue.use(ToggleButton)

const TenantFilterFormModule = namespace('tenantFilter/form')

@Component({
		components:{
			Select2,
		}
	})
export default class TenantFilterForm extends Vue {
    @Inject('parentValidator') $validator

    @TenantFilterFormModule.Getter formData
	@TenantFilterFormModule.Getter condition
	@TenantFilterFormModule.Getter type		
	@TenantFilterFormModule.Getter operation
	@TenantFilterFormModule.Getter tenantFilterItems
	@TenantFilterFormModule.Getter shipTypeOptions
	@TenantFilterFormModule.Getter aisTypeOptions
	

	@TenantFilterFormModule.Mutation setFormData	
	@TenantFilterFormModule.Mutation setTenantFilterItem
	@TenantFilterFormModule.Mutation addTenantFilterItem
	@TenantFilterFormModule.Mutation removeTenantFilterItem

	@TenantFilterFormModule.Mutation clearData

	@TenantFilterFormModule.Action loadShipTypeList

	mounted(){
		this.loadShipTypeList()
	}
	/*
	getters and setters
	 */
	get name(){ return this.formData.filterName }

	set name(value){ this.setFormData({key:'filterName', value}) } 

	setTenantFilter(type, {value}, rid){		
		console.log("%c value: ", conStyle.boldRed, value)		
		console.log("%c type: ", conStyle.boldRed, type)
		this.setTenantFilterItem({type, value, rid})
	}

	beforeDestroy(){
		this.clearData()
	}

}
</script>