<style scoped src="../../../styles/side-nav/list-item.scss"></style>

<template>

	<v-fragment>
		<li >			
			<a href="" @click.prevent="toggleMenu" id="alarm" class="sidebar-tooltip" :class="{ 'active':alarmSummaryEnabled }" data-vtooltip="Alarm">
                <img :src="alarmLogo">
                <span class="nav-label padding-left-10pt">Alarm</span>
            </a>
		</li>					
	</v-fragment>
	
</template>

<script>
	import Vue from 'vue'
	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Mutation } from 'vuex-class'

	import async from 'async'
	import {Plugin as FragmentPlugin} from 'vue-fragments'
	Vue.use(FragmentPlugin)	
    
	const AlarmSummaryModule = namespace('alarm/summary')
	const AlarmCreateModule = namespace('alarm/create')	

    import AlarmLogo from '../../../../images/sidebar-icon/alarm.svg'

	@Component
	export default class AlarmNavigation extends Vue{

		alarmLogo = AlarmLogo

		@AlarmSummaryModule.Getter('enabled') alarmSummaryEnabled
		
		// Alarm Create
		@AlarmCreateModule.Mutation toggleAlarmCreate		


		toggleMenu(){
			if(!this.alarmSummaryEnabled){this.$router.push({name:'map.alarm.summary'})}
			else{this.$router.push({name:'mainmap'})}			
		}

	}


</script>