<style scoped src="../../../styles/side-nav/list-item.scss"></style>
<template>

	<v-fragment>
		<li >			
			<a href="" id="aton" @click.prevent="toggleMenu" class="sidebar-tooltip" :class="{ 'active':atonSummaryEnabled }" data-vtooltip="AtoN">
				<span class="badge" id="eics-count" v-show="atonSummaryEnabled && !panelShown">{{badgeCount}}</span>
                <img :src="atonLogo">
                <span class="nav-label padding-left-10pt">AtoN</span>
            </a>
            <div class="toggle-button" @click="togglePanelShown(true)" v-show="!panelShown && atonSummaryEnabled">&#x3e;</div>
		</li>			

		
				
	</v-fragment>
	
</template>

<script>
	import Vue from 'vue'
	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Mutation } from 'vuex-class'

	import async from 'async'
	import {Plugin as FragmentPlugin} from 'vue-fragments'
	Vue.use(FragmentPlugin)	
    
	const AtonSummaryModule = namespace('aton/summary')

    import AtonLogo from '../../../../images/sidebar-icon/aton.svg'

	@Component
	export default class AtonNavigation extends Vue{

		atonLogo = AtonLogo

		@AtonSummaryModule.Getter('enabled') atonSummaryEnabled
		@AtonSummaryModule.Getter panelShown
		@AtonSummaryModule.Getter('vesselsArr') inViewVessels

		@AtonSummaryModule.Mutation togglePanelShown	
		

		toggleMenu(){
			if(!this.atonSummaryEnabled){this.$router.push({name:'map.aton.summary'})}
			else{this.$router.push({name:'mainmap'})}			
		}
		get badgeCount(){
			return this.inViewVessels.length
		}
		
	}


</script>