<style scoped src="../../../styles/side-nav/list-item.scss"></style>

<template>

	<v-fragment>
		<li>						
			<a href="" @click.prevent="toggleMenu" id="cable" class="sidebar-tooltip" :class="{ 'active':cableSummaryEnabled }" data-vtooltip="Cable">
                <img :src="require('../../../../images/sidebar-icon/cable.svg')">
                <span class="nav-label padding-left-10pt">Cable</span>
            </a>
		</li>					
	</v-fragment>
	
</template>

<script>

	/*
	Script start
	 */
	import Vue from 'vue'
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Mutation } from 'vuex-class'

	import {Plugin as FragmentPlugin} from 'vue-fragments'
	Vue.use(FragmentPlugin)
	
	const CableSummaryModule = namespace('cable/summary')		

	/*
	Class start
	 */
	@Component
	export default class CableNavigation extends Vue{		
		
		@CableSummaryModule.Getter('enabled') cableSummaryEnabled		

		toggleMenu(){
			if(!this.cableSummaryEnabled){this.$router.push({name:'map.cable.summary'})}
			else{this.$router.push({name:'mainmap'})}			
		}		
		
	}


</script>