<style scoped src="../../../styles/side-nav/list-item.scss"></style>

<template>

	<v-fragment>
		<li>						
			<!-- <a href="" @click.prevent="toggleMenu" class="sidebar-tooltip" :class="{ 'active':cableSummaryEnabled }" data-vtooltip="EICS">
                <img :src="require('../../../../images/sidebar-icon/cable.svg')">
                <span class="nav-label padding-left-10pt">Cable</span>
            </a> -->
            <a href="" @click.prevent="toggleMenu" class="sidebar-tooltip" data-vtooltip="EICS" :class="{ 'active':eicsSummaryEnabled }" >
            	<span class="badge" id="eics-count" v-show="eicsSummaryEnabled && !panelShown">{{badgeCount}}</span>
                <img :src="require('../../../../images/sidebar-icon/EICS.svg')">                
                <span class="nav-label padding-left-10pt">EICS</span>                               
            </a>
            <div class="toggle-button" @click="togglePanelShown(true)" v-show="!panelShown && eicsSummaryEnabled">&#x3e;</div>
		</li>	
	</v-fragment>
	
</template>

<script>

	/*
	Script start
	 */
	import Vue from 'vue'
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Mutation } from 'vuex-class'

	import {Plugin as FragmentPlugin} from 'vue-fragments'
	Vue.use(FragmentPlugin)
	
	const EicsSummaryModule = namespace('eics/summary')		

	/*
	Class start
	 */
	@Component
	export default class EicsNavigation extends Vue{		
		
		@EicsSummaryModule.Getter eicsSummaryEnabled
		@EicsSummaryModule.Getter panelShown
		@EicsSummaryModule.Getter('vesselsArr') inViewVessels

		@EicsSummaryModule.Mutation togglePanelShown					

		toggleMenu(){
			if(!this.eicsSummaryEnabled){this.$router.push({name:'map.eics.summary'})}
			else{this.$router.push({name:'mainmap'})}
		}

		get badgeCount(){
			return this.inViewVessels.length
		}		
		
	}


</script>