<style scoped src="../../../styles/side-nav/list-item.scss"></style>

<template>

	<v-fragment>
		<li>								

			<a href="" @click.prevent="toggleMenu" id="filter" :class="{ 'active':filterSummaryEnabled }" data-vtooltip="Filter">
				<img :src="filterLogo">
				<span class="nav-label padding-left-10pt">Filter</span>
			</a>

		</li>					
	</v-fragment>
	
</template>

<script>
	import Vue from 'vue'
	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Mutation } from 'vuex-class'

	import {Plugin as FragmentPlugin} from 'vue-fragments'
	Vue.use(FragmentPlugin)

	const FilterSummaryModule = namespace('filters/summary')
	const FilterModule = namespace('filters')

	import FilterLogo from '../../../../images/sidebar-icon/filter.svg'

	@Component
	export default class FilterNavigation extends Vue{

		filterLogo = FilterLogo
		
		@FilterSummaryModule.Getter('enabled') filterSummaryEnabled

		toggleMenu(){
			if(!this.filterSummaryEnabled){this.$router.push({name:'map.filter.summary'})}
			else{this.$router.push({name:'mainmap'})}			
		}
		
	}


</script>