<style scoped src="../../../styles/side-nav/list-item.scss"></style>
<style scoped>
    .logo-element {    
        padding: 1.5px 0;
        background-color: #3d3b96;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }  

    .logo {
        width: 49px;
        height: 47px;
        padding: 10px;
    }  

    .logo-header{
        width: 60px;
    }

    .nav-header{
        padding: 15px 25px;
        background-color: #4147a1;
        background-image: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    }

</style>

<template>

    <v-fragment>
       <li class="nav-header cursor-pointer" @click.prevent="switchModule" data-component="HeaderNavigation">
            <div class="dropdown profile-element text-center">
                <div v-if="activeModule == 'monitoring'" class="sidebar-tooltip" data-vtooltip="Monitoring" >
                    <img :src="require('../../../../images/m-logo.svg')" alt="" class="logo-header"  />
                </div>
                <div v-else-if="activeModule == 'analytic'" class="sidebar-tooltip" data-vtooltip="Analytic" >
                    <img :src="require('../../../../images/a-logo.svg')" alt="" class="logo-header" />
                </div>
                <!-- <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear">
                        <span class="block m-t-xs">
                            <strong class="font-bold">Example user</strong>
                        </span> <span class="text-muted text-xs block">Example menu <b class="caret"></b></span>
                    </span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href="#">Logout</a></li>
                </ul> -->
            </div>
            <div class="logo-element">
                <div v-if="activeModule == 'monitoring'" class="sidebar-tooltip" data-vtooltip="Monitoring" >
                    <img :src="require('../../../../images/m-logo.svg')" alt="" class="logo" />
                </div>
                <div v-else-if="activeModule == 'analytic'" class="sidebar-tooltip" data-vtooltip="Analytic" >
                    <img :src="require('../../../../images/a-logo.svg')" alt="" class="logo" />
                </div>
            </div>
        </li>  
    </v-fragment>

</template>

<script>
    import Vue from 'vue'
    import { Component } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'

    import {Plugin as FragmentPlugin} from 'vue-fragments'
    Vue.use(FragmentPlugin)
    const AppModule = namespace('app/modules')

    @Component
    export default class HeaderNavigation extends Vue{        

        @AppModule.Getter activeModule

        @AppModule.Mutation setActiveModule        

        switchModule(){          
            const moduleToActivate = this.activeModule === 'monitoring' ? 'analytic' : 'monitoring'  
            this.setActiveModule(moduleToActivate)            
            Event.fire('App.Modules.Change', moduleToActivate)           
        }
    }    

</script>