<style scoped src="../../../styles/side-nav/list-item.scss"></style>

<template>

	<v-fragment>
		<li class="location">			
            <a href="" @click.prevent="toggleMenu" class="sidebar-tooltip" id="location" :class="{ 'active':locationSummaryEnabled }" data-vtooltip="Location">
                <img :src="locationLogo">
                <span class="nav-label padding-left-10pt">Location</span>
            </a>
        </li>	
    </v-fragment>

</template>

<script>
    import Vue from 'vue'
    import { Component } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'

    import {Plugin as FragmentPlugin} from 'vue-fragments'
    Vue.use(FragmentPlugin)
    
    const LocationSummaryModule = namespace('locations/summary')

    import LocationLogo from '../../../../images/sidebar-icon/map-marker.svg'  

    @Component
    export default class LocationNavigation extends Vue{

        @LocationSummaryModule.Getter('enabled') locationSummaryEnabled    

        locationLogo = LocationLogo        

        toggleMenu(){
            if(!this.locationSummaryEnabled){this.$router.push({name:'map.location.summary'})}
            else{this.$router.push({name:'mainmap'})}           
        }    

    }


</script>