<style scoped src="../../../styles/side-nav/list-item.scss"></style>
<template>

	<v-fragment>
		<li>			
			<a href="" @click.prevent="toggleMenu" class="sidebar-tooltip" id="wrems" :class="{ 'active':wremsSummaryEnabled }" data-vtooltip="MyWREMS">
				<span class="badge" id="eics-count" v-show="wremsSummaryEnabled && !panelShown">{{badgeCount}}</span>
                <img :src="myWremsLogo">
                <span class="nav-label padding-left-10pt">MyWREMS</span>
            </a>
            <div class="toggle-button" @click="togglePanelShown(true)" v-show="!panelShown && wremsSummaryEnabled">&#x3e;</div>
		</li>	
			
	</v-fragment>
	
</template>

<script>
	import Vue from 'vue'
	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Mutation } from 'vuex-class'

	import async from 'async'
	import {Plugin as FragmentPlugin} from 'vue-fragments'
	Vue.use(FragmentPlugin)	
    
	const WremsSummaryModule = namespace('wrems/summary')

    import MyWremsLogo from '../../../../images/sidebar-icon/wrems.svg'

	@Component
	export default class MyWremsNavigation extends Vue{

		myWremsLogo = MyWremsLogo

		@WremsSummaryModule.Getter wremsSummaryEnabled
		@WremsSummaryModule.Getter panelShown
		@WremsSummaryModule.Getter('vesselsArr') inViewVessels

		@WremsSummaryModule.Mutation togglePanelShown

		toggleMenu(){
			if(!this.wremsSummaryEnabled){
				this.$router.push({name:'map.wrems.summary'})
			}
			else{
				this.$router.push({name:'mainmap'})
			}			
		}
		get badgeCount(){
			return this.inViewVessels.length
		}
	}

</script>