<style scoped>
	nav ul li.admin {
		border-bottom: 2px solid lightseagreen;
	}	
	.padding-left-10pt {
		padding-left: 10px;
	}
	.navbar-default.navbar-static-side {
		height: 100%;	
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#373392+0,39a0fe+100 */
		background: #373392; /* Old browsers */
		background: -moz-linear-gradient(top, #373392 0%, #39a0fe 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #373392 0%,#39a0fe 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #373392 0%,#39a0fe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373392', endColorstr='#39a0fe',GradientType=0 ); /* IE6-9 */

		-webkit-box-shadow: 1px 5px 28px 1px rgba(0,0,0,0.47);
		-moz-box-shadow: 1px 5px 28px 1px rgba(0,0,0,0.47);
		box-shadow: 1px 5px 28px 1px rgba(0,0,0,0.47);
	}

	.navbar-default.navbar-static-side:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: url('../../../../images/sidebar-bg.png');
		background-size: cover;
		opacity: .3;
	}	 

    .body.mini-navbar .navbar-static-side{
    	width: 55px !important;
    }

    /deep/ .nav > li > a{
    	padding-left: 15px;
    	border-bottom: 1px solid rgba(255,255,255,.1);
    }

    /deep/ .nav > li > a:focus{
        background: #313b56;
    }

    /deep/ .nav > li > a.active{
        background: #313b56;
    }

    /deep/ .nav > li > a > img {
	    max-width: 23px;
	}

	.navbar-default .nav.metismenu .placeholder {
		padding: 10px;
		border-bottom: 1px solid rgba(255,255,255,.1);		
	}

	.navbar-default .nav.metismenu .placeholder img{
		width: 30px;
		height: 30px;
	}

</style>

<template>
	
	<nav class="navbar-default navbar-static-side " role="navigation" data-component="Navigation">
		<div class="sidebar-collapse">

			<ul class="nav metismenu nav-v">
				<header-nav></header-nav>				
			</ul>

			<ul class="nav metismenu nav-v" v-if="!menuReady">
				<li class="placeholder">
					<img :src="require('../../../../images/sidebar-icon/pulse.svg')" alt="">
				</li>				
			</ul>

			<!-- id="side-menu" -->
			<ul class="nav metismenu nav-v" v-show="NavigationMixin_activeMenuSet == 1 && menuReady">

				<vessel-nav></vessel-nav>

				<component
		          :is="NavigationMixin_permissionComponentMap(permission)"		          		          
		          v-for="permission in setOnePermissions"		          
		          :key="permission"
		        ></component>
			
				<!-- <vessel-nav></vessel-nav>

				<filter-nav v-if="AuthorizationMixin_isGranted('Filter.View')"></filter-nav>

				<zone-nav v-if="AuthorizationMixin_isGranted('Zone.View')"></zone-nav>

				<location-nav v-if="AuthorizationMixin_isGranted('Location.View')"></location-nav>

				<aton-nav v-if="AuthorizationMixin_isGranted('Aton.View')"></aton-nav>

				<weather-nav v-if="AuthorizationMixin_isGranted('Methydro.View')"></weather-nav> -->

			</ul>
			
			<ul class="nav metismenu nav-v" v-if="setTwoPermissions.length && menuReady">
				<li class="reports">            
		        	<a href="" @click.prevent="NavigationMixin_toggleMenuSet" class="sidebar-tooltip" data-vtooltip="More">
		        		<font-awesome-icon :icon="['fas', 'ellipsis-h']" size="lg" :style="{ color: '#fff' }" />
		        		<span class="nav-label padding-left-10pt" v-if="NavigationMixin_activeMenuSet == 1">More...</span>
		        		<span class="nav-label padding-left-10pt" v-if="NavigationMixin_activeMenuSet == 2">...Previous</span>
		        	</a>
		        </li>
			</ul>

			<ul class="nav metismenu nav-v" v-show="NavigationMixin_activeMenuSet == 2 && menuReady">

				<component
		          :is="NavigationMixin_permissionComponentMap(permission)"		          		          
		          v-for="permission in setTwoPermissions"		          
		          :key="permission"
		        ></component>

				<!-- <route-nav v-if="AuthorizationMixin_isGranted('Route.View')"></route-nav>
		       
		        <cable-nav v-if="AuthorizationMixin_isGranted('Cable.View')"></cable-nav>

		        <alarm-nav v-if="AuthorizationMixin_isGranted('Alarm.View')"></alarm-nav>
		        		        
		        <mywrems-nav v-if="AuthorizationMixin_isGranted('MyWREMS.View')"></mywrems-nav> 

				<report-nav v-if="AuthorizationMixin_isGranted('Report.View')"></report-nav>

				<eics-nav v-if="AuthorizationMixin_isGranted('EICS_View')"></eics-nav> -->

		        <!-- <li class="playback" v-if="tenantId == 'null'">
		          <a class="sidebar-tooltip" href="#" :class="{ 'active':playbackEnabled }" @click.prevent="openPlayback">
		            <img :src="playbackLogo">
		            <span class="nav-label padding-left-10pt">Playback</span>
		            <span class="sb-tooltiptext">Playback</span>
		          </a>
		        </li> -->
		        
		        <!-- <user-nav></user-nav> -->		        

			</ul>
		
		</div>
	</nav>

</template>

<script>

	import Vue from 'vue'
	import { Component, Watch } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Mutation, Action } from 'vuex-class'  

	import AuthorizationMixin from '../mixins/AuthorizationMixin'
	import NavigationMixin from './NavigationMixin'

	const PlaybackModule = namespace('playback')
	const AuthorizationModule = namespace('auth/authorization')	

	import PlaybackLogo from '../../../../images/sidebar-icon/playback.svg'	

	@Component({
		components:{
			'header-nav': () => import('./header'),
			'vessel-nav': () => import('./vessels'),
			'location-nav': () => import('./location'),
			'filter-nav': () => import('./filter'),
			'report-nav': () => import('./report'),
			'zone-nav': () => import('./zone'),
			'user-nav': () => import('./user'),
			'alarm-nav': () => import('./alarm'),
			'route-nav': () => import('./route'),
			'weather-nav': () => import('./weather'),
			'cable-nav': () => import('./cable'),
			'aton-nav': () => import('./aton'),
			'mywrems-nav': () => import('./mywrems'),
			'eics-nav': () => import('./eics')
		}
	})
	export default class Navigation extends mixins(AuthorizationMixin, NavigationMixin) {

		playbackLogo = PlaybackLogo

		@PlaybackModule.Getter playbackEnabled					
		@PlaybackModule.Mutation togglePlaybackEnabled			

		@AuthorizationModule.Getter permissions
		@AuthorizationModule.Getter permission
		
		@AuthorizationModule.Action requestPermission

		tenantId = localStorage.tenantId	
		
		menuPermissions = ['Filter.View', 'Zone.View', 'Location.View', 'Aton.View', 'Methydro.View', 'Route.View', 'Cable.View', 'Alarm.View', 'MyWREMS.View', 'Report.View', 'EICS_View' ]	

		menuReady = false

		setOnePermissions = []
		setTwoPermissions = []	

			
		isActiveRoute(routeName){
			return routeName === this.$route.name
		}


		mounted(){	

			try{									

				this.menuPermissions = this.menuPermissions.filter((perm)=>{				
					return this.AuthorizationMixin_isGranted(perm)
				})				

				this.setOnePermissions = this.menuPermissions.splice(0, 5)
				this.setTwoPermissions = this.menuPermissions.splice(0)				
				setTimeout(()=>{
					this.menuReady = true	
				}, 5000)
				
				
				$('#side-menu').metisMenu();

			}
			catch(error){
				console.error(error)	
			}
			
		}

		
	}

</script>