<template></template>

<script>
	
	import Vue from 'vue'
    import { Component } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'   
	
	@Component
    export default class NavigationMixin extends Vue {      	

    	activeMenuSet = ''

    	NavigationMixin_toggleMenuSet(){     		
    		this.activeMenuSet = this.activeMenuSet == '' || this.activeMenuSet == 1 ? 2 : 1    		
    	}
    
    	get _NavigationMixin_setOneActive(){    

    		const routeName = this.$route.name
            console.log("%croutename:", conStyle.boldRed, routeName)

            if(
                routeName == 'mainmap' || routeName == 'map.vessel-list.summary' ||
                routeName == 'map.alarm.main.create' || routeName == 'map.alarm.main.edit' || 
                routeName == 'map.aton.main.list' || routeName == 'map.cable.main.create' || 
                routeName == 'map.cable.main.edit' || routeName == 'map.custom-route.main.create' || 
                routeName == 'map.custom-route.main.edit' || routeName == 'map.custom-route.main.vessel-eta' || 
                routeName == 'map.custom-route.main.eta' || routeName == 'map.filter.main.create' || 
                routeName == 'map.filter.main.edit' || routeName == 'map.filter.vesselGroup.list' || 
                routeName == 'map.filter.vesselGroup.create' || routeName == 'map.filter.vesselGroup.edit' || 
                routeName == 'map.location.main.create' || routeName == 'map.location.main.edit' || 
                routeName == 'map.rms.historicalData' || routeName == 'map.ddms.historicalData' || 
                routeName == 'map.weather.historicalData' || routeName == 'map.users.index' || 
                routeName == 'map.users.view' || routeName == 'map.users.edit.details' || 
                routeName == 'map.users.edit.roles' || 
                routeName == 'map.users.create.details' || routeName == 'map.users.create.roles' || 
                routeName == 'map.zone.main.create' || routeName == 'map.zone.main.edit'  ||
                routeName == 'map.tenantFilter.list'
            )
            {return true}

            const routePermission = this._NavigationMixin_routePermissionMap(routeName)	

            return _.includes(this.setOnePermissions, routePermission)

    		// return routeName == 'map.vessel-list.summary' || routeName == 'map.filter.summary' || routeName == 'map.zone.summary'
    		// 		|| routeName == 'map.location.summary' || routeName == 'map.aton.summary' || routeName == 'map.weather.main.dashboard'
    		// 		|| routeName == 'mainmap'
    	}

    	get _NavigationMixin_setTwoActive(){

    		const routeName = this.$route.name
            const routePermission = this._NavigationMixin_routePermissionMap(routeName) 

            return _.includes(this.setTwoPermissions, routePermission)

    		// return routeName == 'map.custom-route.summary' || routeName == 'map.cable.summary' || routeName == 'map.alarm.summary'
    		// 		|| routeName == 'map.wrems.summary' || routeName == 'map.report.summary' || routeName == 'map.eics.summary'   		
    	}

    	get NavigationMixin_activeMenuSet(){  
    		

    		let result = ''

    		if(this.activeMenuSet == 1){    			
    			result = 1
    		}
    		else if(this.activeMenuSet == 2){    			
    			result = 2
    		}
    		else {    			
    			if(this._NavigationMixin_setOneActive){     				
    				result = 1 
    				this.activeMenuSet = 1
    			}
    			else if(this._NavigationMixin_setTwoActive){     				
    				result = 2 
    				this.activeMenuSet = 2
    			}
    		}    		

	    	return result
    	}

        
        _NavigationMixin_routeDefinitions(){

            return [
                {   
                    routeName: 'map.filter.summary',
                    permission:'Filter.View',
                    component: 'filter-nav'
                }, 
                {   
                    routeName: 'map.zone.summary',
                    permission:'Zone.View',
                    component: 'zone-nav'
                }, 
                {   
                    routeName: 'map.location.summary',
                    permission:'Location.View',
                    component: 'location-nav'
                }, 
                {   
                    routeName: 'map.aton.summary',
                    permission:'Aton.View',
                    component: 'aton-nav'
                }, 
                {   
                    routeName: 'map.weather.main.dashboard',
                    permission:'Methydro.View',
                    component: 'weather-nav'
                }, 
                {   
                    routeName: 'map.custom-route.summary',
                    permission:'Route.View',
                    component: 'route-nav'
                }, 
                {   
                    routeName: 'map.cable.summary',
                    permission:'Cable.View',
                    component: 'cable-nav'
                }, 
                {   
                    routeName: 'map.alarm.summary',
                    permission:'Alarm.View',
                    component: 'alarm-nav'
                }, 
                {   
                    routeName: 'map.wrems.summary',
                    permission:'MyWREMS.View',
                    component: 'mywrems-nav'
                }, 
                {   
                    routeName: 'map.report.summary',
                    permission:'Report.View',
                    component: 'report-nav'
                }, 
                {   
                    routeName: 'map.eics.summary',
                    permission:'EICS_View',
                    component: 'eics-nav'
                }
            ]            


        }

        /*
        Give a route name, get related permission
        The permission can then be used to check whether it fall under menu set 1 or 2
         */
        _NavigationMixin_routePermissionMap(routeName){
            return _.find(this._NavigationMixin_routeDefinitions(), {routeName}).permission
        }

        /*
        To be used for mapping dynamic component
         */
        NavigationMixin_permissionComponentMap(permission){
            return _.find(this._NavigationMixin_routeDefinitions(), {permission}).component
        }


    }

</script>