<style scoped src="../../../styles/side-nav/list-item.scss"></style>

<template>

    <v-fragment>
        <li class="reports">            
            <a href="" @click.prevent="toggleMenu" class="sidebar-tooltip" id="report" :class="{ 'active':reportSummaryEnabled }" data-vtooltip="Reports">
                <img :src="reportLogo">
                <span class="nav-label padding-left-10pt">Reports</span>
            </a>
        </li>
    </v-fragment>

</template>

<script>
    import Vue from 'vue'
    import { Component } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'

    import {Plugin as FragmentPlugin} from 'vue-fragments'
    Vue.use(FragmentPlugin)   
    
    const ReportSummaryModule = namespace('reports/summary')

    import ReportLogo from '../../../../images/sidebar-icon/report.svg' 

    @Component
    export default class ReportNavigation extends Vue{

        @ReportSummaryModule.Getter('enabled') reportSummaryEnabled

        reportLogo = ReportLogo                

        toggleMenu(){
            if(!this.reportSummaryEnabled){this.$router.push({name:'map.report.summary'})}
            else{this.$router.push({name:'mainmap'})}           
        }
    }    


</script>