<style scoped src="../../../styles/side-nav/list-item.scss"></style>

<template>

	<v-fragment>
		<li>						
			<a href="" @click.prevent="toggleMenu" class="sidebar-tooltip" id="route" :class="{ 'active':customRouteSummaryEnabled }" data-vtooltip="Route">
                <img class="route" :src="routeLogo">
                <span class="nav-label padding-left-10pt">Route</span>
            </a>
		</li>					
	</v-fragment>
	
</template>

<script>

	/*
	Script start
	 */
	import Vue from 'vue'
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Mutation } from 'vuex-class'

	import {Plugin as FragmentPlugin} from 'vue-fragments'
	Vue.use(FragmentPlugin)
	
	const CustomRouteSummaryModule = namespace('customRoute/summary')	

	import RouteLogo from '../../../../images/sidebar-icon/route.svg'

	/*
	Class start
	 */
	@Component
	export default class RouteNavigation extends Vue{

		routeLogo = RouteLogo
		
		@CustomRouteSummaryModule.Getter customRouteSummaryEnabled			

		toggleMenu(){
			if(!this.customRouteSummaryEnabled){this.$router.push({name:'map.custom-route.summary'})}
			else{this.$router.push({name:'mainmap'})}			
		}


		
	}


</script>