<style scoped src="../../../styles/side-nav/list-item.scss"></style>

<template>

	<v-fragment>
		<li>
			<a href="#" id="user">
				<!-- <font-awesome-icon :icon="['fas', 'user']" size="lg" /> -->
				<img :src="userLogo">
				<span class="nav-label padding-left-10pt">User</span>
			</a>
		</li>					
	</v-fragment>
	
</template>

<script>
	import Vue from 'vue'
	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Mutation } from 'vuex-class'

	import {Plugin as FragmentPlugin} from 'vue-fragments'
	Vue.use(FragmentPlugin)	

	import UserLogo from '../../../../images/sidebar-icon/user.svg'

	@Component
	export default class UserNavigation extends Vue{
		userLogo = UserLogo

	}

	/* This is a comment to trigger changes in git */
</script>