<style scoped src="../../../styles/side-nav/list-item.scss"></style>

<template>

    <v-fragment>
        <li class="vessels">                       
            <a href="" @click.prevent="toggleMenu" id="vessels" class="sidebar-tooltip" data-vtooltip="Vessel List" :class="{ 'active':vesselListEnabled }">
                <img :src="vessel" alt="" />
                <span class="nav-label padding-left-10pt">Vessel List</span>
            </a>
        </li>
    </v-fragment>

</template>

<script>
    import Vue from 'vue'
    import { Component } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'

    import {Plugin as FragmentPlugin} from 'vue-fragments'
    Vue.use(FragmentPlugin) 

    const VesselListModule = namespace('vesselList')             
    
    import Vessel from '../../../../images/sidebar-icon/vessel.svg'  


    @Component
    export default class VesselListNavigation extends Vue{                   
    
        vessel = Vessel  

        @VesselListModule.Getter vesselListEnabled        

        toggleMenu(){            
            if(!this.vesselListEnabled){this.$router.push({name:'map.vessel-list.summary'})}
            else{this.$router.push({name:'mainmap'})}           
        }     

    }


</script>