<style scoped src="../../../styles/side-nav/list-item.scss"></style>

<template>

    <v-fragment>
        <li class="weather">            
            <a href="" @click.prevent="toggleMenu" id="weather" :to="{name:'map.weather.main.dashboard'}" class="sidebar-tooltip" :class="{ 'active':weatherDashboardEnabled }" data-vtooltip="Weather">
                <img :src="weatherLogo">
                <span class="nav-label padding-left-10pt">Weather</span>
            </a>
        </li>
    </v-fragment>

</template>

<script>
    import Vue from 'vue'
    import { Component } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'

    import {Plugin as FragmentPlugin} from 'vue-fragments'
    Vue.use(FragmentPlugin)   
    
    const WeatherDashboardModule = namespace('weather/dashboard')

    import WeatherLogo from '../../../../images/sidebar-icon/weather.svg' 

    @Component
    export default class WeatherNavigation extends Vue{
 
        @WeatherDashboardModule.Getter('enabled') weatherDashboardEnabled

        weatherLogo = WeatherLogo                

        toggleMenu(){
            if(!this.weatherDashboardEnabled){this.$router.push({name:'map.weather.main.dashboard'})}
            else{this.$router.push({name:'mainmap'})}           
        }
    }    


</script>