<style scoped src="../../../styles/side-nav/list-item.scss"></style>

<template>

    <v-fragment>
        <li class="zone">            
            <a href="" @click.prevent="toggleMenu" id="zone" class="sidebar-tooltip" :class="{ 'active':zoneSummaryEnabled }" data-vtooltip="Zone">
                <img :src="zoneLogo">
                <span class="nav-label padding-left-10pt">Zone</span>
            </a>
        </li>   
    </v-fragment>

</template>

<script>
    import Vue from 'vue'
    import { Component } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'

    import {Plugin as FragmentPlugin} from 'vue-fragments'
    Vue.use(FragmentPlugin)
    
    const ZoneSummaryModule = namespace('zone/summary')

    import Zonelogo from '../../../../images/sidebar-icon/zones.svg'

    @Component
    export default class ZoneNavigation extends Vue{  

        zoneLogo = Zonelogo      

        @ZoneSummaryModule.Getter('enabled') zoneSummaryEnabled        

        toggleMenu(){
            if(!this.zoneSummaryEnabled){this.$router.push({name:'map.zone.summary'})}
            else{this.$router.push({name:'mainmap'})}           
        }        
        
    }


</script>