<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.informationPanel'}">Information Panel</router-link></li>
        		<li class="active">Historical Data</li>
        	</ul>
        	<div class="content">
        		<p>1) Historical Data RMS/DDMS</p>
        		<p>Click the RMS/DDMS tab and click the Historical Data button to open the Historical Data window.</p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="infoPanelImg1"></p>
        		<p><img @click.prevent="showVesselImage('img5')" class="myImg" :src="infoPanelImg5"></p>

        		<p>2) Playback</p>
        		<i><b>&bull;Single Vessel Playback</b></i>
        		<p>Click any vessel on map to open the Information Panel and click the Playback button to open playback window for selected vessel.</p>
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="infoPanelImg2"></p>
        		<p><img @click.prevent="showVesselImage('img3')" class="myImg" :src="infoPanelImg3"></p>

        		<i><b>&bull;Multiple Vessel Playback</b></i>
        		<p>Click two or more selected vessel and press CTRL at the same time to select multiple vessel. Click Playback button to open playback window for selected vessel. Move the playback to see vessel’s history path. </p>
        		<p><img @click.prevent="showVesselImage('img4')" class="myImg" :src="infoPanelImg4"></p>
        		
        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example Historical Data"	
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'

	import infoPanelImg1 from '../../../../../images/help-topic/info-panel-5.png'
	import infoPanelImg2 from '../../../../../images/help-topic/info-panel-6.png'
	import infoPanelImg3 from '../../../../../images/help-topic/info-panel-7.png'
	import infoPanelImg4 from '../../../../../images/help-topic/info-panel-8.png'
	import infoPanelImg5 from '../../../../../images/help-topic/info-panel-9.png'
	
	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class HistoricalDataHelper extends Vue{

		showModal = false
		modalImg = ''
		infoPanelImg1 = infoPanelImg1
		infoPanelImg2 = infoPanelImg2
		infoPanelImg3 = infoPanelImg3
		infoPanelImg4 = infoPanelImg4
		infoPanelImg5 = infoPanelImg5

		showVesselImage(img){
			const images = {
				img1 : infoPanelImg1,
				img2 : infoPanelImg2,
				img3 : infoPanelImg3,
				img4 : infoPanelImg4,
				img5 : infoPanelImg5
			}
			this.modalImg = images[img]
			this.showModal = true

		}
		
	}
</script>