<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li class="active">Information Panel</li>
        	</ul>
        	<router-link tag="li" :to="{name:'knowledgebase.right.uploadDeleteImage'}">1. Upload And Delete Image<i class="fa fa-arrow-right pull-right"></i></router-link>
        	<router-link tag="li" :to="{name:'knowledgebase.right.historicalData'}">2. Historical Data<i class="fa fa-arrow-right pull-right"></i></router-link>

    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	
	

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper')			
		}
	})
	export default class InfoPanelContent extends Vue{

	
	}
</script>