<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.informationPanel'}">Information Panel</router-link></li>
        		<li class="active">Upload Delete Image</li>
        	</ul>
        	<div class="content">
        		<p>1) Upload Image</p>
        		<p>Click any vessel on the map, the Information panel will pop up on the screen. Click the "Upload" button to open the form of upload image.</p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="infoPanelImg1"></p>

        		<p>Click button "Browse" to choose image in the computer and click "Upload" to save the image.</p>
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="infoPanelImg2"></p>

        		<p>2) Delete Image</p>
        		<p>Click the "Delete" button in the Information Panel to open the Confirmation dialog box. Click "Confirm" button to delete selected image.</p>
        		<p><img @click.prevent="showVesselImage('img3')" class="myImg" :src="infoPanelImg3"></p>
        		<p><img @click.prevent="showVesselImage('img4')" class="myImg" :src="infoPanelImg4"></p>
        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example Upload & Delete Image"	
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'

	import infoPanelImg1 from '../../../../../images/help-topic/info-panel-1.png'
	import infoPanelImg2 from '../../../../../images/help-topic/info-panel-2.png'
	import infoPanelImg3 from '../../../../../images/help-topic/info-panel-3.png'
	import infoPanelImg4 from '../../../../../images/help-topic/info-panel-4.png'
	
	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class UploadDeleteImageHelper extends Vue{

		showModal = false
		modalImg = ''
		infoPanelImg1 = infoPanelImg1
		infoPanelImg2 = infoPanelImg2
		infoPanelImg3 = infoPanelImg3
		infoPanelImg4 = infoPanelImg4
		

		showVesselImage(img){
			const images = {
				img1 : infoPanelImg1,
				img2 : infoPanelImg2,
				img3 : infoPanelImg3,
				img4 : infoPanelImg4,
			}
			this.modalImg = images[img]
			this.showModal = true

		}
		
	}
</script>