﻿@using Abp.Authorization.Users
@using Vtmis.WebAdmin.Web.Startup
@model Vtmis.WebAdmin.Web.Models.Users.UserListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Users; //The menu item will be active for this page.
}
@section scripts
    {
    <script src="~/view-resources/Views/Users/Index.js" asp-append-version="true"></script>
    @*<environment names="Development">
            <script src="~/view-resources/Views/Users/Index.js" asp-append-version="true"></script>
        </environment>

        <environment names="Staging,Production">
            <script src="~/view-resources/Views/Users/Index.min.js" asp-append-version="true"></script>
        </environment>*@
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@L("Users")</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="fa fa-refresh"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>@L("UserName")</th>
                                <th>@L("FullName")</th>
                                <th>@L("EmailAddress")</th>
                                <th>@L("IsActive")</th>
                                <th>@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.FullName</td>
                                    <td>@user.EmailAddress</td>
                                    <td><i class="material-icons" style="color:@(user.IsActive ? "green":"red");">@(user.IsActive ? "done" : "clear")</i></td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-circle edit-user" href="#" data-user-id="@user.Id" data-toggle="modal" data-target="#UserEditModal">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-circle delete-user" data-user-id="@user.Id" data-user-name="@user.UserName">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="body table-responsive">
                <button type="button" class="btn btn-primary btn-circle-lg waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#UserCreateModal">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="UserCreateModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInDown">
            <form name="userCreateForm" role="form" novalidate class="form-validation">
                <div class="modal-header">
                    <i class="fa fa-user-plus modal-icon"></i>
                    <h4 class="modal-title top10"><span>@L("CreateNewUser")</span></h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#create-user-details" data-toggle="tab">User Details</a></li>
                        <li role="presentation"><a href="#create-user-roles" data-toggle="tab">User Roles</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="create-user-details">
                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label class="form-label">@L("UserName")</label>
                                            <input class="form-control" type="text" name="UserName" required maxlength="@AbpUserBase.MaxUserNameLength" minlength="2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label class="form-label">@L("Name")</label>
                                            <input type="text" name="Name" class="form-control" required maxlength="@AbpUserBase.MaxNameLength">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label class="form-label">@L("Surname")</label>
                                            <input type="text" name="Surname" class="form-control" required maxlength="@AbpUserBase.MaxSurnameLength">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label class="form-label">@L("EmailAddress")</label>
                                            <input type="email" name="EmailAddress" class="form-control" required maxlength="@AbpUserBase.MaxEmailAddressLength">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix" id="pwd-container">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label class="form-label">@L("Password")</label>
                                            <input type="password" id="Password" name="Password" class="form-control passwordMeter" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                        </div>
                                        <div class="form-group top5">
                                            <div class="pwstrength_viewport_progress"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label class="form-label">@L("ConfirmPassword")</label>
                                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <input type="checkbox" name="IsActive" value="true" id="CreateUserIsActive" class="form-control filled-in" checked />
                                        <label style="font-size:small;" for="CreateUserIsActive">@L("IsActive")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeIn" id="create-user-roles">
                            <div class="row top10">
                                <div class="col-sm-12">
                                    @foreach (var role in Model.Roles)
                                    {
                                        <div class="col-sm-6">
                                            <input type="checkbox" name="role" value="@role.NormalizedName" title="@role.Description" class="filled-in" id="role-@role.Id" />
                                            <label style="font-size:small;" for="role-@role.Id" title="@role.DisplayName">@role.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                    <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                </div>
            </form>
        </div>
    </div>
</div>



@*<div class="modal fade" id="UserCreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateNewUser")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="userCreateForm" role="form" novalidate class="form-validation">
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li role="presentation" class="active"><a href="#create-user-details" data-toggle="tab">User Details</a></li>
                            <li role="presentation"><a href="#create-user-roles" data-toggle="tab">User Roles</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane animated fadeIn active" id="create-user-details">
                                <div class="row clearfix" style="margin-top:10px;">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input class="form-control" type="text" name="UserName" required maxlength="@AbpUserBase.MaxUserNameLength" minlength="2">
                                                <label class="form-label">@L("UserName")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" name="Name" class="form-control" required maxlength="@AbpUserBase.MaxNameLength">
                                                <label class="form-label">@L("Name")</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" name="Surname" class="form-control" required maxlength="@AbpUserBase.MaxSurnameLength">
                                                <label class="form-label">@L("Surname")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="email" name="EmailAddress" class="form-control" required maxlength="@AbpUserBase.MaxEmailAddressLength">
                                                <label class="form-label">@L("EmailAddress")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="password" id="Password" name="Password" class="form-control" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                                <label class="form-label">@L("Password")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                                <label class="form-label">@L("ConfirmPassword")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="checkbox">
                                            <input type="checkbox" name="IsActive" value="true" id="CreateUserIsActive" class="filled-in" checked />
                                            <label for="CreateUserIsActive">@L("IsActive")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane animated fadeIn" id="create-user-roles">
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        @foreach (var role in Model.Roles)
                                        {
                                            <div class="col-sm-6">
                                                <input type="checkbox" name="role" value="@role.NormalizedName" title="@role.Description" class="filled-in" id="role-@role.Id" />
                                                <label for="role-@role.Id" title="@role.DisplayName">@role.Name</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@

<div class="modal inmodal" id="UserEditModal" tabindex="-1" role="dialog" aria-labelledby="UserEditModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content animated bounceInRight">

        </div>
    </div>
</div>

@*<div class="modal fade" id="UserEditModal" tabindex="-1" role="dialog" aria-labelledby="UserEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>*@

<!-- Password meter -->
<script src="~/js/inspinia/jquery-3.1.1.min.js"></script>
<script src="~/js/inspinia/plugins/pwstrength/pwstrength-bootstrap.min.js"></script>
<script src="~/js/inspinia/plugins/pwstrength/zxcvbn.js"></script>
<script>
    jQuery(function ($) {
        var options1 = {};
        options1.ui = {
            container: "#pwd-container",
            showVerdictsInsideProgressBar: true,
            viewports: {
                progress: ".pwstrength_viewport_progress"
            }
        };
        options1.common = {
            debug: false,
        };
        $('.passwordMeter').pwstrength(options1);
    });
</script>