﻿#LoginArea {
  max-width: 400px;
  margin: 120px auto 10px auto;
}
.social-icons {
  padding-left: 0px;
}
.social-icons a.btn-sm {
  margin-right: 5px;
}


/* LOGIN INSPINIA */

body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.body {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(../../../images/inspinia/vesselfeat.jpg);
    background-size: cover;
    -webkit-filter: blur(5px);
    z-index: 0;
}

.grad {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    z-index: 1;
    opacity: 0.7;
}

@media (max-width: 650px) {
    .header {
        margin: -240px 0 0 180px !important;
    }

    .login {
        margin: -150px 0 0 -87px !important;
    }
}

@media (max-width: 1200px) and (min-width: 651px) {
    .header {
        top: calc(50% - 35px) !important;
        left: calc(50% - 250px) !important;
    }

    .login {
        top: calc(50% - 75px) !important;
        left: 50% !important;
    }
}

.header {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 300px);
    z-index: 2;
}

    .header div {
        float: left;
        color: #fff;
        font-family: 'Exo', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 35px;
        font-weight: 200;
    }

        .header div span {
            color: #5dc2f1 !important;
        }


.login {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    height: 150px;
    width: 350px;
    padding-left: 10px;
    z-index: 2;
}

    .login input[type=text] {
        width: 250px;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: #fff;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 4px;
    }

    .login input[type=password] {
        width: 250px;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: #fff;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 4px;
        margin-top: 10px;
    }

    .login .button {
        width: 260px;
        height: 35px;
        background: #fff;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 2px;
        color: #a18d6c;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 6px;
        margin-top: 10px;
    }

        .login .button:hover {
            opacity: 0.8;
        }

        .login .button:active {
            opacity: 0.6;
        }

    .login input[type=text]:focus {
        outline: none;
        border: 1px solid rgba(255,255,255,0.9);
    }

    .login input[type=password]:focus {
        outline: none;
        border: 1px solid rgba(255,255,255,0.9);
    }

    .login .button:focus {
        outline: none;
    }

::-webkit-input-placeholder {
    color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder {
    color: rgba(255,255,255,0.6);
}

.switch_box {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 5px;
}

.loginLabel {
    font-size: small !important;
    padding-top: 2px;
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    border: 2px solid #d9d9d9;
}

