<style>
	h1 {
		color: white;
	}
</style>

<template>
	<div class="container">
		<h1>You session has timed out. You will now be redirected to login page in {{countdown}}s.</h1>
	</div>
</template>

<script>

	/*
	Script start
	 */
	import { Component, Emit } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	const AppSessionModule = namespace('app/session')			

	/*
	Class start
	 */
	@Component
	export default class AuthorizationError extends Vue {

		@AppSessionModule.Getter('user') sessionUser 

		countdown = 5
		countdownInterval = null

		mounted(){

			this.countdownInterval = setInterval(()=>{
				this.countdown--
			}, 1000)

			setTimeout(()=>{
				this.$router.replace({name:'login', params:{tenant:this.sessionUser.tenantName}}, ()=>{
					this.$router.go(0);
				});	
			}, 5000)
			
		}

		beforeDestroy(){
			clearInterval(this.countdownInterval)
		}

	}
</script>
