h1.title{
	margin: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #dde2ec;
  padding-bottom: 10px;
  font-size: 25px;
  color:#116fff;
  position:relative;
  font-weight:500;
}

h1.title:before{
	content:'';
	width:50px;
	height:2px;
	background:#116fff;
	position:absolute;
	bottom:-1px;
}

.table{
	font-size:14px;
}

.fade-in{
  -webkit-animation: fade-in .3s ease-in-out;
  animation: fade-in .3s ease-in-out;
}

@keyframes fade-in{
  0%{
    opacity: 0;
    left: -300px;
  }
  100%{
    opacity: 1;
    top: 0px;
  }
}

/*user*/
.bordered-user{
  border:1px solid #ddd;
  border-radius:3px;
  padding: 20px;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 27px;
  z-index: 1;
} 

.next-step-user-reg{
  position: relative;
    width: 100%;
}

.next-user-ul{
  list-style:none;
  display: flex;
  padding-left: 0;
}

.next-user-li{
  display: inline-flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position:relative;
}

.next-user-li.active .connecting-line{
  background: #047bf8;
}

.next-user-li.active .next-user-icon{
  background: #047bf8;
}

.next-user-icon{
  width:50px;
  height:50px;
  background:#ddd;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 100;
}

.next-user-text{
  display:block;
  font-weight: bolder;
}