<template>
	<datetime v-model="datetime" type="datetime" input-class="form-control"></datetime>
</template>

<script>

	import Vue from 'vue'
    import { Component, Prop, Watch } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'

	import { Datetime } from 'vue-datetime';
	// You need a specific loader for CSS files
	import 'vue-datetime/dist/vue-datetime.css'


    @Component({
    	components:{
    		datetime: Datetime
    	}
    })
    export default class DateTimePicker extends Vue { 


		// time ='19:06'
		// date ='2018-05-12T00:00:00.000Z'
		// datetime ='2018-05-12T17:19:06.151Z'
		datetime = moment().format('YYYY-MM-DDTHH:mm:ss.SSS[Z]')
		// datetime12 ='2018-05-12T17:19:06.151Z'
		// datetime13 ='2018-05-12T17:19:06.151Z'
		// datetimeEmpty =''
		// minDatetime =LuxonDateTime.local().minus({ month: 1, days: 3 }).toISO()
		// maxDatetime =LuxonDateTime.local().plus({ days: 3 }).toISO()
		// datetimeTheming =LuxonDateTime.local().toISO()
	
    	@Watch('datetime')
    	dateTimeChanged(payload){
    		console.log("%cpayload:", conStyle.boldRed, payload)
    	}


    }


</script>