<template>
	<div>
        <zoomlevel-status v-if="zoomLevelStatusEnabled"></zoomlevel-status>
    </div>
</template>

<script>
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 

    const ZoomLevelStatusModule = namespace('status/zoomLevel')

    @Component({
        components: {
            'zoomlevel-status': ()=> import('./ZoomLevel')
        }
    })    
    export default class ZoomLevelStatusFloatPane extends Vue {
        @ZoomLevelStatusModule.Getter('enabled') zoomLevelStatusEnabled
    }

</script>