<style scoped src="./templates/zoom-level.scss"></style>
<template src="./templates/zoom-level.html"></template>

<script>

	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'

	const MapModule = namespace('map')

	@Component({
		components: {
			'float-wrapper': ()=> import('../../../common/WidgetContainers/map/FloatWrapper')
		}
	})
	export default class ZoomLevelStatus extends Vue {

		@MapModule.Getter zoom				

	}

</script>