/*

This is the styling for summary list on left side panel

 */

.widget-wrapper.lg {
    width: 300px;
    background-color: #313B56;
    color: #cec9c9;
    display: flex;
    align-items: center;
    -webkit-animation: wrapper-in .3s ease-in-out;
    animation: wrapper-in .3s ease-in-out;
}

ul.mdm-summary-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.mdm-summary-list li{
    border-bottom: 1px solid rgba(255,255,255,.2);
    padding:10px 0;
    cursor:pointer;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

ul.mdm-summary-list li.no-item {
    border-bottom: 0;
}

ul.mdm-summary-list li:hover{
    color:#047bf8;
}

.mdm-summary-name-list{
    width: 70%;
}

.mdm-summary-action-btn{
    width: 30%;
}

.widget-wrapper.sm {
  background-color: #313B56 !important;
  height: 100% !important;
}

/*toolbar*/

.toolbar{
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}
.toolbar-header{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
    width: 100%;
}
.toolbar-header{
    width: 17%;
    text-align: center;
    margin-left:4px;
}

.toolbar-header a {
    position: relative;
    width: 100%;
    display: block;
    padding: 4px 2px;
    border-radius: 4px;
    border: 2px solid transparent;
    margin: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.toolbar-header a:hover{
    background-color: rgba(29, 38, 62,.5);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.toolbar-header a.active{
    background-color: #1d263e;
    border: 2px solid #3a65bf;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;

}

.toolbar-header a .tooltiptextfrst {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 113%;
    margin-left: -60px;
    font-size: 12px;
    opacity: 0;
  transition: all .3s ease-in-out; 
}

.toolbar-header a:hover .tooltiptextfrst {
    visibility: visible;
    opacity: 1;
  transition: all .3s ease-in-out; 
}

.toolbar toolbar-header a .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 12px;
    opacity: 0;
  transition: all .3s ease-in-out; 
}

.toolbar toolbar-header a:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  transition: all .3s ease-in-out; 
}

.toolbar toolbar-header a .tooltiptextlst {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: -80%;
    margin-left: -60px;
    font-size: 12px;
    opacity: 0;
  transition: all .3s ease-in-out; 
}

.toolbar toolbar-header a:hover .tooltiptextlst {
    visibility: visible;
    opacity: 1;
  transition: all .3s ease-in-out; 
}

/*toggle button minimize*/
.toggle-button {        
    background-color: #313b56;
    position: absolute;
    left: 300px;
    width: 25px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    top: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .toggle-button {        
        left: 270px;
    }
}

@media screen and (max-width: 320px){
    .toggle-button {        
        left: 240px;
    }
}