<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li class="active">MyWREMS</li>
        	</ul>
        	<div class="content">
        		<p><b>1. View MyWREMS</b></p>
        		<p>Click on the MyWREMS icon button at sidebar menu to show the summary of wreck list. By default, it will hide all vessel on the map and only show Wrecks. </p>
        		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="wremsImg1"></p>

        		<p>Click on Show Vessel button to show all the vessel on the map. </p>
        		
        		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="wremsImg2"></p>

        	</div>
        	<div class="" role="group" aria-label="...">							
				<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
			</div>
			<modal
				title="Example MyWREMS"				
				v-if="showModal"	
				class="modalImages"
				@modalClosed="showModal = false"
			>
				<template slot="body">

					<div class="mdl-content">
						<img class="modalImg" :src="modalImg" />
					</div>

				</template>
				
			</modal>
    	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import wremsImg1 from '../../../../../images/help-topic/wrems-1.png'
	import wremsImg2 from '../../../../../images/help-topic/wrems-2.png'

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')
		}
	})
	export default class WremsContent extends Vue{

		showModal = false
		wremsImg1 = wremsImg1
		wremsImg2 = wremsImg2
		
		showVesselImage(img){
			const images = {
				img1 : wremsImg1,
				img2 : wremsImg2
			}
			
			this.modalImg = images[img]
			this.showModal = true
		}

	}
</script>