<div data-component="LocationSummary">	

	<side-wrapper :scroller="true" >
		<template slot="scroll-content">
			
			<!-- Content -->

				<div class="header">
					<span class="title">Locations</span>
					<span class="pull-right">
						<button v-if="AuthorizationMixin_isGranted('Location.Create')" @click.prevent="$router.push({name:'map.location.main.create'})" type="button" class="btn btn-primary" style=" border: none; height: 30px;"><a style="color: white;" href="#">Add</a></button>
					</span>
				</div>			

				<ul class="mdm-summary-list" v-if="locations.length">
					<li v-for="location in locations" :key="location.id">
						<span class="mdm-summary-name-list" @click.prevent="applyLocation(location.Latitude, location.Longitude, location.zoomLevel)">
							{{ location.Name }}
						</span>
						<span class="mdm-summary-action-btn">
							<div class="btn-group pull-right" role="group" aria-label="...">							
								<button v-if="AuthorizationMixin_isGranted('Location.Update')" type="button" class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.location.main.edit', params:{id:location.id}})">
									<font-awesome-icon :icon="['fas', 'pencil-alt']" size="sm" />
								</button>								
								<delete-confirm
									:item="{id:location.id, name:location.Name}"
									type="location"
									@confirm="removeLocation"
									v-if="AuthorizationMixin_isGranted('Location.Delete')"
								>
									<template slot="content">
										<button type="button" class="btn btn-danger btn-sm">
											<font-awesome-icon :icon="['fas', 'trash-alt']" size="sm" />
										</button>
									</template>								
								</delete-confirm>
							</div>	
						</span>
						
					</li>
				</ul>

				<ul v-else class="mdm-summary-list">
					<li>No location in record.</li>
				</ul>

			<!-- Content -->		

		</template>		
	</side-wrapper>
</div>