	<main-wrapper :scroller="true">

		<template slot="header">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="title clearfix">
							Edit Location 
							
							<font-awesome-icon @click.prevent="$router.push({name:'mainmap'})" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

							<font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
					</h1>
				</div>	
			</div>		
		</template>
		<template slot="scroll-content">

			<!-- <div class="row">				

				
				<div class="col-sm-12">
					<h1 class="title">Edit Location <font-awesome-icon @click.prevent="$router.push({name:'mainmap'})" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1>
				</div>
			</div> -->

			<div>
				
				<div class="row">
					<div class="col-sm-12">
						<form @submit.prevent="submit" v-if="isReady" data-vv-scope="formLocation" novalidate class="form-horizontal">
							<location-form></location-form>	
						</form>

						<div class="form-group">
							<div class="form-group">
								<label class="control-label"></label>
								<div class="text-right">
									<div role="group" aria-label="">
										<button @click.prevent="closeWidget" type="button" id="locationClose" name="locationClose" class="btn" aria-label="Close">Close</button>
										<button @click.prevent="locationUpdate" type="submit" id="locationUpdate" name="locationUpdate" class="btn btn-primary" aria-label="Close">Update</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			
		</template>
		<!-- // Comment to trigger changes in git -->
	</main-wrapper>