<div>	
		<!-- Confirm modal -->
		<confirm-modal
		title="Confirm deletion"
		:content="confirmRemoveContent"
		v-if="showDeleteLocationConfirmation"
		@confirm="doRemoveLocation"
		@cancel="cancelRemoveLocation"
		></confirm-modal>

		<main-wrapper :scroller="true">

			<template slot="header">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="title clearfix">
								Add Location
								
								<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

								<font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
						</h1>
					</div>	
				</div>		
			</template>

			<template slot="scroll-content">

				<div>

					<!-- <div class="row">				

						Top
						<div class="col-sm-12">
							<h1 class="title">  Add Location <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1>
						</div>
					</div> -->
					

					<div class="row">
						<div class="col-sm-12">
							<form @submit.prevent="submit" data-vv-scope="formLocation" novalidate class="form-horizontal">
								<location-form></location-form>	
							</form>
						</div>	
					</div>
					
					

					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label class="control-label"></label>
								<div class="text-right">
									<div id="locationCloseGroup" role="group" aria-label="">
										<button @click.prevent="closeWidget" type="button" id="locationClose" name="locationClose" class="btn" aria-label="Close">Close</button>
										<button @click.prevent="locationSave" type="submit" id="locationSave" name="locationSave" class="btn btn-primary" aria-label="Close">Save Changes</button>
									</div>
								</div>
							</div>
						</div>
					</div>


					<!-- <h2 style="color:#116fff;font-weight: 500;">Location List</h2>

					<local-data-table
		                :fields="tableFields"
		                :sortField="sortFieldByType"
		                :data="tableData"
		                :borderedTable="true"
		                :pointerCell="true"
		                @search="search"
		                @updateField="updateField"
		                @actionView="viewLocation"
	            		@actionEdit="editLocation"
	            		@actionDelete="removeLocation"
						:actions="['view','edit','delete']"
		            >                    
		            </local-data-table> -->	
	            </div>	
		</template>

	</main-wrapper>
</div>