<div>




	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label for="name" class="col-lg-2 control-label">Name</label>
					<div class="col-lg-10 ">
						<input 
						v-model="name" 
						type="text" 
						class="form-control" 
						:class="{'error-input':errors.has('formLocation.name')}" 
						name="name" 
						id="name" 
						placeholder="Location name"
						v-validate="`required`"										
						data-vv-validate-on="blur"
						@focus="errors.remove('name', 'formLocation')" 					
						>

						<span 
						v-if="errors.has('formLocation.name')"
						class="help-block text-danger">{{ errors.first('formLocation.name') }}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label for="Coordinates" class="col-lg-2 control-label">Coordinates</label>
					<div class="col-lg-10 ">
						<div class="row">
							
							<div class="col-lg-6 mg-btm-xs">
								<label for="latitude" class="control-label">Latitude</label>
								<input 
									:value="formData.latitude" 
									@input="setWaypointData({key:'latitude', value:$event.target.value })"
									type="number" 
									class="form-control"
									:class="{'error-input':errors.has('formLocation.latitude')}" 
									name="latitude" 
									id="latitude" 
									placeholder="eg: 1.234" 
									v-validate="`required`"
									data-vv-validate-on="blur"
									@focus="errors.remove('latitude', 'formLocation')"
								>

								<span 
									v-if="errors.has('formLocation.latitude')"
									class="help-block text-danger">{{ errors.first('formLocation.latitude') }}
								</span>
							</div>
							
							<div class="col-lg-6">
								<label for="longitude" class="control-label">Longitude</label>
								<input 
									:value="formData.longitude" 
									@input="setWaypointData({key:'longitude', value:$event.target.value })"
									type="number" 
									class="form-control"
									:class="{'error-input':errors.has('formLocation.longitude')}" 
									name="longitude" 
									id="longitude" 
									placeholder="eg: 1.234" 
									v-validate="`required`"
									data-vv-validate-on="blur"
									@focus="errors.remove('longitude', 'formLocation')"
								>
								<span 
									v-if="errors.has('formLocation.longitude')"
									class="help-block text-danger">{{ errors.first('formLocation.longitude') }}
								</span>
							</div>

							<div class="col-lg-12">
								<span>
									<button class="btn btn-primary btn-sm mg-tp-1" @click.prevent="$router.push({name:'map.location.tools.designer'})">Use Designer</button>
								</span>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label for="zoomLevel" class="col-lg-2 control-label">Zoom Level</label>
					<div class="col-lg-10 ">
						<input 
							v-model="zoomLevel" 
							type="number" 
							class="form-control"
							:class="{'error-input':errors.has('formLocation.zoomLevel')}" 
							name="zoomLevel" 
							id="zoomLevel" 
							placeholder="eg: 10 (0-18)" 
							v-validate="`required`"
							data-vv-validate-on="blur"
							@focus="errors.remove('zoomLevel', 'formLocation')"
						>
						<span 
						v-if="errors.has('formLocation.zoomLevel')"
						class="help-block text-danger">{{ errors.first('formLocation.zoomLevel') }}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>


	

<!-- 	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
				<label for="name" class="control-label">Name</label>
				<input 
					v-model="name" 
					type="text" 
					class="form-control" 
					:class="{'error-input':errors.has('formLocation.name')}" 
					name="name" 
					id="name" 
					placeholder="Location name"
					v-validate="`required`"										
					data-vv-validate-on="blur"
					@focus="errors.remove('name', 'formLocation')" 					
				>

				<span 
					v-if="errors.has('formLocation.name')"
					class="help-block text-danger">{{ errors.first('formLocation.name') }}
				</span>
			</div>		
		</div>
	</div> -->
	<!-- Waypoints title -->
<!-- 	<div class="row">
		<div class="col-sm-12">
			<span>Coordinates </span>
			<span>
				<button class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.location.tools.designer'})">Use Designer</button>
			</span>
		</div>
	</div> -->

<!-- 	<div class="row">
		<div class="form-group col-lg-6">
			<label for="latitude" class="control-label">Latitude</label>
			<input 
				:value="formData.latitude" 
				@input="setWaypointData({key:'latitude', value:$event.target.value })"
				type="number" 
				class="form-control"
				:class="{'error-input':errors.has('formLocation.latitude')}" 
				name="latitude" 
				id="latitude" 
				placeholder="eg: 1.234" 
				v-validate="`required`"
				data-vv-validate-on="blur"
				@focus="errors.remove('latitude', 'formLocation')"
			>

			<span 
				v-if="errors.has('formLocation.latitude')"
				class="help-block text-danger">{{ errors.first('formLocation.latitude') }}
			</span>
		</div>
		
		<div class="form-group col-lg-6">
			<label for="longitude" class="control-label">Longitude</label>
			<input 
				:value="formData.longitude" 
				@input="setWaypointData({key:'longitude', value:$event.target.value })"
				type="number" 
				class="form-control"
				:class="{'error-input':errors.has('formLocation.longitude')}" 
				name="longitude" 
				id="longitude" 
				placeholder="eg: 1.234" 
				v-validate="`required`"
				data-vv-validate-on="blur"
				@focus="errors.remove('longitude', 'formLocation')"
			>
			<span 
				v-if="errors.has('formLocation.longitude')"
				class="help-block text-danger">{{ errors.first('formLocation.longitude') }}
			</span>
		</div>
	</div> -->

<!-- 	<div class="row">
		<div class="col-lg-6">
			<div class="form-group">
				<label for="zoomLevel" class="control-label">Zoom Level</label>
				<input 
					v-model="zoomLevel" 
					type="number" 
					class="form-control"
					:class="{'error-input':errors.has('formLocation.zoomLevel')}" 
					name="zoomLevel" 
					id="zoomLevel" 
					placeholder="eg: 10 (0-18)" 
					v-validate="`required`"
					data-vv-validate-on="blur"
					@focus="errors.remove('zoomLevel', 'formLocation')"
				>
				<span 
				v-if="errors.has('formLocation.zoomLevel')"
				class="help-block text-danger">{{ errors.first('formLocation.zoomLevel') }}
			</span>
			</div>		
		</div>
	</div> -->
</div>