<style scoped>      

    .btn-help {
        background-color: #5654b9;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
    }

    .widget-wrapper.lg.override,
    .widget-wrapper.sm.override {
        top: auto;
        left: auto;
        bottom: 40;
        right: 20;
        width: auto;
        height: auto;
        border-radius: 50%;   
        min-height: inherit;
        z-index: 900;                     
    }

    .widget-wrapper.lg.override{
        top: auto;
        left: auto;
        bottom: 40;
        right: 20;
    }

</style>

<template>            
    <widget-wrapper :override="true" >
        <template slot="content">
            <div class="btn-help" @click.prevent="$router.push({name:'knowledgebase.right.topics'})">
                <img :src="require('../../../../images/help-topic/help-icon.svg')" alt="" />    
            </div>            
        </template>        
    </widget-wrapper>    
</template>

<script>
    /*
    Script start
     */
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class'             

    /*
    Class start
     */
    @Component({
        components: {
            'widget-wrapper': () => import('../../common/WidgetContainers/map/RightWrapper')
        }
    })
    export default class KnowledgeBaseActionButton extends Vue {                            
    }
</script>