/deep/ .modal-content{
		top: 40px;
}
.widget-wrapper.override.lg {
	top:100px;
	border-radius: 5px;
	box-shadow:0 8px 30px rgba(5, 11, 15, 0.29);
}
i{
	top:5px;
}
h1{
	color: #000;
}

p{
	line-height: 1.7;
	letter-spacing: .6px;
}
/*img{
	padding-bottom: 10px;
}*/
.home{
	color: #000;
	padding: 8px;
}
.breadcrumb{
	color: #2182fd;
}
.header-help{
	text-align: center;
	background-color: #5654b9;
	color: white;
	padding: 15px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.content{
	padding: 10;
}

li{
	list-style: none;
	padding: 8px;	
	cursor: pointer;
}
li.active{
	color: #000;
}
li:hover{
	color: #2182fd;
	background-color: #f8f8f8;
}

.search{
	padding: 12px 10px 12px 30px;
    width: 100%;
    border-radius: 19px;
    outline: none;
    border: none;
    font: inherit;
    font-size: .85em;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    color: #000;
}

.btn-primary {
	margin-left: 8px;
}
.small-icon{
	width: 100%;
	max-width: 20px;
	max-height: 20px;
}
.add-icon{
	width: 100%;
	max-width: 33px;
	max-height: 23px;
}

.myImg:hover {opacity: 0.7;}
.myImg {
	width: 100%;
	max-width: 330px;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

.modalImages .modalImg {
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #ddd;
	max-width: 538px;
	max-height: 450px;
}
.modalImages .mdl-content {
	height: 500px;
	text-align: center;
}
.lightbox{
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1000; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
/* Modal Content (image) */
.lightbox-content {
	border-radius: 5px;
  margin-top: 110px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
.lightbox-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }

  .modalImages .modalImg {
	border-radius: 5px;
	cursor: pointer;
	max-width: 300px;
}

.modalImages .mdl-content {
	height: 400px;
	text-align: center;
}
}

