<style scoped src="./mini-helper-panel.scss"></style>
<style scoped>
	.widget-wrapper.sm.override .header-help {
		border-radius: 0;
	}

	.widget-wrapper.sm.override .content {
		height: calc(100vh - 200px);
	}

	
</style>

<template>
	<right-wrapper override="true" :scroller="true">    	
        <template slot="scroll-content">
        	<div>
	        	<div class="header-help clearfix">
		        	<b>MDM Help Center</b>
		        	<span class="header__close pull-right">
						<font-awesome-icon @click.prevent="closeWidget" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer" :style="{ color: '#fff' }"/>
		        	</span>
		        	<br><br><br>
		        	<input v-on:keyup.enter="onEnter" class="search" type="text" name="search" v-model="name" placeholder="What do you need help with?">
	        	</div>
	        	<div class="content">
				  		<router-view name="miniHelperPanelContent"></router-view>
				</div>
        	</div>
        </template>
    </right-wrapper>	
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	
	import lunr from 'lunr'

	const MiniHelperModule = namespace('knowledgebase/minihelper')	

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../common/WidgetContainers/map/RightWrapper')
		}
	})

	export default class MiniHelperPanel extends Vue{

		@MiniHelperModule.Mutation toggleMiniHelperEnabled

		@MiniHelperModule.Mutation setFormData
		@MiniHelperModule.Mutation clearFormData
		@MiniHelperModule.Getter formData


		onEnter(){
			// console.log("%cformData.name:", conStyle.boldWhite, this.formData.name)
			//if you want to send any data then you can do it here
			this.$router.push({name:'knowledgebase.right.searchContent', params:{searchTerm:this.formData.name}})
		}

		get name(){ 
			return this.formData.name
		}

		set name(value){
			this.setFormData({key:'name', value}) 
		}

		/*
		closeWidget
		 */
		closeWidget(widget){			
			this.$router.push({name:'mainmap'})		
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleMiniHelperEnabled(false)	
			this.clearFormData()
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'KnowledgeBase.Right.Home')
        }	
	}
</script>