<!-- <style scoped src="../../../styles/mini-helper-panel.scss"></style> -->
<style scoped>
li {
  list-style: none;
  font-size: 18px;
}
li a:hover {
  text-decoration: underline;
  color: #2182fd;
  background-color: #f8f8f8;
}
.mr-3 {
  margin-right: 30px;
  margin-left: -30px;
}
.btn {
  margin-left: 10px;
  margin-top: 5px;
}
</style>
<template>
  <div>
    <ul class="mr-3" v-for="result in searchResults" v-if="searchResults.length">
      <!-- <li><router-link tag="a" :to="{name:`${result.page}`}">{{result.title}}</router-link></li> -->
      <li @click.prevent="$router.push({name:`${result.page}`})">
        <a>{{result.title}}</a>
      </li>
      <p>{{result.body.substring(0, 150)}}...</p>
    </ul>
    <ul v-if="!searchResults.length">
      <li>Sorry, we couldn't find any results for your search.</li>
    </ul>

    <div role="group" aria-label="...">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        @click.prevent="$router.push({name:'knowledgebase.right.topics'})"
      >Back</button>
    </div>
  </div>
</template>

<script>
/*
	Script start
	 */
import { Component, Prop, Watch } from "vue-property-decorator";
import { namespace, Getter, Action, Mutation } from "vuex-class";
import Vue from "vue";
import lunr from "lunr";

const MiniHelperModule = namespace("knowledgebase/minihelper");

/*
	Class start
	 */
@Component({
  components: {
    "right-wrapper": () =>
      import("../../common/WidgetContainers/map/RightWrapper")
  }
})
export default class SearchContent extends Vue {
  @Prop() searchTerm;

  @MiniHelperModule.Mutation toggleMiniHelperEnabled;
  @MiniHelperModule.Getter formData;

  documents = [
    {
      title: "Show Vessel Names",
      page: "knowledgebase.right.showVesselNames",
      body:
        "Click Vessel List Icon at Sidebar Menu on the left. To display ship names, click the Show Vessel Names button in the toolbar. The ship names will appear on the map view. Note: Ship names will appear if there is enough free space to draw the names. MDM calculates this automatically. If MDM has not received AIS message #5 (Ship static and voyage related data) from a certain ship, it will display an MMSI number instead of a name. "
    },
    {
      title: "Vessel List",
      page: "knowledgebase.right.vesselList",
      body:
        "Click Vessel List Icon at Sidebar Menu on the left. You need to click on vessel icon to make vessel list summary to appear. This will show the names of all ships currently visible in your browser window."
    },
    {
      title: "Show Vessel Track",
      page: "knowledgebase.right.showVesselTracks",
      body:
        "Click the Show Tracks button in the toolbar to display ship tracks on the map view. "
    },
    {
      title: "Show Information Balloon",
      page: "knowledgebase.vessel.showInformationBalloon",
      body:
        "To view ship information, click the Show Information Balloon button in the toolbar. Hover mouse to a specific ship, and a balloon will appear over the ship in the map view showing its data. You can deactivate the information balloons at any time by deselecting the Show Information Balloon button  in the toolbar. "
    },
    {
      title: "Follow Selected Vessel",
      page: "knowledgebase.right.followSelectedVessel",
      body:
        "You can always use MDM to automatically keep a specific ship in the center of the map view. Click the desired ship (it will turn red when selected), then click the Follow Selected Vessel button in the toolbar. "
    },
    {
      title: "Show Only Selected Vessel",
      page: "knowledgebase.vessel.showOnlySelectedVessel",
      body:
        "To show a selected ship only, click on the desired ship, then click the Show Only Selected Vessel button  in the toolbar. MDM will automatically eliminate all other ships from the map view. "
    },
    {
      title: "Filter Designer",
      page: "knowledgebase.right.filterDesigner",
      body:
        "The Filter Designer is a tool that allows users to select which ships (AIS targets) to display. Click the Add button  in the toolbar to open the Filter Designer in a new dialog box. Note: The Filter Designer contains several identical lines. Each of these lines represents a condition of the filter. Filter Name - Use this box to display filter name. Enable - Activate a condition. Show Ship – Show the selected filter. Color/Border Color - Choose desired color from the drop-down list. And/Or – Condition statement. (By default as an And statement) MMSI - Enter the MMSI number of the ship. Name - Enter the name of the ship. Call Sign - Enter the call sign of the ship. Ship Type - Select ship type or specify important information (e.g. dangerous cargo). AIS Type - Select AIS targets based on AIS type (e.g. Base Station, Class A, Class B, AtoN, SAR Aircraft). Min/Max Speed - Minimum and maximum speed of the ship. Min/Max Course - Specify minimum and maximum values of course interval for each ship. Min/Max Length - Minimum and maximum length of the ship. Data Source - Signal source (e.g. satellite, land station, LRIT). Save Changes - Save changes and return to the main view. Close - Cancel all changes and return to the main view. Add more filter details. Delete filter details. "
    },
    {
      title: "Create Filter",
      page: "knowledgebase.right.createFilter",
      body:
        "One Ship Only Filter This filter will display only the MY FERRY ship and hide all others. Click the Add button  in the toolbar to open the Filter Designer in a new dialog box. In this example, we will outline the settings required to display only MY FERRY on the map. Before applying the filter After applying the filter "
    },
    {
      title: "Zone Designer",
      page: "knowledgebase.right.zoneDesigner",
      body:
        "The Zone Designer allows users to draw any precise zone on a map or chart. It is a powerful tool for the visualization of a desired monitoring zone. It can also provide a basis for reports. The Zone Designer can be used to create two types of zones (Circle and Polygon) and two types of lines (Line L and Line R). Click the Zone button  in the side menu and click Add button  to open the Zone Designer window. Zone Name - Use this box to display the zone name. Enable - Check this box to enable a zone. Zone Type - Select a type of zone (Circle/Polygon) or a type of line (Line L/Line R) from the drop-down list. Radius - Enter the radius length in Nautical Miles (NM). Note: this option is only available for the circle zone. Color - Select a predefined color from the drop-down list. Fill - Check this box to shade the zone's area on the map. Latitude and Longitude - Enter the zone's coordinates. For circle zones, this is the center of the circle. Tip: you may also use the designer mode. Click this button to select the latitude and longitude pair(s) you wish to remove. Use designer mode - Create zone points by clicking on the map. Save Changes - Save changes and return to the main view. Close - Cancel all changes and return to the main view. Designer Mode allows users to create two types of lines, Line L and Line R, to distinguish outbound traffic from inbound traffic. If you draw Line L, then all inbound traffic will be from your left-hand side. If you draw Line R then all inbound traffic will be from your right-hand side. Note: To choose the right type of line, imagine that you are looking along the line from the beginning of the line to the endpoint. The beginning of the line is your click on the chart and the endpoint is your second click. Refer to the pictures below. "
    },
    {
      title: "Create Zone",
      page: "knowledgebase.right.zoneCreate",
      body:
        "Circle zone Click the Zone button  in the side menu and click Add button to open the Zone Designer window. Type Test Zone Circle in the Zone Name field. Leave the Enable box checked. Select “Circle” from the Zone Type drop-down list. Leave the default numerical value in the Radius field. Select “Yellow” from the Color drop-down list. Leave the Fill box checked. Click Use designer mode box to select the center of your circle. You will be redirected to the map view. Click on your desired location to establish your circle zone's center. Click the button to go back to the Zone Designer window. Tip: Zooming in on the map enlarges the circle for better precision. The Zone Designer will now display the exact latitude and longitude coordinates of your circle zone's center. Click the Save Changes button to save zone changes. You should now see a circle around your selected zone on the map. Polygon zone Click the Zone button  in the side menu and click Add button  to open the Zone Designer window. Type Test Zone Polygon in the Zone Name field. Leave the Enable box checked. Select “Polygon” from the Zone Type drop-down list. Select “Blue” from the Color drop-down list. Leave the Fill box checked. Click Use designer mode box to add polygon points. You will be redirected to the map view. Connect horizontal line segments together by clicking points around the desired area's perimeter in a clockwise direction. Follow our example shown in the image above to contain a similar area on the map within a series of irregular line segments (forming a polygon). Do not worry if your shape does not look identical to our example. It is OK to have the polygon cover parts of land. If you wish to redo a line segment, click the    button and try again. Once you are satisfied with your shape, click the button to go back to the Zone Designer window. A list of latitude and longitude coordinates should now appear in the Zone Designer window. Click the Save Changes button to save zone changes. You should now see a polygon around your selected zone on the map. Line Click the Zone button  in the side menu and click Add button  to open the Zone Designer window. Type Test Zone Line in the Zone Name field. Leave the Enable box checked. Select “Line L” from the Zone Type drop-down list. Select “Green” from the Color drop-down list. Leave the Fill box checked. Click Use designer mode box to add line points. You will be redirected to the map view. To draw the line, click once on the map to set Point 1, and click a second time to set Point 2. A red line will automatically appear between the two points you have clicked. Once you are satisfied with your shape, click the  button to go back to the Zone Designer window. A list of latitude and longitude coordinates should now appear in the Zone Designer window.  Click the Save Changes button to save zone changes. You will see the Latitude and Longitude fields filled with the coordinates of the two points clicked on the map. "
    },
    {
      title: "Create Location",
      page: "knowledgebase.right.locationCreate",
      body:
        "Create Location Click the Location button  in the side menu and click Add button  to open the Location Designer window. Type Test Location in the Name field. Fill Latitude, Longitude and zoom level field. Click the Save Changes button to save location."
    },
    // {
    //   title: "Report Designer",
    //   page: "knowledgebase.right.reportDesigner",
    //   body:
    //     "The Report Designer allows users to build and customize reports. Click the Report button  and click Add button  to open the Report Designer window.Report Name - Display a report name.Enable - Check the box to enable the report. Uncheck the box to disable the report. Report Type - Use the drop-down list to select any predefined report (e.g. Zone Summary, Extended Zone Summary, Arrival/Departure, Arrival Time Forecast, Berth Time Summary, Speed Summary, Speed Violation, Enter/Exit). Zone - Select an existing zone from the drop-down list. Filter - Select an existing filter from the drop-down list. Save Changes - Save changes and return to the main view. "
    // },
    // {
    //   title: "Create Report",
    //   page: "knowledgebase.right.reportCreate",
    //   body:
    //     "Arrival/Departure Report This report will display information about the arrival/departure passenger ships within the Langkawi Kuah zone. Click the Report button  and click Add button  to open the Report Designer window.Note: The Langkawi Kuah zone and Passenger vessel filter had already been created.Type “Arrival / Departure (Langkawi-Kuah)” into the Report Name field.Leave the Enable box checkedSelect “Arrival/Departure” from the Report Type drop-down list.Select “Langkawi Kuah” from the Zone drop-down list. Select “Passenger vessel” from the Filter drop-down list. Click the Save Changes button to save report.Speed Violation ReportThe Speed Violation report is a tool which can be used to check ship speed within a predefined zone and record speed violations. You can set a minimum speed, a maximum speed, or a speed range for your zone. In this example, we will set the upper speed limit to 30 knots.  This report contains information regarding: Position (coordinates) of the first recorded violation Maximum speed of each shipAverage speed of each shipDuration of time that the ship's maximum speed was above the permitted speed.Click the Report button  and click Add button  to open the Report Designer window.Note: The Westport Port Limit zone had already been created.Type “Westport Port Limit Speed Violation > 5 knots” in the Report Name field. Leave the Enable box checkedSelect “Speed Violation” from the Report Type drop-down listSelect “Westport Port Klang” from the Zone drop-down list.Leave the Filter option blank.  Leave the Min Speed field blank. Enter 5.0 into the Max Speed field (knots). Click the Save Changes button to save report.Speed Summary Report The Speed Summary report can be used to make a thorough analysis of ship speeds within any particular high-traffic passage. Click the Report button  and click Add button  to open the Report Designer window.Type “Westport Klang Speed Summary” in the Report Name field. Leave the Enable box checkedSelect “Speed Summary” from the Report Type drop-down list.Select “Westport Port Klang” from the Zone drop-down list. Leave the Filter option blank. Click the Save Changes button to save report."
    // },
    {
      title: "Route",
      page: "knowledgebase.right.route",
      body:
        "The Route Designer is a designed to provide the user with a tool for obtaining an ETA (estimated time of arrival) to the desired waypoint by allowing the user to build a route. Click the Route button  in the side menu and click Add button  to open the Route Designer window. "
    },
    {
      title: "Route Designer",
      page: "knowledgebase.right.routeDesigner",
      body:
        "Route Name - Display a route name Enable  Check the box to enable the route. Color  Select the desired color of the route line from the dropdown menu. Show  Uncheck this box to eliminate a waypoint from the chart/map and ETA calculation. Name  Type the Waypoint's name to display it on the chart.  Latitude and Longitude  Enter the route's coordinates. Tip: Click Use Designer to select the coordinates on a map. Click the button to go back to the Route Designer window. XTE Left/XTE Right – Cross Track Error (in meter) Min/Max Sp.  Minimum and maximum speed of the ship. Avg Sp. Average speed of the ship. Click this button to select the latitude and longitude pair(s) you wish to remove. Save Changes  Save changes and return to the main view. Cancel all changes and return to the main view. "
    },
    {
      title: "Create Route",
      page: "knowledgebase.right.routeCreate",
      body:
        "Click the Route button  in the side menu and click Add button  to open the Route Designer window. Type “Langkawi-Kuala Kedah” in the Route Name field. Leave the Enable box checked. Select Black from the Color drop-down list. To add waypoints, click the Use Designer button. You will be redirected to the map view. Draw the route by clicking consecutively in the direction you wish to go, with evenly spaced intervals between every click. A new number will appear beside each point on the map that you have just clicked. Once you are satisfied with your route, click the  button to go back to the Route Designer window. Click the Save Changes button to save route changes. You will see the Latitude and Longitude fields filled with the coordinates of the two points clicked on the map. Note: Clearing any Show checkbox will omit this unchecked waypoint from the map view. "
    },
    {
      title: "Route ETA",
      page: "knowledgebase.right.routeEta",
      body:
        "Click the Route button  in the side menu and click Route ETA button  to open the Route ETA window. The expected length of time until each ship reaches the next point in its trajectory is displayed under the waypoint columns. You can set a time for the ETA window to refresh automatically if you choose to leave this window open. "
    },
    {
      title: "Vessel ETA",
      page: "knowledgebase.right.routeVesselEta",
      body:
        "To track an individual Vessel's ETA, click on a ship to select it, and then click the Vessel ETA button in the toolbar. "
    },
    {
      title: "Weather",
      page: "knowledgebase.right.weather",
      body:
        "You may use the Instrument Panel to view weather data in real-time. Click the Weather button  in the side menu to open the Weather station Panel in a new window. Select 'All' from the Area drop-down list to view the list of all weather station in the system. Select 'Screen' from the Area drop-down list to view only those weather station visible on your current map view. Use the Refresh every field to automatically refresh the instrument panel. Use the Weather Station Location drop-down list to specify the weather station data.  "
	},
	{
		title: "AtoN",
		page: "knowledgebase.right.aton",
		body: "1) Show/Hide Vessel Click AtoN Icon at Sidebar Menu on the left to open AtoN list summary. This will show the names of all AtoN currently visible in your browser window. AtoN summary list also show the status of AtoN indicator  . The AtoN indicator have a few of status such as: By default, when click AtoN Icon at Sidebar Menu it will show AtoN only on the map. Click Show Vessel button to show vessel on map. 2) AtoN List Click icon Switch to Bing Map to switch Open Street Map view and there have 3 options in Bing Map such as Bing Hybrid Map, Bing Satellite Map and Bing Standard Map. Click button \"PDF/Excel/CSV\" to download the data based on table list. Click \"Edit Column\" button to edit the sequence or disable column of table list. Click View button to view the AtoN on map. Fill the search field and click Search button to search vessel based on the AtoN list."
	},
	{
		title: "Tools",
		page: "knowledgebase.right.tools",
		body: '1) Ruler Click Ruler designer on the map to measure distance between two point. Click icon "Reset Button" to reset the measurement or click "Close Button" to close ruler designer. 2) Weather Station Click Tool button to show list of tools such as Ruler, weather and Legends. Click Weather Station button to show weather station on map. 3) Legend Click Tool button to show list of tools such as Ruler, weather and Legends. Click Legend button to open Legend List window. Click on color button to open color window. Choose the color and click OK button to edit the color of the vessel. These colors will apply to the vessel based on ship type. Tick “Apply changes to all user” to change color of vessel for all users.'
	},
	{
		title: 'Search',
		page: 'knowledgebase.right.search',
		body: '1) Quick Search Fill in the search box with MMSI or Name of vessel to search vessel on map. 2) Advance Search Click the Advanced Search in the toolbar to open Advanced Search window. Fill the form with Name or MMSI or IMO or Call Sign and click the Search button to open advanced search result window. Click button "PDF/Excel/CSV" to download the data based on table list. Click "Edit Column" to edit the sequence or disable column of table list. Click "View" button to view the vessel on map. Fill the search field and click Search button to search vessel based on the advanced search result.'
	},
	{
		title: 'EICS',
		page: 'knowledgebase.right.eics',
		body: '1. View EICS Select any vessel on map and click EICS button at sidebar menu to open EICS list summary.  Click Filter to show the EICS properties and click toggle to ON/OFF the EICS properties. It will show vessel which have EICS properties that near with selected vessel '
	},
	{
		title: 'MyWREMS',
		page: 'knowledgebase.right.wrems',
		body: '1. View MyWREMS Click on the MyWREMS icon button at sidebar menu to show the summary of wreck list. By default, it will hide all vessel on the map and only show Wrecks. Click on Show Vessel button to show all the vessel on the map. '
	},
	{
		title: 'User',
		page: 'knowledgebase.right.user',
		body: '1. View All User Click on the "A" icon at toolbar menu and choose Users to open the User window. Click on the list Tenant to view tenant’s user. Click on View button to view user details. 2. Create User Click Add button to open user detail window. Fill all the detail about user and Click Next button to open user role window, choose the role of user and click Save button. Click on Edit button to open Edit User window. Edit the detail and click Next button to open the User Role window. Click Save button to save updated detail. 4. Activate/Deactivate User Click on Deactivate/Activate button to deactivate or activate user.'
	},
	{
		title: 'Footer',
		page: 'knowledgebase.right.footer',
		body: '1) Total Vessel Total of vessel will show based on vessel type at screen. 2) Map View Click icon Switch to Bing Map to switch Open Street Map view and there have 3 options in Bing Map such as Bing Hybrid Map, Bing Satellite Map and Bing Standard Map. 3) ENC Click icon ENC Base to show Electronic Navigational Charts (ENC) on map. There have 4 options of ENC such as ENC Base, ENC Standard, ENC All and Water only. 4) Mile Marker Drag the map and zoom the map to measure distance use mile marker.'
	}
  ];

  searchResults = [];

  idx = null;

  created() {
    // create index once after create
    const that = this;

    this.idx = lunr(function() {
      // define searchable fields
      this.ref("page");
      this.field("title");
      this.field("body");

      // adding all entires to lunr
      that.documents.forEach(function(doc) {
        this.add(doc);
      }, this);
    });
  }

  beforeRouteUpdate(to, from, next) {
    // if we still going into this page
    if (to.name == "knowledgebase.right.searchContent") {
      this.search(to.params.searchTerm);
    }
  }

  mounted() {
    this.search(this.searchTerm);
  }

  search(searchTerm) {
    this.searchResults = [];

    const results = this.idx.search(searchTerm);

    console.log(results);

    if (results.length) {
      for (var i = 0; i < results.length; i++) {
        this.searchResults.push(
          _.find(this.documents, { page: results[i].ref })
        );
      }
    }
  }

  /*
		closeWidget
		 */
  closeWidget(widget) {
    this.$router.push({ name: "mainmap" });
  }

  /*
		beforeDestroy
		 */
  beforeDestroy() {
    this.toggleMiniHelperEnabled(false);
  }

  /**
   * Component destroyed lifecycle hooks
   * @return void
   */
  destroyed() {
    Event.fire("Map.DeactivateWidget", "KnowledgeBase.Right.Home");
  }
}
</script>