<style scoped src="./mini-helper-panel.scss"></style>
<template>
	<div>
		<center><b>Help Topics</b></center>    	
		<router-link tag="li" :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link>
		<router-link tag="li" :to="{name:'knowledgebase.right.aton'}">1. AtoN<i class="fa fa-arrow-right pull-right"></i></router-link>	
		<router-link tag="li" :to="{name:'knowledgebase.right.informationPanel'}">2. Information Panel<i class="fa fa-arrow-right pull-right"></i></router-link>
		<router-link tag="li" :to="{name:'knowledgebase.right.vessel'}">3. Vessel<i class="fa fa-arrow-right pull-right"></i></router-link>
		<router-link tag="li" :to="{name:'knowledgebase.right.filter'}">4. Filter<i class="fa fa-arrow-right pull-right"></i></router-link>
		<router-link tag="li" :to="{name:'knowledgebase.right.zone'}">5. Zone<i class="fa fa-arrow-right pull-right"></i></router-link>
		<router-link tag="li" :to="{name:'knowledgebase.right.location'}">6. Location<i class="fa fa-arrow-right pull-right"></i></router-link>
		<!-- <router-link tag="li" :to="{name:'knowledgebase.right.report'}">. Report<i class="fa fa-arrow-right pull-right"></i></router-link> -->
		<router-link tag="li" :to="{name:'knowledgebase.right.route'}">7. Route<i class="fa fa-arrow-right pull-right"></i></router-link>
		<router-link tag="li" :to="{name:'knowledgebase.right.weather'}">8. Weather<i class="fa fa-arrow-right pull-right"></i></router-link>
		<router-link tag="li" :to="{name:'knowledgebase.right.tools'}">9. Tools<i class="fa fa-arrow-right pull-right"></i></router-link>
		<router-link tag="li" :to="{name:'knowledgebase.right.search'}">10. Search<i class="fa fa-arrow-right pull-right"></i></router-link>
		<router-link tag="li" :to="{name:'knowledgebase.right.eics'}">11. EICS<i class="fa fa-arrow-right pull-right"></i></router-link>
		<router-link tag="li" :to="{name:'knowledgebase.right.wrems'}">12. MyWREMS<i class="fa fa-arrow-right pull-right"></i></router-link>
		<router-link tag="li" :to="{name:'knowledgebase.right.user'}">12. User<i class="fa fa-arrow-right pull-right"></i></router-link>
		<router-link tag="li" :to="{name:'knowledgebase.right.footer'}">13. Footer<i class="fa fa-arrow-right pull-right"></i></router-link>

	</div>
</template>

<script>
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	
	
	/*
	Class start
	 */
	@Component
	export default class Topic extends Vue{
	}
</script>