.widget-wrapper.override {	
    width: 33px;
    border: 2px solid rgba(0,0,0,0.2);
    height: 33px;
    text-align: center;
    border-radius: 3px;
    align-items: center;
    display: flex;
    overflow: hidden;
    justify-content: center;
    font-weight: 600;
    margin-top: 5px;
    z-index: 900;
}
