﻿@using Abp.Extensions
@using Abp.Authorization.Users
@using Abp.MultiTenancy
@model Vtmis.WebAdmin.Web.Models.Account.LoginFormViewModel
@section Styles
    {
    <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    @*<environment names="Development,HafizDev">
            <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />

        </environment>

        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
        </environment>*@
    @*<link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />*@
}
@section Scripts
    {
    <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>
    @*<environment names="Development,HafizDev">
            <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>
        </environment>

        <environment names="Staging,Production">
            <script src="~/view-resources/Views/Account/Login.min.js" asp-append-version="true"></script>
        </environment>*@
    @*<script src="~/view-resources/Views/Account/Login.min.js" asp-append-version="true"></script>*@
}

<body>
    <div class="grad"></div>
    <div class="header ">
        <div>Vessel<span>Tracking</span></div>
    </div>
    <div class="login">
        <form id="LoginForm" asp-action="Login" method="post">
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            <input type="hidden" name="returnUrlHash" />
            @if (Model.IsMultiTenancyEnabled)
            {
                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="text" class="form-control" name="TenancyName" id="TenancyName" placeholder="@L("TenancyName")" style="margin-bottom: 10px;">
                        @*<span class="text-muted">Can be empty to login as host.</span>*@
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" id="TenancyName" value="">
            }
            <input type="text" class="form-control" name="usernameOrEmailAddress" placeholder="@L("UserNameOrEmail")" required autofocus maxlength="@AbpUserBase.MaxEmailAddressLength"><br />
            <input type="password" class="form-control" name="Password" placeholder="@L("Password")" required maxlength="@AbpUserBase.MaxPlainPasswordLength"><br />
            <button id="LoginButton" class="button" type="submit">@L("LogIn")</button>
        </form>

        <div class="switch_box box_1">
            <input type="checkbox" name="RememberMe" id="rememberme" class="switch_1" value="true">
            <label class="loginLabel" for="rememberme">@L("RememberMe")</label>
        </div>
    </div>
</body>


@*<div class="card">
        <div class="body">
            <form id="LoginForm" asp-action="Login" method="post">
                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                <input type="hidden" name="returnUrlHash" />
                <h4 class="text-center">@L("LogIn")</h4>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="usernameOrEmailAddress" placeholder="@L("UserNameOrEmail")" required autofocus maxlength="@AbpUserBase.MaxEmailAddressLength">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="Password" placeholder="@L("Password")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <input type="checkbox" name="RememberMe" id="rememberme" class="filled-in chk-col-pink" value="true">
                        <label for="rememberme">@L("RememberMe")</label>
                    </div>
                    <div class="col-xs-4">
                        <button id="LoginButton" class="btn btn-block bg-pink waves-effect" type="submit">@L("LogIn")</button>
                    </div>
                </div>
                @if (Model.IsSelfRegistrationAllowed)
                {
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-12">
                            <a asp-action="Register">@L("Register")</a>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>*@