<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
	<div>
    	<ul class="breadcrumb">
    		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
    		<li><router-link :to="{name:'knowledgebase.right.route'}">Route</router-link></li>
    		<li class="active">Route Eta</li>
    	</ul>
    	<div class="content">
    		<p><b>1. View Route Eta</b></p>
	    	<p>Click the <b>Route</b> button <img class="small-icon" :src="require('../../../../../images/help-topic/route-icon.png')"> in the side menu and click <b>Route ETA</b> button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> to open the Route Designer window. The expected length of time until each ship reaches the next point in its trajectory is displayed under the waypoint columns. You can set a time for the <b>ETA</b> window to refresh automatically if you choose to leave this window open. </p>
			<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="routeImg1"></p>
			<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="routeImg2"></p>

			<p><b>2. Edit Route</b></p>
			<p>Click the Edit button in the toolbar to open the Route Designer in a new dialog box. Click Save Changes button to update existing route.</p>
			<p><img @click.prevent="showVesselImage('img3')" class="myImg" :src="routeImg3"></p>
			<p><img @click.prevent="showVesselImage('img4')" class="myImg" :src="routeImg4"></p>

			<p><b>3. Delete Route</b></p>
			<p>Click the Delete button in the toolbar to open the Confirmation dialog box. Click Confirm button to delete the existing route.</p>
			<p><img @click.prevent="showVesselImage('img5')" class="myImg" :src="routeImg5"></p>
			<p><img @click.prevent="showVesselImage('img6')" class="myImg" :src="routeImg6"></p>

    	</div>
    	<div class="" role="group" aria-label="...">							
			<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
		</div>
		<modal
			title="Route Eta"				
			v-if="showModal"	
			class="modalImages"
			@modalClosed="showModal = false"
		>
			<template slot="body">

				<div class="mdl-content">
					<img class="modalImg" :src="modalImg" />
				</div>

			</template>
			
		</modal>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import routeImg1 from '../../../../../images/help-topic/route-eta-1.png'
	import routeImg2 from '../../../../../images/help-topic/route-eta-2.png'
	import routeImg3 from '../../../../../images/help-topic/route-eta-3.png'
	import routeImg4 from '../../../../../images/help-topic/route-eta-4.png'
	import routeImg5 from '../../../../../images/help-topic/route-eta-5.png'
	import routeImg6 from '../../../../../images/help-topic/route-eta-6.png'

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class RouteEtaHelper extends Vue{

		showModal = false
		routeImg1 = routeImg1
		routeImg2 = routeImg2
		routeImg3 = routeImg3
		routeImg4 = routeImg4
		routeImg5 = routeImg5
		routeImg6 = routeImg6

		showVesselImage(img){
			const images = {
				img1 : routeImg1,
				img2 : routeImg2,
				img3 : routeImg3,
				img4 : routeImg4,
				img5 : routeImg5,
				img6 : routeImg6
			}

			this.modalImg = images[img]
			this.showModal = true
		}
	
	}
</script>