<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
	<div>
    	<div>
        	<ul class="breadcrumb">
        		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
        		<li><router-link :to="{name:'knowledgebase.right.route'}">Route</router-link></li>
        		<li class="active">Route Designer</li>
        	</ul>
        	<div class="content">
        	<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="routeImg1"></p>
        	
			<p><b>Route Name</b> - Display a route name</p>
        	<p><b>Enable</b> - Check the box to enable the route.</p>
        	<p><b>Color</b> - Select the desired color of the route line from the drop-down menu. </p>
        	<p><b>Show</b> - Uncheck this box to eliminate a waypoint from the chart/map and ETA calculation. </p>
        	<p><b>Name</b> - Type the Waypoint's name to display it on the chart.</p>
        	<p><b>Latitude and Longitude</b> - Enter the route's coordinates. </p>
        	<p><b>Tip:</b> Click Use Designer to select the coordinates on a map. Click the back button to go back to the Route Designer window. </p>
        	<p><b>XTE Left/XTE Right</b> – Cross Track Error (in meter) </p>
        	<p><b>Min/Max Sp.</b> - Minimum and maximum speed of the ship. </p>
        	<p><b>Avg Sp.</b> – Average speed of the ship. </p>
        	<p> delete-icon-image here - Click this button to select the latitude and longitude pair(s) you wish to remove.</p>
        	<p><b>Save Changes</b> - Save changes and return to the main view. </p>
        	<p><b>Close</b> - Cancel all changes and return to the main view. </p>
        	</div>
        </div>
    	<div class="" role="group" aria-label="...">							
			<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
		</div>
		<modal
			title="Route Designer"				
			v-if="showModal"	
			class="modalImages"
			@modalClosed="showModal = false"
		>
			<template slot="body">

				<div class="mdl-content">
					<img class="modalImg" :src="modalImg" />
				</div>

			</template>
			
		</modal>
    </div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import routeImg1 from '../../../../../images/help-topic/route-designer.png'
	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')			
		}
	})
	export default class RouteDesignerHelper extends Vue{

		showModal = false
		routeImg1 = routeImg1

		showVesselImage(img){
			const images = {
				img1 : routeImg1
			}

			this.modalImg = images[img]
			this.showModal = true
		}

	}
</script>