<style scoped src="../mini-helper-panel.scss"></style>
<template>
	<div>
    	<ul class="breadcrumb">
    		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
    		<li class="active">Route</li>
    	</ul>
    	<div class="content">
    	<p>The Route Designer is a designed to provide the user with a tool for obtaining an ETA (estimated time of arrival) to the desired waypoint by allowing the user to build a route.</p>
    	<p>Click the Route button <img class="small-icon" :src="require('../../../../../images/help-topic/route-icon.png')"> in the side menu and click Add button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> to open the Route Designer window.</p>
    	<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="routeImg"></p>
    		
    	</div>
    	<router-link tag="li" :to="{name:'knowledgebase.right.routeDesigner'}">1. Route Designer<i class="fa fa-arrow-right pull-right"></i></router-link>
    	<router-link tag="li" :to="{name:'knowledgebase.right.routeCreate'}">2. Create Route<i class="fa fa-arrow-right pull-right"></i></router-link>
    	<router-link tag="li" :to="{name:'knowledgebase.right.routeEta'}">3. Route ETA<i class="fa fa-arrow-right pull-right"></i></router-link>
    	<router-link tag="li" :to="{name:'knowledgebase.right.routeVesselEta'}">4. Vessel ETA<i class="fa fa-arrow-right pull-right"></i></router-link><br>
    	<div class="" role="group" aria-label="...">							
			<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
		</div>
		<modal
			title="Route"				
			v-if="showModal"	
			class="modalImages"
			@modalClosed="showModal = false"
		>
			<template slot="body">

				<div class="mdl-content">
					<img class="modalImg" :src="modalImg" />
				</div>

			</template>
			
		</modal>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import routeImg from '../../../../../images/help-topic/route.png'

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')	
		}
	})
	export default class RouteContent extends Vue{

		showModal = false
		routeImg = routeImg

		showVesselImage(img){
			const images = {
				img1 : routeImg
			}

			this.modalImg = images[img]
			this.showModal = true
		}
	}
</script>