<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
	<div>
    	<ul class="breadcrumb">
    		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
    		<li><router-link :to="{name:'knowledgebase.right.route'}">Route</router-link></li>
    		<li class="active">Create Route</li>
    	</ul>
    	<div class="content">
    	<p>1. Click the Route button <img class="small-icon" :src="require('../../../../../images/help-topic/route-icon.png')"> in the side menu and click Add button <img class="add-icon" :src="require('../../../../../images/help-topic/buttonAdd.png')"> to open the Route Designer window.</p>
		<p>2. Type “Langkawi-Kuala Kedah” in the Route Name field. </p>
    	<p>3. Leave the Enable box checked. </p>
    	<p>4. Select "Black" from the Color drop-down list. </p>
    	<p>5. To add waypoints, click the Use Designer button. You will be redirected to the map view.  </p>
    	<p>6. Draw the route by clicking consecutively in the direction you wish to go, with evenly spaced intervals between every click. A new number will appear beside each point on the map that you have just clicked. </p>
    	<p>7. Once you are satisfied with your route, click the back button to go back to the Route Designer window. </p>
    	<p>8. Click the Save Changes button to save route changes. You will see the Latitude and Longitude fields filled with the coordinates of the two points clicked on the map. </p>
    	<p><i>Note:</i> Clearing any Show checkbox will omit this unchecked waypoint from the map view. </p>
    	</div>
		<div class="" role="group" aria-label="...">							
		<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
		</div>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'		

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper')
		}
	})
	export default class RouteCreateHelper extends Vue{
		
	}
</script>