<style scoped src="../mini-helper-panel.scss"></style>
<style>

</style>
<template>
	<div>
    	<ul class="breadcrumb">
    		<li><router-link :to="{name:'knowledgebase.right.topics'}"><i class="fa fa-home"></i></router-link></li>
    		<li><router-link :to="{name:'knowledgebase.right.route'}">Route</router-link></li>
    		<li class="active">Vessel Eta</li>
    	</ul>
    	<div class="content">
    	<p>To track an individual Vessel's ETA, click on a ship to select it, and then click the <b>Vessel ETA</b> button in the toolbar</p>
		<p><img @click.prevent="showVesselImage('img1')" class="myImg" :src="vesImg1"></p>
    		
		<p><img @click.prevent="showVesselImage('img2')" class="myImg" :src="vesImg2"></p>
    		
    	</div>
    	<div class="" role="group" aria-label="...">							
			<button type="button" class="btn btn-primary btn-sm" @click.prevent="$router.back()">Back</button>
		</div>
		<modal
			title="Vessel Eta"				
			v-if="showModal"	
			class="modalImages"
			@modalClosed="showModal = false"
		>
			<template slot="body">

				<div class="mdl-content">
					<img class="modalImg" :src="modalImg" />
				</div>

			</template>
			
		</modal>
	</div>
</template>

<script>
	
	/*
	Script start
	 */
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'	

	import vesImg1 from '../../../../../images/help-topic/vessel-eta-1.png'
	import vesImg2 from '../../../../../images/help-topic/vessel-eta-2.png'	

	/*
	Class start
	 */
	@Component({
		components:{
			'right-wrapper': ()=> import('../../../common/WidgetContainers/map/RightWrapper'),
			'modal': () => import('../../../common/libs/Modal')	
		}
	})
	export default class RouteVesselEtaHelper extends Vue{

		showModal = false
		vesImg1 = vesImg1
		vesImg2 = vesImg2

		showVesselImage(img){
			const images = {
				img1 : vesImg1,
				img2 : vesImg2,
			}

			this.modalImg = images[img]
			this.showModal = true
		}
	}
</script>