﻿@using Abp.MultiTenancy
@using Vtmis.WebAdmin.MultiTenancy.Dto
@using Vtmis.WebAdmin.Web.Models.Common.Modals
@model TenantDto
@{
    Layout = null;
}
@*@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditTenant")))*@

<div class="modal-header">
    <i class="fa fa-edit modal-icon"></i>
    <h4 class="modal-title"><span>@Html.Raw(new ModalHeaderViewModel(L("EditTenant")).Title)</span></h4>
</div>

<div class="modal-body">
    <form name="TenantEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.Id"/>
        <div class="form-group form-float">
            <div class="form-line">
                <label class="form-label">@L("TenancyName")</label>
                <input class="form-control" type="text" name="TenancyName" value="@Model.TenancyName" required maxlength="64" minlength="2">
            </div>
        </div>
        <div class="form-group form-float">
            <div class="form-line">
                <label class="form-label">@L("Name")</label>
                <input type="text" name="Name" class="form-control" value="@Model.Name" required maxlength="128">
            </div>
        </div>
        <div class="form-group form-float">
            <div class="">
                <input id="isactive" type="checkbox" name="IsActive" value="true" @(Model.IsActive ? "checked" : "") class="form-control"/>
                <label for="isactive" class="form-label">@L("IsActive")</label>
            </div>
        </div>
    </form>
</div>

@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Tenants/_EditTenantModal.js" asp-append-version="true"></script>