﻿@using Abp.Authorization.Users
@using Abp.MultiTenancy
@using Vtmis.WebAdmin.MultiTenancy
@using Vtmis.WebAdmin.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<Vtmis.WebAdmin.MultiTenancy.Dto.TenantDto>
@{
    ViewBag.CurrentPageName = PageNames.Tenants; //The menu item will be active for this page.
}
@section scripts
    {
    <script src="~/view-resources/Views/Tenants/Index.js" asp-append-version="true"></script>
    @*<environment names="Development">
        <script src="~/view-resources/Views/Tenants/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Tenants/Index.min.js" asp-append-version="true"></script>
    </environment>*@
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@L("Tenants")</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="fa fa-refresh"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>@L("TenancyName")</th>
                                <th>@L("Name")</th>
                                <th>@L("IsActive")</th>
                                <th>@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tenant in Model.Items)
                            {
                                <tr>
                                    <td>@tenant.TenancyName</td>
                                    <td>@tenant.Name</td>
                                    <td><i class="material-icons" style="color:@(tenant.IsActive ? "green":"red");">@(tenant.IsActive ? "done" : "clear")</i></td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-circle edit-tenant" href="#" data-tenant-id="@tenant.Id" data-toggle="modal" data-target="#TenantEditModal">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-circle delete-tenant" data-tenant-id="@tenant.Id" data-tenancy-name="@tenant.TenancyName">
                                            <i class="fa fa-trash"></i>
                                        </button>

                                        @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">build</i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="#" class="waves-effect waves-block edit-tenant" data-tenant-id="@tenant.Id" data-toggle="modal" data-target="#TenantEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                                <li><a href="#" class="waves-effect waves-block delete-tenant" data-tenant-id="@tenant.Id" data-tenancy-name="@tenant.TenancyName"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                            </ul>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="body table-responsive">
                <button type="button" class="btn btn-primary btn-circle-lg waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#TenantCreateModal">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="TenantCreateModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInDown">
            <form name="tenantCreateForm" role="form" novalidate class="form-validation">
                <div class="modal-header">
                    <i class="fa fa-building-o modal-icon"></i>
                    <h4 class="modal-title top10"><span>@L("CreateNewTenant")</span></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label class="form-label">@L("TenancyName")</label>
                            <input class="form-control" type="text" name="TenancyName" required maxlength="@AbpTenantBase.MaxTenancyNameLength" minlength="2">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label class="form-label">@L("Name")</label>
                            <input type="text" name="Name" class="form-control" required maxlength="@Tenant.MaxNameLength">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label class="form-label">@L("DatabaseConnectionString") (@L("Optional"))</label>
                            <input type="text" name="ConnectionString" class="form-control" maxlength="@AbpTenantBase.MaxConnectionStringLength">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label class="form-label">@L("AdminEmailAddress")</label>
                            <input type="email" name="AdminEmailAddress" class="form-control" required maxlength="@AbpUserBase.MaxEmailAddressLength">
                        </div>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="IsActive" value="true" id="CreateTenantIsActive" class="form-control filled-in" checked />
                        <label style="font-size:small;" for="CreateTenantIsActive">@L("IsActive")</label>
                    </div>
                    <p>@L("DefaultPasswordIs", Vtmis.WebAdmin.Authorization.Users.User.DefaultPassword)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                    <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*<div class="modal fade" id="TenantCreateModal" tabindex="-1" role="dialog" aria-labelledby="TenantCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="tenantCreateForm" role="form" novalidate class="form-validation">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span>@L("CreateNewTenant")</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input class="form-control" type="text" name="TenancyName" required maxlength="@AbpTenantBase.MaxTenancyNameLength" minlength="2">
                                <label class="form-label">@L("TenancyName")</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" name="Name" class="form-control" required maxlength="@Tenant.MaxNameLength">
                                <label class="form-label">@L("Name")</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" name="ConnectionString" class="form-control" maxlength="@AbpTenantBase.MaxConnectionStringLength">
                                <label class="form-label">@L("DatabaseConnectionString") (@L("Optional"))</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="email" name="AdminEmailAddress" class="form-control" required maxlength="@AbpUserBase.MaxEmailAddressLength">
                                <label class="form-label">@L("AdminEmailAddress")</label>
                            </div>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="IsActive" value="true" id="CreateTenantIsActive" class="filled-in" checked />
                            <label for="CreateTenantIsActive">@L("IsActive")</label>
                        </div>
                        <p>@L("DefaultPasswordIs", Vtmis.WebAdmin.Authorization.Users.User.DefaultPassword)</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>*@

<div class="modal inmodal" id="TenantEditModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content animated bounceInRight">

        </div>
    </div>
</div>


@*<div class="modal fade" id="TenantEditModal" tabindex="-1" role="dialog" aria-labelledby="TenantEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>*@
