﻿.dropdown-toggle {
    height: 40px !important;
}
.v-select .dropdown-toggle .clear {
    visibility: hidden;
}

.alarmNewClause {
    color: rgb(17, 111, 255);
}

.alarmNewClauseText {
    vertical-align: super;
    color: rgb(17, 111, 255);
    font-weight: 600;
}

.enableAlarmDiv {
    margin-left: 16px;
    margin-bottom: 10px;
}

.enableAlarmLabel {
    width: 100%;
}

.removeAlarmRow {
    margin-top: 8;
}

.cursorPointer{
    cursor: pointer;
}

.colorPicker {
    width: 100%;
    height: 39px;
}

.btn-color, .btn-color:hover, .btn-color:after, .btn-color:before, .btn-color:visited {
    background-color:  rgb(17, 111, 255);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.paddingLeft {
    padding-left: 5px;
}

.marginTop {
    margin-top: 10px;
}

.repeatInterval {
    font-weight: 300;
    font-size: small;
}