<div> 
        <div class="form-group">
           <label for="name" class="control-label">Alarm Name</label>
           <input 
                type="text" 
                class="form-control" 
                :class="{'error-input':errors.has('formalarm.name')}"
                name="name" 
                v-model="name"
                placeholder="Report 1" 
                v-validate="`required`"                                     
                data-vv-validate-on="blur"
                data-vv-as="alarm name" 
                @focus="errors.remove('name', 'formalarm')"
            />
            <span 
                v-if="errors.has('formalarm.name')"
                class="help-block text-danger">{{ errors.first('formalarm.name') }}
            </span>
        </div>
        <div class="form-group">
                <label for="isEnabled">Enable</label>
                <div>                           
                    <toggle-button v-model="isEnabled" color="#116fff" />   
                </div>                                                      
        </div>
        <!-- Left -->
        <div class="row">
                    <div class="col-sm-6">
                        
                        <div class="form-group">
                            <label for="alarmPriority">Alarm Priority</label>                                                   
                            <select2
                                :fullWidth="false"
                                :width="250"
                                :options="priorityOptions"
                                :value="0"                                 
                                @input="setAlarmData({key:'priority', value:$event})"
                            ></select2>
                        </div>
                        <div class="form-group">
                        <label for="repeatInterval" class="control-label">Repeat Interval (Sec)</label>
                        <input 
                        v-model="repeatInterval" 
                        type="number" 
                        class="form-control"
                        :class="{'error-input':errors.has('formalarm.repeatInterval')}" 
                        v-validate="'min_value:60'"
                        name="repeatInterval"
                        >
                        <span 
                            v-if="errors.has('formalarm.repeatInterval')"
                            class="help-block text-danger">{{ errors.first('formalarm.repeatInterval') }}
                        </span>
                        </div> 
                        
                    </div>

                    <!-- right -->
                    <div class="col-sm-6">
                        
                        <div class="form-group">
                            <label for="message" class="control-label">Message</label>
                            <input
                            v-model="message" 
                            type="text" 
                            class="form-control" 
                            :class="{'error-input':errors.has('formalarm.message')}"
                            name="message" 
                            placeholder="Clear Vessel"
                            v-validate="`required`"
                            >
                            <span 
                                v-if="errors.has('formalarm.message')"
                                class="help-block text-danger">{{ errors.first('formalarm.message') }}
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="color">Colour</label><br>
                            <input type="color" id="color" name="color"
                                :value="alarmData.color"
                                @input="setAlarmData({key:'color', value:$event.target.value})"
                            />
                        </div>
                             
                    </div>
        </div>

                <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                
            
                <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 2.5%"></th>
                                    <th class="col-sm-1">Logical Operator</th>
                                    <th class="col-sm-3">Types</th>
                                    <th class="col-sm-3">Items</th>
                                    <th class="col-sm-1">Operation</th>
                                    <th class="col-sm-2">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="fade-in" v-for="(row, index) in alarmItems" :key="row.rid">
                                    <td>
                                        <div class="btn-group" role="group" aria-label="...">
                                        <font-awesome-icon v-if="index > 0" @click="removeAlarmConditionItem(index)" :icon="['fas', 'times-circle']" size="2x" class="text-danger removeAlarmRow cursorPointer" />
                                        </div>
                                    </td>

                                    <!--  logical operator; alarmItems.condition: and, or -->
                                    <td>                                                                   

                                        <select2
                                            :fullWidth="false"
                                            :width="100"
                                            :options="logicalOptions"
                                            :value="row.condition"                                 
                                            @input="setFormAlarmItem({key:'condition', value:$event, rid:row.rid})"
                                            v-if="index > 0"
                                        ></select2>
                                    
                                        <select v-else disabled class="form-control"></select>
                                    </td>

                                    <!--  Types; alarmItems.columnType: Filter, Zone, Condition1... -->
                                    <td>
                                        <select2
                                            :fullWidth="false"
                                            :width="290"
                                            v-validate="'required|excluded:0'" 
                                            :name="`columnType-${row.rid}`" 
                                            data-vv-as="types"
                                            :value="row.columnType"
                                            @input="setFormAlarmItem({key:'columnType', value:$event, rid:row.rid})"
                                            :options="conditionTypesOptions">
                                        </select2>
                                        <span 
                                            v-if="errors.has(`formalarm.columnType-${row.rid}`)"
                                            class="help-block text-danger">{{ errors.first(`formalarm.columnType-${row.rid}`) }}
                                        </span>
                                    </td>

                                    <!--  Items; alarmItems.alarmTypeItems: Max Speed, ... -->
                                    <td>                                    
                                        <select2
                                            :fullWidth="false"
                                            :width="175"
                                            v-validate="'required|excluded:0'" 
                                            :name="`alarm-items-${row.rid}`" 
                                            data-vv-as="condition 2"
                                            @input="setFormAlarmItem({key:'columnItem', value:$event, rid:row.rid})" 
                                            :value="row.columnItem" 
                                            v-if="row.columnType=='Condition 2'" 
                                            :options="conditionTwoOptions">
                                        </select2>                                                                                                 
                                        <select v-else disabled class="form-control"></select>
                                        <span 
                                            v-if="errors.has(`formalarm.alarm-items-${row.rid}`)"
                                            class="help-block text-danger">{{ errors.first(`formalarm.alarm-items-${row.rid}`) }}
                                        </span>
                                    </td>

                                    <!--  Operations; alarmItems.operation: =, >, ... -->
                                    <td>

                                        <select2
                                            :fullWidth="false"
                                            :width="175" 
                                            v-validate="'required|excluded:0'" 
                                            :name="`operation-${row.rid}`" 
                                            @input="setFormAlarmItem({key:'operation', value:$event, rid:row.rid})" 
                                            :value="row.operation" 
                                            v-if="row.columnType=='Condition 2'"
                                            data-vv-as="Operation"
                                            :options="operationOptions">
                                        </select2>
                                        <select v-else disabled class="form-control"></select>
                                        <span 
                                            v-if="errors.has(`formalarm.operation-${row.rid}`)"
                                            class="help-block text-danger">{{ errors.first(`formalarm.operation-${row.rid}`) }}
                                        </span>
                                    </td>

                                    <!--  Value; alarmItems.columnValue -->
                                    <td>
                                        <select2
                                            :fullWidth="false"
                                            :width="290"
                                            v-validate="'required|excluded:0'" 
                                            :name="`alarmValue-${row.rid}`" 
                                            data-vv-as="filter option"
                                            @input="setFormAlarmItem({key:'columnValue', value:$event, rid:row.rid})" 
                                            :value="row.columnValue" 
                                            v-if="row.columnType=='Filter' && filtersOptions.length" 
                                            :options="filtersOptions"
                                            >
                                        </select2>                                    

                                        <select2 
                                            :fullWidth="false"
                                            :width="290"
                                            v-validate="'required|excluded:0'" 
                                            :name="`alarmValue-${row.rid}`" 
                                            data-vv-as="zone option"
                                            @input="setFormAlarmItem({key:'columnValue', value:$event, rid:row.rid})" 
                                            :value="row.columnValue" 
                                            v-else-if="row.columnType=='Zone' && zonesOptions.length" 
                                            :options="zonesOptions">
                                        </select2>

                                        <select2 
                                            :fullWidth="false"
                                            :width="290"
                                            v-validate="'required|excluded:0'" 
                                            :name="`alarmValue-${row.rid}`" 
                                            data-vv-as="condition 1"
                                            @input="setFormAlarmItem({key:'columnValue', value:$event, rid:row.rid})" 
                                            :value="row.columnValue" 
                                            v-else-if="row.columnType=='Condition 1'" 
                                            :options="conditionOneOptions">
                                        </select2>                                                                    
                                        
                                        <input
                                        type="text"
                                        :value="row.columnValue"
                                        @input="setFormAlarmItem({key:'columnValue', value:$event.target.value, rid:row.rid})"
                                        v-else-if="row.columnType=='Condition 2'"
                                        class="form-control" 
                                        :class="{'error-input':errors.has(`formalarm.alarmValue-${row.rid}`)}"
                                        :name="`alarmValue-${row.rid}`"
                                        v-validate="`required|numeric`"
                                        data-vv-as="value"
                                        id="alarmValue">
                                        <input v-else class="form-control" disabled>
                                        <span 
                                            v-if="errors.has(`formalarm.alarmValue-${row.rid}`)"
                                            class="help-block text-danger">{{ errors.first(`formalarm.alarmValue-${row.rid}`) }}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                </table>
            </div>
        </div>
        </div>
        <div class="form-group">
                        <button class="btn btn-primary btn-sm" @click.prevent="addAlarmConditionItem">
                            <span><font-awesome-icon :icon="['fas', 'plus-circle']" size="lg" /></span> 
                            <span>Add New Clause</span>
                        </button>
        </div>

        <div class="row"> 
            <div class="form-group enableAlarmDiv marginTop">
                    <toggle-button v-model="isSendAISSafetyMessage" name="isSendAISSafetyMessage" color="#116fff" />&nbsp &nbsp   
                    <label for="aisSafetyMessage" class="control-label paddingLeft">Send AIS Safety Message</label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-12">
                <label>AIS Message</label>
                <input 
                v-model="aisMessage" 
                type="text" 
                class="form-control" 
                :class="{'error-input':errors.has('formalarm.aisMessage')}"
                name="aisMessage" 
                placeholder="Clear Vessel"
                v-validate="`${isSendAISSafetyMessage ? 'required' : ''}`"
                data-vv-as="AIS message" 
                >
                <span 
                    v-if="errors.has('formalarm.aisMessage')"
                    class="help-block text-danger">{{ errors.first('formalarm.aisMessage') }}
                </span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-12">
                <label>Email Address</label>
                <input 
                v-model="emailAddress" 
                type="email" 
                class="form-control" 
                :class="{'error-input':errors.has('formalarm.emailAddress')}"
                name="emailAddress" 
                placeholder="MDM@gmail.com"
                v-validate="`${isSendEmail ? 'required' : ''}`"
                data-vv-as="email" 
                >
                <span 
                    v-if="errors.has('formalarm.emailAddress')"
                    class="help-block text-danger">{{ errors.first('formalarm.emailAddress') }}
                </span>
            </div>
        </div>

        <div class="row">
                <div class="form-group enableAlarmDiv">
                    <toggle-button v-model="isSendEmail" name="isSendEmail" color="#116fff" />&nbsp &nbsp
                    <label for="sendEmail" class="control-label paddingLeft">Send Email</label>
                   
                </div> 
            </div>

    </div>