﻿.dropdown-toggle {
    height: 40px !important;
}
.v-select .dropdown-toggle .clear {
    visibility: hidden;
}

.alarmNewClause {
    color: rgb(17, 111, 255);
}

.alarmNewClauseText {
    vertical-align: super;
    color: rgb(17, 111, 255);
    font-weight: 600;
}

.enableAlarmDiv {
    margin-left: 16px;
    margin-bottom: 10px;
}

.enableAlarmLabel {
    width: 100%;
}

.removeAlarmRow {
    margin-top: 8;
}

.cursorPointer{
    cursor: pointer;
}

.colorPicker {
    width: 100%;
    height: 39px;
}

.btn-color, .btn-color:hover, .btn-color:after, .btn-color:before, .btn-color:visited {
    background-color:  rgb(17, 111, 255);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.paddingLeft {
    padding-left: 5px;
}

.marginTop {
    margin-top: 10px;
}

.repeatInterval {
    font-weight: 300;
    font-size: small;
}

h1.title{
    margin: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #dde2ec;
    padding-bottom: 10px;
    font-size: 25px;
    color:#116fff;
    position:relative;
    font-weight:500;
}

h1.title:before{
    content:'';
    width:50px;
    height:2px;
    background:#116fff;
    position:absolute;
    bottom:-1px;
}