﻿<main-wrapper :scroller="true">
        <template slot="scroll-content">
            <h1 class="title">Edit Alarm <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1>
    
            <div class="form-group">
                <label for="name" class="control-label">Alarm Name</label>
                <input :value="alarmData.name" @input="setAlarmData({key:'name', value:$event.target.value})" type="text" class="form-control" id="name" placeholder="" required>
            </div>
    
            <!-- <div class="row">
                <div class="form-group enableAlarmDiv">
                    <label for="enableAlarm" class="control-label enableAlarmLabel">Enable Alarm</label>
                    <toggle-button
                    :value="alarmData.isEnabled"									
                    @input="isAlarmEnable"
                    color="#116fff"
                    :sync="true"
                    :width= 50
                    :height= 22
                    :labels="false"/>
                </div> 
            </div> -->
    
            <!-- <div class="row">
                <div class="form-group col-lg-6">
                    <label for="alarmPriority" class="control-label">Alarm Priority</label>
                    <v-select 
                    :value="defaultAlarmPriority(alarmData.priority)"
                    @input="updateAlarmPriority"
                    :options="alarmPriorityOptions"></v-select>
                </div>
    
                <div class="form-group col-lg-6">
                    <label for="message" class="control-label">Message</label>
                    <input :value="alarmData.message" @input="setAlarmData({key:'message', value:$event.target.value})" type="text" class="form-control" id="message" placeholder="" required>
                </div>
            </div> -->
    
            <!-- <div class="row">
                <div class="form-group col-lg-6">
                    <label for="color" class="control-label">Color</label>
                    <input :value="alarmData.color" @input="setAlarmData({key:'color', value:$event.target.value})" class="colorPicker" type="color" id="head" name="color" />
                </div>
    
                <div class="form-group col-lg-6">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="repeatInterval" class="control-label">Repeat Interval</label>
                        </div>
                    </div>
                    <input :value="alarmData.repeatInterval" @input="setAlarmData({key:'repeatInterval', value:$event.target.value})" type="number" class="form-control" id="repeatInterval" placeholder="" required>
                </div>
            </div> -->
    
            <!-- <div class="row">
                <div class="form-group col-lg-1" style="width: 2.5%;"><label></label></div>
                <div class="form-group col-lg-1"><label>Logical Operator</label></div>
                <div class="form-group col-lg-3"><label>Types</label></div>
                <div class="form-group col-lg-3"><label>Items</label></div>
                <div class="form-group col-lg-1"><label>Operation</label></div>
                <div class="form-group col-lg-1"><label>Value</label></div>
            </div> -->
    
            <div v-for="(row, index) in alarmData.alarmItems" class="row">
                <div class="form-group col-lg-1" style="width: 2.5%;">
                    <font-awesome-icon @click="removeAlarmConditionItem(row.id)" :icon="['fas', 'times-circle']" size="2x" class="text-danger removeAlarmRow cursorPointer" />
                </div>
                <div class="form-group col-lg-1">
                    <v-select v-if="index > 0"
                        :value="defaultConditionValue(row.condition, 'condition')"
                        @input="updateAlarmCondition($event, 'condition', row.id)"
                        :options="alarmLogicalOptions"></v-select>
                    <v-select v-else :disabled=true></v-select>
                </div>
                <div class="form-group col-lg-3">
                    <v-select
                    :value="defaultConditionValue(row.columnName, 'columnName')"
                    @input="updateAlarmCondition($event, 'columnName', row.id)"
                    :options="alarmConditionTypes"></v-select>
                </div>
                <div class="form-group col-lg-3">
                    <v-select @input="updateAlarmCondition($event, 'alarmTypeItems', row.id)" :value="defaultConditionValue(row.alarmTypeItems, 'alarmTypeItemsFilter')" v-if="row.columnName=='Filter'" :options="filtersOptions"></v-select>
                    <v-select @input="updateAlarmCondition($event, 'alarmTypeItems', row.id)" :value="defaultConditionValue(row.alarmTypeItems, 'alarmTypeItemsZone')" v-else-if="row.columnName=='Zone'" :options="zonesOptions"></v-select>
                    <v-select @input="updateAlarmCondition($event, 'alarmTypeItems', row.id)" :value="defaultConditionValue(row.alarmTypeItems, 'alarmTypeItemsCondition1')" v-else-if="row.columnName=='Condition 1'" :options="condition1Options"></v-select>
                    <v-select @input="updateAlarmCondition($event, 'alarmTypeItems', row.id)" :value="defaultConditionValue(row.alarmTypeItems, 'alarmTypeItemsCondition2')" v-else-if="row.columnName=='Condition 2'" :options="condition2Options"></v-select>
                    <v-select v-else :disabled=true></v-select>
                </div>
                <div class="form-group col-lg-1">
                    <v-select v-if="row.columnName=='Condition 2'"
                    :value="defaultConditionValue(row.operation, 'operation')"
                    @input="updateAlarmCondition($event, 'operation', row.id)"
                    :options="alarmOperationOptions"></v-select>
                    <v-select v-else :disabled=true></v-select>
                </div> 
                <div class="form-group col-lg-1">
                    <input
                    :value="row.columnValue"
                    @input="updateAlarmCondition($event.target, 'columnValue', row.id)" 
                    v-if="row.columnName=='Condition 2'"
                    class="form-control" 
                    id="alarmValue">
                    <input v-else class="form-control" disabled>
                </div>
            </div>
    
            <div class="row">
                <div @click="addAlarmRow" class="form-group col-lg-2">
                    <font-awesome-icon :icon="['fas', 'plus-circle']" size="2x" class="alarmNewClause cursorPointer" />
                    <label class="alarmNewClauseText cursorPointer paddingLeft">Add new clause</label>
                </div>
            </div>
    
            <div class="row">
                <div class="form-group enableAlarmDiv marginTop">
                    <toggle-button								
                    :value="alarmData.isSendAISSafetyMessage" 
                    @input="isAisSafetyMessage"
                    color="#116fff"
                    :sync="true"
                    :width= 50
                    :height= 22
                    :labels="false"/>
                    <label for="aisSafetyMessage" class="control-label paddingLeft">Send AIS Safety Message</label>
                </div> 
            </div>
    
            <div class="row">
                <div class="form-group col-lg-12">
                    <label>AIS Message</label>
                    <input :value="alarmData.aisMessage" @input="setAlarmData({key:'aisMessage', value:$event.target.value})" type="text" class="form-control" id="aisMessage" placeholder="" required>
                </div>
            </div>
    
            <div class="row">
                <div class="form-group col-lg-12">
                    <label>Email Address</label>
                    <input :value="alarmData.emailAddress" @input="setAlarmData({key:'emailAddress', value:$event.target.value})" type="email" class="form-control" id="emailAddress" placeholder="" required>
                </div>
            </div>
    
            <div class="row">
                    <div class="form-group enableAlarmDiv">
                        <toggle-button 
                        :value="alarmData.isSendEmail"									
                        @input="isSendEmail"
                        color="#116fff"
                        :sync="true"
                        :width= 50
                        :height= 22
                        :labels="false"/>
                        <label for="sendEmail" class="control-label paddingLeft">Send Email</label>
                    </div> 
                </div>
    
            <div class="form-group">
                <div class="form-group">
                <label class="control-label"></label>
                <div class="text-right">
                    <div id="alarmCloseGroup" role="group" aria-label="">
                        <button @click.prevent="closeWidget" type="button" id="alarmClose" name="alarmClose" class="btn" aria-label="Close">Cancel</button>
                        <button @click.prevent="alarmSave" type="submit" id="alarmSave" name="alarmSave" class="btn btn-color" aria-label="Close">Save Changes</button>
                    </div>
                    
                </div>
                </div>
            </div>
        </template>
    
    </main-wrapper>