﻿<main-wrapper :scroller="true">

    <template slot="header">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title clearfix">
                        Add Alarm 
                        
                        <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

                        <font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
                </h1>
            </div>  
        </div>      
    </template>

    <template slot="scroll-content">

        <!-- <div class="row">                           
            <div class="col-sm-12">
                <h1 class="title" style="color:#116fff; font-weight: 500;"> Add Alarm <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1>
            </div>
        </div> -->

        <div class="row">
            <div class="col-sm-12">
                <form @submit.prevent="submit" data-vv-scope="formalarm" novalidate>

                    <div class="row">
                        <div class="col-sm-12">
                            <alarm-form
                            @close="closeWidget"
                            ></alarm-form>        
                        </div>
                    </div>
                    
        
                    <hr />

                    <div class="row">
                        <div class="col-sm-12 clearfix">
                            <button class="btn btn-primary pull-right">Save Changes</button>
                            <button @click.prevent="closeWidget()" class="btn btn-standard pull-right">Close</button>
                            </div>
                    </div>                   
                                                            
                </form>
            </div>
        </div>        

    </template>
</main-wrapper>