<div data-component="AlarmSummary">
	<!-- Confirm modal -->
	<!-- Kept for refence -->
	<!-- <confirm-modal
		title="Confirm deletion"
		:content="confirmRemoveContent"
		v-if="showDeleteAlarmConfirmation"
		@confirm="doRemoveAlarm"
		@cancel="cancelRemoveAlarm"
	></confirm-modal> -->

	<side-wrapper :scroller="true" >
		<template slot="scroll-content">		
			
			<!-- Content -->		

				<div class="header">
					<span class="title">Alarm</span>
					<span class="pull-right">
					<button v-if="AuthorizationMixin_isGranted('Alarm.Create')" @click.prevent="$router.push({name:'map.alarm.main.create'})" type="button" class="btn btn-primary" style=" border: none; height: 30px;"><a style="color: white;" href="#">Add</a></button>
					</span>
				</div>	

				<ul class="mdm-summary-list">
					<li v-for="alarm in alarms" :key="alarm.id">
						<span class="mdm-summary-name-list"
						:class="{'text-muted': !alarm.isEnabled}">
							{{ alarm.name }}
						</span>
						<span class="mdm-summary-action-btn">
							<div class="btn-group pull-right" role="group" aria-label="...">							
								<button v-if="AuthorizationMixin_isGranted('Alarm.Update')" type="button" class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.alarm.main.edit', params:{id:alarm.id}})">
									<font-awesome-icon :icon="['fas', 'pencil-alt']" size="sm" />
								</button>

								<!-- <button type="button" class="btn btn-danger btn-sm" @click.prevent="removeAlarm(alarm)">
									<font-awesome-icon :icon="['fas', 'trash-alt']" size="sm" />
								</button> -->

								<delete-confirm
									:item="alarm"
									type="alarm"
									@confirm="removeAlarm"
									v-if="AuthorizationMixin_isGranted('Alarm.Delete')"
								>
									<template slot="content">
										<button type="button" class="btn btn-danger btn-sm">
											<font-awesome-icon :icon="['fas', 'trash-alt']" size="sm" />
										</button>
									</template>								
								</delete-confirm>
								
							</div>	
						</span>
						
					</li>
				</ul>

			<!-- Content -->

			
					

		</template>	


	</side-wrapper>
</div>


	
