<side-wrapper :scroller="true" data-component="VesselListSummary">
	<template slot="scroll-content">
		
		<!-- Content -->	
			
			<vessel-toolbar></vessel-toolbar>

			<div class="header">
				<span class="title">Vessel List</span> 				
			</div>			

			<ul class="mdm-summary-list" v-if="inViewVessels.length">
				<li 
					v-for="vessel in inViewVessels" 
					:key="vessel.vesselId"
					@click="selectListItem(vessel)"
					>{{ getName(vessel) }}
				</li>	
			</ul>

		<!-- Content -->
		
	</template>
</side-wrapper>


	
