<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../../styles/containers/main-section.scss"></style>
<style scoped>	

	/*remove h1 bottom border*/
	h1.title{
		border-bottom: initial;
		padding-left: 30px;
	}	

	/*reset h1:before styling*/
	h1.title:before {
		content: '';
	    width: initial;
	    height: initial;
	    background: initial;
	    position: initial;
	    bottom: initial;
	}

	.tab {
		padding-top: 15px;
	}

	.tab .header {		
		width: 100vw;
		padding-left: 30px;
		border-bottom: 3px solid #c4c4c4;
        margin-bottom: 10px;
		clear: both;
	}

	.tab .header p {
		display: inline-block;	    
	    text-align: center;
	    font-weight: bold;
	    /*padding: 0px 20px;*/
	    margin-bottom: 0;
	    min-width: 100px;
	    padding-bottom: 5px;
	}	

	.tab .header p.active {
		color: #116fff;
		/*border-bottom: 2px solid red;  	*/
	}

	.tab .header p.active:before {
		content: '';	    
	    height: 3px;
	    background: #116fff;
	    position: absolute;
	    bottom: -2px;
	    width: 100px;

	}

	.tab .header p.active.all:before {		
		left: 15px;
	}

	.tab .header p.active.unread:before {		
		left: 118px;
	}

	.tab .header p.active.read:before {		
		left: 222px;
	}

	.content {	    
	    position: relative;
	    left: 15px;
	}
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template src="./templates/notifications.html"></template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>

	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'

	import { fields } from './notificationTableFields'

	const NotificationModule = namespace('alarm/notification')
	
	@Component({
		components: {
			'notification-table': ()=> import('../../../common/libs/vuetable/LocalTable'),
			'main-wrapper' : ()=> import('../../../common/WidgetContainers/map/MainWrapperNopad')
		}
	})
	/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	export default class AlarmNotification extends Vue {

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/
		@NotificationModule.Getter notifications
		@NotificationModule.Getter alerts

		@NotificationModule.Mutation toggleAlarmNotification

		@NotificationModule.Action loadNotifications		

		activeTab = 'all' 
		fields = []  
		tableData = []             

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/

		created(){
			this.fields = fields			
		}

		/*
		closeWidget
		 */
		closeWidget(){
			this.$router.push({name:'mainmap'})
		}
		
		/*
		beforeDestroy
		 */
		beforeDestroy(){			
			this.toggleAlarmNotification(false)
		}

		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){						
			Event.fire('Map.DeactivateWidget', 'Alarm.Main.Notification')			
		}

		switchTab(activeTab){
			this.activeTab = activeTab
		}		
	}

</script>
