﻿body {
    padding: 0;
    margin: 0;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 120px;
    height: 100%;
}

html, body {
    height: 100%;
    width: 100%;
}

.lorem {
    font-style: italic;
    color: #AAA;
}

.panelMargin {
    margin: 5px
}

.dlk-radio input[type="radio"],
.dlk-radio input[type="checkbox"] {
    margin-left: -99999px;
    display: none;
}

    .dlk-radio input[type="radio"] + .fa,
    .dlk-radio input[type="checkbox"] + .fa {
        opacity: 0.15
    }

    .dlk-radio input[type="radio"]:checked + .fa,
    .dlk-radio input[type="checkbox"]:checked + .fa {
        opacity: 1;
    }

.btn {
    width: 50%;
    border-radius: unset;
    background-color: azure;
    color: #337ab7;
}

.btn-group, .btn-group-vertical {
    width: 100%
}

.mainContent {
    position: absolute;
    width: 100%;
}

.selected-ship {
    color: white !important;
}

.selected-ship-active {
    color: brown;
}

.text-black {
    color: black;
}

#title_container {
    z-index: 10000;
    position: absolute;
    left: 100px;
}

#timeline {
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
}

.datetimeControl p {
    margin: 0;
    font-size: 12px;
    visibility: hidden;
}

.tabulator-arrow {
    display: none !important;
}

.tabulator-col-title {
    font-size: small;
    overflow: visible !important;
}

#listvessel > a {
    color: white;
}
