<!--
 ######    ########   ##    ##   ##         ########
##    ##      ##       ##  ##    ##         ##
##            ##        ####     ##         ##
 ######       ##         ##      ##         ######
      ##      ##         ##      ##         ##
##    ##      ##         ##      ##         ##
 ######       ##         ##      ########   ########
 -->
<style scoped src="../../../styles/containers/main-section.scss"></style>
<style scoped>
    .form-group {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #refreshRate {
        width: 100px;
    }

    /deep/ .red-dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: red;
        display: inline-block;
    }

    /deep/ .green-dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: green;
        display: inline-block;
    }

    /deep/ .white-dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 1px solid;
        background-color: white;
        display: inline-block;
    }

    /deep/ .black-dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: black;
        display: inline-block;
    }

    /deep/ .center-aligned {
        text-align: center
    }
</style>

<!--
########   ########   ##     ##  ########   ##            ###     ########   ########
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######
   ##      ##         ##     ##  ##         ##         #########     ##      ##
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########
 -->
<template src="./templates/aton-list.html">
</template>

<!--
 ######     ######    ########   ####  ########   ########
##    ##   ##    ##   ##     ##   ##   ##     ##     ##
##         ##         ##     ##   ##   ##     ##     ##
 ######    ##         ########    ##   ########      ##
      ##   ##         ##   ##     ##   ##            ##
##    ##   ##    ##   ##    ##    ##   ##            ##
 ######     ######    ##     ##  ####  ##            ##
 -->
<script>
    import { Component, Emit } from 'vue-property-decorator'
    import { namespace, Getter, Action, Mutation } from 'vuex-class'
    import { Bind, Debounce } from 'lodash-decorators'
    import Vue from 'vue'

    // toggle switch button component
    import ToggleButton from 'vue-js-toggle-button'
    Vue.use(ToggleButton)

    import { fields } from './atonListField'

    const AtonListModule = namespace('aton/atonList')
    const MapModule = namespace('map')
    const PersonalizationModule = namespace('personalization')
    const ToolsWeatherStationModule = namespace('tools/weatherStation')

    @Component({
        components: {
            'select2': () => import('../../common/libs/Select2'),
            'main-wrapper': () => import('../../common/WidgetContainers/map/MainWrapper'),
            'local-data-table': () => import('../../common/libs/vuetable/LocalTable')
        }
    })
    export default class AtonList extends Vue {

        /*
        ########   ########    #######   ########    ######
        ##     ##  ##     ##  ##     ##  ##     ##  ##    ##
        ##     ##  ##     ##  ##     ##  ##     ##  ##
        ########   ########   ##     ##  ########    ######
        ##         ##   ##    ##     ##  ##               ##
        ##         ##    ##   ##     ##  ##         ##    ##
        ##         ##     ##   #######   ##          ######
        */
        @AtonListModule.Getter areaOptions
        @AtonListModule.Getter typeOptions
        @AtonListModule.Getter formData
        @AtonListModule.Getter atonData
        @AtonListModule.Getter field
        @AtonListModule.Getter sortField
        @PersonalizationModule.Getter personalizationData
        @ToolsWeatherStationModule.Getter('enabled') toolsWeatherStationEnabled
        @ToolsWeatherStationModule.Mutation toggleWeatherStationEnabled

        @AtonListModule.Mutation toggleAtonList
        @AtonListModule.Mutation setFormData
        @AtonListModule.Mutation clearFormData
        @AtonListModule.Mutation setField
        @AtonListModule.Mutation setSortField

        @AtonListModule.Action getAtonByType

        @MapModule.Getter vessels

        selectedType = ''
        // dataReady = false
        refreshInterval = null
        tTableData = []
        tableData = []

        /*
        ##     ##  ########   ########   ##     ##   #######   ########    ######
        ###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##
        #### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##
        ## ### ##  ######        ##      #########  ##     ##  ##     ##   ######
        ##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##
        ##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##
        ##     ##  ########      ##      ##     ##   #######   ########    ######
        */

        /*
        mounted
         */
        mounted() {
            this.getAtonByType(this.formData.type)
                .then((result) => {
                    this.selectedType = this.formData.type
                    this.toggleWeatherStationEnabled(true)
                    Event.fire('Map.Events.Drawing.Do', 'ToolsWeatherStation.Show.toggle')
                    Event.fire('Map.ActivateWidget', 'Tools.WeatherStation')
                    this.updateTableData()
                    
                    // this.dataReady = true
                    
                })
                .catch((error) => {
                    console.error(error)
                })
        }

        /*
        setTime
         */
        setTime() {

            if (this.formData.refreshRate != '' && this.formData.refreshEnabled) {

                if (this.refreshInterval) { clearInterval(this.refreshInterval) }

                this.refreshInterval = setInterval((param) => {
                    this.getAton(this.selectedType)
                }, this.formData.refreshRate * 1000)

            }
            else {
                clearInterval(this.refreshInterval)
            }
        }



        /*
        getAton
         */
        getAton(type) {
            // this.dataReady = false
            this.selectedType = type
            this.getAtonByType(type)
                .then((result) => {
                    //console.log("%cResult:", conStyle.boldRed, result)
                    // this.dataReady = true
                    this.updateTableData()

                })
                .catch((error) => {
                    console.error(error)
                })

        }

        viewAton({ data: { stationId, latitude, longitude } }) {

            // clear all widget as we want to focus
            this.closeWidget()

            // focus on to the vessel
            Event.fire('Map.FocusVessel', {
                latlng: L.latLng(latitude, longitude),
                vesselId: stationId
            })
        }

        /*
        atonDataTablesData
         */
        onScreenAtonData() {

            const onScreenAtonVessel = [...this.vessels.values()].filter(v => v.isDrawn && (v.messageId == 21 || v.messageId == 8) && !v.isSart)

            let availableOnScreenAton = []

            onScreenAtonVessel.forEach((osData) => {
                availableOnScreenAton.push(_.find(this.tTableData, { stationId: osData.vesselId }))
            })

            return availableOnScreenAton.filter(osData => osData)

        }

        /*
        methydroDataTablesData
         */
        onScreenMethydroData() {

            const onScreenMethydroVessel = [...this.vessels.values()].filter(v => v.isDrawn && v.isMethydro)


            let availableOnScreenMethydro = []

            onScreenMethydroVessel.forEach((osData) => {
                availableOnScreenMethydro.push(_.find(this.tTableData, { stationId: osData.vesselId }))
            })

            return availableOnScreenMethydro.filter(osData => osData)

        }

        /*
        monitoringDataTablesData
         */
        onScreenMonitoringData() {

            const onScreenMonitoringVessel = [...this.vessels.values()].filter(v => v.isDrawn && v.messageId == 21 && v.isSart == false && !v.isMethydro)


            let availableOnScreenMonitoring = []

            onScreenMonitoringVessel.forEach((osData) => {
                availableOnScreenMonitoring.push(_.find(this.tTableData, { stationId: osData.vesselId }))
            })

            return availableOnScreenMonitoring.filter(osData => osData)

        }

        filterOnScreenData() {

            if (this.formData.area == 'screen') {

                if (this.selectedType == 2) {
                    this.tTableData = this.onScreenAtonData()
                }
                else if (this.selectedType == 7) {
                    this.tTableData = this.onScreenMethydroData()
                }
                else if (this.selectedType == 9) {
                    this.tTableData = this.onScreenMonitoringData()
                }

            }

            return this

        }

        filterOnSearchData() {
            if (this.formData.searchTerm) {
                this.tTableData = this.tTableData.filter((td) => {
                    const values = Object.values(td)
                    const re = new RegExp(this.formData.searchTerm, 'i');
                    let found = false

                    for (const v of values) {
                        if (String(v).match(re)) {
                            found = true
                            break;
                        }
                    }

                    return found
                })
            }

            return this
        }

        getTableData() {
            return this.tTableData
        }

        // make sure the aton received match the existing vessel
        matchAtonWithVessel() {

            let clonedAtonData = _.cloneDeep(this.atonData)

            const vessel = [...this.vessels.values()]

            let atonData = []

            vessel.forEach((v) => {
                atonData.push(_.find(clonedAtonData, { stationId: v.vesselId }))
            })

            this.tTableData = atonData.filter(v => v)

            return this
        }

        applyAtonHealthLightStatus() {

            if (this.selectedType == 2) {
                _.each(this.tTableData, (r) => {
                    r.health68 = this.getColorAtonStatus(r) + this.getColorLightStatus(r)
                })
            }

            return this
        }

        updateTableData() {

            this.tableData = this
                .matchAtonWithVessel()
                .applyAtonHealthLightStatus()
                .filterOnScreenData()
                .filterOnSearchData()
                .getTableData()
        }

        getColorAtonStatus({ health21Val, health68Val, light21Val, light68Val, racoN21Val, racoN68Val, virtualAton}) {

            if ((health21Val == null && health68Val == null) && (light21Val == null && light68Val == null) && (racoN21Val == null && racoN68Val == null)) {
                return ''
            }
            else if(virtualAton == 'Yes'){
                return ''
            }
            else if ((health68Val == 1 || health21Val == 1) || (light68Val == 3 || light21Val == 3) || (racoN68Val == 3 || racoN21Val == 3)) {
                return `<div align="center"><span class="red-dot"></span>`
            }
            else {
                return `<div align="center"><span class="green-dot"></span>`
            }
        }

        getColorLightStatus({ light21Val, light68Val, virtualAton }) {
            if (light21Val == null && light68Val == null) {
                return ''
            }
            else if(virtualAton == 'Yes'){
                return ''
            }
            else if (light21Val == 1 || light68Val == 1) {
                return `<span class="white-dot"></span></div>`
            }

            else {
                return `<span class="black-dot"></span></div>`
            }
        }


        /*
        getters and setters
         */
        get refreshEnable() { return this.formData.refreshEnabled }
        set refreshEnable(value) { this.setFormData({ key: 'refreshEnabled', value }) }

        get refreshRate() { return this.formData.refreshRate }
        set refreshRate(value) { this.setFormData({ key: 'refreshRate', value }) }

        get type() { return this.formData.type }
        set type(value) { this.setFormData({ key: 'type', value }) }

        get area() { return this.formData.area }
        set area(value) { this.setFormData({ key: 'area', value }) }

        get sortFieldByType() {
            return this.sortField(this.listType)
        }

        get tableFields() {

            return this.field(this.listType)
        }

        get listType() {
            if (this.formData.type == 2) { return 'aton' }
            if (this.formData.type == 7) { return 'meteo' }
            if (this.formData.type == 9) { return 'monitoring' }
        }


        /*
        search
         */
        search(searchTerm) {
            this.setFormData({ key: 'searchTerm', value: searchTerm })
            this.updateTableData()
        }

        /*
        updateField
         */
        @Bind()
        @Debounce(300)
        updateField(field) {
            this.setField({
                level: 'user',
                type: this.listType,
                field
            })
        }

        /*
        changeOrder
         */
        @Bind()
        @Debounce(300)
        changeOrder(sortOrder) {
            this.setSortField({
                level: 'user',
                type: this.listType,
                sortField: sortOrder
            })
        }


        /*
        closeWidget
         */
        closeWidget(widget) {
            this.$router.push({ name: 'mainmap' })
        }

        /*
        beforeDestroy
         */
        beforeDestroy() {
            if (this.refreshInterval) { clearInterval(this.refreshInterval) }
            this.toggleAtonList(false)
            this.clearFormData()
        }

        /**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed() {
            Event.fire('Map.DeactivateWidget', 'Aton.Main.List')
        }
    }
</script>