<style scoped src="../../../styles/summary-list.scss"></style>
<style scoped>
	.action-btn {
		min-width: 50px;
	}
    #icon {
    	margin-top: 1px;
		border-radius: 25px;
		width: 10px;
      	height: 10px;
	}
	.icon-status{
		padding-right: 10px;
	}
	.btn-grp{
		background-color: #047bf8;
	    color: #fff;
	    /*border-radius: 35px;*/
	    border: 1px solid #115eaf;
	}
</style>
<template src="./templates/aton-summary.html"></template>

<script>

	/*
	Script start
	 */
	import { Component } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'

	import AtonHelperMixin from './mixins/AtonHelperMixin'
	import AppModuleMixin from '../../common/mixins/AppModuleMixin'	

	const AtonSummaryModule = namespace('aton/summary')	
	const AtonModule = namespace('aton')
	const MapModule = namespace('map')
	/*
	Class start
	 */
	@Component({
		components: {
			'side-wrapper' : ()=> import('../../common/WidgetContainers/map/SideWrapper'),
			'delete-confirm': ()=> import('../../common/DeleteConfirmation')			
		}
	})
	export default class AtonSummary extends mixins(AtonHelperMixin, AppModuleMixin) {			
		

		@AtonSummaryModule.Getter showVessels

		@AtonSummaryModule.Mutation toggleShowVessels
		@AtonSummaryModule.Mutation('addVessel') addInViewVessel 
		
		@MapModule.Getter vessels				
		@MapModule.Getter vessel
		@AtonSummaryModule.Getter('vesselsArr') inViewVessels
		@AtonSummaryModule.Getter panelShown		
		@MapModule.Getter map		
				
		@AtonSummaryModule.Mutation('clearVessels') clearInViewVessels
		@AtonSummaryModule.Mutation toggleAtonSummary
		@AtonSummaryModule.Mutation togglePanelShown

		created(){			
			Event.listen('Map.Events.Drawing.End', this.refreshInViewVesselsList)			
		}		

		mounted(){					

			this.AppModuleMixin_clearMajorModule('aton')

			this.refreshInViewVesselsList() 
			
			// Used in ShipDrawerMixin::ShipDrawerMixin_shouldDraw
			// Mode: aton
			this.toggleShowVessels(false) 
			
			Event.fire('Map.Events.Drawing.Do', 'Aton.Summary.mounted')
			// console.log("%cAton At Map:", conStyle.boldWhite, this.inViewVessels)
		}					
		
		refreshInViewVesselsList(){			
			this.clearInViewVessels()				
			let bounds = this.map.getBounds()          
            if(this.vessels){
                this.vessels.forEach((v)=>{
                    if ( bounds.contains(v.latlng) && this.vessel(v.vesselId).isDrawn) {                   	
                        this.addInViewVessel(v)
                    }
                })    
            }             
		}
		selectListItem(vessel){
			console.log(vessel)
			Event.fire('Map.FocusVessel', vessel)
		}

		toggleVesselDraw(){
			if(this.showVessels){this.toggleShowVessels(false)} 
			else{this.toggleShowVessels(true)}
			Event.fire('Map.Events.Drawing.Do', 'Aton.Summary.toggleVesselDraw')	

		}

		getName(vessel){
			const mmsi = String(vessel.mmsi).substring(0,1) == '-' ? String(vessel.mmsi).substring(1) : vessel.mmsi
			return vessel.vesselName ? vessel.vesselName : String(mmsi).padStart(9, "0")
		}

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})
		}		
		
		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleAtonSummary(false)
			this.toggleShowVessels(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
        	Event.fire('Map.Events.Drawing.Do', 'Aton.Summary.destroyed')
            Event.fire('Map.DeactivateWidget', 'Aton.Side.Summary')
        }
		
	}

</script>