<template>
	<div>
		<h1>This is the admin dashboard</h1>		
	</div>
	
</template>

<script>

	import Vue from 'vue'	
    import { Component } from 'vue-property-decorator' 
    
    @Component
    export default class AdminDashboard extends Vue { }

    /* This is a comment to trigger changes in git */
    
</script>