<template>
	<div>
		<h1>This is the admin user page</h1>
		<router-link :to="{name:'mainmap'}"><a>Back to home</a></router-link>	
	</div>
	
</template>

<script>

	import Vue from 'vue'	
    import { Component } from 'vue-property-decorator' 
    
    @Component
    export default class AdminUsers extends Vue { }
</script>