<main-wrapper :scroller="true">

	<template slot="header">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="title clearfix">
					Edit Zone
					
					<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

					<font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
				</h1>
				
			</div>	
		</div>		
	</template>


	<template slot="scroll-content">
				
		<div>
			<form @submit.prevent="submit" v-if="isReady" data-vv-scope="formzone" novalidate class="form-horizontal">

				<zone-form
				@close="closeWidget"
				></zone-form>


				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<label class="control-label"></label>
							<div class="text-right">
								<button @click.prevent="closeWidget()" class="btn btn-standard">Close</button>
								<button class="btn btn-primary">Save Changes</button>
							</div>
						</div>
					</div>
				</div>



			</form>
		</div>
		

	</template>
</main-wrapper>