.btn-group {
    display: flex;
    flex-direction: row;
}

.btn-group > button {
    width: 100%;
}

.form-group #colour {
	width: 100%;
    height: 40px;  
    background: transparent;
    border-radius: 4px;  
}

@media screen and (max-width: 480px){
	
}
