	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label for="name" class="col-lg-2 control-label">Zone Name</label>
					<div class="col-lg-10 ">
						<input 
							type="text" 
							class="form-control"
							:class="{'error-input':errors.has('formzone.name')}"
							id="name" 
							name="name" 
							v-model="formData_name" 
							placeholder="Name of zone"
							v-validate="`required`"										
							data-vv-validate-on="blur"
							data-vv-as="zone name" 
							@focus="errors.remove('name', 'formzone')"
						/>

						<span 
							v-if="errors.has('formzone.name')"
							class="help-block text-danger">{{ errors.first('formzone.name') }}
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label class="col-lg-2 control-label" for="isEnable">Enable</label>

					<div class="col-lg-10">
						<toggle-button v-model="formData_isEnable" color="#116fff" />
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label class="col-lg-2 control-label" >Zones Selection</label>

					<div class="col-lg-10">
						<div class="row">
							<div class="col-sm-6 mg-btm-xs">
								<label for="zoneType">Zone Type</label>				
									<select2
									:fullWidth="false"
					                :width="'100%'"
									:options="zoneTypeOptions"
									:value="formData.zoneType"                                 
									@input="updateZoneType"
									></select2>
							</div>

							<div class="col-sm-6">
								<label style="display: block;" for="radius">Radius</label>
								<input style="width: 90%; display: inline-block;border-top-right-radius: 0;border-bottom-right-radius: 0;"
								type="number"
								class="form-control"
								:class="{'error-input':errors.has('formzone.radius')}"
								id="radius"
								name="radius" 
								v-model="formData_radius"
								v-validate="`required`"
								:disabled="formData.zoneType != 0" 
								/> 
								<span style="display: inline-block;" class="input-append-group-left">NM
								</span>

								<span 
									v-if="errors.has('formzone.radius')"
									class="help-block text-danger">{{ errors.first('formzone.radius') }}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label class="col-lg-2 control-label col-xs-12" >Color</label>

					<div class="col-lg-10">
						<div class="row">
							<div class="col-sm-4 col-xs-6">
								<label for="colour">Select Color</label>
								<input type="color" id="colour" name="colour" v-model="formData_colour" />
							</div>

							<div class="col-sm-6 col-xs-6">
								<div v-if="formData.zoneType < 2">
									<label for="isFill">Fill</label>
									<div>
										<toggle-button v-model="formData_isFill" color="#116fff" />	
									</div>									    				
								</div>	
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group">
				<div class="row">
					<label class="col-lg-2 control-label" for="zoneType">Lat/Lng Format</label>

					<div class="col-lg-10">
						<div class="row">
							<div class="col-sm-6">
								<select2
								:fullWidth="false"
				                :width="'100%'"
								:options="latLngFormat"
								:value="1"
								></select2>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group" :class="{ 'has-error' : errors.has('formzone.coordinates')}">
				<div class="row">
					<label class="col-lg-2 control-label" for="coordinates">Coordinates</label>

					<div class="col-lg-10">
						
						<div class="row">

							<div class="col-sm-12">
								<input class="form-check-input" type="checkbox" v-model="formData_bulkEdit">
								<label class="form-check-label" for="defaultCheck1">
									Use bulk editor (lat, lang separated by new line)
								</label>
							</div>

							<div class="col-sm-12">
								<input class="form-check-input" type="checkbox" v-model="designerMode">
								<label class="form-check-label" for="defaultCheck2">
									Use designer mode
								</label>
							</div>
						</div>
					</div>

					<div class="col-sm-12">
						<div v-if="formData_bulkEdit">					
    				<textarea 
    					class="form-control" 
    					rows="6" 
    					v-model="formData_bulkEditData"
    					name="coordinates"  
    					v-validate.immediate="`required|coordlist|zonetype-maxlength:${formData.zoneType}`"
    					placeholder="eg: 3.344990, 100.564274"  					
    				></textarea>	
    				<span 
    					v-if="errors.has('formzone.coordinates')"
    					class="help-block">{{ errors.first('formzone.coordinates') }}
    				</span>
				</div>				

				<div v-else> <!-- coordinate form input -->
					<table class="coordinates table table-bordered">
						<thead>
							<tr>
								<th>Latitude</th>
								<th>Longitude</th>
								<th></th>	
							</tr>							
						</thead>

						<tbody>
							<tr v-for="(dto, index) in formData.zoneItemDtos" :key="dto.id">
								<td>
									<input 
									type="text" 
									:value="dto.latitude"
									:name="`zone-latitude-${dto.id}`"
									@input="dtoChanged('latitude', $event.target.value, dto.id)" 
									class="form-control"
									:class="{'error-input':errors.has(`formzone.zone-latitude-${dto.id}`)}"
									id="latitude"
									v-validate.immediate="`required`"
									/>
								</td>
								<td>
									<input 
									type="text" 
									:value="dto.longitude"
									:name="`zone-longitude-${dto.id}`" 
									@input="dtoChanged('longitude', $event.target.value, dto.id)" 
									class="form-control" 
									:class="{'error-input':errors.has(`formzone.zone-longitude-${dto.id}`)}"
									id="longitude"
									v-validate.immediate="`required`"
									/>
								</td>
								<td>
									<div 
										class="btn-group" 
										role="group" 
										aria-label="..." 
										v-if=" (formData.zoneType == 0 && index != 0) || (formData.zoneType != 0 && index > 0)"
									>											
										<button type="button" class="btn btn-danger" @click.prevent="removeDtoItem(dto.id)">
											<font-awesome-icon :icon="['fas', 'trash-alt']" size="lg" />
										</button>
									</div>

									<div v-else class="btn-group" role="group" aria-label="...">
										<button type="button" class="btn btn-danger" disabled>
											<font-awesome-icon :icon="['fas', 'trash-alt']" size="lg" />
										</button>
									</div>
									
								</td>
							</tr>																						
						</tbody>
					</table>

				<button v-if="formData.zoneType == 1 || (formData.zoneType > 1 && formData.zoneItemDtos.length < 2)" class="btn btn-primary btn-sm" @click.prevent="addNewDtoItem">Add Coordinate</button>	
			</div> <!-- end coordinate form input -->

			<div> <!-- bulk input -->



			</div> <!-- end bulk input -->
					</div>
				</div>



			</div>
		</div>

		

</div> <!-- end row -->