<side-wrapper :scroller="true" data-component="ZoneSummary">
	<template slot="scroll-content">
		<!-- Content -->
			<div class="toolbar">
				<span class="pull-right">
					<button v-if="AuthorizationMixin_isGranted('Zone.Create')" @click.prevent="$router.push({name:'map.zone.main.create'})" 
						type="button" class="btn btn-primary">Add
					</button>
				</span>
				
				<span class="toolbar-header">
					<a title="" href="#" @click.prevent="toggleZoneName" :class="{'active':zoneNameEnabled}">
						<img src="../../../../../images/vessel-toolbar-icon/show-name.svg">

						<span class="tooltiptextfrst">{{title}}</span>
					</a>
				</span>
			</div>
			<div class="header">
				<span class="title">Zones</span>
				
			</div>			
			<ul class="mdm-summary-list" v-if="zonesDef.length">
				<li v-for="def in zonesDef" :key="def.id">
					<span class="mdm-summary-name-list" @click.prevent="focus(def)" :class="{'text-muted': !def.isEnable}">
						{{ def.name }}
					</span>
					<span class="mdm-summary-action-btn">
						<div class="btn-group pull-right" role="group" aria-label="...">							
							<button v-if="AuthorizationMixin_isGranted('Zone.Update')" type="button" class="btn btn-primary btn-sm" @click.prevent="$router.push({name:'map.zone.main.edit', params:{id:def.id}})">
								<font-awesome-icon :icon="['fas', 'pencil-alt']" size="sm" />
							</button>
							<!-- <button type="button" class="btn btn-danger btn-sm" @click.prevent="removeZone(def.id)">
								<font-awesome-icon :icon="['fas', 'trash-alt']" size="sm" />
							</button> -->
							<delete-confirm
								:item="def"
								type="zone"
								@confirm="removeZone"
								v-if="AuthorizationMixin_isGranted('Zone.Delete')"
							>
								<template slot="content">
									<button type="button" class="btn btn-danger btn-sm">
										<font-awesome-icon :icon="['fas', 'trash-alt']" size="sm" />
									</button>
								</template>								
							</delete-confirm>
						</div>	
					</span>
					
				</li>
			</ul>
		<!-- Content -->
	</template>		
</side-wrapper>


	
