<right-wrapper override="true">    	
    <template slot="content">
    	<div class="tool-title">
    		<span class="title">Zone Designer</span>
    		<span class="close" @click.prevent="$router.back()"><font-awesome-icon :icon="['fas', 'times']" size="sm" :style="{ color: 'white' }" /></span>	
    	</div>
	
		<div class="tool-body">

			<!-- .actions -->
			<div class="actions">	        		   			        	

        		<div class="btn-group">
        			
        			<button class="btn btn-default" @click="$router.back()">
        				<font-awesome-icon :icon="['fas', 'arrow-left']" />
        			</button>	

					<button class="btn btn-default" @click="clearCoords">
						<font-awesome-icon :icon="['fas', 'redo-alt']" />
					</button>										
        			
        			<!-- @click="deletePoint" 
        			:disabled="!selectedPoint" -->
        			<button 
        				class="btn btn-default btn-danger" 	        				
        			>
						<font-awesome-icon :icon="['fas', 'trash-alt']" />
        			</button>	

        		</div>	        			        		
        	</div>
        	<!-- .actions [end] -->

			<!-- <span><a href="" @click.prevent="view = 'designer'">Designer</a></span>
			<span> | </span>
			<span><a href="" @click.prevent="view = 'points'">Points</a></span> -->
			
			<!-- .actions -->
			<div class="point-details">	        		
        		
        		<div class="form-group">
        			<select2 
                        @input="setFormData({key:'zoneType', value:$event})" 
                        :value="zoneType"                         
                        :options="zoneTypeOptions">
                    </select2>	
        		</div>
        		

                <div class="form-group" v-if="formData.zoneType == 0">
					<label for="radius">Radius (NM)</label>
					<input type="number" class="form-control" v-model="formData_radius"  />
				</div>
                
                <div class="form-group">
                	<button 
	                    class="btn btn-default btn-sm btn-block fillPolygon-button" 
	                    @click="fillPolygon"
	                    v-if="formData.zoneType == 1"
                    >{{ zoneDesigner.polygonClosed ? 'Open' : 'Close' }} Polygon</button>	
                </div>
                

        	</div>
        	<!-- .actions [end]-->
			
			<div class="point-list-container">
	        	<p class="reset-p">Points</p>
				<hr class="reset-hr">

				<div class="point-list" v-show="formData.zoneItemDtos.length">

					<div v-slimscroll="{height:'100%', width:'100%'}" >					
						<ul 								
							class="todo-list m-t ui-sortable" 
							@mouseleave="clearAllCoordHighlight"
						>
	                        <li 		                        	
	                        	v-for="coord in formData.zoneItemDtos" 	                        	
	                        	:key="coord.id" 		                        	
	                        	class="point-list-item"
	                        	@mouseenter="debouncedHighlightCoord(coord)"	                        	
	                        >
	                            <div class="icheckbox_square-green" style="position: relative;">	                            	
	                            	<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">	
	                            	</ins>	                         
	                            </div>
	                            <span class="m-l-xs latlng">{{parseFloat(coord.latitude).toFixed(6)}} / {{ parseFloat(coord.longitude).toFixed(6)}}</span>
	                            <span class="filler"></span>
	                            <span class="pull-right delete" @click="deleteCoord(coord)"><font-awesome-icon :icon="['fas', 'trash-alt']" size="sm" /></span>
	                        </li>		                        
	                    </ul>		                    									                    
					</div>						
					
				</div> <!-- end point list section -->

				<div v-show="!formData.zoneItemDtos.length" class="point-list">
					<ul>
                    	<li>Please select points</li>
                    </ul>	
				</div>
				
			</div>
			
		</div> <!-- end tool body -->
    	

    </template>
</right-wrapper>