<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->

<style scoped>
	.login-page {
	    display: flex;
	    height: 100vh;
	    align-items: center;
	}


	.login-form{
		height: 100%;
		background-color: white;
		padding: 100px;		
		border-bottom-right-radius: 5px;
		margin-bottom: 100px;
	}

	.login-form .title{
		color: cornflowerblue;		
		font-weight: bolder;
	}

	p, label {
		font-family: "Montserrat";
	}

	.subtitle .error {
		color: #cc0000;
	}

	.loading-loader {		
		display: flex;
		justify-content: center;
	}

	.loading-loader img{
		max-width: 200px;		
		align-self: flex-start;		
	}

	.loading-box{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: rgba(255, 255, 255,.7);
	    text-align: center;
	    padding-top: 40%;
	}

	@media screen and (max-width: 480px){
		.hero{
			height: fit-content;
			position: relative;
		}
		.hero .title{
			position: relative;
			top:0;
		}

		.hero .subtitle{
			position: relative;
			top: 0;
		}

		.login-form{
			height: auto;
		    background-color: white;
		    padding: 25px 20px;
		    border-bottom-right-radius: 5px;
		    margin-bottom: 0px;
		}
		.login-wrapper{
			height: fit-content
		}

		.login-box{
			width: 90%;
		}
	}

	.login-page-theme {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    height: 100vh;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    position: relative;
	    z-index: 1;
	    background-size: cover;
	}

	.login-page-theme.theme-default{
		background:url('../../../images/theme-bg-default.jpg');
		background-size: cover;
		background-position: center top;
	}

	.login-page-theme.theme-one{
		background:url('../../../images/gf-login-bg.jpg');
		background-size: cover;
		background-position: center top;
	}

	.login-page-theme.theme-two{
		background:url('../../../images/pinc-login-bg.jpg');
		background-size: cover;
		background-position: center top;
	}

	.login-page-theme.theme-three{
		background:url('../../../images/edm-login-bg.jpg');
		background-size: cover;
		background-position: center top;
	}

	.login-page-theme.theme-four{
		background:url('../../../images/pinca-login-bg.jpg');
		background-size: cover;
		background-position: center top;
	}

	.login-page-theme:before{
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#373392+0,39a0fe+100&0.9+0,0.9+100 */
		background: -moz-linear-gradient(45deg,  rgba(55,51,146,0.9) 0%, rgba(57,160,254,0.9) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  rgba(55,51,146,0.9) 0%,rgba(57,160,254,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  rgba(55,51,146,0.9) 0%,rgba(57,160,254,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6373392', endColorstr='#e639a0fe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		position:absolute;
		width:100%;
		height:100%;
		content:"";
		z-index:-1;
	}

	.login-page-theme .title{
		font-size: 20px;
	    font-weight: 600;
	    color: #047bf8;
	}

	.login-wrapper-theme{
	  width: 450px;
	  margin:auto;
	}

	.login-mdm-info{
		text-align: center;
	}

	.login-mdm-info h3{
		color: #fff;
	    font-size: 25px;
	    margin-bottom: 30px;
	}

	.login-copyright{
		text-align: center;
	    margin-top: 8px;
	    color: rgba(255, 255, 255, 0.5);
	}

	.login-box{
		background: #fff;
	    margin: auto;
	    border-radius: 5px;
	    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	    padding: 40px;
	    position: relative;
	}
	.btn-login{
	  background:#047BF8;
	  width:100%;
	  border:0;
	  padding:10px 0;
	}
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->

<template>
	<!-- <div class="login-page">
		<div class="login-wrapper">

			<div class="container">
				<div class="row">
			
					<div class="col-md-6 hero" :class="{'border-top-right-radius':isSmAndSmaller}">
						<p class="title">MDM</p>
						<div class="subtitle">
							<p>Maritime Domain Management</p>	
						</div>
						
					</div>

					<div class="col-md-6 login-form" :class="{
						'border-top-right-radius':isMdAndLarger,
						'border-bottom-left-radius':isSmAndSmaller
					}">

						<p class="title">Login</p>
						<small class="subtitle">
							<p class="error" v-if="loginError">{{ loginError.message }}</p>
						</small>
							            
			            <form class="m-t" role="form" action="index.html">
			                
			                <div class="form-group">
			                	<label for="username">Username</label>
			                    <input type="email" id="username" novalidate class="form-control" placeholder="Username" required="" v-model="username">
			                </div>
			                
			                <div class="form-group">
			                	<label for="password">Password</label>
			                    <input type="password" id="password" class="form-control" placeholder="Password" required="" v-model="password">
			                </div>

			                <div class="form-group">

								<div class="checkbox">
									<input type="checkbox" id="keepLogin">
									<label for="keepLogin">
										Remember me
									</label>
								</div>
			                </div>

							<div class="clearfix">
								<button class="btn btn-success m-b pull-right" @click.prevent="formLogin">Login</button>	

								<div class="loading-box" v-if="isLoad"><img width="60px" :src="LoadingSVG"><img src=""></div>
							</div>
			                
			                
			            </form>						  				  
			            


					</div> 

				</div>
			</div>

			

		</div>
	</div> -->


<div class="login-page-theme" :class="themeObject" data-component="Login">
  
	<div class="login-wrapper-theme">
		<div class="login-mdm-info">
			<h3 v-if="this.theme == 'theme-default'">Maritime Domain Management</h3>
			<!-- <img v-if="this.theme == 'theme-default'" width="250px" style="margin-bottom: 10px" :src="EnavLogo"> -->
			<img v-if="this.theme == 'theme-one'" width="250px" style="margin-bottom: 10px" :src="GfLogo">
			<img v-else-if="this.theme == 'theme-two'" width="250px" style="margin-bottom: 10px" :src="PincLogo">
			<img v-else-if="this.theme == 'theme-three'" width="250px" style="margin-bottom: 10px" :src="EdmLogo">
			<img v-else-if="this.theme == 'theme-four'" width="250px" style="margin-bottom: 10px" :src="PincaLogo">
		</div>

		<div class="login-box">
			<p class="title">Account Login</p>
				<small class="subtitle">
					<p class="error" v-if="loginError">{{ loginError.message }}</p>
				</small>

				<form class="m-t" role="form" @submit.prevent="formLogin">

				<div class="form-group">
					<label for="username">Username</label>
					<input type="email" id="username" novalidate class="form-control" placeholder="Username" required="" v-model="username" ref="username">
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" class="form-control" placeholder="Password" required="" v-model="password">
				</div>

				<!-- <div class="form-group">
					checkbox has been styled using awesome-bootstrap-checkbox
					<div class="checkbox">
						<input type="checkbox" id="keepLogin">
						<label for="keepLogin">
							Remember me
						</label>
					</div>
				</div> -->

				<div class="clearfix">
					<!-- <button class="btn btn-success btn-login" @click.prevent="formLogin">Login</button> -->

					<input type="submit" class="btn btn-success btn-login" @click.prevent="formLogin" value="Submit" />

					<div class="loading-box" v-if="isLoad"><img width="60px" :src="LoadingSVG"><img src=""></div>
				</div>


				</form>	
		</div>

		<div class="login-copyright">
			&copy; Copyright 2019 -  All rights reserved
		</div>

		
	</div>

</div>
	
	
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->

<script>

	/*
	Script start
	 */
	import Vue from 'vue'
	import { State, namespace, Action, Getter, Mutation } from 'vuex-class'  
    import { Component } from 'vue-property-decorator'     
    import UserPersonalizationStorageHelper from '../../helpers/userPersonalization'
    import TenantPersonalizationStorageHelper from '../../helpers/tenantPersonalization'
    import HostPersonalizationStorageHelper from '../../helpers/hostPersonalization'

    import 'awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' 
    import LoadingShip from '../../../images/loading-ship.gif'       
    import LoadingSVG from '../../../images/three-dots.svg'

    import EnavLogo from '../../../images/enavlogo.png'
    import PincaLogo from '../../../images/pinca-logo.png'
    import PincLogo from '../../../images/pinc-logo.png'
    import GfLogo from '../../../images/gf-logo.png'
    import EdmLogo from '../../../images/edm-logo.png'

    import personalizationService from '../../services/personalization' 
    import store from 'store'    

    const AuthenticationModule = namespace('auth/authentication')
    const AppScreenSizeModule = namespace('app/screensize')    

    /*
    Class start
     */
    @Component({
    	components:{
    		'app-notification' : ()=> import('../common/AppNotification.vue')
    	}
    })
    export default class Login extends Vue {

    	@AppScreenSizeModule.Getter isSmAndSmaller
    	@AppScreenSizeModule.Getter isMdAndLarger
    	@AuthenticationModule.Getter loginError    	

    	@AuthenticationModule.Mutation setLoginError
    	@AuthenticationModule.Mutation clearLoginError    	

    	@AuthenticationModule.Action login     	

    	username = ''
    	password = ''
    	tenantName = ''
    	isLoad = false

    	loadingShip = LoadingShip
    	LoadingSVG = LoadingSVG  

    	EnavLogo = EnavLogo
    	PincaLogo = PincaLogo
    	PincLogo = PincLogo
    	GfLogo = GfLogo
    	EdmLogo = EdmLogo


    	theme = store.get('tenantTheme') || 'theme-default' 

    	beforeRouteUpdate(to, from, next){    		
    		if(to.fullPath !== from.fullPath){
    			window.location.reload(true)
    		}
    		else{
    			next()	
    		}
    		
    	}   	

    	async mounted(){    

    		this.$refs.username.focus()		

    		// console.log(this.$refs.username)

    		if(this.$route.params.tenant){

    			// we're not using store here since we're not storing anything on the personalization entity itself. Rather, all the data return will be applied back to their respective store. 
    			// These should be refactored, if possible    			    			
    			try{
    				const result = await personalizationService.getTenantKeyByTenantName('theme', this.$route.params.tenant)

    				this.theme = result.value
    				console.log("%c theme:", conStyle.boldRed, this.theme)     				
    			}
    			catch(error){
    				console.log("%c Error Getting Theme: ", conStyle.boldRed, error.message)
    			}
    			    			    			
    		}
    		
    	}

    	get themeObject(){
    		
    		return {
    			'theme-default': this.theme == 'theme-default',
    			'theme-one': this.theme == 'theme-one',
    			'theme-two': this.theme == 'theme-two',
    			'theme-three': this.theme == 'theme-three',
    			'theme-four': this.theme == 'theme-four'
    		}
    	}
    	
    	/*
    	formLogin
    	 */
    	formLogin(){
			this.clearLoginError()
			this.isLoad = true			
			
    		this.login({
    			username:this.username,
    			password: this.password,
    			tenantName: this.$route.params.tenant !== 'admin' ? this.$route.params.tenant : ""
    		})    		
    		.then(
				({result}) => {					
					this.handleSuccess(result)
				}				
    		) 
    		.catch((error)=>{
    			// 
    		})   		
    		.finally(()=>{
    			this.isLoad = false
    			// console.log(this.loginError)    			
    		})    		   			    		    	
    	}

    	/*
    	handleSuccess
    	 */
    	async handleSuccess(result){    		
    		
    		// result.theme
    		// regenerate session token
    		this.$session.regenerate(result.accessToken);
    		
    		// persist some data into local storage
    		localStorage.encToken = result.encToken
    		localStorage.token = result.accessToken
    		localStorage.encryptedAccessToken = result.encryptedAccessToken
			localStorage.userId = result.userId
			localStorage.username = result.username			
			localStorage.tenantName = result.tenantName ? result.tenantName : 'admin'			
			localStorage.tenancyName = result.tenancyName ? result.tenancyName : 'admin'			
			localStorage.tenantId = result.tenantId
			localStorage.userLevel = result.userLevel

			// console.log("%c permissions: ", conStyle.boldRed, JSON.stringify(result.permissions) )

			store.set('perm', result.permissions)			

			// get and store user personalization
			const userPersonalization = await personalizationService.getUserPersonalization(result.accessToken, result.tenantId)				
			UserPersonalizationStorageHelper.storePersonalizations({personalizations:userPersonalization})

			// get and store tenant personalization			
			const tenantPersonalization = await personalizationService.getTenantPersonalization(result.accessToken, result.tenantId)
			// console.log("%c tenantPersonalization: ", conStyle.boldRed, JSON.stringify(tenantPersonalization))			
    		TenantPersonalizationStorageHelper.storePersonalizations({personalizations:tenantPersonalization})



    		// get and store host personalization
    		const hostPersonalization = await personalizationService.getHostPersonalization(result.accessToken, result.tenantId)
			HostPersonalizationStorageHelper.storePersonalizations({personalizations:hostPersonalization})    		

    		this.$router.push({name:'mainmap', params:{tenant:localStorage.tenancyName}});
    		window.location.reload(true) 
    	}        	
    }
</script>