<style scoped>
	.gray-bg {
		height: 100%
	}	
</style>

<template>
	<div class="gray-bg">

		<app-notification :centertext="true"></app-notification>
		

	    <div class="middle-box text-center loginscreen animated fadeInDown">
	        <div>
	            <div>
	                <h1 class="logo-name">IN+</h1>
	            </div>
	            <h3>Welcome to IN+</h3>
	            <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
	                <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
	            </p>
	            <p>Login in. To see it in action.</p>
	            <form class="m-t" role="form" action="index.html">
	                <div class="form-group">
	                    <input type="email" novalidate class="form-control" placeholder="Username" required="" v-model="username">
	                </div>
	                <div class="form-group">
	                    <input type="password" class="form-control" placeholder="Password" required="" v-model="password">
	                </div>
	                <button class="btn btn-primary block full-width m-b" @click.prevent="formLogin">Login</button>

	                <a href="#"><small>Forgot password?</small></a>
	                <p class="text-muted text-center"><small>Do not have an account?</small></p>
	                <a class="btn btn-sm btn-white btn-block" href="#" >Create an account</a>
	            </form>
	            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
	        </div>
	    </div>	    

	</div>
</template>

<script>
	
	import Vue from 'vue'
	import { State, namespace, Action } from 'vuex-class'  
    import { Component } from 'vue-property-decorator' 
    

    const AuthModule = namespace('auth')

    @Component({
    	components:{
    		'app-notification' : ()=> import('../common/AppNotification.vue')
    	}
    })
    export default class Login extends Vue {
    	

    	@AuthModule.Action login    	

    	username = ''
    	password = ''

    	errors = {
    		message: '',
    		details: ''
    	}	

    	formLogin(){
    		this.login({
    			username:this.username,
    			password: this.password
    		}).then(
    			accessToken => this.handleSuccess(accessToken),
    			({status, data})=> this.handleErrors(status, data)
    		)    		    		    		
    	}

    	handleSuccess(accessToken){
    		this.$session.regenerate(accessToken);
    		localStorage.token = accessToken
    		this.$router.push('/map');
    	}

    	handleErrors(status, data){
    		// invalid username / password, required field. etc
			if( (status == 500 || status == 400) && (data.error.message == "Login failed!" || data.error.message == "Your request is not valid!") ){				
				this.errors.message = data.error.message
				this.errors.details = data.error.details				
				Event.fire('Notification.ServerError', this.errors)
			}
			// averything else
			else{
				Event.fire('Notification.ServerError')	
			}
    	}


    	
    }

</script>