<style scoped>
	/*a#logout {
	    padding: 0px 10px;
	    min-height: 0;
	    margin-top: 7px;
	    font-size: 1em;
	}*/
</style>

<template>
	<a href="#" @click.prevent="doLogout" id="logout">
		<!-- <i class="fa fa-sign-out"></i> --> Log out
	</a>	
</template>

<script>

	import Vue from 'vue'
    import { Component } from 'vue-property-decorator' 
    import { namespace, Mutation, Getter } from 'vuex-class'

    import store from 'store'
    
    const AppModule = namespace('app')
    const SignalRModule = namespace('signalr')
    const AppSessionModule = namespace('app/session')	

    @Component
	export default class LogoutButton extends Vue {			
		
		@AppSessionModule.Getter('user') sessionUser  

		@SignalRModule.Mutation('setConnection') setSignalRConnection 
		@AppModule.Mutation setToken
		@AppModule.Mutation setTenantId

		doLogout(){	

			// disconnect from signalr					
			this.setSignalRConnection({type:'vesselGeolocation', connection:null})
			this.setSignalRConnection({type:'alarm', connection:null})

			// temporarily store token to be used on beforeunload
			// store will be destroy on reload anyway
			this.setToken(localStorage.token)
			this.setTenantId(localStorage.tenantId)

			// destroy all session related
			this.$session.destroy();
        	localStorage.clear();
        	store.clearAll();

        	// redirect
			// this.$router.replace({name:'login', params:{tenant:this.sessionUser.tenantName}}, ()=>{
			// 	this.$router.go(0);
			// });
			this.$router.push({name:'login', params:{tenant:this.sessionUser.tenancyName}});	
			window.location.reload(true)
        }
	}

	// Comment to trigger git changes
</script>