<style scoped src="../../../styles/summary-list.scss"></style>
<template src="./templates/alarm-summary.html"></template>

<script>

	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'

	import {ServerError} from '../../../helpers/errors'
	import AuthorizationMixin from '../../common/mixins/AuthorizationMixin'	

	const AlarmSummaryModule = namespace('alarm/summary')	
	const AlarmUpdateModule = namespace('alarm/update')	
	const AlarmModule = namespace('alarm')		

	@Component({
		components: {
			'side-wrapper' : ()=> import('../../common/WidgetContainers/map/SideWrapper'),
			'delete-confirm': ()=> import('../../common/DeleteConfirmation')
		}
	})
	export default class AlarmSummary extends mixins(AuthorizationMixin) {
		

		// Alarm Update
		@AlarmUpdateModule.Mutation toggleAlarmUpdate

		// Alarm Summary
		@AlarmSummaryModule.Mutation toggleAlarmSummary			
		@AlarmSummaryModule.Mutation setSummaryError	

		@AlarmSummaryModule.Getter summaryError					
		
		// Alarm
		@AlarmModule.Getter alarms
		@AlarmModule.Getter selectedAlarm				
			
		@AlarmModule.Mutation setSelectedAlarm			

		@AlarmModule.Action loadAlarms
		@AlarmModule.Action deleteAlarm

		showDeleteAlarmConfirmation = false		

		mounted(){					
			this.loadAlarms()
		}		

		/*
		removeAlarm
		 */
		removeAlarm({id}){

			if(!this.AuthorizationMixin_isGranted('Alarm.Delete')){
				Event.fire('Notification.ClientError', {message:"You don't have permission to remove alarm"})
				return false
			}

			this.deleteAlarm(id)
			.then((result)=>{
				this.loadAlarms()
				Event.fire('Notification.Success', {message:"Successfully Remove Alarm"})
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError', {message: "Error Removing Alarm"}) 
				throw(error)
			})									
		}
				
		closeWidget(widget){
			this.$router.push({name:'mainmap'})
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleAlarmSummary(false)								
		}

		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){				
			Event.fire('Map.DeactivateWidget', 'Alarm.Side.Summary')
		}		
	}


</script>