﻿<style src="./templates/alarm-update.scss"></style>
<template src="./templates/alarm-update.html"></template>

<script>
    import { Component, Prop, Provide} from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
    import ToggleButton from 'vue-js-toggle-button'
    import { mixins } from 'vue-class-component'
	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'
    import utilHelper from '../../../helpers/util'
    
	Vue.use(ToggleButton)
	
	const AlarmUpdateModule = namespace('alarm/update')		
    const AlarmModule = namespace('alarm')
    const AlarmFormModule = namespace('alarm/form')
    
    @Component({
		components: {
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'select2': ()=> import('../../common/libs/Select2'),
			'alarm-form': ()=> import('./AlarmForm')
		}
    })
    export default class AlarmUpdate extends mixins(VeeValidatorHelperMixin) {

    	@Prop() id

		@Provide() parentValidator = this.$validator

		@AlarmModule.Getter alarms
		@AlarmModule.Getter selectedAlarm
		@AlarmFormModule.Getter alarmData	

		@AlarmModule.Mutation setSelectedAlarm
		@AlarmFormModule.Mutation replaceAlarmData	
  		@AlarmUpdateModule.Mutation toggleAlarmUpdate		
			
	    @AlarmUpdateModule.Action updateAlarm

		isReady = false	

		created(){						
			this.setSelectedAlarm( _.find(this.alarms, {id:this.id}) )	
			console.log("%cAlarm:", conStyle.boldWhite, this.alarms)
		}

        mounted(){			        	
		// console.log(this.loadAlarmData())

		const alarmData = {
				id: this.id,
				name: this.selectedAlarm.name,
				isEnabled: this.selectedAlarm.isEnabled,
				priority: this.selectedAlarm.priority,
                message: this.selectedAlarm.message,
                color: this.selectedAlarm.color,
                repeatInterval: this.selectedAlarm.repeatInterval,
                isSendAISSafetyMessage: this.selectedAlarm.isSendAISSafetyMessage,
                aisMessage: this.selectedAlarm.aisMessage,
                emailAddress: this.selectedAlarm.emailAddress,
                isSendEmail: this.selectedAlarm.isSendEmail,
                alarmItems: this.selectedAlarm.alarmItems
		}

			alarmData.alarmItems.forEach((item)=>{
				item.rid = utilHelper.genRandom(32)
			})			

			this.replaceAlarmData(alarmData)			

			this.isReady = true			
		}             
        
        closeWidget(){            
			this.$router.push({name:'mainmap'})
        }    	

    	condition2TypeItem(value){
    		return value.split("::")[0]
    	}

    	condition2TypeItemValue(value){
    		return value.split("::")[1]	
    	}

        submit(){
        console.log(this.alarmData)
		this.VeeValidatorHelperMixin_validateAll('formalarm')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){           	
            this.updateAlarm()
			.then(()=>{
				Event.fire('Notification.Success', {message: 'Successfully Update Alarm'});
				this.closeWidget()
			})
			.catch((error)=>{
				Event.fire('Notification.ServerError', {message: "Error Updating Alarm"})
				throw(error) 
			})
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleAlarmUpdate(false)
		}

		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){			
			Event.fire('Map.DeactivateWidget', 'Alarm.Main.Update')
		}
    }

</script>