<style src="./templates/alarm-create.scss"></style>
<template src="./templates/alarm-form.html"></template>

<script>
	import { Component, Watch, Inject } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import swal from 'sweetalert'
	import Vue from 'vue'
	import async from 'async'
	import ToggleButton from 'vue-js-toggle-button'
	

	Vue.use(ToggleButton)

	const AlarmFormModule = namespace('alarm/form')	

	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'select2': ()=> import('../../common/libs/Select2'),
		}
	})
	export default class AlarmCreate extends Vue {

		@Inject('parentValidator') $validator

		@AlarmFormModule.Mutation setAlarmData
		@AlarmFormModule.Mutation addAlarmConditionItem
		@AlarmFormModule.Mutation setFormAlarmItem
		@AlarmFormModule.Mutation removeAlarmConditionItem
		@AlarmFormModule.Mutation clearData				
	
		@AlarmFormModule.Getter priorityOptions
		@AlarmFormModule.Getter conditionTypesOptions
		@AlarmFormModule.Getter logicalOptions
		@AlarmFormModule.Getter operationOptions
		@AlarmFormModule.Getter conditionOneOptions
		@AlarmFormModule.Getter conditionTwoOptions
		@AlarmFormModule.Getter filtersOptions
		@AlarmFormModule.Getter zonesOptions
		@AlarmFormModule.Getter alarmData
		@AlarmFormModule.Getter alarmItems
		
		@AlarmFormModule.Action getAlarmList
		@AlarmFormModule.Action getFilterList
		@AlarmFormModule.Action getZoneList

		mounted(){
			
			// this.addAlarmConditionItem()
			Promise.all([
			 	this.getFilterList(),
				this.getZoneList()
			])		
		}
		
		beforeDestroy(){
			this.clearData()
		}
		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){					
			Event.fire('Map.DeactivateWidget', 'Alarm.Main.Create')
		}

		get name(){ return this.alarmData.name }	
		get isEnabled(){ return this.alarmData.isEnabled }
		get message(){ return this.alarmData.message }
		get repeatInterval(){ return this.alarmData.repeatInterval }
		get aisMessage(){ return this.alarmData.aisMessage }
		get isSendAISSafetyMessage(){ return this.alarmData.isSendAISSafetyMessage }
		get emailAddress(){ return this.alarmData.emailAddress }
		get isSendEmail(){ return this.alarmData.isSendEmail }

		set name(value){ this.setAlarmData({key:'name', value}) }
		set isEnabled(value){ this.setAlarmData({key:'isEnabled', value}) }
		set message(value){ this.setAlarmData({key:'message', value}) }
		set repeatInterval(value){ this.setAlarmData({key:'repeatInterval', value}) }
		set aisMessage(value){ this.setAlarmData({key:'aisMessage', value}) }
		set isSendAISSafetyMessage(value){ this.setAlarmData({key:'isSendAISSafetyMessage', value}) }
		set emailAddress(value){ this.setAlarmData({key:'emailAddress', value}) }
		set isSendEmail(value){ this.setAlarmData({key:'isSendEmail', value}) }
		
	}

</script>
