﻿<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/alarm-create.html"></template>

<script>
	import { Component, Watch, Provide } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'
	import async from 'async'
	import ToggleButton from 'vue-js-toggle-button'
	import { mixins } from 'vue-class-component'
	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'
	Vue.use(ToggleButton)
	
	const AlarmCreateModule = namespace('alarm/create')	
	const AlarmFormModule = namespace('alarm/form')	
	
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'select2': ()=> import('../../common/libs/Select2'),
			'alarm-form': ()=> import('./AlarmForm')
		}
	})
	export default class AlarmCreate extends mixins(VeeValidatorHelperMixin) {

		@Provide() parentValidator = this.$validator
		
		@AlarmCreateModule.Mutation toggleAlarmCreate	
		@AlarmFormModule.Mutation clearData				
		@AlarmFormModule.Getter alarmData
		@AlarmCreateModule.Action saveAlarm				

		closeWidget(){
			this.$router.push({name:'mainmap'})
		}

		/*
		submit
		 */
		submit(){
			console.log(this.alarmData)
		this.VeeValidatorHelperMixin_validateAll('formalarm')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			// console.log(this.alarmData)			
			this.saveAlarm()
			.then(
				response => {
					Event.fire('Notification.Success', {message:'Successfully Create Alarm'})
					this.closeWidget()
				}, 
				error => {
					Event.fire('Notification.ServerError', {
						details: error.message
					})
					throw(error)
				}
			)
		}	

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.clearData()
			this.toggleAlarmCreate(false)
		}

		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){						
			Event.fire('Map.DeactivateWidget', 'Alarm.Main.Create')			
		}
	}

</script>
