<style scoped>
	.table{
		font-size: 13px;
	}

	.table > tbody > tr > td{
		padding: 5px 8px;
	}
</style>
<template>	
	<table class="table " data-component="ClassADetail">							
			<tbody>
				<tr>
					<td>Type/Cargo</td>
					<td>{{ info.base.shipType_ToString }}</td>
				</tr>
				<tr v-if="info.base && info.base.dimension_A >= 0">
					<td>Length x Beam</td>
					<td>{{ formatLenBeam(info.base.lengthXbeam) }}</td>
				</tr>
				<tr>
					<td>Draught</td>
					<td>{{ info.base.maxDraught }}m</td>
				</tr>
				<tr v-if="info.base && VesselDetailsMixin_utcReceivedTime">
					<td>Last Seen UTC</td><td>
						{{ formatTime(VesselDetailsMixin_utcReceivedTime) }}
					</td>
				</tr>
				<tr v-if="info.base && VesselDetailsMixin_localReceivedTime">
					<td>Last Seen Local</td>
					<td>
						{{ formatTime(VesselDetailsMixin_localReceivedTime) }}
					</td>
				</tr>
				<tr v-if="info.base && info.base.lat && info.base.lgt">
					<td>Latitude</td>
					<td>{{ formatCoords(info.base.lat,info.base.lgt).lat }}</td>
				</tr>
				<tr v-if="info.base && info.base.lat && info.base.lgt">
					<td>Longitude</td>
					<td>{{ formatCoords(info.base.lat,info.base.lgt).lgt }}</td>
				</tr>
				<tr v-if="info.base && info.base.navigationalStatusToString">
					<td>Nav. Status</td>
					<td>{{ navStatusFormatted(info.base.navigationalStatusToString) }}</td>
				</tr>
				<tr>
					<td>Speed</td>
					<td v-if="info.base.sog">{{ info.base.sog }}kn</td>
					<td v-else>0kn</td>
				</tr>
				<tr>
					<td>Course</td>
					<td v-if="info.base.cog">{{ info.base.cog }}°</td>
					<td v-else>0°</td>
				</tr>
				<tr>
					<td>Heading</td>
					<td v-if="info.base && info.base.trueHeading">{{ info.base.trueHeading }}°</td>
					<td v-else>0°</td>
				</tr>
				<tr>
					<td>Rate of Turn</td>
					<td>{{ info.base.rotToString }}</td>
				</tr>
				<tr>
					<td>Destination</td>
					<td v-if="info.base.destination">{{ info.base.destination }}</td>
					<td v-else>Undefined</td>
				</tr>		
				<tr><td>ETA</td><td>{{ formatTime(info.base.eta) }}</td></tr>	

				<tr>
					<td>Pos. Accuracy</td>
					<td>{{info.base.positionAccuracyToString}}
					</td>
				</tr>
                <tr>
                	<td>Pos. Fix. Dev.</td>
                	<td>{{ info.base.positionFixingDeviceToString }}</td>
            	</tr>  
                <!-- <tr><td>IP</td><td>?</td></tr> -->							
			</tbody>
		</table>
</template>

<script>
	import Vue from 'vue'	
	import { Component, Prop, Watch } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component' 	
	import { namespace, Getter, Mutation, Action } from 'vuex-class'

	import VesselDetailsMixin from './VesselDetailsMixin' 

	const VesselDetailsModule = namespace('vesselDetails')
	const formatcoords = require('formatcoords');

	@Component
	export default class ClassADetail extends mixins(VesselDetailsMixin) {
		
		@Prop() info

				
					

		navStatusFormatted(status){			
			return status.substring(0, 9) === 'Undefined' ? 'Undefined' : status
		}

		formatMmsi(mmsi){
			return String(mmsi).padStart(9, "0")			
		}	

		formatTime(time){
            return moment(time).format('DD/MM/YYYY HH:mm')
        } 

		formatCoords(lat, lgt){
			let coords = formatcoords(lat, lgt).format('DDmmX', {latLonSeparator: ' ',  decimalPlaces: 3}).split(" ");
			return { lat: coords[0], lgt: coords[1] };
		}

        formatLenBeam(lenxbeam){            
            return lenxbeam ? lenxbeam.replace("X", "X") : "0m X 0m"            
        }
	}
	
</script>