<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>
	.table{
		font-size: 13px;
	}

	.table > tbody > tr > td{
		padding: 5px 8px;
	}

	.table > tbody > tr > td:first-child{
		font-weight: bold;
	}


</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>	
	<table class="table " data-component="ClassADetail">							
			<tbody>
				
				<tr>
					<td>Wreck number</td>
					<td>{{info.base.wreckNumber}}</td>
				</tr>
				
				<tr>
					<td>Country</td>
					<td>{{info.base.country}}</td>
				</tr>
				
				<tr>
					<td>Office</td>
					<td>{{info.base.office}}</td>
				</tr>

				<tr>
					<td>Object acronym</td>
					<td>{{info.base.objAcronym}}</td>
				</tr>

				<tr>
					<td>Wreck type</td>
					<td>{{info.base.wreckType}}</td>
				</tr>

				<tr>
					<td>Date</td>
					<td>{{wreckDate}}</td>
				</tr>

				<tr>
					<td>Short Description</td>
					<td>{{info.base.description}}</td>
				</tr>

				<tr>
					<td>Active</td>
					<td>{{info.base.active ? 'Active' : 'Inactive'}}</td>
				</tr>

				<tr>
					<td>Area</td>
					<td>{{info.base.area}}</td>
				</tr>

				<tr>
					<td>Locking</td>
					<td>{{info.base.locking ? 'Private' : 'Public'}}</td>
				</tr>

				<tr>
					<td>Object type</td>
					<td>{{info.base.objType}}</td>
				</tr>

				<tr>
					<td>Vertical accuracy</td>
					<td>{{info.base.verticalAccuracy}}</td>
				</tr>

				<tr>
					<td>Length</td>
					<td>{{info.base.length}}</td>
				</tr>

				<!-- <tr>
					<td>Width</td>
					<td>:</td>
					<td></td>
				</tr> -->

				<tr>
					<td>Registered tonnage</td>
					<td>{{info.base.registeredTonnage}}</td>
				</tr>

				<!-- <tr>
					<td>Drawing position</td>
					<td>:</td>
					<td>Center</td>
				</tr> -->

				<tr>
					<td>Date of modification</td>
					<td>{{modificationDate}}</td>
				</tr>

				<tr>
					<td>ID</td>
					<td>{{info.base.id}}</td>
				</tr>





									
			</tbody>
		</table>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	import Vue from 'vue'	
	import { Component, Prop, Watch } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component' 	
	import { namespace, Getter, Mutation, Action } from 'vuex-class'

	import VesselDetailsMixin from './VesselDetailsMixin' 

	const VesselDetailsModule = namespace('vesselDetails')
	const formatcoords = require('formatcoords');

	@Component
	export default class ClassWremDetail extends mixins(VesselDetailsMixin) {
		
		@Prop() info

				
					

		// navStatusFormatted(status){			
		// 	return status.substring(0, 9) === 'Undefined' ? 'Undefined' : status
		// }

		// formatMmsi(mmsi){
		// 	return String(mmsi).padStart(9, "0")			
		// }	

		// formatTime(time){
  //           return moment(time).format('DD/MM/YYYY HH:mm')
  //       } 

		// formatCoords(lat, lgt){
		// 	let coords = formatcoords(lat, lgt).format('DDmmX', {latLonSeparator: ' ',  decimalPlaces: 3}).split(" ");
		// 	return { lat: coords[0], lgt: coords[1] };
		// }

  //       formatLenBeam(lenxbeam){            
  //           return lenxbeam ? lenxbeam.replace("X", "X") : "0m X 0m"            
  //       }
	

  		/*
		Getters and setters
		 */			
		
		get wreckDate(){
			return moment(this.info.base.dateWreck).format('D MMM YYYY');
		}

		get modificationDate(){
			return moment(this.info.base.dateModified).format('D MMM YYYY h:mm:ss A');
		}
		

	}
	
</script>