<style scoped>
	.table{
		font-size: 13px;
	}

	.table > tbody > tr > td{
		padding: 5px 8px;
	}
</style>
<template>	
	<table class="table ">							
			<tbody>				
				<tr>
					<td>Type/Cargo</td>
					<td>{{ info.base.shipType_ToString }}</td>
				</tr>
				<tr v-if="info.base && info.base.dimension_A >= 0">
					<td>Length x Beam</td>
					<td>{{ formatLenBeam(info.base.lengthXbeam) }}</td>
				</tr>
				<tr>
					<td>RAIM</td>
					<td v-if="(info.base && VesselDetailsMixin_raim) > 0">
					In Use
					</td>
					<td v-else>Not In Use</td>
				</tr>
				<tr v-if="info.base && VesselDetailsMixin_utcReceivedTime">
					<td>Last Seen UTC</td><td>
						{{ formatTime(VesselDetailsMixin_utcReceivedTime) }}
					</td>
				</tr>
				<tr v-if="info.base && VesselDetailsMixin_localReceivedTime">
					<td>Last Seen Local</td>
					<td>
						{{ formatTime(VesselDetailsMixin_localReceivedTime) }}
					</td>
				</tr>
				<tr v-if="info.base && VesselDetailsMixin_latitude && VesselDetailsMixin_longitude">
					<td>Latitude</td>
					<td>{{ formatCoords(VesselDetailsMixin_latitude,VesselDetailsMixin_longitude).lat }}</td>
				</tr>
				<tr v-if="info.base && VesselDetailsMixin_latitude && VesselDetailsMixin_longitude">
					<td>Longitude</td>
					<td>{{ formatCoords(VesselDetailsMixin_latitude,VesselDetailsMixin_longitude).lng }}</td>
				</tr>
				<tr>
					<td>Speed</td>
					<td v-if="VesselDetailsMixin_sog">{{ VesselDetailsMixin_sog }}knt</td>
					<td v-else>0knt</td>
				</tr>
				<tr>
					<td>Course</td>
					<td v-if="VesselDetailsMixin_cog">{{ VesselDetailsMixin_cog }}°</td>
					<td v-else>0°</td>
				</tr>
				<tr>
					<td>Pos. Accuracy</td>
					<td>{{VesselDetailsMixin_accuracy}}
					</td>
				</tr>
                <tr>
                	<td>Pos. Fix. Dev.</td>
                	<td>{{ info.base.positionFixingDeviceToString }}</td>
                </tr>                   
			</tbody>
		</table>
</template>

<script>
	import Vue from 'vue'	
	import { Component, Prop, Watch } from 'vue-property-decorator' 
	import { mixins } from 'vue-class-component' 		
	import { namespace, Getter, Mutation, Action } from 'vuex-class'

	import VesselDetailsMixin from './VesselDetailsMixin'  

	const VesselDetailsModule = namespace('vesselDetails')
	const formatcoords = require('formatcoords');

	@Component
	export default class ClassBDetail extends mixins(VesselDetailsMixin) {
		@Prop() info
			

		formatMmsi(mmsi){
			return String(mmsi).padStart(9, "0")			
		}		

		formatTime(time){
            return moment(time).format('DD/MM/YYYY HH:mm')
        }		
		
		formatCoords(lat, lng){
			let coords = formatcoords(lat, lng).format('DDmmX', {latLonSeparator: ' ',  decimalPlaces: 3}).split(" ");
			return { lat: coords[0], lng: coords[1] };
		}

        formatLenBeam(lenxbeam){            
            return lenxbeam ? lenxbeam.replace("X", "X") : "0m X 0m"            
        }

	}
	
</script>