<style scoped>
	.table{
		font-size: 13px;
	}

	.table > tbody > tr > td{
		padding: 5px 8px;
	}
</style>
<template>	
	<table class="table " v-if="info">							
			<tbody>				
				<!-- <tr><td>MMSI</td><td>{{ formatMmsi(info.base.mmsi) }}</td> -->
				
				<!-- <tr><td>Nearest MM</td><td>?</td></tr> -->				
				<tr v-if="info.base && VesselDetailsMixin_utcReceivedTime">
					<td>Last Seen UTC</td><td>
						{{ VesselDetailsMixin_utcReceivedTime }}
					</td>
				</tr>

				<tr v-if="info.base && VesselDetailsMixin_localReceivedTime">
					<td>Last Seen Local</td>
					<td>
						{{ VesselDetailsMixin_localReceivedTime }}
					</td>
				</tr>

				<tr v-if="info.base && VesselDetailsMixin_latitude">
					<td>Latitude</td>
					<td>{{ VesselDetailsMixin_latitude }}</td>
				</tr>
				
				<tr v-if="info.base && VesselDetailsMixin_longitude">
					<td>Longitude</td>
					<td>{{ VesselDetailsMixin_longitude }}</td>
				</tr>
                <!-- <tr><td>IP</td><td>?</td></tr> -->							
			</tbody>
		</table>
</template>

<script>
	import Vue from 'vue'	
	import { Component, Prop, Watch } from 'vue-property-decorator' 
	import { mixins } from 'vue-class-component' 		
	import { namespace, Getter, Mutation, Action } from 'vuex-class' 

	import VesselDetailsMixin from './VesselDetailsMixin' 

	const VesselDetailsModule = namespace('vesselDetails')

	@Component
	export default class ClassADetail extends mixins(VesselDetailsMixin) {
		@Prop() info
		

		formatMmsi(mmsi){
			return String(mmsi).padStart(9, "0")			
		}						

	}
	
</script>