<style scoped>
	.table{
		font-size: 13px;
	}

	.table > tbody > tr > td{
		padding: 5px 8px;
	}
</style>
<template>	
	<table class="table " v-if="info">							
			<tbody>								
				
				<tr v-if="info.base && VesselDetailsMixin_utcReceivedTime">
					<td>Last Seen UTC</td><td>
						{{ formatTime(VesselDetailsMixin_utcReceivedTime) }}
					</td>
				</tr>
				<tr v-if="info.base && VesselDetailsMixin_localReceivedTime">
					<td>Last Seen Local</td>
					<td>
						{{ formatTime(VesselDetailsMixin_localReceivedTime) }}
					</td>
				</tr>
				<tr v-if="info.base && VesselDetailsMixin_latitude && VesselDetailsMixin_longitude">
					<td>Latitude</td>
					<td>{{ formatCoords(VesselDetailsMixin_latitude,VesselDetailsMixin_longitude).lat }}</td>
				</tr>
				<tr v-if="info.base && VesselDetailsMixin_latitude && VesselDetailsMixin_longitude">
					<td>Longitude</td>
					<td>{{ formatCoords(VesselDetailsMixin_latitude,VesselDetailsMixin_longitude).lng }}</td>
				</tr>
				<tr v-if="info.base && VesselDetailsMixin_accuracy">
					<td>Pos. Accuracy</td>
					<td>{{ VesselDetailsMixin_accuracy }}</td>
				</tr>
                <tr>
                	<td>Pos. Fix. Dev.</td>
                	<td>{{ info.base.positionFixingDeviceToString }}</td>
                </tr> 
                
			</tbody>
		</table>
</template>

<script>
	import Vue from 'vue'	
	import { Component, Prop, Watch } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component' 	 	 	
	import { namespace, Getter, Mutation, Action } from 'vuex-class'

	import VesselDetailsMixin from './VesselDetailsMixin'  

	const VesselDetailsModule = namespace('vesselDetails')
	const formatcoords = require('formatcoords');
 
	@Component
	export default class ClassBaseStationDetail extends mixins(VesselDetailsMixin) {

		@Prop() info
			

		formatMmsi(mmsi){
			return String(mmsi).padStart(9, "0")			
		}	

		formatTime(time){
            return moment(time).format('DD/MM/YYYY HH:mm')
        }
		
		formatCoords(lat, lng){
			let coords = formatcoords(lat, lng).format('DDmmX', {latLonSeparator: ' ',  decimalPlaces: 3}).split(" ");
			return { lat: coords[0], lng: coords[1] };
		}

	}
	
</script>