<style scoped>
	.table{
		font-size: 13px;
	}

	.table > tbody > tr > td{
		padding: 5px 8px;
	}
</style>
<template>	
	<table class="table " v-if="info">							
			<tbody>

				<tr>
					<td>Aid-to-Nav. Type</td>
					<td v-if="info.base.msg21.atoNType_ToString">{{ info.base.msg21.atoNType_ToString }}</td>
					<td v-else-if="info.base.msg21.atoNType_ToString == null">{{formatAtonTypeBasedOnMmsi(info.base.mmsi)}}</td>
					<td v-else>Undefined</td>
				</tr>
                <tr v-if="info.base && info.base.dimension_A >= 0"><td>Dimension</td><td>{{ formatLenBeam(info.base.lengthXbeam) }}</td></tr>
				<tr v-if="info.base && VesselDetailsMixin_utcReceivedTime">
					<td>Last Seen UTC</td><td>
						{{ formatTime(VesselDetailsMixin_utcReceivedTime) }}
					</td>
				</tr>
				<tr v-if="info.base && VesselDetailsMixin_localReceivedTime">
					<td>Last Seen Local</td>
					<td>
						{{ formatTime(VesselDetailsMixin_localReceivedTime) }}
					</td>
				</tr>
				<tr v-if="info.base && info.base.lat && info.base.lgt">
					<td>Latitude</td>
					<td>{{ formatCoords(info.base.lat,info.base.lgt).lat }}</td>
				</tr>
				<tr v-if="info.base && info.base.lat && info.base.lgt">
					<td>Longitude</td>
					<td>{{ formatCoords(info.base.lat,info.base.lgt).lgt }}</td>
				</tr>
				<tr v-if="info.base.msg21.virtualAtoN_ToString">
					<td>Virtual Aid-to-Nav</td>
					<td>{{ info.base.msg21.virtualAtoN_ToString }}</td>
				</tr>
				<tr v-if="info.base.rmsStats.offPosition68_ToString">
					<td>Off Position (Msg. 6)</td>
					<td>{{ info.base.rmsStats.offPosition68_ToString }}</td>
				</tr>
                <tr v-if="info.base.rmsStats.atoNStatus68">
                	<td>AtoN Status (Msg. 6)</td>
                	<td>{{ info.base.rmsStats.atoNStatus68 }}</td>
                </tr>
				<tr v-if="info.base.msg21.offPosition21_ToString">
					<td>Off Position (Msg. 21)</td>
					<td>{{ info.base.msg21.offPosition21_ToString }}</td>
				</tr>
				<tr v-if="info.base.msg21.atoNStatus21">
					<td>AtoN Status (Msg. 21)</td>
					<td>{{ info.base.msg21.atoNStatus21 }}</td>
				</tr>
				<tr v-if="(info.rms && info.rms.dac == 533 && info.rms.fi == 1) || info.lightHouse">
                	<td>Voltage Int/1/2</td>
                	<td>{{ info.base.rmsStats.analogueInt_1_2 }}</td>
                </tr>
                <tr v-if="info.rms && info.rms.dac == 235 && info.rms.fi == 10">
                	<td>Analogue Int/1/2</td>
                	<td>{{ info.base.rmsStats.analogueInt_1_2 }}</td>
                </tr>
                <tr v-if="info.rms && info.rms.dac == 235 && info.rms.fi == 10">
                	<td>Digital Input (7..0)</td>
                	<td>{{ info.base.digitalInput }}</td>
                </tr>
				<tr>
					<td>Pos. Accuracy</td>
					<td>{{VesselDetailsMixin_accuracy}}
					</td>
				</tr>
                <tr><td>Pos. Fix. Dev.</td><td>{{ info.base.positionFixingDeviceToString }}</td></tr>  
			</tbody>
		</table>
</template>

<script>
	import Vue from 'vue'	
	import { Component, Prop, Watch } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component' 	 	
	import { namespace, Getter, Mutation, Action } from 'vuex-class' 

	import VesselDetailsMixin from './VesselDetailsMixin' 

	const VesselDetailsModule = namespace('vesselDetails')
	const formatcoords = require('formatcoords');

	@Component
	export default class ClassAtonDetail extends mixins(VesselDetailsMixin) {
		
		@Prop() info
			

		formatMmsi(mmsi){
			return String(mmsi).padStart(9, "0")			
		}

		formatTime(time){
            return moment(time).format('DD/MM/YYYY HH:mm')
        }

		formatCoords(lat, lgt){
			let coords = formatcoords(lat, lgt).format('DDmmX', {latLonSeparator: ' ',  decimalPlaces: 3}).split(" ");
			return { lat: coords[0], lgt: coords[1] };
		}

		formatLenBeam(lenxbeam){            
            return lenxbeam ? lenxbeam.replace("X", "X") : "0m X 0m"            
        }

		mounted(){
			// console.log(this.info);
			// console.log(this.info.base.atoNType);
		}

		formatAtonTypeBasedOnMmsi(mmsi){

			const atonType = String(mmsi).substring(0,3);
            const res = atonType.match(/970|972|974/);

            if(res == 970) {
            	return 'AIS-SART'
            }
            else if(res == 972) {
            	return 'MOB'
            }
            else if(res == 974) {
            	return 'EPIRB-AIS'
            }
            else{
            	return "Undefined"
            }
		}			
	}
	
</script>