<style scoped>

	.table{
		font-size: 13px;
	}

	.table > tbody > tr > td{
		padding: 5px 8px;
	}
</style>
<template>	

		<table v-if="info.ddms" class="table">							
			<tbody>
				<tr>
					<td>Max Air Draught</td>
					<td>{{parseFloat(info.ddms.maxAirDraught).toFixed(1)}}m</td>
				</tr>
				<tr>
					<td>Min Air Draught</td>
					<td>{{parseFloat(info.ddms.minAirDraught).toFixed(1)}}m</td>
				</tr>
				<tr>
					<td>Actual Air Draught</td>
					<td>{{parseFloat(info.ddms.actualAirDraught).toFixed(1)}}m</td>
				</tr>
				<tr>
					<td>1/2 Full</td>
					<td>{{ info.ddms.halfFull }}</td>
				</tr>
				<tr>
					<td>Ship Load</td>
					<td>{{ info.ddms.shipLoad }}</td>
				</tr>
				<tr>
					<td>Voltage</td>
					<td>{{parseFloat(info.ddms.voltage).toFixed(1)}}v</td>
				</tr>
				<tr>
					<td>Power Supply</td>
					<td>{{ info.ddms.supply }}</td>
				</tr>
				<tr>
					<td>Casing Cover</td>
					<td>{{info.ddms.casingCover}}</td>
				</tr>
				<tr v-if="info.ddms.sonar == 'Enabled'">
					<td>Sonar</td>
					<td>OK</td>
				</tr>
				<!-- <tr>
					<td>Hoppers</td>
					<td>{{ info.ddms.hopper }}</td>
				</tr> -->
				<tr v-if="info.ddms.numHoppers >= 1">
					<td>Hopper 1</td>
					<td>Open</td>
				</tr>
				<tr v-if="info.ddms.numHoppers >= 2">
					<td>Hopper 2</td>
					<td>Open</td>
				</tr>
				<tr v-if="info.ddms.numHoppers == 3">
					<td>Hopper 3</td>
					<td>Open</td>
				</tr>
											
			</tbody>
		</table>

</template>

<script>
	import Vue from 'vue'	
	import { Component, Prop, Watch } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component' 	
	import { namespace, Getter, Mutation, Action } from 'vuex-class'

	import VesselDetailsMixin from './VesselDetailsMixin' 

	@Component
	export default class DdmsDetail extends mixins(VesselDetailsMixin) {
        @Prop() info        
	}
	
</script>