<style scoped>

	.table{
		font-size: 13px;
	}

	.table > tbody > tr > td{
		padding: 5px 8px;
	}
</style>
<template>	

		<table v-if="info.lightHouse" class="table">							
			<tbody>
				<tr>
					<td>AtoN Status</td>
					<td>{{info.lightHouse.status}}</td>
				</tr>
				<tr>
					<td>Ambient</td>
					<td>{{info.lightHouse.lightSensor}}</td>
				</tr>
				<tr>
					<td>Beat</td>
					<td>{{info.lightHouse.beat}}</td>
				</tr>
				<tr>
					<td>Main Lantern Condition</td>
					<td>{{info.lightHouse.mainLanternCondition}}</td>
				</tr>
				<tr>
					<td>Main Lantern Status</td>
					<td>{{info.lightHouse.mainLanternStatus}}</td>
				</tr>
				<tr>
					<td>Standby Lantern Condition</td>
					<td>{{info.lightHouse.standbyLanternCondition}}</td>
				</tr>
				<tr>
					<td>Standby Lantern Status</td>
					<td>{{info.lightHouse.standbyLanternStatus}}</td>
				</tr>
				<tr>
					<td>Emergency Lantern Condition</td>
					<td>{{info.lightHouse.emergencyLanternCondition}}</td>
				</tr>
				<tr>
					<td>Emergency Lantern Status</td>
					<td>{{info.lightHouse.emergencyLanternStatus}}</td>
				</tr>
				<tr>
					<td>Optic DriveA Status</td>
					<td>{{info.lightHouse.opticDriveAStatus}}</td>
				</tr>
				<tr>
					<td>Optic DriveA Condition</td>
					<td>{{info.lightHouse.opticDriveACondition}}</td>
				</tr>
				<tr>
					<td>Optic DriveB Status</td>
					<td>{{info.lightHouse.opticDriveBStatus}}</td>
				</tr>
				<tr>
					<td>Optic DriveB Condition</td>
					<td>{{info.lightHouse.opticDriveBCondition}}</td>
				</tr>
				<tr>
					<td>Hatch Door</td>
					<td>{{info.lightHouse.hatchDoor}}</td>
				</tr>
				<tr>
					<td>Main Power</td>
					<td>{{info.lightHouse.mainPower}}</td>
				</tr>
				<tr>
					<td>BMS Condition</td>
					<td>{{info.lightHouse.bmsCondition}}</td>
				</tr>
				<tr>
					<td>Voltage Internal</td>
					<td>{{info.lightHouse.supplyVoltageInt}}</td>
				</tr>
				<tr>
					<td>Voltage External 1</td>
					<td>{{info.lightHouse.supplyVoltageExt1}}</td>
				</tr>
				<tr>
					<td>Voltage External 2</td>
					<td>{{info.lightHouse.supplyVoltageExt2}}</td>
				</tr>
				<tr>
					<td>Off Position</td>
					<td>{{info.lightHouse.offPosition}}</td>
				</tr>
				<tr>
					<td>DAC/FI</td>
					<td>{{ info.rms.dac }}/{{ info.rms.fi }}</td>
				</tr>
			</tbody>
		</table>

</template>

<script>
	import Vue from 'vue'	
	import { Component, Prop, Watch } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component' 	
	import { namespace, Getter, Mutation, Action } from 'vuex-class'

	import VesselDetailsMixin from './VesselDetailsMixin' 

	@Component
	export default class LightHouseDetail extends mixins(VesselDetailsMixin) {
        @Prop() info    

        mounted(){
        	console.log("%cLH:", conStyle.boldWhite, this.info.lightHouse)
        }    
	}
	
</script>