<style scoped>

	.table{
		font-size: 13px;
	}

	.table > tbody > tr > td{
		padding: 5px 8px;
	}
</style>
<template>	

		<table v-if="info.lloyd" class="table">							
			<tbody>
				<tr>
					<td>Status</td>
					<td v-if="info.lloyd.status">{{ info.lloyd.status }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Flag</td>
					<td v-if="info.lloyd.flag">{{ (info.lloyd.flag).substr(0,3) }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Vessel Type</td>
					<td v-if="info.lloyd.vesselType">{{ info.lloyd.vesselType }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Built</td>
					<td v-if="info.lloyd.built">{{ info.lloyd.built }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>DWT</td>
					<td v-if="info.lloyd.dwt">{{ info.lloyd.dwt }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Hull Type</td>
					<td v-if="info.lloyd.hullType">{{ info.lloyd.hullType }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Gross Tonnes</td>
					<td v-if="info.lloyd.grossTonnes">{{ info.lloyd.grossTonnes }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Yard Number</td>
					<td v-if="info.lloyd.yardNumber">{{ info.lloyd.yardNumber }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Built By</td>
					<td v-if="info.lloyd.builtBy">{{ info.lloyd.builtBy }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Built At</td>
					<td v-if="info.lloyd.builtAt">{{ info.lloyd.builtAt }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Length Overall</td>
					<td v-if="info.lloyd.lengthOverall">{{ info.lloyd.lengthOverall }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Length Between Perpendicular</td>
					<td v-if="info.lloyd.lngthBtwnPpndicular">{{ info.lloyd.lngthBtwnPpndicular }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Breadth Extreme</td>
					<td v-if="info.lloyd.breadthExtreme">{{ info.lloyd.breadthExtreme }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Breadth Moulded</td>
					<td v-if="info.lloyd.breadthMoulded">{{ info.lloyd.breadthMoulded }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Depth</td>
					<td v-if="info.lloyd.depth">{{ info.lloyd.depth }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Draught</td>
					<td v-if="info.lloyd.draught">{{ info.lloyd.draught }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Freeboard</td>
					<td v-if="info.lloyd.freeboard">{{ info.lloyd.freeboard }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Engine Built By</td>
					<td v-if="info.lloyd.engineBuiltBy">{{ info.lloyd.engineBuiltBy }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Designed By</td>
					<td v-if="info.lloyd.designedBy">{{ info.lloyd.designedBy }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Narrative Text</td>
					<td v-if="info.lloyd.narrativeText">{{ info.lloyd.narrativeText }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>PI Club</td>
					<td v-if="info.lloyd.piClub">{{ info.lloyd.piClub }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Class 1</td>
					<td v-if="info.lloyd.class1">{{ info.lloyd.class1 }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Class 2</td>
					<td v-if="info.lloyd.class2">{{ info.lloyd.class2 }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Class 3</td>
					<td v-if="info.lloyd.class3">{{ info.lloyd.class3 }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Company Contact	</td>
					<td v-if="info.lloyd.companyContact">{{ info.lloyd.companyContact }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Port Of Registry</td>
					<td v-if="info.lloyd.portOfRegistry">{{ info.lloyd.portOfRegistry }}</td>
					<td v-else>Undefined</td>
				</tr>
				<tr>
					<td>Net Weight</td>
					<td v-if="info.lloyd.netWeight">{{ info.lloyd.netWeight }}</td>
					<td v-else>Undefined</td>
				</tr>
											
			</tbody>
		</table>

</template>

<script>
	import Vue from 'vue'	
	import { Component, Prop, Watch } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component' 	
	import { namespace, Getter, Mutation, Action } from 'vuex-class'

	import VesselDetailsMixin from './VesselDetailsMixin' 

	const VesselDetailsModule = namespace('vesselDetails')

	@Component
	export default class LloydsDetail extends mixins(VesselDetailsMixin) {
        @Prop() info        
	}
	
</script>