<style scoped>

	.table{
		font-size: 13px;
	}

	.table > tbody > tr > td{
		padding: 5px 8px;
	}
	.credits {
    background: url(../../../../images/chart.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    width: 25px;
}
</style>
<template>	
		<!-- Malaysia Format – Light Beacon Application [DAC-533 FI-1]  -->
		<table v-if="info.rms && info.rms.dac == 533 && info.rms.fi == 1" class="table">							
			<tbody>
				<tr v-if="info.base.atoNStatus68 ">
                	<td>AtoN Status (Msg. 6)</td>
                	<td>{{ info.base.atoNStatus68 }}</td>
                </tr>
                <tr v-if="info.base.analogueInt">
                	<td>Voltage Internal</td>
					<td>{{ info.rms.supplyVoltageInt}}V</td>
                </tr>
                <tr v-if="(info.base.analogueExt1 || info.base.analogueExt1 == 0)">
                	<td>Voltage External 1 (Lantern)</td>
					<td>{{ info.rms.supplyVoltageExt1}}V</td>
                </tr>
                <tr v-if="(info.base.analogueExt2 || info.base.analogueExt2 == 0)">
                	<td>Voltage External 2 (Racon)</td>
                	<td>{{ info.rms.supplyVoltageExt2}}V</td>
                </tr>
				<tr>
					<td>Beat</td>
					<td>{{info.rms.beat}}</td>
				</tr>
				<tr>
					<td>Lantern Battery</td>
					<td>{{info.rms.lanternBatt}}</td>
				</tr>
				<tr>
					<td>Lantern</td>
					<td>{{info.rms.lantern}}</td>
				</tr>
				<tr>
					<td>Ambient</td>
					<td>{{info.rms.ambient}}</td>
				</tr>
				<tr>
					<td>Door</td>
					<td>{{info.rms.door}}</td>
				</tr>
				<tr>
					<td>DAC/FI</td>
					<td>{{ info.rms.dac }}/{{ info.rms.fi }}</td>
				</tr>
			</tbody>
		</table>

		<!-- Zeni Lite [DAC-0 FI-0]  -->
		<table v-else-if="info.rms && info.rms.dac == 0 && info.rms.fi == 0" class="table">							
			<tbody>
				<tr>
                	<td>Voltage/Current</td>
                	<td>{{ info.rms.voltageData}}/{{ info.rms.currentData}}</td>
                </tr>
                <tr>
                	<td>Power Supply Type</td>
                	<td>{{ info.rms.powerSupplyType}}</td>
                </tr>
                <tr>
                	<td>Light Status</td>
                	<td>{{ info.rms.lightStatus}}</td>
                </tr>
                <tr>
                	<td>Battery Status</td>
                	<td>{{ info.rms.batteryStatus}}</td>
                </tr>
                <tr>
					<td>DAC/FI</td>
					<td>{{ info.rms.dac }}/{{ info.rms.fi }}</td>
				</tr>
			</tbody>
		</table>

		<!-- IALA A126 [DAC-235 FI-10]  -->
		<table v-else-if="info.rms && info.rms.dac == 235 && info.rms.fi == 10" class="table">							
			<tbody>
				<tr v-if="info.base.atoNStatus68 ">
                	<td>AtoN Status (Msg. 6)</td>
                	<td>{{ info.base.atoNStatus68 }}</td>
                </tr>
				<tr>
                	<td>Analogue Internal</td>
                	<td>{{ info.rms.supplyVoltageInt }}V</td>
                </tr>
                <tr>
                	<td>Analogue Ext1</td>
                	<td>{{ info.rms.supplyVoltageExt1 }}V</td>
                </tr>
                <tr>
                	<td>Analogue Ext2</td>
                	<td>{{ info.rms.supplyVoltageExt2 }}V</td>
                </tr>
                <tr>
					<td>DAC/FI</td>
					<td>{{ info.rms.dac }}/{{ info.rms.fi }}</td>
				</tr>
			</tbody>
		</table>

		<!-- Malaysia Format – Self Contained Lantern [DAC-533 FI-4]  -->
		<table v-else-if="info.rms && info.rms.dac == 533 && info.rms.fi == 4" class="table">
			<tbody>
				<tr v-if="info.base.atoNStatus68 ">
                	<td>AtoN Status (Msg. 6)</td>
                	<td>{{ info.base.atoNStatus68 }}</td>
                </tr>
                <tr v-if="info.base.analogueInt">
                	<td>Voltage Internal</td>
                	<td>{{ info.base.analogueInt}}V</td>
                </tr>
                <tr v-if="(info.base.analogueExt1 || info.base.analogueExt1 == 0)">
                	<td>Voltage External 1 (Lantern)</td>
                	<td>{{ info.base.analogueExt1}}V</td>
                </tr>
                <tr v-if="info.base.analogueExt2">
                	<td>LED Thermal Temperature</td>
                	<td>{{ info.base.analogueExt2}}</td>
                </tr>
                <tr>
					<td>Ambient</td>
					<td>{{info.rms.ambient}}</td>
				</tr>
				<tr>
					<td>Beat</td>
					<td>{{info.rms.beat}}</td>
				</tr>
				<tr>
					<td>Alarm Active</td>
					<td>{{info.rms.alarmActive}}</td>
				</tr>
				<tr>
					<td>FlshrOffByLedPwrThres</td>
					<td>{{info.rms.flshrOffByLedPwrThres}}</td>
				</tr>
				<tr>
					<td>FlshrOffByLowVin</td>
					<td>{{info.rms.flshrOffByLowVin}}</td>
				</tr>
				<tr>
					<td>FlshrOffByPhotocell</td>
					<td>{{info.rms.flshrOffByPhotocell}}</td>
				</tr>
				<tr>
					<td>FlshrOffByTemp</td>
					<td>{{info.rms.flshrOffByTemp}}</td>
				</tr>
				<tr>
					<td>FlshrOffByForceOff</td>
					<td>{{info.rms.flshrOffByForceOff}}</td>
				</tr>
				<tr>
					<td>IsNight</td>
					<td>{{info.rms.isNight}}</td>
				</tr>
				<tr>
					<td>ErrLedShort</td>
					<td>{{info.rms.errLedShort}}</td>
				</tr>
				<tr>
					<td>ErrLedOpen</td>
					<td>{{info.rms.errLedOpen}}</td>
				</tr>
				<tr>
					<td>ErrLedVoltageLow</td>
					<td>{{info.rms.errLedVoltageLow}}</td>
				</tr>
				<tr>
					<td>ErrVinLow</td>
					<td>{{info.rms.errVinLow}}</td>
				</tr>
				<tr>
					<td>ErrLedPowerThres</td>
					<td>{{info.rms.errLedPowerThres}}</td>
				</tr>
				<tr>
					<td>FlshrAdjToLedMaxAvgPwr</td>
					<td>{{info.rms.flshrAdjToLedMaxAvgPwr}}</td>
				</tr>
				<tr>
					<td>GsensorInterruptOccur</td>
					<td>{{info.rms.gsensorInterruptOccur}}</td>
				</tr>
				<tr>
					<td>SolarChargingOn</td>
					<td>{{info.rms.solarChargingOn}}</td>
				</tr>
				<tr>
					<td>DAC/FI</td>
					<td>{{ info.rms.dac }}/{{ info.rms.fi }}</td>
				</tr>
			</tbody>
			
		</table>

</template>

<script>
	import Vue from 'vue'	
	import { Component, Prop, Watch } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component' 	
	import { namespace, Getter, Mutation, Action } from 'vuex-class'

	import VesselDetailsMixin from './VesselDetailsMixin' 
	import ChartLogo from '../../../../images/chart.svg'

	const VesselDetailsModule = namespace('vesselDetails')

	@Component
	export default class RmsDetail extends mixins(VesselDetailsMixin) {
        @Prop() info        

        chartLogo = ChartLogo

        mounted(){
        	 //console.log("%cRMS:", conStyle.boldWhite, this.info.rms)
        }
  //       splitVoltage(volt){
		// 	let volts = volt.split("/");
		// 	return { volt: volts[0], volt1: volts[1], volt2: volts[2] };
		// }
	}
	
</script>