<style scoped>

.activity-timeline {
	/*margin-top: 50px;*/
}

.activity-timeline ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.activity-timeline ul li {
	display: flex;
	position: relative;
}

.activity-timeline ul li .datetime {
	display: inline-block;
	width: 80px;
	padding-top: 3px;
}
.activity-timeline ul li .datetime span {
	display: block;
	font-size: 13px;
	color: #7b7b7b;
}

.activity-timeline ul li .line-dotted {
	display: inline-flex;
	width: 20px;
	justify-content: center;
}
.activity-timeline ul li .line-dotted .line-time {
	width: 2px;
	background: #cfcfcf;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
}

.activity-timeline ul li .line-dotted .circle-time {
	width: 8px;
	height: 8px;
	background: #047bf8;
	border-radius: 50%;
	position: relative;
	top: 14px;
	z-index: 1;
}

.activity-timeline ul li .line-dotted .circle-border {
	width: 16px;
	height: 16px;
	border: 1px solid #047bf8;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	background: #fff;
}

.activity-timeline ul li .timeline-details {
	display: inline-block;
	width: 100%;
	margin-left: 10px;
	border: 2px solid #eee;
	border-radius: 3px;
	padding: 5px 0;
	margin-bottom: 15px;
}

.activity-timeline ul li .timeline-details .icon-time-status {
/*   width: 35px;
display: inline-block; */
}

.activity-timeline ul li .timeline-details .content-time {
	display: inline-block;
}

.activity-timeline ul li .timeline-details .content-time h5 {
	font-size: 17px;
	margin-bottom: 5px;
}
.activity-timeline ul li .timeline-details .content-time p {
	margin-bottom: 3px;
}

.activity-timeline ul li .timeline-details .box-time {
}

.transponder-off .timeline-details {
	background:#3a3a3a;
	border :2px solid #000 !important;
}


.transponder-off .timeline-details .content-time h5 {
	color:#fff;
}
.transponder-off .timeline-details .content-time p {
	color:#fff;
}

.transponder-off .line-dotted .circle-time{
	background: #3a3a3a !important;
}

.transponder-off .line-dotted .circle-border{
	border-color:#3a3a3a !important;;
}

.caution-timeline .timeline-details {
	background:#F9A537;
	border :2px solid #F6971B !important;
}


.caution-timeline .timeline-details .content-time h5 {
	color:#fff;
}
.caution-timeline .timeline-details .content-time p {
	color:#fff;
}

.caution-timeline .line-dotted .circle-time{
	background: #F9A537 !important;
}

.caution-timeline .line-dotted .circle-border{
	border-color:#F9A537 !important;;
}

.warning-timeline .timeline-details {
	background:#F87A38;
	border :2px solid #F87A38 !important;
}


.warning-timeline .timeline-details .content-time h5 {
	color:#fff;
}
.warning-timeline .timeline-details .content-time p {
	color:#fff;
}
.warning-timeline .line-dotted .circle-time{
	background: #F87A38 !important;
}

.warning-timeline .line-dotted .circle-border{
	border-color:#F87A38 !important;;
}

.danger-timeline .timeline-details {
	background:#F84949;
	border :2px solid #F84949 !important;
}
.danger-timeline .timeline-details .content-time h5 {
	color:#fff;
}
.danger-timeline .timeline-details .content-time p {
	color:#fff;
}
.danger-timeline .line-dotted .circle-time{
	background: #F84949 !important;
}
.danger-timeline .line-dotted .circle-border{
	border-color:#F84949 !important;;
}
</style>
<template>	

	<div class="activity-timeline">
		<ul class="timeline-ul">
			<li>
				<div class="datetime">
					<span>1.1.2020</span>
					<span>20:03</span>
				</div>
				<div class="line-dotted">
					<div class="line-time"></div>
					<div class="circle-time"></div>
					<div class="circle-border"></div>
				</div>
				<div class="timeline-details">
					<div class="icon-time-status"></div>
					<div class="content-time">
					<h5>EEZ Visit </h5>
					<p>Singapore, an hour</p>
					</div>
				</div>
			</li>
			<li>
				<div class="datetime">
					<span>1.1.2020</span>
					<span>20:03</span>
				</div>
				<div class="line-dotted">
					<div class="line-time"></div>
					<div class="circle-time"></div>
					<div class="circle-border"></div>
				</div>
				<div class="timeline-details">
					<div class="icon-time-status"></div>
					<div class="content-time">
						<h5>Destination, ETA change </h5>
						<p>SUNGAI UDANG -- BINTULU
						09.09.19 17:00</p>
					</div>
				</div>
			</li>
			<li class="transponder-off">
				<div class="datetime">
					<span>1.1.2020</span>
					<span>20:03</span>
				</div>
				<div class="line-dotted">
					<div class="line-time"></div>
					<div class="circle-time"></div>
					<div class="circle-border"></div>
				</div>
				<div class="timeline-details">
					<div class="icon-time-status"></div>
					<div class="content-time">
						<h5>Transponder Off </h5>
						<p>No data receive</p>
					</div>
				</div>
			</li>
			<li class="caution-timeline">
				<div class="datetime">
					<span>1.1.2020</span>
					<span>20:03</span>
				</div>
				<div class="line-dotted">
					<div class="line-time"></div>
					<div class="circle-time"></div>
					<div class="circle-border"></div>
				</div>
				<div class="timeline-details">
					<div class="icon-time-status"></div>
					<div class="content-time">
						<h5>Transponder Off </h5>
						<p>No data receive</p>
					</div>
				</div>
			</li>
			<li class="warning-timeline">
				<div class="datetime">
					<span>1.1.2020</span>
					<span>20:03</span>
				</div>
				<div class="line-dotted">
					<div class="line-time"></div>
					<div class="circle-time"></div>
					<div class="circle-border"></div>
				</div>
				<div class="timeline-details">
					<div class="icon-time-status"></div>
					<div class="content-time">
						<h5>Transponder Off </h5>
						<p>No data receive</p>
					</div>
				</div>
			</li>
			<li class="danger-timeline">
				<div class="datetime">
					<span>1.1.2020</span>
					<span>20:03</span>
				</div>
				<div class="line-dotted">
					<div class="line-time"></div>
					<div class="circle-time"></div>
					<div class="circle-border"></div>
				</div>
				<div class="timeline-details">
					<div class="icon-time-status"></div>
					<div class="content-time">
						<h5>Transponder Off </h5>
						<p>No data receive</p>
					</div>
				</div>
			</li>
			<li>
				<div class="datetime">
					<span>1.1.2020</span>
					<span>20:03</span>
				</div>
				<div class="line-dotted">
					<div class="line-time"></div>
					<div class="circle-time"></div>
					<div class="circle-border"></div>
				</div>
				<div class="timeline-details">
					<div class="icon-time-status"></div>
					<div class="content-time">
						<h5>EEZ Visit </h5>
						<p>Singapore, an hour</p>
					</div>
				</div>
			</li>
		</ul>
	</div>


</template>

<script>
	import Vue from 'vue'	
	import { Component, Prop, Watch } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component' 	
	import { namespace, Getter, Mutation, Action } from 'vuex-class'

	import VesselDetailsMixin from './VesselDetailsMixin' 

	@Component
	export default class TimelineDetail extends mixins(VesselDetailsMixin) {
        @Prop() info        
	}
	
</script>