<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>

	.control-fileupload {
	    display: block;
	    border: 1px solid #d6d7d6;
	    background: #FFF;
	    border-radius: 4px;
	    width: 100%;
	    height: 36px;
	    line-height: 36px;
	    padding: 0px 10px 2px 10px;
	    overflow: hidden;
	    position: relative;
	    margin-bottom: 5px;
	}

	.control-fileupload:before {
	    padding: 4px 12px;
	    margin-bottom: 0;
	    font-size: 14px;
	    color: #333333;
	    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	    vertical-align: middle;
	    cursor: pointer;
	    background-color: #f5f5f5;
	    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	    background-repeat: repeat-x;
	    border: 1px solid #cccccc;
	    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	    border-bottom-color: #b3b3b3;
	    border-radius: 4px;
	    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	    transition: color 0.2s ease;
	    content: 'Browse';
	    display: block;
	    position: absolute;
	    z-index: 1;
	    top: 2px;
	    right: 2px;
	    line-height: 20px;
	    text-align: center;
	}	

	.control-fileupload label {
	    line-height: 24px;
	    color: #999999;
	    font-size: 14px;
	    font-weight: normal;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    position: relative;
	    z-index: 1;
	    margin-right: 90px;
	    margin-bottom: 0px;
	    cursor: text;
	    top: 5px;
	}

	.control-fileupload:before, .control-fileupload input, .control-fileupload label {
	    cursor: pointer !important;
	}

	input[type=file] {
	    display: block !important;
	    right: 1px;
	    top: 1px;
	    height: 34px;
	    opacity: 0;
	    width: 100%;
	    background: none;
	    position: absolute;
	    overflow: hidden;
	    z-index: 2;
	}

	.no-image {
	    width: 100%;        
	    min-height: 200px;
	    min-width: 250px;
		background-color: #f0f0f0;
		background-image: url('../../../../images/placeholders/emptym.jpg');
		background-size: contain; 
		background-repeat:no-repeat;
		border: 1px solid slategray;
	}

	/deep/ .no-image img {
		display: none;
	}

	.upload-btn {
		margin-top: 5px;
	}

	.toggle-crop {
		margin-top: 5px;
	}

</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<div>
		
		<span class="control-fileupload">
			<label for="file">Choose a file :</label>
			<input 
				type="file" 				
				name="image"
				id="inputGroupFile01"
				aria-describedby="inputGroupFileAddon01" 
				@change="setImage" 
				accept="image/*" 
				capture="camera"
				:background="false"
			>
		</span>

		<div :class="{'no-image':!imgSrc}">
			<vue-cropper
				ref='cropper'
				:guides="true"
				:view-mode="2"
				drag-mode="crop"
				:auto-crop="false"								
				:min-container-width="250"
				:min-container-height="180"
				:background="false"											
				:src="imgSrc"
				:cropend="cropEnd"

			>
	      	</vue-cropper>
	      	<!-- :auto-crop-area="1" -->
	      	<!-- :aspect-ratio="1" -->	      
	    </div>

	    <button class="btn btn-default toggle-crop" :disabled="!formData_crop" @click.prevent="closeCrop">
	    	Toggle Crop
	    </button>

	    <button class="btn btn-primary btn-block upload-btn" :disabled="uploading" @click.prevent="upload">{{ uploading ? 'Uploading..' : 'Upload' }}</button>

		<!-- <img v-if="info.imageUrl" class="img-responsive" :src="info.imageUrl" alt="">  			            
		<div v-else-if="!info.imageUrl" class="no-image"></div> -->		

		<!-- <div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
			</div>
			<div class="custom-file">
				<input 
					type="file" 
					class="custom-file-input form-control"
					name="image"
					:class="{'active':imgSrc}" 
					id="inputGroupFile01"
					aria-describedby="inputGroupFileAddon01" 
					@change="setImage" 
					accept="image/*" 
					capture="camera"						
					:background="false"						
				>
				<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
				
			</div>				
		</div> -->
		
	</div>
</template>


<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	
	import Vue from 'vue'	
	import { Component, Prop, Emit } from 'vue-property-decorator' 
	import { namespace, Getter, Mutation, Action } from 'vuex-class'	

	import VueCropper from 'vue-cropperjs';
	import 'cropperjs/dist/cropper.css';

	const CreateImageModule = namespace('vesselDetails/images/createImage')

	@Component({
		components:{
			VueCropper
		}
	})
	export default class VesselDetailUploadImage extends Vue{
		@Prop() info // can be mmsi / imo	
		@Prop() vesselClass

		@CreateImageModule.Getter formData
		@CreateImageModule.Getter formDatas

		@CreateImageModule.Mutation addNewImageFormData
		@CreateImageModule.Mutation setImgSrc
		@CreateImageModule.Mutation setCropImg
		@CreateImageModule.Mutation removeFormData
		@CreateImageModule.Mutation toggleCrop		

		@CreateImageModule.Action uploadImage

		uploading = false		

/*
created
 */
		created(){			
			this.target = this.vesselClass == 'Wrem' ? 'Wrem' : 'Target'			
		}	

/*
setImage
 */
		setImage(e) {
	    	const file = e.target.files[0];
	    	if (!file.type.includes('image/')) {
	    		alert('Please select an image file');
	    		return;
	    	}
	    	if (typeof FileReader === 'function') {
	    		const reader = new FileReader();
	    		reader.onload = (event) => {	    			
	    			this.setImgSrc({id:this.info.base.vesselId, imgSrc:event.target.result})
					// rebuild cropperjs with the updated source
					this.$refs.cropper.replace(event.target.result);

					setTimeout((param)=>{
						this.cropImage()	
					}, 300)				
				};
			
				reader.readAsDataURL(file);			
			} 
			else {
				alert('Sorry, FileReader API not supported');
			}   	
		}

/*
cropImage
 */
		async cropImage() {
			// get image data for post processing, e.g. upload or setting image src
			
			try{

				const {width, height} = this.$refs.cropper.getImageData()
				const option = this.$refs.cropper.getCropBoxData()
				
				option.top = option.top / height * 100
				option.left = option.left / width * 100
				option.width = option.width / width * 100
				option.height = option.height / height * 100

				this.setCropImg({
					id:this.info.base.vesselId, 
					cropImg: {
						src: this.$refs.cropper.getCroppedCanvas().toDataURL(),
						option
					}
				})				
				
			}
			catch(error){
				console.error(error)
			}
		}

		cropEnd(){
			this.cropImage()
			this.toggleCrop({id:this.info.base.vesselId, condition:true})			
		}

		closeCrop(){
			this.toggleCrop({id:this.info.base.vesselId, condition:false})
			this.$refs.cropper.clear()
		}

		async upload(){						

			try{
				this.uploading = true
			 	await this.uploadImage({id:this.info.base.vesselId, target:this.target})
			 	
			 	// give some time to allow for image to be properly transferred
			 	setTimeout(()=>{
			 		this.$emit('uploaded')
			 		this.uploading = false		
			 	}, 3000)
			 	
			}
			catch(error){
				this.uploading = false
				console.log(error.message)
			} 

		}		

		beforeDestroy(){
			this.removeFormData(this.info.base.vesselId)
		}

/*
getters and setters
 */		

 	get imgSrc(){return this.formData(this.info.base.vesselId).imgSrc}
 	get cropImg(){return this.formData(this.info.base.vesselId).cropImg.src}
 	get formData_crop(){return this.formData(this.info.base.vesselId).crop} 	

}
</script>