<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../styles/containers/main-section.scss"></style>
<style scoped>

	.routeEta{
	    margin-top: 10px;
	    margin-left: 0px;
	}

</style>
<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>	
	<main-wrapper :scroller="true">
	<template slot="scroll-content">
		
		<form>

			<div class="row">				

				<!-- Top -->
				<div class="col-sm-12">

					<h1 class="title">ETA - {{ vesselInfo.vesselName }}<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1>
					<div class="row">
						<div class="col-sm-1 routeEta" >
							<div class="form-group">
								<label for="RouteEta">Route:</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<!-- onChange not working properly -->
								<select2 
									v-if="routeOptions.length"
									:value="routeOptions[0].id"									
                                    @input="getVesselEta($event)"                                    
                                    :options="routeOptions"
                                    >
				                </select2>
							</div>
						</div>

						<div class="col-sm-2" style="margin-top: 10px;">
								<toggle-button @change="setTime" v-model="isEnable" color="#116fff" />&nbsp &nbsp	
								<label for="RefreshRate">Refresh Every</label>								
						</div>
						<div class="col-sm-1">
							<input type="number" class="form-control" id="refreshRate" placeholder="" required 
							:value="formData.refreshRate"
							@input="setFormData({key:'refreshRate', value:$event.target.value})"
							/>
						</div>
						<div class="col-sm-1" style="margin-top: 10px;">
								<label>Min</label>								
						</div>
						<!-- <button @click.prevent="setTime" class="btn btn-primary">Set</button> -->
					</div>

					<hr>
					<local-data-table
		                :fields="tableFields"
		                :sortField="sortFieldByType"
		                :data="tableData"
		                :borderedTable="true"
		                :pointerCell="true"
		                @search="search"
		                @updateField="updateField"
		                :actions="[]"
		            >                    
		            </local-data-table>
				</div>
				
			</div>
		</form>

	</template>
</main-wrapper>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	import Vue from 'vue'	
	import { Component, Prop, Watch, Emit } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component' 	
	import { Bind, Debounce } from 'lodash-decorators'
	import { namespace, Getter, Mutation, Action } from 'vuex-class'

	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)

	const VesselEtaModule = namespace('customRoute/eta')
	const VesselDetailsModule = namespace('vesselDetails')

/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'select2': ()=> import('../../common/libs/Select2'),
			'local-data-table' : ()=>import('../../common/libs/vuetable/LocalTable')
		}
	})
	export default class VesselEta extends Vue {

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/
		@Prop() vesselId
		
		@VesselDetailsModule.Getter infos
		@VesselEtaModule.Getter formData
		@VesselEtaModule.Getter routeOptions
		@VesselEtaModule.Getter vesselEta
		@VesselEtaModule.Getter vesselField
		@VesselEtaModule.Getter vesselInfo
		// @VesselEtaModule.Getter selectedRoute

		@VesselEtaModule.Mutation setFormData
		@VesselEtaModule.Mutation toggleVesselEta
		@VesselEtaModule.Mutation clearVesselEta
		@VesselEtaModule.Mutation clearFormData
		@VesselEtaModule.Mutation setVesselField
		@VesselEtaModule.Mutation setVesselInfo

		@VesselEtaModule.Action loadRouteOptions
		@VesselEtaModule.Action loadVesselEta

		dataReady = false
		refreshInterval = null	
		selectedRoute = ''
		tTableData = []
		tableData = []

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/
		newWaypoints = []

		/*
		mounted
		 */
		mounted(){
			this.loadRouteOptions()
			.then((result)=>{				
				this.selectedRoute = this.routeOptions[0].id
				this.loadVesselEta(this.selectedRoute)
				.then((result)=>{	
				console.log("%cVesel Eta:", conStyle.boldRed, this.vesselEta)			
					this.dataReady = true
					this.updateTableData()
				})
			})	

			console.log("%cVesselInfo:", conStyle.boldRed, this.vesselInfo)
		}
		/*
		created
		 */
		created(){
			this.setVesselInfo(_.find(this.infos, {id:this.vesselId}).base)			
		}					

		/*
		closeWidget
		 */
		closeWidget(widget){			
			this.$router.push({name:'mainmap'})
		}		

		/*
    	getter
    	 */
		get refreshRate(){return this.formData.refreshRate}
		set refreshRate(value){this.setFormData({key:'refreshRate', value})}

		/*
    	setter
    	 */
		get isEnable(){ return this.formData.isEnable }
		set isEnable(value){ this.setFormData({key:'isEnable', value}) }

    	get tableFields(){			
			return this.vesselField
		}

		get sortFieldByType(){
			const sortFields = [
				{
					direction: "asc",
	                field: "order",
	                sortField: "order"
				}
			]
			return sortFields
		}

		filterOnSearchData(){			
			if(this.formData.searchTerm){				
				this.tTableData = this.tTableData.filter((td)=>{					
					const values = Object.values(td)
					const re = new RegExp(this.formData.searchTerm, 'i');												
					let found = false

					for(const v of values){
						if(String(v).match(re)){
							found = true
							break;
						}
					}

					return found
				})	
			}			
			
			return this
		}


		getTableData(){

			return this.tTableData
		}

		updateTableData(){	
			this.tTableData = _.cloneDeep(this.vesselEta)

			_.each(this.tTableData, (r)=>{
				r.distance = (r.distance).toFixed(2) + "NM";
				r.eta = this.formatTime(r.eta) + this.formatAging(r.aging)
			})

			this.tableData = this.filterOnSearchData().getTableData()
		}

		/*
		search
		 */
		search(searchTerm){
			this.setFormData({key:'searchTerm', value:searchTerm})
			this.updateTableData()			
		}

		/*
		updateField
		 */
		@Bind()
		@Debounce(300)
		updateField(field){
			this.setVesselField(field)	
		}

		getVesselEta(id) {

			this.selectedRoute = id
    		
	    	this.loadVesselEta(id)
			.then((result)=>{				
				// this.dataReady = true
				this.updateTableData()
			})
			.catch((error)=>{
				console.error(error)
			})
    	}

		/*
		setTime
		 */
		setTime(){								

			if (this.formData.refreshRate != '' && this.formData.isEnable) {
				
				if(this.refreshInterval){clearInterval(this.refreshInterval)}

				this.refreshInterval = setInterval((param)=>{					
					this.getVesselEta(this.selectedRoute)
				}, this.formData.refreshRate * 60 * 1000)				
			
			}
			else{
				clearInterval(this.refreshInterval)
			}
		}

/*
    	formatTime
    	 */
    	formatTime(time){
    		if(time == null){
    			return ""
    		}
    		else{
    			return moment(time).format('DD/MM/YY HH:mm')
    		}
            
        }

        /*
    	formatAging
    	 */
        formatAging(time){
        	if(time == null){
    			return ""
    		}
    		else{
    			return " (" + time + ")"
	        }
        }  
		
    	/*
    	beforeDestroy
    	 */
        beforeDestroy(){
        	this.toggleVesselEta(false)
			this.clearVesselEta()
			this.clearFormData()
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'Vessel.Main.Eta')
        }
    }
	
</script>