<style scoped>

	.mini-panel {
		margin-right: 10px;
		border-radius: 4px;
		-webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.21);
		-moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.21);
		box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.21);
	}

	.panel-header{ 
		background-color: #047bf8;
	    width: 50px;
	    height: 23px;
	    color: white;
	    border-top-left-radius: 4px;
	    border-top-right-radius: 4px;
	    padding: 3px;
	    display: flex;
	    justify-content: center;
	}

	.panel-header .panel-control {
		margin-left: 5px;
    	flex-grow: 1;
	}

	.panel-body {
		padding: 0;
		background-color: #373c4a;
		width: 50px;
    	min-height: 300px;
    	color: white;
    	border-bottom-left-radius: 4px;
    	border-bottom-right-radius: 4px;		
	}	

	/*.flag-icon {
	    background-size: contain;
	    background-position: left top;
	    background-repeat: no-repeat;
	    position: relative;
	    display: inline-block;
	    width: 100%;
	    line-height: 1.5;
	}*/

	.flag-icon {
		width: 100%;
	    height: 25px;
	    margin-top: 10px;
	    margin-bottom: 10px
	}

	.rotate-text{
		transform: rotate(90deg);
	    padding-left: 19px;
	    text-align: center;
	}

	.rotate-text p{
		width: max-content;
	    font-weight: 600;
	    letter-spacing: 1.2px;
	}

</style>

<template>	

	<div class="mini-panel">

		<div class="panel-header">
			<font-awesome-icon :icon="['fa', 'chevron-left']" size="lg" class="panel-control pull-right cursor-pointer" @click="maximize"/>
        	<font-awesome-icon :icon="['fa', 'times']" size="lg" class="panel-control pull-right cursor-pointer" @click="removeDetail"/>
		</div>

		<div class="panel-body">

			<!-- flag -->
			
			<div v-if="vesselClass == 'Sar'"><span class="flag-icon flag-icon-my"></span> <br> </div>
			<div v-else-if="formatFlag(info.base.mmsi) == 'undefined'"><span class="flag-icon"><img width="22px" src="~/mdm-flag-icon-css/flags/4x3/undefined.svg"></span><br><b> - - </b></div>
			<!-- <div v-else><span :class="'flag-icon flag-icon-' + formatFlag(info.base.mmsi)"></span><br><b>{{formatFlag(info.base.mmsi)}}</b></div>	 -->
			<div v-else><span :class="'flag-icon flag-icon-' + formatFlag(info.base.mmsi)"></span></div>	
			
			<!-- name -->
			<div class="rotate-text">
				<p>{{ info.base.vesselName }}</p>
			</div>
			

		</div>


	</div>

		
</template>

<script>
	/**
	 * Script start
	 */
	import Vue from 'vue'	
	import { Component, Prop } from 'vue-property-decorator' 	
	import { namespace, Getter, Mutation, Action } from 'vuex-class'

	import vesselInfoHelper from '../../../helpers/vesselinfo' 	
	
	// flags icon
	import 'mdm-flag-icon-css/css/flag-icon.min.css' 		

	const MapModule = namespace('map')
	const VesselDetailsModule = namespace('vesselDetails')		

	/**
	 * Class Start
	 */
	@Component
	export default class VesselDetailMinimized extends Vue{
		
		@Prop() info

		@VesselDetailsModule.Getter infos

		@MapModule.Mutation removeSelectedVesselId
		@VesselDetailsModule.Mutation removeVesselInfo
		@VesselDetailsModule.Mutation('toggleVesselDetails') toggleVesselDetailsPane
		@VesselDetailsModule.Mutation toggleMinimize

		formatFlag = vesselInfoHelper.formatFlag

		created(){			
			Event.listen('Map.ActivateWidget', (Widget)=>{								
				if(Widget !== 'Vessel.Right.Detail'){this.closeWidget()}
			})
			Event.listen('Map.ClearWidget', ()=>{				
				this.closeWidget()
			})            
		}			

		/*
    	removeDetail
    	 */
    	removeDetail(){
    		this.removeVesselInfo(this.info.id) 
    		this.removeSelectedVesselId(this.info.id)
    		if(!this.infos.length){this.closeWidget()}
    		Event.fire('Map.Events.Drawing.Do', 'Vessel.unselected')
    	}


		/*
        closeWidget
         */
    	closeWidget(widget){    		
    		this.toggleVesselDetailsPane(false) 
    		Event.fire('Map.DeactivateWidget', 'Vessel.Right.Detail')   		
    	}

    	/*
    	maximize
    	 */
    	maximize(){
    		this.toggleMinimize(this.info.id)

    	}

    	/*
    	Getters and setters
    	 */
    	get vesselClass(){			
			return this.info && vesselInfoHelper.getVesselClass(this.info.base)
		}	

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){ 
        	// Event.remove(['Map.ActivateWidget', 'Map.ClearWidget'])            
        }		
	}

</script>