<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>		

	.panel {
		border-radius: 6px;
		margin-bottom: 0;
		-webkit-box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
   		box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
   		border: 0;   		
   		max-width: 400px;  
   		min-width: 380px;  
   		margin-right: 15px; 		
	}

	.panel.analytic{
		max-width: 17.7vw;  
   		min-width: 17.7vw;  
	}

	.panel-heading {
		border-top-left-radius: 6px;
    	border-top-right-radius: 6px;    	
	}

	.panel-heading p{
		margin-bottom: 0;
	}

	.panel-body {
	    /*padding: 15px 20px;
	    padding-right: 0;
	    padding-left: 5px;*/
	    padding: 15px 0 15px 5px;

	}

	.panel-body .inside{	    
	    height : calc(100vh - 150px);
	}


	.nav.nav-tabs{
		margin-bottom: 10px;
	}	

	.just {
      display: flex;
      flex-flow: row nowrap;
    }
    
    .just > li {
      flex: 1 auto;
      text-align: center;
      white-space: nowrap;
    }

	.panel-heading{
		background-color: #373c4a;
    	border-color: #373c4a;
	}

	.panel-heading .panel-control{
		margin-right: 5px;
	}	

	@media (max-width: 768px) {
		.panel {
		    max-width: unset;
		    min-width: unset;
		    margin-right: 10px;
		    width: 300px;
		    margin-top: 10px;
		}
	}
    
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>			

        <div 
        	class="panel panel-primary" 
        	:class="{'analytic': activeModule == 'analytic'}"
        	data-component="VesselDetail"
        >

        	<div class="panel-heading">
        		<p>Information Panel 
        			<font-awesome-icon :icon="['fa', 'times']" size="lg" class="panel-control pull-right cursor-pointer" @click="removeDetail"/>
        			<font-awesome-icon :icon="['fa', 'chevron-down']" size="lg" class="panel-control pull-right cursor-pointer" @click="minimize"/>
        		</p>
        	</div>	        	
            
            <div class="panel-body">
            	
            	<!-- <ul class="nav nav-tabs just">                        	                      

            		<li class="active"><a data-toggle="tab" href="#tab-4"><font-awesome-icon :icon="['fa', 'info']" size="lg" /></a></li> 

            		<li><a data-toggle="tab" href="#tab-3"> <font-awesome-icon :icon="['fa', 'history']" size="lg" /></a></li>           

            		<li class=""><a data-toggle="tab" href="#tab-5"><font-awesome-icon :icon="['fa', 'calendar']" size="lg" /></a></li> 
            		           
                </ul> -->

                <div class="inside">                	

                	<div v-bar="{
					    preventParentScroll: true					    					    
					}">
						<div>
							<master-detail-template								
								:info="info"
								:vessel-class="vesselClass"								
								@playback="openPlaybackForm"
							></master-detail-template>	
						</div>

                	</div>
                </div> 
				          	                                                   

            </div> <!-- panel-body -->

        </div> <!-- panel-primary -->		

</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	/**
	 * Script start
	 */
	import Vue from 'vue'	
	import { Component, Prop, Watch } from 'vue-property-decorator' 	
	import { namespace, Getter, Mutation, Action } from 'vuex-class'	
	import async from 'async'

	import vesselInfoHelper from '../../../helpers/vesselinfo'
	
	// flags icon
	import 'mdm-flag-icon-css/css/flag-icon.min.css' 	

	const VesselDetailsModule = namespace('vesselDetails')
	const MapModule = namespace('map')
	const AppScreenSizeModule = namespace('app/screensize')
	const PlaybackModule = namespace('playback')
	const CreateImageModule = namespace('vesselDetails/images/createImage')
	const AppModule = namespace('app/modules')

	/**
	 * Class Start
	 */
	@Component({
		components:{
			'master-detail-template': () => import('./layouts/MasterDetail'),
			'right-wrapper': () => import('../../common/WidgetContainers/map/RightWrapper')
		}
	})
	export default class VesselDetail extends Vue{
		
		@Prop() info

		@VesselDetailsModule.Getter infos
		@AppModule.Getter activeModule		
								
		@MapModule.Mutation removeSelectedVesselId
		@PlaybackModule.Mutation togglePlaybackEnabled	
		@VesselDetailsModule.Mutation('toggleVesselDetails') toggleVesselDetailsPane
		@VesselDetailsModule.Mutation removeVesselInfo
		@VesselDetailsModule.Mutation toggleMinimize

		@CreateImageModule.Mutation addNewImageFormData			

		created(){			
			Event.listen('Map.ActivateWidget', (Widget)=>{								
				if(Widget !== 'Vessel.Right.Detail'){this.closeWidget()}
			})

			Event.listen('Map.ClearWidget', ()=>{				
				this.closeWidget()
			})			

			this.addNewImageFormData(this.info.id)
		}								

		get vesselClass(){			
			return this.info && vesselInfoHelper.getVesselClass(this.info.base)
		}		

		/*
        closeWidget
         */
    	closeWidget(widget){    		    		
    		Event.fire('Map.DeactivateWidget', 'Vessel.Right.Detail')    		
    		this.toggleVesselDetailsPane(false)    		
    	}

    	/*
    	removeDetail
    	 */
    	removeDetail(){
    		this.removeVesselInfo(this.info.id) 
    		this.removeSelectedVesselId(this.info.id)    		
    		if(!this.infos.length){this.closeWidget()}
    		Event.fire('Map.Events.Drawing.Do', 'Vessel.unselected')
    	}	

    	/*
    	minimize
    	 */
    	minimize(){
    		this.toggleMinimize(this.info.id)    		    	
    	}

    	/*
    	openPlaybackForm
    	 */
		openPlaybackForm(){
			this.closeWidget()
			// will be used to check playback enabled in 
			// ComponentControlMixin::ComponentControlMixin_mapComponent()
			// to decide which component to be rendered in MainMap single rendered component
			this.togglePlaybackEnabled(true)
		}		

	}

</script>