<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>

	.widget-wrapper.lg.override{  
		top: 10;
		right: 0;
		left: unset; 		
		width: auto;		
		background-color: transparent;
		height: auto;	
		z-index: 805;	
	}

	.widget-wrapper.sm.override {
		width: auto;
    	right: 0;
	}
	
	.panels-container{
		display: flex;
		justify-content: flex-end;
		max-width: calc(100vw - 150px);		
	}	

	@media (max-width: 768px){
	    .widget-wrapper{
	        background-color: transparent !important;
	    }

	    .panels-container{
	    	max-width: 100vw;
	    }
	}

</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<right-wrapper :scroller="false" :override="true" data-component="VesselDetails">
		<template slot="content">

			<div class="panels-container">
				<div 
					v-for="info in infos"
					:key="info.id"					
				>
					<vessel-detail
						v-if="infos.length && !info.minimized" 					
						:info="info"
					></vessel-detail>										

					<vessel-detail-minimized 
						v-else="infos.length && info.minimized"	
						:info="info"					
					></vessel-detail-minimized>
				</div>
				


			</div>

		</template>
	</right-wrapper>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	/**
	 * Script start
	 */
	import Vue from 'vue'	
	import { Component, Prop } from 'vue-property-decorator' 	
	import { namespace, Getter, Mutation, Action } from 'vuex-class'

	const MapModule = namespace('map')
	const VesselDetailsModule = namespace('vesselDetails')			

	/**
	 * Class Start
	 */
	@Component({
		components:{			
			'right-wrapper': () => import('../../common/WidgetContainers/map/RightWrapper'),
			'vessel-detail': () => import('./VesselDetail'),
			'vessel-detail-minimized': () => import('./VesselDetailMinimized')			
		}
	})
	export default class VesselDetails extends Vue{

		@MapModule.Getter selectedVesselIds	
		@VesselDetailsModule.Getter infos

		@VesselDetailsModule.Mutation('toggleVesselDetails') toggleVesselDetailsPane
		@VesselDetailsModule.Mutation resetInfos

		created(){
			Event.listen('App.Modules.Change', (module)=>{				
				this.resetInfos()
				this.closeWidget()

			})
		}

		/*
        closeWidget
         */
    	closeWidget(widget){  
    		// Will be listened in ComponentControlMixin::ComponentControlMixin_mapComponent()
    		// single-component render	
    		this.toggleVesselDetailsPane(false)    		
    	}

	}
</script>