<main-wrapper :scroller="true">
    
    <template slot="header">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title clearfix">
                        Historical Data
                        
                        <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

                        <font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
                </h1>
            </div>  
        </div>      
    </template>

    <template slot="scroll-content">
        <div>
            <!-- <h1 class="title" style="color:#116fff; font-weight: 500;">Historical Data<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1> -->
                    
            <form>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="startDate">Starting Date</label>
                            <input class="form-control" type="datetime-local" v-model="startDate">
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="endDate">Ending Date</label>
                            <input class="form-control" type="datetime-local" v-model="endDate">                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label style="display: block; margin-top: 0px;" for="timeSpan">Time Span</label>
                            <select2
                            :fullWidth="false"
                            :width="200"
                            :options="timeSpanOptions"
                            :value="formData.timeSpan"
                            @input="setFormData({key:'timeSpan', value:$event})"
                            ></select2>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <button @click.prevent="viewChart" class="btn btn-primary">View Chart</button>&nbsp
                        <button @click.prevent="viewTable" class="btn btn-primary">View Table</button>
                    </div>
                    
                </div>
                <hr>

                <div v-if="chartReady && chartData.length > 0">
                    <line-chart 
                    :data="this.batteryData()"
                    :name="'Battery (V)'"
                    :title="this.title +' (Internal Battery)'" 
                    :yTitle="'Internal Battery (V)'"
                    v-if="this.batteryData().length">
                    </line-chart>
                    <br>
                    <draughtData-chart
                    :data="this.actualData()"
                    :data2="this.emptyData()"
                    :data3="this.halfData()"
                    :data4="this.fullData()"
                    :title="this.title +' (Air Draught)'"
                    :yTitle="'Air Draught (m)'"
                    >
                    </draughtData-chart>
                    <line-chart 
                    :data="this.speedData()"
                    :name="'Speed (kn)'"
                    :title="this.title +' (Speed)'" 
                    :yTitle="'Speed (kn)'"
                    v-if="this.speedData().length">
                    </line-chart>
                    <line-chart 
                    :data="this.supplyData()"
                    :name="'Power Source'"
                    :title="this.title +' (Power Source)'" 
                    :yTitle="'Power Source (0-Battery, 1-Main)'"
                    v-if="this.supplyData().length">
                    </line-chart>
                    <br>
                </div>

                <div v-else-if="tableReady">
                    <local-data-table
                        :fields="tableFields"
                        :sortField="sortFieldByType"
                        :data="tableData"
                        :borderedTable="true"
                        :pointerCell="true"
                        @search="search"
                        @updateField="updateField"
                        :actions="[]"
                    >                    
                    </local-data-table>
                    
                </div>
                <div v-else-if="!chartReady && !tableReady && !hverror" class="loading-box"><img width="60px" :src="LoadingSVG"><img src=""></div>

                <div v-else-if="hverror || chartData.length < 1" class="data-unready">
                    <h4>No data available. Please select another date.</h4>
                </div>
            </form>
 

        </div>

    </template>
</main-wrapper>