<main-wrapper :scroller="true">

    <template slot="header">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title clearfix">
                        Historical Data
                        
                        <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

                        <font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
                </h1>
            </div>  
        </div>      
    </template>
    
    <template slot="scroll-content">
        <div>
            <!-- <h1 class="title" style="color:#116fff; font-weight: 500;">Historical Data<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1> -->
                    
            <form>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="startDate">Starting Date</label>
                            <input class="form-control" type="datetime-local" v-model="startDate">
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="endDate">Ending Date</label>
                            <input class="form-control" type="datetime-local" v-model="endDate">                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label style="display: block; margin-top: 0px;" for="timeSpan">Time Span</label>
                            <select2
                            :fullWidth="false"
                            :width="200"
                            :options="timeSpanOptions"
                            :value="formData.timeSpan"
                            @input="setFormData({key:'timeSpan', value:$event})"
                            ></select2>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <button @click.prevent="viewChart" class="btn btn-primary">View Chart</button>&nbsp
                        <button @click.prevent="viewTable" class="btn btn-primary">View Table</button>
                    </div>
                    
                </div>
                <hr>
                <div v-if="chartReady && chartData.length > 0">
                    <line-chart
                    :data="this.analogueIntData()"
                    :name="'Analogue Internal'" 
                    :title="this.title + ' (Analogue Internal)'" 
                    :yTitle="'Analogue Internal (V)'"
                    v-if="this.analogueIntData().length && dac == 235 && fi == 10">
                    </line-chart>
                    <line-chart 
                    :data="this.analogueExt1Data()"
                    :name="'AnalogueExt1'"
                    :title="this.title + ' (Analogue External 1)'" 
                    :yTitle="'Analogue External 1 (V)'"
                    v-if="this.analogueExt1Data().length && dac == 235 && fi == 10">
                    </line-chart>
                    <line-chart 
                    :data="this.analogueExt2Data()"
                    :name="'Voltage External 2'" 
                    :title="this.title + ' (Analogue External 2)'" 
                    :yTitle="'Voltage External 2'" 
                    v-if="this.analogueExt2Data().length && dac == 235 && fi == 10">
                    </line-chart>
                    <line-chart
                    :data="this.analogueIntData()"
                    :name="'Voltage Internal'" 
                    :title="this.title + ' (Voltage Internal)'" 
                    :yTitle="'Voltage Internal (V)'"
                    v-if="this.analogueIntData().length && dac == 533 && (fi == 2 || fi == 1)">
                    </line-chart>
                    <line-chart 
                    :data="this.analogueExt1Data()"
                    :name="'AnalogueExt1'"
                    :title="this.title + ' (Voltage External 1)'" 
                    :yTitle="'Voltage External 1 (V)'"
                    v-if="this.analogueExt1Data().length && dac == 533 && (fi == 2 || fi == 1)">
                    </line-chart>
                    <line-chart 
                    :data="this.analogueExt2Data()"
                    :name="'Voltage External 2'" 
                    :title="this.title + ' (Voltage External 2)'" 
                    :yTitle="'Voltage External 2'" 
                    v-if="this.analogueExt2Data().length && dac == 533 && (fi == 2 || fi == 1)">
                    </line-chart>
                    <line-chart
                    :data="this.lightsData()"
                    :name="'Light'" 
                    :title="this.title + ' (Light Status)'" 
                    :yTitle="'Light Status (1-On/2-off/3-Err)'"
                    v-if="this.lightsData().length">
                    </line-chart>
                    <line-chart
                    :data="this.batteryData()"
                    :name="'Battery'" 
                    :title="this.title + ' (Battery Status)'" 
                    :yTitle="'Battery Status (0-Good/1-Low)'"
                    v-if="this.batteryData().length">
                    </line-chart>
                    <line-chart
                    :data="this.voltagesData()"
                    :name="'Voltage'" 
                    :title="this.title +  ' (Voltage Data)'" 
                    :yTitle="'Voltage Data (V)'"
                    v-if="this.voltagesData().length">
                    </line-chart>
                    <line-chart
                    :data="this.currentsData()"
                    :name="'Current Data (A)'" 
                    :title="this.title +  ' (Current Data)'" 
                    :yTitle="'Current Data (A)'"
                    v-if="this.currentsData().length">
                    </line-chart>
                    <line-chart
                    :data="this.beatData()"
                    :name="'Beat'" 
                    :title="this.title + ' (Beat)'" 
                    :yTitle="'Beat (0-Tick/1-Tock)'"
                    v-if="this.beatData().length">
                    </line-chart>
                    <line-chart
                    :data="this.doorData()"
                    :name="'Door'" 
                    :title="this.title + ' (Door)'" 
                    :yTitle="'Door (0-Close/1-Open)'"
                    v-if="this.doorData().length">
                    </line-chart>
                    <line-chart
                    :data="this.ambientData()"
                    :name="'Ambient'" 
                    :title="this.title + ' (Ambient)'" 
                    :yTitle="'Ambient (0-No LDR/1-Dark/2-Dim/3-Bright)'"
                    v-if="this.ambientData().length">
                    </line-chart>
                    <line-chart
                    :data="this.lanternData()"
                    :name="'Lantern'" 
                    :title="this.title + ' (Lantern)'" 
                    :yTitle="'Lantern (0-No Mon/1-Prim/2-Sec/3-Emerg)'"
                    v-if="this.lanternData().length">
                    </line-chart>
                    <line-chart
                    :data="this.lanternBatteryData()"
                    :name="'Lantern Battery'" 
                    :title="this.title + ' (Lantern Battery)'" 
                    :yTitle="'Lantern Batt (0-Unkn/1-Bad/2-Low/3-Good)'"
                    v-if="this.lanternBatteryData().length">
                    </line-chart>
                    <line-chart
                    :data="this.lightStatusData()"
                    :name="'Light'" 
                    :title="this.title + ' (Light Status)'" 
                    :yTitle="'Light Status (1-On/2-off/3-Err)'"
                    v-if="this.lightStatusData().length">
                    </line-chart>
                </div>

                <div v-else-if="tableReady">
                    <local-data-table
                        :fields="tableFields"
                        :sortField="sortFieldByType"
                        :data="tableData"
                        :borderedTable="true"
                        :pointerCell="true"
                        @search="search"
                        @updateField="updateField"
                        :actions="[]"
                    >                    
                    </local-data-table>
                </div>

                <div v-else-if="!chartReady && !tableReady && !hverror" class="loading-box"><img width="60px" :src="LoadingSVG"><img src=""></div>

                <div v-else-if="hverror || chartData.length < 1" class="data-unready">
                    <h4>No data available. Please select another date.</h4>
                </div>
            </form>
 

        </div>

    </template>
</main-wrapper>