<main-wrapper :scroller="true">

    <template slot="header">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title clearfix">                        
                        
                        Historical Data

                        <font-awesome-icon v-if="this.$route.name != 'public.weather.historical'"@click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

                        <font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
                </h1>
            </div>  
        </div>      
    </template>

    <template slot="scroll-content">
        <div>
            <!-- <h1 v-if="this.$route.name != 'public.weather.historical'" class="title" style="color:#116fff; font-weight: 500;">Historical Data<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1> -->
                    
            <form>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="startDate">Starting Date</label>
                            <input class="form-control" type="datetime-local" v-model="startDate">
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="endDate">Ending Date</label>
                            <input class="form-control" type="datetime-local" v-model="endDate">                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label style="display: block; margin-top: 0px;" for="timeSpan">Time Span</label>
                            <select2
                            :fullWidth="false"
                            :width="200"
                            :options="timeSpanOptions"
                            :value="formData.timeSpan"
                            @input="setFormData({key:'timeSpan', value:$event})"
                            ></select2>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <button @click.prevent="viewChart" class="btn btn-primary">View Chart</button>&nbsp
                        <button @click.prevent="viewTable" class="btn btn-primary">View Table</button>
                    </div>
                    
                </div>
                <hr>
                <div v-if="chartReady && !hverror">
                    <!-- air pressure -->
                    <line-chart 
                    :data="this.airPressureData()"
                    :name="'Air Pressure'"
                    :title="this.title + ' (Air Pressure)'" 
                    :yTitle="'Air Pressure (hPa)'"
                    v-if="this.airPressureData().length">
                    </line-chart>
                    <!-- air temperature -->
                    <line-chart 
                    :data="this.airTemperatureData()"
                    :name="'Air Temperature'"
                    :title="this.title + ' (Air Temperature)'" 
                    :yTitle="'Air Temperature (°C)'"
                    v-if="this.airTemperatureData().length">
                    </line-chart>
                    <!-- humidity -->
                    <line-chart 
                    :data="this.relHumidityData()"
                    :name="'Humidity'"
                    :title="this.title + ' (Humidity)'" 
                    :yTitle="'Humidity (%)'"
                    v-if="this.relHumidityData().length">
                    </line-chart>
                    <!-- visibility -->
                    <line-chart 
                    :data="this.visibilityData()"
                    :name="'Visibility'"
                    :title="this.title + ' (Visibility)'" 
                    :yTitle="'Visibility (NM)'"
                    v-if="this.visibilityData().length">
                    </line-chart>
                    <!-- water level -->
                    <line-chart 
                    :data="this.waterLevelData()"
                    :name="'Water Level'"
                    :title="this.title + ' (Water Level)'" 
                    :yTitle="'Water Level (m)'"
                    v-if="this.waterLevelData().length">
                    </line-chart>
                    <!-- water temperature -->
                    <line-chart 
                    :data="this.waterTempData()"
                    :name="'Water Temperature'"
                    :title="this.title + ' (Water Temperature)'" 
                    :yTitle="'Water Temperature (°C)'"
                    v-if="this.waterTempData().length">
                    </line-chart>
                    <!-- wave height -->
                    <line-chart 
                    :data="this.waveHeightData()"
                    :name="'Water Height'"
                    :title="this.title + ' (Wave Height)'" 
                    :yTitle="'Water Height (m)'"
                    v-if="this.waveHeightData().length">
                    </line-chart>
                    <!-- wave period -->
                    <line-chart 
                    :data="this.wavePeriodData()"
                    :name="'Water Period'"
                    :title="this.title + ' (Wave Period)'" 
                    :yTitle="'Water Period (sec)'"
                    v-if="this.wavePeriodData().length">
                    </line-chart>
                    <!-- wind gust -->
                    <line-chart
                    :data="this.windGustSpeedData()"
                    :name="'Wind Gust Speed'"
                    :title="this.title + ' (Wind Gust Speed)'"
                    :yTitle="'Wind Gust Speed (kn)'"
                    v-if="this.windGustSpeedData().length"
                    ></line-chart>
                    <windrose-chart
                    :data="this.windGustDirectionData()"
                    :name="'Wind Gust'"
                    :title="this.title + ' (Wind Gust Direction)'"
                    v-if="this.windGustDirectionData().length"
                    ></windrose-chart>
                    <!-- wind speed -->
                    <line-chart
                    :data="this.windSpeedData()"
                    :name="'Wind Speed'"
                    :title="this.title + ' (Wind Speed)'"
                    :yTitle="'Wind Speed (kn)'"
                    v-if="this.windSpeedData().length"
                    ></line-chart>
                    <windrose-chart
                    :data="this.windDirectionData()"
                    :name="'Wind Direction'"
                    :title="this.title + ' (Wind Direction)'"
                    v-if="this.windDirectionData().length"
                    ></windrose-chart>
                    <!-- surface current -->
                    <windrose-chart
                    :data="this.surfCurrentDirectionData()"
                    :name="'Surface Current Direction'"
                    :title="this.title + ' (Surface Current Direction)'"
                    v-if="this.surfCurrentDirectionData().length"
                    ></windrose-chart>
                    <line-chart
                    :data="this.surfCurrentSpeedData()"
                    :name="'Surface Current Speed'"
                    :title="this.title + ' (Surface Current Speed)'"
                    :yTitle="'Surface Current Speed (kn)'"
                    v-if="this.surfCurrentSpeedData().length"
                    ></line-chart>
                    <!-- current direction 2 -->
                    <windrose-chart
                    :data="this.currentDirection2Data()"
                    :name="'Current Direction 2'"
                    :title="this.title + ' (Current Direction 2)'"
                    v-if="this.currentDirection2Data().length"
                    ></windrose-chart>
                    <line-chart
                    :data="this.currentSpeed2Data()"
                    :name="'Current Speed 2'"
                    :title="this.title + ' (Current Speed 2)'"
                    :yTitle="'Current Speed 2 (kn)'"
                    v-if="this.currentSpeed2Data().length"
                    ></line-chart>
                    <!-- current direction 3 -->
                    <windrose-chart
                    :data="this.currentDirection3Data()"
                    :name="'Current Direction 3'"
                    :title="this.title + ' (Current Direction 3)'"
                    v-if="this.currentDirection3Data().length"
                    ></windrose-chart>
                    <line-chart
                    :data="this.currentSpeed3Data()"
                    :name="'Current Speed 3'"
                    :title="this.title + ' (Current Speed 3)'"
                    :yTitle="'Current Speed 3 (kn)'"
                    v-if="this.currentSpeed3Data().length"
                    ></line-chart>
                </div>

                <div v-else-if="tableReady">
                    <local-data-table
                        :fields="tableFields"
                        :sortField="sortFieldByType"
                        :data="tableData"
                        :borderedTable="true"
                        :pointerCell="true"
                        @search="search"
                        @updateField="updateField"
                        :actions="[]"
                    >                    
                    </local-data-table>
                </div>
                <div v-else-if="!chartReady && !tableReady && !hverror" class="loading-box"><img width="60px" :src="LoadingSVG"><img src=""></div>

                <div v-else-if="hverror" class="data-unready">
                    <h4>No data available. Please select another date.</h4>
                </div>
            </form>
 

        </div>

    </template>
</main-wrapper>