<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>	
	h4 {
		margin-top: 0;
	}

	h1.title{
	    margin: 0;
	    margin-bottom: 15px;
	    border-bottom: 1px solid #dde2ec;
	    padding-bottom: 10px;
	    font-size: 25px;
	    color:#116fff;
	    position:relative;
	    font-weight:500;
	}

	h1.title:before{
	    content:'';
	    width:50px;
	    height:2px;
	    background:#116fff;
	    position:absolute;
	    bottom:-1px;
	}

	@media (max-width: 1920px) and (min-width: 1600px){
		.widget-wrapper.lg{

			width: 85% !important; 
			left: 50px !important;
		}
	}

	/deep/ .center-aligned{
		text-align: center
	}
	
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>	

		<main-wrapper :scroller="true" data-component="AdvancedSearchResult">

			<template slot="header">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="title clearfix">
								Advanced Search Result
								
								<font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/>

								<font-awesome-icon @click.prevent="$router.back()" :icon="['fas', 'arrow-circle-left']" class="close-widget cursor-pointer pull-right"/>
						</h1>
					</div>	
				</div>		
			</template>

			<template slot="scroll-content">
						
					<!-- <h1 class="title">Advanced Search Result <font-awesome-icon @click.prevent="closeWidget()" :icon="['fas', 'times-circle']" class="close-widget cursor-pointer pull-right"/></h1 class="title">							 -->

					<local-data-table
		                :fields="tableFields"
		                :sortField="sortFieldByType"
		                :data="tableData"
		                :borderedTable="true"
		                :pointerCell="true"
		                @search="search"
		                @updateField="updateField"
		                @actionView="viewVessel"
		                :actions="['view']"
		            >                    
		            </local-data-table>
			
		</template>
	</main-wrapper>	
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { mixins } from 'vue-class-component'	
	import { Bind, Debounce } from 'lodash-decorators'
	import Vue from 'vue'	
	import L from 'leaflet'		   

	import {EmptyRequestDataError, EmptyResponseResultError, ServerError} from '../../../helpers/errors'	
	
	const VesselSearchModule = namespace('vesselsearch')	

	import async from 'async'

	// mixins
	import MapVesselMixin from '../mixins/MapVessel'

	const formatcoords = require('formatcoords');

/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	@Component({
		components: {			
			'data-table': () => import('../../common/libs/DataTable'),
			'main-wrapper': () => import('../../common/WidgetContainers/map/MainWrapper'),
			'local-data-table' : ()=>import('../../common/libs/vuetable/LocalTable')
		}		
	})
	export default class AdvancedSearchResult extends mixins(MapVesselMixin) {

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/
		@VesselSearchModule.Mutation toggleAdvancedSearchResult
		@VesselSearchModule.Mutation setFormData
		@VesselSearchModule.Mutation setField
		@VesselSearchModule.Mutation clearFormData

		@VesselSearchModule.Getter formData
		@VesselSearchModule.Getter field
		@VesselSearchModule.Getter advancedSearchResult

		@VesselSearchModule.Action advancedSearch

		searchResult = null
		refreshInterval = null
		tTableData = []
		tableData = []

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/

/*
mounted
 */
		mounted(){
			this.updateTableData()
			// if(this.advancedSearchQuery.refreshRate){
			// 	this.refreshInterval = setInterval(this.updateData, this.advancedSearchQuery.refreshRate * 1000)	
			// }
			// this.updateData()
		}

/*
formatCoords
 */
		formatCoords(lat, lgt){
			let coords = formatcoords(lat, lgt).format('DDmmX', {latLonSeparator: ' ',  decimalPlaces: 3}).split(" ");
			return { lat: coords[0], lgt: coords[1] };
		}

/*
formatTime
 */
		formatTime(time){
            return moment(time).format('DD/MM/YYYY HH:mm')
        }

        get tableFields(){	

			return this.field
		}

		get sortFieldByType(){
			const sortFields = [
				{
					direction: "asc",
	                field: "vesselName",
	                sortField: "vesselName"
				}
			]
			return sortFields
		}

		filterOnSearchData(){			
			if(this.formData.searchTerm){				
				this.tTableData = this.tTableData.filter((td)=>{					
					const values = Object.values(td)
					const re = new RegExp(this.formData.searchTerm, 'i');												
					let found = false

					for(const v of values){
						if(String(v).match(re)){
							found = true
							break;
						}
					}

					return found
				})	
			}			
			
			return this
		}


		getTableData(){

			return this.tTableData
		}

		updateTableData(){	
			this.tTableData = _.cloneDeep(this.advancedSearchResult)

			_.each(this.tTableData, (r)=>{
				if(r.sog == null){
					r.sog = ""
				}
				else if(r.cog == null){
					r.cog = ""
				}
				else{
					r.sog = r.sog + "kn"
	        		r.cog = r.cog + "°"
				}
				r.coord = this.formatCoords(r.lat,r.lgt)
				r.eta = this.formatTime(r.eta)
				
        		
			})

			this.tableData = this.filterOnSearchData().getTableData()
		}

		/*
		search
		 */
		search(searchTerm){
			this.setFormData({key:'searchTerm', value:searchTerm})
			this.updateTableData()			
		}

		/*
		updateField
		 */
		@Bind()
		@Debounce(300)
		updateField(field){
			this.setField(field)	
		}

/*
updateData
 */
		updateData(){
			async.waterfall([				
				// make a search query and filter the result if area is selected to screen
				(callback)=>{															
					this.advancedSearch().then(
						(result)=>{							
												
							if(!result.length){ callback(null, result) }

							else if(this.advancedSearchQuery.area !== 'screen'){callback(null, result) }

							else{
								let screenResult = []
								this.MapVesselMixin_handleInBoundVessel((dot, v)=>{
									if(_.some(result, {vesselId:v.vesselId})){
										screenResult.push(_.find(result, {vesselId:v.vesselId}))
									}
								})
								callback(null, screenResult)
							}							
						
						},	// end this.advancedSearch success callback
						(error)=>{	
							console.error(error)													
							callback(new ServerError(error.message, error.response, error.response.status))
						}
					) // end this.advancedSearch
				},				
				(result, callback)=>{					
					this.setAdvancedSearchResult(result)
					this.searchResult = this.postProcessResult(this.advancedSearchResult)			
					callback(null, true)
				}
			], (error)=>{
				if(error){
					console.error(error)	
				}				
				
			})
		}
/*
closeWidget
 */
		closeWidget(){
			this.$router.push({name:'mainmap'})					
		}

/*
dataTableRowClicked
 */

		dataTableRowClicked({dataItem:{vesselId, lat, lgt}, event}){

			// focus on to the vessel			
			Event.fire('Map.FocusVessel', {
				latlng: L.latLng(lat, lgt),
				vesselId
			})

			this.closeWidget()

		}

		viewVessel({data:{vesselId, lat, lgt}}){			
		
			// clear all widget as we want to focus
			this.closeWidget()
			
			// focus on to the vessel			
			Event.fire('Map.FocusVessel', {
				latlng: L.latLng(lat, lgt),
				vesselId: vesselId
			})
		}
/*
beforeDestroy
 */
		beforeDestroy(){
			clearInterval(this.refreshInterval)
			this.toggleAdvancedSearchResult(false)
			this.clearFormData()
		}

/**
 * Component destroyed lifecycle hooks
 * @return void
 */
        destroyed(){        	
            Event.fire('Map.DeactivateWidget', 'AdvancedSearchResult')
        }
		
	}

</script>

