<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>
	.advancedSearchForm {
		position: absolute;
		z-index: 1100;				
		background-color: white;						
	}

	.advancedSearchForm.row.sm {
		margin-left: auto;
		margin-right: auto;			
	}

	.advancedSearchForm.lg{
		top:0;
		left: 322px;
		width: 400px;		
		border-top-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		height: auto;	
		 -webkit-box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
        box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
        padding-top: 15px;		
        padding-left: 15px;
        /*padding-right: 5px;	*/
	}	

	.advancedSearchForm.sm {
		top: 0;
	    width: 95%;
	    min-height: fit-content;
	    padding: 15px;
	    border-radius: 5px;
	    left: 8px;
	    box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
	}

	.advancedSearchForm.lg .scrollcontent{
		padding-right: 10px;
	}
	
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<form @submit.prevent="submit" data-vv-scope="formadvancesearch" novalidate class="advancedSearchForm row" :class="{'lg':isSmAndLarger, 'sm':isXs}" >
	<div >
			<div class="" v-slimscroll="{height:'100%'}">				

				<div class="scrollcontent">

					<fieldset :disabled="searching">

					<div class="form-group">
		                <label for="areaDrop" class="control-label">Area</label>		                
						<select2
                            :options="searchOptions.areaOptions"                            
                            :searchable="false" 
                            :disabled="searching" 
                            v-model="area"
                        ></select2>

		            </div>

		            <div class="form-group">
		                <label for="timeSpan" class="control-label">Time Span</label>		                
						<select2
                            :options="searchOptions.timeSpanOptions"                            
                            :searchable="false"
                            :disabled="searching"                             
                            v-model="timeSpan"  
                        ></select2>
		            </div>

		            <!-- <div class="form-group">
		                <input type="checkbox">
		                <span>
		                    Refresh Every
		                    <input type="text" v-model="refreshRate" id="refreshRate" name="refreshRate" class="form-control">
		                    seconds
		                </span>
		            </div> -->

		            <div class="form-group">
		                <label for="targetName" class="control-label">Name</label>		                
		                <input 
						type="text" 
						class="form-control"
						:class="{'error-input':errors.has('formadvancesearch.targetName')}"  
						id="targetName"
						name="targetName" 
						v-model="targetName"
						placeholder="Name"
						v-validate="`${(targetName == '' && targetMmsi == '' && targetImo == '' && targetCallSign == '') ? 'required' : ''}`"										
						data-vv-validate-on="blur"
						data-vv-as="Name" 
						@focus="errors.remove('targetName', 'formadvancesearch')" 
					/>

		            </div>

		            <div class="form-group">
		                <label for="targetMmsi" class="control-label">MMSI</label>		                
		                <input 
						type="text" 
						class="form-control"
						:class="{'error-input':errors.has('formadvancesearch.targetMmsi')}"  
						id="targetMmsi"
						name="targetMmsi" 
						v-model="targetMmsi"
						placeholder="eg: 123456789"
						v-validate="`${(targetName == '' && targetMmsi == '' && targetImo == '' && targetCallSign == '') ? 'required' : ''}`"										
						data-vv-validate-on="blur"
						data-vv-as="MMSI" 
						@focus="errors.remove('targetMmsi', 'formadvancesearch')" 
					/>

		            </div>

		            <div class="form-group">
		                <label for="targetImo" class="control-label">IMO</label>		                
		               	<input 
						type="text" 
						class="form-control"
						:class="{'error-input':errors.has('formadvancesearch.targetImo')}"  
						id="targetImo"
						name="targetImo" 
						v-model="targetImo"
						placeholder="eg: 1234567"
						v-validate="`${(targetName == '' && targetMmsi == '' && targetImo == '' && targetCallSign == '') ? 'required' : ''}`"										
						data-vv-validate-on="blur"
						data-vv-as="IMO" 
						@focus="errors.remove('targetImo', 'formadvancesearch')" 
					/>

		            </div>

		            <div class="form-group">
		                <label for="targetCallSign" class="control-label">Call Sign</label>
		                <input 
						type="text" 
						class="form-control"
						:class="{'error-input':errors.has('formadvancesearch.targetCallSign')}"  
						id="targetCallSign"
						name="targetCallSign" 
						v-model="targetCallSign"
						placeholder="eg: 1234567"
						v-validate="`${(targetName == '' && targetMmsi == '' && targetImo == '' && targetCallSign == '') ? 'required' : ''}`"										
						data-vv-validate-on="blur"
						data-vv-as="Call Sign" 
						@focus="errors.remove('targetCallSign', 'formadvancesearch')" 
					/>
		            </div>
		        

		            <div class="form-group clearfix">
		            	<div class="pull-right">
		            		<button class="btn btn-primary pull-right">{{searhButtonText}}</button>
		            		<button type="button" class="btn btn-white" @click.prevent="clearForm(); closeForm();">Close</button>
							<button type="button" class="btn btn-white" @click.prevent="clearForm">Clear</button>
		            	</div>				
					</div>

					<!-- <p>Lorem ipsum dolor sit amet</p>	  -->

					</fieldset>

				</div> <!-- scroll content -->			
		</div> <!-- slimscroll -->				
	</div> <!-- advancedSearchForm row -->
</form>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>	

	import { Component, Watch } from 'vue-property-decorator'
	import { namespace, State, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'	

	import {EmptyRequestDataError, EmptyResponseResultError, ServerError} from '../../../helpers/errors'
	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'

	const VesselSearchModule = namespace('vesselsearch')
	const AppScreenSizeModule = namespace('app/screensize')
  

	// mixins
	import MapVesselMixin from '../mixins/MapVessel'

	import async from 'async'	

/*
 ######    ##            ###      ######     ######    
##    ##   ##           ## ##    ##    ##   ##    ##   
##         ##          ##   ##   ##         ##         
##         ##         ##     ##   ######     ######    
##         ##         #########        ##         ##   
##    ##   ##         ##     ##  ##    ##   ##    ##   
 ######    ########   ##     ##   ######     ######    
*/
	@Component({
		components:{			
			'select2': ()=> import('../../common/libs/Select2')
		}
	})
	export default class AdvancedSearchForm extends mixins(
		MapVesselMixin,
		VeeValidatorHelperMixin
	){

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/
		@VesselSearchModule.Mutation toggleAdvancedSearch
		@VesselSearchModule.Mutation setAdvancedSearchQuery
		@VesselSearchModule.Mutation setAdvancedSearchResult
		@VesselSearchModule.Mutation toggleAdvancedSearchResult
		@VesselSearchModule.Mutation clearAdvancedSearchQuery
		@VesselSearchModule.Mutation setAdvancedSearchError
		@VesselSearchModule.Mutation clearAdvancedSearchError

		@VesselSearchModule.Getter searchOptions		
		@VesselSearchModule.Getter advancedSearchQuery		
		@VesselSearchModule.Getter advancedSearchResult	
		@VesselSearchModule.Getter advancedSearchError
		@AppScreenSizeModule.Getter isSmAndLarger
		@AppScreenSizeModule.Getter isXs

		@VesselSearchModule.Action advancedSearch

		searching = false
		searhButtonText = "Search"

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/

/*
mounted
 */
		mounted(){					

			this.clearAdvancedSearchError()								

			// close result modal if open, for security
			this.closeSearchResult()
			
			Event.listen('Map.ActivateWidget', (widget)=>{if(widget !== 'AdvancedSearchForm'){this.closeForm()}})		
			Event.listen('Map.ClearWidget', ()=>{this.closeForm()})			
		}		

/*
isAdvancedSearchQueryEmpty
 */
		// Internal helper methods
		isAdvancedSearchQueryEmpty(){			

			let isEmpty = true

			for (var property in this.advancedSearchQuery) {
			    if (this.advancedSearchQuery.hasOwnProperty(property)) {
			    	if(this.advancedSearchQuery[property] !== ''){
			    		isEmpty = false;
			    		break;
			    	}
			    }
			}
			return isEmpty
		}	

		/*
		submit
		 */
		submit(){	
			this.VeeValidatorHelperMixin_validateAll('formadvancesearch')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please fill one of the field below and try again."})
					return false 
				}
				this.search()				
			})											
		}

/*
search
 */
		search(){				

			this.clearAdvancedSearchError()			

			function returnEmptyResultError(callback){
				callback( new EmptyResponseResultError('Advanced search return empty result.'))
			}

			async.waterfall([
				// check if form is empty
				(callback)=>{
					if(!this.isAdvancedSearchQueryEmpty()){callback(null, true)}
					else{callback(new EmptyRequestDataError('No advanced search query data provided.'))}					
				},
				// make a search query and filter the result if area is selected to screen
				(data, callback)=>{	

					this.searching = true
					this.searhButtonText = "Searching. Please wait..."

					this.advancedSearch().then(
						(result)=>{							
												
							if(!result.length){returnEmptyResultError(callback) }

							else if(this.advancedSearchQuery.area !== 'screen'){callback(null, result) }

							else{
								let screenResult = []
								this.MapVesselMixin_handleInBoundVessel((dot, v)=>{
									if(_.some(result, {vesselId:v.vesselId})){
										screenResult.push(_.find(result, {vesselId:v.vesselId}))
									}
								})
								callback(null, screenResult)
							}							
						
						},	// end this.advancedSearch success callback					
						(error)=>{	
							console.error(error)													
							callback(new ServerError(error.message, error.response, error.response.status))
						}
					) // end this.advancedSearch
				},				
				(result, callback)=>{
					if(!result.length){returnEmptyResultError(callback)}
					else{
						this.setAdvancedSearchResult(result)						
						callback(null, true)
					}											
				},
				(data, callback)=>{
					this.clearForm()
					this.closeForm()										
					this.$router.push({name:'map.search.advance.result'})
				}
			], (error)=>{
				this.searching = false
				this.searhButtonText = "Search"
				if(error){
					this.handleErrors(error)	
				}								
			})
			
		}

/*
handleErrors
 */
		handleErrors(error){
			
			if(error instanceof EmptyResponseResultError){
				Event.fire('Notification.ServerError', {message: error.message});		
			}
			else if(error instanceof EmptyRequestDataError){
				Event.fire('Notification.ClientError', {message: error.message});		
			}
			else{
				this.closeForm()
				Event.fire('Notification.ServerError', {message: 'Oops! Something went wrong.'});
			}
			
		}

/*
closeSearchResult
 */
		closeSearchResult(){
			this.toggleAdvancedSearchResult(false)
		}

/*
closeForm
 */
		closeForm(){
			this.toggleAdvancedSearch(false)
			Event.fire('Map.DeactivateWidget', 'AdvancedSearchForm')		
		}

/*
clearForm
 */
		clearForm(){
			this.clearAdvancedSearchError()

			// if the result wont be refreshed, clear em up 
			if(!this.advancedSearchQuery.refreshRate){
				this.clearAdvancedSearchQuery()	
			}
			
		}	

/*
getters and setters
 */
		get area(){return this.advancedSearchQuery.area}
		set area(value){this.setAdvancedSearchQuery({key:'area', value})}		

		get timeSpan(){return this.advancedSearchQuery.timeSpan}
		set timeSpan(value){this.setAdvancedSearchQuery({key:'timeSpan', value})}

		get targetName(){return this.advancedSearchQuery.targetName}
		set targetName(value){this.setAdvancedSearchQuery({key:'targetName', value})}

		get targetMmsi(){return this.advancedSearchQuery.targetMmsi}
		set targetMmsi(value){this.setAdvancedSearchQuery({key:'targetMmsi', value})}		

		get targetImo(){return this.advancedSearchQuery.targetImo}
		set targetImo(value){this.setAdvancedSearchQuery({key:'targetImo', value})}	

		get targetCallSign(){return this.advancedSearchQuery.targetCallSign}
		set targetCallSign(value){this.setAdvancedSearchQuery({key:'targetCallSign', value})}

		get refreshRate(){return this.advancedSearchQuery.refreshRate}
		set refreshRate(value){this.setAdvancedSearchQuery({key:'refreshRate', value})}
		
	}

	// Comment to trigger git changes

</script>