<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>
	
    ul.list-group{
		margin-bottom: 0;   
        -webkit-box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
        box-shadow: 0 8px 30px rgba(5, 11, 15, 0.29);
	}

	ul.list-group li{
		background-color: white;
        cursor: pointer;
	}

    ul.list-group li:hover{
        background-color: whitesmoke;
        border-left: 1px solid #047BF8;
    }

	.search-suggestion {
		z-index: 1100;
        position: absolute;
        left: 127px;
        width: 450px;
	}

    @media (max-width: 480px){
        .search-suggestion{
            left: 85px;
        }
    }


</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
    <div class="search-suggestion"  v-if="suggestions.length" data-component="VesselSearchBarSuggestion">
        <ul class="list-group">
            <li class="list-group-item" 
            v-for="suggestion in suggestions" 
            :key="suggestion.mmsi"
            @click="selectVessel(suggestion)"
            >
            {{ formatMmsi(suggestion) }} - {{ suggestion.vesselName }}            
        </li>		  
    </ul>			
</div>

</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	import Vue from 'vue'
    import { Component, Watch } from 'vue-property-decorator'    
    
   	const MapModule = namespace('map')
   	const VesselSearchModule = namespace('vesselsearch')
    const WremsSummaryModule = namespace('wrems/summary')
    const WremsModule = namespace('wrems')
   	
   	import { namespace, Getter, Action, Mutation } from 'vuex-class' 

    @Component()
    export default class VesselSearchBarSuggestion extends Vue {


    	@VesselSearchModule.Getter keyword    	
    	@VesselSearchModule.Getter suggestions    	    
    	@MapModule.Getter vesselsArr
        @WremsSummaryModule.Getter wremsSummaryEnabled
        @WremsModule.Getter('showVessels') wremsShowVessels

    	@VesselSearchModule.Mutation resetSuggestions
        @VesselSearchModule.Mutation setSuggestions

    	@VesselSearchModule.Action getSuggestions

    	@Watch('keyword')
    	async onKeywordChange(keyword, oldKeyword){
    		if(keyword && keyword !== oldKeyword){

                const keys = [
                    "mmsi",
                    "vesselName",
                    "wreckNumber"
                ]                            

    			let result  = await this.getSuggestions({vessels:this.vesselsArr, keys})                                             
                this.setSuggestions(result)

    		}
    		else{
    			this.resetSuggestions()
    		}    		
    	}

        selectVessel(selection){            
            Event.fire('Map.FocusVessel', selection)
            if( _.has(selection, 'wreckNumber') ){
                this.$router.push({name:'map.wrems.summary'})
            }
            else{
                this.$router.push({name:'mainmap'})    
            }
            
        }

        formatMmsi(vessel){
            if(_.has(vessel, 'wreckNumber')){
                return `${vessel.wreckNumber} (WREMS)`
            }

            return vessel.mmsi
        }
    	
    
    } // end class

    // Comment to trigger git changes
</script>