<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped>    
    .navbar-form-custom {
        background-color: #27304a;        
        border: 2px solid #464d5f;
        border-radius: 30px;
        height: 25px;
        width: 215px;
        margin-top: 5px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 5px;
    }

    .navbar-form-custom .form-control {        
        height: 21px;        
    }

    .form-group {
        position: relative;
    }

    .input-icon{
        position: absolute;
        left: 10px;
        top: calc(50% - 0.7em);        
    }

    input.form-control {
        font-family: "Montserrat";
        font-size: 0.8em;        
    }

    #top-search{
        padding-left: 35px;
        padding-top: 10px;
        color: white;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
        font-family: "Montserrat";
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
        font-family: "Montserrat";
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
        font-family: "Montserrat";
    }
    @media (max-width: 425px){
        .navbar-form-custom {
            width: 60%;
            margin-right: 5px;
            margin-left: 5px;
        }
    }
    @media (max-width: 320px){
        .navbar-form-custom {
            width: 54%;
            margin-right: 5px;
            margin-left: 5px;
        }
    }

</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<form role="search" class="navbar-form-custom" method="post" action="/" data-component="VesselSearchBar">
		<div class="form-group">
			<input type="text"
    			placeholder="Search by Vessel Name or MMSI" 
    			class="form-control fa" 
    			name="top-search" 
    			id="top-search"
    			v-model="term"
                @click="clickHandler"
                autocorrect="off" autocapitalize="off" autocomplete="off"
    		/>	
            <font-awesome-icon :icon="['fas', 'search']" size="lg" class="input-icon" />			
		</div>
	</form>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->

<script>
	import Vue from 'vue'
    import { Component, Watch } from 'vue-property-decorator'
    import { Debounce } from 'lodash-decorators'
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 
    
    const VesselSearchModule = namespace('vesselsearch')
   
    @Component()
    export default class VesselSearchBar extends Vue {

        @VesselSearchModule.Mutation setKeyword
        @VesselSearchModule.Mutation resetKeyword        
        
        @VesselSearchModule.Getter keyword
    	    	
        /*
        created
         */
        created(){
            Event.listen('Map.ClearWidget', ()=>{                
                this.closeWidget()
            })
            Event.listen('Map.ActivateWidget', (Widget)=>{                
                if(Widget !== 'VesselSearchBar'){this.closeWidget()}                
            })            
        }

        /*
        closeWidget
         */
        closeWidget(){
            this.resetKeyword()
            Event.fire('Map.DeactivateWidget', 'VesselSearchBar')
        }

        /*
        getters and setters
         */
        get term(){
            return this.keyword
        }  

        set term(keyword){
            this.setKeyword(keyword)
        }

        /*
        clickHandler
         */
        clickHandler(){
            Event.fire('Map.ActivateWidget', 'VesselSearchBar' )
        }

        /*
        watchers
         */
    	@Watch('term')
    	@Debounce(500)
    	onTermChanged(term, oldTerm){
    		if(term && term != oldTerm){
    			this.setKeyword(term)                
    		}
            else{
                this.resetKeyword()                
            }
    	}	

    } // end class
</script>