.widget-wrapper.override {
    background-color: transparent;
}

.vessel-footer{    
    bottom: 0;
    width: calc(100% - 55px);
    left: 65px;
}
.vessel-footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.vessel-footer ul li{
    width: auto;
    padding: 2px 5px;
    background: #ffffff;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 46px;
    text-align: center;
    color: #32343a;
    margin-bottom: 5px;
    font-size: 10.5px;
    letter-spacing: .5px;
    -webkit-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.2);
    animation: slide-up-fade-in ease 1s;
    animation-iteration-count: 1;
}

@media only screen and (max-width: 425px){
    .vessel-footer{
        left: auto;
    }
}

@keyframes slide-up-fade-in{
    0% {
        opacity:0;
        transform:  translate(0px,20px)  ;
    }
    100% {
        opacity:1 !important;
        transform:  translate(0px,0px)  ;
    }
}

@-moz-keyframes slide-up-fade-in{
    0% {
        opacity:0;
        -moz-transform:  translate(0px,20px)  ;
    }
    100% {
        opacity:1 !important;
        -moz-transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -webkit-transform:  translate(0px,20px)  ;
    }
    100% {
        opacity:1 !important;
        -webkit-transform:  translate(0px,0px)  ;
    }
}

@-o-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -o-transform:  translate(0px,20px)  ;
    }
    100% {
        opacity:1 !important;
        -o-transform:  translate(0px,0px)  ;
    }
}

@-ms-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -ms-transform:  translate(0px,20px)  ;
    }
    100% {
        opacity:1 !important;
        -ms-transform:  translate(0px,0px)  ;
    }
} 