<bottom-wrapper >
	<template slot="content">				

			<div class="vessel-footer">
				<ul>

					<li>TOTAL : <b>{{ totalVessel }}</b></li>
					<li v-for="[name, count] in vesselCountArr">{{ name }} : <b>{{ count }}</b></li>
					
				</ul>
			</div>

	</template>		
</bottom-wrapper>


	
