<bottom-wrapper :override="true">
	<template slot="content">				
		<div class="col-sm-12" data-component="VesselClassCount">
			<div class="vessel-footer">
				<ul>

					<li>TOTAL : <b>{{ totalVessel }}</b></li>
					<li v-for="[name, count] in vesselCountArr">{{ formatName(name) }} : <b>{{ count }}</b></li>
					
				</ul>
			</div>
		</div>
	</template>		
</bottom-wrapper>


	
