<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->

<style scoped>

    /* Hide the tooltip content by default */
    [data-vtooltip]:before,
    [data-vtooltip]:after {
      visibility: hidden;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      pointer-events: none;
    }

    [data-vtooltip]:before {       

        content: attr(data-vtooltip);
        width: max-content;
        background-color: rgba(29, 38, 62, 0.95);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 3px 7px;
        position: absolute;
        z-index: 1;
        top: 3px;
        left: 115%;
        display: block !important;
        font-size: 12px;
         -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        font-weight: 500;
    }

    /* Triangle hack to make tooltip look like a speech bubble */
    /*[data-vtooltip]:after {*/
        /*position: absolute;
        left: 110%;
        margin-left: -5px;
        width: 0;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        border-right: 5px solid rgba(29, 38, 62, 0.95);
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
        top: -5px;
        transition: all .3s ease-in-out; */
    /*}*/

    /* Show tooltip content on hover */
    [data-vtooltip]:hover:before,
    [data-vtooltip]:hover:after {
      visibility: visible;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
    }
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<div data-component="EncFloatPane">
        
        <!-- single button shown -->
        <div @mouseover.prevent="mouseIn" v-if="single">
            <base-enc-button @toggleEnc="clearSelectedLayer" v-if="!selectedLayer || selectedLayer == 'base'" :class="{selected:selectedLayer == 'base'}" :bottom="getBottom()" :left="61"></base-enc-button> 

            <standard-enc-button @toggleEnc="clearSelectedLayer" v-if="selectedLayer == 'standard'" :class="{selected:selectedLayer == 'standard'}" :bottom="getBottom()" :left="61"></standard-enc-button>  

            <all-enc-button @toggleEnc="clearSelectedLayer" v-if="selectedLayer == 'all'" :class="{selected:selectedLayer == 'all'}" :bottom="getBottom()" :left="61"></all-enc-button>

            <!-- <wateronly-enc-button @toggleEnc="clearSelectedLayer" v-if="selectedLayer == 'waterOnly'" :class="{selected:selectedLayer == 'waterOnly'}" :bottom="getBottom()" :left="61"></wateronly-enc-button>           -->
        </div>        

        <!-- all button shown -->
        <div @mouseleave.prevent="mouseOut" v-if="all">
            <base-enc-button @toggleEnc="clearSelectedLayer" :class="{selected:selectedLayer == 'base'}" :bottom="getBottom()" :left="61" data-vtooltip="Base"></base-enc-button>

            <standard-enc-button @toggleEnc="clearSelectedLayer" :class="{selected:selectedLayer == 'standard'}" :bottom="getBottom(1)" :left="61" data-vtooltip="Standard"></standard-enc-button>            

            <all-enc-button @toggleEnc="clearSelectedLayer" :class="{selected:selectedLayer == 'all'}" :bottom="getBottom(2)" :left="61" data-vtooltip="All"></all-enc-button>            

            <wateronly-enc-button :class="{selected:isWaterOnlySelected}" :bottom="getBottom(3)" :left="61" data-vtooltip="Water Only"></wateronly-enc-button>            
        </div>
    </div>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	import Vue from 'vue'
    import { Component, Emit } from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 

    const EncModule = namespace('enc')   
    const AppScreenSizeModule = namespace('app/screensize')    

    @Component({
        components:{
            'base-enc-button': ()=> import('./BaseEncButton'),
            'standard-enc-button': ()=> import('./StandardEncButton'),
            'all-enc-button': ()=> import('./AllEncButton'),
            'wateronly-enc-button': ()=> import('./WaterOnlyEncButton')
        }
    })
    export default class EncFloatPane extends Vue {                  
        
        @EncModule.Getter selectedLayer
        @EncModule.Getter isWaterOnlySelected
        @AppScreenSizeModule.Getter isXs

        @EncModule.Mutation clearSelectedLayer


        all = false
        single = true

        mouseIn(){            
            this.all = true
            this.single = false
        }

        mouseOut(){            
            this.single = true
            this.all = false
        }

        getBottom(index = 0){
            
            if(this.single){
                if(this.isXs){
                    return 55    
                }
                else {
                    return 30
                }
                
            }            

            else if(this.all){                
                if(this.isXs){
                    if(index == 0){return 55}
                    else if(index == 1){return 87} 
                    else if(index == 2){return 119} 
                    else if(index == 3){return 151} 
                }
                else{                    
                    if(index == 0){return 30}
                    else if(index == 1){return 62}    
                    else if(index == 2){return 94}    
                    else if(index == 3){return 126}    
                }
                
            }
            
        }

        getLeft(){

        }

    }

</script>