<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="./style.scss"></style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
	<float-wrapper 		
		:bottom="bottom" 
		:left="left"
		:override="true"
	>
		<template slot="content">
			<div @click.prevent="toggleSelectedEncType" class="cursor-pointer icon-container" data-component="StandardEncButton">
				<img :src="require('../../../../../images/enc-icon/enc-standart.svg')"></img>				
			</div>
		</template>
	</float-wrapper>
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->

<script>
	import { Component, Emit, Prop } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'	
	import Vue from 'vue'

	const EncModule = namespace('enc')	

	@Component({
		components: {
			'float-wrapper': ()=> import('../../../common/WidgetContainers/map/FloatWrapper')
		}
	})
	export default class StandardEncButton extends Vue {

		@EncModule.Getter selectedLayer

		@EncModule.Mutation setSelectedLayer

		@Prop() bottom
		@Prop() left 								

		toggleSelectedEncType(){			

			const oldSelectedLayer = _.cloneDeep(this.selectedLayer)

			this.toggleEnc()					
			
			if(!oldSelectedLayer || oldSelectedLayer !== 'standard'){
				setTimeout(()=>{
					this.setSelectedLayer('standard')	
				}, 300)				
			}
			
			
		}

		@Emit('toggleEnc')
		toggleEnc(){}


	}
</script>

