.widget-wrapper.override {	
    width: 33px;
    border: 2px solid rgba(0,0,0,0.2);
    height: 33px;
    text-align: center;
    border-radius: 3px;
    align-items: center;
    display: flex;    
    justify-content: center;
    font-weight: 600;
    margin-top: 5px;
    z-index: 400;
    /*border-color: coral;*/
}

.widget-wrapper.selected.override {        
    border: 2px solid #f7cd44;
}

.icon-container {
	padding: 2px;
}

.icon-container img {
	width: 100%;
    height: 30px;
}