<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template>
    <v-fragment v-if="selectedLayer">
        <l-wms-tile-layer
            v-for="layer in layers"
            :key="layer.name"
            :base-url="baseUrl"            
            :visible="layer.defaultVisibility"
            :name="layer.title"
            layer-type="base"
            :layers="String(layer.name)" 
            format="image/png"
            :transparent="true"
            :options={crossOrigin:true}
            
        />    
    </v-fragment>	
</template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
 <script>
    import Vue from 'vue'
    import { Component, Emit } from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 

    const EncModule = namespace('enc')

    import { LWMSTileLayer } from 'vue2-leaflet';

    import {Plugin as FragmentPlugin} from 'vue-fragments'
    Vue.use(FragmentPlugin)	

    @Component({
        components: {
            "l-wms-tile-layer": LWMSTileLayer
        }
    })    
    export default class WMSLayers extends Vue {

        @EncModule.Getter layers
        @EncModule.Getter baseUrl
        @EncModule.Getter selectedLayer

        @EncModule.Mutation clearSelectedLayer 
        @EncModule.Mutation setSelectedLayer       

        created(){
            Event.listen('Map.Base.Layer.Change', (payload)=>{                
                if(this.selectedLayer){
                    const selectedLayer = _.cloneDeep(this.selectedLayer)                                    
                    this.clearSelectedLayer()
                    setTimeout(()=>{
                        this.setSelectedLayer(selectedLayer)
                    }, 300)

                }
            })
        }


    }
</script>