<style scoped src="../../../styles/summary-list.scss"></style>
<style scoped>
	.btn-vesselGrp{
		background-color: #047bf8;
	    color: #fff;
	    /*border-radius: 35px;*/
	    border: 1px solid #115eaf;
	}

</style>

<template src="./templates/filter-summary.html"></template>

<script>

	/*
	Script start
	 */
	import { Component, Emit } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'
	import { mixins } from 'vue-class-component'

	import {ServerError} from '../../../helpers/errors'

	import FilterMixin from './mixins/Filter'
	import ErrorHandlerMixin from '../../common/mixins/ErrorHandlerMixin'
	import AuthorizationMixin from '../../common/mixins/AuthorizationMixin'	

	const MapModule = namespace('map')

	const FilterSummaryModule = namespace('filters/summary')	
	const FilterModule = namespace('filters')
	const FilterFormModule = namespace('filters/form')

	import AppModuleMixin from '../../common/mixins/AppModuleMixin'			

	/*
	Class start
	 */
	@Component({
		components: {
			'side-wrapper' : ()=> import('../../common/WidgetContainers/map/SideWrapper'),
			'delete-confirm': ()=> import('../../common/DeleteConfirmation')
		}
	})
	export default class FilterSummary extends mixins(FilterMixin, ErrorHandlerMixin, AuthorizationMixin, AppModuleMixin) {

		
		// Filter summary
		@FilterSummaryModule.Mutation toggleFilterSummary			
		@FilterSummaryModule.Mutation setSummaryError	

		@FilterSummaryModule.Getter summaryError		
				
		// Filter
		@FilterModule.Getter filters		
		
		@FilterModule.Mutation setSelectedFilter
		@FilterModule.Mutation setQuery	
		@FilterModule.Mutation toggleModeFilterStatus

		@FilterModule.Action loadFilters
		@FilterModule.Action deleteFilter							

		// Map
		@MapModule.Mutation resetSelectedVesselIds		
		
		/*
		mounted
		 */
		mounted(){

			this.AppModuleMixin_clearMajorModule('filter')

			this.loadFilters()			
		}
		

		/*
		selectFilter
		 */
		selectFilter(filter){

			if(!filter.isEnable){return false}
				
			this.resetSelectedVesselIds()			
			this.setSelectedFilter(filter)					
			this.toggleModeFilterStatus(true) // enable filter-status component in StatusBarTopPane
			this.FilterMixin_buildQuery()
			.then((query)=>{	
				console.log("%cquery:", conStyle.boldRed, query)			
				this.setQuery(query)
				setTimeout(()=>{					
					Event.fire('Map.Events.Drawing.Do', 'Filter.selected')
					this.closeWidget()	
				}, 300)				
			})			
									
		}	

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})			
		}	

		/*
		removeFilter
		 */
		removeFilter({id}){
			
			if(!this.AuthorizationMixin_isGranted('Filter.Delete')){
				Event.fire('Notification.ClientError', {message:"You don't have permission to remove filter"})
				return false
			}

			this.deleteFilter(id)
			.then((result)=>{
				this.loadFilters()
				Event.fire('Notification.Success', {message:"Successfully Remove Filter"})
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError', {message: "Error Removing Filter"}) 
				throw(error)
			})									
		}			

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleFilterSummary(false)
		}

		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){			
			Event.fire('Map.DeactivateWidget', 'Filter.Side.Summary')
		}		
	}

</script>