<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/filter-vesselGroup-create.html"></template>

<script>
	/*
	Script start
	 */
	import { Component, Provide } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'	

	const FilterVesselGroupCreateModule = namespace('filters/vesselGroup/vesselGroupCreate')	
	const FilterVesselGroupFormModule = namespace('filters/vesselGroup/form')

	/*
	Class start
	 */
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),			
			'filter-form': ()=> import('./FilterVesselGroupForm')			
		}
	})
	export default class FilterVesselGroupCreate extends mixins(VeeValidatorHelperMixin) {

		@Provide() parentValidator = this.$validator
		
		@FilterVesselGroupFormModule.Getter formData
		@FilterVesselGroupCreateModule.Mutation toggleFilterVesselGroupCreate		
		
		@FilterVesselGroupCreateModule.Action storeFilterVesselGroup		
						

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'map.filter.vesselGroup.list'})			
		}		
		
		/*
		submit
		 */
		submit(){	
		// console.log(this.formData)
					
			this.VeeValidatorHelperMixin_validateAll('formvesselgroup')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			this.storeFilterVesselGroup().then(
				(result)=>{					
					Event.fire('Notification.Success', {message: "Successfully Save New Vessel Group"})
					this.closeWidget()
				},
				(error)=>{					
					Event.fire('Notification.ServerError')	
					throw(error)
				}
			)
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){			
			this.toggleFilterVesselGroupCreate(false)
			Event.fire('Map.Events.Drawing.Do', 'Filter.VesselGroup.Create.Close')
		}

		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){				
			Event.fire('Map.DeactivateWidget', 'Filter.VesselGroup.Create')
		}
		
	}
</script>