<!-- 
 ######    ########   ##    ##   ##         ########   
##    ##      ##       ##  ##    ##         ##         
##            ##        ####     ##         ##         
 ######       ##         ##      ##         ######     
      ##      ##         ##      ##         ##         
##    ##      ##         ##      ##         ##         
 ######       ##         ##      ########   ########   
 -->
<style scoped src="../../../styles/containers/main-section.scss"></style>
<style scoped>
	.form-group{
		margin-right:10px;
		margin-bottom: 10px;
	}

	#refreshRate {
		width: 100px;
	}

	/deep/ .center-aligned{
		text-align: center
	}
	
</style>

<!-- 
########   ########   ##     ##  ########   ##            ###     ########   ########   
   ##      ##         ###   ###  ##     ##  ##           ## ##       ##      ##         
   ##      ##         #### ####  ##     ##  ##          ##   ##      ##      ##         
   ##      ######     ## ### ##  ########   ##         ##     ##     ##      ######     
   ##      ##         ##     ##  ##         ##         #########     ##      ##         
   ##      ##         ##     ##  ##         ##         ##     ##     ##      ##         
   ##      ########   ##     ##  ##         ########   ##     ##     ##      ########   
 -->
<template src="./templates/filter-vesselGroupList.html"></template>

<!-- 
 ######     ######    ########   ####  ########   ########   
##    ##   ##    ##   ##     ##   ##   ##     ##     ##      
##         ##         ##     ##   ##   ##     ##     ##      
 ######    ##         ########    ##   ########      ##      
      ##   ##         ##   ##     ##   ##            ##      
##    ##   ##    ##   ##    ##    ##   ##            ##      
 ######     ######    ##     ##  ####  ##            ##      
 -->
<script>
	import { Component, Emit } from 'vue-property-decorator'	
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import { Bind, Debounce } from 'lodash-decorators'
	import { mixins } from 'vue-class-component'
	import Vue from 'vue'	

	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	import AuthorizationMixin from '../../common/mixins/AuthorizationMixin'	
	Vue.use(ToggleButton)	

	const FilterVesselGroupListModule = namespace('filters/vesselGroup/vesselGroupList')
	const FilterVesselGroupFormModule = namespace('filters/vesselGroup/form')

	@Component({
		components: {		
			'select2': ()=> import('../../common/libs/Select2'),			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'confirm-modal' : ()=> import('../../common/libs/Confirm'),
			'local-data-table' : ()=>import('../../common/libs/vuetable/LocalTable')			
		}
	})
	export default class FilterVesselGroupList extends mixins( AuthorizationMixin) {

/*
########   ########    #######   ########    ######    
##     ##  ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ##     ##  ##     ##  ##     ##  ##         
########   ########   ##     ##  ########    ######    
##         ##   ##    ##     ##  ##               ##   
##         ##    ##   ##     ##  ##         ##    ##   
##         ##     ##   #######   ##          ######    
*/
		@FilterVesselGroupListModule.Getter field
		@FilterVesselGroupListModule.Getter vesselGroupList
		@FilterVesselGroupFormModule.Getter formData

		@FilterVesselGroupFormModule.Mutation setFormData
		@FilterVesselGroupListModule.Mutation toggleFilterVesselGroupListPane
		@FilterVesselGroupListModule.Mutation setField
		
		@FilterVesselGroupListModule.Action getVesselsGroupList
		@FilterVesselGroupFormModule.Action deleteFilterGroup

		showDeleteVesselGroupConfirmation = false
		selectedVesselGroup = ''
		refreshInterval = null		
		tTableData = []
		tableData = []		

/*
##     ##  ########   ########   ##     ##   #######   ########    ######    
###   ###  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
#### ####  ##            ##      ##     ##  ##     ##  ##     ##  ##         
## ### ##  ######        ##      #########  ##     ##  ##     ##   ######    
##     ##  ##            ##      ##     ##  ##     ##  ##     ##        ##   
##     ##  ##            ##      ##     ##  ##     ##  ##     ##  ##    ##   
##     ##  ########      ##      ##     ##   #######   ########    ######    
*/

		/*
		mounted
		 */
		mounted(){						
			this.getVesselsGroupList()
				.then((result)=>{
				console.log("%cresult:", conStyle.boldRed, result)		
					this.updateTableData()
				})
				.catch((error)=>{
					console.error(error)
				})
		}		


		editVesselGroup({data,index}){			
			this.selectedVesselGroup = data
			// console.log("%cselectedvessel:", conStyle.boldRed, this.selectedVesselGroup)
			this.$router.push({name:'map.filter.vesselGroup.edit', params: {id:this.selectedVesselGroup.id}})
		}	

		removeVesselGroup({data}){
			this.showDeleteVesselGroupConfirmation = true
			this.selectedVesselGroup = data
		}

		/*
		doRemoveLocation
		 */		
		doRemoveVesselGroup(){
			if(!this.AuthorizationMixin_isGranted('VesselGroup.Delete')){
				Event.fire('Notification.ClientError', {message:"You don't have permission to remove this vessel group"})
				return false
			}

			this.deleteFilterGroup(this.selectedVesselGroup.id)
			.then((result)=>{
				this.getVesselsGroupList()
				.then((result)=>{		
					this.updateTableData()
				})
				Event.fire('Notification.Success', {message:`Successfully Remove '${this.selectedVesselGroup.name}'`})
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError', {message: "Error Removing VesselGroup"}) 
				throw(error)

			})
			.finally(()=>{
				
				this.showDeleteVesselGroupConfirmation = false	
			})
			
		}

		/*
		cancelRemoveVesselGroup
		 */
		cancelRemoveVesselGroup(){
			this.showDeleteVesselGroupConfirmation = false
		}

		/*
 		confirmRemoveContent
   		 */
   		get confirmRemoveContent(){			
   			return `Confirm to remove vessel group: ${this.selectedVesselGroup.name}`
		}
		/*
		formatTime
		 */
		formatTime(time){
            return moment(time).format('DD/MM/YYYY HH:mm')
        }

		get tableFields(){			
			return this.field
		}

		get sortFieldByType(){
			const sortFields = [
				{
					direction: "asc",
	                field: "name",
	                sortField: "name"
				}
			]
			return sortFields
		}

		filterOnSearchData(){			
			if(this.formData.searchTerm){				
				this.tTableData = this.tTableData.filter((td)=>{					
					const values = Object.values(td)
					const re = new RegExp(this.formData.searchTerm, 'i');												
					let found = false

					for(const v of values){
						if(String(v).match(re)){
							found = true
							break;
						}
					}

					return found
				})	
			}			
			
			return this
		}

		getTableData(){
			return this.tTableData
		}

		updateTableData(){	
			this.tTableData = _.cloneDeep(this.vesselGroupList)	

			_.each(this.tTableData, (r)=>{
				// r.dateCreated = this.formatTime(r.dateCreated)
			})	
			this.tableData = this.filterOnSearchData().getTableData()
		}

		/*
		search
		 */
		search(searchTerm){
			this.setFormData({key:'searchTerm', value:searchTerm})
			this.updateTableData()			
		}

		/*
		updateField
		 */
		@Bind()
		@Debounce(300)
		updateField(field){
			this.setField(field)	
		}
		/*
		closeWidget
		 */
		closeWidget(widget){
			this.toggleFilterVesselGroupListPane(false)
			this.$router.push({name:'mainmap'})
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.toggleFilterVesselGroupListPane(false)
		}

		/**
         * Component destroyed lifecycle hooks
         * @return void
         */
        destroyed(){                    	
            Event.fire('Map.DeactivateWidget', 'Filter.VesselGroup.List')
        }
	}
</script>