<template src="./templates/filter-vesselGroup-form.html"></template>
<style scoped>
	.table {
	min-width: 800px;
}

.add-details {
	display: flex;
  	align-items: center;  	
}

.lg .add-details {
    padding-left: 40px;
}

.filter-item {
	border: 2px solid #dde2ec;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    transition: all .3s ease-in
}

.filter-item:hover{
	border: 2px solid #a0a7b5;
	transition: all .3s ease-in
}

.btn-group.add-spec {
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
  	align-items: center;
}
.color {
	width: 100%;
	height: 40px;
	background: #fff;
	border-radius: 4px;
}

.remove-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.border-bottom{
	border-bottom:1px solid #e6e6e6;
}

.mg-btm-1{
	margin-bottom: 19px;
}

@media screen and (max-width: 480px){
	.filter-td-res{
		width: 200px !important;
	}

	.filter-td-res-operator{
		width: 150px !important;
	}

	.filter-td-res-field{
		width: 160px !important;
	}
	.pb-res{
		margin-bottom: 20px;
	}

	.pb-res-t{
		margin-bottom: 10px;
	}

	.control-label{
		width: 100%;
	}
}
</style>
<script>
	/*
	Script start
	 */
	import { Component, Emit, Inject } from 'vue-property-decorator'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	import {Plugin as FragmentPlugin} from 'vue-fragments'
	Vue.use(FragmentPlugin)	

	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)		

	const FilterVesselGroupFormModule = namespace('filters/vesselGroup/form')

	/*
	Class start
	 */
	@Component({
		components:{
			'select2': ()=> import('../../common/libs/Select2')
		}
	})
	export default class FilterVesselGroupForm extends Vue {

		@Inject('parentValidator') $validator  

		@FilterVesselGroupFormModule.Getter formData
		@FilterVesselGroupFormModule.Getter andOrOptions
		@FilterVesselGroupFormModule.Getter fieldOptions		
		@FilterVesselGroupFormModule.Getter operatorOptions
		@FilterVesselGroupFormModule.Getter vesselGroupDetails
		

		@FilterVesselGroupFormModule.Mutation setFormData	
		@FilterVesselGroupFormModule.Mutation setVesselGroupItem
		@FilterVesselGroupFormModule.Mutation addVesselGroupItem
		@FilterVesselGroupFormModule.Mutation removeVesselGroupItem

		@FilterVesselGroupFormModule.Mutation clearData


		mounted(){
		}

		/*
		getters and setters
		 */
		get name(){ return this.formData.name }
		get isEnable(){ return this.formData.isEnable }

		set name(value){ this.setFormData({key:'name', value}) } 
		set isEnable(value){ this.setFormData({key:'isEnable', value}) } 

		setVesselGroup(type, {value}, rid){		
			console.log("%c value: ", conStyle.boldRed, value)		
			console.log("%c type: ", conStyle.boldRed, type)
			this.setVesselGroupItem({type, value, rid})
		}

		valuePlaceholder(columnName, operation){			
			if(columnName == 'mmsi' && (operation == 'startWith' || operation == '=' || operation == '!=') ){ return 'eg: 123456789' }
			if(columnName == 'mmsi' && (operation == 'in' || operation == 'notIn') ){ return 'eg: 123456789,987456321' }
			if(columnName == 'shipName' && (operation == 'startWith' || operation == '=' || operation == '!=') ){ return 'eg: TG. RHU' }
			if(columnName == 'shipName' && (operation == 'in' || operation == 'notIn') ){ return 'eg: TG. RHU, TG. TEMBELING' }
			if(columnName == 'callSign' && (operation == 'startWith' || operation == '=' || operation == '!=') ){ return 'eg: 2ABC3' }
			if(columnName == 'callSign' && (operation == 'in' || operation == 'notIn') ){ return 'eg: 2ABC3, 3ABC4' }
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){
			this.clearData()
		}	
	}

</script>