<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/filter-vesselGroup-edit.html"></template>

<script>
	/*
	Script start
	 */
	import { Component, Prop, Provide } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'	

	const FilterVesselGroupEditModule = namespace('filters/vesselGroup/edit')
	const FilterVesselGroupFormModule = namespace('filters/vesselGroup/form')

	import vSelect from 'vue-select/src/components/Select.vue'

	import utilHelper from '../../../helpers/util'

	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)		

	/*
	Class start
	 */
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'filter-form': ()=> import('./FilterVesselGroupForm')			
		}
	})
	export default class FilterVesselGroupEdit extends mixins(VeeValidatorHelperMixin) {	

		@Provide() parentValidator = this.$validator

		@Prop() id	

		// Filter Vessel Group Edit Module
		@FilterVesselGroupEditModule.Mutation toggleFilterVesselGroupEdit				

		@FilterVesselGroupEditModule.Action loadFilterVesselGroup
		@FilterVesselGroupEditModule.Action updateFilterVesselGroup

		// Filter Vessel Group Form Module
		@FilterVesselGroupFormModule.Getter filterGroup
		@FilterVesselGroupFormModule.Getter formData
		@FilterVesselGroupFormModule.Getter vesselGroupItems

		@FilterVesselGroupFormModule.Mutation replaceFormData
		@FilterVesselGroupFormModule.Action loadFormData
		
		dataReady = false	

		/*
		mounted
		 */
		mounted(){			
			this.loadFormData(this.id)
			.then((result)=>{
				console.log("%cfilterGroup:", conStyle.boldRed, this.filterGroup)

				// set the selected filter into form			
				const formData = {
					name: this.filterGroup.name,
					vesselGroupDetails: this.filterGroup.vesselGroupDetails
				}
				console.log("%cformDataedit:", conStyle.boldRed, formData)
				formData.vesselGroupDetails.forEach((item)=>{
					item.rid = utilHelper.genRandom(32)
					
				})			

				this.replaceFormData(formData)			

				this.dataReady = true
			})
		}

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})		
		}
			

		/*
		submit
		 */		
		submit(){
			console.log(this.formData)
			// Event.fire('Notification.Success', {message: 'Successfully Update Vessel Group'});
			// this.closeWidget()
			this.VeeValidatorHelperMixin_validateAll('formvesselgroup')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			this.updateFilterVesselGroup(this.id)
			.then(()=>{
				Event.fire('Notification.Success', {message: 'Successfully Update Vessel Group'});
				this.closeWidget()
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError', {message: "Error Updating Vessel Group"}) 
				throw(error)
			})
		}	

		/*
		beforeDestroy
		 */
		beforeDestroy(){			
			this.toggleFilterVesselGroupEdit(false)
			Event.fire('Map.Events.Drawing.Do', 'Filter.VesselGroup.Edit.Close')
		}

		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){			
			Event.fire('Map.DeactivateWidget', 'Filter.VesselGroup.Edit')
		}
		
	}
</script>