<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/filter-edit.html"></template>

<script>
	/*
	Script start
	 */
	import { Component, Prop, Provide } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'	

	const FilterEditModule = namespace('filters/edit')
	const FilterModule = namespace('filters')	
	const FilterFormModule = namespace('filters/form')

	import vSelect from 'vue-select/src/components/Select.vue'

	import utilHelper from '../../../helpers/util'

	// toggle switch button component
	import ToggleButton from 'vue-js-toggle-button'
	Vue.use(ToggleButton)		

	/*
	Class start
	 */
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),
			'filter-form': ()=> import('./forms/FilterForm')			
		}
	})
	export default class FilterEdit extends mixins(VeeValidatorHelperMixin) {	

		@Provide() parentValidator = this.$validator

		@Prop() id	

		// Filter Module
		@FilterModule.Getter filters
		@FilterModule.Getter selectedFilter		

		@FilterModule.Mutation setSelectedFilter

		@FilterModule.Action loadFilters

		// Filter Edit Module
		@FilterEditModule.Mutation toggleFilterEdit				

		@FilterEditModule.Action loadFilter
		@FilterEditModule.Action updateFilter

		// Filter Form Module
		@FilterFormModule.Getter formData

		@FilterFormModule.Mutation replaceFormData
		
		dataReady = false	

		created(){
			this.setSelectedFilter( _.find(this.filters, {id:this.id}) )
		}

		/*
		mounted
		 */
		mounted(){			
			// set the selected filter into form			
			const formData = {
				name: this.selectedFilter.name,
				isEnable: this.selectedFilter.isEnable,
				isShowShips: this.selectedFilter.isShowShips,
				filterItems: this.selectedFilter.filterItems
			}

			formData.filterItems.forEach((item)=>{
				item.rid = utilHelper.genRandom(32)
				item.filterDetails.forEach((detail)=>{
					detail.rid = utilHelper.genRandom(32)
				})
			})			

			this.replaceFormData(formData)			

			this.dataReady = true
		}	
									

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})		
		}
			

		/*
		submit
		 */		
		submit(){					
			this.VeeValidatorHelperMixin_validateAll('formfilter')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			this.updateFilter()
			.then(()=>{
				Event.fire('Notification.Success', {message: 'Successfully update filter'});
				this.closeWidget()
				this.loadFilters()				
			})
			.catch((error)=>{				
				Event.fire('Notification.ServerError', {message: "Error Updating Filter"}) 
				throw(error)
			})
		}	

		/*
		beforeDestroy
		 */
		beforeDestroy(){			
			this.toggleFilterEdit(false)
			Event.fire('Map.Events.Drawing.Do', 'Map.Filter.Edit.Close')
		}

		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){			
			Event.fire('Map.DeactivateWidget', 'Filter.Main.Edit')
		}
		
	}
</script>