<style scoped src="../../../styles/containers/main-section.scss"></style>
<template src="./templates/filter-create.html"></template>

<script>
	/*
	Script start
	 */
	import { Component, Provide } from 'vue-property-decorator'
	import { mixins } from 'vue-class-component'
	import { namespace, Getter, Action, Mutation } from 'vuex-class'
	import Vue from 'vue'

	import VeeValidatorHelperMixin from '../../common/mixins/Validation/VeeValidatorHelperMixin'	

	const FilterCreateModule = namespace('filters/create')	
	const FilterFormModule = namespace('filters/form')

	/*
	Class start
	 */
	@Component({
		components: {			
			'main-wrapper' : ()=> import('../../common/WidgetContainers/map/MainWrapper'),			
			'filter-form': ()=> import('./forms/FilterForm')			
		}
	})
	export default class FilterCreate extends mixins(VeeValidatorHelperMixin) {

		@Provide() parentValidator = this.$validator
		@FilterFormModule.Getter formData
		@FilterCreateModule.Mutation toggleFilterCreate		
		
		@FilterCreateModule.Action storeFilter		
						

		/*
		closeWidget
		 */
		closeWidget(widget){
			this.$router.push({name:'mainmap'})			
		}		
		
		
		/*
		submit
		 */
		submit(){	
		console.log(this.formData)				
			this.VeeValidatorHelperMixin_validateAll('formfilter')
			.then(()=>{				
				if(this.errors.any()){ 				
					Event.fire('Notification.ClientError', {message: "Invalid form. Please update and try again."})
					return false 
				}
				this.doSubmit()				
			})											
		}

		doSubmit(){
			this.storeFilter().then(
				(result)=>{					
					Event.fire('Notification.Success', {message: "Successfully store new filter"})
					this.closeWidget()
				},
				(error)=>{					
					Event.fire('Notification.ServerError')	
					throw(error)
				}
			)
		}

		/*
		beforeDestroy
		 */
		beforeDestroy(){			
			this.toggleFilterCreate(false)
			Event.fire('Map.Events.Drawing.Do', 'Map.Filter.Create.Close')
		}

		/**
		 * Component destroyed lifecycle hooks
		 * @return void
		 */
		destroyed(){				
			Event.fire('Map.DeactivateWidget', 'Filter.Main.Create')
		}
		
	}
</script>