<template>	    
    <router-view name="mainPaneContent"></router-view>
</template>

<script>
	import Vue from 'vue'
    import { Component} from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class'     

    @Component
    export default class FilterMainPane extends Vue {    	
    	
    }
</script>