<template>	    
    <router-view name="sidePaneContent" @redraw="redraw"></router-view>
</template>

<script>
	import Vue from 'vue'
    import { Component, Emit } from 'vue-property-decorator'    
    import { namespace, Getter, Mutation, Action } from 'vuex-class' 
    
    const FilterSummaryModule = namespace('filters/summary')

    @Component({
    	components: {
    		'filter-summary': ()=> import('./FilterSummary')
    	}
    })
    export default class FilterSidePane extends Vue {    	
        
        @FilterSummaryModule.Getter('enabled') filterSummaryEnabled
       
    }
</script>